@import "gotham";

#stop4896-4-4 {
	stop-color: #b4d1e5;
	stop-opacity: 1;
}

#stop4898-0-0 {
	stop-color: #5395be;
	stop-opacity: 1;
}

#stop4900-9-9 {
	stop-color: #91bcd7;
	stop-opacity: 1;
}

#stop4896-4-4-8 {
	stop-color: #b4d1e5;
	stop-opacity: 1;
}

#stop4898-0-0-2 {
	stop-color: #5395be;
	stop-opacity: 1;
}

#stop4900-9-9-4 {
	stop-color: #91bcd7;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#path4035-4-5-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/eview16//breakpoint_view.svg#linearGradient4076);
	fill-opacity: 1;
	stroke: #264e72;
	stroke-width: 0.93798536;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path4035-4-5-4-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/eview16//breakpoint_view.svg#linearGradient4113);
	fill-opacity: 1;
	stroke: #264e72;
	stroke-width: 0.93798536;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

