@import "gotham";

#stop4723-2 {
	stop-color: #2b5790;
	stop-opacity: 1;
}

#stop4725-1 {
	stop-color: #296fc4;
	stop-opacity: 1;
}

#stop4796-8 {
	stop-color: #486eb1;
	stop-opacity: 1;
}

#stop4802-2 {
	stop-color: #a9bddf;
	stop-opacity: 1;
}

#stop4798-4 {
	stop-color: #355ea6;
	stop-opacity: 1;
}

#stop4697-8 {
	stop-color: #7e9bcb;
	stop-opacity: 1;
}

#stop4719-3 {
	stop-color: #aac2e7;
	stop-opacity: 1;
}

#stop4713-8 {
	stop-color: #e3eefa;
	stop-opacity: 1;
}

#stop4711-6 {
	stop-color: #bed2ee;
	stop-opacity: 1;
}

#stop4715-9 {
	stop-color: #aac2e7;
	stop-opacity: 1;
}

#stop4717-8 {
	stop-color: #7f9dcb;
	stop-opacity: 1;
}

#stop4699-6 {
	stop-color: #5e82c4;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g11029 {
	stroke: #694337;
	stroke-opacity: 1;
	display: inline;
}

#path3868-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/eview16//memory_view.svg#linearGradient4967);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g4913 {
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/eview16//memory_view.svg#filter4924-5);
}

#path3868-6 {
	fill: #7b99ca;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path3868-6-2 {
	fill: #deeaf8;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path3868-6-4 {
	fill: #a8c0e5;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path3868-6-4-5 {
	fill: #84a1ce;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path3868-6-4-5-8 {
	fill: #a8c0e5;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path3868 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/eview16//memory_view.svg#linearGradient4800-4);
	stroke-opacity: 1;
	display: inline;
}

#path3868-1-4 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/eview16//memory_view.svg#linearGradient4755-8);
	stroke-width: 1;
	stroke-opacity: 1;
	display: inline;
}

