@import "gotham";

#stop4941 {
	stop-color: #d5f3ff;
	stop-opacity: 1;
}

#stop4943 {
	stop-color: #fcffff;
	stop-opacity: 1;
}

#stop4941-8 {
	stop-color: #d5f3ff;
	stop-opacity: 1;
}

#stop4943-2 {
	stop-color: #fcffff;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g8159 {
	display: inline;
}

#text4105-1 {
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr;
	text-anchor: start;
	fill: #000000;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Gautami;
	inkscape-font-specification: Gautami;
}

#text4105-1-1 {
	font-size: 6.27374839999999970px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #17325d;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Gautami;
	inkscape-font-specification: Gautami;
}

#path4981 {
	fill: none;
	stroke: #324e6e;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4985 {
	fill: none;
	stroke: #324e6e;
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-opacity: 1;
}

#path4985-5 {
	fill: none;
	stroke: #324e6e;
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-opacity: 1;
	display: inline;
}

#path4150 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/eview16//watchlist_view.svg#linearGradient4945);
	fill-opacity: 1;
	stroke: #324e6e;
	stroke-width: 1.11897111;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path4150-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/eview16//watchlist_view.svg#linearGradient4983);
	fill-opacity: 1;
	stroke: #324e6e;
	stroke-width: 1.11897111;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

