@import "gotham";

#stop4751 {
	stop-color: #ffffee;
	stop-opacity: 1;
}

#stop4753 {
	stop-color: #fbdd83;
	stop-opacity: 1;
}

#stop4743 {
	stop-color: #bd8416;
	stop-opacity: 1;
}

#stop4745 {
	stop-color: #a66b10;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect3968 {
	fill: url(../../../../eclipse-svg/org.eclipse.e4.tools.bundle.spy/icons//state_stopping.svg#linearGradient4755);
	fill-opacity: 1;
	stroke: url(../../../../eclipse-svg/org.eclipse.e4.tools.bundle.spy/icons//state_stopping.svg#linearGradient4747);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

