/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop5093 {
  stop-color: #c6852e;
  stop-opacity: 1; }

#stop5095 {
  stop-color: #e1a555;
  stop-opacity: 1; }

#stop5083 {
  stop-color: #ffe69e;
  stop-opacity: 1; }

#stop5089 {
  stop-color: #ffc85a;
  stop-opacity: 1; }

#stop5085 {
  stop-color: #fffcd3;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#g8472 {
  display: inline; }

#g4193 {
  opacity: 1; }

#path4292 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ltk.ui.refactoring/icons/full/obj16//warning_obj.svg#radialGradient4963);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ltk.ui.refactoring/icons/full/obj16//warning_obj.svg#linearGradient4200);
  stroke-width: 0.75522922999999986;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#path4253 {
  fill: #7b5113;
  fill-opacity: 1;
  stroke: none; }

#path4253-7 {
  fill: #7b5113;
  fill-opacity: 1;
  stroke: none;
  display: inline; }
