@import "stock";

#stop5070 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop5072 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4865 {
	stop-color: #ba9726;
	stop-opacity: 1;
}

#stop4867 {
	stop-color: #997413;
	stop-opacity: 1;
}

#stop4825 {
	stop-color: #fefdef;
	stop-opacity: 1;
}

#stop4827 {
	stop-color: #fbdd83;
	stop-opacity: 1;
}

#stop4817 {
	stop-color: #c7b571;
	stop-opacity: 1;
}

#stop4819 {
	stop-color: #989891;
	stop-opacity: 1;
}

#stop4755 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop4757 {
	stop-color: #dce7f7;
	stop-opacity: 1;
}

#stop4530-0 {
	stop-color: #e0c576;
	stop-opacity: 1;
}

#stop4532-7 {
	stop-color: #9e7916;
	stop-opacity: 1;
}

#stop6283-0-2-2-1 {
	stop-color: #f7f9fb;
	stop-opacity: 1;
}

#stop6285-5-0-9-7 {
	stop-color: #ffd680;
	stop-opacity: 1;
}

#stop4530-0-5 {
	stop-color: #e0c576;
	stop-opacity: 1;
}

#stop4532-7-9 {
	stop-color: #9e7916;
	stop-opacity: 1;
}

#stop6283-0-2-2-1-2 {
	stop-color: #f7f9fb;
	stop-opacity: 1;
}

#stop6285-5-0-9-7-6 {
	stop-color: #ffd680;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect3983-9 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newfile_wiz.svg#linearGradient4821);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect3983 {
	opacity: 1;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newfile_wiz.svg#linearGradient4759);
	fill-opacity: 1;
	stroke: none;
}

#path5581-1-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newfile_wiz.svg#linearGradient3050);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-8 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newfile_wiz.svg#linearGradient3056);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newfile_wiz.svg#linearGradient3058);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-6 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newfile_wiz.svg#linearGradient3060);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newfile_wiz.svg#linearGradient3062);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-89 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newfile_wiz.svg#linearGradient3064);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newfile_wiz.svg#linearGradient3066);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-79 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newfile_wiz.svg#linearGradient3068);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g4514 {
	display: inline;
}

#rect3910 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newfile_wiz.svg#radialGradient3091-1);
	fill-opacity: 1;
	stroke: #a27d18;
	stroke-width: 1.03243756;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5581-5-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newfile_wiz.svg#linearGradient3093-5);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

