@import "stock";

#stop4192 {
	stop-color: #346692;
	stop-opacity: 1;
}

#stop4194 {
	stop-color: #4395c1;
	stop-opacity: 1;
}

#rect4160 {
	opacity: 1;
	fill: #89bedb;
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//all_sc_obj.svg#linearGradient4196);
	stroke-width: 1;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4160-0 {
	opacity: 1;
	fill: #89bedb;
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//all_sc_obj.svg#linearGradient4196-4);
	stroke-width: 1;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4160-5 {
	opacity: 1;
	fill: #89bedb;
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//all_sc_obj.svg#linearGradient4196-1);
	stroke-width: 1;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

