@import "stock";

#stop4517 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4519 {
	stop-color: #8ebc7b;
	stop-opacity: 1;
}

#stop4492 {
	stop-color: #2d493b;
	stop-opacity: 1;
}

#stop4494 {
	stop-color: #31564a;
	stop-opacity: 1;
}

#stop4486 {
	stop-color: #2d493b;
	stop-opacity: 1;
}

#stop4488 {
	stop-color: #31564a;
	stop-opacity: 1;
}

#stop4480 {
	stop-color: #2d493b;
	stop-opacity: 1;
}

#stop4482 {
	stop-color: #31564a;
	stop-opacity: 1;
}

#stop4474 {
	stop-color: #2d493b;
	stop-opacity: 1;
}

#stop4476 {
	stop-color: #31564a;
	stop-opacity: 1;
}

#stop4260 {
	stop-color: #387a31;
	stop-opacity: 1;
}

#stop4262 {
	stop-color: #397b3b;
	stop-opacity: 0;
}

#stop4254 {
	stop-color: #0d5269;
	stop-opacity: 1;
}

#stop4256 {
	stop-color: #2d707c;
	stop-opacity: 1;
}

#stop4248 {
	stop-color: #2d493b;
	stop-opacity: 1;
}

#stop4250 {
	stop-color: #2d707c;
	stop-opacity: 1;
}

#stop12719-6-3-0-0 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop12721-9-4-5-0 {
	stop-color: #8ebc7b;
	stop-opacity: 1;
}

#stop12864-3-6-2-8 {
	stop-color: #2d493b;
	stop-opacity: 1;
}

#stop12866-4-9-5-0 {
	stop-color: #296c79;
	stop-opacity: 1;
}

#stop12864-3-6-2-9 {
	stop-color: #2d493b;
	stop-opacity: 1;
}

#stop12866-4-9-5-1 {
	stop-color: #296c79;
	stop-opacity: 1;
}

#stop12864-3-6-2-86 {
	stop-color: #2d493b;
	stop-opacity: 1;
}

#stop12866-4-9-5-8 {
	stop-color: #296c79;
	stop-opacity: 1;
}

#stop12864-3-6-2-1 {
	stop-color: #2d493b;
	stop-opacity: 1;
}

#stop12866-4-9-5-12 {
	stop-color: #296c79;
	stop-opacity: 1;
}

#stop12864-3-6-2-86-2 {
	stop-color: #203932;
	stop-opacity: 1;
}

#stop12866-4-9-5-8-9 {
	stop-color: #31564a;
	stop-opacity: 1;
}

#stop12864-3-6-2-4 {
	stop-color: #2d493b;
	stop-opacity: 1;
}

#stop12866-4-9-5-16 {
	stop-color: #296c79;
	stop-opacity: 1;
}

#stop12864-3-6-2-9-6 {
	stop-color: #2d493b;
	stop-opacity: 1;
}

#stop12866-4-9-5-1-4 {
	stop-color: #31564a;
	stop-opacity: 1;
}

#stop12864-3-6-2-8-0 {
	stop-color: #2d493b;
	stop-opacity: 1;
}

#stop12866-4-9-5-0-6 {
	stop-color: #31564a;
	stop-opacity: 1;
}

#stop12864-3-6-2-1-6 {
	stop-color: #2d493b;
	stop-opacity: 1;
}

#stop12866-4-9-5-12-9 {
	stop-color: #31564a;
	stop-opacity: 1;
}

#stop12864-3-6-2-4-2 {
	stop-color: #2d493b;
	stop-opacity: 1;
}

#stop12866-4-9-5-16-6 {
	stop-color: #296c79;
	stop-opacity: 1;
}

#stop4260-4 {
	stop-color: #387a31;
	stop-opacity: 1;
}

#stop4262-6 {
	stop-color: #397b3b;
	stop-opacity: 0;
}

#stop4254-1 {
	stop-color: #1d6279;
	stop-opacity: 1;
}

#stop4256-4 {
	stop-color: #2d707c;
	stop-opacity: 1;
}

#stop4230-4 {
	stop-color: #203932;
	stop-opacity: 1;
}

#stop4232-0 {
	stop-color: #314e4a;
	stop-opacity: 1;
}

#stop4224-9 {
	stop-color: #203c37;
	stop-opacity: 1;
}

#stop4226-6 {
	stop-color: #31564a;
	stop-opacity: 1;
}

#stop4218-3 {
	stop-color: #233e32;
	stop-opacity: 1;
}

#stop4220-8 {
	stop-color: #31564a;
	stop-opacity: 0.8650133;
}

#stop4212-8 {
	stop-color: #284539;
	stop-opacity: 1;
}

#stop4214-5 {
	stop-color: #385653;
	stop-opacity: 1;
}

#stop4206-3 {
	stop-color: #28483d;
	stop-opacity: 1;
}

#stop4208-8 {
	stop-color: #31564a;
	stop-opacity: 1;
}

#stop4200-3 {
	stop-color: #2d483d;
	stop-opacity: 1;
}

#stop4202-0 {
	stop-color: #38564e;
	stop-opacity: 1;
}

#stop4242-0 {
	stop-color: #284539;
	stop-opacity: 1;
}

#stop4244-3 {
	stop-color: #385653;
	stop-opacity: 1;
}

#stop4236-7 {
	stop-color: #203932;
	stop-opacity: 1;
}

#stop4238-1 {
	stop-color: #31564a;
	stop-opacity: 1;
}

#layer3 {
	display: inline;
}

#path12694-8 {
	fill: none;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//debug_exc.svg#linearGradient3993);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path12696-5 {
	fill: none;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//debug_exc.svg#linearGradient12878-2-7-1-2);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path12698-4 {
	fill: none;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//debug_exc.svg#linearGradient12876-4-0-6-7);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path12700-8 {
	fill: none;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//debug_exc.svg#linearGradient12868-4-7-0-8);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path12698-4-3 {
	fill: none;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//debug_exc.svg#linearGradient3813-8);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path12696-5-5 {
	fill: none;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//debug_exc.svg#linearGradient3847-1);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path12694-8-2 {
	fill: none;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//debug_exc.svg#linearGradient3881-0);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path12700-8-0 {
	fill: none;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//debug_exc.svg#linearGradient3915-6);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#layer1 {
	display: inline;
}

#path12648-2-2 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//debug_exc.svg#radialGradient4194);
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//debug_exc.svg#linearGradient4196);
	stroke-width: 7.19544077;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path12648-9 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//debug_exc.svg#radialGradient4192);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path12686-5 {
	fill: none;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//debug_exc.svg#linearGradient4086);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path12648-1-6 {
	fill: none;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//debug_exc.svg#linearGradient4190);
	stroke-width: 3.76581596999999979;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path12648-1-6-2 {
	fill: #2e6a22;
	fill-opacity: 1;
	stroke: #2e6a22;
	stroke-width: 3.76581597;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

