@import "stock";

#stop4189 {
	stop-color: #2269a4;
	stop-opacity: 1;
}

#stop4191 {
	stop-color: #6a9ac2;
	stop-opacity: 1;
}

#stop4885 {
	stop-color: #ebf9ff;
	stop-opacity: 1;
}

#stop4887 {
	stop-color: #fcffff;
	stop-opacity: 1;
}

#stop4912-8 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914-8 {
	stop-color: #c3e9ff;
	stop-opacity: 1;
}

#stop4996-5 {
	stop-color: #c3e9ff;
	stop-opacity: 1;
}

#stop4998-5 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop10450-3-5-6-7 {
	stop-color: #cf9307;
	stop-opacity: 1;
}

#stop10456-4-1-5-3 {
	stop-color: #f7d87b;
	stop-opacity: 1;
}

#stop10452-22-7-8-4 {
	stop-color: #ebb313;
	stop-opacity: 1;
}

#stop10750-5 {
	stop-color: #ecac18;
	stop-opacity: 1;
}

#stop10752-8 {
	stop-color: #f1ce66;
	stop-opacity: 1;
}

#stop10754-8 {
	stop-color: #f6e5a6;
	stop-opacity: 1;
}

#stop10756-4 {
	stop-color: #f1cf6c;
	stop-opacity: 1;
}

#stop10758-7 {
	stop-color: #e5b630;
	stop-opacity: 1;
}

#stop10450-0 {
	stop-color: #ecac18;
	stop-opacity: 1;
}

#stop10458-2 {
	stop-color: #ffe38d;
	stop-opacity: 1;
}

#stop10456-96 {
	stop-color: #fdf5d2;
	stop-opacity: 1;
}

#stop10460-3 {
	stop-color: #ffeba7;
	stop-opacity: 1;
}

#stop10452-1 {
	stop-color: #e5b630;
	stop-opacity: 1;
}

#stop28458 {
	stop-color: #17325d;
	stop-opacity: 1;
}

#stop28460 {
	stop-color: #9daeca;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect3997-9-1 {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: Sans;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//elref_sc_obj.svg#linearGradient4193);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	enable-background: accumulate;
}

#rect3997-9-1-1 {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: Sans;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//elref_sc_obj.svg#linearGradient4889);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	enable-background: accumulate;
}

#rect4853-82-7 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//elref_sc_obj.svg#linearGradient5062);
	fill-opacity: 1;
	stroke: none;
}

#rect4853-82-0 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//elref_sc_obj.svg#linearGradient4975-2);
	fill-opacity: 1;
	stroke: none;
}

#text4162 {
	font-style: normal;
	font-weight: normal;
	font-size: 11.40601158px;
	line-height: 125%;
	font-family: sans-serif;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #113d95;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4167 {
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-stretch: normal;
	font-family: 'Droid Serif';
	fill: #113d95;
	fill-opacity: 1;
}

#rect28446 {
	color: #000000;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//elref_sc_obj.svg#linearGradient28462);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
	marker: none;
	enable-background: accumulate;
}

#path3986 {
	display: inline;
	fill: #17325d;
	fill-opacity: 1;
	stroke: none;
}

