@import "stock";

#stop10800-5-2-1-8-2-8-1-7-3-7 {
	stop-color: #e17673;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-2-95-0-5-4-8 {
	stop-color: #d04046;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-2-0-9-8-4-3 {
	stop-color: #e17673;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g8159 {
	display: inline;
}

#path10796-2-6-0 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//error_st_obj.svg#linearGradient8163-2);
	fill-opacity: 1;
	stroke: #c93e35;
	stroke-width: 1.00860667;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#path5021 {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: Sans;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1px;
	marker: none;
	enable-background: accumulate;
}

#path10796-2-6-0-9 {
	display: inline;
	fill: none;
	fill-opacity: 1;
	stroke: #c93e35;
	stroke-width: 1.00860667;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

