@import "stock";

#stop5105-5-4 {
	stop-color: #c1ebca;
	stop-opacity: 1;
}

#stop7550-07-0 {
	stop-color: #b3dac7;
	stop-opacity: 1;
}

#stop7548-6-9 {
	stop-color: #9ec2c3;
	stop-opacity: 1;
}

#stop5107-7-48 {
	stop-color: #7a99bb;
	stop-opacity: 1;
}

#stop3957-4 {
	stop-color: #c38536;
	stop-opacity: 1;
}

#stop3959-2 {
	stop-color: #f2dc91;
	stop-opacity: 1;
}

#stop3961-1 {
	stop-color: #fbdc8b;
	stop-opacity: 1;
}

#stop3963-4 {
	stop-color: #e6bd7a;
	stop-opacity: 1;
}

#stop3965-5 {
	stop-color: #ba772f;
	stop-opacity: 1;
}

#g5161 {
	font-size: 11.05178356px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 0.24860173;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	font-family: AustralianFlyingCorpsStencil;
	inkscape-font-specification: AustralianFlyingCorpsStencil;
}

#rect5163 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path5165 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path5167 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#g5155 {
	display: inline;
}

#path5157 {
	display: inline;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#stop11150-4-72-2-0 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-9-0-2-9 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#g5155-0 {
	display: inline;
}

#path5157-4 {
	display: inline;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#stop4286 {
	stop-color: #6588c1;
	stop-opacity: 0;
}

#stop4288 {
	stop-color: #becce3;
	stop-opacity: 1;
}

#stop4290 {
	stop-color: #809dcb;
	stop-opacity: 0;
}

#stop10450-3-5-6-7 {
	stop-color: #cf9307;
	stop-opacity: 1;
}

#stop10456-4-1-5-3 {
	stop-color: #f7d87b;
	stop-opacity: 1;
}

#stop10452-22-7-8-4 {
	stop-color: #ebb313;
	stop-opacity: 1;
}

#stop10442-43-2-0-9 {
	stop-color: #ae7603;
	stop-opacity: 1;
}

#stop10521-1-2-5-3 {
	stop-color: #e8d8a3;
	stop-opacity: 1;
}

#stop10444-3-4-0-4 {
	stop-color: #bb9221;
	stop-opacity: 1;
}

#stop10750-5 {
	stop-color: #ecac18;
	stop-opacity: 1;
}

#stop10752-8 {
	stop-color: #f1ce66;
	stop-opacity: 1;
}

#stop10754-8 {
	stop-color: #f6e5a6;
	stop-opacity: 1;
}

#stop10756-4 {
	stop-color: #f1cf6c;
	stop-opacity: 1;
}

#stop10758-7 {
	stop-color: #e5b630;
	stop-opacity: 1;
}

#stop10450-0 {
	stop-color: #ecac18;
	stop-opacity: 1;
}

#stop10458-2 {
	stop-color: #ffe38d;
	stop-opacity: 1;
}

#stop10456-96 {
	stop-color: #fdf5d2;
	stop-opacity: 1;
}

#stop10460-3 {
	stop-color: #ffeba7;
	stop-opacity: 1;
}

#stop10452-1 {
	stop-color: #e5b630;
	stop-opacity: 1;
}

#stop10416-3 {
	stop-color: #5078b9;
	stop-opacity: 1;
}

#stop10422-8 {
	stop-color: #6d8cbd;
	stop-opacity: 1;
}

#stop10418-4 {
	stop-color: #5f88c9;
	stop-opacity: 1;
}

#stop10434-4 {
	stop-color: #1f4d9a;
	stop-opacity: 1;
}

#stop10436-2 {
	stop-color: #4e6da1;
	stop-opacity: 1;
}

#stop10438-9 {
	stop-color: #567ebc;
	stop-opacity: 1;
}

#stop10159-5 {
	stop-color: #6588c1;
	stop-opacity: 1;
}

#stop10165-9 {
	stop-color: #becce3;
	stop-opacity: 1;
}

#stop10161-55 {
	stop-color: #809dcb;
	stop-opacity: 1;
}

#stop10398-7 {
	stop-color: #1b3e79;
	stop-opacity: 1;
}

#stop10404-9 {
	stop-color: #728fbf;
	stop-opacity: 1;
}

#stop10400-9 {
	stop-color: #1f4d9a;
	stop-opacity: 1;
}

#stop10151-5-7-2 {
	stop-color: #1f4d9a;
	stop-opacity: 1;
}

#stop10394-3 {
	stop-color: #b9c7df;
	stop-opacity: 1;
}

#stop10153-8-1-2 {
	stop-color: #567ebc;
	stop-opacity: 1;
}

#stop4319 {
	stop-color: #f8e8a8;
	stop-opacity: 1;
}

#stop4435 {
	stop-color: #f8f0d0;
	stop-opacity: 1;
}

#stop4437 {
	stop-color: #f8e8a8;
	stop-opacity: 1;
}

#stop4321 {
	stop-color: #f8e8a8;
	stop-opacity: 1;
}

#stop4313 {
	stop-color: #b88800;
	stop-opacity: 1;
}

#stop4315 {
	stop-color: #a87000;
	stop-opacity: 1;
}

#stop4260 {
	stop-color: #5888c8;
	stop-opacity: 1;
}

#stop4262 {
	stop-color: #4870b8;
	stop-opacity: 1;
}

#stop4252 {
	stop-color: #7090c0;
	stop-opacity: 1;
}

#stop4254 {
	stop-color: #4870b8;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g8159 {
	display: inline;
}

#layer1-4 {
	display: inline;
}

#text4274 {
	font-style: normal;
	font-weight: normal;
	font-size: 20.8505249px;
	line-height: 125%;
	font-family: sans-serif;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #21844f;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4283 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-family: 'Abyssinica SIL';
	fill: #21844f;
	fill-opacity: 1;
}

#text4278 {
	font-style: normal;
	font-weight: normal;
	font-size: 13.30733204px;
	line-height: 125%;
	font-family: sans-serif;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #d8424f;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4286 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-family: 'Abyssinica SIL';
	inkscape-font-specification: 'Abyssinica SIL';
	fill: #d8424f;
	fill-opacity: 1;
}

#g4246 {
	display: inline;
}

#g4266-0 {
	display: inline;
}

#path4242-9 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//julaunchpgn.svg#linearGradient4323);
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//julaunchpgn.svg#linearGradient4307);
	stroke-width: 0.89697278;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4244-5 {
	opacity: 1;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//julaunchpgn.svg#linearGradient4309);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 0.84714097;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4244 {
	opacity: 1;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//julaunchpgn.svg#linearGradient4264);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 0.84714097;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4242 {
	fill: #a8c0d8;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//julaunchpgn.svg#linearGradient4256);
	stroke-width: 0.89697278;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

