@import "stock";

#stop3957 {
	stop-color: #c38536;
	stop-opacity: 1;
}

#stop3959 {
	stop-color: #f2dc91;
	stop-opacity: 1;
}

#stop3961 {
	stop-color: #fbdc8b;
	stop-opacity: 1;
}

#stop3963 {
	stop-color: #e6bd7a;
	stop-opacity: 1;
}

#stop3965 {
	stop-color: #ba772f;
	stop-opacity: 1;
}

#path4919 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#stop4286 {
	stop-color: #6588c1;
	stop-opacity: 0;
}

#stop4288 {
	stop-color: #becce3;
	stop-opacity: 1;
}

#stop4290 {
	stop-color: #809dcb;
	stop-opacity: 0;
}

#stop10159-8-3 {
	stop-color: #6588c1;
	stop-opacity: 1;
}

#stop10165-3-9 {
	stop-color: #becce3;
	stop-opacity: 1;
}

#stop10161-5-0 {
	stop-color: #809dcb;
	stop-opacity: 1;
}

#stop10416-3 {
	stop-color: #5078b9;
	stop-opacity: 1;
}

#stop10422-8 {
	stop-color: #6d8cbd;
	stop-opacity: 1;
}

#stop10418-4 {
	stop-color: #5f88c9;
	stop-opacity: 1;
}

#stop10434-4 {
	stop-color: #1f4d9a;
	stop-opacity: 1;
}

#stop10436-2 {
	stop-color: #4e6da1;
	stop-opacity: 1;
}

#stop10438-9 {
	stop-color: #567ebc;
	stop-opacity: 1;
}

#stop10450-0 {
	stop-color: #ecac18;
	stop-opacity: 1;
}

#stop10458-2 {
	stop-color: #ffe38d;
	stop-opacity: 1;
}

#stop10456-96 {
	stop-color: #fdf5d2;
	stop-opacity: 1;
}

#stop10460-3 {
	stop-color: #ffeba7;
	stop-opacity: 1;
}

#stop10452-1 {
	stop-color: #e5b630;
	stop-opacity: 1;
}

#stop10750-5 {
	stop-color: #ecac18;
	stop-opacity: 1;
}

#stop10752-8 {
	stop-color: #f1ce66;
	stop-opacity: 1;
}

#stop10754-8 {
	stop-color: #f6e5a6;
	stop-opacity: 1;
}

#stop10756-4 {
	stop-color: #f1cf6c;
	stop-opacity: 1;
}

#stop10758-7 {
	stop-color: #e5b630;
	stop-opacity: 1;
}

#stop10450-3-5-6-7 {
	stop-color: #cf9307;
	stop-opacity: 1;
}

#stop10456-4-1-5-3 {
	stop-color: #f7d87b;
	stop-opacity: 1;
}

#stop10452-22-7-8-4 {
	stop-color: #ebb313;
	stop-opacity: 1;
}

#stop4160 {
	stop-color: #fdae35;
	stop-opacity: 1;
}

#stop4162 {
	stop-color: #fef0db;
	stop-opacity: 1;
}

#stop10442-43-2-0-9 {
	stop-color: #ae7603;
	stop-opacity: 1;
}

#stop10521-1-2-5-3 {
	stop-color: #e8d8a3;
	stop-opacity: 1;
}

#stop10444-3-4-0-4 {
	stop-color: #bb9221;
	stop-opacity: 1;
}

#stop10398-7 {
	stop-color: #1b3e79;
	stop-opacity: 1;
}

#stop10404-9 {
	stop-color: #728fbf;
	stop-opacity: 1;
}

#stop10400-9 {
	stop-color: #1f4d9a;
	stop-opacity: 1;
}

#stop10151-5-7-2 {
	stop-color: #1f4d9a;
	stop-opacity: 1;
}

#stop10394-3 {
	stop-color: #b9c7df;
	stop-opacity: 1;
}

#stop10153-8-1-2 {
	stop-color: #567ebc;
	stop-opacity: 1;
}

#stop4370 {
	stop-color: #fbdf89;
	stop-opacity: 1;
}

#stop4376 {
	stop-color: #f5ebc6;
	stop-opacity: 1;
}

#stop4378 {
	stop-color: #f3f4f0;
	stop-opacity: 1;
}

#stop4372 {
	stop-color: #f3f4f0;
	stop-opacity: 1;
}

#stop4346 {
	stop-color: #7e9cca;
	stop-opacity: 1;
}

#stop4354 {
	stop-color: #7e9cca;
	stop-opacity: 1;
}

#stop4356 {
	stop-color: #c0cde4;
	stop-opacity: 1;
}

#stop4352 {
	stop-color: #7e9cca;
	stop-opacity: 1;
}

#stop4348 {
	stop-color: #7e9cca;
	stop-opacity: 1;
}

#stop4338 {
	stop-color: #3461ab;
	stop-opacity: 1;
}

#stop4340 {
	stop-color: #5d88cb;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g13862 {
	display: inline;
}

#g4262-8 {
	display: inline;
}

#g4382 {
	display: inline;
}

#path4366 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//req_plugins_obj.svg#linearGradient4432);
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #b08b21;
	stroke-width: 3.58380508px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4326 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//req_plugins_obj.svg#linearGradient4434);
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//req_plugins_obj.svg#linearGradient4436);
	stroke-width: 3.58380508;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4358 {
	opacity: 1;
	fill: #547fc4;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1.79190254;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4380 {
	opacity: 1;
	fill: #b08b21;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1.79190254;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#g4382-6 {
	display: inline;
}

#path4366-6 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//req_plugins_obj.svg#linearGradient4453);
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #b08b21;
	stroke-width: 3.58380508px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4326-2 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//req_plugins_obj.svg#linearGradient4455);
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//req_plugins_obj.svg#linearGradient4457);
	stroke-width: 3.58380508;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4358-7 {
	opacity: 1;
	fill: #547fc4;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1.79190254;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4380-4 {
	opacity: 1;
	fill: #b08b21;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1.79190254;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4204 {
	opacity: 0.99715307;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//req_plugins_obj.svg#linearGradient4212);
	fill-opacity: 1;
	stroke: #8d602e;
	stroke-width: 3.58380508;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

