@import "stock";

#stop4904-2 {
	stop-color: #b28a30;
	stop-opacity: 1;
}

#stop4906-2 {
	stop-color: #7f703d;
	stop-opacity: 1;
}

#stop4896-8 {
	stop-color: #e0c88f;
	stop-opacity: 1;
}

#stop4898-5 {
	stop-color: #d5b269;
	stop-opacity: 1;
}

#stop4996-1 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop4998-89 {
	stop-color: #dce7f7;
	stop-opacity: 1;
}

#stop5105-5 {
	stop-color: #fefdef;
	stop-opacity: 1;
}

#stop7550-07 {
	stop-color: #fef5d4;
	stop-opacity: 1;
}

#stop7548-6 {
	stop-color: #fbe08e;
	stop-opacity: 1;
}

#stop5107-7 {
	stop-color: #fbdd83;
	stop-opacity: 1;
}

#stop4206 {
	stop-color: #8e6aae;
	stop-opacity: 1;
}

#stop4208 {
	stop-color: #b29cc6;
	stop-opacity: 1;
}

#stop4231 {
	stop-color: #713e9d;
	stop-opacity: 1;
}

#stop4233 {
	stop-color: #f2aaf1;
	stop-opacity: 1;
}

#stop4278 {
	stop-color: #f2aaf1;
	stop-opacity: 1;
}

#stop4282 {
	stop-color: #f2aaf1;
	stop-opacity: 1;
}

#stop4284 {
	stop-color: #f9f8d4;
	stop-opacity: 1;
}

#stop4280 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect4001-3 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//site_xml_obj.svg#linearGradient4101);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4884 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//site_xml_obj.svg#linearGradient4900-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001 {
	fill: none;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//site_xml_obj.svg#linearGradient4908-2);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#g4286 {
	display: inline;
}

#rect3394 {
	opacity: 1;
	fill: #f2aaf1;
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//site_xml_obj.svg#linearGradient4210);
	stroke-width: 1;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4212 {
	fill: #8861aa;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4212-4 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//site_xml_obj.svg#linearGradient4235);
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4212-9 {
	display: inline;
	fill: #ad86cf;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4212-4-2 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//site_xml_obj.svg#linearGradient4235-4);
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

