@import "gotham";

#stop4889-4-4 {
	stop-color: #7e9bcb;
	stop-opacity: 1;
}

#stop4891-8-5 {
	stop-color: #4368a4;
	stop-opacity: 1;
}

#stop4897-4 {
	stop-color: #5978ab;
	stop-opacity: 1;
}

#stop4899-0 {
	stop-color: #3b5176;
	stop-opacity: 1;
}

#stop4823-1 {
	stop-color: #b7c9e3;
	stop-opacity: 1;
}

#stop4825-5 {
	stop-color: #f3f5f6;
	stop-opacity: 1;
}

#stop4831-3 {
	stop-color: #607fb0;
	stop-opacity: 1;
}

#stop4833-87 {
	stop-color: #7593c1;
	stop-opacity: 1;
}

#stop4996-8 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop4998-10 {
	stop-color: #dce7f8;
	stop-opacity: 1;
}

#stop4896-8 {
	stop-color: #e4cf9d;
	stop-opacity: 1;
}

#stop4898-4 {
	stop-color: #d0ab5b;
	stop-opacity: 1;
}

#stop4904-1 {
	stop-color: #c7b571;
	stop-opacity: 1;
}

#stop4906-5 {
	stop-color: #989891;
	stop-opacity: 1;
}

#stop4863-3 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop4865-7 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#stop5149-8 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop5151-5 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#stop4939-0 {
	stop-color: #000000;
	stop-opacity: 0;
}

#stop4941-8 {
	stop-color: #000000;
	stop-opacity: 1;
}

#stop4939-2-6 {
	stop-color: #000000;
	stop-opacity: 0;
}

#stop4941-7-0 {
	stop-color: #000000;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#layer1-2 {
	display: inline;
}

#rect4051-2 {
	fill: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/elcl16//nav_print.svg#linearGradient4893-5-8);
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/elcl16//nav_print.svg#linearGradient4901-0);
	stroke-opacity: 1;
	display: inline;
}

#rect4051 {
	fill: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/elcl16//nav_print.svg#linearGradient4827-5);
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/elcl16//nav_print.svg#linearGradient4835-90);
	stroke-opacity: 1;
}

#rect4001-3 {
	fill: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/elcl16//nav_print.svg#linearGradient5000-26);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4884 {
	fill: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/elcl16//nav_print.svg#linearGradient4900-3);
	fill-opacity: 1;
	stroke: none;
}

#rect4001 {
	fill: none;
	stroke: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/elcl16//nav_print.svg#linearGradient4908-8);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
}

#rect4001-1-7 {
	fill: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/elcl16//nav_print.svg#linearGradient4869-4);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-1-7-4 {
	fill: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/elcl16//nav_print.svg#linearGradient4871-3);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-3-1 {
	opacity: 0.25;
	fill: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/elcl16//nav_print.svg#linearGradient4918-7-6);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-3-1-6 {
	opacity: 0.25;
	fill: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/elcl16//nav_print.svg#linearGradient6209);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

