/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop5002 {
  stop-color: #fffbce;
  stop-opacity: 1; }

#stop5004 {
  stop-color: #ffcf73;
  stop-opacity: 1; }

#stop4992 {
  stop-color: #000000;
  stop-opacity: 1; }

#stop4994 {
  stop-color: #000000;
  stop-opacity: 0; }

#stop4964 {
  stop-color: #000000;
  stop-opacity: 1; }

#stop4966 {
  stop-color: #000000;
  stop-opacity: 0; }

#stop4903 {
  stop-color: #5b7aac;
  stop-opacity: 1; }

#stop4905 {
  stop-color: #13347c;
  stop-opacity: 1; }

#stop4895 {
  stop-color: #dff2fe;
  stop-opacity: 1; }

#stop4897 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop4834 {
  stop-color: #edeb02;
  stop-opacity: 1; }

#stop4836 {
  stop-color: #6cc13a;
  stop-opacity: 1; }

#stop4820 {
  stop-color: #296166;
  stop-opacity: 1; }

#stop4822 {
  stop-color: #274184;
  stop-opacity: 1; }

#stop4778 {
  stop-color: #39845b;
  stop-opacity: 1; }

#stop4780 {
  stop-color: #367a5d;
  stop-opacity: 1; }

#stop4766 {
  stop-color: #6f736b;
  stop-opacity: 1; }

#stop4768 {
  stop-color: #a6967b;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#rect4774-4-4 {
  fill: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/clcl16//nav_home.svg#linearGradient4899);
  fill-opacity: 1;
  stroke: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/clcl16//nav_home.svg#linearGradient4907);
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dashoffset: 0;
  display: inline; }

#rect4762 {
  fill: #9f453a;
  fill-opacity: 1;
  stroke: #aeaa73;
  stroke-width: 0.64999998000000003;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0; }

#rect4762-8 {
  fill: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/clcl16//nav_home.svg#linearGradient4968);
  fill-opacity: 1;
  stroke: none;
  display: inline;
  opacity: 0.5; }

#rect4774 {
  fill: #edeb02;
  fill-opacity: 1;
  stroke: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/clcl16//nav_home.svg#linearGradient4782);
  stroke-width: 0.66977459;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0; }

#rect4774-4 {
  fill: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/clcl16//nav_home.svg#linearGradient4838);
  fill-opacity: 1;
  stroke: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/clcl16//nav_home.svg#linearGradient4799);
  stroke-width: 0.66977459;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#rect4774-4-4-5 {
  fill: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/clcl16//nav_home.svg#linearGradient4998);
  fill-opacity: 1;
  stroke: none;
  display: inline;
  opacity: 0.5; }

#rect4774-4-4-5-8 {
  fill: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/clcl16//nav_home.svg#linearGradient4996);
  fill-opacity: 1;
  stroke: none;
  display: inline;
  opacity: 0.5; }

#rect3973 {
  fill: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/clcl16//nav_home.svg#linearGradient5006);
  fill-opacity: 1;
  stroke: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/clcl16//nav_home.svg#linearGradient4770);
  stroke-width: 0.64999998000000003;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0; }
