/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop4996-9 {
  stop-color: #f9fafc;
  stop-opacity: 1; }

#stop4998-8 {
  stop-color: #dce7f7;
  stop-opacity: 1; }

#stop4896-2 {
  stop-color: #e0c88f;
  stop-opacity: 1; }

#stop4898-1 {
  stop-color: #d5b269;
  stop-opacity: 1; }

#stop4904-4 {
  stop-color: #c7b571;
  stop-opacity: 1; }

#stop4906-5 {
  stop-color: #9a9a8f;
  stop-opacity: 1; }

#stop4874-7 {
  stop-color: #8693a7;
  stop-opacity: 1; }

#stop4876-6 {
  stop-color: #64738b;
  stop-opacity: 1; }

#stop4996 {
  stop-color: #f9fafc;
  stop-opacity: 1; }

#stop4998 {
  stop-color: #dce7f7;
  stop-opacity: 1; }

#stop4896 {
  stop-color: #e0c88f;
  stop-opacity: 1; }

#stop4898 {
  stop-color: #d5b269;
  stop-opacity: 1; }

#stop4866-1 {
  stop-color: #eef4fa;
  stop-opacity: 1; }

#stop4868-1 {
  stop-color: #bddff4;
  stop-opacity: 1; }

#stop4904 {
  stop-color: #c7b571;
  stop-opacity: 1; }

#stop4906 {
  stop-color: #9a9a8f;
  stop-opacity: 1; }

#stop4874 {
  stop-color: #8693a7;
  stop-opacity: 1; }

#stop4876 {
  stop-color: #64738b;
  stop-opacity: 1; }

#stop4866 {
  stop-color: #eef4fa;
  stop-opacity: 1; }

#stop4868 {
  stop-color: #bddff4;
  stop-opacity: 1; }

#stop4879-4 {
  stop-color: #91a5c7;
  stop-opacity: 1; }

#stop4881-9 {
  stop-color: #5e76a3;
  stop-opacity: 1; }

#stop4879 {
  stop-color: #91a5c7;
  stop-opacity: 1; }

#stop4881 {
  stop-color: #5e76a3;
  stop-opacity: 1; }

#stop4879-4-2 {
  stop-color: #91a5c7;
  stop-opacity: 1; }

#stop4881-9-4 {
  stop-color: #5e76a3;
  stop-opacity: 1; }

#stop4879-9 {
  stop-color: #91a5c7;
  stop-opacity: 1; }

#stop4881-4 {
  stop-color: #5e76a3;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#rect4001-3-3 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/elcl16//cpyqual_menu.svg#linearGradient5186);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path4884-6 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/elcl16//cpyqual_menu.svg#linearGradient5005);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4001-8 {
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  text-anchor: start;
  baseline-shift: baseline;
  color: #000000;
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/elcl16//cpyqual_menu.svg#linearGradient4890);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate;
  font-family: Sans;
  inkscape-font-specification: Sans; }

#rect4053-4 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/elcl16//cpyqual_menu.svg#linearGradient4961-1);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4001-3 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/elcl16//cpyqual_menu.svg#linearGradient5000);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path4884 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/elcl16//cpyqual_menu.svg#linearGradient4900);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4053-7-2 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/elcl16//cpyqual_menu.svg#linearGradient4870-1);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4001 {
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  text-anchor: start;
  baseline-shift: baseline;
  color: #000000;
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/elcl16//cpyqual_menu.svg#linearGradient4884);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate;
  font-family: Sans;
  inkscape-font-specification: Sans; }

#rect4053 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/elcl16//cpyqual_menu.svg#linearGradient4878);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4053-7 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/elcl16//cpyqual_menu.svg#linearGradient4870);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4001-1-6 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/elcl16//cpyqual_menu.svg#linearGradient4867-2);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4001-1 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/elcl16//cpyqual_menu.svg#linearGradient4867);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4001-1-6-5 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/elcl16//cpyqual_menu.svg#linearGradient4912);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4001-1-5 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/elcl16//cpyqual_menu.svg#linearGradient4867-4);
  fill-opacity: 1;
  stroke: none;
  display: inline; }
