@import "stock";

#stop7274-6-0-1-7-4-3 {
	stop-color: #26804e;
	stop-opacity: 1;
}

#stop7276-66-6-3-9-1-2 {
	stop-color: #3ecc7d;
	stop-opacity: 1;
}

#stop7274-6-0-1-7-4-3-3 {
	stop-color: #5a8026;
	stop-opacity: 1;
}

#stop7276-66-6-3-9-1-2-4 {
	stop-color: #91cc3e;
	stop-opacity: 1;
}

#stop7274-6-0-1-7-4-3-3-2 {
	stop-color: #264280;
	stop-opacity: 1;
}

#stop7276-66-6-3-9-1-2-4-8 {
	stop-color: #3e6acc;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#layer1-8 {
	display: inline;
}

#g7590-7 {
	display: inline;
}

#g7827-7 {
	display: inline;
}

#rect6501-7-1 {
	fill: #c9ffe1;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect7280-61-6 {
	fill: #cee6d9;
	fill-opacity: 1;
	stroke: none;
	filter: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/ctool16//CreateElementContainer_children_PartStack.svg#filter7474-3-2-7-1);
}

#rect7280-8-7-8 {
	fill: #b7ccc0;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/ctool16//CreateElementContainer_children_PartStack.svg#filter7486-6-6-5-4);
}

#rect7280-5-3-5 {
	fill: #a0b3a8;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/ctool16//CreateElementContainer_children_PartStack.svg#filter7478-9-8-2-9);
}

#rect7280-6-0-7 {
	fill: #94a69c;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/ctool16//CreateElementContainer_children_PartStack.svg#filter7482-8-1-5-8);
}

#rect6501-1-6-8 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/ctool16//CreateElementContainer_children_PartStack.svg#linearGradient5352);
	stroke-width: 0.56622314;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#rect6501-7-1-1 {
	fill: #81fece;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect7280-61-6-3 {
	fill: #ade65d;
	fill-opacity: 1;
	stroke: none;
	filter: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/ctool16//CreateElementContainer_children_PartStack.svg#filter7474-3-2-7-1-9);
}

#rect7280-8-7-8-8 {
	fill: #99cc52;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/ctool16//CreateElementContainer_children_PartStack.svg#filter7486-6-6-5-4-7);
}

#rect7280-5-3-5-7 {
	fill: #86b348;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/ctool16//CreateElementContainer_children_PartStack.svg#filter7478-9-8-2-9-5);
}

#rect7280-6-0-7-4 {
	fill: #7da643;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/ctool16//CreateElementContainer_children_PartStack.svg#filter7482-8-1-5-8-3);
}

#rect6501-1-6-8-2 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/ctool16//CreateElementContainer_children_PartStack.svg#linearGradient5344);
	stroke-width: 0.44757253;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#rect6501-7-1-1-0 {
	fill: #35c3fe;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect7280-61-6-3-2 {
	fill: #1858e6;
	fill-opacity: 1;
	stroke: none;
	filter: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/ctool16//CreateElementContainer_children_PartStack.svg#filter7474-3-2-7-1-9-7);
}

#rect7280-8-7-8-8-4 {
	fill: #154ecc;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/ctool16//CreateElementContainer_children_PartStack.svg#filter7486-6-6-5-4-7-9);
}

#rect7280-5-3-5-7-8 {
	fill: #1344b3;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/ctool16//CreateElementContainer_children_PartStack.svg#filter7478-9-8-2-9-5-1);
}

#rect7280-6-0-7-4-6 {
	fill: #113fa6;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/ctool16//CreateElementContainer_children_PartStack.svg#filter7482-8-1-5-8-3-8);
}

#rect6501-1-6-8-2-5 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/ctool16//CreateElementContainer_children_PartStack.svg#linearGradient5336);
	stroke-width: 0.55309612;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

