@import "gotham";

#stop4885-4 {
	stop-color: #7e622c;
	stop-opacity: 1;
}

#stop4887-0 {
	stop-color: #aa6f10;
	stop-opacity: 1;
}

#stop4885-4-9 {
	stop-color: #7f7f3f;
	stop-opacity: 1;
}

#stop4887-0-8 {
	stop-color: #7f5f3f;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g4105-1 {
	display: inline;
}

#path4108-1-2-3 {
	display: inline;
	fill: #ffdf3f;
	fill-opacity: 1;
	stroke: none;
}

#path4108-1-6-4-3 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator/icons/full/clcl16//synced.svg#linearGradient4142-9);
	fill-opacity: 1;
	stroke: none;
}

#g4220-1 {
	display: inline;
}

#path4108-1-2-3-3 {
	display: inline;
	fill: #ffdf3f;
	fill-opacity: 1;
	stroke: none;
}

#path4108-1-6-4-3-8 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator/icons/full/clcl16//synced.svg#linearGradient4253);
	fill-opacity: 1;
	stroke: none;
}

#g4105-1-1 {
	display: inline;
}

#g4220-1-9 {
	display: inline;
}

#g4105-1-9 {
	display: inline;
}

#path4108-1-2-3-8 {
	display: inline;
	fill: #ffdf3f;
	fill-opacity: 1;
	stroke: none;
}

#path4108-1-6-4-3-6 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator/icons/full/clcl16//synced.svg#linearGradient4217);
	fill-opacity: 1;
	stroke: none;
}

#g4220-1-1 {
	display: inline;
}

#path4108-1-2-3-3-2 {
	display: inline;
	fill: #ffdf3f;
	fill-opacity: 1;
	stroke: none;
}

#path4108-1-6-4-3-8-7 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator/icons/full/clcl16//synced.svg#linearGradient4219);
	fill-opacity: 1;
	stroke: none;
}

