@import "gotham";

#stop5137-4 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop5139-0 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#stop5143-8 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop5145-8 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#stop5149-5 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop5151-5 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#stop4863-1 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop4865-52 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#stop4879-1 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop4881-4 {
	stop-color: #5e76a3;
	stop-opacity: 1;
}

#stop4904-2 {
	stop-color: #b4903d;
	stop-opacity: 1;
}

#stop4906-2 {
	stop-color: #7e744e;
	stop-opacity: 1;
}

#stop4996-1 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop4998-89 {
	stop-color: #dce7f7;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#image4463 {
	image-rendering: optimizeSpeed;
}

#rect4001-3 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/obj16//tsearch_dpdn_obj.svg#linearGradient4101);
	fill-opacity: 1;
	stroke: none;
}

#rect4001-1 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/obj16//tsearch_dpdn_obj.svg#linearGradient4867-7);
	fill-opacity: 1;
	stroke: none;
}

#rect4001-1-7 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/obj16//tsearch_dpdn_obj.svg#linearGradient4869-17);
	fill-opacity: 1;
	stroke: none;
}

#rect4001-1-7-4 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/obj16//tsearch_dpdn_obj.svg#linearGradient4871-2);
	fill-opacity: 1;
	stroke: none;
}

#rect4001-1-7-4-0 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/obj16//tsearch_dpdn_obj.svg#linearGradient4875-9);
	fill-opacity: 1;
	stroke: none;
}

#rect4001-1-7-4-0-9 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/obj16//tsearch_dpdn_obj.svg#linearGradient4873-1);
	fill-opacity: 1;
	stroke: none;
}

#rect4001 {
	display: inline;
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/obj16//tsearch_dpdn_obj.svg#linearGradient4908-2);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

