@import "gotham";

#stop4159 {
	stop-color: #58b6e8;
	stop-opacity: 1;
}

#stop4161 {
	stop-color: #58b6e8;
	stop-opacity: 0;
}

#stop4084-8 {
	stop-color: #4476aa;
	stop-opacity: 1;
}

#stop4864-7 {
	stop-color: #5a9ccc;
	stop-opacity: 1;
}

#stop4086-2 {
	stop-color: #4476aa;
	stop-opacity: 1;
}

#stop4996-5-9 {
	stop-color: #c5dff4;
	stop-opacity: 1;
}

#stop4998-5-0 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4912-8-5 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914-8-1 {
	stop-color: #c5dff4;
	stop-opacity: 1;
}

#stop4812-0 {
	stop-color: #be9a4b;
	stop-opacity: 1;
}

#stop4814-4 {
	stop-color: #877e60;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect3997-9 {
	display: inline;
	fill: #f4fcff;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/eview16//defaultview_misc.svg#linearGradient8887);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect4853-82-7 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/eview16//defaultview_misc.svg#linearGradient8884);
	fill-opacity: 1;
	stroke: none;
}

#rect4853-82-0 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/eview16//defaultview_misc.svg#linearGradient8881);
	fill-opacity: 1;
	stroke: none;
}

#rect3997-9-9 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/eview16//defaultview_misc.svg#linearGradient4163);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/eview16//defaultview_misc.svg#linearGradient8878);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#image4163 {
	image-rendering: optimizeSpeed;
}

