@import "stock";

#stop4910 {
	stop-color: #2a4f8b;
	stop-opacity: 1;
}

#stop4914 {
	stop-color: #557ab6;
	stop-opacity: 1;
}

#stop4286 {
	stop-color: #6588c1;
	stop-opacity: 0;
}

#stop4288 {
	stop-color: #becce3;
	stop-opacity: 1;
}

#stop4290 {
	stop-color: #809dcb;
	stop-opacity: 0;
}

#stop10450-3-5-6-7 {
	stop-color: #cf9307;
	stop-opacity: 1;
}

#stop10456-4-1-5-3 {
	stop-color: #f7d87b;
	stop-opacity: 1;
}

#stop10452-22-7-8-4 {
	stop-color: #ebb313;
	stop-opacity: 1;
}

#stop10442-43-2-0-9 {
	stop-color: #ae7603;
	stop-opacity: 1;
}

#stop10521-1-2-5-3 {
	stop-color: #e8d8a3;
	stop-opacity: 1;
}

#stop10444-3-4-0-4 {
	stop-color: #bb9221;
	stop-opacity: 1;
}

#stop10750-5 {
	stop-color: #ecac18;
	stop-opacity: 1;
}

#stop10752-8 {
	stop-color: #f1ce66;
	stop-opacity: 1;
}

#stop10754-8 {
	stop-color: #f6e5a6;
	stop-opacity: 1;
}

#stop10756-4 {
	stop-color: #f1cf6c;
	stop-opacity: 1;
}

#stop10758-7 {
	stop-color: #e5b630;
	stop-opacity: 1;
}

#stop10442-43-0-5 {
	stop-color: #ae7603;
	stop-opacity: 1;
}

#stop10521-1-4-7 {
	stop-color: #e8d8a3;
	stop-opacity: 1;
}

#stop10444-3-2-0 {
	stop-color: #bb9221;
	stop-opacity: 1;
}

#stop10450-0 {
	stop-color: #ecac18;
	stop-opacity: 1;
}

#stop10458-2 {
	stop-color: #ffe38d;
	stop-opacity: 1;
}

#stop10456-96 {
	stop-color: #fdf5d2;
	stop-opacity: 1;
}

#stop10460-3 {
	stop-color: #ffeba7;
	stop-opacity: 1;
}

#stop10452-1 {
	stop-color: #e5b630;
	stop-opacity: 1;
}

#stop10442-8 {
	stop-color: #ae7603;
	stop-opacity: 1;
}

#stop10521-7 {
	stop-color: #e8d8a3;
	stop-opacity: 1;
}

#stop10444-0 {
	stop-color: #bb9221;
	stop-opacity: 1;
}

#stop10416-3 {
	stop-color: #5078b9;
	stop-opacity: 1;
}

#stop10422-8 {
	stop-color: #6d8cbd;
	stop-opacity: 1;
}

#stop10418-4 {
	stop-color: #5f88c9;
	stop-opacity: 1;
}

#stop10434-4 {
	stop-color: #1f4d9a;
	stop-opacity: 1;
}

#stop10436-2 {
	stop-color: #4e6da1;
	stop-opacity: 1;
}

#stop10438-9 {
	stop-color: #567ebc;
	stop-opacity: 1;
}

#stop10159-5 {
	stop-color: #6588c1;
	stop-opacity: 1;
}

#stop10165-9 {
	stop-color: #becce3;
	stop-opacity: 1;
}

#stop10161-55 {
	stop-color: #809dcb;
	stop-opacity: 1;
}

#stop10398-7 {
	stop-color: #1b3e79;
	stop-opacity: 1;
}

#stop10404-9 {
	stop-color: #728fbf;
	stop-opacity: 1;
}

#stop10400-9 {
	stop-color: #1f4d9a;
	stop-opacity: 1;
}

#stop10159-8-3 {
	stop-color: #6588c1;
	stop-opacity: 1;
}

#stop10165-3-9 {
	stop-color: #becce3;
	stop-opacity: 1;
}

#stop10161-5-0 {
	stop-color: #809dcb;
	stop-opacity: 1;
}

#stop10151-3-0 {
	stop-color: #1d4d9d;
	stop-opacity: 1;
}

#stop10153-72-3 {
	stop-color: #638ac8;
	stop-opacity: 1;
}

#stop10151-5-7-2 {
	stop-color: #1f4d9a;
	stop-opacity: 1;
}

#stop10394-3 {
	stop-color: #b9c7df;
	stop-opacity: 1;
}

#stop10153-8-1-2 {
	stop-color: #567ebc;
	stop-opacity: 1;
}

#stop4160 {
	stop-color: #fdae35;
	stop-opacity: 1;
}

#stop4162 {
	stop-color: #fef0db;
	stop-opacity: 1;
}

#stop4179 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4181 {
	stop-color: #f3f4f0;
	stop-opacity: 1;
}

#stop4169 {
	stop-color: #acaa94;
	stop-opacity: 1;
}

#stop4171 {
	stop-color: #a6a699;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#image4506 {
	image-rendering: optimizeSpeed;
}

#g4916-5 {
	display: inline;
}

#rect10007-0-74-2-7-5 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//pdespy_obj.svg#linearGradient4634);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1.5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect10007-0-74-2-47 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//pdespy_obj.svg#linearGradient4636);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1.50161433;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect10007-0-0 {
	fill: #5079bc;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect10007-0-7-2 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//pdespy_obj.svg#linearGradient4638);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 0.41854954;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect10007-0-74-22 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//pdespy_obj.svg#linearGradient4640);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1.5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#path4864-2-92-3 {
	display: inline;
	fill: none;
	fill-rule: evenodd;
	stroke: #c18e00;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4864-2-9-7 {
	display: inline;
	fill: none;
	fill-rule: evenodd;
	stroke: #c18e00;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#rect10007-6-1 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//pdespy_obj.svg#linearGradient4642);
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//pdespy_obj.svg#linearGradient4644);
	stroke-width: 1.00000012;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect10007-6-6-3 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//pdespy_obj.svg#linearGradient4646);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 3.58380508;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#path4864-1 {
	fill: none;
	fill-rule: evenodd;
	stroke: #c18e00;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4864-2-5 {
	display: inline;
	fill: none;
	fill-rule: evenodd;
	stroke: #c18e00;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4864-2-1-7 {
	display: inline;
	fill: none;
	fill-rule: evenodd;
	stroke: #c18e00;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4185 {
	display: inline;
	fill: #8f6e4d;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #8f6e4d;
	stroke-width: 0.71592331;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4157 {
	display: inline;
	opacity: 1;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//pdespy_obj.svg#radialGradient4245);
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//pdespy_obj.svg#linearGradient4173);
	stroke-width: 1.00000012;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

