@import "stock";

#stop4316 {
	stop-color: #ffff00;
	stop-opacity: 1;
}

#stop4318 {
	stop-color: #ffd500;
	stop-opacity: 1;
}

#stop4320 {
	stop-color: #ffff00;
	stop-opacity: 1;
}

#stop4740 {
	stop-color: #8cc861;
	stop-opacity: 1;
}

#stop4746 {
	stop-color: #4aa766;
	stop-opacity: 1;
}

#stop4742 {
	stop-color: #c2dd97;
	stop-opacity: 1;
}

#stop4743 {
	stop-color: #30825a;
	stop-opacity: 1;
}

#stop4745 {
	stop-color: #106643;
	stop-opacity: 1;
}

#rect4322 {
	opacity: 1;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#image4311 {
	image-rendering: optimizeSpeed;
}

#rect3968 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//rsvcproxy_obj.svg#linearGradient3980);
	fill-opacity: 1;
	stroke: #000000;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

