@import "stock";

#rect4244 {
	display: inline;
	fill: #497cac;
	fill-opacity: 1;
	stroke: none;
}

#text4147 {
	font-style: normal;
	font-weight: normal;
	font-size: 10.23809528px;
	line-height: 125%;
	font-family: sans-serif;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4152 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-family: 'Courier 10 Pitch';
	fill: #ffffff;
	fill-opacity: 1;
}

