@import "stock";

#path4148 {
	fill: none;
	fill-rule: evenodd;
	stroke: #193d62;
	stroke-width: 1px;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4149 {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: sans-serif;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	text-decoration-style: solid;
	text-decoration-color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	white-space: normal;
	clip-rule: nonzero;
	display: inline;
	overflow: visible;
	visibility: visible;
	opacity: 1;
	isolation: auto;
	mix-blend-mode: normal;
	color-interpolation: sRGB;
	color-interpolation-filters: linearRGB;
	solid-color: #000000;
	solid-opacity: 1;
	fill: #193d62;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
	color-rendering: auto;
	image-rendering: auto;
	shape-rendering: auto;
	text-rendering: auto;
	enable-background: accumulate;
}

#path4149-0 {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: sans-serif;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	text-decoration-style: solid;
	text-decoration-color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	white-space: normal;
	clip-rule: nonzero;
	display: inline;
	overflow: visible;
	visibility: visible;
	opacity: 1;
	isolation: auto;
	mix-blend-mode: normal;
	color-interpolation: sRGB;
	color-interpolation-filters: linearRGB;
	solid-color: #000000;
	solid-opacity: 1;
	fill: #193d62;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
	color-rendering: auto;
	image-rendering: auto;
	shape-rendering: auto;
	text-rendering: auto;
	enable-background: accumulate;
}

