/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#layer1 {
  display: inline; }

#path4880 {
  color: #000000;
  fill: #5a5194;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 0.44999999;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#rect4882 {
  color: #000000;
  fill: #7386ef;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 0.44999999;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#rect4882-2 {
  color: #000000;
  fill: #7386ef;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 0.44999999;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }
