@import "stock";

#blue_gradient_left_stop_0 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#blue_gradient_left_stop_1 {
	stop-color: #c3e9ff;
	stop-opacity: 1;
}

#blue_gradient_top_stop_0 {
	stop-color: #c3e9ff;
	stop-opacity: 1;
}

#blue_gradient_top_stop_1 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#minus_shadow_gradient_stop_0 {
	stop-color: #c3e9ff;
	stop-opacity: 0.49019608;
}

#minus_shadow_gradient_stop_1 {
	stop-color: #c3e9ff;
	stop-opacity: 1;
}

#minus_shadow_gradient_stop_2 {
	stop-color: #c3e9ff;
	stop-opacity: 0.49019608;
}

#layer1 {
	display: inline;
}

#front_background-5 {
	color: #ffffff;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: Sans;
	inkscape-font-specification: Sans;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	enable-background: accumulate;
}

#back_rect {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #a6afc4;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#back_left_shadow {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/elcl16//collapseall.svg#linearGradient5062-9);
	fill-opacity: 1.0;
	stroke: none;
	display: inline;
}

#back_top_shadow {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/elcl16//collapseall.svg#linearGradient4975-2-1);
	fill-opacity: 1.0;
	stroke: none;
	display: inline;
}

#front_rect {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #8b96ab;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#front_background {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#minus_sign_shadow {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/elcl16//collapseall.svg#linearGradient4970);
	fill-opacity: 1.0;
	stroke: none;
	display: inline;
}

#left_top_shadow {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/elcl16//collapseall.svg#linearGradient5062-9-5);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#front_top_shadow {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/elcl16//collapseall.svg#linearGradient4975-2-1-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#minus_sign {
	fill: #01467a;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

