@import "stock";

#stop4273 {
	stop-color: #eace89;
	stop-opacity: 1;
}

#stop4275 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4207 {
	stop-color: #f9cd5f;
	stop-opacity: 1;
}

#stop4209 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop7586-4 {
	stop-color: #f9cd5f;
	stop-opacity: 1;
}

#stop7588-5 {
	stop-color: #fbf0b4;
	stop-opacity: 1;
}

#stop7594-6 {
	stop-color: #bd8416;
	stop-opacity: 1;
}

#stop7596-9 {
	stop-color: #a66b10;
	stop-opacity: 1;
}

#stop7586-6-3 {
	stop-color: #f9cd5f;
	stop-opacity: 1;
}

#stop7588-9-9 {
	stop-color: #fbf0b4;
	stop-opacity: 1;
}

#stop4996-1-8 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop4998-89-8 {
	stop-color: #dce7f7;
	stop-opacity: 1;
}

#stop4896-8-7 {
	stop-color: #e0c88f;
	stop-opacity: 1;
}

#stop4898-5-1 {
	stop-color: #d5b269;
	stop-opacity: 1;
}

#stop4904-2-0 {
	stop-color: #c7b571;
	stop-opacity: 1;
}

#stop4906-2-4 {
	stop-color: #989891;
	stop-opacity: 1;
}

#path7381 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#layer1 {
	display: inline;
}

#g7604 {
	display: inline;
}

#layer1-2 {
	display: inline;
}

#rect4001-3 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/elcl16//refresh_nav.svg#linearGradient4101-1);
	fill-opacity: 1;
	stroke: none;
}

#path4884 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/elcl16//refresh_nav.svg#linearGradient4900-1-2);
	fill-opacity: 1;
	stroke: none;
}

#rect4001 {
	display: inline;
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/elcl16//refresh_nav.svg#linearGradient4908-2-2);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#g7056-7 {
	display: inline;
	fill: #ffffff;
	stroke: #ffffff;
	filter: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/elcl16//refresh_nav.svg#filter7367);
	stroke-width: 2;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#path7582-8 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path7602-2-3-0 {
	opacity: 0.85714285000000001;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	display: inline;
	stroke-width: 2;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#g7604-6-2 {
	stroke: #ffffff;
	stroke-opacity: 1;
	display: inline;
	fill: #ffffff;
	stroke-width: 2.74726762;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#path7582-7-0 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2.74726762;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path7602-2-8 {
	opacity: 0.85714285000000001;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2.74726762;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#path7602-2-3 {
	display: inline;
	opacity: 0.85714285;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#path4195 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/elcl16//refresh_nav.svg#linearGradient4203);
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #a86d11;
	stroke-width: 0.9;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#path4195-9 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/elcl16//refresh_nav.svg#linearGradient4203-0);
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #a86d11;
	stroke-width: 0.89999998;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

