@import "stock";

#layer1 {
	display: inline;
}

#g4769 {
	display: inline;
}

#rect3979 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #787878;
	stroke-width: 1;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

