@import "stock";

#stop6178 {
	stop-color: #166b9b;
	stop-opacity: 1;
}

#stop6180 {
	stop-color: #169b6e;
	stop-opacity: 1;
}

#stop6170 {
	stop-color: #fff891;
	stop-opacity: 1;
}

#stop6172 {
	stop-color: #4090ce;
	stop-opacity: 1;
}

#stop6170-0 {
	stop-color: #fff891;
	stop-opacity: 1;
}

#stop6172-1 {
	stop-color: #4090ce;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect6283 {
	fill: #166b9b;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5339-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/elcl16//trash.svg#radialGradient6174);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/elcl16//trash.svg#linearGradient6182);
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
}

#path5361 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/elcl16//trash.svg#linearGradient6198);
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path5361-0 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/elcl16//trash.svg#linearGradient6200);
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
}

#rect6322 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/elcl16//trash.svg#radialGradient6343);
	fill-opacity: 1;
	stroke: #166b9b;
	stroke-width: 0.80000000999999998;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

