@import "stock";

#stop4742-5-1-5 {
	stop-color: #5900cd;
	stop-opacity: 1;
}

#stop4744-0-9-4 {
	stop-color: #000000;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#path3970 {
	fill: #44324a;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/elcl16//view_menu.svg#linearGradient4049);
	stroke-width: 0.80056977px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
}

