@import "stock";

#stop4830-8 {
	stop-color: #3979bd;
	stop-opacity: 1;
}

#stop4832-2 {
	stop-color: #9abbdf;
	stop-opacity: 1;
}

#stop4820 {
	stop-color: #eb9186;
	stop-opacity: 1;
}

#stop4822 {
	stop-color: #e06b5e;
	stop-opacity: 1;
}

#stop4769 {
	stop-color: #bfb688;
	stop-opacity: 1;
}

#stop4771 {
	stop-color: #a2a59b;
	stop-opacity: 1;
}

#stop4830-8-4 {
	stop-color: #3979bd;
	stop-opacity: 1;
}

#stop4832-2-0 {
	stop-color: #9abbdf;
	stop-opacity: 1;
}

#stop4912 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914 {
	stop-color: #d1eeff;
	stop-opacity: 1;
}

#stop4996 {
	stop-color: #d1eeff;
	stop-opacity: 1;
}

#stop4998 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#layer1 {
	display: inline;
}

#rect3997 {
	fill: #f4fcff;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//debug_view_compact.svg#linearGradient4067);
	stroke-width: 1.00397241;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect4816 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//debug_view_compact.svg#linearGradient4824);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4826-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//debug_view_compact.svg#linearGradient4109);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4826-4-9 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//debug_view_compact.svg#linearGradient4107);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//debug_view_compact.svg#linearGradient4071);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//debug_view_compact.svg#linearGradient4975);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

