@import "stock";

#stop4812 {
	stop-color: #bfb688;
	stop-opacity: 1;
}

#stop4814 {
	stop-color: #8694ae;
	stop-opacity: 1;
}

#stop4964 {
	stop-color: #7cb87d;
	stop-opacity: 1;
}

#stop4966 {
	stop-color: #a8ceb7;
	stop-opacity: 1;
}

#stop5059 {
	stop-color: #677da9;
	stop-opacity: 1;
}

#stop5061 {
	stop-color: #b4bbd1;
	stop-opacity: 1;
}

#stop4964-2 {
	stop-color: #7cb87d;
	stop-opacity: 1;
}

#stop4966-1 {
	stop-color: #a8ceb7;
	stop-opacity: 1;
}

#stop4912-8 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914-8 {
	stop-color: #d1eeff;
	stop-opacity: 1;
}

#stop4996-5 {
	stop-color: #d1eeff;
	stop-opacity: 1;
}

#stop4998-5 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop5059-1 {
	stop-color: #677da9;
	stop-opacity: 1;
}

#stop5061-1 {
	stop-color: #b4bbd1;
	stop-opacity: 1;
}

#stop4964-2-7 {
	stop-color: #7cb87d;
	stop-opacity: 1;
}

#stop4966-1-6 {
	stop-color: #a8ceb7;
	stop-opacity: 1;
}

#stop5059-0 {
	stop-color: #677da9;
	stop-opacity: 1;
}

#stop5061-9 {
	stop-color: #b4bbd1;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect3997-9 {
	fill: #f4fcff;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//det_pane_hide.svg#linearGradient4121);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path4959 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//det_pane_hide.svg#radialGradient4968);
	fill-opacity: 1;
	stroke: #379860;
	stroke-width: 1.34009874;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#rect4816-1-1-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//det_pane_hide.svg#linearGradient5065);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4959-6 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//det_pane_hide.svg#radialGradient5038);
	fill-opacity: 1;
	stroke: #379860;
	stroke-width: 1.34009874;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#rect4853-82-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//det_pane_hide.svg#linearGradient5062);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//det_pane_hide.svg#linearGradient4975-2);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4816-1-1-4-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//det_pane_hide.svg#linearGradient4190);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4959-6-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//det_pane_hide.svg#radialGradient5038-5);
	fill-opacity: 1;
	stroke: #379860;
	stroke-width: 1.34009874;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#rect4816-1-1-4-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//det_pane_hide.svg#linearGradient4058);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

