@import "stock";

#stop5070 {
	stop-color: #7593c1;
	stop-opacity: 1;
}

#stop5072 {
	stop-color: #5a78ab;
	stop-opacity: 1;
}

#stop5058 {
	stop-color: #97adce;
	stop-opacity: 1;
}

#stop5066 {
	stop-color: #e0e8f0;
	stop-opacity: 1;
}

#stop5064 {
	stop-color: #98aece;
	stop-opacity: 1;
}

#stop5060 {
	stop-color: #7e9bca;
	stop-opacity: 1;
}

#stop4900 {
	stop-color: #ffd991;
	stop-opacity: 1;
}

#stop4902 {
	stop-color: #ffcd6f;
	stop-opacity: 0;
}

#stop4848 {
	stop-color: #937e48;
	stop-opacity: 1;
}

#stop4850 {
	stop-color: #7c724f;
	stop-opacity: 1;
}

#stop4900-4 {
	stop-color: #ffd991;
	stop-opacity: 1;
}

#stop4902-8 {
	stop-color: #ffcd6f;
	stop-opacity: 0;
}

#stop4848-5 {
	stop-color: #937e48;
	stop-opacity: 1;
}

#stop4850-5 {
	stop-color: #7c724f;
	stop-opacity: 1;
}

#stop4900-6 {
	stop-color: #ffd991;
	stop-opacity: 1;
}

#stop4902-1 {
	stop-color: #ffcd6f;
	stop-opacity: 0;
}

#stop4848-8 {
	stop-color: #937e48;
	stop-opacity: 1;
}

#stop4850-57 {
	stop-color: #7c724f;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect5053 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//display_selected_mb.svg#linearGradient5062);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//display_selected_mb.svg#linearGradient5074);
	stroke-opacity: 1;
}

#g5023 {
	opacity: 0.75;
}

#rect4035 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//display_selected_mb.svg#linearGradient5041);
	fill-opacity: 1;
	stroke: none;
}

#rect4035-1 {
	fill: #f9b44d;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//display_selected_mb.svg#linearGradient5043);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//display_selected_mb.svg#linearGradient5045);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-17 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//display_selected_mb.svg#linearGradient5047);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1 {
	fill: #f9b44d;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//display_selected_mb.svg#linearGradient5049);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7-4-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//display_selected_mb.svg#linearGradient5051);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g5017 {
	opacity: 0.5;
}

#rect4035-18 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//display_selected_mb.svg#linearGradient5035);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-9 {
	fill: #f9b44d;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//display_selected_mb.svg#linearGradient5037);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7-4-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//display_selected_mb.svg#linearGradient5039);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

