@import "stock";

#stop5160 {
	stop-color: #5c7aaa;
	stop-opacity: 1;
}

#stop5162 {
	stop-color: #5c7aaa;
	stop-opacity: 0;
}

#stop4873 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4875 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4873-4 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4875-0 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4873-4-1 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4875-0-5 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4910-7-2-7 {
	stop-color: #986443;
	stop-opacity: 1;
}

#stop4912-6-2-9 {
	stop-color: #994f1b;
	stop-opacity: 1;
}

#stop5079-7 {
	stop-color: #e4cf94;
	stop-opacity: 1;
}

#stop5087-6 {
	stop-color: #ede0ba;
	stop-opacity: 1;
}

#stop5085-1 {
	stop-color: #c1aa7e;
	stop-opacity: 1;
}

#stop5081-8 {
	stop-color: #ad8865;
	stop-opacity: 1;
}

#stop5302 {
	stop-color: #4d4d4d;
	stop-opacity: 1;
}

#stop5308 {
	stop-color: #727272;
	stop-opacity: 1;
}

#stop5304 {
	stop-color: #4d4d4d;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect4035-17 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1 {
	fill: #91a5c7;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7-1 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//edtsrclkup_co.svg#linearGradient4877);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7-4-5 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//edtsrclkup_co.svg#linearGradient4879);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g5029-8 {
	display: inline;
}

#rect4035-17-2 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5 {
	fill: #91a5c7;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7-1-5 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//edtsrclkup_co.svg#linearGradient4877-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7-4-5-1 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//edtsrclkup_co.svg#linearGradient4879-9);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g5029-8-7 {
	display: inline;
}

#rect4035-17-2-6 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//edtsrclkup_co.svg#linearGradient5164);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-4 {
	fill: #91a5c7;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7-1-5-2 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//edtsrclkup_co.svg#linearGradient4877-1-7);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7-4-5-1-3 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//edtsrclkup_co.svg#linearGradient4879-9-2);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-2 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-2-2 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-2-2-1 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-2-2-6 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#layer1-5 {
	display: inline;
}

#path5226-6-14-1-5 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//edtsrclkup_co.svg#linearGradient5173);
	stroke-width: 1;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path5424 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffcb72;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path5226-6-14-1-5-2 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #e5a856;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path5226-6-14-1-5-2-7 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #fbbc67;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path5426 {
	opacity: 0.5;
	fill: none;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	filter: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//edtsrclkup_co.svg#filter5428);
}

#path5006 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//edtsrclkup_co.svg#linearGradient5196);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5006-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//edtsrclkup_co.svg#linearGradient5306);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

