@import "stock";

#stop5120 {
	stop-color: #2f81ad;
	stop-opacity: 1;
}

#stop5122 {
	stop-color: #a7d7f1;
	stop-opacity: 1;
}

#stop4924 {
	stop-color: #0d5c9a;
	stop-opacity: 1;
}

#stop4926 {
	stop-color: #4077a7;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#path4108-9-1-6-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//export_brkpts.svg#radialGradient5099);
	fill-opacity: 1.0;
	stroke: #214b6c;
	stroke-width: 1.05162108000000010;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path4108-9-1-6 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//export_brkpts.svg#radialGradient5031);
	fill-opacity: 1;
	stroke: #214b6c;
	stroke-width: 1.05162108;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path4920 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//export_brkpts.svg#linearGradient4929);
	fill-opacity: 1;
	stroke: none;
}

