@import "stock";

#stop17994 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop17996 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop11619 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop11621 {
	stop-color: #dfe8f8;
	stop-opacity: 1;
}

#stop9331 {
	stop-color: #e1ebf8;
	stop-opacity: 1;
}

#stop9333 {
	stop-color: #f5f8fc;
	stop-opacity: 1;
}

#stop4863 {
	stop-color: #a2b3cf;
	stop-opacity: 1;
}

#stop4865 {
	stop-color: #869abe;
	stop-opacity: 1;
}

#stop4904 {
	stop-color: #c7b571;
	stop-opacity: 1;
}

#stop4906 {
	stop-color: #9a9a8f;
	stop-opacity: 1;
}

#stop4863-8 {
	stop-color: #a2b3cf;
	stop-opacity: 1;
}

#stop4865-2 {
	stop-color: #869abe;
	stop-opacity: 1;
}

#stop4863-5 {
	stop-color: #a2b3cf;
	stop-opacity: 1;
}

#stop4865-8 {
	stop-color: #869abe;
	stop-opacity: 1;
}

#stop4863-5-4 {
	stop-color: #a2b3cf;
	stop-opacity: 1;
}

#stop4865-8-6 {
	stop-color: #869abe;
	stop-opacity: 1;
}

#stop4904-66-6 {
	stop-color: #c7b571;
	stop-opacity: 1;
}

#stop4906-07-4 {
	stop-color: #9a9a8f;
	stop-opacity: 1;
}

#stop4996-5-4-4 {
	stop-color: #d1eeff;
	stop-opacity: 1;
}

#stop4998-5-4-4 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4912-8-3-2 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914-8-5-4 {
	stop-color: #d1eeff;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect4001-2-7 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//metharg_obj.svg#linearGradient8536);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#rect4001-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//metharg_obj.svg#linearGradient11581);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-7-3 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//metharg_obj.svg#linearGradient11552);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0-3 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//metharg_obj.svg#linearGradient4975-2-7-8);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//metharg_obj.svg#linearGradient8485);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
}

#rect4001-2-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//metharg_obj.svg#linearGradient11598);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-1-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//metharg_obj.svg#linearGradient8482);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-1-7-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//metharg_obj.svg#linearGradient8479);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-1-7-3 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//metharg_obj.svg#linearGradient8476);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-1-7-3-9 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//metharg_obj.svg#linearGradient8473);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#layer1-4 {
	display: inline;
}

#rect4115 {
	fill: #4b6ea2;
	fill-opacity: 1;
	stroke: none;
}

#rect4115-1 {
	fill: #4b6ea2;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4115-7 {
	fill: #4b6ea2;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4115-1-4 {
	fill: #4b6ea2;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4115-1-4-0 {
	fill: #4b6ea2;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0-3-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//metharg_obj.svg#linearGradient17998);
	fill-opacity: 1;
	stroke: none;
	display: inline;
	opacity: 0.5;
}

#rect4853-82-7-3-8 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//metharg_obj.svg#linearGradient18000);
	fill-opacity: 1;
	stroke: none;
	display: inline;
	opacity: 0.5;
}

