@import "stock";

#stop8305 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop8313 {
	stop-color: #ffffff;
	stop-opacity: 0.25;
}

#stop8311 {
	stop-color: #ffffff;
	stop-opacity: 0.251;
}

#stop8307 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop8200 {
	stop-color: #f8e088;
	stop-opacity: 1;
}

#stop8206 {
	stop-color: #f8d880;
	stop-opacity: 1;
}

#stop8202 {
	stop-color: #f8f0b0;
	stop-opacity: 1;
}

#stop8192 {
	stop-color: #a07818;
	stop-opacity: 1;
}

#stop8194 {
	stop-color: #b89828;
	stop-opacity: 1;
}

#stop8182 {
	stop-color: #36825e;
	stop-opacity: 1;
}

#stop8184 {
	stop-color: #257550;
	stop-opacity: 1;
}

#stop8166 {
	stop-color: #accf8e;
	stop-opacity: 1;
}

#stop8176 {
	stop-color: #93c586;
	stop-opacity: 1;
}

#stop8174 {
	stop-color: #58ab71;
	stop-opacity: 1;
}

#stop8172 {
	stop-color: #4da766;
	stop-opacity: 1;
}

#stop8178 {
	stop-color: #61af61;
	stop-opacity: 1;
}

#stop8168 {
	stop-color: #78ba5e;
	stop-opacity: 1;
}

#stop8192-2 {
	stop-color: #a07818;
	stop-opacity: 1;
}

#stop8194-7 {
	stop-color: #b89828;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#layer1-0 {
	display: inline;
}

#g8159 {
	display: inline;
}

#path8117 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//resume_co.svg#linearGradient8170);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//resume_co.svg#linearGradient8186);
	stroke-width: 1.29209423000000000;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#rect8188 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//resume_co.svg#linearGradient8204);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//resume_co.svg#linearGradient8196);
	stroke-width: 1.29209423;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#rect8188-7-4 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//resume_co.svg#linearGradient8309);
	stroke-width: 0.93548667;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//resume_co.svg#filter8319);
}

#rect8188-7 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//resume_co.svg#linearGradient8230);
	stroke-width: 1.29209423;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

