@import "stock";

#stop7257 {
	stop-color: #c28a1d;
	stop-opacity: 1;
}

#stop7259 {
	stop-color: #c28a1d;
	stop-opacity: 0;
}

#stop7086 {
	stop-color: #fefaef;
	stop-opacity: 1;
}

#stop7088 {
	stop-color: #fce5a7;
	stop-opacity: 1;
}

#stop7078 {
	stop-color: #956413;
	stop-opacity: 1;
}

#stop7080 {
	stop-color: #c38b1d;
	stop-opacity: 1;
}

#stop7031 {
	stop-color: #3a435f;
	stop-opacity: 1;
}

#stop7033 {
	stop-color: #5689b4;
	stop-opacity: 1;
}

#stop7031-3 {
	stop-color: #3a435f;
	stop-opacity: 1;
}

#stop7033-1 {
	stop-color: #5689b4;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect6259 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//stepinto_co.svg#radialGradient7035);
	fill-opacity: 1;
	stroke: none;
}

#rect6259-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//stepinto_co.svg#radialGradient7055);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect3968 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//stepinto_co.svg#linearGradient7074);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//stepinto_co.svg#linearGradient7082);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#rect3968-7 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	opacity: 0.5;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//stepinto_co.svg#linearGradient7263);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

