@import "stock";

#stop8663 {
	stop-color: #c6e7f9;
	stop-opacity: 1;
}

#stop8665 {
	stop-color: #f9fcff;
	stop-opacity: 1;
}

#stop8655 {
	stop-color: #676656;
	stop-opacity: 1;
}

#stop8657 {
	stop-color: #9e884e;
	stop-opacity: 1;
}

#stop8339 {
	stop-color: #4e86ca;
	stop-opacity: 1;
}

#stop8341 {
	stop-color: #4e86ca;
	stop-opacity: 0;
}

#stop8139 {
	stop-color: #326097;
	stop-opacity: 1;
}

#stop8141 {
	stop-color: #2e73c5;
	stop-opacity: 1;
}

#stop8155-7 {
	stop-color: #75b1e3;
	stop-opacity: 1;
}

#stop8157-7 {
	stop-color: #c1def7;
	stop-opacity: 1;
}

#stop8339-4 {
	stop-color: #4e86ca;
	stop-opacity: 1;
}

#stop8341-2 {
	stop-color: #4e86ca;
	stop-opacity: 0;
}

#stop8155-7-78 {
	stop-color: #75b1e3;
	stop-opacity: 1;
}

#stop8157-7-0 {
	stop-color: #c1def7;
	stop-opacity: 1;
}

#stop8139-9 {
	stop-color: #326097;
	stop-opacity: 1;
}

#stop8141-8 {
	stop-color: #2e73c5;
	stop-opacity: 1;
}

#stop7542-8-7-5 {
	stop-color: #ffffff;
	stop-opacity: 0.502;
}

#stop7544-8-2-0 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop7546-1-7-9 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7548-98-9-2 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7542-4-4-3-3 {
	stop-color: #ffffff;
	stop-opacity: 0.502;
}

#stop7544-5-3-8-5 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop7546-2-9-1-2 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7548-9-2-0-9 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7274-6-0-1-7-4 {
	stop-color: #8f6c10;
	stop-opacity: 1;
}

#stop7276-66-6-3-9-1 {
	stop-color: #c9a645;
	stop-opacity: 1;
}

#stop5070-8-0 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop5072-3-6 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4530-0-5-0-5 {
	stop-color: #e0c576;
	stop-opacity: 1;
}

#stop4532-7-9-3-3 {
	stop-color: #9e7916;
	stop-opacity: 1;
}

#stop6283-0-2-2-1-2-0-1 {
	stop-color: #f7f9fb;
	stop-opacity: 1;
}

#stop6285-5-0-9-7-6-9-9 {
	stop-color: #ffd680;
	stop-opacity: 1;
}

#stop5070-8-0-4 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop5072-3-6-1 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4530-0-5-0-5-8 {
	stop-color: #e0c576;
	stop-opacity: 1;
}

#stop4532-7-9-3-3-6 {
	stop-color: #9e7916;
	stop-opacity: 1;
}

#stop6283-0-2-2-1-2-0-1-6 {
	stop-color: #f7f9fb;
	stop-opacity: 1;
}

#stop6285-5-0-9-7-6-9-9-1 {
	stop-color: #ffd680;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect8093 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/eview16//new_persp.svg#linearGradient8681);
	fill-opacity: 1;
	stroke: none;
}

#rect8093-5 {
	fill: #4e86ca;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/eview16//new_persp.svg#linearGradient8683);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
}

#rect8093-5-9 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/eview16//new_persp.svg#linearGradient8685);
	fill-opacity: 1;
	stroke: none;
}

#rect8093-5-9-8 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/eview16//new_persp.svg#linearGradient8687);
	fill-opacity: 1;
	stroke: none;
}

#g8643 {
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/eview16//new_persp.svg#linearGradient8697);
	stroke-opacity: 1;
}

#rect8645 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/eview16//new_persp.svg#linearGradient8689);
	stroke-width: 3.58380508;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path8647 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/eview16//new_persp.svg#linearGradient8691);
	stroke-width: 3.58380508;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path8649 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/eview16//new_persp.svg#linearGradient8693);
	stroke-width: 3.58380508;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path8651 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/eview16//new_persp.svg#linearGradient8695);
	stroke-width: 3.58380508;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#rect8093-5-8 {
	fill: #4e86ca;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/eview16//new_persp.svg#linearGradient8699);
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#rect8093-5-9-6 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/eview16//new_persp.svg#linearGradient8701);
	fill-opacity: 1;
	stroke: none;
}

#rect8093-5-9-8-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/eview16//new_persp.svg#linearGradient8703);
	fill-opacity: 1;
	stroke: none;
}

#g11029 {
	stroke: #694337;
	stroke-opacity: 1;
	display: inline;
}

#g4145-3 {
	opacity: 0.48945151;
	fill: #945112;
	fill-opacity: 1;
	display: inline;
}

#rect6501-4-4-6-9 {
	opacity: 0.85;
	fill: #945112;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect6501-4-4-1-7-0 {
	opacity: 0.85;
	fill: #945112;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect6501-4-4-7-0-7 {
	opacity: 0.85;
	fill: #945112;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect6501-4-4-93-5-1 {
	opacity: 0.85;
	fill: #945112;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect6501-4-5-9 {
	opacity: 0.85;
	fill: #945112;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g4145 {
	display: inline;
}

#rect6501-4-4-6 {
	opacity: 0.85;
	fill: #fee9ac;
	fill-opacity: 0.96862745;
	stroke: none;
	display: inline;
}

#rect6501-4-4-1-7 {
	opacity: 0.85;
	fill: #fee9ac;
	fill-opacity: 0.96862745;
	stroke: none;
	display: inline;
}

#rect6501-4-4-7-0 {
	opacity: 0.85;
	fill: #fee9ac;
	fill-opacity: 0.96862745;
	stroke: none;
	display: inline;
}

#rect6501-4-4-93-5 {
	opacity: 0.85;
	fill: #fee9ac;
	fill-opacity: 0.96862745;
	stroke: none;
	display: inline;
}

#rect6501-4-5 {
	opacity: 0.85;
	fill: #fee9ac;
	fill-opacity: 0.96862745;
	stroke: none;
	display: inline;
}

#g6432 {
	display: inline;
}

#path5581-1-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/eview16//new_persp.svg#linearGradient6323-7-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-8 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/eview16//new_persp.svg#linearGradient5084-3-3-2);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/eview16//new_persp.svg#linearGradient5086-8-0-8);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-6 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/eview16//new_persp.svg#linearGradient5082-1-0-8);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-1 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/eview16//new_persp.svg#linearGradient5078-8-2-1);
	fill-opacity: 1;
	stroke: none;
}

#path5581-1-1-89 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/eview16//new_persp.svg#linearGradient5076-5-2-9);
	fill-opacity: 1;
	stroke: none;
}

#path5581-1-1-79 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/eview16//new_persp.svg#linearGradient5088-1-4-8);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g4514 {
	display: inline;
}

#rect3910 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/eview16//new_persp.svg#radialGradient3091-1-9-6-4);
	fill-opacity: 1;
	stroke: #a27d18;
	stroke-width: 1.03243756;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5581-5-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/eview16//new_persp.svg#linearGradient3093-5-2-7-0);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

