@import "gotham";

#stop4975 {
	stop-color: #000000;
	stop-opacity: 1;
}

#stop4977 {
	stop-color: #000000;
	stop-opacity: 0;
}

#stop4983 {
	stop-color: #359b58;
	stop-opacity: 1;
}

#stop4991 {
	stop-color: #72b649;
	stop-opacity: 1;
}

#stop4989 {
	stop-color: #72b649;
	stop-opacity: 1;
}

#stop4985 {
	stop-color: #359b58;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g8472 {
	display: inline;
}

#layer1-3 {
	display: inline;
}

#rect4944 {
	fill: #a5adba;
	fill-opacity: 1;
	stroke: #17325d;
	stroke-width: 0.5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
}

#path4971 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	opacity: 0.5;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/ovr16//pinned_ovr.svg#linearGradient5265);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path4884-8 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/ovr16//pinned_ovr.svg#linearGradient5267);
	fill-opacity: 1;
	stroke: #00953e;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect4923 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/ovr16//pinned_ovr.svg#linearGradient5269);
	fill-opacity: 1;
	stroke: #00953e;
	stroke-width: 0.83458644;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path4884 {
	fill: #7db551;
	fill-opacity: 1;
	stroke: #00953e;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

