@import "gotham";

#stop5083 {
	stop-color: #ffe296;
	stop-opacity: 1;
}

#stop5089 {
	stop-color: #f8d880;
	stop-opacity: 1;
}

#stop5085 {
	stop-color: #fffcd3;
	stop-opacity: 1;
}

#stop5093 {
	stop-color: #c6852e;
	stop-opacity: 1;
}

#stop5095 {
	stop-color: #e1a555;
	stop-opacity: 1;
}

#path4292 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/ovr16//warning_ovr.svg#linearGradient4230);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/ovr16//warning_ovr.svg#linearGradient4232);
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
}

#path4253 {
	fill: #502800;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4253-7 {
	fill: #502800;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

