@import "gotham";

#stop15159 {
	stop-color: #eeb9bd;
	stop-opacity: 1;
}

#stop15161 {
	stop-color: #d65b65;
	stop-opacity: 1;
}

#stop15153 {
	stop-color: #ffe3a7;
	stop-opacity: 1;
}

#stop15155 {
	stop-color: #ffbd2c;
	stop-opacity: 1;
}

#stop10509 {
	stop-color: #5f392d;
	stop-opacity: 1;
}

#stop10511 {
	stop-color: #9e7058;
	stop-opacity: 1;
}

#stop10513 {
	stop-color: #794f40;
	stop-opacity: 1;
}

#stop10515 {
	stop-color: #794f40;
	stop-opacity: 1;
}

#stop10517 {
	stop-color: #794f40;
	stop-opacity: 1;
}

#stop10519 {
	stop-color: #9e7058;
	stop-opacity: 1;
}

#stop10522 {
	stop-color: #5f392d;
	stop-opacity: 1;
}

#stop11150-4-72-3-9-7 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop11152-9-0-7-3-8 {
	stop-color: #2692d1;
	stop-opacity: 1;
}

#stop11150-7-5-9-3-8-2 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-8-4-35-5-4-6 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop11150-9-6-9-5-6-9 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-6-7-6-3-3-3 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop11150-7-8-3-8-7-0-6 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-8-8-6-3-2-5-1 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop10509-4 {
	stop-color: #2692d1;
	stop-opacity: 1;
}

#stop10511-2 {
	stop-color: #4aa3d7;
	stop-opacity: 1;
}

#stop10513-9 {
	stop-color: #49a4d9;
	stop-opacity: 1;
}

#stop10515-0 {
	stop-color: #2692d1;
	stop-opacity: 1;
}

#stop10517-9 {
	stop-color: #49a2d7;
	stop-opacity: 1;
}

#stop10519-2 {
	stop-color: #4aa3d7;
	stop-opacity: 1;
}

#stop10522-7 {
	stop-color: #2692d1;
	stop-opacity: 1;
}

#stop18857 {
	stop-color: #a4b1c7;
	stop-opacity: 1;
}

#stop18859 {
	stop-color: #e1e9f8;
	stop-opacity: 0;
}

#stop18861 {
	stop-color: #e7eefa;
	stop-opacity: 0;
}

#stop18810 {
	stop-color: #a4b1c7;
	stop-opacity: 1;
}

#stop18816 {
	stop-color: #e1e9f8;
	stop-opacity: 1;
}

#stop18812 {
	stop-color: #e7eefa;
	stop-opacity: 1;
}

#stop18545 {
	stop-color: #a79c68;
	stop-opacity: 1;
}

#stop18555 {
	stop-color: #687692;
	stop-opacity: 1;
}

#stop18553 {
	stop-color: #8c99a6;
	stop-opacity: 1;
}

#stop18551 {
	stop-color: #7b8da7;
	stop-opacity: 1;
}

#stop18547 {
	stop-color: #5e78a8;
	stop-opacity: 1;
}

#stop4864 {
	stop-color: #937323;
	stop-opacity: 1;
}

#stop4866 {
	stop-color: #79601d;
	stop-opacity: 1;
}

#stop5158 {
	stop-color: #fdf3cb;
	stop-opacity: 1;
}

#stop5166 {
	stop-color: #fdf3cb;
	stop-opacity: 1;
}

#stop5164 {
	stop-color: #a77e1c;
	stop-opacity: 0.502;
}

#stop5160 {
	stop-color: #a77e1c;
	stop-opacity: 0.5;
}

#rect8610 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#stop4888 {
	stop-color: #dec26f;
	stop-opacity: 1;
}

#stop4890 {
	stop-color: #fce69e;
	stop-opacity: 1;
}

#stop4880 {
	stop-color: #925218;
	stop-opacity: 1;
}

#stop4882 {
	stop-color: #c1aa38;
	stop-opacity: 1;
}

#rect8610-4 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#stop3785 {
	stop-color: #dce2f4;
	stop-opacity: 1;
}

#stop3787 {
	stop-color: #c4cee4;
	stop-opacity: 1;
}

#stop3789 {
	stop-color: #c4cef4;
	stop-opacity: 1;
}

#stop4905-2-3 {
	stop-color: #ffe69f;
	stop-opacity: 1;
}

#stop4911-4-9 {
	stop-color: #ffcb2f;
	stop-opacity: 1;
}

#stop4907-3-6 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4796-8 {
	stop-color: #3a9ed6;
	stop-opacity: 1;
}

#stop4802-2 {
	stop-color: #2692d1;
	stop-opacity: 1;
}

#stop4798-4 {
	stop-color: #3a9ed6;
	stop-opacity: 1;
}

#stop4697-8 {
	stop-color: #1385cc;
	stop-opacity: 1;
}

#stop4719-3 {
	stop-color: #6eb6e0;
	stop-opacity: 1;
}

#stop4713-8 {
	stop-color: #e3eefa;
	stop-opacity: 1;
}

#stop4711-6 {
	stop-color: #c1ddf0;
	stop-opacity: 1;
}

#stop4715-9 {
	stop-color: #53aadb;
	stop-opacity: 1;
}

#stop4717-8 {
	stop-color: #2692d1;
	stop-opacity: 1;
}

#stop4699-6 {
	stop-color: #1385cc;
	stop-opacity: 1;
}

#stop3829 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop3835 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3831 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop10800-5-2-1-8-20-6-4-9-8-2 {
	stop-color: #f61212;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-24-8-4-3-2 {
	stop-color: #d31919;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-8-4-2-9-2 {
	stop-color: #df2020;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
	opacity: 1;
}

#image5764 {
	image-rendering: optimizeSpeed;
}

#g11331-3-1-1-2 {
	display: inline;
}

#g13408-8-9 {
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-opacity: 1;
}

#text6430-2 {
	font-style: normal;
	font-weight: normal;
	font-size: 13.58917427px;
	line-height: 125%;
	font-family: Sans;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#path10796-2-6-2 {
	font-style: normal;
	font-weight: normal;
	font-size: medium;
	line-height: 125%;
	font-family: Sans;
	letter-spacing: 0px;
	word-spacing: 0px;
	display: inline;
	fill: url(../../../../eclipse-svg/org.eclipse.e4.tools.context.spy/icons//letter-l-icon.svg#linearGradient4293);
	fill-opacity: 1;
	stroke: #5c5c5c;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#text3782-3 {
	font-style: normal;
	font-weight: normal;
	font-size: 15.56941891px;
	line-height: 125%;
	font-family: Sans;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#text4259 {
	font-style: normal;
	font-weight: normal;
	font-size: 11.25px;
	line-height: 125%;
	font-family: sans-serif;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#text52463 {
	font-style: normal;
	font-weight: normal;
	font-size: 11.25px;
	line-height: 125%;
	font-family: sans-serif;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #000000;
	fill-opacity: 1;
	stroke: #f4f4f4;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path5769 {
	fill: none;
	fill-rule: evenodd;
	stroke: #f4f4f4;
	stroke-width: 2;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#layer3 {
	display: none;
	opacity: 1;
}

#layer1-9 {
	display: inline;
}

#rect4838-1 {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: Sans;
	inkscape-font-specification: Sans;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: none;
	stroke: url(../../../../eclipse-svg/org.eclipse.e4.tools.context.spy/icons//letter-l-icon.svg#linearGradient8465);
	stroke-width: 2.47056675;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
	marker: none;
	enable-background: accumulate;
}

#rect4838 {
	display: inline;
	fill: url(../../../../eclipse-svg/org.eclipse.e4.tools.context.spy/icons//letter-l-icon.svg#linearGradient8469);
	fill-opacity: 1;
	stroke: none;
}

#rect4838-4 {
	display: inline;
	fill: none;
	stroke: url(../../../../eclipse-svg/org.eclipse.e4.tools.context.spy/icons//letter-l-icon.svg#linearGradient8471);
	stroke-width: 0.87896538;
	stroke-opacity: 1;
	filter: url(../../../../eclipse-svg/org.eclipse.e4.tools.context.spy/icons//letter-l-icon.svg#filter5152);
}

#rect4894 {
	display: inline;
	opacity: 0.25;
	fill: #a77e1c;
	fill-opacity: 1;
	stroke: none;
}

#rect4894-7 {
	display: inline;
	opacity: 0.25;
	fill: #a77e1c;
	fill-opacity: 1;
	stroke: none;
}

#rect4894-7-4 {
	display: inline;
	opacity: 0.25;
	fill: #a77e1c;
	fill-opacity: 1;
	stroke: none;
}

#path4066 {
	display: inline;
	fill: #785b13;
	fill-opacity: 1;
	stroke: none;
}

#rect4836 {
	display: inline;
	fill: #785b13;
	fill-opacity: 1;
	stroke: none;
}

#rect4838-12 {
	display: inline;
	fill: none;
	stroke: url(../../../../eclipse-svg/org.eclipse.e4.tools.context.spy/icons//letter-l-icon.svg#linearGradient8473);
	stroke-width: 1.64704454;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#layer1-7 {
	display: inline;
}

#g11331-3-1-1 {
	display: inline;
}

#g13408-8 {
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-opacity: 1;
}

#g4953 {
	display: inline;
}

