@import "stock";

#stop4164 {
	stop-color: #ec525c;
	stop-opacity: 1;
}

#stop4166 {
	stop-color: #ec8a84;
	stop-opacity: 1;
}

#stop5105-5-4 {
	stop-color: #b3ffc6;
	stop-opacity: 1;
}

#stop7550-07-0 {
	stop-color: #93e8c0;
	stop-opacity: 1;
}

#stop7548-6-9 {
	stop-color: #69b5b5;
	stop-opacity: 1;
}

#stop5107-7-48 {
	stop-color: #1c5ea6;
	stop-opacity: 1;
}

#stop6356 {
	stop-color: #6994ad;
	stop-opacity: 1;
}

#stop6358 {
	stop-color: #095a98;
	stop-opacity: 1;
}

#layer1-7 {
	display: inline;
}

#rect4160 {
	opacity: 1;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/ovr16//internal_co.svg#radialGradient4168);
	fill-opacity: 1;
	stroke: #dc625c;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

