@import "stock";

#stop4740 {
	stop-color: #8cc861;
	stop-opacity: 1;
}

#stop4746 {
	stop-color: #4aa766;
	stop-opacity: 1;
}

#stop4742 {
	stop-color: #c2dd97;
	stop-opacity: 1;
}

#stop4743 {
	stop-color: #30825a;
	stop-opacity: 1;
}

#stop4745 {
	stop-color: #106643;
	stop-opacity: 1;
}

#stop4740-4 {
	stop-color: #8cc861;
	stop-opacity: 1;
}

#stop4746-0 {
	stop-color: #4aa766;
	stop-opacity: 1;
}

#stop4742-9 {
	stop-color: #c2dd97;
	stop-opacity: 1;
}

#stop4743-8 {
	stop-color: #30825a;
	stop-opacity: 1;
}

#stop4745-2 {
	stop-color: #106643;
	stop-opacity: 1;
}

#path3360 {
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#layer1-6-4 {
	display: inline;
	fill: #ffffff;
	stroke: #ffffff;
	filter: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/ovr16//run_co.svg#filter3854);
}

#rect3968-5 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2.20189905000000020;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#layer1-6 {
	display: inline;
}

#rect3968 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/ovr16//run_co.svg#linearGradient6032);
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/ovr16//run_co.svg#linearGradient6034);
	stroke-width: 2.20189905;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

