@import "gotham";

#stop5118 {
	stop-color: #fffab5;
	stop-opacity: 1;
}

#stop5120 {
	stop-color: #f0e660;
	stop-opacity: 1;
}

#stop5110 {
	stop-color: #fffab9;
	stop-opacity: 1;
}

#stop5112 {
	stop-color: #adaa7d;
	stop-opacity: 1;
}

#stop4974-1 {
	stop-color: #c7e3e7;
	stop-opacity: 1;
}

#stop4976-54 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g4399 {
	display: inline;
}

#g4087 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//macrodef_obj.svg#linearGradient4418-3);
	fill-opacity: 1;
}

#g5102 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//macrodef_obj.svg#linearGradient5106);
}

#path4332 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//macrodef_obj.svg#linearGradient5123);
	fill-opacity: 1;
	stroke: #243253;
	stroke-width: 0.24506418;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path4330 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//macrodef_obj.svg#linearGradient5114);
	fill-opacity: 1;
	stroke: #5e562f;
	stroke-width: 0.24506418;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path5125 {
	fill: none;
	stroke: #243253;
	stroke-width: 0.40000001;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

