@import "gotham";

#stop5330-9 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop5332-8 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop5211-9 {
	stop-color: #131313;
	stop-opacity: 1;
}

#stop5213-4 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#stop5070-8-0 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop5072-3-6 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4530-0-5-0-5 {
	stop-color: #e0c576;
	stop-opacity: 1;
}

#stop4532-7-9-3-3 {
	stop-color: #9e7916;
	stop-opacity: 1;
}

#stop6283-0-2-2-1-2-0-1 {
	stop-color: #f7f9fb;
	stop-opacity: 1;
}

#stop6285-5-0-9-7-6-9-9 {
	stop-color: #ffd680;
	stop-opacity: 1;
}

#stop3846 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3848 {
	stop-color: #dddddd;
	stop-opacity: 1;
}

#stop3850 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop3862 {
	stop-color: #424242;
	stop-opacity: 1;
}

#stop3864 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#stop5330-9-7 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3842 {
	stop-color: #dddddd;
	stop-opacity: 1;
}

#stop5332-8-9 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop5211-9-5 {
	stop-color: #4c4c4c;
	stop-opacity: 1;
}

#stop5213-4-6 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#stop3854 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3856 {
	stop-color: #dddddd;
	stop-opacity: 1;
}

#stop3858 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop3868 {
	stop-color: #717188;
	stop-opacity: 1;
}

#stop3870 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#stop3846-9 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3848-7 {
	stop-color: #dddddd;
	stop-opacity: 1;
}

#stop3850-0 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop3862-9 {
	stop-color: #424242;
	stop-opacity: 1;
}

#stop3864-3 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#stop5330-9-7-4 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3842-1 {
	stop-color: #dddddd;
	stop-opacity: 1;
}

#stop5332-8-9-4 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop5211-9-5-0 {
	stop-color: #4c4c4c;
	stop-opacity: 1;
}

#stop5213-4-6-1 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#stop3854-8 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3856-8 {
	stop-color: #dddddd;
	stop-opacity: 1;
}

#stop3858-6 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop3868-7 {
	stop-color: #717188;
	stop-opacity: 1;
}

#stop3870-0 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g5354 {
	display: inline;
}

#g5354-1 {
	display: inline;
}

#path5232-7 {
	fill: #424242;
	fill-opacity: 1;
	stroke: none;
}

#rect5291-2 {
	fill: #424242;
	fill-opacity: 1;
	stroke: none;
}

#path3990 {
	fill: none;
	stroke: #424242;
	stroke-width: 0.98245722px;
	stroke-linecap: butt;
	stroke-linejoin: round;
	stroke-opacity: 1;
}

#rect5291-0-9 {
	fill: #424242;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5232-0-8 {
	fill: #424242;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path3990-6 {
	fill: none;
	stroke: #424242;
	stroke-width: 0.98245722px;
	stroke-linecap: butt;
	stroke-linejoin: round;
	stroke-opacity: 1;
	display: inline;
}

#rect4812 {
	fill: #717188;
	fill-opacity: 1;
	stroke: none;
}

#path5160-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//new_ant_project.svg#radialGradient5366-0-3-9);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//new_ant_project.svg#linearGradient5368-1-6-1);
	stroke-width: 0.73476011;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path5160-4-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//new_ant_project.svg#radialGradient5370-9-9-0);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//new_ant_project.svg#linearGradient5372-5-5-3);
	stroke-width: 0.74850893;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-4-3-3 {
	fill: none;
	stroke: #b9b9bc;
	stroke-width: 0.74850893;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-8 {
	fill: none;
	stroke: #b9b9bc;
	stroke-width: 0.73476011;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-18 {
	fill: none;
	stroke: #b9b9bc;
	stroke-width: 0.73476011;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-1 {
	fill: #717188;
	fill-opacity: 1;
	stroke: #717188;
	stroke-width: 0.73476011;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-1-9 {
	fill: none;
	stroke: #717188;
	stroke-width: 0.73476011;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-4-3 {
	fill: none;
	stroke: #b9b9bc;
	stroke-width: 0.74850893;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-4-2 {
	fill: none;
	stroke: #717188;
	stroke-width: 0.74850893;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-2-30 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//new_ant_project.svg#radialGradient5374-4-7-6);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//new_ant_project.svg#linearGradient5376-4-5-0);
	stroke-width: 0.76813984;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-2-6 {
	fill: none;
	stroke: #717188;
	stroke-width: 0.76813984;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-2-3 {
	fill: none;
	stroke: #b8b8b8;
	stroke-width: 0.76813984;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-2-3-5 {
	fill: none;
	stroke: #b8b8b8;
	stroke-width: 0.76813984;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-2-3-6 {
	fill: none;
	stroke: #888888;
	stroke-width: 0.76813984;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#g6432 {
	display: inline;
}

#path5581-1-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//new_ant_project.svg#linearGradient6323-7);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-8 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//new_ant_project.svg#linearGradient5084-3-3);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//new_ant_project.svg#linearGradient5086-8-0);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-6 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//new_ant_project.svg#linearGradient5082-1-0);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//new_ant_project.svg#linearGradient5078-8-2);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-89 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//new_ant_project.svg#linearGradient5076-5-2);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//new_ant_project.svg#linearGradient5074-2-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-79 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//new_ant_project.svg#linearGradient5088-1-4);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g4514 {
	display: inline;
}

#rect3910 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//new_ant_project.svg#radialGradient3091-1-9-6);
	fill-opacity: 1;
	stroke: #a27d18;
	stroke-width: 1.03243756;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5581-5-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//new_ant_project.svg#linearGradient3093-5-2-7);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

