/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop4924 {
  stop-color: #b08b21;
  stop-opacity: 1; }

#stop4926 {
  stop-color: #eee9da;
  stop-opacity: 1; }

#stop4907 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop4910 {
  stop-color: #b6cce1;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#g6722-9-8 {
  stroke: #47698f;
  stroke-opacity: 1;
  display: inline; }

#path6702-4-8-8 {
  fill: none;
  stroke: #7795b6;
  stroke-width: 0.95709281999999996px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  display: inline; }

#path6702-1-1 {
  fill: none;
  stroke: #47698f;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  display: inline; }

#g6722-9-8-8 {
  stroke: #47698f;
  stroke-opacity: 1;
  display: inline; }

#path6702-4-8-8-5 {
  fill: none;
  stroke: #7795b6;
  stroke-width: 0.95709282px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  display: inline; }

#path6702-1-1-1 {
  fill: none;
  stroke: #47698f;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  display: inline; }

#path4116 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//taskdef_obj.svg#radialGradient4920);
  fill-opacity: 1;
  stroke: #47698f;
  stroke-width: 0.44999999;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#rect4914 {
  color: #000000;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//taskdef_obj.svg#linearGradient4929);
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 0.40000001;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }
