@import "gotham";

#layer1 {
	display: inline;
}

#g6722-9-8 {
	stroke: #47698f;
	stroke-opacity: 1;
	display: inline;
}

#path6702-4-8-8 {
	fill: none;
	stroke: #7795b6;
	stroke-width: 0.95709281999999996px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
}

#path6702-1-1 {
	fill: none;
	stroke: #47698f;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
}

#g6722-9-8-8 {
	stroke: #47698f;
	stroke-opacity: 1;
	display: inline;
}

#path6702-4-8-8-5 {
	fill: none;
	stroke: #7795b6;
	stroke-width: 0.95709282px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
}

#path6702-1-1-1 {
	fill: none;
	stroke: #47698f;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
}

#path7118 {
	fill: #3979bd;
	fill-opacity: 1;
	stroke: #3979bd;
	stroke-opacity: 1;
	stroke-width: 0.5;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#rect7138 {
	color: #000000;
	fill: #e06b5e;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #e06b5e;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	stroke-opacity: 1;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#path7118-2 {
	fill: #3979bd;
	fill-opacity: 1;
	stroke: #3979bd;
	stroke-width: 0.5;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

