@import "stock";

#stop3800 {
	stop-color: #3f3f9f;
	stop-opacity: 1;
}

#stop3802 {
	stop-color: #3f5fbf;
	stop-opacity: 1;
}

#stop3790 {
	stop-color: #d8bb8c;
	stop-opacity: 1;
}

#stop3792 {
	stop-color: #dfc38d;
	stop-opacity: 1;
}

#stop3782 {
	stop-color: #fdf2d0;
	stop-opacity: 1;
}

#stop3784 {
	stop-color: #fffdf9;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-6-4-9-8-2 {
	stop-color: #7564b1;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-24-8-4-3-2 {
	stop-color: #5d4aa1;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-8-4-2-9-2 {
	stop-color: #9283c3;
	stop-opacity: 1;
}

#rect3002 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ds.ui/icons/obj16//component_obj.svg#linearGradient3786);
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ds.ui/icons/obj16//component_obj.svg#linearGradient3794);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path3796 {
	fill: #b0c0e0;
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ds.ui/icons/obj16//component_obj.svg#linearGradient3804);
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

