@import "stock";

#stop4136 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop4138 {
	stop-color: #8b9aae;
	stop-opacity: 1;
}

#stop4128 {
	stop-color: #8393a9;
	stop-opacity: 1;
}

#stop4130 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop3354 {
	stop-color: #5f708c;
	stop-opacity: 1;
}

#stop3356 {
	stop-color: #8494a9;
	stop-opacity: 1;
}

#stop3348 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop3350 {
	stop-color: #8392a8;
	stop-opacity: 1;
}

#stop3342 {
	stop-color: #a6b2c2;
	stop-opacity: 1;
}

#stop3344 {
	stop-color: #c3ccd9;
	stop-opacity: 1;
}

#stop7493 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop7495 {
	stop-color: #a0b0cc;
	stop-opacity: 1;
}

#stop7256 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop7258 {
	stop-color: #95a3ba;
	stop-opacity: 1;
}

#stop7256-5 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop7258-7 {
	stop-color: #95a3ba;
	stop-opacity: 1;
}

#stop7256-0 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop7258-0 {
	stop-color: #95a3ba;
	stop-opacity: 1;
}

#stop7256-5-4 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop7258-7-4 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop7256-5-4-9 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop7258-7-4-5 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop7256-5-4-2 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop7258-7-4-9 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop7256-5-4-2-9 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop7258-7-4-9-1 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop7256-5-4-2-9-5 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop7258-7-4-9-1-8 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop7256-5-4-2-9-5-8 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop7258-7-4-9-1-8-9 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop7256-5-4-2-9-5-2 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop7258-7-4-9-1-8-6 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop7256-5-4-2-9-5-2-2 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop7258-7-4-9-1-8-6-6 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop7256-5-4-2-9-5-8-6 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop7258-7-4-9-1-8-9-0 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop7256-5-4-2-9-5-8-6-8 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop7258-7-4-9-1-8-9-0-8 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop4136-3 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop4138-8 {
	stop-color: #8b9aae;
	stop-opacity: 1;
}

#stop4128-7 {
	stop-color: #8393a9;
	stop-opacity: 1;
}

#stop4130-7 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop3348-3 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop3350-1 {
	stop-color: #8392a8;
	stop-opacity: 1;
}

#stop3354-9 {
	stop-color: #5f708c;
	stop-opacity: 1;
}

#stop3356-5 {
	stop-color: #8494a9;
	stop-opacity: 1;
}

#stop3342-0 {
	stop-color: #a6b2c2;
	stop-opacity: 1;
}

#stop3344-3 {
	stop-color: #c3ccd9;
	stop-opacity: 1;
}

#stop7256-5-4-2-9-5-8-6-1 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop7258-7-4-9-1-8-9-0-5 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop4136-3-6 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop4138-8-8 {
	stop-color: #8b9aae;
	stop-opacity: 1;
}

#stop3348-3-8 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop3350-1-5 {
	stop-color: #8392a8;
	stop-opacity: 1;
}

#stop3354-9-5 {
	stop-color: #5f708c;
	stop-opacity: 1;
}

#stop3356-5-2 {
	stop-color: #8494a9;
	stop-opacity: 1;
}

#stop3342-0-3 {
	stop-color: #a6b2c2;
	stop-opacity: 1;
}

#stop3344-3-3 {
	stop-color: #c3ccd9;
	stop-opacity: 1;
}

#stop7256-5-4-2-9-5-8-6-1-7 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop7258-7-4-9-1-8-9-0-5-4 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop4136-6 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop4138-3 {
	stop-color: #8b9aae;
	stop-opacity: 1;
}

#stop3348-0 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop3350-5 {
	stop-color: #8392a8;
	stop-opacity: 1;
}

#stop3354-0 {
	stop-color: #5f708c;
	stop-opacity: 1;
}

#stop3356-59 {
	stop-color: #8494a9;
	stop-opacity: 1;
}

#stop3342-9 {
	stop-color: #a6b2c2;
	stop-opacity: 1;
}

#stop3344-0 {
	stop-color: #c3ccd9;
	stop-opacity: 1;
}

#stop7256-5-4-2-9-5-8-6-4 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#stop7258-7-4-9-1-8-9-0-9 {
	stop-color: #5b6c89;
	stop-opacity: 1;
}

#g4544 {
	fill: #ffffff;
	display: inline;
}

#rect4546 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect4548 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect4550 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect4552 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect4554 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect4556 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect4558 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect4560 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect4562 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#layer1 {
	display: inline;
}

#rect7244-4-4-0-2-1-6-5-1 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect7244-4-4-0-2-1-6 {
	color: #000000;
	fill: #c1c9d6;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect7244-4-4-0-2-1-9-2 {
	color: #000000;
	fill: #c1c9d6;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect7244-4-4 {
	color: #000000;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ds.ui/icons/obj16//properties_obj.svg#linearGradient4151);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect7244-4-4-0 {
	color: #000000;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ds.ui/icons/obj16//properties_obj.svg#linearGradient4153);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect7244-4-4-0-2 {
	color: #000000;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ds.ui/icons/obj16//properties_obj.svg#linearGradient4155);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect7244-4-4-0-2-1 {
	color: #000000;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ds.ui/icons/obj16//properties_obj.svg#linearGradient4157);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect7244-4-4-0-2-1-9 {
	color: #000000;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ds.ui/icons/obj16//properties_obj.svg#linearGradient4159);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect7244-4-4-0-2-1-6-5 {
	color: #000000;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ds.ui/icons/obj16//properties_obj.svg#linearGradient4161);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#g4530 {
	opacity: 0.5;
}

#g4140-9-0 {
	display: inline;
	fill: #ffffff;
	filter: url(../../../../../eclipse-svg/org.eclipse.pde.ds.ui/icons/obj16//properties_obj.svg#filter4405);
	stroke: #ffffff;
	stroke-width: 2;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#rect7244-4-4-0-2-1-6-5-1-6-1 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #ffffff;
	stroke-width: 2;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#rect7244-4-4-0-2-1-6-4-7 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #ffffff;
	stroke-width: 2;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#rect7244-4-4-0-2-1-9-2-9-1 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #ffffff;
	stroke-width: 2;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#rect7244-4-4-6-2 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #ffffff;
	stroke-width: 2;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#rect7244-4-4-0-20-1 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #ffffff;
	stroke-width: 2;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#rect7244-4-4-0-2-9-0 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #ffffff;
	stroke-width: 2;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#rect7244-4-4-0-2-1-1-4 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #ffffff;
	stroke-width: 2;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#rect7244-4-4-0-2-1-9-4-4 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #ffffff;
	stroke-width: 2;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#rect7244-4-4-0-2-1-6-5-9-6 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #ffffff;
	stroke-width: 2;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#g4140-9 {
	display: inline;
}

#rect7244-4-4-0-2-1-6-5-1-6 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect7244-4-4-0-2-1-6-4 {
	color: #000000;
	fill: #c1c9d6;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect7244-4-4-0-2-1-9-2-9 {
	color: #000000;
	fill: #c1c9d6;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect7244-4-4-6 {
	color: #000000;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ds.ui/icons/obj16//properties_obj.svg#linearGradient4151-2);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect7244-4-4-0-20 {
	color: #000000;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ds.ui/icons/obj16//properties_obj.svg#linearGradient4153-8);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect7244-4-4-0-2-9 {
	color: #000000;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ds.ui/icons/obj16//properties_obj.svg#linearGradient4155-5);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect7244-4-4-0-2-1-1 {
	color: #000000;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ds.ui/icons/obj16//properties_obj.svg#linearGradient4157-6);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect7244-4-4-0-2-1-9-4 {
	color: #000000;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ds.ui/icons/obj16//properties_obj.svg#linearGradient4159-5);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect7244-4-4-0-2-1-6-5-9 {
	color: #000000;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ds.ui/icons/obj16//properties_obj.svg#linearGradient4207);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

