@import "stock";

#stop3778 {
	stop-color: #fdf2d0;
	stop-opacity: 1;
}

#stop3780 {
	stop-color: #fffdf9;
	stop-opacity: 1;
}

#stop3790 {
	stop-color: #d8bb8c;
	stop-opacity: 1;
}

#stop3792 {
	stop-color: #dfc38d;
	stop-opacity: 1;
}

#stop3782 {
	stop-color: #fdf2d0;
	stop-opacity: 1;
}

#stop3784 {
	stop-color: #fffdf9;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-6-4-9-8-2 {
	stop-color: #7564b1;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-24-8-4-3-2 {
	stop-color: #5d4aa1;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-8-4-2-9-2 {
	stop-color: #9283c3;
	stop-opacity: 1;
}

#path3796 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ds.ui/icons/obj16//reference_obj.svg#linearGradient3782);
	fill-opacity: 1;
	stroke: #d8bb8c;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

