@import "stock";

#stop5593-0 {
	stop-color: #e0e566;
	stop-opacity: 1;
}

#stop5595-5 {
	stop-color: #82c448;
	stop-opacity: 1;
}

#stop5585-3 {
	stop-color: #426e4a;
	stop-opacity: 1;
}

#stop5587-3 {
	stop-color: #669f71;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#path5581 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//includeMode_filter.svg#linearGradient5618);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//includeMode_filter.svg#linearGradient5620);
	stroke-width: 0.89473408;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

