@import "stock";

#stop13852-4-9 {
	stop-color: #807e66;
	stop-opacity: 1;
}

#stop13854-7-9 {
	stop-color: #ccab63;
	stop-opacity: 1;
}

#stop13858-8-7 {
	stop-color: #807e66;
	stop-opacity: 1;
}

#stop13860-4-7 {
	stop-color: #ccab63;
	stop-opacity: 1;
}

#stop13801-4-8 {
	stop-color: #b9772f;
	stop-opacity: 1;
}

#stop13809-4-5 {
	stop-color: #f2dc91;
	stop-opacity: 1;
}

#stop13807-7-9 {
	stop-color: #fbdc8b;
	stop-opacity: 1;
}

#stop13811-8-3 {
	stop-color: #e6bd7a;
	stop-opacity: 1;
}

#stop13803-6-3 {
	stop-color: #ba772f;
	stop-opacity: 1;
}

#stop4863-1-6 {
	stop-color: #acbcd5;
	stop-opacity: 1;
}

#stop4865-2-2 {
	stop-color: #869abe;
	stop-opacity: 1;
}

#stop4863-1 {
	stop-color: #acbcd5;
	stop-opacity: 1;
}

#stop4865-2 {
	stop-color: #869abe;
	stop-opacity: 1;
}

#path6206 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#stop4846-8-4 {
	stop-color: #606060;
	stop-opacity: 1;
}

#stop4848-8-9 {
	stop-color: #787878;
	stop-opacity: 1;
}

#stop4854-4-1 {
	stop-color: #707070;
	stop-opacity: 1;
}

#stop4856-0-2 {
	stop-color: #a0a0a0;
	stop-opacity: 1;
}

#stop4863 {
	stop-color: #acbcd5;
	stop-opacity: 1;
}

#stop4865 {
	stop-color: #869abe;
	stop-opacity: 1;
}

#stop4879 {
	stop-color: #9aaccb;
	stop-opacity: 1;
}

#stop4881 {
	stop-color: #869abe;
	stop-opacity: 1;
}

#stop4896 {
	stop-color: #e0c88f;
	stop-opacity: 1;
}

#stop4898 {
	stop-color: #d5b269;
	stop-opacity: 1;
}

#stop4904 {
	stop-color: #bb9033;
	stop-opacity: 1;
}

#stop4906 {
	stop-color: #8f7941;
	stop-opacity: 1;
}

#stop4996 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop4998 {
	stop-color: #dce7f7;
	stop-opacity: 1;
}

#stop5143 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop5145 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#stop5149 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop5151 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#path4919 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#stop3951 {
	stop-color: #b77a27;
	stop-opacity: 0.97079873;
}

#stop3953 {
	stop-color: #c98a2e;
	stop-opacity: 1;
}

#stop3957 {
	stop-color: #c6882e;
	stop-opacity: 1;
}

#stop3959 {
	stop-color: #fae99e;
	stop-opacity: 1;
}

#stop3961 {
	stop-color: #f6df96;
	stop-opacity: 1;
}

#stop3963 {
	stop-color: #d9b271;
	stop-opacity: 1;
}

#stop3965 {
	stop-color: #c8892e;
	stop-opacity: 1;
}

#stop3969 {
	stop-color: #cb8b2e;
	stop-opacity: 1;
}

#stop3971 {
	stop-color: #bc7823;
	stop-opacity: 1;
}

#stop3975 {
	stop-color: #ffd580;
	stop-opacity: 1;
}

#stop3977 {
	stop-color: #fff5cc;
	stop-opacity: 1;
}

#stop3957-1 {
	stop-color: #c38536;
	stop-opacity: 1;
}

#stop3959-0 {
	stop-color: #f2dc91;
	stop-opacity: 1;
}

#stop3961-7 {
	stop-color: #fbdc8b;
	stop-opacity: 1;
}

#stop3963-3 {
	stop-color: #e6bd7a;
	stop-opacity: 1;
}

#stop3965-1 {
	stop-color: #ba772f;
	stop-opacity: 1;
}

#stop4904-3 {
	stop-color: #bfb688;
	stop-opacity: 1;
}

#stop4906-9 {
	stop-color: #8391b1;
	stop-opacity: 1;
}

#path4167 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#layer1 {
	display: inline;
}

#layer1-3 {
	display: inline;
}

#rect4001-3 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//workset.svg#linearGradient5000);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4884 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//workset.svg#linearGradient4900);
	fill-opacity: 1;
	stroke: none;
}

#rect4001 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//workset.svg#linearGradient4908);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
}

#rect4001-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//workset.svg#linearGradient4867);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-1-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//workset.svg#linearGradient4869);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-1-7-9 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//workset.svg#linearGradient3066);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-1-7-9-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//workset.svg#linearGradient3100);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#layer1-9-1 {
	opacity: 0.8;
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//workset.svg#filter4173);
}

#g13862-2 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 10.75141525;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#g13813-7 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 9.08378983;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#rect13693-3-9 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 9.08378983;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect13693-1 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 9.08378983;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path13797-0 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 9.08378983;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#layer1-9 {
	display: inline;
}

#g13862 {
	display: inline;
}

#rect13693-3 {
	fill: #fdf7eb;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//workset.svg#linearGradient3939);
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect13693 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//workset.svg#linearGradient4933);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//workset.svg#linearGradient4935);
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path13797 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//workset.svg#linearGradient3945);
	stroke-width: 3.02792978;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

