@import "gotham";

#stop7334 {
	stop-color: #fef4d6;
	stop-opacity: 1;
}

#stop7336 {
	stop-color: #fecc74;
	stop-opacity: 1;
}

#stop4998-5 {
	stop-color: #02468c;
	stop-opacity: 1;
}

#stop5000-5 {
	stop-color: #0e62a4;
	stop-opacity: 1;
}

#stop4892 {
	stop-color: #2857bd;
	stop-opacity: 1;
}

#stop4894 {
	stop-color: #3d5384;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g8472 {
	display: inline;
}

#layer1-9 {
	display: inline;
}

#rect4179 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/ovr16//linkwarn_ovr.svg#linearGradient9645);
	fill-opacity: 1;
	stroke: #a0712e;
	stroke-width: 1;
	stroke-opacity: 1;
}

#g9683 {
	fill: #000000;
	fill-opacity: 1;
	stroke: #efb849;
	stroke-opacity: 1;
}

#path4142 {
	font-size: 15.07241726px;
	font-style: normal;
	font-variant: normal;
	font-weight: 900;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #000000;
	fill-opacity: 1;
	stroke: #efb849;
	stroke-width: 0.80000001;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	font-family: Kozuka Mincho Pr6N H;
	inkscape-font-specification: Kozuka Mincho Pr6N H Heavy;
}

#rect4912 {
	font-size: 15.07241726px;
	font-style: normal;
	font-variant: normal;
	font-weight: 900;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #000000;
	fill-opacity: 1;
	stroke: #efb849;
	stroke-width: 0.80000001;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	font-family: Kozuka Mincho Pr6N H;
	inkscape-font-specification: Kozuka Mincho Pr6N H Heavy;
}

