@import "gotham";

#stop4951 {
	stop-color: #224367;
	stop-opacity: 1;
}

#stop4953 {
	stop-color: #abb9d4;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g8472 {
	display: inline;
}

#rect4179 {
	fill: #e3ecf5;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/ovr16//link_ovr.svg#linearGradient4955);
	stroke-width: 1.06988704000000001;
	stroke-opacity: 1;
}

#g4955 {
	fill: #17325d;
	fill-opacity: 1;
	display: inline;
}

#path4183 {
	fill: #17325d;
	fill-opacity: 1;
	stroke: none;
}

