@import "gotham";

#stop5330-9 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop5332-8 {
	stop-color: #464646;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g5354 {
	display: inline;
}

#rect3994 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #c5c5a8;
	stroke-width: 1;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path3990 {
	fill: none;
	stroke: #000000;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path5160 {
	fill: url(../../../../eclipse-svg/org.eclipse.ant.tests.ui/icons//ant.svg#radialGradient5366-0);
	fill-opacity: 1;
	stroke: #000000;
	stroke-width: 0.89999998;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path5160-4 {
	fill: url(../../../../eclipse-svg/org.eclipse.ant.tests.ui/icons//ant.svg#radialGradient5370-9);
	fill-opacity: 1;
	stroke: #000000;
	stroke-width: 0.89999998;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-2 {
	fill: url(../../../../eclipse-svg/org.eclipse.ant.tests.ui/icons//ant.svg#radialGradient5374-4);
	fill-opacity: 1;
	stroke: #000000;
	stroke-width: 0.89999998;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path3982 {
	fill: none;
	stroke: #000000;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path3984 {
	fill: none;
	stroke: #000000;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path3986 {
	fill: none;
	stroke: #000000;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path3988 {
	fill: none;
	stroke: #000000;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path3992 {
	fill: none;
	stroke: #000000;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

