/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop4886 {
  stop-color: #5a75a5;
  stop-opacity: 1; }

#stop4892 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop4888 {
  stop-color: #eab321;
  stop-opacity: 1; }

#stop4857 {
  stop-color: #5d78a7;
  stop-opacity: 1; }

#stop4859 {
  stop-color: #2c4882;
  stop-opacity: 1; }

#stop6895-8-7-7-0-1-2 {
  stop-color: #7795b6;
  stop-opacity: 1; }

#stop6897-2-6-9-2-4-3 {
  stop-color: #7795b6;
  stop-opacity: 1; }

#stop6895-8-7-0-7 {
  stop-color: #7795b6;
  stop-opacity: 1; }

#stop6897-2-6-5-3 {
  stop-color: #7795b6;
  stop-opacity: 1; }

#stop6801-4-0 {
  stop-color: #c89840;
  stop-opacity: 1; }

#stop6803-5-7 {
  stop-color: #798da2;
  stop-opacity: 1; }

#stop4974-6-9 {
  stop-color: #daedef;
  stop-opacity: 1; }

#stop4976-2-4 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop4974 {
  stop-color: #c7e3e7;
  stop-opacity: 1; }

#stop4976 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop5632 {
  stop-color: #d8bc68;
  stop-opacity: 1; }

#stop5634 {
  stop-color: #fff0c2;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#g4056 {
  font-size: 11.05178356px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  text-align: start;
  line-height: 125%;
  letter-spacing: 0px;
  word-spacing: 0px;
  writing-mode: lr-tb;
  text-anchor: start;
  fill: #236298;
  fill-opacity: 1;
  stroke: #236298;
  stroke-width: 0.24860173;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline;
  font-family: AustralianFlyingCorpsStencil;
  inkscape-font-specification: AustralianFlyingCorpsStencil; }

#path4047-6 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path4047 {
  fill: #0d5c9a;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path4863 {
  fill: #5974a4;
  fill-opacity: 1;
  stroke: #5873a3;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#path4085 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//exportzip_wiz.svg#linearGradient4890);
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//exportzip_wiz.svg#linearGradient4861);
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  fill-opacity: 1; }

#layer1-3 {
  display: inline; }

#g5253 {
  display: inline; }

#g4087 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//exportzip_wiz.svg#linearGradient4283);
  fill-opacity: 1; }

#rect6795 {
  color: #000000;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//exportzip_wiz.svg#linearGradient4279);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//exportzip_wiz.svg#linearGradient4281);
  stroke-width: 1.0431664;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#rect6891-5-7-31 {
  color: #000000;
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//exportzip_wiz.svg#linearGradient4336);
  stroke-width: 0.68103176;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#rect6891-5-7-3-9-8 {
  color: #000000;
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//exportzip_wiz.svg#linearGradient4333);
  stroke-width: 0.74271595;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#path5628 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//exportzip_wiz.svg#linearGradient4297);
  fill-opacity: 1;
  stroke: none; }
