@import "gotham";

#stop6457 {
	stop-color: #af9fd1;
	stop-opacity: 1;
}

#stop6459 {
	stop-color: #cbd6f5;
	stop-opacity: 1;
}

#stop5070-8 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop5072-3 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4825-5 {
	stop-color: #fefdef;
	stop-opacity: 1;
}

#stop4827-3 {
	stop-color: #fbdd83;
	stop-opacity: 1;
}

#stop4865-6 {
	stop-color: #ba9726;
	stop-opacity: 1;
}

#stop4867-5 {
	stop-color: #997413;
	stop-opacity: 1;
}

#stop4530-0-5 {
	stop-color: #e0c576;
	stop-opacity: 1;
}

#stop4532-7-9 {
	stop-color: #9e7916;
	stop-opacity: 1;
}

#stop6283-0-2-2-1-2 {
	stop-color: #f7f9fb;
	stop-opacity: 1;
}

#stop6285-5-0-9-7-6 {
	stop-color: #ffd680;
	stop-opacity: 1;
}

#rect13693-3 {
	font-size: 11.05178356000000051px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #fdf7eb;
	fill-opacity: 1;
	stroke: #0413e2;
	stroke-width: 0.99999994000000003;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	font-family: AustralianFlyingCorpsStencil;
	inkscape-font-specification: AustralianFlyingCorpsStencil;
}

#rect13693 {
	font-size: 11.05178356000000051px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newgroup_wiz.svg#linearGradient5313);
	fill-opacity: 1;
	stroke: #0308d5;
	stroke-width: 0.99999994000000003;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	font-family: AustralianFlyingCorpsStencil;
	inkscape-font-specification: AustralianFlyingCorpsStencil;
}

#path13797 {
	font-size: 11.05178356000000051px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: none;
	stroke: #536ef5;
	stroke-width: 0.99999994000000003;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	font-family: AustralianFlyingCorpsStencil;
	inkscape-font-specification: AustralianFlyingCorpsStencil;
}

#path5581-1-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newgroup_wiz.svg#linearGradient6323);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-8 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newgroup_wiz.svg#linearGradient5084-3);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newgroup_wiz.svg#linearGradient5086-8);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-6 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newgroup_wiz.svg#linearGradient5082-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newgroup_wiz.svg#linearGradient5078-8);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-89 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newgroup_wiz.svg#linearGradient5076-5);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newgroup_wiz.svg#linearGradient5074-2);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-79 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newgroup_wiz.svg#linearGradient5088-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g4514 {
	display: inline;
}

#rect3910 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newgroup_wiz.svg#radialGradient3091-1);
	fill-opacity: 1;
	stroke: #a27d18;
	stroke-width: 1.03243756;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5581-5-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newgroup_wiz.svg#linearGradient3093-5);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

