@import "gotham";

#stop4832 {
	stop-color: #2e49b0;
	stop-opacity: 1;
}

#stop4836 {
	stop-color: #565f9e;
	stop-opacity: 1;
}

#stop4834 {
	stop-color: #8591c8;
	stop-opacity: 0;
}

#stop4764 {
	stop-color: #ffd175;
	stop-opacity: 1;
}

#stop4766 {
	stop-color: #fff1c2;
	stop-opacity: 1;
}

#stop4758 {
	stop-color: #92b5eb;
	stop-opacity: 1;
}

#stop4760 {
	stop-color: #b1e1fd;
	stop-opacity: 1;
}

#stop4809 {
	stop-color: #2846b3;
	stop-opacity: 1;
}

#stop4811 {
	stop-color: #60649d;
	stop-opacity: 1;
}

#stop3969 {
	stop-color: #84909f;
	stop-opacity: 1;
}

#stop3971 {
	stop-color: #757c8a;
	stop-opacity: 1;
}

#stop3957 {
	stop-color: #c38536;
	stop-opacity: 0;
}

#stop3959 {
	stop-color: #f2dc91;
	stop-opacity: 1;
}

#stop3961 {
	stop-color: #fbdc8b;
	stop-opacity: 1;
}

#stop3963 {
	stop-color: #e6bd7a;
	stop-opacity: 1;
}

#stop3965 {
	stop-color: #ba772f;
	stop-opacity: 0;
}

#path4919 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#stop5070 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop5072 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4825 {
	stop-color: #fefdef;
	stop-opacity: 1;
}

#stop4827 {
	stop-color: #fbdd83;
	stop-opacity: 1;
}

#stop4865 {
	stop-color: #ba9726;
	stop-opacity: 1;
}

#stop4867 {
	stop-color: #997413;
	stop-opacity: 1;
}

#stop4530-0 {
	stop-color: #e0c576;
	stop-opacity: 1;
}

#stop4532-7 {
	stop-color: #9e7916;
	stop-opacity: 1;
}

#stop6283-0-2-2-1 {
	stop-color: #f7f9fb;
	stop-opacity: 1;
}

#stop6285-5-0-9-7 {
	stop-color: #ffd680;
	stop-opacity: 1;
}

#path4919-3 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#stop4791-4 {
	stop-color: #4e8fbd;
	stop-opacity: 1;
}

#stop4793-8 {
	stop-color: #30495a;
	stop-opacity: 1;
}

#g8717 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#path8719 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect8721 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.60383272;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#stop7542-4-4-3-3 {
	stop-color: #ffffff;
	stop-opacity: 0.502;
}

#stop7544-5-3-8-5 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop7546-2-9-1-2 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7548-9-2-0-9 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7274-6-0-1-7-4 {
	stop-color: #8f6c10;
	stop-opacity: 1;
}

#stop7276-66-6-3-9-1 {
	stop-color: #c9a645;
	stop-opacity: 1;
}

#path4919-6 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#stop3969-3 {
	stop-color: #d1ad79;
	stop-opacity: 1;
}

#stop3971-0 {
	stop-color: #ce9650;
	stop-opacity: 1;
}

#stop4809-4 {
	stop-color: #5a6eb9;
	stop-opacity: 1;
}

#stop4811-1 {
	stop-color: #7a82ab;
	stop-opacity: 1;
}

#stop4750 {
	stop-color: #958189;
	stop-opacity: 1;
}

#stop4752 {
	stop-color: #897b8d;
	stop-opacity: 1;
}

#stop4840 {
	stop-color: #9e6627;
	stop-opacity: 1;
}

#stop4842 {
	stop-color: #cf9852;
	stop-opacity: 1;
}

#stop4841-2 {
	stop-color: #5d70b8;
	stop-opacity: 1;
}

#stop4843-4 {
	stop-color: #757eab;
	stop-opacity: 1;
}

#stop4845 {
	stop-color: #567ebc;
	stop-opacity: 0;
}

#path4919-6-6 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#g17032 {
	fill: #ffffff;
}

#g17034 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#g17036 {
	fill: #ffffff;
	stroke: #ffffff;
}

#g17038 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#g17040 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#rect17042 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
}

#g17044 {
	fill: #ffffff;
	stroke: #ffffff;
}

#rect17046 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path17048 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path17050 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path17052 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#g17054 {
	fill: #ffffff;
	stroke: #ffffff;
}

#rect17056 {
	opacity: 0.5;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2.38039374;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newprj_wiz.svg#filter4929-9);
}

#rect17058 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.60383272;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path17060 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
}

#path17062 {
	fill: #ffffff;
	fill-opacity: 1;
	display: inline;
}

#g17066 {
	fill: #ffffff;
}

#g17068 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#g17070 {
	fill: #ffffff;
	stroke: #ffffff;
}

#g17072 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#g17074 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#rect17076 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
}

#g17078 {
	fill: #ffffff;
	stroke: #ffffff;
}

#rect17080 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path17082 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path17084 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path17086 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#g17088 {
	fill: #ffffff;
	stroke: #ffffff;
}

#rect17090 {
	opacity: 0.5;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2.38039374;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newprj_wiz.svg#filter4929-9);
}

#rect17092 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.60383272;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path17094 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
}

#path17096 {
	fill: #ffffff;
	fill-opacity: 1;
	display: inline;
}

#g17100 {
	fill: #ffffff;
}

#g17102 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#g17104 {
	fill: #ffffff;
	stroke: #ffffff;
}

#g17106 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#g17108 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#rect17110 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
}

#g17112 {
	fill: #ffffff;
	stroke: #ffffff;
}

#rect17114 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path17116 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path17118 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path17120 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#g17122 {
	fill: #ffffff;
	stroke: #ffffff;
}

#rect17124 {
	opacity: 0.5;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2.38039374;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newprj_wiz.svg#filter4929-9);
}

#rect17126 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.60383272;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path17128 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
}

#path17130 {
	fill: #ffffff;
	fill-opacity: 1;
	display: inline;
}

#path4919-6-9 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#g17460 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#g17462 {
	fill: #ffffff;
	stroke: #ffffff;
}

#g17464 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#g17466 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#rect17468 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
}

#g17470 {
	fill: #ffffff;
	stroke: #ffffff;
}

#rect17472 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path17474 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path17476 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path17478 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#g17480 {
	fill: #ffffff;
	stroke: #ffffff;
}

#rect17482 {
	opacity: 0.5;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2.38039374;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newprj_wiz.svg#filter4929-5);
}

#rect17484 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.60383272;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path17486 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
}

#layer1 {
	display: inline;
}

#g13862 {
	display: inline;
}

#layer1-9 {
	display: inline;
}

#g7590-7 {
	display: inline;
}

#g7827-7 {
	display: inline;
}

#g13862-2 {
	display: inline;
}

#layer1-2 {
	display: inline;
}

#g13862-4 {
	display: inline;
}

#rect3978 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newprj_wiz.svg#linearGradient4030);
	fill-opacity: 1;
	stroke: none;
}

#rect13693-3-3 {
	display: inline;
	fill: #fdf7eb;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newprj_wiz.svg#linearGradient3939-7);
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect13693-24 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newprj_wiz.svg#linearGradient4691);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newprj_wiz.svg#linearGradient4935);
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect13693-4 {
	display: inline;
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newprj_wiz.svg#linearGradient4795-2);
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#path13797-7 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newprj_wiz.svg#linearGradient4867);
	stroke-width: 3.02792978;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect13693-2-2-9 {
	display: inline;
	opacity: 0.5;
	fill: #000000;
	fill-opacity: 1;
	stroke: #000000;
	stroke-width: 2.38039374;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
	filter: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newprj_wiz.svg#filter4929-7);
}

#rect13693-2-9 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newprj_wiz.svg#linearGradient4776-9);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newprj_wiz.svg#linearGradient4778-0);
	stroke-width: 3.60383272;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#path4004 {
	fill: #767fad;
	fill-opacity: 1;
	stroke: none;
}

#path10927-5-7-9-7 {
	display: inline;
	opacity: 0.75;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	filter: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newprj_wiz.svg#filter17488);
}

#g7590-1-0 {
	display: inline;
	fill: #ffffff;
	stroke: #ffffff;
}

#rect6501-1-6-8 {
	display: inline;
	opacity: 0.85;
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 5.85503387;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
	filter: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newprj_wiz.svg#filter8410);
}

#g6432 {
	display: inline;
}

#path5581-1-1 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newprj_wiz.svg#linearGradient6323-7-1-1);
	fill-opacity: 1;
	stroke: none;
}

#path5581-1-1-8 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newprj_wiz.svg#linearGradient5084-3-3-2-6);
	fill-opacity: 1;
	stroke: none;
}

#path5581-1-1-7 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newprj_wiz.svg#linearGradient5086-8-0-8-5);
	fill-opacity: 1;
	stroke: none;
}

#path5581-1-1-6-0 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newprj_wiz.svg#linearGradient5082-1-0-8-1);
	fill-opacity: 1;
	stroke: none;
}

#path5581-1-1-1-1 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newprj_wiz.svg#linearGradient5078-8-2-1-4);
	fill-opacity: 1;
	stroke: none;
}

#path5581-1-1-89 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newprj_wiz.svg#linearGradient5076-5-2-9-8);
	fill-opacity: 1;
	stroke: none;
}

#path5581-1-1-2 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newprj_wiz.svg#linearGradient3500-5);
	fill-opacity: 1;
	stroke: none;
}

#path5581-1-1-79 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newprj_wiz.svg#linearGradient5088-1-4-8-6);
	fill-opacity: 1;
	stroke: none;
}

#g4514-8 {
	display: inline;
}

#rect3910-2 {
	display: inline;
	fill: #a27d18;
	fill-opacity: 1;
	stroke: #a27d18;
	stroke-width: 1.03243756;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path5581-5-5-3 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/etool16//newprj_wiz.svg#linearGradient4693);
	fill-opacity: 1;
	stroke: none;
}

