@import "stock";

#stop4927 {
	stop-color: #679fb0;
	stop-opacity: 1;
}

#stop4929 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4907 {
	stop-color: #3c7a16;
	stop-opacity: 1;
}

#stop4909 {
	stop-color: #72b649;
	stop-opacity: 1;
}

#stop4931 {
	stop-color: #d5f3ff;
	stop-opacity: 1;
}

#stop4934 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4902 {
	stop-color: #877e60;
	stop-opacity: 1;
}

#stop4904 {
	stop-color: #c0a753;
	stop-opacity: 1;
}

#stop4883 {
	stop-color: #68b3e1;
	stop-opacity: 1;
}

#stop4885 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4841 {
	stop-color: #4476aa;
	stop-opacity: 1;
}

#stop4843 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#image4314 {
	image-rendering: optimizeSpeed;
}

#rect4898 {
	color: #000000;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//pin_view.svg#linearGradient4936);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//pin_view.svg#linearGradient4915);
	stroke-width: 0.99999994;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
	marker: none;
	enable-background: accumulate;
}

#rect4069 {
	color: #000000;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//pin_view.svg#linearGradient4917);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.89999998;
	marker: none;
	enable-background: accumulate;
}

#rect4069-8 {
	color: #000000;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//pin_view.svg#linearGradient4919);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.89999998;
	marker: none;
	enable-background: accumulate;
}

#path4923 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//pin_view.svg#radialGradient4931);
	fill-opacity: 1;
	stroke: none;
}

#rect4913 {
	color: #000000;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: #000000;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.89999998;
	marker: none;
	enable-background: accumulate;
}

#rect4897 {
	color: #000000;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//pin_view.svg#linearGradient4921);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #007236;
	stroke-width: 0.87394124;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
	marker: none;
	enable-background: accumulate;
}

#path4127 {
	color: #000000;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: #72b649;
	fill-opacity: 1;
	stroke: #007236;
	stroke-width: 0.87394124;
	stroke-opacity: 1;
	marker: none;
	enable-background: accumulate;
}

