@import "stock";

#stop4121 {
	stop-color: #2b2b2b;
	stop-opacity: 1;
}

#stop4123 {
	stop-color: #686861;
	stop-opacity: 1;
}

#stop4115 {
	stop-color: #d8d8d8;
	stop-opacity: 1;
}

#stop4117 {
	stop-color: #d8d8d8;
	stop-opacity: 1;
}

#stop4854-4 {
	stop-color: #707070;
	stop-opacity: 1;
}

#stop4856-0 {
	stop-color: #a0a0a0;
	stop-opacity: 1;
}

#stop4846-8 {
	stop-color: #313131;
	stop-opacity: 1;
}

#stop4848-8 {
	stop-color: #696969;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect4043-2-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//search_remall.svg#linearGradient4109);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//search_remall.svg#linearGradient4111);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect4043-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//search_remall.svg#linearGradient4047);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//search_remall.svg#linearGradient4049);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

