@import "stock";

#stop4791 {
	stop-color: #4e8fbd;
	stop-opacity: 1;
}

#stop4793 {
	stop-color: #30495a;
	stop-opacity: 1;
}

#stop4775 {
	stop-color: #8e4694;
	stop-opacity: 1;
}

#stop4777 {
	stop-color: #8e4694;
	stop-opacity: 1;
}

#stop4765 {
	stop-color: #1b867b;
	stop-opacity: 1;
}

#stop4767 {
	stop-color: #1b867b;
	stop-opacity: 1;
}

#stop4791-6 {
	stop-color: #4e8fbd;
	stop-opacity: 1;
}

#stop4793-2 {
	stop-color: #30495a;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#path4771 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//alphab_sort_co.svg#linearGradient4779);
	fill-opacity: 1;
	stroke: none;
}

#path3986 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//alphab_sort_co.svg#linearGradient3058);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4758 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//alphab_sort_co.svg#linearGradient4769);
	fill-opacity: 1;
	stroke: none;
}

