@import "stock";

#stop5082-1-0 {
	stop-color: #9acbce;
	stop-opacity: 1;
}

#stop5084-3-8 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop5082-7 {
	stop-color: #9acbce;
	stop-opacity: 1;
}

#stop5084-2 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g5108-3 {
	display: inline;
}

#rect5076-6 {
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//collapseall.svg#linearGradient5178);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #8b96ab;
	stroke-width: 1;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#g5108 {
	display: inline;
}

#rect5076 {
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//collapseall.svg#linearGradient5113-12);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #8b96ab;
	stroke-width: 1;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect5088-0 {
	color: #000000;
	fill: #d5f3ff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect5088 {
	color: #000000;
	fill: #01467a;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

