@import "stock";

#stop5105 {
	stop-color: #fefdef;
	stop-opacity: 1;
}

#stop5107 {
	stop-color: #fce69e;
	stop-opacity: 1;
}

#stop4880-0 {
	stop-color: #4e8fbd;
	stop-opacity: 1;
}

#stop4882-9 {
	stop-color: #4d5a5d;
	stop-opacity: 1;
}

#stop4880-4-0 {
	stop-color: #4e8fbd;
	stop-opacity: 1;
}

#stop4882-0-6 {
	stop-color: #4d5a5d;
	stop-opacity: 1;
}

#stop4924 {
	stop-color: #77849a;
	stop-opacity: 1;
}

#stop4926 {
	stop-color: #38445d;
	stop-opacity: 1;
}

#stop4924-8 {
	stop-color: #77849a;
	stop-opacity: 1;
}

#stop4926-2 {
	stop-color: #38445d;
	stop-opacity: 1;
}

#g18671 {
	fill: #ffffff;
	display: inline;
}

#path18673 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path18675 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#path18677 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect18679 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#rect18681 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path18683 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#layer1-1 {
	display: inline;
}

#path4108-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//configure_buildpath_filters.svg#linearGradient5109);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4108 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//configure_buildpath_filters.svg#linearGradient4884);
	fill-opacity: 1;
	stroke: none;
}

#path4108-9 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//configure_buildpath_filters.svg#linearGradient4901);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4920 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//configure_buildpath_filters.svg#linearGradient4929);
	fill-opacity: 1;
	stroke: none;
}

#rect4920-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//configure_buildpath_filters.svg#linearGradient4946);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4108-1-6 {
	fill: #b57a13;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g18566 {
	display: inline;
}

#layer1-4-8 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 2.42094517;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//configure_buildpath_filters.svg#filter19457);
}

#g17594-9 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 2.00652146;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#path6139-6 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #ffffff;
	stroke-width: 2.00652146;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#path6139-5-2 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #ffffff;
	stroke-width: 2.00652146;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect9436-2 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #ffffff;
	stroke-width: 2.00652146;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#layer1-4 {
	display: inline;
}

#path6139 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #4d607b;
	stroke-width: 0.82881737;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#path6139-5 {
	color: #000000;
	fill: #4e8fbd;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #4d607b;
	stroke-width: 0.59773082;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect9436 {
	color: #000000;
	fill: #4d607b;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #384e6e;
	stroke-width: 0.5;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

