@import "stock";

#stop5083 {
	stop-color: #ffe296;
	stop-opacity: 1;
}

#stop5089 {
	stop-color: #f8d880;
	stop-opacity: 1;
}

#stop5085 {
	stop-color: #fffcd3;
	stop-opacity: 1;
}

#stop5093 {
	stop-color: #c6852e;
	stop-opacity: 1;
}

#stop5095 {
	stop-color: #e1a555;
	stop-opacity: 1;
}

#g25148 {
	fill: #ffffff;
	stroke: none;
	display: inline;
}

#g25150 {
	fill: #ffffff;
	stroke: none;
	display: inline;
}

#rect25152 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#path25154 {
	font-size: 7.68999243px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.27519909;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#g25156 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#g25158 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#path25160 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path25162 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
}

#path25164 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	display: inline;
}

#layer1-3 {
	display: inline;
}

#g8472-2 {
	display: inline;
}

#rect4244 {
	fill: #d8424f;
	fill-opacity: 1;
	stroke: none;
}

#path4187 {
	font-size: 7.68999243px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.27519909;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#layer1-8 {
	display: inline;
}

#g8472 {
	display: inline;
}

#path4292 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//configure_problem_severity.svg#linearGradient5087);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//configure_problem_severity.svg#linearGradient5097);
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4253 {
	fill: #502800;
	fill-opacity: 1;
	stroke: none;
}

#path4253-7 {
	fill: #502800;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g25137 {
	display: inline;
}

#layer1-4-9 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 2.42094517;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//configure_problem_severity.svg#filter25166);
}

#g17594-4 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 2.00652146;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#path6139-9 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #ffffff;
	stroke-width: 2.00652146;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#path6139-5-5 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #ffffff;
	stroke-width: 2.00652146;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect9436-2 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #ffffff;
	stroke-width: 2.00652146;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#layer1-4 {
	display: inline;
}

#path6139 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #4d607b;
	stroke-width: 0.82881737;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#path6139-5 {
	color: #000000;
	fill: #4e8fbd;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #4d607b;
	stroke-width: 0.59773082;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect9436 {
	color: #000000;
	fill: #4d607b;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #384e6e;
	stroke-width: 0.5;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

