@import "stock";

#stop3812 {
	stop-color: #d63131;
	stop-opacity: 0;
}

#stop3818 {
	stop-color: #d63131;
	stop-opacity: 0;
}

#stop3814 {
	stop-color: #d63131;
	stop-opacity: 1;
}

#g23775 {
	fill: #ffffff;
	display: inline;
}

#g23777 {
	fill: #ffffff;
}

#path23779 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path23781 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path23783 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#stop4996 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop4998 {
	stop-color: #dce7f7;
	stop-opacity: 1;
}

#stop4896 {
	stop-color: #e0c88f;
	stop-opacity: 1;
}

#stop4898 {
	stop-color: #d5b269;
	stop-opacity: 1;
}

#stop4904 {
	stop-color: #c7b571;
	stop-opacity: 1;
}

#stop4906 {
	stop-color: #9a9a8f;
	stop-opacity: 1;
}

#layer1-6 {
	display: inline;
}

#rect4001-3 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//configure_annotations.svg#linearGradient5000);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4884 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//configure_annotations.svg#linearGradient4900);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//configure_annotations.svg#linearGradient4884);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#g23643 {
	display: inline;
}

#path22855 {
	fill: none;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//configure_annotations.svg#filter23785);
}

#layer1-4-3 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 2.42094517;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//configure_annotations.svg#filter23789);
}

#g17594-1 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 2.00652146;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#path6139-4 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #ffffff;
	stroke-width: 2.00652146;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#path6139-5-2 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #ffffff;
	stroke-width: 2.00652146;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect9436-0 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #ffffff;
	stroke-width: 2.00652146;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#path22855-1 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//configure_annotations.svg#radialGradient3816);
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-opacity: 1;
	display: inline;
}

#layer1-4 {
	display: inline;
}

#path6139 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #4d607b;
	stroke-width: 0.82881737;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#path6139-5 {
	color: #000000;
	fill: #4e8fbd;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #4d607b;
	stroke-width: 0.59773082;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect9436 {
	color: #000000;
	fill: #4d607b;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #384e6e;
	stroke-width: 0.5;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

