@import "stock";

#stop4840 {
	stop-color: #4177af;
	stop-opacity: 1;
}

#stop4846 {
	stop-color: #14518f;
	stop-opacity: 1;
}

#stop4842 {
	stop-color: #6ea2d8;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g11331-3-1-1 {
	display: inline;
}

#g13408-8 {
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-opacity: 1;
}

#path3971 {
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//default_co.svg#linearGradient4844);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #105c9c;
	stroke-width: 0.47365916;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

