@import "stock";

#stop4897 {
	stop-color: #6f8db9;
	stop-opacity: 1;
}

#stop4899 {
	stop-color: #1b639e;
	stop-opacity: 1;
}

#stop4888 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop4890 {
	stop-color: #e4edf9;
	stop-opacity: 1;
}

#stop4106 {
	stop-color: #c7b571;
	stop-opacity: 1;
}

#stop4108 {
	stop-color: #989891;
	stop-opacity: 1;
}

#stop5137-4 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop5139-0 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#stop5143-8 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop5145-8 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#stop5149-5 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop5151-5 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#stop4863-1 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop4865-52 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#stop4896-8 {
	stop-color: #e0c88f;
	stop-opacity: 1;
}

#stop4898-5 {
	stop-color: #d5b269;
	stop-opacity: 1;
}

#stop4996-1 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop4998-89 {
	stop-color: #dce7f7;
	stop-opacity: 1;
}

#path11552 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#rect11554 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#stop4885-5-1-5-4 {
	stop-color: #ebf9ff;
	stop-opacity: 1;
}

#stop4887-5-1-5-4 {
	stop-color: #fcffff;
	stop-opacity: 1;
}

#stop4912-8-8-7-2-7 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914-8-8-6-3-2 {
	stop-color: #c3e9ff;
	stop-opacity: 1;
}

#stop4996-5-4-2-5-4 {
	stop-color: #c3e9ff;
	stop-opacity: 1;
}

#stop4998-5-0-3-0-7 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#path9916 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#layer1 {
	display: inline;
}

#rect4001-3 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//hide_ignored.svg#linearGradient4087);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4884 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//hide_ignored.svg#linearGradient4089);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//hide_ignored.svg#linearGradient4091);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#rect4001-1-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//hide_ignored.svg#linearGradient4095);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-1-7-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//hide_ignored.svg#linearGradient4097);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-1-7-4-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//hide_ignored.svg#linearGradient4099);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-1-7-4-0-9 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//hide_ignored.svg#linearGradient4102);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4114 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//hide_ignored.svg#linearGradient4980);
	fill-opacity: 1;
	stroke: none;
}

#rect4116 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//hide_ignored.svg#linearGradient4982);
	fill-opacity: 1;
	stroke: none;
}

#rect4116-4 {
	fill: #5e76a3;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4116-4-8 {
	fill: #5e76a3;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4116-4-8-8 {
	fill: #5e76a3;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g9721-1 {
	opacity: 0.5;
	fill: #000000;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//hide_ignored.svg#filter10686);
}

#rect3997-9-1-1-2-0 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #000000;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect3997-9-1-2-4 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #000000;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect4853-82-7-1-0 {
	fill: #000000;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0-6-7 {
	fill: #000000;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4167-8-9 {
	fill: #000000;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g9721 {
	display: inline;
}

#rect3997-9-1-1-2 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//hide_ignored.svg#linearGradient9728-2);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect3997-9-1-2 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #8b96ab;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect4853-82-7-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//hide_ignored.svg#linearGradient9730-8);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0-6 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//hide_ignored.svg#linearGradient9732-5);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4167-8 {
	fill: #334e6f;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g11537-7 {
	display: inline;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#layer1-8-9 {
	stroke: #ffffff;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//hide_ignored.svg#filter11560);
	stroke-width: 1.98979177;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#g11331-3-1-1-5 {
	stroke: #ffffff;
	display: inline;
	stroke-width: 7.13102593;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#g13408-8-9 {
	fill: #737986;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-opacity: 1;
	stroke-width: 7.13102593;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#g6124-3-2 {
	stroke: #ffffff;
	display: inline;
	stroke-width: 1.98979177;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#text6430-9 {
	font-size: 13.58917427000000100px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	font-family: Sans;
	stroke-width: 1.98979177;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#g6438-1 {
	font-size: 13.58917427000000100px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	display: inline;
	font-family: Sans;
	stroke-width: 1.98979177;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#text4739-3 {
	font-size: 7.60321283000000040px;
	font-variant: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #ff0000;
	stroke: #ffffff;
	font-family: Arial;
	stroke-width: 1.98979177;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#path4792-9-0 {
	font-size: 7.60321283000000040px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #000f6f;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1.98979177;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
	font-family: Arial;
	inkscape-font-specification: Arial;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#path4792-8 {
	fill: #000f6f;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1.98979177;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#layer1-8 {
	display: inline;
}

#g11331-3-1-1 {
	display: inline;
}

#g13408-8 {
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-opacity: 1;
}

#g6124-3 {
	display: inline;
}

#text6430 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	font-family: Sans;
}

#g6438 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#text4739 {
	font-size: 7.60321283px;
	font-variant: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #ff0000;
	font-family: Arial;
	inkscape-font-specification: Arial;
}

#path4792-9 {
	font-size: 7.60321283px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #000f6f;
	fill-opacity: 1;
	stroke: #6f99c7;
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
	font-family: Arial;
	inkscape-font-specification: Arial;
}

#path4792 {
	fill: #000f6f;
	fill-opacity: 1;
	stroke: #000f6f;
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#layer1-1 {
	display: inline;
}

#g7604-6 {
	display: inline;
}

#path7602-2 {
	opacity: 0.85714285;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#rect4001-1 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#rect4114-8 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#layer1-5 {
	display: inline;
}

