@import "stock";

#stop11150-4-72-8-3 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-9-0-5-3 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop11150-7-5-9-2-2 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-8-4-35-8-2 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop11150-9-6-9-1-7 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-6-7-6-5-5 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop11150-7-8-3-8-9-4 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-8-8-6-3-2-3 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop4791-4 {
	stop-color: #4e8fbd;
	stop-opacity: 1;
}

#stop4793-8 {
	stop-color: #30495a;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g11260-4 {
	display: inline;
}

#rect10961-8 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//package_mode.svg#radialGradient3807);
	fill-opacity: 1;
	stroke: #a05921;
	stroke-width: 2.14568496000000009;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect10961-9-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//package_mode.svg#radialGradient3809);
	fill-opacity: 1;
	stroke: #a05921;
	stroke-width: 2.14568496000000009;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect10961-3-9 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//package_mode.svg#radialGradient3811);
	fill-opacity: 1;
	stroke: #a05921;
	stroke-width: 2.14568496000000009;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect10961-9-6-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//package_mode.svg#radialGradient3813);
	fill-opacity: 1;
	stroke: #a05921;
	stroke-width: 2.14568496000000009;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path11108-6 {
	fill: none;
	stroke: #694337;
	stroke-width: 2.14568496;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path11108-8-0 {
	fill: none;
	stroke: #694337;
	stroke-width: 2.14568496;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#layer1-9 {
	display: inline;
}

#path3986 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//package_mode.svg#linearGradient4795-6);
	fill-opacity: 1;
	stroke: none;
}

