@import "stock";

#stop8727-1-6-3 {
	stop-color: #fbe597;
	stop-opacity: 1;
}

#stop8729-2-5-0 {
	stop-color: #fffcf0;
	stop-opacity: 1;
}

#stop8719-9-3-2 {
	stop-color: #bd8416;
	stop-opacity: 1;
}

#stop8721-5-0-4 {
	stop-color: #806229;
	stop-opacity: 1;
}

#stop8727-1-6-3-10 {
	stop-color: #fbe597;
	stop-opacity: 1;
}

#stop8729-2-5-0-50 {
	stop-color: #fffcf0;
	stop-opacity: 1;
}

#stop8719-9-3-2-9 {
	stop-color: #bd8416;
	stop-opacity: 1;
}

#stop8721-5-0-4-0 {
	stop-color: #806229;
	stop-opacity: 1;
}

#stop8727-1-6-3-10-1 {
	stop-color: #fbe597;
	stop-opacity: 1;
}

#stop8729-2-5-0-50-7 {
	stop-color: #fffcf0;
	stop-opacity: 1;
}

#stop8719-9-3-2-9-6 {
	stop-color: #bd8416;
	stop-opacity: 1;
}

#stop8721-5-0-4-0-2 {
	stop-color: #806229;
	stop-opacity: 1;
}

#stop8727-1-6-3-10-1-2 {
	stop-color: #fbe597;
	stop-opacity: 1;
}

#stop8729-2-5-0-50-7-5 {
	stop-color: #fffcf0;
	stop-opacity: 1;
}

#stop8719-9-3-2-9-6-3 {
	stop-color: #bd8416;
	stop-opacity: 1;
}

#stop8721-5-0-4-0-2-9 {
	stop-color: #806229;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g8472 {
	display: inline;
}

#g8833 {
	display: inline;
}

#path8715-7-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//synced.svg#linearGradient5439);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//synced.svg#linearGradient5441);
	stroke-width: 0.99151659;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path8715-7-0-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//synced.svg#linearGradient3841);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//synced.svg#linearGradient3843);
	stroke-width: 0.99151659;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

