@import "stock";

#stop4819-5 {
	stop-color: #7695b8;
	stop-opacity: 1;
}

#stop4821-6 {
	stop-color: #8daac8;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g3997 {
	display: inline;
}

#path4005 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//change_obj.svg#linearGradient4002-1);
	fill-opacity: 1;
	stroke: #095799;
	stroke-width: 0.65452331;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#rect4009 {
	fill: #095799;
	fill-opacity: 1;
	stroke: none;
}

#rect4009-1 {
	fill: #095799;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

