@import "gotham";

#stop4974 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4976 {
	stop-color: #f5f8fd;
	stop-opacity: 1;
}

#stop4966 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4968 {
	stop-color: #e8eefa;
	stop-opacity: 1;
}

#stop4958 {
	stop-color: #fcfdfe;
	stop-opacity: 1;
}

#stop4960 {
	stop-color: #dee6f8;
	stop-opacity: 1;
}

#filter8854 {
	color-interpolation-filters: sRGB;
}

#stop6124 {
	stop-color: #c0c0c0;
	stop-opacity: 1;
}

#stop6132 {
	stop-color: #adadad;
	stop-opacity: 1;
}

#stop6126 {
	stop-color: #808080;
	stop-opacity: 1;
}

#stop7089 {
	stop-color: #17325d;
	stop-opacity: 1;
}

#stop7091 {
	stop-color: #b4d0e2;
	stop-opacity: 1;
}

#stop7093 {
	stop-color: #b7d2e4;
	stop-opacity: 1;
}

#stop7095 {
	stop-color: #acc9de;
	stop-opacity: 1;
}

#stop7097 {
	stop-color: #3e72a7;
	stop-opacity: 1;
}

#path7368 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#stop7586-4 {
	stop-color: #f9cd5f;
	stop-opacity: 1;
}

#stop7588-5 {
	stop-color: #fbf0b4;
	stop-opacity: 1;
}

#stop7594-6 {
	stop-color: #bd8416;
	stop-opacity: 1;
}

#stop7596-9 {
	stop-color: #a66b10;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-0-2-1-9-0-0-1-1 {
	stop-color: #5aad60;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-2-7-0-4-2-7-8-9 {
	stop-color: #5bb26a;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-8-5-5-6-69-6-4-0 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#path7368-2 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#filter8854-9 {
	color-interpolation-filters: sRGB;
}

#stop10800-5-2-1-8-20-6-4-9-8-2 {
	stop-color: #7564b1;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-24-8-4-3-2 {
	stop-color: #5d4aa1;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-8-4-2-9-2 {
	stop-color: #9283c3;
	stop-opacity: 1;
}

#stop7542-8-7-5-3 {
	stop-color: #ffffff;
	stop-opacity: 0.502;
}

#stop7544-8-2-0-5 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop7546-1-7-9-5 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7548-98-9-2-4 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7274-6-0-1-7-4-7 {
	stop-color: #8f6c10;
	stop-opacity: 1;
}

#stop7276-66-6-3-9-1-4 {
	stop-color: #c9a645;
	stop-opacity: 1;
}

#path10622 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2.16621375;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	font-family: Sans;
}

#stop4530-0-5-0-5-8-4 {
	stop-color: #e0c576;
	stop-opacity: 1;
}

#stop4532-7-9-3-3-6-1 {
	stop-color: #9e7916;
	stop-opacity: 1;
}

#stop6283-0-2-2-1-2-0-1-6-0 {
	stop-color: #f7f9fb;
	stop-opacity: 1;
}

#stop6285-5-0-9-7-6-9-9-1-9 {
	stop-color: #ffd680;
	stop-opacity: 1;
}

#stop4974-8 {
	stop-color: #b8ccf1;
	stop-opacity: 0.10196079;
}

#stop4976-1 {
	stop-color: #6e97e2;
	stop-opacity: 0.10196079;
}

#stop4966-1 {
	stop-color: #ffffff;
	stop-opacity: 0.349;
}

#stop4968-1 {
	stop-color: #91ade6;
	stop-opacity: 1;
}

#stop4958-5 {
	stop-color: #fcfdfe;
	stop-opacity: 0.25641027;
}

#stop4960-6 {
	stop-color: #98aae7;
	stop-opacity: 0.40392157;
}

#stop3829 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop3835 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3831 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop10800-5-2-1-8-20-6-4-9-8-2-9 {
	stop-color: #f3faed;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-24-8-4-3-2-4 {
	stop-color: #e7f4da;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-8-4-2-9-2-5 {
	stop-color: #67bf1f;
	stop-opacity: 1;
}

#stop4996 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4998 {
	stop-color: #dbe2eb;
	stop-opacity: 1;
}

#stop4904 {
	stop-color: #c7b571;
	stop-opacity: 1;
}

#stop4906 {
	stop-color: #9a9a8f;
	stop-opacity: 1;
}

#stop6413 {
	stop-color: #4f605c;
	stop-opacity: 1;
}

#stop6415 {
	stop-color: #dbe2eb;
	stop-opacity: 0;
}

#stop4260 {
	stop-color: #f4ae5f;
	stop-opacity: 1;
}

#stop4266 {
	stop-color: #eec290;
	stop-opacity: 1;
}

#stop4262 {
	stop-color: #c7700e;
	stop-opacity: 1;
}

#filter4285-9 {
	color-interpolation-filters: sRGB;
}

#stop4529 {
	stop-color: #68b367;
	stop-opacity: 1;
}

#stop4531 {
	stop-color: #5eaa6e;
	stop-opacity: 1;
}

#stop4580 {
	stop-color: #c5f0b4;
	stop-opacity: 1;
}

#stop4582 {
	stop-color: #80c171;
	stop-opacity: 1;
}

#filter5097 {
	color-interpolation-filters: sRGB;
}

#filter5047-9 {
	color-interpolation-filters: sRGB;
}

#filter5047-2 {
	color-interpolation-filters: sRGB;
}

#filter5221-58 {
	color-interpolation-filters: sRGB;
}

#filter5187-5 {
	color-interpolation-filters: sRGB;
}

#stop5375-9 {
	stop-color: #bef460;
	stop-opacity: 1;
}

#stop5377-8 {
	stop-color: #68c024;
	stop-opacity: 1;
}

#filter5535 {
	color-interpolation-filters: sRGB;
}

#filter5187-5-2 {
	color-interpolation-filters: sRGB;
}

#filter5221-58-3 {
	color-interpolation-filters: sRGB;
}

#filter5047-2-2 {
	color-interpolation-filters: sRGB;
}

#filter5047-9-0 {
	color-interpolation-filters: sRGB;
}

#filter5187-6 {
	color-interpolation-filters: sRGB;
}

#filter5535-7 {
	color-interpolation-filters: sRGB;
}

#stop4310 {
	stop-color: #d5d2d9;
	stop-opacity: 1;
}

#stop4312 {
	stop-color: #ffffff;
	stop-opacity: 0.328;
}

#filter14595-9 {
	color-interpolation-filters: sRGB;
}

#filter14595 {
	color-interpolation-filters: sRGB;
}

#filter4344 {
	color-interpolation-filters: sRGB;
}

#layer2 {
	display: inline;
}

#rect4113-1 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#linearGradient4978);
	fill-opacity: 1;
	stroke: none;
}

#rect4113-1-0 {
	display: inline;
	opacity: 0.40400002;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#linearGradient4962);
	fill-opacity: 1;
	stroke: none;
}

#g11331-3-1-1-7 {
	display: inline;
}

#g13408-8-2 {
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-opacity: 1;
}

#rect4113-1-7 {
	display: inline;
	opacity: 0.18399999;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#linearGradient4970);
	fill-opacity: 1;
	stroke: none;
}

#layer1 {
	display: inline;
}

#rect4001-3-4-5-3 {
	display: inline;
	opacity: 0.62999998;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#linearGradient6406);
	fill-opacity: 1;
	stroke: none;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#filter4344);
}

#rect7477-1 {
	display: inline;
	opacity: 1;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#linearGradient5162);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 3;
	stroke-linecap: butt;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#filter14595);
}

#rect7477-1-2 {
	display: inline;
	opacity: 1;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#linearGradient5081);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 3;
	stroke-linecap: butt;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#filter14595-9);
}

#path10796-2-6-2-5-5 {
	font-style: normal;
	font-weight: normal;
	font-size: medium;
	line-height: 125%;
	font-family: Sans;
	letter-spacing: 0px;
	word-spacing: 0px;
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#linearGradient5379-1-6);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1.5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#path5137-8-4 {
	display: inline;
	fill: #5da720;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#filter5187-5-2);
}

#path4955-1-7 {
	display: inline;
	fill: #3c8b11;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#filter5221-58-3);
}

#path4955-4-74-1 {
	display: inline;
	fill: #9bed38;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#filter5047-2-2);
}

#path4955-4-7-6 {
	display: inline;
	fill: #bcee73;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#filter5047-9-0);
}

#path5137-5 {
	display: inline;
	fill: #d7f1c6;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#filter5187-6);
}

#path10796-2-6-2-2-7-1 {
	font-style: normal;
	font-weight: normal;
	font-size: medium;
	line-height: 125%;
	font-family: Sans;
	letter-spacing: 0px;
	word-spacing: 0px;
	display: inline;
	fill: none;
	fill-opacity: 1;
	stroke: #657a32;
	stroke-width: 1.25;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#path5381-3-0 {
	display: inline;
	opacity: 1;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1.5;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#filter5535-7);
}

#path10796-2-6-2-5 {
	font-style: normal;
	font-weight: normal;
	font-size: medium;
	line-height: 125%;
	font-family: Sans;
	letter-spacing: 0px;
	word-spacing: 0px;
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#linearGradient5379-1);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1.5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#path5137-8 {
	display: inline;
	fill: #5da720;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#filter5187-5);
}

#path4955-1 {
	display: inline;
	fill: #3c8b11;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#filter5221-58);
}

#path4955-4-74 {
	display: inline;
	fill: #9bed38;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#filter5047-2);
}

#path4955-4-7 {
	display: inline;
	fill: #bcee73;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#filter5047-9);
}

#path10796-2-6-2-2-7 {
	font-style: normal;
	font-weight: normal;
	font-size: medium;
	line-height: 125%;
	font-family: Sans;
	letter-spacing: 0px;
	word-spacing: 0px;
	display: inline;
	fill: none;
	fill-opacity: 1;
	stroke: #657a32;
	stroke-width: 1.25;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#path5381-3 {
	display: inline;
	opacity: 1;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1.5;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#filter5535);
}

#rect4001-3-4-5 {
	display: inline;
	opacity: 0.28999999;
	fill: #ffffff;
	fill-opacity: 0.30395138;
	stroke: none;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#filter5097);
}

#g11331-3-1-1 {
	display: inline;
}

#g13408-8 {
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-width: 0.30075619;
	stroke-opacity: 1;
}

#text6430-2 {
	font-style: normal;
	font-weight: normal;
	font-size: 13.58917427px;
	line-height: 125%;
	font-family: Sans;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#text3782-3 {
	font-style: normal;
	font-weight: normal;
	font-size: 15.56941891px;
	line-height: 125%;
	font-family: Sans;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#g11331-3-1-1-00 {
	display: inline;
}

#g13408-8-1 {
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-opacity: 1;
}

#g7590-7-0 {
	display: inline;
}

#g7827-7-5 {
	display: inline;
}

#g11331-3-1-1-0 {
	display: inline;
}

#g13408-8-4 {
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-opacity: 1;
}

#rect4001-3-4 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#linearGradient6375-6);
	fill-opacity: 1;
	stroke: none;
}

#rect4001-1 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#linearGradient4238);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect4001-3-9-0 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#linearGradient4240);
	fill-opacity: 1;
	stroke: none;
}

#path5675-4 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#linearGradient4264);
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4252-6 {
	display: inline;
	opacity: 0.9;
	fill: #ffffff;
	fill-opacity: 0.81584156;
	stroke: none;
	stroke-width: 0;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#filter4285-9);
}

#path4696 {
	fill: none;
	fill-rule: evenodd;
	stroke: #bbc5d8;
	stroke-width: 2;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4696-5 {
	display: inline;
	fill: none;
	fill-rule: evenodd;
	stroke: #bbc5d8;
	stroke-width: 2;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4696-4 {
	display: inline;
	fill: none;
	fill-rule: evenodd;
	stroke: #bbc5d8;
	stroke-width: 2;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4696-0 {
	display: inline;
	fill: none;
	fill-rule: evenodd;
	stroke: #bbc5d8;
	stroke-width: 2;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4696-9 {
	display: inline;
	fill: none;
	fill-rule: evenodd;
	stroke: #bbc5d8;
	stroke-width: 2;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4696-8 {
	display: inline;
	fill: none;
	fill-rule: evenodd;
	stroke: #bbc5d8;
	stroke-width: 2;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4696-2 {
	display: inline;
	fill: none;
	fill-rule: evenodd;
	stroke: #bbc5d8;
	stroke-width: 2;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4522 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#linearGradient4533);
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #398a43;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4522-3 {
	display: inline;
	fill: none;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/wizban//typerefact_wiz.svg#linearGradient4584);
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

