@import "stock";

#stop3823 {
	stop-color: #6e7a8e;
	stop-opacity: 1;
}

#stop3825 {
	stop-color: #a79c68;
	stop-opacity: 1;
}

#stop3815 {
	stop-color: #55a4db;
	stop-opacity: 1;
}

#stop3817 {
	stop-color: #c7e0f5;
	stop-opacity: 1;
}

#stop3799 {
	stop-color: #2b568d;
	stop-opacity: 1;
}

#stop3801 {
	stop-color: #5176a8;
	stop-opacity: 1;
}

#stop13833 {
	stop-color: #055797;
	stop-opacity: 1;
}

#stop13835 {
	stop-color: #184785;
	stop-opacity: 1;
}

#stop13757 {
	stop-color: #f1fdfc;
	stop-opacity: 1;
}

#stop13765 {
	stop-color: #dbeff9;
	stop-opacity: 1;
}

#stop13763 {
	stop-color: #cee4f0;
	stop-opacity: 1;
}

#stop13759 {
	stop-color: #def1fa;
	stop-opacity: 1;
}

#stop3823-0 {
	stop-color: #6e7a8e;
	stop-opacity: 1;
}

#stop3825-4 {
	stop-color: #a79c68;
	stop-opacity: 1;
}

#stop13757-5 {
	stop-color: #f1fdfc;
	stop-opacity: 1;
}

#stop13765-2 {
	stop-color: #dbeff9;
	stop-opacity: 1;
}

#stop13763-2 {
	stop-color: #cee4f0;
	stop-opacity: 1;
}

#stop13759-3 {
	stop-color: #def1fa;
	stop-opacity: 1;
}

#g3961 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#path3963 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 0.80190599;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path3965 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-opacity: 1;
}

#path3967 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-opacity: 1;
	display: inline;
}

#layer1 {
	display: inline;
}

#g8159 {
	display: inline;
}

#path13745 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ltk.ui.refactoring/icons/full/obj16//date_obj.svg#linearGradient8584);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ltk.ui.refactoring/icons/full/obj16//date_obj.svg#linearGradient8586);
	stroke-width: 0.80190599;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path13811 {
	fill: none;
	stroke: #1f4a83;
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-opacity: 1;
}

#path13811-9 {
	fill: none;
	stroke: #1f4a83;
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-opacity: 1;
	display: inline;
}

#g3956 {
	opacity: 0.75;
}

#rect3009-7-6 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.ltk.ui.refactoring/icons/full/obj16//date_obj.svg#filter3952);
}

#rect3009-7 {
	fill: #ebf9ff;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ltk.ui.refactoring/icons/full/obj16//date_obj.svg#linearGradient3827);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#rect3009 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ltk.ui.refactoring/icons/full/obj16//date_obj.svg#linearGradient3819);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ltk.ui.refactoring/icons/full/obj16//date_obj.svg#linearGradient3803);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path3829 {
	fill: none;
	stroke: #2b568d;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path3831 {
	fill: none;
	stroke: #2b568d;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

