@import "stock";

#stop5137-4 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop5139-0 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#stop5143-8 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop5145-8 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#stop5149-5 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop5151-5 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#stop4863-1 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop4865-52 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#stop4879-1 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop4881-4 {
	stop-color: #5e76a3;
	stop-opacity: 1;
}

#stop4904-2 {
	stop-color: #b28a30;
	stop-opacity: 1;
}

#stop4906-2 {
	stop-color: #7b703e;
	stop-opacity: 1;
}

#stop4896-8 {
	stop-color: #e0c88f;
	stop-opacity: 1;
}

#stop4898-5 {
	stop-color: #d5b269;
	stop-opacity: 1;
}

#stop4996-1 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop4998-89 {
	stop-color: #dce7f7;
	stop-opacity: 1;
}

#stop5302 {
	stop-color: #4d4d4d;
	stop-opacity: 1;
}

#stop5308 {
	stop-color: #727272;
	stop-opacity: 1;
}

#stop5304 {
	stop-color: #4d4d4d;
	stop-opacity: 1;
}

#stop5079-7 {
	stop-color: #e4cf94;
	stop-opacity: 1;
}

#stop5087-6 {
	stop-color: #ede0ba;
	stop-opacity: 1;
}

#stop5085-1 {
	stop-color: #c1aa7e;
	stop-opacity: 1;
}

#stop5081-8 {
	stop-color: #ad8865;
	stop-opacity: 1;
}

#stop4910-7-2-7-0 {
	stop-color: #986443;
	stop-opacity: 1;
}

#stop4912-6-2-9-4 {
	stop-color: #994f1b;
	stop-opacity: 1;
}

#stop5079-7-9 {
	stop-color: #e4cf94;
	stop-opacity: 1;
}

#stop5087-6-0 {
	stop-color: #ede0ba;
	stop-opacity: 1;
}

#stop5085-1-4 {
	stop-color: #c1aa7e;
	stop-opacity: 1;
}

#stop5081-8-7 {
	stop-color: #ad8865;
	stop-opacity: 1;
}

#stop5302-7 {
	stop-color: #4d4d4d;
	stop-opacity: 1;
}

#stop5308-2 {
	stop-color: #727272;
	stop-opacity: 1;
}

#stop5304-3 {
	stop-color: #4d4d4d;
	stop-opacity: 1;
}

#stop4904-2-7 {
	stop-color: #b28a30;
	stop-opacity: 1;
}

#stop4906-2-6 {
	stop-color: #7b703e;
	stop-opacity: 1;
}

#stop5079-7-9-4 {
	stop-color: #e4cf94;
	stop-opacity: 1;
}

#stop5087-6-0-2 {
	stop-color: #ede0ba;
	stop-opacity: 1;
}

#stop5085-1-4-6 {
	stop-color: #c1aa7e;
	stop-opacity: 1;
}

#stop5081-8-7-6 {
	stop-color: #ad8865;
	stop-opacity: 1;
}

#stop5302-7-1 {
	stop-color: #4d4d4d;
	stop-opacity: 1;
}

#stop5308-2-6 {
	stop-color: #727272;
	stop-opacity: 1;
}

#stop5304-3-8 {
	stop-color: #4d4d4d;
	stop-opacity: 1;
}

#path4183 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#layer1 {
	display: inline;
}

#rect4001-3 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ltk.ui.refactoring/icons/full/obj16//text_edit.svg#linearGradient4101);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4884 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ltk.ui.refactoring/icons/full/obj16//text_edit.svg#linearGradient4900-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ltk.ui.refactoring/icons/full/obj16//text_edit.svg#linearGradient4908-2);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#rect4001-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ltk.ui.refactoring/icons/full/obj16//text_edit.svg#linearGradient4867-7);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-1-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ltk.ui.refactoring/icons/full/obj16//text_edit.svg#linearGradient4869-17);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-1-7-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ltk.ui.refactoring/icons/full/obj16//text_edit.svg#linearGradient4871-2);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-1-7-4-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ltk.ui.refactoring/icons/full/obj16//text_edit.svg#linearGradient4875-9);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-1-7-4-0-9 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ltk.ui.refactoring/icons/full/obj16//text_edit.svg#linearGradient4873-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g3395 {
	stroke: #ffffff;
	stroke-width: 1.5;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	filter: url(../../../../../../eclipse-svg/org.eclipse.ltk.ui.refactoring/icons/full/obj16//text_edit.svg#filter4177);
}

#layer1-5-0 {
	display: inline;
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 2.11441896;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#path5226-6-14-1-5-6 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 2.11441896;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path5424-4 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2.11441896;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#path5226-6-14-1-5-2-0 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2.11441896;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#path5226-6-14-1-5-2-7-6 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2.11441896;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#path5426-2 {
	opacity: 0.50000000000000000;
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 2.11441896;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	filter: url(../../../../../../eclipse-svg/org.eclipse.ltk.ui.refactoring/icons/full/obj16//text_edit.svg#filter5428-9-1);
}

#path5006-9 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	display: inline;
	stroke-width: 2.11441896;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#path5006-1-9 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	display: inline;
	stroke-width: 2.11441896;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#layer1-5 {
	display: inline;
}

#path5226-6-14-1-5 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ltk.ui.refactoring/icons/full/obj16//text_edit.svg#linearGradient5173-0);
	stroke-width: 1;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path5424 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffcb72;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path5226-6-14-1-5-2 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #e5a856;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path5226-6-14-1-5-2-7 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #fbbc67;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path5426 {
	opacity: 0.5;
	fill: none;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	filter: url(../../../../../../eclipse-svg/org.eclipse.ltk.ui.refactoring/icons/full/obj16//text_edit.svg#filter5428-9);
}

#path5006 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ltk.ui.refactoring/icons/full/obj16//text_edit.svg#linearGradient5196-0);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5006-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ltk.ui.refactoring/icons/full/obj16//text_edit.svg#linearGradient3208);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

