@import "stock";

#stop10800-5-2-1-8-20-4-0-2-1-9 {
	stop-color: #5aad60;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-2-7-0-4 {
	stop-color: #5bb26a;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-8-5-5-6 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-0-2-1-9-0-7 {
	stop-color: #5aad60;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-2-7-0-4-2-3 {
	stop-color: #5bb26a;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-8-5-5-6-69-4 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-0-2-1-9-0-0-1 {
	stop-color: #5aad60;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-2-7-0-4-2-7-8 {
	stop-color: #5bb26a;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-8-5-5-6-69-6-4 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-0-2-1-9-3 {
	stop-color: #5aad60;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-2-7-0-4-9 {
	stop-color: #5bb26a;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-8-5-5-6-2 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-0-2-1-9-0 {
	stop-color: #5aad60;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-2-7-0-4-4 {
	stop-color: #5bb26a;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-8-5-5-6-9 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-0-2-1-9-4 {
	stop-color: #5aad60;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-2-7-0-4-2 {
	stop-color: #5bb26a;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-8-5-5-6-24 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g11331-3-1-1 {
	display: inline;
}

#g13408-8 {
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-opacity: 1;
}

#path4012 {
	fill: #6f7684;
	fill-opacity: 1;
	stroke: none;
}

#path10796-2-6-3-8 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//ch_callers.svg#linearGradient6266);
	fill-opacity: 1;
	stroke: #14733c;
	stroke-width: 4.55839109;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path6115 {
	opacity: 0.46218489;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#g6124-8 {
	display: inline;
}

#path10796-2-6-3-8-4 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//ch_callers.svg#linearGradient6266-6);
	fill-opacity: 1;
	stroke: #14733c;
	stroke-width: 4.55839109;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path6115-1 {
	opacity: 0.46218489;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#g6124-3 {
	display: inline;
}

#path10796-2-6-3-8-2 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//ch_callers.svg#linearGradient6266-97);
	fill-opacity: 1;
	stroke: #14733c;
	stroke-width: 4.55839109;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path6115-2 {
	opacity: 0.46218489;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

