@import "stock";

#stop4885-5 {
	stop-color: #ebf9ff;
	stop-opacity: 1;
}

#stop4887-5 {
	stop-color: #fcffff;
	stop-opacity: 1;
}

#stop4885-5-1 {
	stop-color: #ebf9ff;
	stop-opacity: 1;
}

#stop4887-5-1 {
	stop-color: #fcffff;
	stop-opacity: 1;
}

#stop4991 {
	stop-color: #c3e9ff;
	stop-opacity: 0.49019608;
}

#stop4995 {
	stop-color: #c3e9ff;
	stop-opacity: 1;
}

#stop4993 {
	stop-color: #c3e9ff;
	stop-opacity: 0.49019608;
}

#stop4912-8-8-7 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914-8-8-6 {
	stop-color: #c3e9ff;
	stop-opacity: 1;
}

#stop4996-5-4-2 {
	stop-color: #c3e9ff;
	stop-opacity: 1;
}

#stop4998-5-0-3 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#layer1 {
	display: inline;
}

#rect3997-9-1 {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: Sans;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: #a6afc4;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	enable-background: accumulate;
}

#rect3997-9-1-1 {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: Sans;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//collapse_all_mini.svg#linearGradient4889-2);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	enable-background: accumulate;
}

#g4202-8 {
	display: inline;
}

#rect4853-82-7-1-2 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//collapse_all_mini.svg#linearGradient4243);
	fill-opacity: 1;
	stroke: none;
}

#rect4853-82-0-6-7 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//collapse_all_mini.svg#linearGradient4245);
	fill-opacity: 1;
	stroke: none;
}

#rect3997-9-1-2 {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: Sans;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: #8b96ab;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	enable-background: accumulate;
}

#rect3997-9-1-1-2 {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: Sans;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//collapse_all_mini.svg#linearGradient4889-2-1);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	enable-background: accumulate;
}

#rect4853-82-0-6-8 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//collapse_all_mini.svg#linearGradient4970);
	fill-opacity: 1;
	stroke: none;
}

#rect4167-8 {
	display: inline;
	fill: #01467a;
	fill-opacity: 1;
	stroke: none;
}

