@import "stock";

#stop10800-5-2-1-8-20-6-4-9-8-2 {
	stop-color: #7564b1;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-24-8-4-3-2 {
	stop-color: #5d4aa1;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-8-4-2-9-2 {
	stop-color: #9283c3;
	stop-opacity: 1;
}

#stop7542-8-7-5-3 {
	stop-color: #ffffff;
	stop-opacity: 0.502;
}

#stop7544-8-2-0-5 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop7546-1-7-9-5 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7548-98-9-2-4 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7542-4-4-3-3-3 {
	stop-color: #ffffff;
	stop-opacity: 0.502;
}

#stop7544-5-3-8-5-1 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop7546-2-9-1-2-20 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7548-9-2-0-9-1 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7274-6-0-1-7-4-7 {
	stop-color: #8f6c10;
	stop-opacity: 1;
}

#stop7276-66-6-3-9-1-4 {
	stop-color: #c9a645;
	stop-opacity: 1;
}

#path10622 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2.16621375;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	font-family: Sans;
}

#stop5070-8-0-4-9 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop5072-3-6-1-7 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4530-0-5-0-5-8-4 {
	stop-color: #e0c576;
	stop-opacity: 1;
}

#stop4532-7-9-3-3-6-1 {
	stop-color: #9e7916;
	stop-opacity: 1;
}

#stop6283-0-2-2-1-2-0-1-6-0 {
	stop-color: #f7f9fb;
	stop-opacity: 1;
}

#stop6285-5-0-9-7-6-9-9-1-9 {
	stop-color: #ffd680;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-6-4-9-8-2-1 {
	stop-color: #7564b1;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-24-8-4-3-2-7 {
	stop-color: #5d4aa1;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-8-4-2-9-2-3 {
	stop-color: #9283c3;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g11331-3-1-1 {
	display: inline;
}

#g13408-8 {
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-opacity: 1;
}

#path10796-2-6-2 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//generate_interface.svg#linearGradient3097);
	fill-opacity: 1;
	stroke: #55429f;
	stroke-width: 2.16621375;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	font-family: Sans;
}

#rect7222 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

