@import "stock";

#stop6224 {
	stop-color: #6f7684;
	stop-opacity: 1;
}

#stop6226 {
	stop-color: #4d5a5d;
	stop-opacity: 1;
}

#stop4751 {
	stop-color: #ffffee;
	stop-opacity: 1;
}

#stop4753 {
	stop-color: #fad56d;
	stop-opacity: 1;
}

#stop4743 {
	stop-color: #ba7f0d;
	stop-opacity: 1;
}

#stop4745 {
	stop-color: #a2660b;
	stop-opacity: 1;
}

#path6317 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#layer1 {
	display: inline;
}

#rect3968 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//search_sortmatch.svg#linearGradient4755);
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//search_sortmatch.svg#linearGradient4747);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#g6312 {
	opacity: 0.75;
}

#path4108-4 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
	filter: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//search_sortmatch.svg#filter7091);
}

#path4108 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//search_sortmatch.svg#linearGradient6220);
	fill-opacity: 1;
	stroke: none;
}

