@import "gotham";

#g4982 {
	fill: #ffffff;
	stroke: #ffffff;
}

#path4984 {
	fill: none;
	stroke: #ffffff;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
}

#path4986 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 0.65902621;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path4988 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#stop4740 {
	stop-color: #8cc861;
	stop-opacity: 1;
}

#stop4746 {
	stop-color: #4aa766;
	stop-opacity: 1;
}

#stop4742 {
	stop-color: #c2dd97;
	stop-opacity: 1;
}

#stop4743 {
	stop-color: #30825a;
	stop-opacity: 1;
}

#stop4745 {
	stop-color: #106643;
	stop-opacity: 1;
}

#stop4755 {
	stop-color: #e0e8f0;
	stop-opacity: 1;
}

#stop4763 {
	stop-color: #c8d0d8;
	stop-opacity: 1;
}

#stop4757 {
	stop-color: #6c839e;
	stop-opacity: 1;
}

#stop4747 {
	stop-color: #687890;
	stop-opacity: 1;
}

#stop4749 {
	stop-color: #7090b0;
	stop-opacity: 1;
}

#path3971-4 {
	fill: none;
	stroke: #868e94;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
}

#rect3968-9 {
	fill: #d1ecf1;
	fill-opacity: 1;
	stroke: #868e94;
	stroke-width: 0.65902621;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path3973-1 {
	fill: #ecf0f6;
	fill-opacity: 1;
	stroke: #c6c6c6;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#g4966 {
	opacity: 0.5;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//BindingTable.svg#filter4976);
}

#g4961 {
	fill: #000000;
	stroke: #000000;
}

#path3971-5 {
	fill: none;
	stroke: #000000;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
}

#rect3968-1 {
	fill: #000000;
	fill-opacity: 1;
	stroke: #000000;
	stroke-width: 0.65902621;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path3973-6 {
	fill: #000000;
	fill-opacity: 1;
	stroke: #000000;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path3971 {
	fill: none;
	stroke: #4557a2;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
}

#rect3968 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//BindingTable.svg#linearGradient4744);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//BindingTable.svg#linearGradient4747);
	stroke-width: 0.65902621;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path3973 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//BindingTable.svg#radialGradient4761);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//BindingTable.svg#linearGradient4751);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

