/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop5065 {
  stop-color: #4f9cd2;
  stop-opacity: 1; }

#stop5067 {
  stop-color: #295189;
  stop-opacity: 1; }

#stop4847 {
  stop-color: #96792f;
  stop-opacity: 1; }

#stop4849 {
  stop-color: #615941;
  stop-opacity: 1; }

#stop4912-8-8 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop4914-8-8 {
  stop-color: #b1e6f3;
  stop-opacity: 1; }

#stop4996-5-4 {
  stop-color: #b1e6f3;
  stop-opacity: 1; }

#stop4998-5-0 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop4912-8-8-4 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop4914-8-8-0 {
  stop-color: #b1e6f3;
  stop-opacity: 1; }

#stop4996-5-4-8 {
  stop-color: #b1e6f3;
  stop-opacity: 1; }

#stop4998-5-0-8 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop5035 {
  stop-color: #d0f0f8;
  stop-opacity: 1; }

#stop5037 {
  stop-color: #d0f0f8;
  stop-opacity: 1; }

#stop5041 {
  stop-color: #4898d0;
  stop-opacity: 1; }

#stop5043 {
  stop-color: #80b8e0;
  stop-opacity: 1; }

#stop4918 {
  stop-color: #4898d0;
  stop-opacity: 1; }

#stop4921 {
  stop-color: #90c0e0;
  stop-opacity: 1; }

#stop4927 {
  stop-color: #285088;
  stop-opacity: 1; }

#stop4929 {
  stop-color: #4068a0;
  stop-opacity: 1; }

#stop4918-7 {
  stop-color: #4898d0;
  stop-opacity: 1; }

#stop4921-0 {
  stop-color: #90c0e0;
  stop-opacity: 1; }

#stop5107 {
  stop-color: #4068a0;
  stop-opacity: 1; }

#stop5109 {
  stop-color: #295189;
  stop-opacity: 1; }

#stop5038-4 {
  stop-color: #686868;
  stop-opacity: 1; }

#stop5040-3 {
  stop-color: #a1a1a1;
  stop-opacity: 1; }

#stop5038-4-9-5 {
  stop-color: #686868;
  stop-opacity: 1; }

#stop5040-3-1-0 {
  stop-color: #a1a1a1;
  stop-opacity: 1; }

#stop5169 {
  stop-color: #a1a1a1;
  stop-opacity: 1; }

#stop5171 {
  stop-color: #686868;
  stop-opacity: 0.85882354; }

#stop5185 {
  stop-color: #686868;
  stop-opacity: 1; }

#stop5187 {
  stop-color: #9b9b9b;
  stop-opacity: 1; }

#stop5038 {
  stop-color: #686868;
  stop-opacity: 1; }

#stop5040 {
  stop-color: #a1a1a1;
  stop-opacity: 1; }

#stop5038-4-9 {
  stop-color: #686868;
  stop-opacity: 1; }

#stop5040-3-1 {
  stop-color: #a1a1a1;
  stop-opacity: 1; }

#rect3997-9-1-1-5 {
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  text-anchor: start;
  baseline-shift: baseline;
  color: #000000;
  fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ModelComponent.svg#linearGradient4300);
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 1;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate;
  font-family: Sans;
  inkscape-font-specification: Sans; }

#rect3997-9-1 {
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  text-anchor: start;
  baseline-shift: baseline;
  color: #000000;
  fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ModelComponent.svg#linearGradient4852);
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 1;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate;
  font-family: Sans;
  inkscape-font-specification: Sans; }

#rect3997-9-1-1 {
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  text-anchor: start;
  baseline-shift: baseline;
  color: #000000;
  fill: #ffffff;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 1;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate;
  font-family: Sans;
  inkscape-font-specification: Sans; }

#rect4853-82-7 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ModelComponent.svg#linearGradient5062-9);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4853-82-0 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ModelComponent.svg#linearGradient4975-2-1);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4853-82-7-2 {
  opacity: 0.25;
  fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ModelComponent.svg#linearGradient4885);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4853-82-0-4 {
  opacity: 0.25;
  fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ModelComponent.svg#linearGradient4975-2-1-9);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path4914-9 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ModelComponent.svg#linearGradient5002);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ModelComponent.svg#linearGradient5004);
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: 1;
  display: inline; }

#path4914 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ModelComponent.svg#linearGradient4923);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ModelComponent.svg#linearGradient4931);
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: 1;
  display: inline; }

#path4914-0 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ModelComponent.svg#linearGradient4952);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect3997-9-1-1-5-6 {
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  text-anchor: start;
  baseline-shift: baseline;
  color: #000000;
  fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ModelComponent.svg#linearGradient5086);
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 1;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate;
  font-family: Sans;
  inkscape-font-specification: Sans; }

#rect4980-0-9-2-4 {
  fill: #6a6a6a;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4980-0-9-2 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ModelComponent.svg#linearGradient5207);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4980-0-9-2-5-5 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ModelComponent.svg#linearGradient5205);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4976-9 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ModelComponent.svg#linearGradient5203);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4978-2 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ModelComponent.svg#linearGradient5201);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4980-0-9 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ModelComponent.svg#linearGradient5199);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4980-0-9-2-5 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ModelComponent.svg#linearGradient5197);
  fill-opacity: 1;
  stroke: none;
  display: inline; }
