@import "gotham";

#stop5241 {
	stop-color: #7888d0;
	stop-opacity: 1;
}

#stop5243 {
	stop-color: #4858a0;
	stop-opacity: 1;
}

#stop6000 {
	stop-color: #908088;
	stop-opacity: 1;
}

#stop6002 {
	stop-color: #2840b0;
	stop-opacity: 1;
}

#stop5992 {
	stop-color: #98a0c0;
	stop-opacity: 1;
}

#stop5994 {
	stop-color: #e0e0e8;
	stop-opacity: 1;
}

#stop5992-4 {
	stop-color: #98a0c0;
	stop-opacity: 1;
}

#stop5994-0 {
	stop-color: #e0e0e8;
	stop-opacity: 1;
}

#stop6000-1 {
	stop-color: #908088;
	stop-opacity: 1;
}

#stop6002-5 {
	stop-color: #2840b0;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g8472 {
	display: inline;
}

#rect5220 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ToolItem.svg#linearGradient5996);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ToolItem.svg#linearGradient6004);
	stroke-width: 1.06988704;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#rect5220-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ToolItem.svg#linearGradient5208);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ToolItem.svg#linearGradient5210);
	stroke-width: 1.06988704;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#rect5220-27 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ToolItem.svg#linearGradient6034);
	stroke-width: 1.06988704;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

