@import "stock";

#stop4896 {
	stop-color: #b4d1e5;
	stop-opacity: 1;
}

#stop4898 {
	stop-color: #5395be;
	stop-opacity: 1;
}

#stop4900 {
	stop-color: #91bcd7;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#path4035-4-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//brkp_obj.svg#linearGradient4871);
	fill-opacity: 1;
	stroke: #264e72;
	stroke-width: 0.93798536;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

