@import "stock";

#stop5025 {
	stop-color: #1c65a2;
	stop-opacity: 1;
}

#stop5027 {
	stop-color: #1a5a90;
	stop-opacity: 1;
}

#stop5017 {
	stop-color: #9cbbd6;
	stop-opacity: 1;
}

#stop5019 {
	stop-color: #6b9ac3;
	stop-opacity: 1;
}

#stop5009 {
	stop-color: #98b9d5;
	stop-opacity: 1;
}

#stop5011 {
	stop-color: #e6eef5;
	stop-opacity: 1;
}

#stop5001 {
	stop-color: #467daa;
	stop-opacity: 1;
}

#stop5003 {
	stop-color: #4e87b6;
	stop-opacity: 1;
}

#stop4895 {
	stop-color: #6a9ac2;
	stop-opacity: 1;
}

#stop4897 {
	stop-color: #1c65a2;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g8159 {
	display: inline;
}

#rect4105-9 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//genericvariable_obj.svg#linearGradient5029);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4105-9-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//genericvariable_obj.svg#linearGradient5005);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4105-9-8 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//genericvariable_obj.svg#linearGradient5021);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4105-9-4-8 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//genericvariable_obj.svg#linearGradient5013);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4105 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//genericvariable_obj.svg#linearGradient4899);
	stroke-width: 0.91128856;
	stroke-opacity: 1;
	display: inline;
}

