@import "stock";

#stop8375 {
	stop-color: #8db2d0;
	stop-opacity: 1;
}

#stop9147 {
	stop-color: #729fc5;
	stop-opacity: 1;
}

#stop8377 {
	stop-color: #2d70a7;
	stop-opacity: 1;
}

#stop8375-9 {
	stop-color: #8db2d0;
	stop-opacity: 1;
}

#stop9147-1 {
	stop-color: #729fc5;
	stop-opacity: 1;
}

#stop8377-8 {
	stop-color: #2d70a7;
	stop-opacity: 1;
}

#stop8375-3 {
	stop-color: #8db2d0;
	stop-opacity: 1;
}

#stop9147-7 {
	stop-color: #729fc5;
	stop-opacity: 1;
}

#stop8377-87 {
	stop-color: #2d70a7;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g8159 {
	display: inline;
}

#path4108-9-8 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1.32688606000000009;
	stroke-linejoin: round;
	stroke-opacity: 1;
	display: inline;
}

#path4108-9 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//inst_ptr_top.svg#linearGradient8354);
	fill-opacity: 1;
	stroke: #105c9c;
	stroke-linejoin: round;
	stroke-opacity: 1;
	display: inline;
}

#layer1-1 {
	display: inline;
}

