@import "stock";

#stop17333 {
	stop-color: #b8bfcf;
	stop-opacity: 1;
}

#stop17335 {
	stop-color: #aeb6ca;
	stop-opacity: 1;
}

#stop17193 {
	stop-color: #000000;
	stop-opacity: 1;
}

#stop17195 {
	stop-color: #000000;
	stop-opacity: 0;
}

#stop16930 {
	stop-color: #abafa2;
	stop-opacity: 1;
}

#stop16932 {
	stop-color: #8f9480;
	stop-opacity: 1;
}

#stop16938-8 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop16940-1 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop16938-8-1 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop16940-1-9 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4996-5-4-2-2-6-3 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4998-5-0-3-3-7-1 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4996-5-4-2-2-6-3-2 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4998-5-0-3-3-7-1-6 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4996-5-4-2-2-6-3-2-2 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4998-5-0-3-3-7-1-6-5 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop16938-8-7 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop16940-1-5 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop16938-8-7-7 {
	stop-color: #000000;
	stop-opacity: 0;
}

#stop16940-1-5-5 {
	stop-color: #000000;
	stop-opacity: 1;
}

#stop17193-9 {
	stop-color: #000000;
	stop-opacity: 1;
}

#stop17195-3 {
	stop-color: #000000;
	stop-opacity: 0;
}

#stop16938-8-7-7-2 {
	stop-color: #000000;
	stop-opacity: 0;
}

#stop16940-1-5-5-7 {
	stop-color: #000000;
	stop-opacity: 1;
}

#stop17193-9-2 {
	stop-color: #000000;
	stop-opacity: 1;
}

#stop17195-3-0 {
	stop-color: #000000;
	stop-opacity: 0;
}

#stop16938-8-7-7-2-7 {
	stop-color: #000000;
	stop-opacity: 0;
}

#stop16940-1-5-5-7-5 {
	stop-color: #000000;
	stop-opacity: 1;
}

#stop6644 {
	stop-color: #e83038;
	stop-opacity: 1;
}

#stop6646 {
	stop-color: #af131a;
	stop-opacity: 1;
}

#stop4731 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4737 {
	stop-color: #ffffff;
	stop-opacity: 0.49579832;
}

#stop4733 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop6644-5 {
	stop-color: #e83038;
	stop-opacity: 1;
}

#stop6646-1 {
	stop-color: #af131a;
	stop-opacity: 1;
}

#stop4731-9 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4737-8 {
	stop-color: #ffffff;
	stop-opacity: 0.49579832;
}

#stop4733-9 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#path17184 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#layer1 {
	display: inline;
}

#layer1-3 {
	display: inline;
}

#rect16071-8-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//osprct_obj.svg#linearGradient17337);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect16071-8 {
	fill: #aeb6ca;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#layer1-38 {
	display: inline;
}

#rect16071 {
	fill: #aeb6ca;
	fill-opacity: 1;
	stroke: none;
}

#rect16841 {
	fill: #a6ab9c;
	fill-opacity: 1;
	stroke: none;
}

#rect16841-4 {
	fill: #9da291;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-7-1-7 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//osprct_obj.svg#linearGradient16962);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-7-1-7-5 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//osprct_obj.svg#linearGradient17011);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0-6-9-9 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//osprct_obj.svg#linearGradient4975-2-1-1-53-6-2);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0-6-9-9-1 {
	opacity: 0.75;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//osprct_obj.svg#linearGradient17055);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0-6-9-9-1-3 {
	opacity: 0.85;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//osprct_obj.svg#linearGradient17089);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-7-1-7-53 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//osprct_obj.svg#linearGradient17123);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0-6-9-9-1-3-0 {
	opacity: 0.15;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//osprct_obj.svg#linearGradient17162);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-7-1-7-53-5 {
	opacity: 0.15;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//osprct_obj.svg#linearGradient17123-0);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0-6-9-9-1-3-0-2 {
	opacity: 0.15;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//osprct_obj.svg#linearGradient17217);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-7-1-7-53-5-6 {
	opacity: 0.15;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//osprct_obj.svg#linearGradient17123-0-5);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0-6-9-9-1-3-0-2-9 {
	opacity: 0.15;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//osprct_obj.svg#linearGradient17266);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-7-1-7-53-5-6-1 {
	opacity: 0.15;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//osprct_obj.svg#linearGradient17123-0-5-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect16071-1 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//osprct_obj.svg#linearGradient16934);
	stroke-opacity: 1;
	display: inline;
}

#layer1-75-4 {
	display: inline;
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.03114003999999990;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	filter: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//osprct_obj.svg#filter17954);
}

#g11331-3-1-1-2 {
	display: inline;
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 10.86301517;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#g13408-8-0 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-opacity: 1;
	stroke-width: 10.86301517;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#rect6562-8 {
	font-size: 13.58917427000000100px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #ffffff;
	stroke-width: 3.03114004;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
}

#rect6562-9-7 {
	font-size: 13.58917427000000100px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	color: #000000;
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.03114004;
	stroke-miterlimit: 4;
	stroke-opacity: 0.69158876000000002;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
}

#layer1-75 {
	display: inline;
}

#g11331-3-1-1 {
	display: inline;
}

#g13408-8 {
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-opacity: 1;
}

#rect6562 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//osprct_obj.svg#linearGradient6648);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #a81d24;
	stroke-width: 0.60000002;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
}

#rect6562-9 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	color: #000000;
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//osprct_obj.svg#linearGradient4735);
	stroke-width: 0.89999998;
	stroke-miterlimit: 4;
	stroke-opacity: 0.69158876;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
}

#layer1-75-1 {
	display: inline;
}

#g11331-3-1-1-7 {
	display: inline;
}

#g13408-8-3 {
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-opacity: 1;
}

#rect6562-3 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//osprct_obj.svg#linearGradient6648-9);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #a81d24;
	stroke-width: 0.60000002;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
}

#rect6562-9-0 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	color: #000000;
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//osprct_obj.svg#linearGradient17077);
	stroke-width: 0.89999998;
	stroke-miterlimit: 4;
	stroke-opacity: 0.69158876;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
}

