@import "stock";

#layer1 {
	display: inline;
}

#g8159 {
	display: inline;
}

#path4981 {
	fill: none;
	stroke: #8d8d8d;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4985 {
	fill: none;
	stroke: #8d8d8d;
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-opacity: 1;
}

#path4985-5 {
	fill: none;
	stroke: #8d8d8d;
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-opacity: 1;
	display: inline;
}

#path4150 {
	fill: #fefefe;
	fill-opacity: 1;
	stroke: #8d8d8d;
	stroke-width: 1.11897110999999990;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path4150-4 {
	fill: #fefefe;
	fill-opacity: 1;
	stroke: #8d8d8d;
	stroke-width: 1.11897110999999990;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

