@import "stock";

#stop4776 {
	stop-color: #c01020;
	stop-opacity: 1;
}

#stop4782 {
	stop-color: #b83838;
	stop-opacity: 1;
}

#stop4778 {
	stop-color: #c85848;
	stop-opacity: 1;
}

#stop4762 {
	stop-color: #e85050;
	stop-opacity: 1;
}

#stop4764 {
	stop-color: #e83038;
	stop-opacity: 1;
}

#stop4772 {
	stop-color: #e82030;
	stop-opacity: 1;
}

#stop4766 {
	stop-color: #e83840;
	stop-opacity: 1;
}

#stop4752 {
	stop-color: #f8b0a8;
	stop-opacity: 1;
}

#stop4754 {
	stop-color: #f07878;
	stop-opacity: 1;
}

#stop4756 {
	stop-color: #f8a8a8;
	stop-opacity: 1;
}

#stop6644 {
	stop-color: #e83038;
	stop-opacity: 1;
}

#stop6646 {
	stop-color: #af131a;
	stop-opacity: 1;
}

#stop13858 {
	stop-color: #807e66;
	stop-opacity: 1;
}

#stop13860 {
	stop-color: #ccab63;
	stop-opacity: 1;
}

#stop13852 {
	stop-color: #807e66;
	stop-opacity: 1;
}

#stop13854 {
	stop-color: #ccab63;
	stop-opacity: 1;
}

#stop13836 {
	stop-color: #807e66;
	stop-opacity: 1;
}

#stop13838 {
	stop-color: #807e66;
	stop-opacity: 0;
}

#stop13801 {
	stop-color: #b9772f;
	stop-opacity: 1;
}

#stop13809 {
	stop-color: #f2dc91;
	stop-opacity: 1;
}

#stop13807 {
	stop-color: #fbdc8b;
	stop-opacity: 1;
}

#stop13811 {
	stop-color: #e6bd7a;
	stop-opacity: 1;
}

#stop13803 {
	stop-color: #ba772f;
	stop-opacity: 1;
}

#stop12090 {
	stop-color: #84a7d5;
	stop-opacity: 1;
}

#stop12096 {
	stop-color: #a9cded;
	stop-opacity: 1;
}

#stop12092 {
	stop-color: #95b8e0;
	stop-opacity: 1;
}

#stop12001 {
	stop-color: #f8b098;
	stop-opacity: 1;
}

#stop12007 {
	stop-color: #f8decd;
	stop-opacity: 1;
}

#stop12003 {
	stop-color: #f8b098;
	stop-opacity: 1;
}

#stop11971 {
	stop-color: #6f93c7;
	stop-opacity: 1;
}

#stop11979 {
	stop-color: #6f93c7;
	stop-opacity: 0;
}

#stop11977 {
	stop-color: #6f93c7;
	stop-opacity: 0;
}

#stop11973 {
	stop-color: #6f93c7;
	stop-opacity: 1;
}

#stop11689 {
	stop-color: #bdb692;
	stop-opacity: 1;
}

#stop11695 {
	stop-color: #869097;
	stop-opacity: 1;
}

#stop11691 {
	stop-color: #c3cace;
	stop-opacity: 1;
}

#stop11150 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop11130 {
	stop-color: #e4d09d;
	stop-opacity: 1;
}

#stop11136 {
	stop-color: #f6ecb2;
	stop-opacity: 1;
}

#stop11132 {
	stop-color: #b58a68;
	stop-opacity: 1;
}

#stop10858 {
	stop-color: #7d75ac;
	stop-opacity: 1;
}

#stop10860 {
	stop-color: #574a96;
	stop-opacity: 1;
}

#stop10862 {
	stop-color: #9f99c8;
	stop-opacity: 1;
}

#stop10800 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10750 {
	stop-color: #ecac18;
	stop-opacity: 1;
}

#stop10752 {
	stop-color: #f1ce66;
	stop-opacity: 1;
}

#stop10754 {
	stop-color: #f6e5a6;
	stop-opacity: 1;
}

#stop10756 {
	stop-color: #f1cf6c;
	stop-opacity: 1;
}

#stop10758 {
	stop-color: #e5b630;
	stop-opacity: 1;
}

#stop10450 {
	stop-color: #ecac18;
	stop-opacity: 1;
}

#stop10458 {
	stop-color: #ffe38d;
	stop-opacity: 1;
}

#stop10456 {
	stop-color: #fdf5d2;
	stop-opacity: 1;
}

#stop10460 {
	stop-color: #ffeba7;
	stop-opacity: 1;
}

#stop10452 {
	stop-color: #e5b630;
	stop-opacity: 1;
}

#stop10442 {
	stop-color: #ae7603;
	stop-opacity: 1;
}

#stop10521 {
	stop-color: #e8d8a3;
	stop-opacity: 1;
}

#stop10444 {
	stop-color: #bb9221;
	stop-opacity: 1;
}

#stop10434 {
	stop-color: #1f4d9a;
	stop-opacity: 1;
}

#stop10436 {
	stop-color: #4e6da1;
	stop-opacity: 1;
}

#stop10438 {
	stop-color: #567ebc;
	stop-opacity: 1;
}

#stop10416 {
	stop-color: #5078b9;
	stop-opacity: 1;
}

#stop10422 {
	stop-color: #6d8cbd;
	stop-opacity: 1;
}

#stop10418 {
	stop-color: #5f88c9;
	stop-opacity: 1;
}

#stop10398 {
	stop-color: #1b3e79;
	stop-opacity: 1;
}

#stop10404 {
	stop-color: #728fbf;
	stop-opacity: 1;
}

#stop10400 {
	stop-color: #1f4d9a;
	stop-opacity: 1;
}

#stop10159 {
	stop-color: #6588c1;
	stop-opacity: 1;
}

#stop10165 {
	stop-color: #becce3;
	stop-opacity: 1;
}

#stop10161 {
	stop-color: #809dcb;
	stop-opacity: 1;
}

#stop9916 {
	stop-color: #4a6fa4;
	stop-opacity: 1;
}

#stop9918 {
	stop-color: #4e86ca;
	stop-opacity: 0;
}

#stop9910 {
	stop-color: #525f72;
	stop-opacity: 1;
}

#stop9912 {
	stop-color: #9e884e;
	stop-opacity: 1;
}

#stop9607 {
	stop-color: #2a5bbf;
	stop-opacity: 1;
}

#stop9609 {
	stop-color: #2a5bbf;
	stop-opacity: 0;
}

#stop9512 {
	stop-color: #c07c32;
	stop-opacity: 1;
}

#stop9514 {
	stop-color: #e2ca69;
	stop-opacity: 1;
}

#stop9516 {
	stop-color: #c07c32;
	stop-opacity: 1;
}

#stop9334 {
	stop-color: #f5b517;
	stop-opacity: 1;
}

#stop9340 {
	stop-color: #fcf79e;
	stop-opacity: 1;
}

#stop9336 {
	stop-color: #f5ae19;
	stop-opacity: 1;
}

#stop9326 {
	stop-color: #c07c32;
	stop-opacity: 1;
}

#stop9328 {
	stop-color: #e2ca69;
	stop-opacity: 1;
}

#stop9330 {
	stop-color: #c07c32;
	stop-opacity: 1;
}

#stop9314 {
	stop-color: #cf6c00;
	stop-opacity: 1;
}

#stop9322 {
	stop-color: #f5db48;
	stop-opacity: 0.24200913;
}

#stop9316 {
	stop-color: #c36000;
	stop-opacity: 1;
}

#stop9301 {
	stop-color: #929baa;
	stop-opacity: 1;
}

#stop9303 {
	stop-color: #cac3a5;
	stop-opacity: 1;
}

#stop9293 {
	stop-color: #e9f8ff;
	stop-opacity: 1;
}

#stop9295 {
	stop-color: #f5f6f9;
	stop-opacity: 1;
}

#stop8663 {
	stop-color: #c6e7f9;
	stop-opacity: 1;
}

#stop8665 {
	stop-color: #f9fcff;
	stop-opacity: 1;
}

#stop8655 {
	stop-color: #676656;
	stop-opacity: 1;
}

#stop8657 {
	stop-color: #9e884e;
	stop-opacity: 1;
}

#stop8339 {
	stop-color: #4e86ca;
	stop-opacity: 1;
}

#stop8341 {
	stop-color: #4e86ca;
	stop-opacity: 0;
}

#stop8139 {
	stop-color: #326097;
	stop-opacity: 1;
}

#stop8141 {
	stop-color: #2e73c5;
	stop-opacity: 1;
}

#stop7561-3-3-4-48 {
	stop-color: #000000;
	stop-opacity: 0.502;
}

#stop7563-1-3-0-1 {
	stop-color: #000000;
	stop-opacity: 1;
}

#stop7565-8-8-3-2 {
	stop-color: #000000;
	stop-opacity: 0.49599999;
}

#stop7104-0-1-6 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7114-9-0-1 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop7106-25-7-1 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4322 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4324 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop4326 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4331 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4333 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop4335 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7561-3-3-4-48-7 {
	stop-color: #000000;
	stop-opacity: 0.502;
}

#stop7563-1-3-0-1-7 {
	stop-color: #000000;
	stop-opacity: 1;
}

#stop7565-8-8-3-2-0 {
	stop-color: #000000;
	stop-opacity: 0.49599999;
}

#stop7104-0-1-6-7 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7114-9-0-1-4 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop7106-25-7-1-2 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop3258 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop3260 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop3262 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop3267 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop3269 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop3271 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7561-3-3-4-48-5 {
	stop-color: #000000;
	stop-opacity: 0.502;
}

#stop7563-1-3-0-1-76 {
	stop-color: #000000;
	stop-opacity: 1;
}

#stop7565-8-8-3-2-7 {
	stop-color: #000000;
	stop-opacity: 0.49599999;
}

#stop7104-0-1-6-8 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7114-9-0-1-1 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop7106-25-7-1-4 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop3508 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop3510 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop3512 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop3517 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop3519 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop3521 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7561-3-3-4-48-7-4 {
	stop-color: #000000;
	stop-opacity: 0.502;
}

#stop7563-1-3-0-1-7-3 {
	stop-color: #000000;
	stop-opacity: 1;
}

#stop7565-8-8-3-2-0-3 {
	stop-color: #000000;
	stop-opacity: 0.49599999;
}

#stop7104-0-1-6-7-9 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7114-9-0-1-4-6 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop7106-25-7-1-2-9 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4135 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4137 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop4139 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4144 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4146 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop4148 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7561-3-3-4-48-7-4-3 {
	stop-color: #000000;
	stop-opacity: 0.502;
}

#stop7563-1-3-0-1-7-3-4 {
	stop-color: #000000;
	stop-opacity: 1;
}

#stop7565-8-8-3-2-0-3-0 {
	stop-color: #000000;
	stop-opacity: 0.49599999;
}

#stop7104-0-1-6-7-9-1 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7114-9-0-1-4-6-2 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop7106-25-7-1-2-9-0 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4356 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4358 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop4360 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4365 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4367 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop4369 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7561-3-3-4-48-7-4-5 {
	stop-color: #000000;
	stop-opacity: 0.502;
}

#stop7563-1-3-0-1-7-3-0 {
	stop-color: #000000;
	stop-opacity: 1;
}

#stop7565-8-8-3-2-0-3-2 {
	stop-color: #000000;
	stop-opacity: 0.49599999;
}

#stop7104-0-1-6-7-9-4 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7114-9-0-1-4-6-3 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop7106-25-7-1-2-9-3 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4356-1 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4358-6 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop4360-2 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4365-6 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4367-1 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop4369-3 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7561-3-3-4-48-7-4-3-8 {
	stop-color: #000000;
	stop-opacity: 0.502;
}

#stop7563-1-3-0-1-7-3-4-7 {
	stop-color: #000000;
	stop-opacity: 1;
}

#stop7565-8-8-3-2-0-3-0-7 {
	stop-color: #000000;
	stop-opacity: 0.49599999;
}

#stop7104-0-1-6-7-9-1-0 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7114-9-0-1-4-6-2-1 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop7106-25-7-1-2-9-0-5 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop5692 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop5694 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop5696 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop5701 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop5703 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop5705 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7561-3-3-4-48-7-4-3-2 {
	stop-color: #000000;
	stop-opacity: 0.502;
}

#stop7563-1-3-0-1-7-3-4-0 {
	stop-color: #000000;
	stop-opacity: 1;
}

#stop7565-8-8-3-2-0-3-0-5 {
	stop-color: #000000;
	stop-opacity: 0.49599999;
}

#stop7104-0-1-6-7-9-1-2 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7114-9-0-1-4-6-2-16 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop7106-25-7-1-2-9-0-6 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop5692-0 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop5694-4 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop5696-5 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop5701-6 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop5703-0 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop5705-3 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7561-3-3-4-48-7-4-3-3 {
	stop-color: #000000;
	stop-opacity: 0.502;
}

#stop7563-1-3-0-1-7-3-4-2 {
	stop-color: #000000;
	stop-opacity: 1;
}

#stop7565-8-8-3-2-0-3-0-3 {
	stop-color: #000000;
	stop-opacity: 0.49599999;
}

#stop7104-0-1-6-7-9-1-8 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7114-9-0-1-4-6-2-4 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop7106-25-7-1-2-9-0-0 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop6127 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop6129 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop6131 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop6136 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop6138 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop6140 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7561-3-3-4-48-7-4-3-5 {
	stop-color: #000000;
	stop-opacity: 0.502;
}

#stop7563-1-3-0-1-7-3-4-1 {
	stop-color: #000000;
	stop-opacity: 1;
}

#stop7565-8-8-3-2-0-3-0-1 {
	stop-color: #000000;
	stop-opacity: 0.49599999;
}

#stop7104-0-1-6-7-9-1-4 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7114-9-0-1-4-6-2-3 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop7106-25-7-1-2-9-0-8 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop6127-4 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop6129-0 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop6131-6 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop6136-6 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop6138-0 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop6140-7 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7561-3-3-4-48-7-4-3-4 {
	stop-color: #000000;
	stop-opacity: 0.502;
}

#stop7563-1-3-0-1-7-3-4-6 {
	stop-color: #000000;
	stop-opacity: 1;
}

#stop7565-8-8-3-2-0-3-0-55 {
	stop-color: #000000;
	stop-opacity: 0.49599999;
}

#stop7104-0-1-6-7-9-1-5 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7114-9-0-1-4-6-2-6 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop7106-25-7-1-2-9-0-2 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop6295 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop6297 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop6299 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop6304 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop6306 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop6308 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7561-3-3-4-48-7-4-3-5-8 {
	stop-color: #000000;
	stop-opacity: 0.502;
}

#stop7563-1-3-0-1-7-3-4-1-4 {
	stop-color: #000000;
	stop-opacity: 1;
}

#stop7565-8-8-3-2-0-3-0-1-8 {
	stop-color: #000000;
	stop-opacity: 0.49599999;
}

#stop7104-0-1-6-7-9-1-4-9 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7114-9-0-1-4-6-2-3-0 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop7106-25-7-1-2-9-0-8-4 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop6323 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop6325 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop6327 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop6332 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop6334 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop6336 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7561-3-3-4-48-7-4-3-3-3 {
	stop-color: #000000;
	stop-opacity: 0.502;
}

#stop7563-1-3-0-1-7-3-4-2-2 {
	stop-color: #000000;
	stop-opacity: 1;
}

#stop7565-8-8-3-2-0-3-0-3-8 {
	stop-color: #000000;
	stop-opacity: 0.49599999;
}

#stop7104-0-1-6-7-9-1-8-5 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7114-9-0-1-4-6-2-4-5 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop7106-25-7-1-2-9-0-0-1 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop6351 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop6353 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop6355 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop6360 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop6362 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop6364 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7561-3-3-4-48-7-4-3-5-8-0 {
	stop-color: #000000;
	stop-opacity: 0.502;
}

#stop7563-1-3-0-1-7-3-4-1-4-7 {
	stop-color: #000000;
	stop-opacity: 1;
}

#stop7565-8-8-3-2-0-3-0-1-8-6 {
	stop-color: #000000;
	stop-opacity: 0.49599999;
}

#stop7104-0-1-6-7-9-1-4-9-4 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7114-9-0-1-4-6-2-3-0-7 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop7106-25-7-1-2-9-0-8-4-1 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop6942 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop6944 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop6946 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop6951 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop6953 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop6955 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7561-3-3-4-48-7-4-3-5-8-0-8 {
	stop-color: #000000;
	stop-opacity: 0.502;
}

#stop7563-1-3-0-1-7-3-4-1-4-7-3 {
	stop-color: #000000;
	stop-opacity: 1;
}

#stop7565-8-8-3-2-0-3-0-1-8-6-8 {
	stop-color: #000000;
	stop-opacity: 0.49599999;
}

#stop7104-0-1-6-7-9-1-4-9-4-8 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7114-9-0-1-4-6-2-3-0-7-1 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop7106-25-7-1-2-9-0-8-4-1-9 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7108 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7110 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop7112 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7117 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7119 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop7121 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7688-7 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop7690-5 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7688-7-1 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop7690-5-0 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop8155-7 {
	stop-color: #75b1e3;
	stop-opacity: 1;
}

#stop8157-7 {
	stop-color: #c1def7;
	stop-opacity: 1;
}

#stop8139-4 {
	stop-color: #326097;
	stop-opacity: 1;
}

#stop8141-1 {
	stop-color: #2e73c5;
	stop-opacity: 1;
}

#stop8155-7-7 {
	stop-color: #75b1e3;
	stop-opacity: 1;
}

#stop8157-7-3 {
	stop-color: #c1def7;
	stop-opacity: 1;
}

#stop8139-4-2 {
	stop-color: #326097;
	stop-opacity: 1;
}

#stop8141-1-9 {
	stop-color: #2e73c5;
	stop-opacity: 1;
}

#stop8155-7-6 {
	stop-color: #75b1e3;
	stop-opacity: 1;
}

#stop8157-7-6 {
	stop-color: #c1def7;
	stop-opacity: 1;
}

#stop8339-4 {
	stop-color: #4e86ca;
	stop-opacity: 1;
}

#stop8341-2 {
	stop-color: #4e86ca;
	stop-opacity: 0;
}

#stop8155-7-78 {
	stop-color: #75b1e3;
	stop-opacity: 1;
}

#stop8157-7-0 {
	stop-color: #c1def7;
	stop-opacity: 1;
}

#stop8139-9 {
	stop-color: #326097;
	stop-opacity: 1;
}

#stop8141-8 {
	stop-color: #2e73c5;
	stop-opacity: 1;
}

#stop8500 {
	stop-color: #d9f4ff;
	stop-opacity: 1;
}

#stop8502 {
	stop-color: #f9fcff;
	stop-opacity: 1;
}

#stop9334-5 {
	stop-color: #f5b517;
	stop-opacity: 1;
}

#stop9340-2 {
	stop-color: #fcf79e;
	stop-opacity: 1;
}

#stop9336-4 {
	stop-color: #f5ae19;
	stop-opacity: 1;
}

#stop9326-0 {
	stop-color: #c07c32;
	stop-opacity: 1;
}

#stop9328-1 {
	stop-color: #e2ca69;
	stop-opacity: 1;
}

#stop9330-5 {
	stop-color: #c07c32;
	stop-opacity: 1;
}

#stop9293-7 {
	stop-color: #e9f8ff;
	stop-opacity: 1;
}

#stop9295-3 {
	stop-color: #f5f6f9;
	stop-opacity: 1;
}

#stop9301-6 {
	stop-color: #929baa;
	stop-opacity: 1;
}

#stop9303-8 {
	stop-color: #cac3a5;
	stop-opacity: 1;
}

#stop9334-52 {
	stop-color: #f5b517;
	stop-opacity: 1;
}

#stop9340-23 {
	stop-color: #fcf79e;
	stop-opacity: 1;
}

#stop9336-3 {
	stop-color: #f5ae19;
	stop-opacity: 1;
}

#stop9314-5 {
	stop-color: #cf6c00;
	stop-opacity: 1;
}

#stop9322-0 {
	stop-color: #f5db48;
	stop-opacity: 0.24200913;
}

#stop9316-6 {
	stop-color: #c36000;
	stop-opacity: 1;
}

#stop9512-4 {
	stop-color: #c07c32;
	stop-opacity: 1;
}

#stop9514-9 {
	stop-color: #e2ca69;
	stop-opacity: 1;
}

#stop9516-6 {
	stop-color: #c07c32;
	stop-opacity: 1;
}

#stop8663-3 {
	stop-color: #c6e7f9;
	stop-opacity: 1;
}

#stop8665-5 {
	stop-color: #f9fcff;
	stop-opacity: 1;
}

#stop8139-1 {
	stop-color: #326097;
	stop-opacity: 1;
}

#stop8141-6 {
	stop-color: #2e73c5;
	stop-opacity: 1;
}

#stop8155-7-9 {
	stop-color: #75b1e3;
	stop-opacity: 1;
}

#stop8157-7-5 {
	stop-color: #c1def7;
	stop-opacity: 1;
}

#stop8339-7 {
	stop-color: #4e86ca;
	stop-opacity: 1;
}

#stop8341-8 {
	stop-color: #4e86ca;
	stop-opacity: 0;
}

#stop8655-9 {
	stop-color: #676656;
	stop-opacity: 1;
}

#stop8657-2 {
	stop-color: #9e884e;
	stop-opacity: 1;
}

#stop8155-7-78-0 {
	stop-color: #75b1e3;
	stop-opacity: 1;
}

#stop8157-7-0-7 {
	stop-color: #c1def7;
	stop-opacity: 1;
}

#stop8339-4-2 {
	stop-color: #4e86ca;
	stop-opacity: 1;
}

#stop8341-2-6 {
	stop-color: #4e86ca;
	stop-opacity: 0;
}

#stop10159-7 {
	stop-color: #6588c1;
	stop-opacity: 1;
}

#stop10165-2 {
	stop-color: #becce3;
	stop-opacity: 1;
}

#stop10161-3 {
	stop-color: #809dcb;
	stop-opacity: 1;
}

#stop10151-0 {
	stop-color: #1d4d9d;
	stop-opacity: 1;
}

#stop10153-7 {
	stop-color: #638ac8;
	stop-opacity: 1;
}

#stop10151-5 {
	stop-color: #1d4d9d;
	stop-opacity: 1;
}

#stop10153-8 {
	stop-color: #638ac8;
	stop-opacity: 1;
}

#stop10159-8 {
	stop-color: #6588c1;
	stop-opacity: 1;
}

#stop10165-3 {
	stop-color: #becce3;
	stop-opacity: 1;
}

#stop10161-5 {
	stop-color: #809dcb;
	stop-opacity: 1;
}

#stop10151-3 {
	stop-color: #1d4d9d;
	stop-opacity: 1;
}

#stop10153-72 {
	stop-color: #638ac8;
	stop-opacity: 1;
}

#stop10151-5-7 {
	stop-color: #1f4d9a;
	stop-opacity: 1;
}

#stop10394 {
	stop-color: #b9c7df;
	stop-opacity: 1;
}

#stop10153-8-1 {
	stop-color: #567ebc;
	stop-opacity: 1;
}

#stop10450-4 {
	stop-color: #ecac18;
	stop-opacity: 1;
}

#stop10458-7 {
	stop-color: #ffe38d;
	stop-opacity: 1;
}

#stop10456-9 {
	stop-color: #fdf5d2;
	stop-opacity: 1;
}

#stop10460-1 {
	stop-color: #ffeba7;
	stop-opacity: 1;
}

#stop10452-2 {
	stop-color: #e5b630;
	stop-opacity: 1;
}

#stop10442-4 {
	stop-color: #ae7603;
	stop-opacity: 1;
}

#stop10444-4 {
	stop-color: #bb9221;
	stop-opacity: 1;
}

#stop10450-3 {
	stop-color: #ecac18;
	stop-opacity: 1;
}

#stop10458-8 {
	stop-color: #ffe38d;
	stop-opacity: 1;
}

#stop10456-4 {
	stop-color: #fdf5d2;
	stop-opacity: 1;
}

#stop10460-2 {
	stop-color: #ffeba7;
	stop-opacity: 1;
}

#stop10452-22 {
	stop-color: #e5b630;
	stop-opacity: 1;
}

#stop10442-43 {
	stop-color: #ae7603;
	stop-opacity: 1;
}

#stop10521-1 {
	stop-color: #e8d8a3;
	stop-opacity: 1;
}

#stop10444-3 {
	stop-color: #bb9221;
	stop-opacity: 1;
}

#stop10450-3-5 {
	stop-color: #ecac18;
	stop-opacity: 1;
}

#stop10458-8-0 {
	stop-color: #ffe38d;
	stop-opacity: 1;
}

#stop10456-4-1 {
	stop-color: #fdf5d2;
	stop-opacity: 1;
}

#stop10460-2-9 {
	stop-color: #ffeba7;
	stop-opacity: 1;
}

#stop10452-22-7 {
	stop-color: #e5b630;
	stop-opacity: 1;
}

#stop10442-43-2 {
	stop-color: #ae7603;
	stop-opacity: 1;
}

#stop10521-1-2 {
	stop-color: #e8d8a3;
	stop-opacity: 1;
}

#stop10444-3-4 {
	stop-color: #bb9221;
	stop-opacity: 1;
}

#stop10450-3-8 {
	stop-color: #ecac18;
	stop-opacity: 1;
}

#stop10458-8-7 {
	stop-color: #ffe38d;
	stop-opacity: 1;
}

#stop10456-4-7 {
	stop-color: #fdf5d2;
	stop-opacity: 1;
}

#stop10460-2-1 {
	stop-color: #ffeba7;
	stop-opacity: 1;
}

#stop10452-22-8 {
	stop-color: #e5b630;
	stop-opacity: 1;
}

#stop10442-43-0 {
	stop-color: #ae7603;
	stop-opacity: 1;
}

#stop10521-1-4 {
	stop-color: #e8d8a3;
	stop-opacity: 1;
}

#stop10444-3-2 {
	stop-color: #bb9221;
	stop-opacity: 1;
}

#stop10450-3-5-6 {
	stop-color: #cf9307;
	stop-opacity: 1;
}

#stop10456-4-1-5 {
	stop-color: #f7d87b;
	stop-opacity: 1;
}

#stop10452-22-7-8 {
	stop-color: #ebb313;
	stop-opacity: 1;
}

#stop10442-43-2-0 {
	stop-color: #ae7603;
	stop-opacity: 1;
}

#stop10521-1-2-5 {
	stop-color: #e8d8a3;
	stop-opacity: 1;
}

#stop10444-3-4-0 {
	stop-color: #bb9221;
	stop-opacity: 1;
}

#stop10800-2 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-9 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-3 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10858-0 {
	stop-color: #7d75ac;
	stop-opacity: 1;
}

#stop10860-7 {
	stop-color: #574a96;
	stop-opacity: 1;
}

#stop10862-3 {
	stop-color: #9f99c8;
	stop-opacity: 1;
}

#stop11150-7 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-8 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop11150-9 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-6 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop11150-7-8 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-8-8 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop10858-0-7 {
	stop-color: #7d75ac;
	stop-opacity: 1;
}

#stop10860-7-9 {
	stop-color: #574a96;
	stop-opacity: 1;
}

#stop10862-3-3 {
	stop-color: #9f99c8;
	stop-opacity: 1;
}

#stop10800-5-2-1 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop11150-4 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-9 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop11150-7-5 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-8-4 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop11150-9-6 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-6-7 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop11150-7-8-3 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-8-8-6 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop10858-0-7-6 {
	stop-color: #7d75ac;
	stop-opacity: 1;
}

#stop10860-7-9-1 {
	stop-color: #574a96;
	stop-opacity: 1;
}

#stop10862-3-3-8 {
	stop-color: #9f99c8;
	stop-opacity: 1;
}

#stop10800-5-2-1-8 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop11150-4-7 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-9-2 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop11150-7-5-5 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-8-4-9 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop11150-9-6-4 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-6-7-2 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop11150-7-8-3-1 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-8-8-6-6 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop10858-0-7-6-1 {
	stop-color: #7d75ac;
	stop-opacity: 1;
}

#stop10860-7-9-1-7 {
	stop-color: #574a96;
	stop-opacity: 1;
}

#stop10862-3-3-8-4 {
	stop-color: #9f99c8;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-2 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-2 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-2 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-2-6 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-2-9 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-2-6 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-2-5 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-2-3 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-2-2 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop11681-9 {
	stop-color: #ffffff;
	stop-opacity: 0.72146118;
}

#stop11683-1 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop11689-9 {
	stop-color: #bdb692;
	stop-opacity: 1;
}

#stop11695-3 {
	stop-color: #869097;
	stop-opacity: 1;
}

#stop11691-9 {
	stop-color: #c3cace;
	stop-opacity: 1;
}

#stop11890-4 {
	stop-color: #a7c8ec;
	stop-opacity: 1;
}

#stop11892-1 {
	stop-color: #b4def6;
	stop-opacity: 1;
}

#stop11890-8 {
	stop-color: #a7c8ec;
	stop-opacity: 1;
}

#stop11892-8 {
	stop-color: #b4def6;
	stop-opacity: 1;
}

#stop11971-3 {
	stop-color: #6f93c7;
	stop-opacity: 1;
}

#stop11979-8 {
	stop-color: #6f93c7;
	stop-opacity: 0;
}

#stop11977-7 {
	stop-color: #6f93c7;
	stop-opacity: 0;
}

#stop11973-6 {
	stop-color: #6f93c7;
	stop-opacity: 1;
}

#stop12090-1 {
	stop-color: #84a7d5;
	stop-opacity: 1;
}

#stop12096-1 {
	stop-color: #a9cded;
	stop-opacity: 1;
}

#stop12092-2 {
	stop-color: #95b8e0;
	stop-opacity: 1;
}

#stop12001-9 {
	stop-color: #f8b098;
	stop-opacity: 1;
}

#stop12007-1 {
	stop-color: #f8decd;
	stop-opacity: 1;
}

#stop12003-2 {
	stop-color: #f8b098;
	stop-opacity: 1;
}

#stop11681-94 {
	stop-color: #ffffff;
	stop-opacity: 0.72146118;
}

#stop11683-0 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop11689-1 {
	stop-color: #bdb692;
	stop-opacity: 1;
}

#stop11695-2 {
	stop-color: #869097;
	stop-opacity: 1;
}

#stop11691-1 {
	stop-color: #c3cace;
	stop-opacity: 1;
}

#stop11681-3 {
	stop-color: #ffffff;
	stop-opacity: 0.72146118;
}

#stop11683-6 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop11689-6 {
	stop-color: #bdb692;
	stop-opacity: 1;
}

#stop11695-6 {
	stop-color: #869097;
	stop-opacity: 1;
}

#stop11691-5 {
	stop-color: #c3cace;
	stop-opacity: 1;
}

#stop11971-3-7 {
	stop-color: #6f93c7;
	stop-opacity: 1;
}

#stop11979-8-6 {
	stop-color: #6f93c7;
	stop-opacity: 0;
}

#stop11977-7-6 {
	stop-color: #6f93c7;
	stop-opacity: 0;
}

#stop11973-6-6 {
	stop-color: #6f93c7;
	stop-opacity: 1;
}

#stop12090-1-8 {
	stop-color: #84a7d5;
	stop-opacity: 1;
}

#stop12096-1-8 {
	stop-color: #a9cded;
	stop-opacity: 1;
}

#stop12092-2-4 {
	stop-color: #95b8e0;
	stop-opacity: 1;
}

#stop12001-9-2 {
	stop-color: #f8b098;
	stop-opacity: 1;
}

#stop12007-1-3 {
	stop-color: #f8decd;
	stop-opacity: 1;
}

#stop12003-2-8 {
	stop-color: #f8b098;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-2-8 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-2-95 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-2-0 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop11971-7 {
	stop-color: #6f93c7;
	stop-opacity: 1;
}

#stop11979-0 {
	stop-color: #6f93c7;
	stop-opacity: 0;
}

#stop11977-6 {
	stop-color: #6f93c7;
	stop-opacity: 0;
}

#stop11973-8 {
	stop-color: #6f93c7;
	stop-opacity: 1;
}

#stop12090-7 {
	stop-color: #84a7d5;
	stop-opacity: 1;
}

#stop12096-6 {
	stop-color: #a9cded;
	stop-opacity: 1;
}

#stop12092-1 {
	stop-color: #95b8e0;
	stop-opacity: 1;
}

#stop12001-1 {
	stop-color: #f8b098;
	stop-opacity: 1;
}

#stop12007-4 {
	stop-color: #f8decd;
	stop-opacity: 1;
}

#stop12003-3 {
	stop-color: #f8b098;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-2-5-2 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-2-3-3 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-2-2-2 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop11681-91 {
	stop-color: #ffffff;
	stop-opacity: 0.72146118;
}

#stop11683-02 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop11689-3 {
	stop-color: #bdb692;
	stop-opacity: 1;
}

#stop11695-9 {
	stop-color: #869097;
	stop-opacity: 1;
}

#stop11691-10 {
	stop-color: #c3cace;
	stop-opacity: 1;
}

#stop12719-7 {
	stop-color: #e4f1d8;
	stop-opacity: 1;
}

#stop12721-6 {
	stop-color: #8ebc7b;
	stop-opacity: 1;
}

#stop12719-6 {
	stop-color: #e4f1d8;
	stop-opacity: 1;
}

#stop12721-9 {
	stop-color: #8ebc7b;
	stop-opacity: 1;
}

#stop12864-3 {
	stop-color: #2d493b;
	stop-opacity: 1;
}

#stop12866-4 {
	stop-color: #296c79;
	stop-opacity: 1;
}

#stop11150-4-1 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-9-9 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop11150-7-5-2 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-8-4-3 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop11150-9-6-8 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-6-7-5 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop11150-7-8-3-19 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-8-8-6-2 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop10858-0-7-6-9 {
	stop-color: #7d75ac;
	stop-opacity: 1;
}

#stop10860-7-9-1-9 {
	stop-color: #574a96;
	stop-opacity: 1;
}

#stop10862-3-3-8-6 {
	stop-color: #9f99c8;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-5 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-0 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-4 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-5-3 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-0-2 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-4-2 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-0 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-2 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-8 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-6 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-24 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-8 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-6-4 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-24-8 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-8-4 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-0-2 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-2-7 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-8-5 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-5-3-1 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-0-2-1 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-4-2-3 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop13852-4 {
	stop-color: #807e66;
	stop-opacity: 1;
}

#stop13854-7 {
	stop-color: #ccab63;
	stop-opacity: 1;
}

#stop13858-8 {
	stop-color: #807e66;
	stop-opacity: 1;
}

#stop13860-4 {
	stop-color: #ccab63;
	stop-opacity: 1;
}

#stop13801-4 {
	stop-color: #b9772f;
	stop-opacity: 1;
}

#stop13809-4 {
	stop-color: #f2dc91;
	stop-opacity: 1;
}

#stop13807-7 {
	stop-color: #fbdc8b;
	stop-opacity: 1;
}

#stop13811-8 {
	stop-color: #e6bd7a;
	stop-opacity: 1;
}

#stop13803-6 {
	stop-color: #ba772f;
	stop-opacity: 1;
}

#stop12864-3-6 {
	stop-color: #2d493b;
	stop-opacity: 1;
}

#stop12866-4-9 {
	stop-color: #296c79;
	stop-opacity: 1;
}

#stop11971-7-1 {
	stop-color: #6f93c7;
	stop-opacity: 1;
}

#stop11979-0-0 {
	stop-color: #6f93c7;
	stop-opacity: 0;
}

#stop11977-6-1 {
	stop-color: #6f93c7;
	stop-opacity: 0;
}

#stop11973-8-0 {
	stop-color: #6f93c7;
	stop-opacity: 1;
}

#stop12090-7-9 {
	stop-color: #84a7d5;
	stop-opacity: 1;
}

#stop12096-6-2 {
	stop-color: #a9cded;
	stop-opacity: 1;
}

#stop12092-1-3 {
	stop-color: #95b8e0;
	stop-opacity: 1;
}

#stop12001-1-9 {
	stop-color: #f8b098;
	stop-opacity: 1;
}

#stop12007-4-6 {
	stop-color: #f8decd;
	stop-opacity: 1;
}

#stop12003-3-6 {
	stop-color: #f8b098;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-2-8-1 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-2-95-0 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-2-0-9 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-2-5-2-6 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-2-3-3-7 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-2-2-2-2 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop11689-3-7 {
	stop-color: #bdb692;
	stop-opacity: 1;
}

#stop11695-9-8 {
	stop-color: #869097;
	stop-opacity: 1;
}

#stop11691-10-4 {
	stop-color: #c3cace;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-6-4-9 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-24-8-4 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-8-4-2 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-0-2-1 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-2-7-0 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-8-5-5 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-5-3-1-1 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-0-2-1-2 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-4-2-3-4 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-6-4-9-4 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-24-8-4-1 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-8-4-2-2 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-0-2-1-9 {
	stop-color: #5aad60;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-2-7-0-4 {
	stop-color: #5bb26a;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-8-5-5-6 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-5-3-1-1-7 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-0-2-1-2-9 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-4-2-3-4-6 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-0-2-1-9-8 {
	stop-color: #5aad60;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-2-7-0-4-4 {
	stop-color: #5bb26a;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-8-5-5-6-6 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-0-2-1-9-8-7 {
	stop-color: #5aad60;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-2-7-0-4-4-1 {
	stop-color: #5bb26a;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-8-5-5-6-6-5 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-0-2-1-9-8-72 {
	stop-color: #5aad60;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-2-7-0-4-4-16 {
	stop-color: #5bb26a;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-8-5-5-6-6-0 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-0-2-1-9-8-72-8 {
	stop-color: #5aad60;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-2-7-0-4-4-16-4 {
	stop-color: #5bb26a;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-8-5-5-6-6-0-2 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-0-2-1-9-0 {
	stop-color: #5aad60;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-2-7-0-4-2 {
	stop-color: #5bb26a;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-8-5-5-6-69 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-0-2-1-9-0-7 {
	stop-color: #5aad60;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-2-7-0-4-2-3 {
	stop-color: #5bb26a;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-8-5-5-6-69-4 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-0-2-1-9-0-0 {
	stop-color: #5aad60;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-2-7-0-4-2-7 {
	stop-color: #5bb26a;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-8-5-5-6-69-6 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-0-2-1-9-0-0-1 {
	stop-color: #5aad60;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-2-7-0-4-2-7-8 {
	stop-color: #5bb26a;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-8-5-5-6-69-6-4 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-6-4-9-8 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-24-8-4-3 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-8-4-2-9 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-6-4-9-8-2 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-24-8-4-3-2 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-8-4-2-9-2 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop4731 {
	stop-color: #f8b0a8;
	stop-opacity: 1;
}

#stop4737 {
	stop-color: #f07878;
	stop-opacity: 1;
}

#stop4733 {
	stop-color: #f8a8a8;
	stop-opacity: 1;
}

#stop4758 {
	stop-color: #cb2129;
	stop-opacity: 1;
}

#stop4770 {
	stop-color: #bd1a21;
	stop-opacity: 1;
}

#stop6646-0 {
	stop-color: #af131a;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect6562 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//terminatedlaunch_obj.svg#linearGradient4783);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//terminatedlaunch_obj.svg#linearGradient4780);
	stroke-width: 1;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
}

#rect6562-9 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	color: #000000;
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//terminatedlaunch_obj.svg#linearGradient4735);
	stroke-width: 1;
	stroke-miterlimit: 4;
	stroke-opacity: 0.69158876;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
}

#rect4740 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//terminatedlaunch_obj.svg#linearGradient4748);
}

