@import "stock";

#stop5993 {
	stop-color: #9c6a3e;
	stop-opacity: 1;
}

#stop5995 {
	stop-color: #c48d4f;
	stop-opacity: 1;
}

#stop5983 {
	stop-color: #9c6a3e;
	stop-opacity: 1;
}

#stop5985 {
	stop-color: #c48d4f;
	stop-opacity: 1;
}

#stop5975 {
	stop-color: #ffffc7;
	stop-opacity: 1;
}

#stop5977 {
	stop-color: #fff1a8;
	stop-opacity: 1;
}

#stop5979 {
	stop-color: #ffd379;
	stop-opacity: 1;
}

#stop5967 {
	stop-color: #ffffc7;
	stop-opacity: 1;
}

#stop5969 {
	stop-color: #fff1a8;
	stop-opacity: 1;
}

#stop5971 {
	stop-color: #ffd379;
	stop-opacity: 1;
}

#stop4873-4-1 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4875-0-5 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4873-4 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4875-0 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4873-4-5 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4875-0-4 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4873-4-1-4 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4875-0-5-9 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#g8883 {
	fill: #ffffff;
	display: inline;
}

#path8885 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 0.72602755;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#g8887 {
	fill: #ffffff;
	display: inline;
}

#g8889 {
	fill: #ffffff;
	display: inline;
}

#path8891 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g8893 {
	fill: #ffffff;
}

#rect8895 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path8897 {
	opacity: 0.5;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path8899 {
	opacity: 0.5;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g8901 {
	fill: #ffffff;
	display: inline;
}

#path8903 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g8905 {
	fill: #ffffff;
}

#rect8907 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path8909 {
	opacity: 0.5;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path8911 {
	opacity: 0.5;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path8913 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path8915 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path8917 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#stop5158-3 {
	stop-color: #fdf3cb;
	stop-opacity: 1;
}

#stop5166-2 {
	stop-color: #fdf3cb;
	stop-opacity: 1;
}

#stop5164-8 {
	stop-color: #a77e1c;
	stop-opacity: 0.502;
}

#stop5160-3 {
	stop-color: #a77e1c;
	stop-opacity: 0.5;
}

#stop4864 {
	stop-color: #937323;
	stop-opacity: 1;
}

#stop4866 {
	stop-color: #79601d;
	stop-opacity: 1;
}

#stop4888-3 {
	stop-color: #dec26f;
	stop-opacity: 1;
}

#stop4890-2 {
	stop-color: #fce69e;
	stop-opacity: 1;
}

#stop4880 {
	stop-color: #925218;
	stop-opacity: 1;
}

#stop4882 {
	stop-color: #c1aa38;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#path4887-8-4-7-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//access_restriction_attrib.svg#linearGradient5926);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//access_restriction_attrib.svg#linearGradient5989);
	stroke-width: 0.72602755;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#layer1-8-0 {
	display: inline;
}

#g5029-8-3 {
	display: inline;
}

#rect4035-17-2-0 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-5 {
	fill: #91a5c7;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7-1-5-0 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//access_restriction_attrib.svg#linearGradient4877-1-4);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7-4-5-1-7 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//access_restriction_attrib.svg#linearGradient4879-9-7);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g5029-8-7-6 {
	display: inline;
}

#rect4035-17-2-6-7 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-4-3 {
	fill: #91a5c7;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7-1-5-2-6 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//access_restriction_attrib.svg#linearGradient4877-1-7-2);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7-4-5-1-3-4 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//access_restriction_attrib.svg#linearGradient4879-9-2-9);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-2-4 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-2-2-19 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-2-2-1-5 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g8762 {
	stroke: #ffffff;
	stroke-width: 2;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#g8919 {
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//access_restriction_attrib.svg#filter8947);
	opacity: 0.75;
}

#path5581-4 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path4887-8-4-7-9 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#layer1-8-04 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#g5029-8-4 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.35782695000000020;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#rect4035-17-2-9 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.35782695000000020;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#g4094-4-8 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 5.99996613999999970;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#rect4035-1-1-5-53 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 5.99996613999999970;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#rect4035-1-7-1-5-23 {
	opacity: 0.50000000000000000;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 5.99996613999999970;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#rect4035-1-7-4-5-1-0 {
	opacity: 0.50000000000000000;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 5.99996613999999970;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#g5029-8-7-1 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.35782695000000020;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#rect4035-17-2-6-71 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.35782695000000020;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#g4094-4-1-9 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 5.99996613999999970;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#rect4035-1-1-5-4-8 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 5.99996613999999970;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#rect4035-1-7-1-5-2-8 {
	opacity: 0.50000000000000000;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 5.99996613999999970;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#rect4035-1-7-4-5-1-3-3 {
	opacity: 0.50000000000000000;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 5.99996613999999970;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#rect4035-1-1-5-2-29 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#rect4035-1-1-5-2-2-3 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#rect4035-1-1-5-2-2-1-3 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#path4887-8-4-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//access_restriction_attrib.svg#linearGradient5897);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//access_restriction_attrib.svg#linearGradient5987);
	stroke-width: 0.72602755;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#layer1-8 {
	display: inline;
}

#g5029-8 {
	display: inline;
}

#rect4035-17-2 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5 {
	fill: #91a5c7;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7-1-5 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//access_restriction_attrib.svg#linearGradient4877-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7-4-5-1 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//access_restriction_attrib.svg#linearGradient4879-9);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g5029-8-7 {
	display: inline;
}

#rect4035-17-2-6 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-4 {
	fill: #91a5c7;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7-1-5-2 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//access_restriction_attrib.svg#linearGradient4877-1-7);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7-4-5-1-3 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//access_restriction_attrib.svg#linearGradient4879-9-2);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-2 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-2-2 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-2-2-1 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g3455 {
	display: inline;
}

#rect4838-1-9 {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: Sans;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//access_restriction_attrib.svg#linearGradient8465);
	stroke-width: 2.47056675;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
	marker: none;
	enable-background: accumulate;
}

#rect4838-0 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//access_restriction_attrib.svg#linearGradient3527);
	fill-opacity: 1;
	stroke: none;
}

#rect4894-76 {
	display: inline;
	opacity: 0.25;
	fill: #a77e1c;
	fill-opacity: 1;
	stroke: none;
}

#rect4894-7-7 {
	display: inline;
	opacity: 0.25;
	fill: #a77e1c;
	fill-opacity: 1;
	stroke: none;
}

#path4066-3 {
	display: inline;
	fill: #785b13;
	fill-opacity: 1;
	stroke: none;
}

#rect4836-9 {
	display: inline;
	fill: #785b13;
	fill-opacity: 1;
	stroke: none;
}

#rect4838-12-0 {
	display: inline;
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//access_restriction_attrib.svg#linearGradient8473);
	stroke-width: 1.64704454;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

