@import "stock";

#stop5977 {
	stop-color: #5f88b5;
	stop-opacity: 1;
}

#stop5979 {
	stop-color: #acbcd5;
	stop-opacity: 1;
}

#stop3975 {
	stop-color: #f8d078;
	stop-opacity: 1;
}

#stop3977 {
	stop-color: #f8f0c8;
	stop-opacity: 1;
}

#stop3969 {
	stop-color: #c48a4e;
	stop-opacity: 1;
}

#stop3971 {
	stop-color: #ad6c24;
	stop-opacity: 1;
}

#stop3957 {
	stop-color: #c38536;
	stop-opacity: 1;
}

#stop3959 {
	stop-color: #f2dc91;
	stop-opacity: 1;
}

#stop3961 {
	stop-color: #fbdc8b;
	stop-opacity: 1;
}

#stop3963 {
	stop-color: #e6bd7a;
	stop-opacity: 1;
}

#stop3965 {
	stop-color: #ba772f;
	stop-opacity: 1;
}

#stop3951 {
	stop-color: #9e6627;
	stop-opacity: 1;
}

#stop3953 {
	stop-color: #c38536;
	stop-opacity: 1;
}

#g5155 {
	display: inline;
}

#path5157 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#g5371 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#rect5373 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path5375 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path5377 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#stop4996-4 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop4998-0 {
	stop-color: #dce7f7;
	stop-opacity: 1;
}

#stop4896-8 {
	stop-color: #e0c88f;
	stop-opacity: 1;
}

#stop4898-8 {
	stop-color: #d5b269;
	stop-opacity: 1;
}

#stop4904-5 {
	stop-color: #b4903d;
	stop-opacity: 1;
}

#stop4906-51 {
	stop-color: #7f764e;
	stop-opacity: 1;
}

#stop5977-1 {
	stop-color: #5f88b5;
	stop-opacity: 1;
}

#stop5979-4 {
	stop-color: #acbcd5;
	stop-opacity: 1;
}

#stop3975-4-9-2 {
	stop-color: #f8d078;
	stop-opacity: 1;
}

#stop3977-0-4-1 {
	stop-color: #f8f0c8;
	stop-opacity: 1;
}

#stop4809-7-5 {
	stop-color: #9e6627;
	stop-opacity: 1;
}

#stop4811-50-7 {
	stop-color: #bc8532;
	stop-opacity: 1;
}

#g6375 {
	fill: #ffffff;
	stroke: #ffffff;
}

#g6377 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#rect6379 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path6381 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path6383 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#rect6385 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 4.26543379;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#layer1 {
	display: inline;
}

#g13862 {
	display: inline;
}

#rect13693-3 {
	fill: #fdf7eb;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//cf_src_obj.svg#linearGradient3939);
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect13693 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//cf_src_obj.svg#linearGradient4933);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//cf_src_obj.svg#linearGradient4935);
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path13797 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//cf_src_obj.svg#linearGradient3945);
	stroke-width: 3.02792978;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#g5356 {
	opacity: 0.75;
	stroke-width: 7.16761017;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//cf_src_obj.svg#filter6147);
}

#g5170-1 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 6.05585957;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#path21763-7 {
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 6.05585957;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	font-family: Gautami;
	inkscape-font-specification: Gautami;
}

#path21765-4 {
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 6.05585957;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	font-family: Gautami;
	inkscape-font-specification: Gautami;
}

#path21763-3-0 {
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 6.05585957;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	font-family: Gautami;
	inkscape-font-specification: Gautami;
}

#g6258 {
	display: inline;
}

#rect13693-2-2 {
	opacity: 0.5;
	fill: #000000;
	fill-opacity: 1;
	stroke: #000000;
	stroke-width: 2.38039374;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//cf_src_obj.svg#filter4929-6);
}

#path21763 {
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #17325d;
	fill-opacity: 1;
	stroke: #17325d;
	stroke-width: 1.45282829;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	font-family: Gautami;
	inkscape-font-specification: Gautami;
}

#path21765 {
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #17325d;
	fill-opacity: 1;
	stroke: #17325d;
	stroke-width: 0.89791954;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	font-family: Gautami;
	inkscape-font-specification: Gautami;
}

#path21763-3 {
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #17325d;
	fill-opacity: 1;
	stroke: #17325d;
	stroke-width: 1.45282829;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	font-family: Gautami;
	inkscape-font-specification: Gautami;
}

#rect13693-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//cf_src_obj.svg#linearGradient6107);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//cf_src_obj.svg#linearGradient6109);
	stroke-width: 4.26543379;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#g6359 {
	opacity: 0.75000000000000000;
	stroke: #ffffff;
	stroke-width: 5.37570763000000000;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#g6056-8 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 5.37570763000000000;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//cf_src_obj.svg#filter6387);
}

#layer1-6-7-4 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1.5;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#g4827-1-9 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1.5;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#rect4001-3-1-6 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1.5;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#path4884-5-3 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1.5;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#rect4001-2-7 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1.5;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect5205-8 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1.5;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#rect5205-2-8 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1.5;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#layer1-6-7 {
	display: inline;
}

#rect4001-3-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//cf_src_obj.svg#linearGradient5000-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4884-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//cf_src_obj.svg#linearGradient4900-9);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-2 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//cf_src_obj.svg#linearGradient4884-2);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect5205 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//cf_src_obj.svg#linearGradient5981);
	fill-opacity: 1;
	stroke: none;
}

#rect5205-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//cf_src_obj.svg#linearGradient6037);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

