@import "stock";

#stop4978 {
	stop-color: #696969;
	stop-opacity: 1;
}

#stop4980 {
	stop-color: #4f504f;
	stop-opacity: 1;
}

#stop4907 {
	stop-color: #494949;
	stop-opacity: 1;
}

#stop4918 {
	stop-color: #666665;
	stop-opacity: 1;
}

#stop4916 {
	stop-color: #666665;
	stop-opacity: 1;
}

#stop4914 {
	stop-color: #494949;
	stop-opacity: 1;
}

#stop4921 {
	stop-color: #686867;
	stop-opacity: 1;
}

#stop4925 {
	stop-color: #696969;
	stop-opacity: 1;
}

#stop4910 {
	stop-color: #494949;
	stop-opacity: 1;
}

#stop4907-0 {
	stop-color: #494949;
	stop-opacity: 1;
}

#stop4918-9 {
	stop-color: #666665;
	stop-opacity: 1;
}

#stop4916-4 {
	stop-color: #666665;
	stop-opacity: 1;
}

#stop4914-8 {
	stop-color: #494949;
	stop-opacity: 1;
}

#stop4921-8 {
	stop-color: #686867;
	stop-opacity: 1;
}

#stop4925-2 {
	stop-color: #696969;
	stop-opacity: 1;
}

#stop4910-4 {
	stop-color: #494949;
	stop-opacity: 1;
}

#stop4978-4 {
	stop-color: #696969;
	stop-opacity: 1;
}

#stop4980-0 {
	stop-color: #4f504f;
	stop-opacity: 1;
}

#stop4907-8 {
	stop-color: #494949;
	stop-opacity: 1;
}

#stop4918-2 {
	stop-color: #666665;
	stop-opacity: 1;
}

#stop4916-45 {
	stop-color: #666665;
	stop-opacity: 1;
}

#stop4914-5 {
	stop-color: #494949;
	stop-opacity: 1;
}

#stop4921-1 {
	stop-color: #686867;
	stop-opacity: 1;
}

#stop4925-7 {
	stop-color: #696969;
	stop-opacity: 1;
}

#stop4910-1 {
	stop-color: #494949;
	stop-opacity: 1;
}

#stop4907-0-2 {
	stop-color: #494949;
	stop-opacity: 1;
}

#stop4918-9-7 {
	stop-color: #666665;
	stop-opacity: 1;
}

#stop4916-4-6 {
	stop-color: #666665;
	stop-opacity: 1;
}

#stop4914-8-1 {
	stop-color: #494949;
	stop-opacity: 1;
}

#stop4921-8-4 {
	stop-color: #686867;
	stop-opacity: 1;
}

#stop4925-2-2 {
	stop-color: #696969;
	stop-opacity: 1;
}

#stop4910-4-3 {
	stop-color: #494949;
	stop-opacity: 1;
}

#g4637 {
	fill: #f9f9f9;
	display: inline;
}

#path4639 {
	fill: #f9f9f9;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g4641 {
	fill: #f9f9f9;
}

#path4643 {
	fill: #f9f9f9;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4645 {
	fill: #f9f9f9;
	fill-opacity: 1;
	stroke: none;
}

#rect4647 {
	fill: #f9f9f9;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4649 {
	fill: #f9f9f9;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4651 {
	fill: #f9f9f9;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4653 {
	fill: #f9f9f9;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4655 {
	fill: #f9f9f9;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#layer1 {
	display: inline;
}

#g8159 {
	display: inline;
}

#rect4256-6-2 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4112-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//empty_logical_package_obj.svg#linearGradient4153);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4903 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//empty_logical_package_obj.svg#linearGradient4155);
	fill-opacity: 1;
	stroke: none;
}

#rect4903-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//empty_logical_package_obj.svg#linearGradient4157);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4256-8 {
	fill: #e3ebf8;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4256-6 {
	fill: #e3ebf8;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4256-8-1 {
	fill: #e3ebf8;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4256-8-7-9 {
	fill: #e3ebf8;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g4373-0 {
	display: inline;
	fill: #ffffff;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//empty_logical_package_obj.svg#filter5425);
	stroke: #ffffff;
}

#rect4256-6-2-4-2 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	display: inline;
}

#g4140-2-8 {
	display: inline;
	fill: #ffffff;
	stroke: #ffffff;
}

#rect4112-1-2-6 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	display: inline;
}

#rect4903-1-0 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
}

#rect4903-5-6-2 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	display: inline;
}

#rect4256-4 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
}

#rect4256-5-86 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	display: inline;
}

#rect4256-8-7-5 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	display: inline;
}

#rect4256-5-8-0 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	display: inline;
}

#rect4256-6-2-4 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g4140-2 {
	display: inline;
}

#rect4112-1-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//empty_logical_package_obj.svg#linearGradient4395);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4903-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//empty_logical_package_obj.svg#linearGradient4397);
	fill-opacity: 1;
	stroke: none;
}

#rect4903-5-6 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//empty_logical_package_obj.svg#linearGradient4399);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4256 {
	fill: #e3ebf8;
	fill-opacity: 1;
	stroke: none;
}

#rect4256-5 {
	fill: #e3ebf8;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4256-8-7 {
	fill: #e3ebf8;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4256-5-8 {
	fill: #e3ebf8;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

