@import "stock";

#stop8224 {
	stop-color: #6b9ac3;
	stop-opacity: 1;
}

#stop8226 {
	stop-color: #1c65a2;
	stop-opacity: 1;
}

#stop8228 {
	stop-color: #98b9d5;
	stop-opacity: 1;
}

#stop8171 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop8177 {
	stop-color: #ffffff;
	stop-opacity: 0.49803922;
}

#stop8173 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop8163 {
	stop-color: #6a9ac2;
	stop-opacity: 1;
}

#stop8165 {
	stop-color: #1c65a2;
	stop-opacity: 1;
}

#stop11292 {
	stop-color: #567ead;
	stop-opacity: 1;
}

#stop11294 {
	stop-color: #35679d;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#layer1-71 {
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//envvar_obj.svg#linearGradient8238);
	stroke-opacity: 1;
	display: inline;
}

#g11331-3-1-1 {
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//envvar_obj.svg#linearGradient8232);
	stroke-opacity: 1;
	display: inline;
}

#g13408-8 {
	fill: #737986;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//envvar_obj.svg#linearGradient8230);
	stroke-opacity: 1;
}

#path10796-2-6-2-7 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//envvar_obj.svg#linearGradient8234);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//envvar_obj.svg#linearGradient8236);
	stroke-width: 2.16621375;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	font-family: Sans;
}

#layer1-71-3 {
	opacity: 0.25;
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//envvar_obj.svg#linearGradient8175);
	stroke-opacity: 1;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//envvar_obj.svg#filter11520);
}

#g11331-3-1-1-0 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//envvar_obj.svg#linearGradient8191);
	stroke-opacity: 1;
	display: inline;
}

#g13408-8-8 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//envvar_obj.svg#linearGradient8189);
	stroke-opacity: 1;
}

#g5050-1 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//envvar_obj.svg#linearGradient8197);
	stroke-opacity: 1;
}

#g6940-5-9 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//envvar_obj.svg#linearGradient8195);
	stroke-opacity: 1;
	display: inline;
}

#path10796-2-6-2-7-2 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//envvar_obj.svg#linearGradient8193);
	stroke-width: 2.16621375;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	font-family: Sans;
}

#path10796-2-6-2-7-1 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//envvar_obj.svg#linearGradient8167);
	stroke-width: 2.16621375;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	font-family: Sans;
}

