@import "stock";

#stop4970 {
	stop-color: #7792b2;
	stop-opacity: 1;
}

#stop4972 {
	stop-color: #a1b3cb;
	stop-opacity: 1;
}

#stop4974 {
	stop-color: #6180a9;
	stop-opacity: 1;
}

#stop4976 {
	stop-color: #a1b3cb;
	stop-opacity: 1;
}

#stop4978 {
	stop-color: #7995b8;
	stop-opacity: 1;
}

#stop4962 {
	stop-color: #fdfcfa;
	stop-opacity: 1;
}

#stop4964 {
	stop-color: #ffffff;
	stop-opacity: 0.251;
}

#stop4966 {
	stop-color: #d2e0f1;
	stop-opacity: 0;
}

#stop4849 {
	stop-color: #d2e0f1;
	stop-opacity: 1;
}

#stop4855 {
	stop-color: #d2e0f1;
	stop-opacity: 1;
}

#stop4851 {
	stop-color: #fcf2cf;
	stop-opacity: 1;
}

#stop4827 {
	stop-color: #c7a229;
	stop-opacity: 1;
}

#stop4829 {
	stop-color: #a07e1e;
	stop-opacity: 1;
}

#stop4819 {
	stop-color: #fefdef;
	stop-opacity: 1;
}

#stop4821 {
	stop-color: #fbdd83;
	stop-opacity: 1;
}

#stop4996-4 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop4998-0 {
	stop-color: #dce7f7;
	stop-opacity: 1;
}

#stop4896-8 {
	stop-color: #e0c88f;
	stop-opacity: 1;
}

#stop4898-8 {
	stop-color: #d5b269;
	stop-opacity: 1;
}

#stop4904-5 {
	stop-color: #b4903d;
	stop-opacity: 1;
}

#stop4906-51 {
	stop-color: #7f764e;
	stop-opacity: 1;
}

#stop5977 {
	stop-color: #5f88b5;
	stop-opacity: 1;
}

#stop5979 {
	stop-color: #acbcd5;
	stop-opacity: 1;
}

#stop5977-1 {
	stop-color: #5f88b5;
	stop-opacity: 1;
}

#stop5979-4 {
	stop-color: #acbcd5;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect4044 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jar_lsrc_obj.svg#radialGradient4089);
	fill-opacity: 1;
	stroke: none;
}

#rect4044-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jar_lsrc_obj.svg#radialGradient4091);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4044-1 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jar_lsrc_obj.svg#linearGradient4093);
	stroke-width: 1.10910547;
	stroke-linecap: butt;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect4815 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jar_lsrc_obj.svg#linearGradient4095);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jar_lsrc_obj.svg#linearGradient4097);
	stroke-width: 1.10910547;
	stroke-linecap: butt;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path21763 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: 10px;
	line-height: 125%;
	font-family: Gautami;
	text-align: start;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	display: inline;
	fill: #10305a;
	fill-opacity: 1;
	stroke: #17325d;
	stroke-width: 0.43093461;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path21765 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: 10px;
	line-height: 125%;
	font-family: Gautami;
	inkscape-font-specification: Gautami;
	text-align: start;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	display: inline;
	fill: #10305a;
	fill-opacity: 1;
	stroke: #17325d;
	stroke-width: 0.26428938;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path21763-3 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: 10px;
	line-height: 125%;
	font-family: Gautami;
	inkscape-font-specification: Gautami;
	text-align: start;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	display: inline;
	fill: #10305a;
	fill-opacity: 1;
	stroke: #17325d;
	stroke-width: 0.43324903;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#g6056 {
	display: inline;
}

#layer1-6-7 {
	display: inline;
}

#rect4001-3-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jar_lsrc_obj.svg#linearGradient5000-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4884-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jar_lsrc_obj.svg#linearGradient4900-9);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-2 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jar_lsrc_obj.svg#linearGradient4884-2);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect5205 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jar_lsrc_obj.svg#linearGradient5981);
	fill-opacity: 1;
	stroke: none;
}

#rect5205-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jar_lsrc_obj.svg#linearGradient6037);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

