@import "stock";

#stop5791 {
	stop-color: #f57c7c;
	stop-opacity: 1;
}

#stop5793 {
	stop-color: #f14d5c;
	stop-opacity: 1;
}

#stop5795 {
	stop-color: #e76061;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g11331-3-1-1 {
	display: inline;
}

#g13408-8 {
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-opacity: 1;
}

#g6124-3 {
	display: inline;
}

#text6430 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	font-family: Sans;
}

#g6438 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#rect6724 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//methpri_obj.svg#linearGradient5742);
	fill-opacity: 1;
	stroke: #cb2e39;
	stroke-width: 1.01823986;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#rect6724-4 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	opacity: 0.25;
	fill: none;
	stroke: #ffffff;
	stroke-width: 0.68290508;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//methpri_obj.svg#filter5785);
	font-family: Sans;
}

