@import "stock";

#stop3969 {
	stop-color: #c48a4e;
	stop-opacity: 1;
}

#stop3971 {
	stop-color: #ad6c24;
	stop-opacity: 1;
}

#stop3975 {
	stop-color: #f8d078;
	stop-opacity: 1;
}

#stop3977 {
	stop-color: #f8f0c8;
	stop-opacity: 1;
}

#stop3951 {
	stop-color: #9e6627;
	stop-opacity: 1;
}

#stop3953 {
	stop-color: #c38536;
	stop-opacity: 1;
}

#stop3957 {
	stop-color: #c38536;
	stop-opacity: 1;
}

#stop3959 {
	stop-color: #f2dc91;
	stop-opacity: 1;
}

#stop3961 {
	stop-color: #fbdc8b;
	stop-opacity: 1;
}

#stop3963 {
	stop-color: #e6bd7a;
	stop-opacity: 1;
}

#stop3965 {
	stop-color: #ba772f;
	stop-opacity: 1;
}

#g5155 {
	display: inline;
}

#path5157 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#stop3975-4-9-2 {
	stop-color: #f8d078;
	stop-opacity: 1;
}

#stop3977-0-4-1 {
	stop-color: #f8f0c8;
	stop-opacity: 1;
}

#stop4809-7-5 {
	stop-color: #9e6627;
	stop-opacity: 1;
}

#stop4811-50-7 {
	stop-color: #bc8532;
	stop-opacity: 1;
}

#stop11150-4-72-2-0 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-9-0-2-9 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop11150-7-5-9-0-8 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-8-4-35-4-2 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop11150-9-6-9-9-5 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-6-7-6-1-1 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop11150-7-8-3-8-47-1 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-8-8-6-3-4-5 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g13813 {
	display: inline;
}

#rect13693-3 {
	fill: #fdf7eb;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//packagefolder_obj.svg#linearGradient3939);
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect13693 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//packagefolder_obj.svg#linearGradient4933);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//packagefolder_obj.svg#linearGradient4935-1);
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path13797 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//packagefolder_obj.svg#linearGradient5342);
	stroke-width: 3.02792978;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#g11260-4-3 {
	display: inline;
}

#g3047 {
	stroke-width: 3.58380508;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#rect10961-8-9 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//packagefolder_obj.svg#radialGradient3055);
	fill-opacity: 1;
	stroke: #694337;
	stroke-width: 3.58380508;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect10961-9-0-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//packagefolder_obj.svg#radialGradient3057);
	fill-opacity: 1;
	stroke: #694337;
	stroke-width: 3.58380508;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect10961-3-9-3 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//packagefolder_obj.svg#radialGradient3059);
	fill-opacity: 1;
	stroke: #694337;
	stroke-width: 3.58380508;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect10961-9-6-4-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//packagefolder_obj.svg#radialGradient3061);
	fill-opacity: 1;
	stroke: #694337;
	stroke-width: 3.58380508;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path11108-6-0 {
	fill: none;
	stroke: #694337;
	stroke-width: 3.58380508;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path11108-8-0-8 {
	fill: none;
	stroke: #694337;
	stroke-width: 3.58380508;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#g6258 {
	display: inline;
}

#rect13693-2-2 {
	opacity: 0.5;
	fill: #000000;
	fill-opacity: 1;
	stroke: #000000;
	stroke-width: 2.38039374;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//packagefolder_obj.svg#filter4929-6);
}

#rect13693-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//packagefolder_obj.svg#linearGradient6107);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//packagefolder_obj.svg#linearGradient6109);
	stroke-width: 1.19019687;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

