@import "stock";

#stop5896 {
	stop-color: #309858;
	stop-opacity: 1;
}

#stop5898 {
	stop-color: #b8d0a0;
	stop-opacity: 1;
}

#stop5994 {
	stop-color: #fcf5ce;
	stop-opacity: 1;
}

#stop6002 {
	stop-color: #f1f2c5;
	stop-opacity: 1;
}

#stop6000 {
	stop-color: #dceab4;
	stop-opacity: 1;
}

#stop5996 {
	stop-color: #d8e8b0;
	stop-opacity: 1;
}

#stop5935 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop5937 {
	stop-color: #abb6c2;
	stop-opacity: 1;
}

#stop5927 {
	stop-color: #9eacbc;
	stop-opacity: 1;
}

#stop5929 {
	stop-color: #667480;
	stop-opacity: 1;
}

#stop5994-6 {
	stop-color: #fcf5ce;
	stop-opacity: 1;
}

#stop6002-8 {
	stop-color: #f1f2c5;
	stop-opacity: 1;
}

#stop6000-4 {
	stop-color: #dceab4;
	stop-opacity: 1;
}

#stop5996-5 {
	stop-color: #d8e8b0;
	stop-opacity: 1;
}

#stop5896-5 {
	stop-color: #309858;
	stop-opacity: 1;
}

#stop5898-7 {
	stop-color: #b8d0a0;
	stop-opacity: 1;
}

#stop5994-6-9 {
	stop-color: #fcf5ce;
	stop-opacity: 1;
}

#stop6002-8-1 {
	stop-color: #f1f2c5;
	stop-opacity: 1;
}

#stop6000-4-6 {
	stop-color: #dceab4;
	stop-opacity: 1;
}

#stop5996-5-3 {
	stop-color: #d8e8b0;
	stop-opacity: 1;
}

#stop5896-5-3 {
	stop-color: #309858;
	stop-opacity: 1;
}

#stop5898-7-4 {
	stop-color: #b8d0a0;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#path5108-4 {
	display: inline;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect5896-7 {
	fill: #4a607a;
	fill-opacity: 1;
	stroke: #4a607a;
	stroke-width: 0.89997447;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path5108 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//quickassist_obj.svg#radialGradient3053);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//quickassist_obj.svg#linearGradient3055);
	stroke-width: 0.89997447;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect5896 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//quickassist_obj.svg#linearGradient5939);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//quickassist_obj.svg#linearGradient5931);
	stroke-width: 0.89997446999999986;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

