@import "stock";

#stop5896 {
	stop-color: #e9a328;
	stop-opacity: 1;
}

#stop5898 {
	stop-color: #f9c537;
	stop-opacity: 1;
}

#stop5994 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop6002 {
	stop-color: #fdfbeb;
	stop-opacity: 1;
}

#stop6000 {
	stop-color: #f8eb99;
	stop-opacity: 1;
}

#stop5996 {
	stop-color: #ffe4b1;
	stop-opacity: 1;
}

#stop5935 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop5937 {
	stop-color: #abb6c2;
	stop-opacity: 1;
}

#stop5927 {
	stop-color: #9eacbc;
	stop-opacity: 1;
}

#stop5929 {
	stop-color: #667480;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#path5108-6 {
	fill: none;
	stroke: #edaa2b;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//quickfix_obj.svg#filter6048);
}

#path5108 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//quickfix_obj.svg#radialGradient5998);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//quickfix_obj.svg#linearGradient5900);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#rect5896-7 {
	fill: #4a607a;
	fill-opacity: 1;
	stroke: #4a607a;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect5896 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//quickfix_obj.svg#linearGradient5939);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//quickfix_obj.svg#linearGradient5931);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

