@import "stock";

#stop3822 {
	stop-color: #e0e566;
	stop-opacity: 1;
}

#stop3824 {
	stop-color: #a6c35a;
	stop-opacity: 1;
}

#stop3814 {
	stop-color: #5fb07b;
	stop-opacity: 1;
}

#stop3816 {
	stop-color: #357654;
	stop-opacity: 1;
}

#stop23104 {
	stop-color: #cfa73e;
	stop-opacity: 1;
}

#stop23118 {
	stop-color: #fecf6c;
	stop-opacity: 1;
}

#stop23106 {
	stop-color: #ffea91;
	stop-opacity: 1;
}

#rect3032 {
	opacity: 1;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//remove_correction.svg#linearGradient3818);
	fill-opacity: 1;
	stroke: none;
}

#rect3802 {
	opacity: 1;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//remove_correction.svg#linearGradient3826);
	fill-opacity: 1;
	stroke: none;
}

