@import "stock";

#layer1 {
	display: inline;
}

#g8472 {
	display: inline;
}

#g4193 {
	opacity: 1;
}

#path4292 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #8b8b8b;
	stroke-width: 0.75522922999999986;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path4253 {
	fill: #959595;
	fill-opacity: 1;
	stroke: none;
}

#path4253-7 {
	fill: #959595;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4292-0 {
	fill: none;
	stroke: #ffffff;
	stroke-width: 0.75896406000000005;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

