@import "stock";

#stop15992 {
	stop-color: #e9f9ff;
	stop-opacity: 1;
}

#stop15994 {
	stop-color: #f7fcff;
	stop-opacity: 1;
}

#stop15824 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop15826 {
	stop-color: #6f85af;
	stop-opacity: 1;
}

#stop15050 {
	stop-color: #a79c68;
	stop-opacity: 1;
}

#stop15052 {
	stop-color: #687692;
	stop-opacity: 1;
}

#stop4912-8-40 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914-8-7 {
	stop-color: #d1eeff;
	stop-opacity: 1;
}

#stop4996-5-2 {
	stop-color: #d1eeff;
	stop-opacity: 1;
}

#stop4998-5-1 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop15824-7 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop15826-3 {
	stop-color: #6f85af;
	stop-opacity: 1;
}

#stop15900-9 {
	stop-color: #e9f9ff;
	stop-opacity: 1;
}

#stop15902-8 {
	stop-color: #f3fcff;
	stop-opacity: 1;
}

#stop4996-5-2-5 {
	stop-color: #d1eeff;
	stop-opacity: 1;
}

#stop4998-5-1-2 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4912-8-40-6 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914-8-7-9 {
	stop-color: #d1eeff;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#layer1-8 {
	display: inline;
}

#layer1-6 {
	display: inline;
}

#rect3997-9-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/eview16//details_view.svg#linearGradient15925);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect3997-9-2-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/eview16//details_view.svg#linearGradient15971);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect3997-9 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/eview16//details_view.svg#linearGradient4079);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect4853-82-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/eview16//details_view.svg#linearGradient4077);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/eview16//details_view.svg#linearGradient4075);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect18863 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/eview16//details_view.svg#linearGradient15828);
	fill-opacity: 1;
	stroke: none;
}

#rect18863-3 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/eview16//details_view.svg#linearGradient15845);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect18863-0 {
	fill: #8e8c78;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-7-8 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/eview16//details_view.svg#linearGradient16016);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0-3 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/eview16//details_view.svg#linearGradient4075-2);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

