@import "stock";

#lefthandle-stroke-stop0 {
	stop-color: #7395b8;
	stop-opacity: 1;
}

#lefthandle-stroke-stop1 {
	stop-color: #125f9c;
	stop-opacity: 1;
}

#righthandle-stroke-stop0 {
	stop-color: #7395b8;
	stop-opacity: 1;
}

#righthandle-stroke-stop1 {
	stop-color: #125f9c;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#leftblade {
	fill: #79879d;
	fill-opacity: 1;
	stroke: #4d607b;
	stroke-width: 0.5;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#rightblade {
	display: inline;
	fill: #79879d;
	fill-opacity: 1;
	stroke: #4d607b;
	stroke-width: 0.5;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#pin {
	fill: #4d607b;
	fill-opacity: 1;
	stroke: none;
}

#lefthandle {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//cut_edit.svg#lefthandle-stroke);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#righthandle {
	display: inline;
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//cut_edit.svg#righthandle-stroke);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

