@import "stock";

#x-bg-stop0 {
	stop-color: #df2c33;
	stop-opacity: 1;
}

#x-bg-stop1 {
	stop-color: #f5817d;
	stop-opacity: 1;
}

#x-stroke-stop0 {
	stop-color: #c51325;
	stop-opacity: 1;
}

#x-stroke-stop1 {
	stop-color: #ca5d49;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#x {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//delete_edit.svg#x-bg);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//delete_edit.svg#x-stroke);
	stroke-width: 0.98060334;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

