@import "stock";

#stop12206 {
	stop-color: #f5b9ac;
	stop-opacity: 1;
}

#stop12214 {
	stop-color: #f7cec5;
	stop-opacity: 1;
}

#stop12212 {
	stop-color: #f7ccc3;
	stop-opacity: 1;
}

#stop12208 {
	stop-color: #f5b9ac;
	stop-opacity: 1;
}

#stop12146 {
	stop-color: #ca9189;
	stop-opacity: 1;
}

#stop12154 {
	stop-color: #f5b9ac;
	stop-opacity: 1;
}

#stop12152 {
	stop-color: #f5b9ac;
	stop-opacity: 1;
}

#stop12148 {
	stop-color: #bd847e;
	stop-opacity: 1;
}

#stop4084-8 {
	stop-color: #4476aa;
	stop-opacity: 1;
}

#stop4864-7 {
	stop-color: #5a9ccc;
	stop-opacity: 1;
}

#stop4086-2 {
	stop-color: #4476aa;
	stop-opacity: 1;
}

#stop4996-5-9 {
	stop-color: #c5dff4;
	stop-opacity: 1;
}

#stop4998-5-0 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4912-8-5 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914-8-1 {
	stop-color: #c5dff4;
	stop-opacity: 1;
}

#stop4812-0 {
	stop-color: #be9a4b;
	stop-opacity: 1;
}

#stop4814-4 {
	stop-color: #877e60;
	stop-opacity: 1;
}

#stop4910-7-2-7-1 {
	stop-color: #986443;
	stop-opacity: 1;
}

#stop4912-6-2-9-49 {
	stop-color: #994f1b;
	stop-opacity: 1;
}

#stop5079-7-3 {
	stop-color: #e4cf94;
	stop-opacity: 1;
}

#stop5087-6-7 {
	stop-color: #ede0ba;
	stop-opacity: 1;
}

#stop5085-1-30 {
	stop-color: #c1aa7e;
	stop-opacity: 1;
}

#stop5081-8-1 {
	stop-color: #ad8865;
	stop-opacity: 1;
}

#stop5302-7 {
	stop-color: #4d4d4d;
	stop-opacity: 1;
}

#stop5308-8 {
	stop-color: #727272;
	stop-opacity: 1;
}

#stop5304-9 {
	stop-color: #4d4d4d;
	stop-opacity: 1;
}

#path7586 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#layer1 {
	display: inline;
}

#rect3997-9 {
	fill: #f4fcff;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//editor_area.svg#linearGradient8887);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#rect4853-82-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//editor_area.svg#linearGradient8884);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//editor_area.svg#linearGradient8881);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect3997-9-9 {
	fill: #58b6e8;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//editor_area.svg#linearGradient8878);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#path5226-6-14-1-5-9-9 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	filter: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//editor_area.svg#filter8356);
}

#layer1-5-8 {
	display: inline;
}

#path5226-6-14-1-5-9 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//editor_area.svg#linearGradient12292);
	stroke-width: 1;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path5424-7 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffcb72;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path5226-6-14-1-5-2-9 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #e5a856;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path5226-6-14-1-5-2-7-1 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #fbbc67;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path5426-9 {
	opacity: 0.5;
	fill: none;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	filter: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//editor_area.svg#filter5428-3);
}

#path5006-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//editor_area.svg#linearGradient12294);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5006-1-8 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//editor_area.svg#linearGradient12296);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path11335 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//editor_area.svg#linearGradient12298);
	fill-opacity: 1;
	stroke: none;
}

#path11335-9 {
	fill: #f5b9ac;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//editor_area.svg#linearGradient12300);
	stroke-width: 0.2935867;
	stroke-linecap: butt;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path11335-4 {
	fill: none;
	stroke: #b6766f;
	stroke-width: 0.30913702;
	stroke-linecap: butt;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path11335-4-0 {
	fill: #dedfe2;
	fill-opacity: 1;
	stroke: #a79a9e;
	stroke-width: 0.34410122;
	stroke-linecap: butt;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

