@import "stock";

#end-stroke-stop0 {
	stop-color: #906f4e;
	stop-opacity: 1;
}

#end-stroke-stop1 {
	stop-color: #dfbd7f;
	stop-opacity: 1;
}

#portal-bg-stop0 {
	stop-color: #bbb8bb;
	stop-opacity: 1;
}

#portal-bg-stop1 {
	stop-color: #ccc8cb;
	stop-opacity: 1;
}

#portal-bg-stop2 {
	stop-color: #bdb6bc;
	stop-opacity: 1;
}

#portal-bg-stop3 {
	stop-color: #9b8c98;
	stop-opacity: 1;
}

#beam-bg-stop0 {
	stop-color: #fef48d;
	stop-opacity: 1;
}

#beam-bg-stop1 {
	stop-color: #fffffe;
	stop-opacity: 1;
}

#beam-bg-stop2 {
	stop-color: #fffffe;
	stop-opacity: 1;
}

#beam-bg-stop3 {
	stop-color: #fef48d;
	stop-opacity: 1;
}

#beam-stroke-stop0 {
	stop-color: #e4a239;
	stop-opacity: 1;
}

#beam-stroke-stop1 {
	stop-color: #fada7d;
	stop-opacity: 1;
}

#handle-bg-stop0 {
	stop-color: #f4d684;
	stop-opacity: 1;
}

#handle-bg-stop1 {
	stop-color: #fcf4c6;
	stop-opacity: 1;
}

#handle-bg-stop2 {
	stop-color: #fbeebc;
	stop-opacity: 1;
}

#handle-bg-stop3 {
	stop-color: #eeb960;
	stop-opacity: 1;
}

#handle-stroke-stop0 {
	stop-color: #f0a53b;
	stop-opacity: 1;
}

#handle-stroke-stop1 {
	stop-color: #f2d58f;
	stop-opacity: 1;
}

#handle-stroke-stop2 {
	stop-color: #efb965;
	stop-opacity: 1;
}

#handle-stroke-stop3 {
	stop-color: #df9833;
	stop-opacity: 1;
}

#portal-stroke-stop0 {
	stop-color: #ad8e5f;
	stop-opacity: 1;
}

#portal-stroke-stop1 {
	stop-color: #8f6e4d;
	stop-opacity: 1;
}

#stop5450 {
	stop-color: #ad8e5f;
	stop-opacity: 1;
}

#stop5452 {
	stop-color: #8f6e4d;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#end {
	display: inline;
	fill: #e09a36;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//help_search.svg#linearGradient5368);
	stroke-width: 1;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
	fill-opacity: 1;
}

#handle {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//help_search.svg#linearGradient5370);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//help_search.svg#linearGradient5434);
	stroke-width: 0.93467808;
	stroke-opacity: 1;
}

#switch {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: Sans;
	inkscape-font-specification: Sans;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: #496da1;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1px;
	marker: none;
	enable-background: accumulate;
}

#rect4221-7-1 {
	display: inline;
	fill: #ffffc9;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//help_search.svg#linearGradient5454);
	stroke-width: 0.93467808;
	stroke-opacity: 1;
}

#beam {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//help_search.svg#linearGradient5372);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//help_search.svg#linearGradient5374);
	stroke-width: 0.8224746;
	stroke-opacity: 1;
}

#portal {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//help_search.svg#linearGradient5376);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//help_search.svg#linearGradient5446);
	stroke-width: 0.935;
	stroke-linejoin: round;
	stroke-miterlimit: 3;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#circle {
	display: inline;
	fill: #f6fcff;
	fill-opacity: 1;
	stroke: #4f627e;
	stroke-width: 0.558;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#question {
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 125%;
	font-family: Sans;
	inkscape-font-specification: 'Sans Bold';
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #64768f;
	fill-opacity: 1;
	stroke: none;
}

