@import "stock";

#frame-bg-stop0 {
	stop-color: #d5f3ff;
	stop-opacity: 1;
}

#frame-bg-stop1 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#frame-stroke-stop0 {
	stop-color: #877e60;
	stop-opacity: 1;
}

#frame-stroke-stop1 {
	stop-color: #c0a753;
	stop-opacity: 1;
}

#stripe-fill-stop0 {
	stop-color: #68b3e1;
	stop-opacity: 1;
}

#stripe-fill-stop1 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#header-fill-stop0 {
	stop-color: #4476aa;
	stop-opacity: 1;
}

#header-fill-stop1 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4530-0-5-0-5 {
	stop-color: #e0c576;
	stop-opacity: 1;
}

#stop4532-7-9-3-3 {
	stop-color: #9e7916;
	stop-opacity: 1;
}

#stop6283-0-2-2-1-2-0-1 {
	stop-color: #f7f9fb;
	stop-opacity: 1;
}

#stop6285-5-0-9-7-6-9-9 {
	stop-color: #ffd680;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#winframe {
	color: #000000;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//new_fastview.svg#linearGradient4936);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//new_fastview.svg#linearGradient4915);
	stroke-width: 1;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
	marker: none;
	enable-background: accumulate;
}

#header {
	color: #000000;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//new_fastview.svg#linearGradient4917);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.89999998;
	marker: none;
	enable-background: accumulate;
}

#stripe {
	color: #000000;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//new_fastview.svg#linearGradient4919);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.89999998;
	marker: none;
	enable-background: accumulate;
}

#starshadow4 {
	display: inline;
	opacity: 0.85;
	fill: #945112;
	fill-opacity: 1;
	stroke: none;
}

#starshadow3 {
	display: inline;
	opacity: 0.85;
	fill: #945112;
	fill-opacity: 1;
	stroke: none;
}

#starshadow2 {
	display: inline;
	opacity: 0.85;
	fill: #945112;
	fill-opacity: 1;
	stroke: none;
}

#starshadow1 {
	display: inline;
	opacity: 0.85;
	fill: #945112;
	fill-opacity: 1;
	stroke: none;
}

#starshadow5 {
	display: inline;
	opacity: 0.85;
	fill: #945112;
	fill-opacity: 1;
	stroke: none;
}

#star4 {
	display: inline;
	opacity: 0.85;
	fill: #fee9ac;
	fill-opacity: 0.96862745;
	stroke: none;
}

#star3 {
	display: inline;
	opacity: 0.85;
	fill: #fee9ac;
	fill-opacity: 0.96862745;
	stroke: none;
}

#star2 {
	display: inline;
	opacity: 0.85;
	fill: #fee9ac;
	fill-opacity: 0.96862745;
	stroke: none;
}

#star1 {
	display: inline;
	opacity: 0.85;
	fill: #fee9ac;
	fill-opacity: 0.96862745;
	stroke: none;
}

#star5 {
	display: inline;
	opacity: 0.85;
	fill: #fee9ac;
	fill-opacity: 0.96862745;
	stroke: none;
}

#starinterior {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//new_fastview.svg#radialGradient3091-1-9-6);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1.03243756;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#starcross {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//new_fastview.svg#linearGradient3093-5-2-7);
	fill-opacity: 1;
	stroke: none;
}

#starexterior {
	display: inline;
	fill: none;
	fill-opacity: 1;
	stroke: #a27d18;
	stroke-width: 1.03243756;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

