@import "stock";

#clasp-stroke-stop0 {
	stop-color: #607396;
	stop-opacity: 1;
}

#clasp-stroke-stop1 {
	stop-color: #a7afbc;
	stop-opacity: 1;
}

#clasp-bg-stop0 {
	stop-color: #8194b4;
	stop-opacity: 1;
}

#clasp-bg-stop1 {
	stop-color: #cdd4e0;
	stop-opacity: 1;
}

#clipboard-bg-stop0 {
	stop-color: #f2c671;
	stop-opacity: 1;
}

#clipboard-bg-stop1 {
	stop-color: #f3e2bf;
	stop-opacity: 1;
}

#paper-bg-stop0 {
	stop-color: #daedef;
	stop-opacity: 1;
}

#paper-bg-stop1 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#paper-stroke-stop0 {
	stop-color: #c89840;
	stop-opacity: 1;
}

#paper-stroke-stop1 {
	stop-color: #798da2;
	stop-opacity: 1;
}

#paper-lines-stop0 {
	stop-color: #7795b6;
	stop-opacity: 1;
}

#paper-lines-stop1 {
	stop-color: #7795b6;
	stop-opacity: 0;
}

#paper-fold-stop0 {
	stop-color: #d8bc68;
	stop-opacity: 1;
}

#paper-fold-stop1 {
	stop-color: #fff0c2;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#clipboard {
	color: #000000;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//paste_edit.svg#clipboard-bg);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #af8456;
	stroke-width: 1;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
	marker: none;
	enable-background: accumulate;
}

#clasp {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//paste_edit.svg#clasp-bg);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//paste_edit.svg#clasp-stroke);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#paper {
	color: #000000;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//paste_edit.svg#paper-bg);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//paste_edit.svg#paper-stroke);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
	marker: none;
	enable-background: accumulate;
}

#paper-fold {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//paste_edit.svg#paper-fold-bg-6);
	fill-opacity: 1;
	stroke: none;
}

#paper-lines {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: sans-serif;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	text-decoration-style: solid;
	text-decoration-color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	white-space: normal;
	clip-rule: nonzero;
	display: inline;
	overflow: visible;
	visibility: visible;
	opacity: 1;
	isolation: auto;
	mix-blend-mode: normal;
	color-interpolation: sRGB;
	color-interpolation-filters: linearRGB;
	solid-color: #000000;
	solid-opacity: 1;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//paste_edit.svg#paper-lines);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.51251632;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
	marker: none;
	color-rendering: auto;
	image-rendering: auto;
	shape-rendering: auto;
	text-rendering: auto;
	enable-background: accumulate;
}

#title3402 {
	fill-opacity: 1.0;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//paste_edit.svg#paper-lines-2);
}

