@import "stock";

#arrow-bg-stop0 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#arrow-bg-stop1 {
	stop-color: #ffd25d;
	stop-opacity: 1;
}

#arrow-stroke-stop0 {
	stop-color: #ad7212;
	stop-opacity: 1;
}

#arrow-stroke-stop1 {
	stop-color: #a17124;
	stop-opacity: 1;
}

#arrow-stroke-stop0-3 {
	stop-color: #ad7212;
	stop-opacity: 1;
}

#arrow-stroke-stop1-5 {
	stop-color: #996c22;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g7604-8 {
	display: inline;
}

#redo-arrow {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//redo_edit.svg#arrow-bg-3);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//redo_edit.svg#arrow-stroke-5);
	stroke-width: 0.62010396;
	stroke-linecap: butt;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

