@import "stock";

#base-bg-stop0 {
	stop-color: #b7c9e3;
	stop-opacity: 1;
}

#base-bg-stop1 {
	stop-color: #f3f5f6;
	stop-opacity: 1;
}

#label-fill-back-stop0 {
	stop-color: #e4cf9d;
	stop-opacity: 1;
}

#label-fill-back-stop1 {
	stop-color: #dce9f2;
	stop-opacity: 1;
}

#label-fill-back-stop2 {
	stop-color: #fefdfa;
	stop-opacity: 1;
}

#label-stroke-back-stop0 {
	stop-color: #8a9b9e;
	stop-opacity: 1;
}

#label-stroke-back-stop1 {
	stop-color: #b1bdbf;
	stop-opacity: 1;
}

#base-stroke-back-stop0 {
	stop-color: #8a9b9e;
	stop-opacity: 1;
}

#base-stroke-back-stop1 {
	stop-color: #5b7aaa;
	stop-opacity: 1;
}

#base-bg-back-stop0 {
	stop-color: #b7c9e3;
	stop-opacity: 1;
}

#base-bg-back-stop1 {
	stop-color: #f3f5f6;
	stop-opacity: 1;
}

#label-fill-mid-stop0 {
	stop-color: #e4cf9d;
	stop-opacity: 1;
}

#label-fill-mid-stop1 {
	stop-color: #dce9f2;
	stop-opacity: 1;
}

#label-fill-mid-stop2 {
	stop-color: #fefdfa;
	stop-opacity: 1;
}

#label-stroke-mid-stop0 {
	stop-color: #8a9b9e;
	stop-opacity: 1;
}

#label-stroke-mid-stop1 {
	stop-color: #b1bdbf;
	stop-opacity: 1;
}

#base-bg-mid-stop0 {
	stop-color: #b7c9e3;
	stop-opacity: 1;
}

#base-bg-mid-stop1 {
	stop-color: #f3f5f6;
	stop-opacity: 1;
}

#base-stroke-mid-stop0 {
	stop-color: #8a9b9e;
	stop-opacity: 1;
}

#base-stroke-mid-stop1 {
	stop-color: #5b7aaa;
	stop-opacity: 1;
}

#base-stroke-stop0 {
	stop-color: #8a9b9e;
	stop-opacity: 1;
}

#base-stroke-stop1 {
	stop-color: #5b7aaa;
	stop-opacity: 1;
}

#label-fill-stop0 {
	stop-color: #e4cf9d;
	stop-opacity: 1;
}

#label-fill-stop1 {
	stop-color: #dce9f2;
	stop-opacity: 1;
}

#label-fill-stop2 {
	stop-color: #fefdfa;
	stop-opacity: 1;
}

#io-slider-fill-stop0 {
	stop-color: #e4cf9d;
	stop-opacity: 1;
}

#io-slider-fill-stop1 {
	stop-color: #b5cef2;
	stop-opacity: 1;
}

#io-slider-fill-stop2 {
	stop-color: #97b2d9;
	stop-opacity: 1;
}

#io-slider-fill-stop3 {
	stop-color: #f8f8fc;
	stop-opacity: 1;
}

#label-stroke-stop0 {
	stop-color: #8a9b9e;
	stop-opacity: 1;
}

#label-stroke-stop1 {
	stop-color: #b1bdbf;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#disk-back {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveall_edit.svg#base-fill-inst-0-0);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveall_edit.svg#base-stroke-inst-1-5);
	stroke-width: 0.99899781;
	stroke-opacity: 1;
}

#label-back {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveall_edit.svg#label-fill-inst-1-7);
	fill-opacity: 1.0;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveall_edit.svg#label-stroke-inst-8-9);
	stroke-width: 0.99899781;
	stroke-opacity: 1;
}

#title3679 {
	fill-opacity: 1.0;
}

#disk-mid {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveall_edit.svg#base-fill-inst-0);
	fill-opacity: 1.0;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveall_edit.svg#base-stroke-inst-1);
	stroke-width: 0.99899781;
	stroke-opacity: 1;
}

#title3677 {
	fill-opacity: 1.0;
}

#label-mid {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveall_edit.svg#label-fill-inst-1);
	fill-opacity: 1.0;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveall_edit.svg#label-stroke-inst-8);
	stroke-width: 0.99899781;
	stroke-opacity: 1;
}

#title3681 {
	fill-opacity: 1.0;
}

#disk-base {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveall_edit.svg#base-fill-inst);
	fill-opacity: 1.0;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveall_edit.svg#base-stroke-inst);
	stroke-opacity: 1;
}

#io-slider {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveall_edit.svg#io-slider-fill-inst);
	fill-opacity: 1;
	stroke: #5b7aaa;
	stroke-opacity: 1;
}

#io-slider-slot {
	display: inline;
	fill: #5b7aaa;
	fill-opacity: 1;
	stroke: none;
}

#label-base {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveall_edit.svg#label-fill-inst);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveall_edit.svg#label-stroke-inst);
	stroke-opacity: 1;
}

#label-lines {
	display: inline;
	opacity: 0.35;
	fill: #a6b4b6;
	fill-opacity: 1;
	stroke: none;
}

