@import "stock";

#dot1-bg-stop0 {
	stop-color: #83adf0;
	stop-opacity: 1;
}

#dot1-bg-stop1 {
	stop-color: #224377;
	stop-opacity: 1;
}

#dot2-bg-stop0 {
	stop-color: #83adf0;
	stop-opacity: 1;
}

#dot2-bg-stop1 {
	stop-color: #224377;
	stop-opacity: 1;
}

#dot3-bg-stop0 {
	stop-color: #83adf0;
	stop-opacity: 1;
}

#dot3-bg-stop1 {
	stop-color: #224377;
	stop-opacity: 1;
}

#base-bg-stop0 {
	stop-color: #b7c9e3;
	stop-opacity: 1;
}

#base-bg-stop1 {
	stop-color: #f3f5f6;
	stop-opacity: 1;
}

#base-stroke-stop0 {
	stop-color: #8a9b9e;
	stop-opacity: 1;
}

#base-stroke-stop1 {
	stop-color: #5b7aaa;
	stop-opacity: 1;
}

#label-fill-stop0 {
	stop-color: #e4cf9d;
	stop-opacity: 1;
}

#label-fill-stop1 {
	stop-color: #dce9f2;
	stop-opacity: 1;
}

#label-fill-stop2 {
	stop-color: #fefdfa;
	stop-opacity: 1;
}

#label-stroke-stop0 {
	stop-color: #8a9b9e;
	stop-opacity: 1;
}

#label-stroke-stop1 {
	stop-color: #b1bdbf;
	stop-opacity: 1;
}

#io-slider-fill-stop0 {
	stop-color: #e4cf9d;
	stop-opacity: 1;
}

#io-slider-fill-stop1 {
	stop-color: #b5cef2;
	stop-opacity: 1;
}

#io-slider-fill-stop2 {
	stop-color: #97b2d9;
	stop-opacity: 1;
}

#io-slider-fill-stop3 {
	stop-color: #f8f8fc;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g6052 {
	display: inline;
}

#dot1 {
	opacity: 0.97330592;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveas_edit.svg#dot1-bg);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.80000001;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#dot2 {
	opacity: 0.97330592;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveas_edit.svg#dot2-bg);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.80000001;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#dot3 {
	opacity: 0.97330592;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveas_edit.svg#dot3-bg);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.80000001;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#disk-base {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveas_edit.svg#base-fill-inst);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveas_edit.svg#base-stroke-inst);
	stroke-opacity: 1;
}

#io-slider {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveas_edit.svg#io-slider-fill-inst);
	fill-opacity: 1;
	stroke: #5b7aaa;
	stroke-opacity: 1;
}

#io-slider-slot {
	display: inline;
	fill: #5b7aaa;
	fill-opacity: 1;
	stroke: none;
}

#label-base {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveas_edit.svg#label-fill-inst);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveas_edit.svg#label-stroke-inst);
	stroke-opacity: 1;
}

#label-lines {
	display: inline;
	opacity: 0.35;
	fill: #a6b4b6;
	fill-opacity: 1;
	stroke: none;
}

#rect3423 {
	opacity: 1;
	fill: #000000;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

