@import "stock";

#stop3987 {
	stop-color: #feffbf;
	stop-opacity: 1;
}

#stop3989 {
	stop-color: #ffdd6c;
	stop-opacity: 1;
}

#stop4895 {
	stop-color: #b7c9e3;
	stop-opacity: 1;
}

#stop4897 {
	stop-color: #f3f5f6;
	stop-opacity: 1;
}

#stop4782 {
	stop-color: #b1bdbf;
	stop-opacity: 1;
}

#stop4784 {
	stop-color: #8a9b9e;
	stop-opacity: 1;
}

#stop4740 {
	stop-color: #8a9b9e;
	stop-opacity: 1;
}

#stop4742 {
	stop-color: #5b7aaa;
	stop-opacity: 1;
}

#stop4782-2 {
	stop-color: #b1bdbf;
	stop-opacity: 1;
}

#stop4784-0 {
	stop-color: #8a9b9e;
	stop-opacity: 1;
}

#stop3051-4 {
	stop-color: #e4cf9d;
	stop-opacity: 1;
}

#stop3053-7 {
	stop-color: #dce9f2;
	stop-opacity: 1;
}

#stop3055-7 {
	stop-color: #fefdfa;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect3968 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//save_edit_sdcard.svg#linearGradient4899);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//save_edit_sdcard.svg#linearGradient4744);
	stroke-opacity: 1;
}

#rect3851-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//save_edit_sdcard.svg#linearGradient3913);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g3068 {
	display: inline;
}

#rect3100-4-2 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect3100-4-2-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//save_edit_sdcard.svg#linearGradient3991);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g3825-1 {
	display: inline;
}

#rect3100-4-2-6 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect3100-4-2-5-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//save_edit_sdcard.svg#linearGradient4038);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g3825-1-7 {
	display: inline;
}

#rect3100-4-2-6-6 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect3100-4-2-5-4-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//save_edit_sdcard.svg#linearGradient4046);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect3851 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//save_edit_sdcard.svg#linearGradient4064);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect3968-9-1-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//save_edit_sdcard.svg#linearGradient3981);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect3968-9-4 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//save_edit_sdcard.svg#linearGradient3983);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#g4953-2 {
	display: inline;
}

#rect4963-5-2 {
	opacity: 0.35;
	fill: #9baaac;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4963-5-7-3 {
	opacity: 0.35;
	fill: #a6b4b6;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

