@import "stock";

#arrow-stroke-stop0 {
	stop-color: #ad7212;
	stop-opacity: 1;
}

#arrow-stroke-stop1 {
	stop-color: #996c22;
	stop-opacity: 1;
}

#arrow-bg-stop0 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#arrow-bg-stop1 {
	stop-color: #ffd25d;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#undo-arrow {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//undo_edit.svg#arrow-bg);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//undo_edit.svg#arrow-stroke);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

