@import "gotham";

#layer1 {
	display: inline;
}

#path4035 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #4f504f;
	stroke-width: 0.93798537999999998;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path4035-4 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #4f504f;
	stroke-width: 0.93798536000000021;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path4035-4-5 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #4f504f;
	stroke-width: 0.93798536000000021;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

