/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop3853-2 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3863-0 {
  stop-color: #ffffff;
  stop-opacity: 0.82198954; }

#stop3855-4 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop3212 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3214 {
  stop-color: #ffffff;
  stop-opacity: 0.82198954; }

#stop3216 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop4013-6 {
  stop-color: #e0b575;
  stop-opacity: 1; }

#stop4015-7 {
  stop-color: #f5ca75;
  stop-opacity: 1; }

#stop4017-5 {
  stop-color: #f5f5b5;
  stop-opacity: 1; }

#stop3867-6 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3869-6 {
  stop-color: #ffffff;
  stop-opacity: 0.82198954; }

#stop3871-4 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop3853-2-2 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3863-0-9 {
  stop-color: #ffffff;
  stop-opacity: 0.82198954; }

#stop3855-4-0 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#layer1 {
  display: inline; }

#g3878 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//debugtt_obj.svg#linearGradient3268);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#g3834 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//debugtt_obj.svg#linearGradient3268-1);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#g3064 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #4f504f;
  stroke-opacity: 1;
  display: inline; }

#path4413-2-5-3-1-2 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #4f504f;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path4475 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #4f504f;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#g3064-8 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #4f504f;
  stroke-opacity: 1;
  display: inline; }

#path4413-2-5-3-1-2-9 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #4f504f;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path4475-2 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #4f504f;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }
