/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop11333 {
  stop-color: #b89b58;
  stop-opacity: 1; }

#stop11335 {
  stop-color: #837f70;
  stop-opacity: 1; }

#stop11325 {
  stop-color: #70b4e2;
  stop-opacity: 1; }

#stop11327 {
  stop-color: #d4e2f4;
  stop-opacity: 1; }

#stop11292 {
  stop-color: #567ead;
  stop-opacity: 1; }

#stop11294 {
  stop-color: #35679d;
  stop-opacity: 1; }

#stop11282 {
  stop-color: #244070;
  stop-opacity: 1; }

#stop11284 {
  stop-color: #a2a7b9;
  stop-opacity: 1; }

#stop4912-8 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop4914-8 {
  stop-color: #c5dff4;
  stop-opacity: 1; }

#stop4084 {
  stop-color: #4476aa;
  stop-opacity: 1; }

#stop4864 {
  stop-color: #5a9ccc;
  stop-opacity: 1; }

#stop4086 {
  stop-color: #4476aa;
  stop-opacity: 1; }

#stop5834 {
  stop-color: #7d6fba;
  stop-opacity: 1; }

#stop5840 {
  stop-color: #4b3e81;
  stop-opacity: 1; }

#stop5836 {
  stop-color: #9d93cb;
  stop-opacity: 1; }

#stop5846 {
  stop-color: #739cc6;
  stop-opacity: 1; }

#stop5848 {
  stop-color: #4b82b6;
  stop-opacity: 1; }

#stop5850 {
  stop-color: #aac2dc;
  stop-opacity: 1; }

#path10496 {
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  text-anchor: start;
  baseline-shift: baseline;
  color: #000000;
  fill: #ffffff;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 1;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate;
  font-family: Sans;
  inkscape-font-specification: Sans; }

#stop5834-8 {
  stop-color: #7d6fba;
  stop-opacity: 1; }

#stop5840-7 {
  stop-color: #4b3e81;
  stop-opacity: 1; }

#stop5836-9 {
  stop-color: #9d93cb;
  stop-opacity: 1; }

#stop5846-2 {
  stop-color: #739cc6;
  stop-opacity: 1; }

#stop5848-9 {
  stop-color: #4b82b6;
  stop-opacity: 1; }

#stop5850-1 {
  stop-color: #aac2dc;
  stop-opacity: 1; }

#stop11292-4 {
  stop-color: #567ead;
  stop-opacity: 1; }

#stop11294-75 {
  stop-color: #35679d;
  stop-opacity: 1; }

#stop5834-1 {
  stop-color: #7d6fba;
  stop-opacity: 1; }

#stop5840-6 {
  stop-color: #4b3e81;
  stop-opacity: 1; }

#stop5836-93 {
  stop-color: #9d93cb;
  stop-opacity: 1; }

#stop5846-3 {
  stop-color: #739cc6;
  stop-opacity: 1; }

#stop5848-0 {
  stop-color: #4b82b6;
  stop-opacity: 1; }

#stop5850-4 {
  stop-color: #aac2dc;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#layer1-7 {
  display: inline; }

#rect3997-9 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//environment_obj.svg#linearGradient11286);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//environment_obj.svg#linearGradient4046);
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dashoffset: 0;
  display: inline; }

#rect4853-82-7 {
  opacity: 0.1;
  fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//environment_obj.svg#linearGradient5062);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect3997-9-9 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//environment_obj.svg#linearGradient11329);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//environment_obj.svg#linearGradient4063-5);
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dashoffset: 0;
  display: inline; }

#layer1-71-2 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 1.71648312;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  display: inline;
  filter: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//environment_obj.svg#filter11270); }

#g11331-3-1-1-2 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 6.15154123;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  display: inline; }

#g13408-8-0 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 6.15154123;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#g5050-0 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 1.90981209;
  stroke-miterlimit: 4;
  stroke-dasharray: none; }

#g6940-5-2 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 2.41871428;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path10796-2-6-2-7-3 {
  font-size: 13.58917427px;
  font-style: normal;
  font-weight: normal;
  line-height: 125%;
  letter-spacing: 0px;
  word-spacing: 0px;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 5.77772713;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline;
  font-family: Sans; }

#layer1-71 {
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//environment_obj.svg#linearGradient11296);
  stroke-opacity: 1;
  display: inline; }

#g11331-3-1-1 {
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//environment_obj.svg#linearGradient11625);
  stroke-opacity: 1;
  display: inline; }

#g13408-8 {
  fill: #737986;
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//environment_obj.svg#linearGradient11623);
  stroke-opacity: 1; }

#g5050 {
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//environment_obj.svg#linearGradient11631);
  stroke-opacity: 1; }

#g6940-5 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//environment_obj.svg#linearGradient5838);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//environment_obj.svg#linearGradient11629);
  stroke-opacity: 1;
  display: inline; }

#path10796-2-6-2-7 {
  font-size: 13.58917427px;
  font-style: normal;
  font-weight: normal;
  line-height: 125%;
  letter-spacing: 0px;
  word-spacing: 0px;
  fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//environment_obj.svg#linearGradient5842);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//environment_obj.svg#linearGradient11627);
  stroke-width: 2.16621375;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline;
  font-family: Sans; }

#path11288 {
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  text-anchor: start;
  baseline-shift: baseline;
  color: #000000;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1px;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate;
  font-family: Sans;
  inkscape-font-specification: Sans; }

#layer1-71-3 {
  opacity: 0.5;
  stroke: #ffffff;
  stroke-opacity: 1;
  display: inline;
  filter: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//environment_obj.svg#filter11520); }

#g11331-3-1-1-0 {
  stroke: #ffffff;
  stroke-opacity: 1;
  display: inline; }

#g13408-8-8 {
  fill: #737986;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-opacity: 1; }

#g5050-1 {
  stroke: #ffffff;
  stroke-opacity: 1; }

#g6940-5-9 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//environment_obj.svg#linearGradient5838-7);
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-opacity: 1;
  display: inline; }

#path10796-2-6-2-7-2 {
  font-size: 13.58917427px;
  font-style: normal;
  font-weight: normal;
  line-height: 125%;
  letter-spacing: 0px;
  word-spacing: 0px;
  fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//environment_obj.svg#linearGradient5842-5);
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 2.16621375;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline;
  font-family: Sans; }

#layer1-71-23 {
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//environment_obj.svg#linearGradient11417);
  stroke-opacity: 1;
  display: inline; }

#g11331-3-1-1-1 {
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//environment_obj.svg#linearGradient11409);
  stroke-opacity: 1;
  display: inline; }

#g13408-8-02 {
  fill: #737986;
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//environment_obj.svg#linearGradient11407);
  stroke-opacity: 1; }

#g5050-7 {
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//environment_obj.svg#linearGradient11415);
  stroke-opacity: 1; }

#g6940-5-7 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//environment_obj.svg#linearGradient5838-0);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//environment_obj.svg#linearGradient11413);
  stroke-opacity: 1;
  display: inline; }

#path10796-2-6-2-7-1 {
  font-size: 13.58917427px;
  font-style: normal;
  font-weight: normal;
  line-height: 125%;
  letter-spacing: 0px;
  word-spacing: 0px;
  fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//environment_obj.svg#linearGradient5842-3);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//environment_obj.svg#linearGradient11411);
  stroke-width: 2.16621375;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline;
  font-family: Sans; }
