@import "gotham";

#stop5149 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop5151 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#stop5143 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop5145 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#stop5137 {
	stop-color: #a2b3cf;
	stop-opacity: 1;
}

#stop5139 {
	stop-color: #869abe;
	stop-opacity: 1;
}

#stop4996 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop4998 {
	stop-color: #dce7f7;
	stop-opacity: 1;
}

#stop4904 {
	stop-color: #bfb688;
	stop-opacity: 1;
}

#stop4906 {
	stop-color: #8391b1;
	stop-opacity: 1;
}

#stop4896 {
	stop-color: #e0c88f;
	stop-opacity: 1;
}

#stop4898 {
	stop-color: #d5b269;
	stop-opacity: 1;
}

#stop4879 {
	stop-color: #9aaccb;
	stop-opacity: 1;
}

#stop4881 {
	stop-color: #869abe;
	stop-opacity: 1;
}

#stop4863 {
	stop-color: #acbcd5;
	stop-opacity: 1;
}

#stop4865 {
	stop-color: #869abe;
	stop-opacity: 1;
}

#stop4854-4-1 {
	stop-color: #707070;
	stop-opacity: 1;
}

#stop4856-0-2 {
	stop-color: #a0a0a0;
	stop-opacity: 1;
}

#stop4846-8-4 {
	stop-color: #606060;
	stop-opacity: 1;
}

#stop4848-8-9 {
	stop-color: #787878;
	stop-opacity: 1;
}

#path6206 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#stop4863-1 {
	stop-color: #acbcd5;
	stop-opacity: 1;
}

#stop4865-2 {
	stop-color: #869abe;
	stop-opacity: 1;
}

#stop4863-1-6 {
	stop-color: #acbcd5;
	stop-opacity: 1;
}

#stop4865-2-2 {
	stop-color: #869abe;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect4001-3 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//file_obj.svg#linearGradient5000);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4884 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//file_obj.svg#linearGradient4900);
	fill-opacity: 1;
	stroke: none;
}

#rect4001 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//file_obj.svg#linearGradient4908);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
}

#rect4001-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//file_obj.svg#linearGradient4867);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-1-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//file_obj.svg#linearGradient4869);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-1-7-4-0-9 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//file_obj.svg#linearGradient4873);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-1-7-9 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//file_obj.svg#linearGradient3066);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-1-7-9-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//file_obj.svg#linearGradient3100);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

