/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop5141 {
  stop-color: #fbf0b4;
  stop-opacity: 1; }

#stop5143 {
  stop-color: #d6b429;
  stop-opacity: 1; }

#stop5135 {
  stop-color: #bea025;
  stop-opacity: 1; }

#stop5137 {
  stop-color: #8f6c18;
  stop-opacity: 1; }

#stop4903 {
  stop-color: #4d6ea5;
  stop-opacity: 1; }

#stop4905 {
  stop-color: #21397c;
  stop-opacity: 1; }

#stop4879 {
  stop-color: #c4d3e8;
  stop-opacity: 1; }

#stop4881 {
  stop-color: #647ead;
  stop-opacity: 1; }

#stop4889-4 {
  stop-color: #c4d3e8;
  stop-opacity: 1; }

#stop4891-0 {
  stop-color: #647ead;
  stop-opacity: 1; }

#stop4895-8 {
  stop-color: #5773ae;
  stop-opacity: 1; }

#stop4897-8 {
  stop-color: #28457e;
  stop-opacity: 1; }

#stop4889-4-5 {
  stop-color: #c4d3e8;
  stop-opacity: 1; }

#stop4891-0-1 {
  stop-color: #647ead;
  stop-opacity: 1; }

#stop4895-8-1 {
  stop-color: #5773ae;
  stop-opacity: 1; }

#stop4897-8-5 {
  stop-color: #28457e;
  stop-opacity: 1; }

#stop4879-6 {
  stop-color: #c4d3e8;
  stop-opacity: 1; }

#stop4881-1 {
  stop-color: #647ead;
  stop-opacity: 1; }

#stop4903-3 {
  stop-color: #4d6ea5;
  stop-opacity: 1; }

#stop4905-2 {
  stop-color: #21397c;
  stop-opacity: 1; }

#stop4889-4-5-9 {
  stop-color: #fbf0b4;
  stop-opacity: 1; }

#stop4891-0-1-5 {
  stop-color: #d6b429;
  stop-opacity: 1; }

#stop4895-8-1-1 {
  stop-color: #cbab27;
  stop-opacity: 1; }

#stop4897-8-5-2 {
  stop-color: #8f6c18;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#g8159 {
  display: inline; }

#text4105-1 {
  font-size: 10px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  text-align: start;
  line-height: 125%;
  letter-spacing: 0px;
  word-spacing: 0px;
  writing-mode: lr;
  text-anchor: start;
  fill: #000000;
  fill-opacity: 1;
  stroke: none;
  display: inline;
  font-family: Gautami;
  inkscape-font-specification: Gautami; }

#text4105-1-1 {
  font-size: 7.73090887px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  text-align: start;
  line-height: 125%;
  letter-spacing: 0px;
  word-spacing: 0px;
  writing-mode: lr-tb;
  text-anchor: start;
  fill: #17325d;
  fill-opacity: 1;
  stroke: none;
  display: inline;
  font-family: Gautami;
  inkscape-font-specification: Gautami; }

#path4105 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//genericreggroup_obj.svg#radialGradient4883);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//genericreggroup_obj.svg#linearGradient4908);
  stroke-width: 0.63536984;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0; }

#rect4875-2 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//genericreggroup_obj.svg#radialGradient4975);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//genericreggroup_obj.svg#linearGradient4977);
  stroke-width: 0.75;
  stroke-linecap: butt;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#path4105-2 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//genericreggroup_obj.svg#radialGradient5007);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//genericreggroup_obj.svg#linearGradient5009);
  stroke-width: 0.63536984;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#rect4875-2-1 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//genericreggroup_obj.svg#radialGradient4975-4);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//genericreggroup_obj.svg#linearGradient4977-7);
  stroke-width: 0.75;
  stroke-linecap: butt;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#path4105-2-3 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//genericreggroup_obj.svg#radialGradient5084);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//genericreggroup_obj.svg#linearGradient5086);
  stroke-width: 0.63536984;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#rect4875-2-1-3 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//genericreggroup_obj.svg#radialGradient4975-4-2);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//genericreggroup_obj.svg#linearGradient4977-7-4);
  stroke-width: 0.75;
  stroke-linecap: butt;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }
