/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#layer1 {
  display: inline; }

#g8159 {
  display: inline; }

#path4108-9-8 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 1.32688606000000009;
  stroke-linejoin: round;
  stroke-opacity: 1;
  display: inline; }

#path4108-9 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #105c9c;
  stroke-linejoin: round;
  stroke-opacity: 1;
  display: inline; }

#layer1-1 {
  display: inline; }
