/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop10800-5-2-1-8-2-8-1-7-3-7 {
  stop-color: #4f9e55;
  stop-opacity: 1; }

#stop10806-6-8-5-3-2-95-0-5-4-8 {
  stop-color: #3c8d49;
  stop-opacity: 1; }

#stop10802-1-5-3-0-2-0-9-8-4-3 {
  stop-color: #a4e173;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#g8159 {
  display: inline; }

#path10796-2-6-0 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//lrun_obj.svg#linearGradient8163-2);
  fill-opacity: 1;
  stroke: #14733c;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#path8117 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  display: inline; }
