@import "gotham";

#stop4819-8 {
	stop-color: #7695b8;
	stop-opacity: 1;
}

#stop4821-8 {
	stop-color: #8daac8;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g8159 {
	display: inline;
}

#path4005 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//memorychanged_obj.svg#linearGradient6184);
	fill-opacity: 1;
	stroke: #095799;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
}

#rect4009 {
	fill: #095799;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4009-1 {
	fill: #095799;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#layer1-3 {
	display: inline;
}

