/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop8182 {
  stop-color: #36825e;
  stop-opacity: 1; }

#stop8184 {
  stop-color: #257550;
  stop-opacity: 1; }

#stop8166 {
  stop-color: #accf8e;
  stop-opacity: 1; }

#stop8176 {
  stop-color: #93c586;
  stop-opacity: 1; }

#stop8174 {
  stop-color: #58ab71;
  stop-opacity: 1; }

#stop8172 {
  stop-color: #4da766;
  stop-opacity: 1; }

#stop8178 {
  stop-color: #61af61;
  stop-opacity: 1; }

#stop8168 {
  stop-color: #78ba5e;
  stop-opacity: 1; }

#stop4236-7 {
  stop-color: #203932;
  stop-opacity: 1; }

#stop4238-1 {
  stop-color: #31564a;
  stop-opacity: 1; }

#stop4242-0 {
  stop-color: #284539;
  stop-opacity: 1; }

#stop4244-3 {
  stop-color: #385653;
  stop-opacity: 1; }

#stop4200-3 {
  stop-color: #2d483d;
  stop-opacity: 1; }

#stop4202-0 {
  stop-color: #38564e;
  stop-opacity: 1; }

#stop4206-3 {
  stop-color: #28483d;
  stop-opacity: 1; }

#stop4208-8 {
  stop-color: #31564a;
  stop-opacity: 1; }

#stop4212-8 {
  stop-color: #284539;
  stop-opacity: 1; }

#stop4214-5 {
  stop-color: #385653;
  stop-opacity: 1; }

#stop4218-3 {
  stop-color: #233e32;
  stop-opacity: 1; }

#stop4220-8 {
  stop-color: #31564a;
  stop-opacity: 0.8650133; }

#stop4224-9 {
  stop-color: #203c37;
  stop-opacity: 1; }

#stop4226-6 {
  stop-color: #31564a;
  stop-opacity: 1; }

#stop4230-4 {
  stop-color: #203932;
  stop-opacity: 1; }

#stop4232-0 {
  stop-color: #314e4a;
  stop-opacity: 1; }

#stop4254-1 {
  stop-color: #1d6279;
  stop-opacity: 1; }

#stop4256-4 {
  stop-color: #2d707c;
  stop-opacity: 1; }

#stop4260-4 {
  stop-color: #387a31;
  stop-opacity: 1; }

#stop4262-6 {
  stop-color: #397b3b;
  stop-opacity: 0; }

#stop12864-3-6-2-4-2 {
  stop-color: #2d493b;
  stop-opacity: 1; }

#stop12866-4-9-5-16-6 {
  stop-color: #296c79;
  stop-opacity: 1; }

#stop12864-3-6-2-4 {
  stop-color: #2d493b;
  stop-opacity: 1; }

#stop12866-4-9-5-16 {
  stop-color: #296c79;
  stop-opacity: 1; }

#stop12864-3-6-2-1 {
  stop-color: #2d493b;
  stop-opacity: 1; }

#stop12866-4-9-5-12 {
  stop-color: #296c79;
  stop-opacity: 1; }

#stop12864-3-6-2-86 {
  stop-color: #2d493b;
  stop-opacity: 1; }

#stop12866-4-9-5-8 {
  stop-color: #296c79;
  stop-opacity: 1; }

#stop12864-3-6-2-9 {
  stop-color: #2d493b;
  stop-opacity: 1; }

#stop12866-4-9-5-1 {
  stop-color: #296c79;
  stop-opacity: 1; }

#stop12864-3-6-2-8 {
  stop-color: #2d493b;
  stop-opacity: 1; }

#stop12866-4-9-5-0 {
  stop-color: #296c79;
  stop-opacity: 1; }

#stop4517 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop4519 {
  stop-color: #8ebc7b;
  stop-opacity: 1; }

#stop4474-3 {
  stop-color: #32428d;
  stop-opacity: 1; }

#stop4476-6 {
  stop-color: #6e79b3;
  stop-opacity: 1; }

#stop4480-0 {
  stop-color: #32428d;
  stop-opacity: 1; }

#stop4482-8 {
  stop-color: #6e79b3;
  stop-opacity: 1; }

#stop4486-9 {
  stop-color: #32428d;
  stop-opacity: 1; }

#stop4488-1 {
  stop-color: #6e79b3;
  stop-opacity: 1; }

#stop4492-1 {
  stop-color: #32428d;
  stop-opacity: 1; }

#stop4494-5 {
  stop-color: #6e79b3;
  stop-opacity: 1; }

#stop12864-3-6-2-8-0-3 {
  stop-color: #32428d;
  stop-opacity: 1; }

#stop12866-4-9-5-0-6-8 {
  stop-color: #6e79b3;
  stop-opacity: 1; }

#stop12864-3-6-2-9-6-7 {
  stop-color: #32428d;
  stop-opacity: 1; }

#stop12866-4-9-5-1-4-4 {
  stop-color: #6e79b3;
  stop-opacity: 1; }

#stop12864-3-6-2-86-2-9 {
  stop-color: #32428d;
  stop-opacity: 1; }

#stop12866-4-9-5-8-9-8 {
  stop-color: #6e79b3;
  stop-opacity: 1; }

#stop12864-3-6-2-1-6-3 {
  stop-color: #32428d;
  stop-opacity: 1; }

#stop12866-4-9-5-12-9-6 {
  stop-color: #6e79b3;
  stop-opacity: 1; }

#stop12719-6-3-0-0-1-4 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop12721-9-4-5-0-6-7 {
  stop-color: #cae0db;
  stop-opacity: 1; }

#stop4248-8 {
  stop-color: #515aa4;
  stop-opacity: 1; }

#stop4250-8 {
  stop-color: #3a4890;
  stop-opacity: 1; }

#stop4517-9 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop4622 {
  stop-color: #d1e6e0;
  stop-opacity: 1; }

#stop4519-0 {
  stop-color: #7782b6;
  stop-opacity: 1; }

#stop4260-5 {
  stop-color: #131343;
  stop-opacity: 1; }

#stop4262-4 {
  stop-color: #f1f1ed;
  stop-opacity: 1; }

#stop4254-4 {
  stop-color: #202273;
  stop-opacity: 1; }

#stop4256-5 {
  stop-color: #435197;
  stop-opacity: 1; }

#stop4517-9-9 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop4519-0-7 {
  stop-color: #8ebc7b;
  stop-opacity: 1; }

#g3822 {
  stroke: #ffffff;
  display: inline; }

#g3824 {
  stroke: #ffffff;
  display: inline; }

#path3826 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path3828 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path3830 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path3832 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path3834 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path3836 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path3838 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path3840 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#g3842 {
  stroke: #ffffff;
  display: inline; }

#path3844 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 7.19544077;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#path3846 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  display: inline; }

#path3848 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path3850 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3.76581597;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#path3852 {
  fill: #2e6a22;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 3.76581597;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#layer1 {
  display: inline; }

#g3341 {
  display: inline; }

#layer3 {
  display: inline; }

#path12694-8-27 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//rundebug.svg#linearGradient3993-4);
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path12696-5-4 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//rundebug.svg#linearGradient12878-2-7-1-2-1);
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path12698-4-9 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//rundebug.svg#linearGradient12876-4-0-6-7-5);
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path12700-8-3 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//rundebug.svg#linearGradient12868-4-7-0-8-4);
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path12698-4-3 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//rundebug.svg#linearGradient3813-8-3);
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path12696-5-5 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//rundebug.svg#linearGradient3847-1-0);
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path12694-8-2 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//rundebug.svg#linearGradient3881-0-6);
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path12700-8-0 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//rundebug.svg#linearGradient3915-6-1);
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#layer1-3 {
  display: inline; }

#path12648-2-2-9 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//rundebug.svg#radialGradient4194-4);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//rundebug.svg#linearGradient4196-0);
  stroke-width: 7.19544077;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#path12648-9-1 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//rundebug.svg#radialGradient4192-5);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path12686-5-5 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//rundebug.svg#linearGradient4086-8);
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path12648-1-6-5 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//rundebug.svg#linearGradient4190-5);
  stroke-width: 3.76581597;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#path12648-1-6-2 {
  fill: #515aa4;
  fill-opacity: 1;
  stroke: #515aa4;
  stroke-width: 3.76581596999999979;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#layer1-9-7 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  display: inline;
  filter: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//rundebug.svg#filter22604); }

#layer1-7-5 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 2.69184995;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  display: inline; }

#layer1-0-8 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 3.47812343;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  display: inline; }

#g8159-1 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 3.47812343;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  display: inline; }

#path8117-7 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 4.38243566;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#layer1-9 {
  display: inline; }

#layer1-7 {
  display: inline; }

#layer1-0 {
  display: inline; }

#g8159 {
  display: inline; }

#path8117 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//rundebug.svg#linearGradient8170);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//rundebug.svg#linearGradient8186);
  stroke-width: 1.29209423;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }
