@import "gotham";

#stop7162 {
	stop-color: #105c9c;
	stop-opacity: 1;
}

#stop7166 {
	stop-color: #568cb9;
	stop-opacity: 1;
}

#stop7164 {
	stop-color: #cedeea;
	stop-opacity: 1;
}

#stop7162-2 {
	stop-color: #105c9c;
	stop-opacity: 1;
}

#stop7166-4 {
	stop-color: #568cb9;
	stop-opacity: 1;
}

#stop7164-9 {
	stop-color: #cedeea;
	stop-opacity: 1;
}

#stop7162-2-7 {
	stop-color: #105c9c;
	stop-opacity: 1;
}

#stop7166-4-1 {
	stop-color: #568cb9;
	stop-opacity: 1;
}

#stop7164-9-7 {
	stop-color: #cedeea;
	stop-opacity: 1;
}

#stop8166-3 {
	stop-color: #accf8e;
	stop-opacity: 1;
}

#stop8176-1 {
	stop-color: #93c586;
	stop-opacity: 1;
}

#stop8174-4 {
	stop-color: #58ab71;
	stop-opacity: 1;
}

#stop8172-5 {
	stop-color: #4da766;
	stop-opacity: 1;
}

#stop8178-6 {
	stop-color: #61af61;
	stop-opacity: 1;
}

#stop8168-1 {
	stop-color: #78ba5e;
	stop-opacity: 1;
}

#stop8182-9 {
	stop-color: #36825e;
	stop-opacity: 1;
}

#stop8184-1 {
	stop-color: #257550;
	stop-opacity: 1;
}

#g22958 {
	fill: #ffffff;
	display: inline;
}

#rect22960 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect22962 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect22964 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#layer1 {
	display: inline;
}

#layer1-3 {
	display: inline;
}

#rect6225-8 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//stckframe_running_obj.svg#linearGradient7184);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect6225-8-9 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//stckframe_running_obj.svg#linearGradient7221);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect6225 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//stckframe_running_obj.svg#linearGradient7001);
	fill-opacity: 1;
	stroke: none;
}

#layer1-38 {
	display: inline;
}

#g22874 {
	fill: #ffffff;
}

#layer1-7-3 {
	display: inline;
	stroke: #ffffff;
	fill: #ffffff;
	stroke-width: 2.69184985000000010;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	filter: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//stckframe_running_obj.svg#filter23738);
}

#layer1-0-2 {
	display: inline;
	stroke: #ffffff;
	fill: #ffffff;
	stroke-width: 3.47812354;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#g8159-5 {
	display: inline;
	stroke: #ffffff;
	fill: #ffffff;
	stroke-width: 3.47812354;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#path8117-0 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.47812354;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#layer1-7 {
	display: inline;
}

#layer1-0 {
	display: inline;
}

#g8159 {
	display: inline;
}

#path8117 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//stckframe_running_obj.svg#linearGradient8170-7);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//stckframe_running_obj.svg#linearGradient8186-2);
	stroke-width: 1.29209423;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

