@import "gotham";

#stop4941 {
	stop-color: #bcbcbc;
	stop-opacity: 1;
}

#stop4943 {
	stop-color: #d3d3d3;
	stop-opacity: 1;
}

#stop4945 {
	stop-color: #9f9f9f;
	stop-opacity: 1;
}

#stop4947 {
	stop-color: #898989;
	stop-opacity: 1;
}

#stop4157 {
	stop-color: #969696;
	stop-opacity: 1;
}

#stop4159 {
	stop-color: #888888;
	stop-opacity: 1;
}

#stop5302 {
	stop-color: #4d4d4d;
	stop-opacity: 1;
}

#stop5308 {
	stop-color: #727272;
	stop-opacity: 1;
}

#stop5304 {
	stop-color: #4d4d4d;
	stop-opacity: 1;
}

#stop4910-7-2-7-5 {
	stop-color: #986443;
	stop-opacity: 1;
}

#stop4912-6-2-9-6 {
	stop-color: #994f1b;
	stop-opacity: 1;
}

#stop4910-7-2-7 {
	stop-color: #986443;
	stop-opacity: 1;
}

#stop4912-6-2-9 {
	stop-color: #994f1b;
	stop-opacity: 1;
}

#stop5079-7 {
	stop-color: #e4cf94;
	stop-opacity: 1;
}

#stop5087-6 {
	stop-color: #ede0ba;
	stop-opacity: 1;
}

#stop5085-1 {
	stop-color: #c1aa7e;
	stop-opacity: 1;
}

#stop5081-8 {
	stop-color: #ad8865;
	stop-opacity: 1;
}

#stop5302-3 {
	stop-color: #4d4d4d;
	stop-opacity: 1;
}

#stop5308-7 {
	stop-color: #727272;
	stop-opacity: 1;
}

#stop5304-8 {
	stop-color: #4d4d4d;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#path5226-6-14-1-5-4 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: none;
	stroke: #ffffff;
	stroke-width: 3;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path5226-6-14-1-5 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//write_obj_disabled.svg#linearGradient5173);
	stroke-width: 1;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path5424 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #b8b8b8;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path5226-6-14-1-5-2 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #9d9d9d;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path5226-6-14-1-5-2-7 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #b1b1b1;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path5426 {
	opacity: 0.5;
	fill: none;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	filter: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//write_obj_disabled.svg#filter5428);
}

#path5006 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//write_obj_disabled.svg#linearGradient5196);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5006-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/obj16//write_obj_disabled.svg#linearGradient5306);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

