@import "stock";

#stop5330-9 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop5332-8 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop5211-9 {
	stop-color: #5c5c5c;
	stop-opacity: 1;
}

#stop5213-4 {
	stop-color: #aeaeae;
	stop-opacity: 1;
}

#stop5330-9-9-1-5 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop5332-8-7-9-2 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop5211-9-5-2-6 {
	stop-color: #131313;
	stop-opacity: 1;
}

#stop5213-4-5-8-4 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#stop3260 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3262 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop3267 {
	stop-color: #131313;
	stop-opacity: 1;
}

#stop3269 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#stop3274 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3276 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop3281 {
	stop-color: #131313;
	stop-opacity: 1;
}

#stop3283 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#stop5330-9-9-1-5-4 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop5332-8-7-9-2-9 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop5211-9-5-2-6-1 {
	stop-color: #131313;
	stop-opacity: 1;
}

#stop5213-4-5-8-4-4 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#stop3115 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3117 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop3122 {
	stop-color: #131313;
	stop-opacity: 1;
}

#stop3124 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#stop3129 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3131 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop3136 {
	stop-color: #131313;
	stop-opacity: 1;
}

#stop3138 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#stop3846 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3848 {
	stop-color: #dddddd;
	stop-opacity: 1;
}

#stop3850 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop3862 {
	stop-color: #424242;
	stop-opacity: 1;
}

#stop3864 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#stop5330-9-5 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3842 {
	stop-color: #dddddd;
	stop-opacity: 1;
}

#stop5332-8-5 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop5211-9-0 {
	stop-color: #4c4c4c;
	stop-opacity: 1;
}

#stop5213-4-7 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#stop3854 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3856 {
	stop-color: #dddddd;
	stop-opacity: 1;
}

#stop3858 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop3868 {
	stop-color: #717188;
	stop-opacity: 1;
}

#stop3870 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#stop3846-8 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3848-2 {
	stop-color: #dddddd;
	stop-opacity: 1;
}

#stop3850-2 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop3862-7 {
	stop-color: #424242;
	stop-opacity: 1;
}

#stop3864-2 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#stop5330-9-5-7 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3842-8 {
	stop-color: #dddddd;
	stop-opacity: 1;
}

#stop5332-8-5-8 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop5211-9-0-4 {
	stop-color: #4c4c4c;
	stop-opacity: 1;
}

#stop5213-4-7-1 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#stop3854-3 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3856-3 {
	stop-color: #dddddd;
	stop-opacity: 1;
}

#stop3858-0 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop3868-5 {
	stop-color: #717188;
	stop-opacity: 1;
}

#stop3870-1 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g5354 {
	display: inline;
}

#rect5291 {
	fill: #424242;
	fill-opacity: 1;
	stroke: none;
}

#path3990 {
	fill: none;
	stroke: #424242;
	stroke-width: 0.98245722px;
	stroke-linecap: butt;
	stroke-linejoin: round;
	stroke-opacity: 1;
}

#rect5291-0 {
	fill: #424242;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5232-0 {
	fill: #424242;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path3990-6 {
	fill: none;
	stroke: #424242;
	stroke-width: 0.98245722px;
	stroke-linecap: butt;
	stroke-linejoin: round;
	stroke-opacity: 1;
	display: inline;
}

#rect4812 {
	fill: #717188;
	fill-opacity: 1;
	stroke: none;
}

#path5160 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/elcl16//ant_targets.svg#radialGradient5366-0-3-5);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/elcl16//ant_targets.svg#linearGradient5368-1-8-2);
	stroke-width: 0.73476011;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path5160-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/elcl16//ant_targets.svg#radialGradient5370-9-0-9);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/elcl16//ant_targets.svg#linearGradient5372-5-2-5);
	stroke-width: 0.74850893;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-4-3-3 {
	fill: none;
	stroke: #b9b9bc;
	stroke-width: 0.74850893;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-8 {
	fill: none;
	stroke: #b9b9bc;
	stroke-width: 0.73476011;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-18 {
	fill: none;
	stroke: #b9b9bc;
	stroke-width: 0.73476011;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-1 {
	fill: #717188;
	fill-opacity: 1;
	stroke: #717188;
	stroke-width: 0.73476011;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-1-9 {
	fill: none;
	stroke: #717188;
	stroke-width: 0.73476011;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-4-3-1 {
	fill: none;
	stroke: #b9b9bc;
	stroke-width: 0.74850893;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-4-2 {
	fill: none;
	stroke: #717188;
	stroke-width: 0.74850893;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/elcl16//ant_targets.svg#radialGradient5374-4-7-4);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/elcl16//ant_targets.svg#linearGradient5376-4-7-1);
	stroke-width: 0.76813984;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-2-6 {
	fill: none;
	stroke: #717188;
	stroke-width: 0.76813984;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-2-3 {
	fill: none;
	stroke: #b8b8b8;
	stroke-width: 0.76813984;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-2-3-5 {
	fill: none;
	stroke: #b8b8b8;
	stroke-width: 0.76813984;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-2-3-6 {
	fill: none;
	stroke: #888888;
	stroke-width: 0.76813984;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5730-4 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 0.64907944;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5730 {
	fill: #005596;
	fill-opacity: 1;
	stroke: #3fa6ff;
	stroke-width: 0.60000002;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

