@import "gotham";

#stop23104 {
	stop-color: #c9473e;
	stop-opacity: 1;
}

#stop23118 {
	stop-color: #f35863;
	stop-opacity: 1;
}

#stop23106 {
	stop-color: #f6928e;
	stop-opacity: 1;
}

#stop23088 {
	stop-color: #c9473e;
	stop-opacity: 1;
}

#stop23090 {
	stop-color: #c8192a;
	stop-opacity: 1;
}

#stop23114 {
	stop-color: #f68886;
	stop-opacity: 1;
}

#stop23116 {
	stop-color: #f4787b;
	stop-opacity: 1;
}

#stop23098 {
	stop-color: #c9473e;
	stop-opacity: 1;
}

#stop23100 {
	stop-color: #c8192a;
	stop-opacity: 1;
}

#rect3360 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#rect3360-0 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#rect4173 {
	opacity: 1;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path22314 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/ovr16//error_co_buildpath.svg#linearGradient3047);
	fill-opacity: 1;
	stroke: #ee1e2a;
	stroke-width: 1.08058035;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#rect22316 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/ovr16//error_co_buildpath.svg#linearGradient3051);
	fill-opacity: 1;
	stroke: #f93337;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

