/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop3770 {
  stop-color: #147a38;
  stop-opacity: 1; }

#stop3772 {
  stop-color: #308a50;
  stop-opacity: 1; }

#rect3342 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none; }

#rect2999-1 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/ovr16//final_co.svg#filter3774);
  stroke-width: 0.50000000000000000;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  opacity: 0.75; }

#rect3342-3 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none; }

#rect3342-3-7 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none; }

#rect3342-3-7-5 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none; }

#rect3342-3-7-5-0 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none; }

#rect3342-3-7-5-9 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none; }

#rect3342-3-7-5-9-7 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none; }

#rect2999 {
  fill: #286296;
  fill-opacity: 1;
  stroke: none; }
