/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#path3873 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#path2996 {
  fill: #ffffff;
  stroke: #656a70;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#g3812-4 {
  stroke: #b9d6e6;
  stroke-width: 1.5;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/ovr16//ignore_optional_problems_ovr.svg#filter3844); }

#path2996-1-0 {
  fill: none;
  stroke: #b9d6e6;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#path2998-7-9 {
  fill: none;
  stroke: #b9d6e6;
  stroke-width: 1.5;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#path2996-1 {
  fill: none;
  stroke: #656a70;
  stroke-width: 0.9;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#path2998-7 {
  fill: none;
  stroke: #656a70;
  stroke-width: 0.9;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  stroke-miterlimit: 4;
  stroke-dasharray: none; }
