@import "gotham";

#rect3337 {
	opacity: 1;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	stroke-opacity: 1;
}

#rect2997 {
	fill: #286296;
	fill-opacity: 1;
	stroke: none;
}

#rect2999 {
	fill: #286296;
	fill-opacity: 1;
	stroke: none;
}

#rect2999-1 {
	fill: #286296;
	fill-opacity: 1;
	stroke: none;
}

