/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop5083 {
  stop-color: #ffe296;
  stop-opacity: 1; }

#stop5089 {
  stop-color: #f8d880;
  stop-opacity: 1; }

#stop5085 {
  stop-color: #fffcd3;
  stop-opacity: 1; }

#stop5093 {
  stop-color: #c6852e;
  stop-opacity: 1; }

#stop5095 {
  stop-color: #e1a555;
  stop-opacity: 1; }

#stop4910-7-2-7-0 {
  stop-color: #986443;
  stop-opacity: 1; }

#stop4912-6-2-9-2 {
  stop-color: #994f1b;
  stop-opacity: 1; }

#stop5079-7-3 {
  stop-color: #e4cf94;
  stop-opacity: 1; }

#stop5087-6-0 {
  stop-color: #ede0ba;
  stop-opacity: 1; }

#stop5085-1-4 {
  stop-color: #c1aa7e;
  stop-opacity: 1; }

#stop5081-8-3 {
  stop-color: #ad8865;
  stop-opacity: 1; }

#stop5302-6 {
  stop-color: #4d4d4d;
  stop-opacity: 1; }

#stop5308-0 {
  stop-color: #727272;
  stop-opacity: 1; }

#stop5304-3 {
  stop-color: #4d4d4d;
  stop-opacity: 1; }

#stop5079-7-3-5 {
  stop-color: #e4cf94;
  stop-opacity: 1; }

#stop5087-6-0-5 {
  stop-color: #ede0ba;
  stop-opacity: 1; }

#stop5085-1-4-1 {
  stop-color: #c1aa7e;
  stop-opacity: 1; }

#stop5081-8-3-4 {
  stop-color: #ad8865;
  stop-opacity: 1; }

#stop5302-6-3 {
  stop-color: #4d4d4d;
  stop-opacity: 1; }

#stop5308-0-4 {
  stop-color: #727272;
  stop-opacity: 1; }

#stop5304-3-0 {
  stop-color: #4d4d4d;
  stop-opacity: 1; }

#stop4910-7-2-7-0-5 {
  stop-color: #986443;
  stop-opacity: 1; }

#stop4912-6-2-9-2-2 {
  stop-color: #994f1b;
  stop-opacity: 1; }

#layer1-7 {
  display: inline; }

#path3388 {
  fill: #ffffff;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: none;
  stroke-width: 1.38792133px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#path5226-6-14-1-5-3-4 {
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  text-anchor: start;
  baseline-shift: baseline;
  color: #000000;
  fill: none;
  stroke: #ffffff;
  stroke-width: 1.25037313;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate;
  font-family: Sans;
  inkscape-font-specification: Sans; }

#path5226-6-14-1-5-3 {
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  text-anchor: start;
  baseline-shift: baseline;
  color: #000000;
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/ovr16//write.svg#linearGradient5173-7);
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate;
  font-family: Sans;
  inkscape-font-specification: Sans; }

#path5424-0 {
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  text-anchor: start;
  baseline-shift: baseline;
  color: #000000;
  fill: #ffcb72;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate;
  font-family: Sans;
  inkscape-font-specification: Sans; }

#path5226-6-14-1-5-2-8 {
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  text-anchor: start;
  baseline-shift: baseline;
  color: #000000;
  fill: #e5a856;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate;
  font-family: Sans;
  inkscape-font-specification: Sans; }

#path5226-6-14-1-5-2-7-1 {
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  text-anchor: start;
  baseline-shift: baseline;
  color: #000000;
  fill: #fbbc67;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate;
  font-family: Sans;
  inkscape-font-specification: Sans; }

#path5426-5 {
  opacity: 0.5;
  fill: none;
  stroke: #ffffff;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/ovr16//write.svg#filter5428-5); }

#path5006-17 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/ovr16//write.svg#linearGradient5196-1);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path5006-1-1 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/ovr16//write.svg#linearGradient4185);
  fill-opacity: 1;
  stroke: none;
  display: inline; }
