@import "stock";

#stop4731 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4737 {
	stop-color: #ffffff;
	stop-opacity: 0.49579832;
}

#stop4733 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop6644 {
	stop-color: #e83038;
	stop-opacity: 1;
}

#stop6646 {
	stop-color: #af131a;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g11331-3-1-1 {
	display: inline;
}

#g13408-8 {
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-opacity: 1;
}

#rect6562 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	color: #000000;
	fill: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/clcl16//nav_stop.svg#linearGradient6648);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #a81d24;
	stroke-width: 0.60000002;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
}

#rect6562-9 {
	font-size: 13.58917427000000100px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	color: #000000;
	fill: none;
	stroke: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/clcl16//nav_stop.svg#linearGradient4735);
	stroke-width: 0.89999998000000003;
	stroke-miterlimit: 4;
	stroke-opacity: 0.69158876000000002;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
}

