@import "stock";

#stop4854 {
	stop-color: #df2c33;
	stop-opacity: 1;
}

#stop4856 {
	stop-color: #f5817d;
	stop-opacity: 1;
}

#stop4846 {
	stop-color: #c51325;
	stop-opacity: 1;
}

#stop4848 {
	stop-color: #ca5d49;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect4043 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/elcl16//delete_template.svg#linearGradient4858);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/elcl16//delete_template.svg#linearGradient4850);
	stroke-width: 0.98060334;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

