@import "gotham";

#stop4832 {
	stop-color: #2e49b0;
	stop-opacity: 1;
}

#stop4836 {
	stop-color: #565f9e;
	stop-opacity: 1;
}

#stop4834 {
	stop-color: #8591c8;
	stop-opacity: 0;
}

#stop4758 {
	stop-color: #92b5eb;
	stop-opacity: 1;
}

#stop4760 {
	stop-color: #b1e1fd;
	stop-opacity: 1;
}

#stop4809 {
	stop-color: #2846b3;
	stop-opacity: 1;
}

#stop4811 {
	stop-color: #60649d;
	stop-opacity: 1;
}

#stop3969 {
	stop-color: #84909f;
	stop-opacity: 1;
}

#stop3971 {
	stop-color: #757c8a;
	stop-opacity: 1;
}

#stop3957 {
	stop-color: #c38536;
	stop-opacity: 0;
}

#stop3959 {
	stop-color: #f2dc91;
	stop-opacity: 1;
}

#stop3961 {
	stop-color: #fbdc8b;
	stop-opacity: 1;
}

#stop3963 {
	stop-color: #e6bd7a;
	stop-opacity: 1;
}

#stop3965 {
	stop-color: #ba772f;
	stop-opacity: 0;
}

#path4919 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#stop3969-9 {
	stop-color: #84909f;
	stop-opacity: 1;
}

#stop3971-5 {
	stop-color: #757c8a;
	stop-opacity: 1;
}

#stop4764-8 {
	stop-color: #ffd175;
	stop-opacity: 1;
}

#stop4766-3 {
	stop-color: #fff1c2;
	stop-opacity: 1;
}

#stop3957-7 {
	stop-color: #c38536;
	stop-opacity: 0;
}

#stop3959-5 {
	stop-color: #f2dc91;
	stop-opacity: 1;
}

#stop3961-4 {
	stop-color: #fbdc8b;
	stop-opacity: 1;
}

#stop3963-5 {
	stop-color: #e6bd7a;
	stop-opacity: 1;
}

#stop3965-8 {
	stop-color: #ba772f;
	stop-opacity: 0;
}

#path4919-6 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#stop4832-1 {
	stop-color: #2e49b0;
	stop-opacity: 1;
}

#stop4836-7 {
	stop-color: #565f9e;
	stop-opacity: 1;
}

#stop4834-6 {
	stop-color: #8591c8;
	stop-opacity: 0;
}

#stop4758-9 {
	stop-color: #92b5eb;
	stop-opacity: 1;
}

#stop4760-7 {
	stop-color: #b1e1fd;
	stop-opacity: 1;
}

#stop4809-9 {
	stop-color: #2846b3;
	stop-opacity: 1;
}

#stop4811-6 {
	stop-color: #60649d;
	stop-opacity: 1;
}

#stop3957-75 {
	stop-color: #c38536;
	stop-opacity: 0;
}

#stop3959-2 {
	stop-color: #f2dc91;
	stop-opacity: 1;
}

#stop3961-7 {
	stop-color: #fbdc8b;
	stop-opacity: 1;
}

#stop3963-4 {
	stop-color: #e6bd7a;
	stop-opacity: 1;
}

#stop3965-1 {
	stop-color: #ba772f;
	stop-opacity: 0;
}

#path4919-1 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#stop4832-9 {
	stop-color: #2e49b0;
	stop-opacity: 1;
}

#stop4836-0 {
	stop-color: #565f9e;
	stop-opacity: 1;
}

#stop4834-9 {
	stop-color: #8591c8;
	stop-opacity: 0;
}

#stop4758-6 {
	stop-color: #92b5eb;
	stop-opacity: 1;
}

#stop4760-3 {
	stop-color: #b1e1fd;
	stop-opacity: 1;
}

#stop4809-2 {
	stop-color: #2846b3;
	stop-opacity: 1;
}

#stop4811-62 {
	stop-color: #60649d;
	stop-opacity: 1;
}

#stop3969-95-8 {
	stop-color: #84909f;
	stop-opacity: 1;
}

#stop3971-0-0 {
	stop-color: #757c8a;
	stop-opacity: 1;
}

#stop4764-7-9 {
	stop-color: #ffd175;
	stop-opacity: 1;
}

#stop4766-8-6 {
	stop-color: #fff1c2;
	stop-opacity: 1;
}

#stop3957-75-8 {
	stop-color: #c38536;
	stop-opacity: 0;
}

#stop3959-2-4 {
	stop-color: #f2dc91;
	stop-opacity: 1;
}

#stop3961-7-4 {
	stop-color: #fbdc8b;
	stop-opacity: 1;
}

#stop3963-4-6 {
	stop-color: #e6bd7a;
	stop-opacity: 1;
}

#stop3965-1-2 {
	stop-color: #ba772f;
	stop-opacity: 0;
}

#path4919-1-8 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#stop4832-9-5 {
	stop-color: #2e49b0;
	stop-opacity: 1;
}

#stop4836-0-8 {
	stop-color: #565f9e;
	stop-opacity: 1;
}

#stop4834-9-4 {
	stop-color: #8591c8;
	stop-opacity: 0;
}

#stop4758-6-0 {
	stop-color: #92b5eb;
	stop-opacity: 1;
}

#stop4760-3-9 {
	stop-color: #b1e1fd;
	stop-opacity: 1;
}

#stop4809-2-8 {
	stop-color: #2846b3;
	stop-opacity: 1;
}

#stop4811-62-4 {
	stop-color: #60649d;
	stop-opacity: 1;
}

#path4919-1-8-8 {
	display: inline;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#path4919-1-8-8-9 {
	display: inline;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#filter4929-05-1-1 {
	color-interpolation-filters: sRGB;
}

#layer1 {
	display: inline;
}

#g13862 {
	display: inline;
}

#g13813-5-0 {
	display: inline;
}

#rect13693-3-5-6 {
	display: inline;
	fill: #fdf7eb;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator.resources/icons/full/obj16//nested_projects.svg#linearGradient3939-0-7);
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect13693-25-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator.resources/icons/full/obj16//nested_projects.svg#linearGradient4933-7-3);
	fill-opacity: 1;
	stroke: #757c8a;
	stroke-width: 5.40566206;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#path13797-5-3 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator.resources/icons/full/obj16//nested_projects.svg#linearGradient3945-7-3);
	stroke-width: 5.40566206;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect13693-2-2-0-4 {
	opacity: 0.5;
	fill: #000000;
	fill-opacity: 1;
	stroke: #000000;
	stroke-width: 2.38039374;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator.resources/icons/full/obj16//nested_projects.svg#filter4929-05-1);
}

#rect13693-2-9-7 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator.resources/icons/full/obj16//nested_projects.svg#linearGradient3646);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator.resources/icons/full/obj16//nested_projects.svg#linearGradient3648);
	stroke-width: 6.25096321;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#path3739 {
	fill: #f2f2f2;
	stroke: #808080;
	stroke-width: 3.32049179px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#g4300-5 {
	display: inline;
}

#rect13693-3-5-6-9 {
	display: inline;
	fill: #fdf7eb;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator.resources/icons/full/obj16//nested_projects.svg#linearGradient4498);
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect13693-25-5-6 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator.resources/icons/full/obj16//nested_projects.svg#linearGradient4933-1);
	fill-opacity: 1;
	stroke: #757c8a;
	stroke-width: 5.40566206;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#path13797-5-3-8 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator.resources/icons/full/obj16//nested_projects.svg#linearGradient4500);
	stroke-width: 5.40566206;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect13693-2-2-0-4-6 {
	display: inline;
	opacity: 0.5;
	fill: #000000;
	fill-opacity: 1;
	stroke: #000000;
	stroke-width: 2.38039374;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
	filter: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator.resources/icons/full/obj16//nested_projects.svg#filter4929-05-1-1);
}

#rect13693-2-9-7-9 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator.resources/icons/full/obj16//nested_projects.svg#linearGradient4502);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator.resources/icons/full/obj16//nested_projects.svg#linearGradient4504);
	stroke-width: 6.25096321;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

