/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop3969-4 {
  stop-color: #c48a4e;
  stop-opacity: 1; }

#stop3971-0 {
  stop-color: #ad6c24;
  stop-opacity: 1; }

#stop3975-8 {
  stop-color: #f8d078;
  stop-opacity: 1; }

#stop3977-8 {
  stop-color: #f8f0c8;
  stop-opacity: 1; }

#stop3951-5 {
  stop-color: #9e6627;
  stop-opacity: 1; }

#stop3953-1 {
  stop-color: #c38536;
  stop-opacity: 1; }

#stop3957-5 {
  stop-color: #c38536;
  stop-opacity: 1; }

#stop3959-27 {
  stop-color: #f2dc91;
  stop-opacity: 1; }

#stop3961-61 {
  stop-color: #fbdc8b;
  stop-opacity: 1; }

#stop3963-4 {
  stop-color: #e6bd7a;
  stop-opacity: 1; }

#stop3965-2 {
  stop-color: #ba772f;
  stop-opacity: 1; }

#stop3969-4-9 {
  stop-color: #c48a4e;
  stop-opacity: 1; }

#stop3971-0-8 {
  stop-color: #ad6c24;
  stop-opacity: 1; }

#stop3975-8-0 {
  stop-color: #f8d078;
  stop-opacity: 1; }

#stop3977-8-6 {
  stop-color: #f8f0c8;
  stop-opacity: 1; }

#stop3951-5-9 {
  stop-color: #9e6627;
  stop-opacity: 1; }

#stop3953-1-7 {
  stop-color: #c38536;
  stop-opacity: 1; }

#stop3957-5-4 {
  stop-color: #c38536;
  stop-opacity: 1; }

#stop3959-27-7 {
  stop-color: #f2dc91;
  stop-opacity: 1; }

#stop3961-61-6 {
  stop-color: #fbdc8b;
  stop-opacity: 1; }

#stop3963-4-2 {
  stop-color: #e6bd7a;
  stop-opacity: 1; }

#stop3965-2-5 {
  stop-color: #ba772f;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#path13797-1-1 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  filter: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator.resources/icons/full/obj16//workingsets.svg#filter19612-6); }

#rect13693-3-6 {
  display: inline;
  fill: #fdf7eb;
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator.resources/icons/full/obj16//workingsets.svg#linearGradient11228);
  stroke-width: 1.12338042;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#rect13693-7 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator.resources/icons/full/obj16//workingsets.svg#linearGradient11223);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator.resources/icons/full/obj16//workingsets.svg#linearGradient11225);
  stroke-width: 1.12338042;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#path13797-0 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator.resources/icons/full/obj16//workingsets.svg#linearGradient11220);
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path13797-1 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  filter: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator.resources/icons/full/obj16//workingsets.svg#filter19612); }

#rect13693-3 {
  display: inline;
  fill: #fdf7eb;
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator.resources/icons/full/obj16//workingsets.svg#linearGradient11244);
  stroke-width: 1.12338042;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#rect13693 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator.resources/icons/full/obj16//workingsets.svg#linearGradient11239);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator.resources/icons/full/obj16//workingsets.svg#linearGradient11241);
  stroke-width: 1.12338042;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#path13797 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator.resources/icons/full/obj16//workingsets.svg#linearGradient11236);
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path11406 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none; }

#path11408 {
  fill: #000000;
  fill-opacity: 1;
  stroke: none; }

#path11408-0 {
  fill: #000000;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path11408-0-3 {
  fill: #000000;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path11408-0-3-8 {
  fill: #000000;
  fill-opacity: 1;
  stroke: none;
  display: inline; }
