@import "gotham";

#stop4991 {
	stop-color: #c3e9ff;
	stop-opacity: 0.49019608;
}

#stop4995 {
	stop-color: #c3e9ff;
	stop-opacity: 1;
}

#stop4993 {
	stop-color: #c3e9ff;
	stop-opacity: 0.49019608;
}

#stop4996-5-4 {
	stop-color: #c3e9ff;
	stop-opacity: 1;
}

#stop4998-5-0 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4912-8-8 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914-8-8 {
	stop-color: #c3e9ff;
	stop-opacity: 1;
}

#stop4885-5 {
	stop-color: #ebf9ff;
	stop-opacity: 1;
}

#stop4887-5 {
	stop-color: #fcffff;
	stop-opacity: 1;
}

#stop4885-5-1 {
	stop-color: #ebf9ff;
	stop-opacity: 1;
}

#stop4887-5-1 {
	stop-color: #fcffff;
	stop-opacity: 1;
}

#stop4912-8-8-7 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914-8-8-6 {
	stop-color: #c3e9ff;
	stop-opacity: 1;
}

#stop4996-5-4-2 {
	stop-color: #c3e9ff;
	stop-opacity: 1;
}

#stop4998-5-0-3 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4991-2 {
	stop-color: #c3e9ff;
	stop-opacity: 0.49019608;
}

#stop4995-3 {
	stop-color: #c3e9ff;
	stop-opacity: 1;
}

#stop4993-3 {
	stop-color: #c3e9ff;
	stop-opacity: 0.49019608;
}

#layer1 {
	display: inline;
}

#rect3997-9-1 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #8b96ab;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect3997-9-1-1 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//expandall.svg#linearGradient4889-2);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect4853-82-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//expandall.svg#linearGradient5062-9);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//expandall.svg#linearGradient4975-2-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect3997-9-1-2 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #8b96ab;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect3997-9-1-1-2 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//expandall.svg#linearGradient4889-2-1);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect4853-82-0-6-8 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//expandall.svg#linearGradient4970);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-7-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//expandall.svg#linearGradient5062-9-5);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0-6 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//expandall.svg#linearGradient4975-2-1-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0-6-8-41 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//expandall.svg#linearGradient5050);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4167 {
	fill: #01467a;
	fill-opacity: 1;
	stroke: none;
}

#rect4167-8 {
	fill: #01467a;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

