/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop9259 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop9261 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop5070 {
  stop-color: #7593c1;
  stop-opacity: 1; }

#stop5072 {
  stop-color: #5a78ab;
  stop-opacity: 1; }

#stop5058 {
  stop-color: #97adce;
  stop-opacity: 1; }

#stop5066 {
  stop-color: #e0e8f0;
  stop-opacity: 1; }

#stop5064 {
  stop-color: #98aece;
  stop-opacity: 1; }

#stop5060 {
  stop-color: #7e9bca;
  stop-opacity: 1; }

#stop7586-6-3 {
  stop-color: #f9cd5f;
  stop-opacity: 1; }

#stop7588-9-9 {
  stop-color: #ffebb7;
  stop-opacity: 1; }

#stop7594-8-9 {
  stop-color: #ad7212;
  stop-opacity: 1; }

#stop7596-5-6 {
  stop-color: #875f1e;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#rect5053 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//memoryreset_tsk.svg#linearGradient5062);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//memoryreset_tsk.svg#linearGradient5074);
  stroke-opacity: 1; }

#rect5053-5 {
  fill: none;
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//memoryreset_tsk.svg#linearGradient9263);
  stroke-opacity: 1;
  display: inline; }

#layer1-2 {
  display: inline; }

#layer1-3 {
  display: inline; }

#g7604-6 {
  display: inline; }

#path7582-7 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//memoryreset_tsk.svg#linearGradient7608-9-7);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//memoryreset_tsk.svg#linearGradient7610-7-6);
  stroke-width: 0.80000001;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }
