@import "gotham";

#stop3867 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3869 {
	stop-color: #ffffff;
	stop-opacity: 0.82198954;
}

#stop3871 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop3853 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3863 {
	stop-color: #ffffff;
	stop-opacity: 0.82198954;
}

#stop3855 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4013 {
	stop-color: #e0b575;
	stop-opacity: 1;
}

#stop4015 {
	stop-color: #f5ca75;
	stop-opacity: 1;
}

#stop4017 {
	stop-color: #f5f5b5;
	stop-opacity: 1;
}

#stop7554 {
	stop-color: #c08c29;
	stop-opacity: 1;
}

#stop7556 {
	stop-color: #b17813;
	stop-opacity: 1;
}

#stop5293 {
	stop-color: #83706b;
	stop-opacity: 1;
}

#stop5295 {
	stop-color: #83706b;
	stop-opacity: 1;
}

#stop5283 {
	stop-color: #e0b575;
	stop-opacity: 1;
}

#stop5289 {
	stop-color: #f5ca75;
	stop-opacity: 1;
}

#stop5285 {
	stop-color: #f5f5b5;
	stop-opacity: 1;
}

#stop5105 {
	stop-color: #fefdef;
	stop-opacity: 1;
}

#stop7550 {
	stop-color: #fef5d4;
	stop-opacity: 1;
}

#stop7548 {
	stop-color: #fbe08e;
	stop-opacity: 1;
}

#stop5107 {
	stop-color: #fbdd83;
	stop-opacity: 1;
}

#path7866 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 0.5;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#stop5283-0 {
	stop-color: #e0b575;
	stop-opacity: 1;
}

#stop5289-3 {
	stop-color: #f5ca75;
	stop-opacity: 1;
}

#stop5285-2 {
	stop-color: #f5f5b5;
	stop-opacity: 1;
}

#stop5283-0-5 {
	stop-color: #e0b575;
	stop-opacity: 1;
}

#stop5289-3-4 {
	stop-color: #f5ca75;
	stop-opacity: 1;
}

#stop5285-2-6 {
	stop-color: #f5f5b5;
	stop-opacity: 1;
}

#stop5283-0-5-9 {
	stop-color: #e0b575;
	stop-opacity: 1;
}

#stop5289-3-4-0 {
	stop-color: #f5ca75;
	stop-opacity: 1;
}

#stop5285-2-6-9 {
	stop-color: #f5f5b5;
	stop-opacity: 1;
}

#stop5283-0-5-9-9 {
	stop-color: #e0b575;
	stop-opacity: 1;
}

#stop5289-3-4-0-4 {
	stop-color: #f5ca75;
	stop-opacity: 1;
}

#stop5285-2-6-9-3 {
	stop-color: #f5f5b5;
	stop-opacity: 1;
}

#stop4013-2 {
	stop-color: #e0b575;
	stop-opacity: 1;
}

#stop4015-2 {
	stop-color: #f5ca75;
	stop-opacity: 1;
}

#stop4017-4 {
	stop-color: #f5f5b5;
	stop-opacity: 1;
}

#stop3853-2-0-3 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3863-0-1-3 {
	stop-color: #ffffff;
	stop-opacity: 0.82198954;
}

#stop3855-4-1-0 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4013-6-8-3 {
	stop-color: #df9f3f;
	stop-opacity: 1;
}

#stop4015-7-1-6 {
	stop-color: #ffbf3f;
	stop-opacity: 1;
}

#stop4017-5-5-9 {
	stop-color: #f5f5b5;
	stop-opacity: 1;
}

#stop3853-2-0-3-5 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3863-0-1-3-3 {
	stop-color: #ffffff;
	stop-opacity: 0.82198954;
}

#stop3855-4-1-0-2 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4013-6-8-3-2 {
	stop-color: #df9f3f;
	stop-opacity: 1;
}

#stop4015-7-1-6-8 {
	stop-color: #ffbf3f;
	stop-opacity: 1;
}

#stop4017-5-5-9-3 {
	stop-color: #f5f5b5;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g3064-9 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//next_thread_nav.svg#linearGradient3857);
	fill-opacity: 1;
	stroke: none;
}

#g3064 {
	display: inline;
}

#path4413-2-5-3-1-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//next_thread_nav.svg#linearGradient4009);
	fill-opacity: 1;
	stroke: #83706b;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path4475 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #83706b;
	stroke-width: 1;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#g3064-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//next_thread_nav.svg#linearGradient3140-3-9-1-7);
	fill-opacity: 1;
	stroke: #543830;
	stroke-opacity: 1;
	display: inline;
}

#path4413-2-5-3-1-2-4-6 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//next_thread_nav.svg#linearGradient4009-9-0-4-5);
	fill-opacity: 1;
	stroke: #543830;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path4475-6 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #543830;
	stroke-width: 1;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#layer1-7 {
	display: inline;
}

#path4108-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//next_thread_nav.svg#linearGradient5109);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4108-1-6 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//next_thread_nav.svg#linearGradient7558);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

