@import "gotham";

#stop5277 {
	stop-color: #fce5a6;
	stop-opacity: 1;
}

#stop5279 {
	stop-color: #f9f2db;
	stop-opacity: 1;
}

#stop7257-4 {
	stop-color: #fce8b0;
	stop-opacity: 1;
}

#stop7259-0 {
	stop-color: #c28a1d;
	stop-opacity: 0;
}

#stop7078-7 {
	stop-color: #956413;
	stop-opacity: 1;
}

#stop7080-11 {
	stop-color: #c38b1d;
	stop-opacity: 1;
}

#stop8166-0 {
	stop-color: #accf8e;
	stop-opacity: 1;
}

#stop8176-3 {
	stop-color: #93c586;
	stop-opacity: 1;
}

#stop8174-7 {
	stop-color: #58ab71;
	stop-opacity: 1;
}

#stop8172-8 {
	stop-color: #4da766;
	stop-opacity: 1;
}

#stop8178-3 {
	stop-color: #61af61;
	stop-opacity: 1;
}

#stop8168-1 {
	stop-color: #78ba5e;
	stop-opacity: 1;
}

#stop8182-5 {
	stop-color: #36825e;
	stop-opacity: 1;
}

#stop8184-7 {
	stop-color: #257550;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect3968 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//restart_co.svg#linearGradient5268);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//restart_co.svg#linearGradient5273);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect3968-7 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	opacity: 0.5;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//restart_co.svg#linearGradient7263-1);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path8117 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//restart_co.svg#linearGradient14026);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//restart_co.svg#linearGradient14028);
	stroke-width: 0.77096093;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

