/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop4944 {
  stop-color: #b28218;
  stop-opacity: 1; }

#stop4946 {
  stop-color: #a16e12;
  stop-opacity: 1; }

#stop5105 {
  stop-color: #fefdef;
  stop-opacity: 1; }

#stop5107 {
  stop-color: #fce69e;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#path4108-1-6 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//runtoline_co.svg#linearGradient4948);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path4108-1 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//runtoline_co.svg#linearGradient5109);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4115 {
  fill: #4b6ea2;
  fill-opacity: 1;
  stroke: none; }

#rect4115-1 {
  fill: #4b6ea2;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4115-7 {
  fill: #4b6ea2;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4115-1-4 {
  fill: #4b6ea2;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4115-1-4-0 {
  fill: #4b6ea2;
  fill-opacity: 1;
  stroke: none;
  display: inline; }
