@import "gotham";

#stop4091 {
	stop-color: #001864;
	stop-opacity: 1;
}

#stop4110 {
	stop-color: #253f7c;
	stop-opacity: 1;
}

#stop4108 {
	stop-color: #7b94bc;
	stop-opacity: 1;
}

#stop4093 {
	stop-color: #a4c9de;
	stop-opacity: 1;
}

#stop4079 {
	stop-color: #8abad4;
	stop-opacity: 1;
}

#stop4085 {
	stop-color: #cadfec;
	stop-opacity: 1;
}

#stop4081 {
	stop-color: #90bdd6;
	stop-opacity: 1;
}

#stop4069 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4071 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4073 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4075 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4921 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop3792 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4927 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4923 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop5120 {
	stop-color: #2f81ad;
	stop-opacity: 1;
}

#stop5122 {
	stop-color: #a7d7f1;
	stop-opacity: 1;
}

#stop4921-2 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop3792-0 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4927-6 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4923-6 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4921-2-7 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop3792-0-0 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4927-6-2 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4923-6-2 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop5120-7 {
	stop-color: #2f81ad;
	stop-opacity: 1;
}

#stop5122-8 {
	stop-color: #a7d7f1;
	stop-opacity: 1;
}

#stop4921-2-7-3 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop3792-0-0-0 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4927-6-2-8 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4923-6-2-7 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4921-2-7-3-2 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop3792-0-0-0-2 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4927-6-2-8-0 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4923-6-2-7-2 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4921-2-7-3-2-0 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop3792-0-0-0-2-8 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4927-6-2-8-0-8 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4923-6-2-7-2-1 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4921-2-7-3-2-0-8 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop3792-0-0-0-2-8-9 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4927-6-2-8-0-8-3 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4923-6-2-7-2-1-0 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#layer1 {
	display: inline;
}

#path4012 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path4108-9-1-6-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//skip_brkp.svg#linearGradient4083);
	fill-opacity: 1;
	stroke: #0e5b8d;
	stroke-width: 1.07158398999999993;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path4087 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//skip_brkp.svg#linearGradient4095);
	fill-opacity: 1;
	stroke: none;
}

