@import "gotham";

#stop4918 {
	stop-color: #e85050;
	stop-opacity: 1;
}

#stop4924 {
	stop-color: #e82030;
	stop-opacity: 1;
}

#stop4920 {
	stop-color: #e83840;
	stop-opacity: 1;
}

#stop4910 {
	stop-color: #c85848;
	stop-opacity: 1;
}

#stop4922 {
	stop-color: #c43434;
	stop-opacity: 1;
}

#stop4912 {
	stop-color: #c01020;
	stop-opacity: 1;
}

#stop4902 {
	stop-color: #f4adad;
	stop-opacity: 1;
}

#stop4904 {
	stop-color: #f4a4a7;
	stop-opacity: 1;
}

#stop4894 {
	stop-color: #cd6759;
	stop-opacity: 1;
}

#stop4896 {
	stop-color: #c62634;
	stop-opacity: 1;
}

#stop4841 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4843 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4731 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4737 {
	stop-color: #ffffff;
	stop-opacity: 0.49579832;
}

#stop4733 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4731-8-1 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4737-8-5 {
	stop-color: #ffffff;
	stop-opacity: 0.49579832;
}

#stop4733-2-2 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g11331-3-1-1 {
	display: inline;
}

#g13408-8 {
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-opacity: 1;
}

#g3968-4 {
	display: inline;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//terminate_all_co.svg#linearGradient4898);
	stroke-opacity: 1;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//terminate_all_co.svg#linearGradient4906);
	fill-opacity: 1;
}

#rect6562-5 {
	font-size: 13.58917427000000100px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//terminate_all_co.svg#linearGradient4906);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//terminate_all_co.svg#linearGradient4898);
	stroke-width: 0.60000001999999997;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
}

#rect6562-9-5 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	color: #000000;
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//terminate_all_co.svg#linearGradient4865);
	stroke-width: 0.93735343;
	stroke-miterlimit: 4;
	stroke-opacity: 0.69158876;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
}

#rect4031 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//terminate_all_co.svg#linearGradient4845);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4031-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//terminate_all_co.svg#linearGradient4847);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect6562 {
	font-size: 13.58917427000000100px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//terminate_all_co.svg#linearGradient4890);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//terminate_all_co.svg#linearGradient4914);
	stroke-width: 0.62490230999999996;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
}

#rect6562-9 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	color: #000000;
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//terminate_all_co.svg#linearGradient4887);
	stroke-width: 0.93735343;
	stroke-miterlimit: 4;
	stroke-opacity: 0.69158876;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
}

