@import "gotham";

#stop5194 {
	stop-color: #003c6e;
	stop-opacity: 1;
}

#stop5196 {
	stop-color: #004c88;
	stop-opacity: 1;
}

#stop5120 {
	stop-color: #005597;
	stop-opacity: 1;
}

#stop5122 {
	stop-color: #00467d;
	stop-opacity: 1;
}

#stop5052 {
	stop-color: #bfb688;
	stop-opacity: 1;
}

#stop5054 {
	stop-color: #8895ae;
	stop-opacity: 1;
}

#stop5005 {
	stop-color: #90a1c5;
	stop-opacity: 1;
}

#stop5007 {
	stop-color: #a8b8d0;
	stop-opacity: 1;
}

#stop4929 {
	stop-color: #e7eef9;
	stop-opacity: 1;
}

#stop4931 {
	stop-color: #f1f5fb;
	stop-opacity: 1;
}

#stop4912-8 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914-8 {
	stop-color: #d1eeff;
	stop-opacity: 1;
}

#stop4996-5 {
	stop-color: #d1eeff;
	stop-opacity: 1;
}

#stop4998-5 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop5005-9 {
	stop-color: #90a1c5;
	stop-opacity: 1;
}

#stop5007-4 {
	stop-color: #a8b8d0;
	stop-opacity: 1;
}

#stop5005-9-4 {
	stop-color: #90a1c5;
	stop-opacity: 1;
}

#stop5007-4-5 {
	stop-color: #a8b8d0;
	stop-opacity: 1;
}

#stop5005-9-4-1 {
	stop-color: #90a1c5;
	stop-opacity: 1;
}

#stop5007-4-5-1 {
	stop-color: #a8b8d0;
	stop-opacity: 1;
}

#stop4912-8-1 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914-8-4 {
	stop-color: #d1eeff;
	stop-opacity: 1;
}

#stop4996-5-2 {
	stop-color: #d1eeff;
	stop-opacity: 1;
}

#stop4998-5-2 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop5120-7-2 {
	stop-color: #005597;
	stop-opacity: 1;
}

#stop5122-6-7 {
	stop-color: #00467d;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect3997-9-1-1 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//toggledetailpane_co.svg#linearGradient4933);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect4853-82-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//toggledetailpane_co.svg#linearGradient5062);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//toggledetailpane_co.svg#linearGradient4975-2);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect3997-9-1 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//toggledetailpane_co.svg#linearGradient5056);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect4816-1-1-4-1-1-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//toggledetailpane_co.svg#linearGradient4984);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4816-1-1-4-1-1-2-8 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//toggledetailpane_co.svg#linearGradient4155);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4816-1-1-4-1-1-2-8-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//toggledetailpane_co.svg#linearGradient4189);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4816-1-1-4-1-1-2-8-5-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//toggledetailpane_co.svg#linearGradient4223);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5048 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//toggledetailpane_co.svg#linearGradient5198);
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4242-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//toggledetailpane_co.svg#linearGradient5116);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-7-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//toggledetailpane_co.svg#linearGradient5079);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0-6 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//toggledetailpane_co.svg#linearGradient4975-2-2);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4242-2-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.debug.ui/icons/full/elcl16//toggledetailpane_co.svg#linearGradient5173);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

