@import "gotham";

#stop4740 {
	stop-color: #c8c8c8;
	stop-opacity: 1;
}

#stop4746 {
	stop-color: #bababa;
	stop-opacity: 1;
}

#stop4742 {
	stop-color: #e7e7e7;
	stop-opacity: 1;
}

#stop4743 {
	stop-color: #898989;
	stop-opacity: 1;
}

#stop4745 {
	stop-color: #898989;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect3968 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//command_obj.svg#linearGradient4744);
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//command_obj.svg#linearGradient4747);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

