/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop4364 {
  stop-color: #665d92;
  stop-opacity: 1; }

#stop4366 {
  stop-color: #429db9;
  stop-opacity: 1; }

#stop8398 {
  stop-color: #6fd9ff;
  stop-opacity: 1; }

#stop8400 {
  stop-color: #55add0;
  stop-opacity: 1; }

#stop8402 {
  stop-color: #4364a7;
  stop-opacity: 1; }

#stop8384 {
  stop-color: #adc270;
  stop-opacity: 1; }

#stop8392 {
  stop-color: #adc977;
  stop-opacity: 1; }

#stop4363 {
  stop-color: #af9a4d;
  stop-opacity: 1; }

#stop8390 {
  stop-color: #5e3b1e;
  stop-opacity: 1; }

#stop8384-4 {
  stop-color: #fffcf2;
  stop-opacity: 1; }

#stop8392-0 {
  stop-color: #adc977;
  stop-opacity: 1; }

#stop8390-9 {
  stop-color: #7f9f3f;
  stop-opacity: 1; }

#stop8386-4 {
  stop-color: #77775c;
  stop-opacity: 1; }

#stop8376 {
  stop-color: #6fd9ff;
  stop-opacity: 1; }

#stop4391 {
  stop-color: #23aeff;
  stop-opacity: 1; }

#stop8378 {
  stop-color: #4364a7;
  stop-opacity: 1; }

#stop5186 {
  stop-color: #7d6f79;
  stop-opacity: 1; }

#stop5188 {
  stop-color: #aaa2a9;
  stop-opacity: 1; }

#filter4531 {
  color-interpolation-filters: sRGB; }

#stop8351 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop4263 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop8353 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#layer1 {
  display: inline; }

#path4246 {
  fill: none;
  fill-rule: evenodd;
  stroke: #585157;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#path4246-8 {
  display: inline;
  fill: none;
  fill-rule: evenodd;
  stroke: #585157;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#rect4243-4 {
  display: inline;
  fill: #7d6f79;
  fill-opacity: 1;
  stroke: none; }

#path4245-1 {
  display: inline;
  fill: none;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//environment.svg#linearGradient5190);
  stroke-width: 0.57384032;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#g3894 {
  display: inline; }

#path4381 {
  fill: #2f522a;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: none;
  stroke-width: 325.48294067px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  filter: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//environment.svg#filter4531);
  opacity: 0.658; }

#path3800-3-8-4 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//environment.svg#radialGradient8380);
  fill-opacity: 1;
  stroke: none; }

#path3800-3-8-9-8 {
  display: inline;
  opacity: 1;
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//environment.svg#radialGradient7906);
  fill-opacity: 1;
  stroke: none; }

#path3800-3-8-0-6 {
  display: inline;
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//environment.svg#radialGradient4361);
  fill-opacity: 1;
  stroke: none; }

#path3800-3-8-1-4 {
  display: inline;
  fill: none;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//environment.svg#linearGradient4368);
  stroke-width: 56.39807892;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#path3800-3-8-9-8-6 {
  display: inline;
  opacity: 1;
  fill: #ffffff;
  fill-opacity: 0;
  stroke: none; }

#rect4243 {
  display: inline;
  fill: #958892;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#rect4243-6 {
  display: inline;
  fill: #958892;
  fill-opacity: 1;
  stroke: none; }
