/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop4179 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop4181 {
  stop-color: #e0d7e0;
  stop-opacity: 1; }

#stop4169 {
  stop-color: #b7aa81;
  stop-opacity: 1; }

#stop4171 {
  stop-color: #8e94a5;
  stop-opacity: 1; }

#path4185 {
  fill: #7b4e42;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: #9f8882;
  stroke-width: 0.71592331;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#path4157 {
  opacity: 1;
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//focus.svg#radialGradient4245);
  fill-opacity: 1;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//focus.svg#linearGradient4173);
  stroke-width: 1;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }
