/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop18600 {
  stop-color: #b0843d;
  stop-opacity: 1; }

#stop18602 {
  stop-color: #827353;
  stop-opacity: 1; }

#stop4912-8-5-7 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop4914-8-1-8 {
  stop-color: #c5dff4;
  stop-opacity: 1; }

#stop4996-5-9-7 {
  stop-color: #c5dff4;
  stop-opacity: 1; }

#stop4998-5-0-9 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop8289-6 {
  stop-color: #6eb6e2;
  stop-opacity: 1; }

#stop8291-34 {
  stop-color: #d3e5f4;
  stop-opacity: 1; }

#stop4084-8-1 {
  stop-color: #4476aa;
  stop-opacity: 1; }

#stop4864-7-00 {
  stop-color: #5a9ccc;
  stop-opacity: 1; }

#stop4086-2-0 {
  stop-color: #4476aa;
  stop-opacity: 1; }

#path18691 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dashoffset: 0;
  display: inline; }

#stop3822 {
  stop-color: #4291fa;
  stop-opacity: 1; }

#stop3824 {
  stop-color: #f8fdff;
  stop-opacity: 1; }

#stop3866 {
  stop-color: #d1f7fe;
  stop-opacity: 1; }

#stop3868 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3836 {
  stop-color: #92c2ef;
  stop-opacity: 1; }

#stop3838 {
  stop-color: #83b3e2;
  stop-opacity: 1; }

#stop3844 {
  stop-color: #294844;
  stop-opacity: 1; }

#stop3846 {
  stop-color: #5a8d6a;
  stop-opacity: 1; }

#stop3854 {
  stop-color: #316493;
  stop-opacity: 1; }

#stop3856 {
  stop-color: #e5ecf3;
  stop-opacity: 1; }

#stop3874 {
  stop-color: #e5fdfa;
  stop-opacity: 1; }

#stop3876 {
  stop-color: #94d1fd;
  stop-opacity: 1; }

#stop3882 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3884 {
  stop-color: #80b6fc;
  stop-opacity: 1; }

#stop3822-1 {
  stop-color: #4291fa;
  stop-opacity: 1; }

#stop3824-6 {
  stop-color: #f8fdff;
  stop-opacity: 1; }

#stop3866-2 {
  stop-color: #d1f7fe;
  stop-opacity: 1; }

#stop3868-3 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3836-8 {
  stop-color: #92c2ef;
  stop-opacity: 1; }

#stop3838-7 {
  stop-color: #83b3e2;
  stop-opacity: 1; }

#stop3844-7 {
  stop-color: #294844;
  stop-opacity: 1; }

#stop3846-9 {
  stop-color: #5a8d6a;
  stop-opacity: 1; }

#stop3854-9 {
  stop-color: #316493;
  stop-opacity: 1; }

#stop3856-8 {
  stop-color: #e5ecf3;
  stop-opacity: 1; }

#stop3874-4 {
  stop-color: #e5fdfa;
  stop-opacity: 1; }

#stop3876-0 {
  stop-color: #94d1fd;
  stop-opacity: 1; }

#stop3882-5 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3884-5 {
  stop-color: #80b6fc;
  stop-opacity: 1; }

#stop4812-0-1-4 {
  stop-color: #a79c68;
  stop-opacity: 1; }

#stop4814-4-5-0 {
  stop-color: #687692;
  stop-opacity: 1; }

#stop4912-8-5-7-89 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop4914-8-1-8-2 {
  stop-color: #c5dff4;
  stop-opacity: 1; }

#stop4996-5-9-7-8 {
  stop-color: #c5dff4;
  stop-opacity: 1; }

#stop4998-5-0-9-57 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#rect3997-9 {
  fill: #f4fcff;
  fill-opacity: 1;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//image_application.svg#linearGradient18054);
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dashoffset: 0;
  display: inline; }

#rect4853-82-7 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//image_application.svg#linearGradient17825);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4853-82-0 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//image_application.svg#linearGradient17822);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect3997-9-9 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//image_application.svg#linearGradient17817);
  fill-opacity: 1;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//image_application.svg#linearGradient17819);
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dashoffset: 0;
  display: inline; }

#g18686 {
  display: inline; }

#rect3997-9-2-7 {
  opacity: 0.5;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline;
  filter: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//image_application.svg#filter18648); }

#rect2996-1 {
  opacity: 0.5;
  fill: #000000;
  fill-opacity: 0.73936169;
  stroke: none;
  display: inline;
  filter: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//image_application.svg#filter3809); }

#rect2996-1-3 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//image_application.svg#linearGradient3826);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path3862 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//image_application.svg#linearGradient3870);
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 0.16641554;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path3832 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//image_application.svg#linearGradient3840);
  fill-opacity: 1;
  stroke: #bbe4f7;
  stroke-width: 0.08320777px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  display: inline; }

#path3830 {
  fill: #537c7b;
  fill-opacity: 1;
  stroke: #649093;
  stroke-width: 0.08320777px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  display: inline; }

#path3828 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//image_application.svg#linearGradient3848);
  fill-opacity: 1;
  stroke: #5e8f71;
  stroke-width: 0.08320777px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  display: inline; }

#rect3850 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//image_application.svg#linearGradient3858);
  fill-opacity: 1;
  stroke: #316493;
  stroke-width: 0.08320777;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#path3860 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//image_application.svg#linearGradient3878);
  fill-opacity: 1;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//image_application.svg#linearGradient3886);
  stroke-width: 0.16641554;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#rect2996 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#g18908 {
  display: inline; }

#rect2996-1-3-2 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//image_application.svg#linearGradient18917);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path3862-9 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//image_application.svg#linearGradient18919);
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 0.16641554;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path3832-1 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//image_application.svg#linearGradient18921);
  fill-opacity: 1;
  stroke: #bbe4f7;
  stroke-width: 0.08320777px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  display: inline; }

#path3830-2 {
  fill: #537c7b;
  fill-opacity: 1;
  stroke: #649093;
  stroke-width: 0.08320777px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  display: inline; }

#path3828-4 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//image_application.svg#linearGradient18923);
  fill-opacity: 1;
  stroke: #5e8f71;
  stroke-width: 0.08320777px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  display: inline; }

#rect3850-9 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//image_application.svg#linearGradient18925);
  fill-opacity: 1;
  stroke: #316493;
  stroke-width: 0.08320777;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#path3860-9 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//image_application.svg#linearGradient18927);
  fill-opacity: 1;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//image_application.svg#linearGradient18929);
  stroke-width: 0.16641554;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#rect3997-9-2-8-1 {
  fill: #f4fcff;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect3997-9-2 {
  fill: none;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//image_application.svg#linearGradient17765);
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dashoffset: 0;
  display: inline; }

#rect4853-82-7-7 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//image_application.svg#linearGradient17787);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4853-82-0-9 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//image_application.svg#linearGradient8881-0-1);
  fill-opacity: 1;
  stroke: none;
  display: inline; }
