@import "gotham";

#stop4407 {
	stop-color: #fdf2db;
	stop-opacity: 1;
}

#stop4409 {
	stop-color: #ffda91;
	stop-opacity: 1;
}

#stop4411 {
	stop-color: #ffda91;
	stop-opacity: 1;
}

#stop4413 {
	stop-color: #cda254;
	stop-opacity: 1;
}

#stop4397 {
	stop-color: #fdf2db;
	stop-opacity: 1;
}

#stop4399 {
	stop-color: #ffda91;
	stop-opacity: 1;
}

#stop4401 {
	stop-color: #ffda91;
	stop-opacity: 1;
}

#stop4403 {
	stop-color: #cda254;
	stop-opacity: 1;
}

#stop4160 {
	stop-color: #fdf2db;
	stop-opacity: 1;
}

#stop4166 {
	stop-color: #ffda91;
	stop-opacity: 1;
}

#stop4168 {
	stop-color: #ffda91;
	stop-opacity: 1;
}

#stop4162 {
	stop-color: #cda254;
	stop-opacity: 1;
}

#stop4210 {
	stop-color: #fdf2db;
	stop-opacity: 1;
}

#stop4212 {
	stop-color: #ffda91;
	stop-opacity: 1;
}

#stop4214 {
	stop-color: #ffda91;
	stop-opacity: 1;
}

#stop4216 {
	stop-color: #cda254;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g4286 {
	display: inline;
}

#path4198 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//link_obj.svg#linearGradient4206);
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #7d5e13;
	stroke-width: 0.8;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#path4198-2 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//link_obj.svg#linearGradient4206-9);
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #806013;
	stroke-width: 0.80000001;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4156-5 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//link_obj.svg#linearGradient4164-2);
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #7d5f13;
	stroke-width: 0.8;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#path4156 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//link_obj.svg#linearGradient4164);
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #765911;
	stroke-width: 0.8;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#path4165 {
	fill: none;
	fill-rule: evenodd;
	stroke: #806013;
	stroke-width: 0.30000001;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4165-5 {
	display: inline;
	fill: none;
	fill-rule: evenodd;
	stroke: #826214;
	stroke-width: 0.5;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

