@import "gotham";

#stop4881 {
	stop-color: #edd1a6;
	stop-opacity: 1;
}

#stop4883 {
	stop-color: #c7a183;
	stop-opacity: 1;
}

#stop4873 {
	stop-color: #d0a17f;
	stop-opacity: 1;
}

#stop4875 {
	stop-color: #ad755d;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#path4097 {
	fill: #005596;
	fill-opacity: 1;
	stroke: #005596;
	stroke-width: 0.93913352px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-opacity: 1;
}

#path4867 {
	fill: none;
	stroke: #005596;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#rect4869 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//loop_node_obj.svg#linearGradient4885);
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//loop_node_obj.svg#linearGradient4877);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

