/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop5105-5-4 {
  stop-color: #c1ebca;
  stop-opacity: 1; }

#stop7550-07-0 {
  stop-color: #b3dac7;
  stop-opacity: 1; }

#stop7548-6-9 {
  stop-color: #9ec2c3;
  stop-opacity: 1; }

#stop5107-7-48 {
  stop-color: #7a99bb;
  stop-opacity: 1; }

#stop6356 {
  stop-color: #6994ad;
  stop-opacity: 1; }

#stop6358 {
  stop-color: #095a98;
  stop-opacity: 1; }

#stop11292-3 {
  stop-color: #567ead;
  stop-opacity: 1; }

#stop11294-4 {
  stop-color: #35679d;
  stop-opacity: 1; }

#stop3969-3 {
  stop-color: #c48a4e;
  stop-opacity: 1; }

#stop3971-6 {
  stop-color: #ad6c24;
  stop-opacity: 1; }

#stop3975-0 {
  stop-color: #f8d078;
  stop-opacity: 1; }

#stop3977-3 {
  stop-color: #f8f0c8;
  stop-opacity: 1; }

#stop3951-7 {
  stop-color: #9e6627;
  stop-opacity: 1; }

#stop3953-6 {
  stop-color: #c38536;
  stop-opacity: 1; }

#stop3957-4 {
  stop-color: #c38536;
  stop-opacity: 1; }

#stop3959-2 {
  stop-color: #f2dc91;
  stop-opacity: 1; }

#stop3961-1 {
  stop-color: #fbdc8b;
  stop-opacity: 1; }

#stop3963-4 {
  stop-color: #e6bd7a;
  stop-opacity: 1; }

#stop3965-5 {
  stop-color: #ba772f;
  stop-opacity: 1; }

#g5161 {
  font-size: 11.05178356px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  text-align: start;
  line-height: 125%;
  letter-spacing: 0px;
  word-spacing: 0px;
  writing-mode: lr-tb;
  text-anchor: start;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 0.24860173;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline;
  font-family: AustralianFlyingCorpsStencil;
  inkscape-font-specification: AustralianFlyingCorpsStencil; }

#rect5163 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 3.02792978;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#path5165 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 3.02792978;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0; }

#path5167 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 3.02792978;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#layer1 {
  display: inline; }

#g8159 {
  display: inline; }

#g13813 {
  font-size: 11.05178356px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  text-align: start;
  line-height: 125%;
  letter-spacing: 0px;
  word-spacing: 0px;
  writing-mode: lr-tb;
  text-anchor: start;
  fill: #236298;
  fill-opacity: 1;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//output_folder_attrib.svg#linearGradient7357-5);
  stroke-width: 0.24860173;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline;
  font-family: AustralianFlyingCorpsStencil;
  inkscape-font-specification: AustralianFlyingCorpsStencil; }

#rect13693-3 {
  fill: #fdf7eb;
  fill-opacity: 1;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//output_folder_attrib.svg#linearGradient3939-2);
  stroke-width: 3.02792978;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#rect13693 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//output_folder_attrib.svg#linearGradient4933-1);
  fill-opacity: 1;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//output_folder_attrib.svg#linearGradient4935-8);
  stroke-width: 3.02792978;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0; }

#path13797 {
  fill: none;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//output_folder_attrib.svg#linearGradient3072);
  stroke-width: 3.02792978;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#g5148 {
  filter: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//output_folder_attrib.svg#filter5173); }

#layer1-7-1-9 {
  display: inline;
  fill: #ffffff;
  stroke: #ffffff; }

#path4108-1-8 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  display: inline; }

#path4108-1-6-3 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  display: inline; }

#layer1-7-1 {
  display: inline; }

#path4108-1 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//output_folder_attrib.svg#linearGradient5109-0-1);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path4108-1-6 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//output_folder_attrib.svg#linearGradient4235);
  fill-opacity: 1;
  stroke: none;
  display: inline; }
