@import "gotham";

#stop4174 {
	stop-color: #5f5a79;
	stop-opacity: 1;
}

#stop4176 {
	stop-color: #83727c;
	stop-opacity: 1;
}

#stop4230 {
	stop-color: #869ac2;
	stop-opacity: 1;
}

#stop4232 {
	stop-color: #566b8f;
	stop-opacity: 1;
}

#stop4167 {
	stop-color: #787297;
	stop-opacity: 1;
}

#stop4169 {
	stop-color: #7f6d77;
	stop-opacity: 1;
}

#stop4996-5-4 {
	stop-color: #c3e9ff;
	stop-opacity: 1;
}

#stop4998-5-0 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4912-8-8 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914-8-8 {
	stop-color: #c3e9ff;
	stop-opacity: 1;
}

#stop4885-5 {
	stop-color: #ebf9ff;
	stop-opacity: 1;
}

#stop4887-5 {
	stop-color: #fcffff;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect3997-9-1 {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: Sans;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: #8b96ab;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	enable-background: accumulate;
}

#rect3997-9-1-1 {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: Sans;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//settings.svg#linearGradient4889-2);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	enable-background: accumulate;
}

#rect4853-82-7 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//settings.svg#linearGradient5062-9);
	fill-opacity: 1;
	stroke: none;
}

#rect4853-82-0 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//settings.svg#linearGradient4975-2-1);
	fill-opacity: 1;
	stroke: none;
}

#path4163 {
	opacity: 1;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//settings.svg#linearGradient4171);
	stroke-width: 1.01564932;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4163-2 {
	display: inline;
	opacity: 1;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//settings.svg#linearGradient4171-0);
	stroke-width: 1.00335228;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4163-2-0 {
	display: inline;
	opacity: 1;
	fill: #777294;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4226 {
	opacity: 1;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//settings.svg#linearGradient4234);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4226-1 {
	display: inline;
	opacity: 1;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//settings.svg#linearGradient4234-3);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

