/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop4448 {
  stop-color: #d1d6dd;
  stop-opacity: 1; }

#stop4450 {
  stop-color: #bfc9d6;
  stop-opacity: 1; }

#stop4291 {
  stop-color: #bfc9d6;
  stop-opacity: 1; }

#stop4293 {
  stop-color: #cbd2db;
  stop-opacity: 1; }

#stop4211 {
  stop-color: #eef6ff;
  stop-opacity: 1; }

#stop4213 {
  stop-color: #fdfeff;
  stop-opacity: 1; }

#stop4203 {
  stop-color: #717883;
  stop-opacity: 1; }

#stop4205 {
  stop-color: #81733e;
  stop-opacity: 1; }

#stop4181 {
  stop-color: #d6e0e6;
  stop-opacity: 1; }

#stop4183 {
  stop-color: #d6e0e6;
  stop-opacity: 0; }

#layer1 {
  display: inline; }

#rect4217 {
  opacity: 1;
  fill: #3d4b65;
  fill-opacity: 1;
  stroke: #3d4b65;
  stroke-width: 1;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#path4192-8 {
  display: inline;
  fill: #3d4b65;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: #3d4b65;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#path4192 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//toc_topic_obj.svg#linearGradient4215);
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//toc_topic_obj.svg#linearGradient4207);
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#g4369 {
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//toc_topic_obj.svg#linearGradient4374); }

#rect4287 {
  opacity: 1;
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//toc_topic_obj.svg#linearGradient4295);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#rect4287-1 {
  display: inline;
  opacity: 1;
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//toc_topic_obj.svg#linearGradient4295-6);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#rect4287-1-6 {
  display: inline;
  opacity: 1;
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//toc_topic_obj.svg#linearGradient4295-6-2);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#path4192-1 {
  display: inline;
  fill: none;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//toc_topic_obj.svg#linearGradient4452);
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#path4192-1-0 {
  display: inline;
  fill: none;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//toc_topic_obj.svg#linearGradient4452-6);
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }
