/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop4193 {
  stop-color: #b9cad4;
  stop-opacity: 1; }

#stop4195 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop4183 {
  stop-color: #998f6a;
  stop-opacity: 1; }

#stop4185 {
  stop-color: #7d827c;
  stop-opacity: 1; }

#stop4175 {
  stop-color: #267fe3;
  stop-opacity: 1; }

#stop4177 {
  stop-color: #80b4ef;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#path4163 {
  fill: #80b4ef;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//toc_link_obj.svg#linearGradient4187);
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#path4165 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//toc_link_obj.svg#linearGradient4179);
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: #8f8b70;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#path4169 {
  fill: none;
  fill-rule: evenodd;
  stroke: #727b84;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#path4171 {
  fill: #ffffff;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: #8f8b70;
  stroke-width: 1.11224616px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#path4189 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/obj16//toc_link_obj.svg#linearGradient4197);
  fill-rule: evenodd;
  stroke: none;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  fill-opacity: 1; }
