@import "gotham";

#stop5302 {
	stop-color: #4d4d4d;
	stop-opacity: 1;
}

#stop5308 {
	stop-color: #727272;
	stop-opacity: 1;
}

#stop5304 {
	stop-color: #4d4d4d;
	stop-opacity: 1;
}

#stop5079-7 {
	stop-color: #e4cf94;
	stop-opacity: 1;
}

#stop5087-6 {
	stop-color: #ede0ba;
	stop-opacity: 1;
}

#stop5085-1 {
	stop-color: #c1aa7e;
	stop-opacity: 1;
}

#stop5081-8 {
	stop-color: #ad8865;
	stop-opacity: 1;
}

#stop4910-7-2-7 {
	stop-color: #986443;
	stop-opacity: 1;
}

#stop4912-6-2-9 {
	stop-color: #994f1b;
	stop-opacity: 1;
}

#stop4910-7-2-7-5 {
	stop-color: #986443;
	stop-opacity: 1;
}

#stop4912-6-2-9-6 {
	stop-color: #994f1b;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#path5226-6-14-1-5-4 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: none;
	stroke: #ffffff;
	stroke-width: 3;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	fill-opacity: 1;
}

#path5226-6-14-1-5 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/elcl16//edit_template.svg#linearGradient5173);
	stroke-width: 1;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path5424 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffcb72;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path5226-6-14-1-5-2 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #e5a856;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path5226-6-14-1-5-2-7 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #fbbc67;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path5426 {
	opacity: 0.5;
	fill: none;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	filter: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/elcl16//edit_template.svg#filter5428);
}

#path5006 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/elcl16//edit_template.svg#linearGradient5196);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5006-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/elcl16//edit_template.svg#linearGradient5306);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

