/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop5137-4 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop4271 {
  stop-color: #8499be;
  stop-opacity: 1; }

#stop4269 {
  stop-color: #8095bb;
  stop-opacity: 1; }

#stop5139-0 {
  stop-color: #637aa7;
  stop-opacity: 1; }

#stop5143-8 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop4265 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop5145-8 {
  stop-color: #637aa7;
  stop-opacity: 1; }

#stop5149-5 {
  stop-color: #91a5c7;
  stop-opacity: 1; }

#stop4263 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop4267 {
  stop-color: #d7dde8;
  stop-opacity: 1; }

#stop5151-5 {
  stop-color: #637aa7;
  stop-opacity: 1; }

#stop4863-1 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop4261 {
  stop-color: #788db5;
  stop-opacity: 1; }

#stop4865-52 {
  stop-color: #637aa7;
  stop-opacity: 1; }

#stop4879-1 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop4259 {
  stop-color: #7b90b7;
  stop-opacity: 1; }

#stop4881-4 {
  stop-color: #5e76a3;
  stop-opacity: 1; }

#stop4904-2 {
  stop-color: #bfb688;
  stop-opacity: 1; }

#stop4906-2 {
  stop-color: #8392b0;
  stop-opacity: 1; }

#stop4896-8 {
  stop-color: #e0c88f;
  stop-opacity: 1; }

#stop4898-5 {
  stop-color: #d5b269;
  stop-opacity: 1; }

#stop4996-1 {
  stop-color: #f9fafc;
  stop-opacity: 1; }

#stop4998-89 {
  stop-color: #dce7f7;
  stop-opacity: 1; }

#stop4751 {
  stop-color: #ffffee;
  stop-opacity: 1; }

#stop4753 {
  stop-color: #ffecad;
  stop-opacity: 1; }

#stop4743 {
  stop-color: #ba7f0d;
  stop-opacity: 1; }

#stop4745 {
  stop-color: #a2660b;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#rect4001-3 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/elcl16//insert_template.svg#linearGradient4101);
  fill-opacity: 1;
  stroke: none; }

#path4884 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/elcl16//insert_template.svg#linearGradient4900-1);
  fill-opacity: 1;
  stroke: none; }

#rect4001 {
  display: inline;
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/elcl16//insert_template.svg#linearGradient4908-2);
  stroke-width: 1.00078261;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#rect4001-1 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/elcl16//insert_template.svg#linearGradient4867-7);
  fill-opacity: 1;
  stroke: none; }

#rect4001-1-7 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/elcl16//insert_template.svg#linearGradient4869-17);
  fill-opacity: 1;
  stroke: none; }

#rect4001-1-7-4 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/elcl16//insert_template.svg#linearGradient4871-2);
  fill-opacity: 1;
  stroke: none; }

#rect4001-1-7-4-0 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/elcl16//insert_template.svg#linearGradient4875-9);
  fill-opacity: 1;
  stroke: none; }

#rect4001-1-7-4-0-9 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/elcl16//insert_template.svg#linearGradient4873-1);
  fill-opacity: 1;
  stroke: none; }

#layer1-9 {
  display: inline; }

#rect3968 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/elcl16//insert_template.svg#linearGradient4755);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/elcl16//insert_template.svg#linearGradient4747);
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }
