/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop4154 {
  stop-color: #b3b09a;
  stop-opacity: 1; }

#stop4156 {
  stop-color: #f0ece8;
  stop-opacity: 1; }

#stop4904-2 {
  stop-color: #bfb688;
  stop-opacity: 1; }

#stop4906-2 {
  stop-color: #8392b0;
  stop-opacity: 1; }

#stop4896-8 {
  stop-color: #e0c88f;
  stop-opacity: 1; }

#stop4898-5 {
  stop-color: #d5b269;
  stop-opacity: 1; }

#stop4996-1 {
  stop-color: #f9fafc;
  stop-opacity: 1; }

#stop4998-89 {
  stop-color: #dce7f7;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#rect4001-3 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/elcl16//new_template.svg#linearGradient4101);
  fill-opacity: 1;
  stroke: none; }

#rect4150 {
  opacity: 1;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/elcl16//new_template.svg#linearGradient4158);
  fill-opacity: 1;
  stroke: #aaa3a8;
  stroke-width: 1;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#path4884 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/elcl16//new_template.svg#linearGradient4900-1);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4001 {
  display: inline;
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/elcl16//new_template.svg#linearGradient4908-2);
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }
