/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop17412 {
  stop-color: #e0ebf6;
  stop-opacity: 1; }

#stop17414 {
  stop-color: #f3f5f6;
  stop-opacity: 1; }

#stop17161 {
  stop-color: #ffeece;
  stop-opacity: 1; }

#stop17163 {
  stop-color: #e1eaba;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#layer1-4 {
  display: inline;
  fill: none; }

#g17594 {
  fill: none; }

#path6139-1-5 {
  color: #000000;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/elcl16//configs.svg#linearGradient17441);
  fill-opacity: 1;
  stroke: #3f7fbf;
  stroke-width: 0.5091278;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#path6139-1-4-14 {
  color: #000000;
  fill: #d2d5cb;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.33941853;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#path6139-1-4-5-2 {
  color: #000000;
  fill: #d2d5cb;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.33941853;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#path6139-1-4-14-3 {
  color: #000000;
  fill: #d2d5cb;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.33941853;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#path6139-1-4-5-2-2 {
  color: #000000;
  fill: #d2d5cb;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.33941853;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#path6139-1-4-14-2 {
  color: #000000;
  fill: #bfdfbf;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.33941853;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#path6139-1-4-5-2-1 {
  color: #000000;
  fill: #bfdfbf;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.33941853;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#path6139-1-4-14-3-6 {
  color: #000000;
  fill: #bfdfbf;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.33941853;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#path6139-1-4-5-2-2-8 {
  color: #000000;
  fill: #bfdfbf;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.33941853;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#path6139-1-76 {
  color: #000000;
  fill: #1d4984;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.33941853;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#path6139-1-4 {
  color: #000000;
  fill: #4d607b;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.33941853;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#path6139-1-4-5 {
  color: #000000;
  fill: #4d607b;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.33941853;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#path6139-1-4-51 {
  color: #000000;
  fill: #4d607b;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.33941853;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#path6139-1-4-5-7 {
  color: #000000;
  fill: #4d607b;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.33941853;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#path6139-1-4-1 {
  color: #000000;
  fill: #4d607b;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.33941853;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#path6139-1-4-5-1 {
  color: #000000;
  fill: #4d607b;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.33941853;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#path6139-1-4-51-5 {
  color: #000000;
  fill: #4d607b;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.33941853;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#path6139-1-4-5-7-2 {
  color: #000000;
  fill: #4d607b;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.33941853;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#path6139-1 {
  color: #000000;
  fill: none;
  stroke: #3f7fbf;
  stroke-width: 0.7180745;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#path6139-1-7 {
  color: #000000;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/elcl16//configs.svg#linearGradient17443);
  fill-opacity: 1;
  stroke: #4d607b;
  stroke-width: 0.80260861;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }
