/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop12030 {
  stop-color: #bb8f32;
  stop-opacity: 1; }

#stop12032 {
  stop-color: #b77a27;
  stop-opacity: 1; }

#stop4996-1 {
  stop-color: #f9fafc;
  stop-opacity: 1; }

#stop4998-89 {
  stop-color: #dce7f7;
  stop-opacity: 1; }

#stop4896-8 {
  stop-color: #e0c88f;
  stop-opacity: 1; }

#stop4898-5 {
  stop-color: #d5b269;
  stop-opacity: 1; }

#stop4904-2 {
  stop-color: #bb9033;
  stop-opacity: 1; }

#stop4906-2 {
  stop-color: #8f7941;
  stop-opacity: 1; }

#stop4879-1 {
  stop-color: #91a5c7;
  stop-opacity: 1; }

#stop4881-4 {
  stop-color: #5e76a3;
  stop-opacity: 1; }

#stop4863-1 {
  stop-color: #91a5c7;
  stop-opacity: 1; }

#stop4865-52 {
  stop-color: #637aa7;
  stop-opacity: 1; }

#stop5143-8 {
  stop-color: #91a5c7;
  stop-opacity: 1; }

#stop5145-8 {
  stop-color: #637aa7;
  stop-opacity: 1; }

#stop5137-4 {
  stop-color: #91a5c7;
  stop-opacity: 1; }

#stop5139-0 {
  stop-color: #637aa7;
  stop-opacity: 1; }

#stop6283-0 {
  stop-color: #f7f9fb;
  stop-opacity: 1; }

#stop6285-5 {
  stop-color: #ffd680;
  stop-opacity: 1; }

#stop3951 {
  stop-color: #9e6627;
  stop-opacity: 1; }

#stop3953 {
  stop-color: #c38536;
  stop-opacity: 1; }

#stop3957 {
  stop-color: #c38536;
  stop-opacity: 1; }

#stop3959 {
  stop-color: #f2dc91;
  stop-opacity: 1; }

#stop3961 {
  stop-color: #fbdc8b;
  stop-opacity: 1; }

#stop3963 {
  stop-color: #e6bd7a;
  stop-opacity: 1; }

#stop3965 {
  stop-color: #ba772f;
  stop-opacity: 1; }

#stop3969 {
  stop-color: #c48a4e;
  stop-opacity: 1; }

#stop3971 {
  stop-color: #ad6c24;
  stop-opacity: 1; }

#stop3975 {
  stop-color: #f8d078;
  stop-opacity: 1; }

#stop3977 {
  stop-color: #f8f0c8;
  stop-opacity: 1; }

#path18838 {
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  text-anchor: start;
  baseline-shift: baseline;
  color: #000000;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.86250496;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate;
  font-family: Sans;
  inkscape-font-specification: Sans; }

#layer1 {
  display: inline; }

#layer1-8 {
  display: inline; }

#rect4001-3 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/elcl16//removefromworkset.svg#linearGradient4101);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path4884 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/elcl16//removefromworkset.svg#linearGradient4900-1);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4001 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/elcl16//removefromworkset.svg#linearGradient4908-2);
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dashoffset: 0;
  display: inline; }

#rect4001-1 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/elcl16//removefromworkset.svg#linearGradient4867-7);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4001-1-7 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/elcl16//removefromworkset.svg#linearGradient4869-17);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4001-1-7-4-0 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/elcl16//removefromworkset.svg#linearGradient4875-9);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4001-1-7-4-0-9 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/elcl16//removefromworkset.svg#linearGradient4873-1);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#g18830 {
  filter: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/elcl16//removefromworkset.svg#filter19612);
  stroke: #ffffff;
  stroke-width: 2;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-linejoin: round;
  stroke-linecap: round; }

#g18690-8 {
  display: inline;
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-linejoin: round;
  stroke-linecap: round; }

#rect13693-3-3 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dashoffset: 0;
  display: inline;
  stroke-dasharray: none; }

#rect13693-4 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dashoffset: 0;
  stroke-dasharray: none; }

#path13797-1 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#rect13693-3 {
  fill: #fdf7eb;
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/elcl16//removefromworkset.svg#linearGradient18688);
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#rect13693 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/elcl16//removefromworkset.svg#linearGradient18680);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/elcl16//removefromworkset.svg#linearGradient18682);
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0; }

#path13797 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/elcl16//removefromworkset.svg#linearGradient18677);
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#path5581-5-4 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/elcl16//removefromworkset.svg#linearGradient12034);
  stroke-width: 1.35443556;
  stroke-opacity: 1;
  display: inline; }

#path5581-5 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/elcl16//removefromworkset.svg#linearGradient6273-3);
  fill-opacity: 1;
  stroke: none;
  display: inline; }
