/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop4982 {
  stop-color: #6c8ab7;
  stop-opacity: 1; }

#stop4984 {
  stop-color: #607ead;
  stop-opacity: 1; }

#stop4976 {
  stop-color: #7694be;
  stop-opacity: 1; }

#stop4978 {
  stop-color: #607ead;
  stop-opacity: 1; }

#stop4964 {
  stop-color: #6c8ab7;
  stop-opacity: 1; }

#stop4966 {
  stop-color: #607ead;
  stop-opacity: 1; }

#stop4873 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop4875 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop4873-4 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop4875-0 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop4873-4-1 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop4875-0-5 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#layer1 {
  display: inline; }

#rect4035-1-1-5-2-2-6-5 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.team.ui/icons/full/elcl16//hierarchicalLayout.svg#linearGradient4970);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4035-1-1-5-2-2-6-5-2 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.team.ui/icons/full/elcl16//hierarchicalLayout.svg#linearGradient4968);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4035-17 {
  fill: #5c7aaa;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4035-1-1 {
  fill: #91a5c7;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4035-1-7-1 {
  opacity: 0.5;
  fill: url(../../../../../../eclipse-svg/org.eclipse.team.ui/icons/full/elcl16//hierarchicalLayout.svg#linearGradient4877);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4035-1-7-4-5 {
  opacity: 0.5;
  fill: url(../../../../../../eclipse-svg/org.eclipse.team.ui/icons/full/elcl16//hierarchicalLayout.svg#linearGradient4879);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#g5029-8 {
  display: inline; }

#rect4035-17-2 {
  fill: #5c7aaa;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4035-1-1-5 {
  fill: #91a5c7;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4035-1-7-1-5 {
  opacity: 0.5;
  fill: url(../../../../../../eclipse-svg/org.eclipse.team.ui/icons/full/elcl16//hierarchicalLayout.svg#linearGradient4877-1);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4035-1-7-4-5-1 {
  opacity: 0.5;
  fill: url(../../../../../../eclipse-svg/org.eclipse.team.ui/icons/full/elcl16//hierarchicalLayout.svg#linearGradient4879-9);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#g5029-8-7 {
  display: inline; }

#rect4035-17-2-6 {
  fill: #5c7aaa;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4035-1-1-5-4 {
  fill: #91a5c7;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4035-1-7-1-5-2 {
  opacity: 0.5;
  fill: url(../../../../../../eclipse-svg/org.eclipse.team.ui/icons/full/elcl16//hierarchicalLayout.svg#linearGradient4877-1-7);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4035-1-7-4-5-1-3 {
  opacity: 0.5;
  fill: url(../../../../../../eclipse-svg/org.eclipse.team.ui/icons/full/elcl16//hierarchicalLayout.svg#linearGradient4879-9-2);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4035-1-1-5-2 {
  fill: #5c7aaa;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4035-1-1-5-2-2 {
  fill: #5c7aaa;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4035-1-1-5-2-2-1 {
  fill: #5c7aaa;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4035-1-1-5-2-2-6 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.team.ui/icons/full/elcl16//hierarchicalLayout.svg#linearGradient4972);
  fill-opacity: 1;
  stroke: none;
  display: inline; }
