/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop4996 {
  stop-color: #f9fafc;
  stop-opacity: 1; }

#stop4998 {
  stop-color: #dce7f7;
  stop-opacity: 1; }

#stop4904 {
  stop-color: #bfb688;
  stop-opacity: 1; }

#stop4906 {
  stop-color: #8291b0;
  stop-opacity: 1; }

#stop4896 {
  stop-color: #e0c88f;
  stop-opacity: 1; }

#stop4898 {
  stop-color: #d5b269;
  stop-opacity: 1; }

#stop4854-4-1 {
  stop-color: #707070;
  stop-opacity: 1; }

#stop4856-0-2 {
  stop-color: #a0a0a0;
  stop-opacity: 1; }

#stop4846-8-4 {
  stop-color: #606060;
  stop-opacity: 1; }

#stop4848-8-9 {
  stop-color: #787878;
  stop-opacity: 1; }

#path6206 {
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  text-anchor: start;
  baseline-shift: baseline;
  color: #000000;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate;
  font-family: Sans;
  inkscape-font-specification: Sans; }

#layer1 {
  display: inline; }

#rect4001-3 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.team.ui/icons/full/elcl16//ignorefiles.svg#linearGradient5000);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path4884 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.team.ui/icons/full/elcl16//ignorefiles.svg#linearGradient4900);
  fill-opacity: 1;
  stroke: none; }

#rect4001 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.team.ui/icons/full/elcl16//ignorefiles.svg#linearGradient4908);
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dashoffset: 0; }

#layer1-8 {
  opacity: 0.75;
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 3.70728397;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  display: inline;
  filter: url(../../../../../../eclipse-svg/org.eclipse.team.ui/icons/full/elcl16//ignorefiles.svg#filter6988); }

#rect4043 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 3.70728397;
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#layer1-8-8 {
  display: inline; }

#rect4043-2 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.team.ui/icons/full/elcl16//ignorefiles.svg#linearGradient6120);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.team.ui/icons/full/elcl16//ignorefiles.svg#linearGradient6122);
  stroke-width: 0.98060334;
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }
