/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop3957 {
  stop-color: #c38536;
  stop-opacity: 1; }

#stop3959 {
  stop-color: #f2dc91;
  stop-opacity: 1; }

#stop3961 {
  stop-color: #fbdc8b;
  stop-opacity: 1; }

#stop3963 {
  stop-color: #e6bd7a;
  stop-opacity: 1; }

#stop3965 {
  stop-color: #ba772f;
  stop-opacity: 1; }

#path4919 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dashoffset: 0;
  display: inline; }

#stop4791 {
  stop-color: #4e8fbd;
  stop-opacity: 1; }

#stop4793 {
  stop-color: #30495a;
  stop-opacity: 1; }

#stop3969-9 {
  stop-color: #d1ad79;
  stop-opacity: 1; }

#stop3971-6 {
  stop-color: #ce9650;
  stop-opacity: 1; }

#stop4764 {
  stop-color: #ffd175;
  stop-opacity: 1; }

#stop4766 {
  stop-color: #fff1c2;
  stop-opacity: 1; }

#stop4840 {
  stop-color: #9e6627;
  stop-opacity: 1; }

#stop4842 {
  stop-color: #cf9852;
  stop-opacity: 1; }

#stop4841 {
  stop-color: #2846b3;
  stop-opacity: 1; }

#stop4843 {
  stop-color: #555f9e;
  stop-opacity: 1; }

#stop4845 {
  stop-color: #567ebc;
  stop-opacity: 0; }

#path4919-8 {
  display: inline;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#stop4758 {
  stop-color: #92b5eb;
  stop-opacity: 1; }

#stop4760 {
  stop-color: #b1e1fd;
  stop-opacity: 1; }

#stop4809-8 {
  stop-color: #2846b3;
  stop-opacity: 1; }

#stop4811-1 {
  stop-color: #60649d;
  stop-opacity: 1; }

#stop4750 {
  stop-color: #958189;
  stop-opacity: 1; }

#stop4752 {
  stop-color: #897b8d;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#g13862 {
  display: inline; }

#image4649 {
  image-rendering: optimizeSpeed; }

#rect3978 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/etool16//group_by_project.svg#linearGradient4030);
  fill-opacity: 1;
  stroke: none; }

#rect13693-3-8 {
  display: inline;
  fill: #fdf7eb;
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/etool16//group_by_project.svg#linearGradient3939-6);
  stroke-width: 3.58380508;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#rect13693-9 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/etool16//group_by_project.svg#linearGradient4933-1);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/etool16//group_by_project.svg#linearGradient4935-8);
  stroke-width: 3.58380508;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#rect13693-4 {
  display: inline;
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/etool16//group_by_project.svg#linearGradient4795-2);
  stroke-width: 3.58380508;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#path13797-1 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/etool16//group_by_project.svg#linearGradient4867);
  stroke-width: 3.58380508;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#rect13693-2-1 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/etool16//group_by_project.svg#linearGradient4776-1);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/etool16//group_by_project.svg#linearGradient4778-8);
  stroke-width: 4.20674324;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#path4004 {
  display: inline;
  fill: #60649d;
  fill-opacity: 1;
  stroke: none; }

#path3986 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/etool16//group_by_project.svg#linearGradient3041);
  fill-opacity: 1;
  stroke: none; }
