/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop4809 {
  stop-color: #9e6627;
  stop-opacity: 1; }

#stop4811 {
  stop-color: #bc8532;
  stop-opacity: 1; }

#stop3975 {
  stop-color: #f8d078;
  stop-opacity: 1; }

#stop3977 {
  stop-color: #f8f0c8;
  stop-opacity: 1; }

#stop3969 {
  stop-color: #c48a4e;
  stop-opacity: 1; }

#stop3971 {
  stop-color: #ad6c24;
  stop-opacity: 1; }

#stop3957 {
  stop-color: #c38536;
  stop-opacity: 1; }

#stop3959 {
  stop-color: #f2dc91;
  stop-opacity: 1; }

#stop3961 {
  stop-color: #fbdc8b;
  stop-opacity: 1; }

#stop3963 {
  stop-color: #e6bd7a;
  stop-opacity: 1; }

#stop3965 {
  stop-color: #ba772f;
  stop-opacity: 1; }

#stop3951 {
  stop-color: #9e6627;
  stop-opacity: 1; }

#stop3953 {
  stop-color: #c38536;
  stop-opacity: 1; }

#stop3975-4 {
  stop-color: #f8d078;
  stop-opacity: 1; }

#stop3977-0 {
  stop-color: #f8f0c8;
  stop-opacity: 1; }

#path4919 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dashoffset: 0;
  display: inline; }

#stop4791 {
  stop-color: #4e8fbd;
  stop-opacity: 1; }

#stop4793 {
  stop-color: #30495a;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#g13862 {
  display: inline; }

#image4340 {
  image-rendering: optimizeSpeed; }

#rect13693-3 {
  display: inline;
  fill: #fdf7eb;
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/etool16//group_by_folder.svg#linearGradient3939);
  stroke-width: 3.58380508;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#rect13693 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/etool16//group_by_folder.svg#linearGradient4933);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/etool16//group_by_folder.svg#linearGradient4935);
  stroke-width: 3.58380508;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#path13797 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/etool16//group_by_folder.svg#linearGradient3945);
  stroke-width: 3.58380508;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#rect13693-2-2 {
  display: inline;
  opacity: 0.5;
  fill: #000000;
  fill-opacity: 1;
  stroke: #000000;
  stroke-width: 2.38039374;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
  filter: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/etool16//group_by_folder.svg#filter4929); }

#rect13693-2 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/etool16//group_by_folder.svg#linearGradient4776);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/etool16//group_by_folder.svg#linearGradient4778);
  stroke-width: 4.22717358;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#path3986 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/etool16//group_by_folder.svg#linearGradient3041);
  fill-opacity: 1;
  stroke: none; }
