/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#layer1 {
  display: inline; }

#layer1-8 {
  display: inline; }

#path10612 {
  fill: none;
  stroke: #355883;
  stroke-width: 1.63251543;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#path11386 {
  fill: none;
  stroke: #355883;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#path11386-1 {
  fill: none;
  stroke: #355883;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  display: inline; }

#path11386-1-6 {
  fill: none;
  stroke: #355883;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  display: inline; }
