@import "gotham";

#stop7014 {
	stop-color: #be9c28;
	stop-opacity: 1;
}

#stop7016 {
	stop-color: #ac841e;
	stop-opacity: 1;
}

#stop7006 {
	stop-color: #fefdef;
	stop-opacity: 1;
}

#stop7008 {
	stop-color: #fbe28b;
	stop-opacity: 1;
}

#stop6983 {
	stop-color: #58b6e8;
	stop-opacity: 1;
}

#stop6985 {
	stop-color: #d3e5f4;
	stop-opacity: 1;
}

#stop4812-0 {
	stop-color: #bfb688;
	stop-opacity: 1;
}

#stop4814-4 {
	stop-color: #8895ae;
	stop-opacity: 1;
}

#stop4912-8-5 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914-8-1 {
	stop-color: #c5dff4;
	stop-opacity: 1;
}

#stop4996-5-9 {
	stop-color: #c5dff4;
	stop-opacity: 1;
}

#stop4998-5-0 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4084-8 {
	stop-color: #4476aa;
	stop-opacity: 1;
}

#stop4864-7 {
	stop-color: #5a9ccc;
	stop-opacity: 1;
}

#stop4086-2 {
	stop-color: #4476aa;
	stop-opacity: 1;
}

#path7127 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#path7160 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#layer1 {
	display: inline;
}

#layer1-8 {
	display: inline;
}

#rect3997-9 {
	fill: #f4fcff;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//jdoc_hover_edit.svg#linearGradient4046-24);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#rect4853-82-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//jdoc_hover_edit.svg#linearGradient5062-4);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//jdoc_hover_edit.svg#linearGradient4975-2-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect3997-9-9 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//jdoc_hover_edit.svg#linearGradient6987);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//jdoc_hover_edit.svg#linearGradient4063-8);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#g7590-7 {
	display: inline;
}

#g7827-7 {
	display: inline;
}

#rect7002-6 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//jdoc_hover_edit.svg#filter7166);
	opacity: 0.75000000000000000;
}

#rect7002 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//jdoc_hover_edit.svg#linearGradient7010);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//jdoc_hover_edit.svg#linearGradient7018);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path7154 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-opacity: 1;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//jdoc_hover_edit.svg#filter7162);
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	opacity: 0.75;
}

#path7000 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #666666;
	stroke-width: 0.75;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

