/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop10800-5-2-1-8-20-6-4-9-8-2 {
  stop-color: #4f9e55;
  stop-opacity: 1; }

#stop10806-6-8-5-3-9-24-8-4-3-2 {
  stop-color: #418a4d;
  stop-opacity: 1; }

#stop10802-1-5-3-0-4-8-4-2-9-2 {
  stop-color: #a4c589;
  stop-opacity: 1; }

#path8467 {
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  text-anchor: start;
  baseline-shift: baseline;
  color: #000000;
  fill: #ffffff;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 1;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate;
  font-family: Sans; }

#stop7542-4-4-3-3 {
  stop-color: #ffffff;
  stop-opacity: 0.502; }

#stop7544-5-3-8-5 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop7546-2-9-1-2 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop7548-9-2-0-9 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop7542-8-7-5 {
  stop-color: #ffffff;
  stop-opacity: 0.502; }

#stop7544-8-2-0 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop7546-1-7-9 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop7548-98-9-2 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop7274-6-0-1-7-4 {
  stop-color: #8f6c10;
  stop-opacity: 1; }

#stop7276-66-6-3-9-1 {
  stop-color: #c9a645;
  stop-opacity: 1; }

#stop4084-8 {
  stop-color: #4476aa;
  stop-opacity: 1; }

#stop4864-7 {
  stop-color: #5a9ccc;
  stop-opacity: 1; }

#stop4086-2 {
  stop-color: #4476aa;
  stop-opacity: 1; }

#stop4996-5-9 {
  stop-color: #c5dff4;
  stop-opacity: 1; }

#stop4998-5-0 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop4912-8-5 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop4914-8-1 {
  stop-color: #c5dff4;
  stop-opacity: 1; }

#stop4812-0 {
  stop-color: #be9a4b;
  stop-opacity: 1; }

#stop4814-4 {
  stop-color: #7f7542;
  stop-opacity: 1; }

#stop7542-8-7-5-3 {
  stop-color: #ffffff;
  stop-opacity: 0.502; }

#stop7544-8-2-0-5 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop7546-1-7-9-5 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop7548-98-9-2-4 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop7542-4-4-3-3-3 {
  stop-color: #ffffff;
  stop-opacity: 0.502; }

#stop7544-5-3-8-5-1 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop7546-2-9-1-2-20 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop7548-9-2-0-9-1 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop7274-6-0-1-7-4-7 {
  stop-color: #8f6c10;
  stop-opacity: 1; }

#stop7276-66-6-3-9-1-4 {
  stop-color: #c9a645;
  stop-opacity: 1; }

#path10622 {
  font-size: 13.58917427px;
  font-style: normal;
  font-weight: normal;
  line-height: 125%;
  letter-spacing: 0px;
  word-spacing: 0px;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 2.16621375;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline;
  font-family: Sans; }

#stop7542-8-7-5-3-2 {
  stop-color: #ffffff;
  stop-opacity: 0.502; }

#stop7544-8-2-0-5-6 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop7546-1-7-9-5-5 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop7548-98-9-2-4-3 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop7542-4-4-3-3-3-3 {
  stop-color: #ffffff;
  stop-opacity: 0.502; }

#stop7544-5-3-8-5-1-8 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop7546-2-9-1-2-20-3 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop7548-9-2-0-9-1-0 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop7274-6-0-1-7-4-7-6 {
  stop-color: #8f6c10;
  stop-opacity: 1; }

#stop7276-66-6-3-9-1-4-9 {
  stop-color: #c9a645;
  stop-opacity: 1; }

#stop5070-8-0-4-9 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop5072-3-6-1-7 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop4530-0-5-0-5-8-4 {
  stop-color: #e0c576;
  stop-opacity: 1; }

#stop4532-7-9-3-3-6-1 {
  stop-color: #9e7916;
  stop-opacity: 1; }

#stop6283-0-2-2-1-2-0-1-6-0 {
  stop-color: #f7f9fb;
  stop-opacity: 1; }

#stop6285-5-0-9-7-6-9-9-1-9 {
  stop-color: #ffd680;
  stop-opacity: 1; }

#stop10800-5-2-1-8-20-6-4-9-8-2-5 {
  stop-color: #4f9e55;
  stop-opacity: 1; }

#stop10806-6-8-5-3-9-24-8-4-3-2-9 {
  stop-color: #418a4d;
  stop-opacity: 1; }

#stop10802-1-5-3-0-4-8-4-2-9-2-7 {
  stop-color: #91c168;
  stop-opacity: 1; }

#stop10800-5-2-1-8-20-6-4-9-8-2-5-5 {
  stop-color: #4f9e55;
  stop-opacity: 1; }

#stop10806-6-8-5-3-9-24-8-4-3-2-9-4 {
  stop-color: #418a4d;
  stop-opacity: 1; }

#stop10802-1-5-3-0-4-8-4-2-9-2-7-8 {
  stop-color: #91c168;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#g11331-3-1-1 {
  display: inline; }

#g13408-8 {
  fill: #737986;
  fill-opacity: 1;
  stroke: #595e68;
  stroke-opacity: 1; }

#g6124-3 {
  display: inline; }

#text6430 {
  font-size: 13.58917427px;
  font-style: normal;
  font-weight: normal;
  line-height: 125%;
  letter-spacing: 0px;
  word-spacing: 0px;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  font-family: Sans; }

#g6438 {
  font-size: 13.58917427px;
  font-style: normal;
  font-weight: normal;
  line-height: 125%;
  letter-spacing: 0px;
  word-spacing: 0px;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  display: inline;
  font-family: Sans; }

#g8461-0 {
  font-size: 13.58917427px;
  font-style: normal;
  font-weight: normal;
  line-height: 125%;
  letter-spacing: 0px;
  word-spacing: 0px;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  display: inline;
  font-family: Sans; }

#g7590-1-0-4 {
  fill: #ffffff;
  stroke: #ffffff;
  display: inline; }

#rect6501-1-6-8-6 {
  opacity: 0.85;
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 5.85503387;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline;
  filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newclass_wiz.svg#filter8410-9-1); }

#g7590-1-9 {
  font-size: 13.58917427px;
  font-style: normal;
  font-weight: normal;
  line-height: 125%;
  letter-spacing: 0px;
  word-spacing: 0px;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  display: inline;
  font-family: Sans; }

#g4193 {
  display: inline; }

#g6124-3-3 {
  display: inline; }

#text6430-8 {
  font-style: normal;
  font-weight: normal;
  font-size: 13.58917427px;
  line-height: 125%;
  font-family: Sans;
  letter-spacing: 0px;
  word-spacing: 0px;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none; }

#g6438-8 {
  font-style: normal;
  font-weight: normal;
  font-size: 13.58917427px;
  line-height: 125%;
  font-family: Sans;
  letter-spacing: 0px;
  word-spacing: 0px;
  display: inline;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none; }

#path10796-2-6-2 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newclass_wiz.svg#linearGradient3929-5-7);
  fill-opacity: 1;
  stroke: #14733c;
  stroke-width: 1.49227178;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#text3782 {
  font-size: 15.56941891px;
  font-family: Sans;
  fill: #ffffff; }

#path3817 {
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-stretch: normal;
  font-size: 15.56941891px;
  line-height: 125%;
  font-family: Arial;
  letter-spacing: 0px;
  word-spacing: 0px;
  display: inline;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none; }

#g6432 {
  display: inline; }

#path5581-1-1 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newclass_wiz.svg#linearGradient3329);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path5581-1-1-8 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newclass_wiz.svg#linearGradient3331);
  fill-opacity: 1;
  stroke: none; }

#path5581-1-1-7 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newclass_wiz.svg#linearGradient3333);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path5581-1-1-6 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newclass_wiz.svg#linearGradient3335);
  fill-opacity: 1;
  stroke: none; }

#path5581-1-1-1 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newclass_wiz.svg#linearGradient3337);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path5581-1-1-89 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newclass_wiz.svg#linearGradient3339);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path5581-1-1-2 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newclass_wiz.svg#linearGradient3341);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path5581-1-1-79 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newclass_wiz.svg#linearGradient3343);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#g4514 {
  display: inline; }

#rect3910 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newclass_wiz.svg#radialGradient3345);
  fill-opacity: 1;
  stroke: #a27d18;
  stroke-width: 1.03243756;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path5581-5-5 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newclass_wiz.svg#linearGradient3347);
  fill-opacity: 1;
  stroke: none;
  display: inline; }
