@import "gotham";

#stop3993 {
	stop-color: #967211;
	stop-opacity: 1;
}

#stop3995 {
	stop-color: #916a00;
	stop-opacity: 1;
}

#stop3969-3 {
	stop-color: #c48a4e;
	stop-opacity: 1;
}

#stop3971-09 {
	stop-color: #ad6c24;
	stop-opacity: 1;
}

#stop3975-85 {
	stop-color: #f8d078;
	stop-opacity: 1;
}

#stop3977-7 {
	stop-color: #f8f0c8;
	stop-opacity: 1;
}

#stop3951-7 {
	stop-color: #9e6627;
	stop-opacity: 1;
}

#stop3953-5 {
	stop-color: #c38536;
	stop-opacity: 1;
}

#stop3957-6 {
	stop-color: #c38536;
	stop-opacity: 1;
}

#stop3959-77 {
	stop-color: #f2dc91;
	stop-opacity: 1;
}

#stop3961-0 {
	stop-color: #fbdc8b;
	stop-opacity: 1;
}

#stop3963-6 {
	stop-color: #e6bd7a;
	stop-opacity: 1;
}

#stop3965-9 {
	stop-color: #ba772f;
	stop-opacity: 1;
}

#g27863 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1.24123943;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#path27865 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1.24123943;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path27867 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1.24123943;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path27869 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1.24123943;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#stop3969 {
	stop-color: #c48a4e;
	stop-opacity: 1;
}

#stop3971 {
	stop-color: #ad6c24;
	stop-opacity: 1;
}

#stop3975 {
	stop-color: #f8d078;
	stop-opacity: 1;
}

#stop3977 {
	stop-color: #f8f0c8;
	stop-opacity: 1;
}

#stop3951 {
	stop-color: #9e6627;
	stop-opacity: 1;
}

#stop3953 {
	stop-color: #c38536;
	stop-opacity: 1;
}

#stop3957 {
	stop-color: #c38536;
	stop-opacity: 1;
}

#stop3959 {
	stop-color: #f2dc91;
	stop-opacity: 1;
}

#stop3961 {
	stop-color: #fbdc8b;
	stop-opacity: 1;
}

#stop3963 {
	stop-color: #e6bd7a;
	stop-opacity: 1;
}

#stop3965 {
	stop-color: #ba772f;
	stop-opacity: 1;
}

#g27661 {
	fill: #ffffff;
	stroke: #ffffff;
}

#g27663 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1.24123943;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#path27665 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1.24123943;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path27667 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1.24123943;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path27669 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1.24123943;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#g27671 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1.24123943;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#path27673 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1.24123943;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path27675 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1.24123943;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path27677 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1.24123943;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#g17100-9 {
	fill: #ffffff;
}

#g17102-9 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#g17104-0 {
	fill: #ffffff;
	stroke: #ffffff;
}

#g17106-8 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#g17108-0 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#rect17110-3 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
}

#g17112-0 {
	fill: #ffffff;
	stroke: #ffffff;
}

#rect17114-1 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path17116-2 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path17118-5 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path17120-1 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#g17122-7 {
	fill: #ffffff;
	stroke: #ffffff;
}

#rect17124-4 {
	opacity: 0.5;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2.38039374;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#filter4929-9-0);
}

#rect17126-8 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.60383272;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path17128-8 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
}

#path17130-2 {
	fill: #ffffff;
	fill-opacity: 1;
	display: inline;
}

#path4919-6-6-4 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#g17066-8 {
	fill: #ffffff;
}

#g17068-7 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#g17070-2 {
	fill: #ffffff;
	stroke: #ffffff;
}

#g17072-4 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#g17074-8 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#rect17076-4 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
}

#g17078-8 {
	fill: #ffffff;
	stroke: #ffffff;
}

#rect17080-6 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path17082-7 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path17084-7 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path17086-6 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#g17088-6 {
	fill: #ffffff;
	stroke: #ffffff;
}

#rect17090-8 {
	opacity: 0.5;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2.38039374;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#filter4929-9-0);
}

#rect17092-4 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.60383272;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path17094-6 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
}

#path17096-1 {
	fill: #ffffff;
	fill-opacity: 1;
	display: inline;
}

#g17100 {
	fill: #ffffff;
}

#g17102 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#g17104 {
	fill: #ffffff;
	stroke: #ffffff;
}

#g17106 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#g17108 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#rect17110 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
}

#g17112 {
	fill: #ffffff;
	stroke: #ffffff;
}

#rect17114 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path17116 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path17118 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path17120 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#g17122 {
	fill: #ffffff;
	stroke: #ffffff;
}

#rect17124 {
	opacity: 0.5;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2.38039374;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#filter4929-9);
}

#rect17126 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.60383272;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path17128 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
}

#path17130 {
	fill: #ffffff;
	fill-opacity: 1;
	display: inline;
}

#path4919-6-6 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#g17066 {
	fill: #ffffff;
}

#g17068 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#g17070 {
	fill: #ffffff;
	stroke: #ffffff;
}

#g17072 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#g17074 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#rect17076 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
}

#g17078 {
	fill: #ffffff;
	stroke: #ffffff;
}

#rect17080 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path17082 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path17084 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path17086 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#g17088 {
	fill: #ffffff;
	stroke: #ffffff;
}

#rect17090 {
	opacity: 0.5;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2.38039374;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#filter4929-9);
}

#rect17092 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.60383272;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path17094 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
}

#path17096 {
	fill: #ffffff;
	fill-opacity: 1;
	display: inline;
}

#stop7542-8-7-5 {
	stop-color: #ffffff;
	stop-opacity: 0.502;
}

#stop7544-8-2-0 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop7546-1-7-9 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7548-98-9-2 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7542-4-4-3-3 {
	stop-color: #ffffff;
	stop-opacity: 0.502;
}

#stop7544-5-3-8-5 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop7546-2-9-1-2 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7548-9-2-0-9 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7274-6-0-1-7-4 {
	stop-color: #8f6c10;
	stop-opacity: 1;
}

#stop7276-66-6-3-9-1 {
	stop-color: #c9a645;
	stop-opacity: 1;
}

#stop5070-8-0-4-9 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop5072-3-6-1-7 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4530-0-5-0-5-8-4 {
	stop-color: #e0c576;
	stop-opacity: 1;
}

#stop4532-7-9-3-3-6-1 {
	stop-color: #9e7916;
	stop-opacity: 1;
}

#stop6283-0-2-2-1-2-0-1-6-0 {
	stop-color: #f7f9fb;
	stop-opacity: 1;
}

#stop6285-5-0-9-7-6-9-9-1-9 {
	stop-color: #fbdd83;
	stop-opacity: 1;
}

#g18690-0 {
	stroke-width: 1.24123943;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#rect13693-3-4 {
	fill: #fdf7eb;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#linearGradient18688-8);
	stroke-width: 1.24123943;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect13693-6 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#linearGradient18680-6);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#linearGradient18682-6);
	stroke-width: 1.24123943;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path13797-0 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#linearGradient19045);
	stroke-width: 1.24123943;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#g27855 {
	display: inline;
}

#g18690-04 {
	opacity: 0.75;
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 2.48247886;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#filter27875);
}

#rect13693-3-9 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2.48247886;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect13693-67 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2.48247886;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path13797-2 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 2.48247886;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#g18690 {
	stroke-width: 1.24123943;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#rect13693-3 {
	fill: #fdf7eb;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#linearGradient18688);
	stroke-width: 1.24123943;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect13693 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#linearGradient18680);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#linearGradient18682);
	stroke-width: 1.24123943;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path13797 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#linearGradient18677);
	stroke-width: 1.24123943;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#g27468 {
	opacity: 0.75;
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#filter27488);
}

#layer1-3-6 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#g7590-7-4 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#g7827-7-4 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 2.4682548;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#g7590-1-2 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1.95167792;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#rect6501-7-2 {
	opacity: 0.85;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1.95167792;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#rect7280-61-7 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1.95167792;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#filter7474-3-2-7-6);
}

#rect7280-8-7-8 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1.95167792;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#filter7486-6-6-5-5);
}

#rect7280-5-3-2 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1.95167792;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#filter7478-9-8-2-9);
}

#rect7280-6-0-3 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1.95167792;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#filter7482-8-1-5-8);
}

#path7490-0-1 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1.95167792;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path7490-1-2-3 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1.95167792;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#rect6501-1-6-8 {
	opacity: 0.85;
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1.95167792;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#rect6501-1-6-1-1 {
	opacity: 0.85;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#path10927-5-7-9-2 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#path10927-5-7-9 {
	fill: #366c9a;
	fill-opacity: 1;
	display: inline;
}

#g6432 {
	display: inline;
}

#path5581-1-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#linearGradient6323-7-1-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-8 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#linearGradient5084-3-3-2-6);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#linearGradient5086-8-0-8-5);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-6 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#linearGradient5082-1-0-8-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#linearGradient5078-8-2-1-4);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-89 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#linearGradient5076-5-2-9-8);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#linearGradient3500-5);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-79 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#linearGradient5088-1-4-8-6);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g4514 {
	display: inline;
}

#rect3910 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#radialGradient3997);
	fill-opacity: 1;
	stroke: #a27d18;
	stroke-width: 1.03243755999999998;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5581-5-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newjworkingSet_wiz.svg#linearGradient3093-5-2-7-0-9);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

