@import "gotham";

#stop7049 {
	stop-color: #17325d;
	stop-opacity: 1;
}

#stop7055 {
	stop-color: #b7d2e4;
	stop-opacity: 1;
}

#stop7051 {
	stop-color: #3e72a7;
	stop-opacity: 1;
}

#stop7005 {
	stop-color: #4a9968;
	stop-opacity: 1;
}

#stop7007 {
	stop-color: #76be7e;
	stop-opacity: 1;
}

#stop4812-0 {
	stop-color: #c7b571;
	stop-opacity: 1;
}

#stop4814-4 {
	stop-color: #989891;
	stop-opacity: 1;
}

#stop7274-6-0-1-7-4 {
	stop-color: #8f6c10;
	stop-opacity: 1;
}

#stop7276-66-6-3-9-1 {
	stop-color: #c9a645;
	stop-opacity: 1;
}

#stop7542-8-7-5 {
	stop-color: #ffffff;
	stop-opacity: 0.502;
}

#stop7544-8-2-0 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop7546-1-7-9 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7548-98-9-2 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7542-4-4-3-3 {
	stop-color: #ffffff;
	stop-opacity: 0.502;
}

#stop7544-5-3-8-5 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop7546-2-9-1-2 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7548-9-2-0-9 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7005-6 {
	stop-color: #4a9968;
	stop-opacity: 1;
}

#stop7007-1 {
	stop-color: #76be7e;
	stop-opacity: 1;
}

#stop7049-7 {
	stop-color: #17325d;
	stop-opacity: 1;
}

#stop7055-8 {
	stop-color: #b7d2e4;
	stop-opacity: 1;
}

#stop7051-0 {
	stop-color: #3e72a7;
	stop-opacity: 1;
}

#stop7049-78 {
	stop-color: #17325d;
	stop-opacity: 1;
}

#stop7055-0 {
	stop-color: #b7d2e4;
	stop-opacity: 1;
}

#stop7051-8 {
	stop-color: #3e72a7;
	stop-opacity: 1;
}

#stop7049-78-3 {
	stop-color: #17325d;
	stop-opacity: 1;
}

#stop7055-0-8 {
	stop-color: #b7d2e4;
	stop-opacity: 1;
}

#stop7051-8-5 {
	stop-color: #3e72a7;
	stop-opacity: 1;
}

#stop7049-78-3-3 {
	stop-color: #17325d;
	stop-opacity: 1;
}

#stop7055-0-8-6 {
	stop-color: #b7d2e4;
	stop-opacity: 1;
}

#stop7051-8-5-2 {
	stop-color: #3e72a7;
	stop-opacity: 1;
}

#path7368 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#g7524 {
	fill: #ffffff;
	stroke: #ffffff;
}

#path7526 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#g7528 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#path7530 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path7532 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
}

#path7534 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
}

#path7536 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
}

#path7538 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
}

#stop5070-8-0-4-9 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop5072-3-6-1-7 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4530-0-5-0-5-8-4 {
	stop-color: #e0c576;
	stop-opacity: 1;
}

#stop4532-7-9-3-3-6-1 {
	stop-color: #9e7916;
	stop-opacity: 1;
}

#stop6283-0-2-2-1-2-0-1-6-0 {
	stop-color: #f7f9fb;
	stop-opacity: 1;
}

#stop6285-5-0-9-7-6-9-9-1-9 {
	stop-color: #ffd680;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#layer1-8 {
	display: inline;
}

#rect3997-9 {
	fill: #f4fcff;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newsbook_wiz.svg#linearGradient4046-24);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#path10927-5-7 {
	fill: #366c9a;
	fill-opacity: 1;
	display: inline;
}

#rect3997-9-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newsbook_wiz.svg#linearGradient7009);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect3997-9-4-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newsbook_wiz.svg#linearGradient7026);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g7205-6 {
	opacity: 0.75;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newsbook_wiz.svg#filter7378);
}

#path7045-6 {
	fill: none;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path7045-0-6 {
	fill: none;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path7045-3-5 {
	fill: none;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path7045-3-4-1 {
	fill: none;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path7045-3-4-7-2 {
	fill: none;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path7045 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newsbook_wiz.svg#linearGradient7541);
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path7045-0 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newsbook_wiz.svg#linearGradient7543);
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
}

#path7045-3 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newsbook_wiz.svg#linearGradient7545);
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
}

#path7045-3-4 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newsbook_wiz.svg#linearGradient7547);
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
}

#path7045-3-4-7 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newsbook_wiz.svg#linearGradient7549);
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
}

#g7590-7 {
	display: inline;
}

#g7827-7 {
	display: inline;
}

#g7590-1-0 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#rect6501-1-6-8 {
	opacity: 0.85;
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 5.85503387;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newsbook_wiz.svg#filter8410);
}

#g6432 {
	display: inline;
}

#path5581-1-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newsbook_wiz.svg#linearGradient6323-7-1-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-8 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newsbook_wiz.svg#linearGradient5084-3-3-2-6);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newsbook_wiz.svg#linearGradient5086-8-0-8-5);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-6 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newsbook_wiz.svg#linearGradient5082-1-0-8-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newsbook_wiz.svg#linearGradient5078-8-2-1-4);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-89 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newsbook_wiz.svg#linearGradient5076-5-2-9-8);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newsbook_wiz.svg#linearGradient3500-5);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-79 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newsbook_wiz.svg#linearGradient5088-1-4-8-6);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g4514 {
	display: inline;
}

#rect3910 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newsbook_wiz.svg#radialGradient3091-1-9-6-4-6);
	fill-opacity: 1;
	stroke: #a27d18;
	stroke-width: 1.03243756;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5581-5-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newsbook_wiz.svg#linearGradient3093-5-2-7-0-9);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

