@import "gotham";

#stop10800-5-2-1-8-20-6-4-9-8-2 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-24-8-4-3-2 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-8-4-2-9-2 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop4764 {
	stop-color: #b1c8e5;
	stop-opacity: 1;
}

#stop4766 {
	stop-color: #c6e4f0;
	stop-opacity: 1;
}

#stop3957-3 {
	stop-color: #3870da;
	stop-opacity: 1;
}

#stop3959-2 {
	stop-color: #78b8f0;
	stop-opacity: 1;
}

#stop3961-3 {
	stop-color: #78b8f0;
	stop-opacity: 1;
}

#stop3963-9 {
	stop-color: #3068d8;
	stop-opacity: 1;
}

#stop3965-8 {
	stop-color: #3068d8;
	stop-opacity: 1;
}

#g8227-4 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	display: inline;
	font-family: Sans;
}

#g8229-1 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#rect8231-9 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
}

#g8233-9 {
	fill: #ffffff;
	stroke: #ffffff;
}

#rect8235-9 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 4.49057722;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path8237-7 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 4.49057722;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path8239-9 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 4.49057722;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#g8241-3 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	display: inline;
	font-family: Sans;
}

#path8243-0 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2.64956641;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path8245-9 {
	font-variant: normal;
	font-weight: bold;
	font-stretch: normal;
	fill: #ffffff;
	stroke: #ffffff;
	font-family: Sans;
	inkscape-font-specification: Sans Bold;
}

#g8463 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	display: inline;
	font-family: Sans;
}

#g8465 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#rect8467 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
}

#g8469 {
	fill: #ffffff;
	stroke: #ffffff;
}

#rect8471 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 4.49057722;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path8473 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 4.49057722;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path8475 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 4.49057722;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#layer1 {
	display: inline;
}

#g11331-3-1-1 {
	display: inline;
}

#g13408-8 {
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-opacity: 1;
}

#g6124-3 {
	display: inline;
}

#text6430 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	font-family: Sans;
}

#g6438 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#layer1-9 {
	display: inline;
}

#g13862-2 {
	display: inline;
}

#rect3978-0 {
	font-size: 13.58917427000000089px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #7b88ba;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#rect13693-3-3 {
	fill: #f8e0d0;
	fill-opacity: 1;
	stroke: #9a9296;
	stroke-width: 4.49057722;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect13693-38 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//toggle_breadcrumb.svg#linearGradient4933-7);
	fill-opacity: 1;
	stroke: #7c81a2;
	stroke-width: 4.49057721999999959;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path13797-8 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//toggle_breadcrumb.svg#linearGradient4867);
	stroke-width: 4.49057722;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#rect3978 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #73667b;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#g7309-4 {
	font-size: 13.58917427000000089px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	display: inline;
	font-family: Sans;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//toggle_breadcrumb.svg#filter8477);
	opacity: 0.75;
}

#path10796-2-6-2-2 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2.64956640999999982;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path6435-6 {
	font-variant: normal;
	font-weight: bold;
	font-stretch: normal;
	fill: #ffffff;
	font-family: Sans;
	stroke: #ffffff;
}

#path10796-2-6-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//toggle_breadcrumb.svg#linearGradient7313);
	fill-opacity: 1;
	stroke: #14733c;
	stroke-width: 2.64956641;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path3817 {
	font-size: 15.56941891px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-stretch: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Arial;
	inkscape-font-specification: Arial Bold;
}

#g8220 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#path8083-3 {
	font-size: 13.58917427000000089px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	opacity: 0.75000000000000000;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//toggle_breadcrumb.svg#filter8251-1);
	font-family: Sans;
}

#path8083 {
	fill: #323232;
	fill-opacity: 1;
	stroke: #323232;
	stroke-opacity: 1;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-width: 0.5;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

