/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop5105 {
  stop-color: #fefdef;
  stop-opacity: 1; }

#stop5107 {
  stop-color: #fce69e;
  stop-opacity: 1; }

#stop4924 {
  stop-color: #77849a;
  stop-opacity: 1; }

#stop4926 {
  stop-color: #38445d;
  stop-opacity: 1; }

#stop4880 {
  stop-color: #4e8fbd;
  stop-opacity: 1; }

#stop4882 {
  stop-color: #4d5a5d;
  stop-opacity: 1; }

#stop4880-4 {
  stop-color: #4e8fbd;
  stop-opacity: 1; }

#stop4882-0 {
  stop-color: #4d5a5d;
  stop-opacity: 1; }

#stop4924-8 {
  stop-color: #77849a;
  stop-opacity: 1; }

#stop4926-2 {
  stop-color: #38445d;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#path4108-1 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//filter_ps.svg#linearGradient5109);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path4108 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//filter_ps.svg#linearGradient4884);
  stroke: none;
  fill-opacity: 1; }

#path4108-9 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//filter_ps.svg#linearGradient4901);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4920 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//filter_ps.svg#linearGradient4929);
  fill-opacity: 1;
  stroke: none; }

#rect4920-4 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//filter_ps.svg#linearGradient4946);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path4108-1-6 {
  display: inline;
  fill: #b57a13;
  fill-opacity: 1;
  stroke: none; }
