/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop7136 {
  stop-color: #bd8416;
  stop-opacity: 1; }

#stop7138 {
  stop-color: #a66b10;
  stop-opacity: 1; }

#stop7586-4-6 {
  stop-color: #f9cd5f;
  stop-opacity: 1; }

#stop7588-5-8 {
  stop-color: #ffebb7;
  stop-opacity: 1; }

#stop7594-6-7 {
  stop-color: #bd8416;
  stop-opacity: 1; }

#stop7596-9-7 {
  stop-color: #a66b10;
  stop-opacity: 1; }

#stop7586-6-3-6 {
  stop-color: #f9cd5f;
  stop-opacity: 1; }

#stop7588-9-9-0 {
  stop-color: #ffebb7;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#g7604 {
  display: inline; }

#path7582 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//refresh.svg#linearGradient7608-3-3);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//refresh.svg#linearGradient7610-5-8);
  stroke-width: 0.80000000999999998;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#path7602 {
  opacity: 0.85714285;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none; }

#g7604-6 {
  display: inline; }

#path7582-7 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//refresh.svg#linearGradient7608-9-7-1);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//refresh.svg#linearGradient7140);
  stroke-width: 0.80000000999999998;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#path7602-2 {
  opacity: 0.85714285;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none; }
