/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop4488 {
  stop-color: #91a5c7;
  stop-opacity: 1; }

#stop4490 {
  stop-color: #7e92b9;
  stop-opacity: 1; }

#stop4478 {
  stop-color: #e6eef9;
  stop-opacity: 1; }

#stop4480 {
  stop-color: #f9fafc;
  stop-opacity: 1; }

#stop4470 {
  stop-color: #c7b571;
  stop-opacity: 1; }

#stop4472 {
  stop-color: #989891;
  stop-opacity: 1; }

#stop5111 {
  stop-color: #906f4e;
  stop-opacity: 1; }

#stop5113 {
  stop-color: #dfbd7f;
  stop-opacity: 1; }

#stop5208 {
  stop-color: #bbb8bb;
  stop-opacity: 1; }

#stop5216 {
  stop-color: #ccc8cb;
  stop-opacity: 1; }

#stop5214 {
  stop-color: #bdb6bc;
  stop-opacity: 1; }

#stop5210 {
  stop-color: #9b8c98;
  stop-opacity: 1; }

#stop5333 {
  stop-color: #fef48d;
  stop-opacity: 1; }

#stop5341 {
  stop-color: #fffffe;
  stop-opacity: 1; }

#stop5339 {
  stop-color: #fffffe;
  stop-opacity: 1; }

#stop5335 {
  stop-color: #fef48d;
  stop-opacity: 1; }

#stop5353 {
  stop-color: #e4a239;
  stop-opacity: 1; }

#stop5355 {
  stop-color: #fada7d;
  stop-opacity: 1; }

#stop5380 {
  stop-color: #f4d684;
  stop-opacity: 1; }

#stop5382 {
  stop-color: #fcf4c6;
  stop-opacity: 1; }

#stop5384 {
  stop-color: #fbeebc;
  stop-opacity: 1; }

#stop5386 {
  stop-color: #eeb960;
  stop-opacity: 1; }

#stop5430 {
  stop-color: #f0a53b;
  stop-opacity: 1; }

#stop5438 {
  stop-color: #f2d58f;
  stop-opacity: 1; }

#stop5436 {
  stop-color: #efb965;
  stop-opacity: 1; }

#stop5432 {
  stop-color: #df9833;
  stop-opacity: 1; }

#stop5442 {
  stop-color: #ad8e5f;
  stop-opacity: 1; }

#stop5444 {
  stop-color: #8f6e4d;
  stop-opacity: 1; }

#stop5450 {
  stop-color: #ad8e5f;
  stop-opacity: 1; }

#stop5452 {
  stop-color: #8f6e4d;
  stop-opacity: 1; }

#g8822 {
  fill: #ffffff;
  stroke: #ffffff;
  display: inline; }

#g8824 {
  fill: #ffffff;
  stroke: #ffffff;
  display: inline; }

#g8826 {
  fill: #ffffff;
  stroke: #ffffff; }

#g8828 {
  fill: #ffffff;
  stroke: #ffffff; }

#path8830 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 1.06988704;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path8832 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-opacity: 1; }

#path8834 {
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  text-anchor: start;
  baseline-shift: baseline;
  color: #000000;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 1px;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate;
  font-family: Sans;
  inkscape-font-specification: Sans; }

#path8836 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 1;
  stroke-opacity: 1;
  display: inline; }

#path8838 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 0.87995493;
  stroke-opacity: 1;
  display: inline; }

#path8840 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 1.0003444;
  stroke-linejoin: round;
  stroke-miterlimit: 3;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#stop7594-6-9-5 {
  stop-color: #ad7212;
  stop-opacity: 1; }

#stop7596-9-2-1 {
  stop-color: #875f1e;
  stop-opacity: 1; }

#stop7586-4-4-4 {
  stop-color: #f9cd5f;
  stop-opacity: 1; }

#stop7588-5-0-3 {
  stop-color: #ffebb7;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#g8472 {
  display: inline; }

#rect4221-4 {
  display: inline;
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//tsearch_obj.svg#linearGradient5368);
  stroke-width: 1.06988704;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#rect4221 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//tsearch_obj.svg#linearGradient5370);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//tsearch_obj.svg#linearGradient5434);
  stroke-opacity: 1; }

#path5028 {
  color: #000000;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: medium;
  line-height: normal;
  font-family: Sans;
  inkscape-font-specification: Sans;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  text-decoration-line: none;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  baseline-shift: baseline;
  text-anchor: start;
  display: inline;
  overflow: visible;
  visibility: visible;
  fill: #496da1;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1px;
  marker: none;
  enable-background: accumulate; }

#rect4221-7-1 {
  display: inline;
  fill: #ffffc9;
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//tsearch_obj.svg#linearGradient5454);
  stroke-width: 1;
  stroke-opacity: 1; }

#rect4221-7-1-2 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//tsearch_obj.svg#linearGradient5372);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//tsearch_obj.svg#linearGradient5374);
  stroke-width: 0.87995493;
  stroke-opacity: 1; }

#rect4221-7 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//tsearch_obj.svg#linearGradient5376);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//tsearch_obj.svg#linearGradient5446);
  stroke-width: 1.0003444;
  stroke-linejoin: round;
  stroke-miterlimit: 3;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#rect4466 {
  opacity: 1;
  fill: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//tsearch_obj.svg#linearGradient4482);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//tsearch_obj.svg#linearGradient4474);
  stroke-width: 1.06988704;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 2.5999999;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#path4484 {
  fill: none;
  fill-rule: evenodd;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//tsearch_obj.svg#linearGradient4492);
  stroke-width: 1.06988704px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#path4484-7 {
  display: inline;
  fill: none;
  fill-rule: evenodd;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//tsearch_obj.svg#linearGradient4492-1);
  stroke-width: 1.06988704px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#path4484-75 {
  display: inline;
  fill: none;
  fill-rule: evenodd;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.search/icons/full/elcl16//tsearch_obj.svg#linearGradient4492-3);
  stroke-width: 1.06988704px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#image4688 {
  image-rendering: optimizeSpeed; }
