@import "stock";

#stop5353 {
	stop-color: #6f8db9;
	stop-opacity: 1;
}

#stop5355 {
	stop-color: #1b639e;
	stop-opacity: 1;
}

#stop5347 {
	stop-color: #796e63;
	stop-opacity: 1;
}

#stop5349 {
	stop-color: #a09d8c;
	stop-opacity: 1;
}

#stop5307 {
	stop-color: #c6b571;
	stop-opacity: 1;
}

#stop5309 {
	stop-color: #8d7a55;
	stop-opacity: 1;
}

#stop5265 {
	stop-color: #c7b571;
	stop-opacity: 1;
}

#stop5267 {
	stop-color: #a09d8c;
	stop-opacity: 1;
}

#stop5257 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop5259 {
	stop-color: #dee9f7;
	stop-opacity: 1;
}

#stop5249 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop5251 {
	stop-color: #f2f5fb;
	stop-opacity: 1;
}

#stop5243 {
	stop-color: #879cc0;
	stop-opacity: 1;
}

#stop5245 {
	stop-color: #677da9;
	stop-opacity: 1;
}

#stop5236 {
	stop-color: #879cc0;
	stop-opacity: 1;
}

#stop5238 {
	stop-color: #677da9;
	stop-opacity: 1;
}

#stop5230 {
	stop-color: #879cc0;
	stop-opacity: 1;
}

#stop5232 {
	stop-color: #677da9;
	stop-opacity: 1;
}

#stop5216 {
	stop-color: #879cc0;
	stop-opacity: 1;
}

#stop5218 {
	stop-color: #677da9;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g8472 {
	display: inline;
}

#rect4172-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/etool16//segment_edit.svg#linearGradient5261);
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/etool16//segment_edit.svg#linearGradient5269);
	stroke-width: 1.06988704000000000;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	fill-opacity: 1;
}

#rect4942 {
	fill: none;
	stroke: none;
}

#rect4942-1 {
	fill: none;
	stroke: none;
	display: inline;
}

#rect4942-1-7 {
	fill: none;
	stroke: none;
	display: inline;
}

#rect4942-1-7-4-0-9-4-8 {
	fill: #677da9;
	stroke: none;
	display: inline;
	fill-opacity: 1;
}

#rect4942-1-7-4-0-9-4-8-8 {
	fill: #677da9;
	stroke: none;
	display: inline;
	fill-opacity: 1;
}

#rect4942-1-7-4-0-9-4-8-8-2 {
	fill: #677da9;
	stroke: none;
	display: inline;
	fill-opacity: 1;
}

#rect4942-1-7-4-0-9-4-8-8-2-4 {
	fill: #677da9;
	stroke: none;
	display: inline;
	fill-opacity: 1;
}

#rect4942-1-7-4-0-9-4-8-8-2-4-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/etool16//segment_edit.svg#linearGradient5220);
	stroke: none;
	display: inline;
	fill-opacity: 1;
}

#rect4942-1-7-4-0-9-4-8-8-2-4-5-5 {
	fill: #677da9;
	stroke: none;
	display: inline;
	fill-opacity: 1;
}

#rect4942-1-7-4-0-9-4-8-8-2-4-5-5-1 {
	fill: #677da9;
	stroke: none;
	display: inline;
	fill-opacity: 1;
}

#rect4942-1-7-4-0-9-4-8-8-2-4-5-5-1-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/etool16//segment_edit.svg#linearGradient5226);
	stroke: none;
	display: inline;
	fill-opacity: 1;
}

#rect4942-1-7-4-0-9-4-6 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/etool16//segment_edit.svg#linearGradient5286);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4942-1-7-4-0-9-4-6-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/etool16//segment_edit.svg#linearGradient5326);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4172 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/etool16//segment_edit.svg#linearGradient5253);
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/etool16//segment_edit.svg#linearGradient5357);
	stroke-width: 0.99999994000000003;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	fill-opacity: 1;
}

#rect4942-1-7-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/etool16//segment_edit.svg#linearGradient5222);
	stroke: none;
	display: inline;
	fill-opacity: 1;
}

#rect4942-1-7-4-0 {
	fill: #677da9;
	stroke: none;
	display: inline;
	fill-opacity: 1;
}

#rect4942-1-7-4-0-9 {
	fill: #677da9;
	stroke: none;
	display: inline;
	fill-opacity: 1;
}

#rect4942-1-7-4-0-9-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/etool16//segment_edit.svg#linearGradient5224);
	stroke: none;
	display: inline;
	fill-opacity: 1;
}

