@import "gotham";

#stop3805 {
	stop-color: #8ea1bf;
	stop-opacity: 1;
}

#stop3807 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop3797 {
	stop-color: #5b779a;
	stop-opacity: 1;
}

#stop3799 {
	stop-color: #37649c;
	stop-opacity: 1;
}

#stop3805-6 {
	stop-color: #8ea1bf;
	stop-opacity: 1;
}

#stop3807-5 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop3797-3 {
	stop-color: #5b779a;
	stop-opacity: 1;
}

#stop3799-8 {
	stop-color: #37649c;
	stop-opacity: 1;
}

#stop3805-6-8 {
	stop-color: #8ea1bf;
	stop-opacity: 1;
}

#stop3807-5-7 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop3797-3-9 {
	stop-color: #5b779a;
	stop-opacity: 1;
}

#stop3799-8-0 {
	stop-color: #37649c;
	stop-opacity: 1;
}

#stop3805-6-8-5 {
	stop-color: #8ea1bf;
	stop-opacity: 1;
}

#stop3807-5-7-1 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop3797-3-9-2 {
	stop-color: #5b779a;
	stop-opacity: 1;
}

#stop3799-8-0-6 {
	stop-color: #37649c;
	stop-opacity: 1;
}

#stop3805-6-5 {
	stop-color: #8ea1bf;
	stop-opacity: 1;
}

#stop3807-5-1 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop3797-3-92 {
	stop-color: #5b779a;
	stop-opacity: 1;
}

#stop3799-8-5 {
	stop-color: #37649c;
	stop-opacity: 1;
}

#stop3805-6-8-8 {
	stop-color: #8ea1bf;
	stop-opacity: 1;
}

#stop3807-5-7-5 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop3797-3-9-4 {
	stop-color: #5b779a;
	stop-opacity: 1;
}

#stop3799-8-0-0 {
	stop-color: #37649c;
	stop-opacity: 1;
}

#stop3805-3 {
	stop-color: #8ea1bf;
	stop-opacity: 1;
}

#stop3807-58 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop3797-9 {
	stop-color: #5b779a;
	stop-opacity: 1;
}

#stop3799-9 {
	stop-color: #37649c;
	stop-opacity: 1;
}

#stop3805-6-8-5-7 {
	stop-color: #8ea1bf;
	stop-opacity: 1;
}

#stop3807-5-7-1-5 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop3797-3-9-2-2 {
	stop-color: #5b779a;
	stop-opacity: 1;
}

#stop3799-8-0-6-9 {
	stop-color: #37649c;
	stop-opacity: 1;
}

#path3793 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.forms/icons/progress/ani//5.svg#linearGradient3809);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.forms/icons/progress/ani//5.svg#linearGradient3801);
	stroke-width: 0.89999998;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path3793-6 {
	opacity: 0.51999996;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.forms/icons/progress/ani//5.svg#linearGradient3859);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.forms/icons/progress/ani//5.svg#linearGradient3861);
	stroke-width: 0.89999998;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path3793-6-1 {
	opacity: 0.76000001;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.forms/icons/progress/ani//5.svg#linearGradient3909);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.forms/icons/progress/ani//5.svg#linearGradient3911);
	stroke-width: 0.89999998;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path3793-6-1-0 {
	opacity: 0.38000039;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.forms/icons/progress/ani//5.svg#linearGradient3959);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.forms/icons/progress/ani//5.svg#linearGradient3961);
	stroke-width: 0.89999998;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path3793-60 {
	opacity: 0.87999998;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.forms/icons/progress/ani//5.svg#linearGradient4036);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.forms/icons/progress/ani//5.svg#linearGradient4038);
	stroke-width: 0.89999998;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path3793-6-8 {
	opacity: 0.4;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.forms/icons/progress/ani//5.svg#linearGradient3859-4);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.forms/icons/progress/ani//5.svg#linearGradient3861-5);
	stroke-width: 0.89999998;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path3793-6-1-05 {
	opacity: 0.63999999;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.forms/icons/progress/ani//5.svg#linearGradient3909-2);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.forms/icons/progress/ani//5.svg#linearGradient3911-4);
	stroke-width: 0.89999998;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path3793-6-1-0-2 {
	opacity: 0.26000001;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.forms/icons/progress/ani//5.svg#linearGradient3959-2);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.forms/icons/progress/ani//5.svg#linearGradient3961-8);
	stroke-width: 0.89999998;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

