@import "stock";

#stop7586-4 {
	stop-color: #f9cd5f;
	stop-opacity: 1;
}

#stop7588-5 {
	stop-color: #ffebb7;
	stop-opacity: 1;
}

#stop7594-6 {
	stop-color: #ad7212;
	stop-opacity: 1;
}

#stop7596-9 {
	stop-color: #875f1e;
	stop-opacity: 1;
}

#stop7586-6-3 {
	stop-color: #f9cd5f;
	stop-opacity: 1;
}

#stop7588-9-9 {
	stop-color: #ffebb7;
	stop-opacity: 1;
}

#stop7594-8-9 {
	stop-color: #ad7212;
	stop-opacity: 1;
}

#stop7596-5-6 {
	stop-color: #875f1e;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g7604 {
	display: inline;
}

#path7582 {
	fill: url(../../../../eclipse-svg/org.eclipse.e4.tools.bundle.spy/icons//refresh.svg#linearGradient7608-3);
	fill-opacity: 1;
	stroke: url(../../../../eclipse-svg/org.eclipse.e4.tools.bundle.spy/icons//refresh.svg#linearGradient7610-5);
	stroke-width: 0.80000001;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path7602 {
	opacity: 0.85714285;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#g7604-6 {
	display: inline;
}

#path7582-7 {
	fill: url(../../../../eclipse-svg/org.eclipse.e4.tools.bundle.spy/icons//refresh.svg#linearGradient7608-9-7);
	fill-opacity: 1;
	stroke: url(../../../../eclipse-svg/org.eclipse.e4.tools.bundle.spy/icons//refresh.svg#linearGradient7610-7-6);
	stroke-width: 0.80000001;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path7602-2 {
	opacity: 0.85714285;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

