@import "gotham";

#stop4261 {
	stop-color: #dfe9f8;
	stop-opacity: 1;
}

#stop4263 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4187 {
	stop-color: #525f71;
	stop-opacity: 1;
}

#stop4189 {
	stop-color: #928d6e;
	stop-opacity: 1;
}

#stop4195 {
	stop-color: #958e6c;
	stop-opacity: 1;
}

#stop4197 {
	stop-color: #536071;
	stop-opacity: 1;
}

#stop5070-8-0-4-9 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop5072-3-6-1-7 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4530-0-5-0-5-8-4 {
	stop-color: #e0c576;
	stop-opacity: 1;
}

#stop4532-7-9-3-3-6-1 {
	stop-color: #9e7916;
	stop-opacity: 1;
}

#stop6283-0-2-2-1-2-0-1-6-0 {
	stop-color: #f7f9fb;
	stop-opacity: 1;
}

#stop6285-5-0-9-7-6-9-9-1-9 {
	stop-color: #ffd680;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g4201 {
	display: inline;
}

#rect4183 {
	opacity: 1;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//toc_wiz.svg#linearGradient4265);
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//toc_wiz.svg#linearGradient4191);
	stroke-width: 1;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4156 {
	display: inline;
	fill: #7aace7;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//toc_wiz.svg#linearGradient4199);
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4181 {
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #958e6c;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#g6432 {
	font-style: normal;
	font-weight: normal;
	font-size: 13.58917427px;
	line-height: 125%;
	font-family: Sans;
	letter-spacing: 0px;
	word-spacing: 0px;
	display: inline;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#path5581-1-1 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//toc_wiz.svg#linearGradient6323-7-1-1);
	fill-opacity: 1;
	stroke: none;
}

#path5581-1-1-8 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//toc_wiz.svg#linearGradient5084-3-3-2-6);
	fill-opacity: 1;
	stroke: none;
}

#path5581-1-1-7 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//toc_wiz.svg#linearGradient5086-8-0-8-5);
	fill-opacity: 1;
	stroke: none;
}

#path5581-1-1-6 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//toc_wiz.svg#linearGradient5082-1-0-8-1);
	fill-opacity: 1;
	stroke: none;
}

#path5581-1-1-1 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//toc_wiz.svg#linearGradient5078-8-2-1-4);
	fill-opacity: 1;
	stroke: none;
}

#path5581-1-1-89 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//toc_wiz.svg#linearGradient5076-5-2-9-8);
	fill-opacity: 1;
	stroke: none;
}

#path5581-1-1-2 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//toc_wiz.svg#linearGradient3500-5);
	fill-opacity: 1;
	stroke: none;
}

#path5581-1-1-79 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//toc_wiz.svg#linearGradient5088-1-4-8-6);
	fill-opacity: 1;
	stroke: none;
}

#g4514 {
	display: inline;
}

#rect3910 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//toc_wiz.svg#radialGradient3091-1-9-6-4-6);
	fill-opacity: 1;
	stroke: #a27d18;
	stroke-width: 1.03243756;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path5581-5-5 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//toc_wiz.svg#linearGradient3093-5-2-7-0-9);
	fill-opacity: 1;
	stroke: none;
}

