/*
 * gotham.scss test theme for experimenting with icon themes
 */

/** Cross theme styles */
@import "global";

/** styles and values */

$navigation-background: #3A324E;
$navigation-stroke: #7F7E7A;
$navigation-stroke-width: 1.5;
