/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#triangle_stop_0 {
  stop-color: #5900cd;
  stop-opacity: 1; }

#triangle_stop_1 {
  stop-color: #000000;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#path3970 {
  fill: #44324a;
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/elcl16//button_menu.svg#linearGradient4763);
  stroke-width: 0.80056977px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  display: inline; }
