/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#layer1 {
  display: inline; }

#g4794 {
  display: inline; }

#close_x {
  display: inline;
  fill: #7F7E7A;
  fill-opacity: 1;
  stroke: none; }
