@import "gotham";

#layer1 {
	display: inline;
}

#rect3981 {
	fill: #000000;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 0.80000000000000004;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

