@import "gotham";

#layer1 {
	display: inline;
}

#g4769 {
	display: inline;
}

#path3980 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #3f5f3f;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
}

