@import "gotham";

#layer1 {
	display: inline;
}

#layer1-4 {
	display: inline;
}

#g4794 {
	display: inline;
}

#rect4141 {
	opacity: 1;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 0.92549819;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4141-6 {
	display: inline;
	opacity: 1;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 0.92549819;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#layer1-6 {
	fill: #3f5f3f;
	fill-opacity: 1;
	display: inline;
}

#g4908 {
	fill: #3f5f3f;
	fill-opacity: 1;
}

#g4948 {
	fill: #3f5f3f;
	fill-opacity: 1;
	display: inline;
}

#path4951-1 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #3f5f3f;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1.25;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path4951 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #3f5f3f;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1.25;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

