/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop3975 {
  stop-color: #f8d078;
  stop-opacity: 1; }

#stop3977 {
  stop-color: #f8f0c8;
  stop-opacity: 1; }

#stop3969 {
  stop-color: #c48a4e;
  stop-opacity: 1; }

#stop3971 {
  stop-color: #ad6c24;
  stop-opacity: 1; }

#stop3957 {
  stop-color: #c38536;
  stop-opacity: 1; }

#stop3959 {
  stop-color: #f2dc91;
  stop-opacity: 1; }

#stop3961 {
  stop-color: #fbdc8b;
  stop-opacity: 1; }

#stop3963 {
  stop-color: #e6bd7a;
  stop-opacity: 1; }

#stop3965 {
  stop-color: #ba772f;
  stop-opacity: 1; }

#stop3951 {
  stop-color: #9e6627;
  stop-opacity: 1; }

#stop3953 {
  stop-color: #c38536;
  stop-opacity: 1; }

#path4919 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dashoffset: 0;
  display: inline; }

#stop5150 {
  stop-color: #166b9f;
  stop-opacity: 1; }

#stop5152 {
  stop-color: #e6f9cc;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#g13862 {
  display: inline; }

#rect13693-3 {
  fill: #fdf7eb;
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/elcl16//up_nav.svg#linearGradient3939);
  stroke-width: 3.02792978;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#rect13693 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/elcl16//up_nav.svg#linearGradient4933);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/elcl16//up_nav.svg#linearGradient4935);
  stroke-width: 3.02792978;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0; }

#path13797 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/elcl16//up_nav.svg#linearGradient3945);
  stroke-width: 3.02792978;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#layer1-9 {
  display: inline; }

#g7604-8 {
  display: inline; }

#path7582-2 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/elcl16//up_nav.svg#linearGradient9162);
  fill-opacity: 1;
  stroke: #1a659c;
  stroke-width: 0.95345461;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }
