@import "stock";

#stop4311 {
	stop-color: #b7d2e4;
	stop-opacity: 0;
}

#stop4317 {
	stop-color: #bdddf6;
	stop-opacity: 1;
}

#stop4319 {
	stop-color: #bdddf5;
	stop-opacity: 0.63529412;
}

#stop4313 {
	stop-color: #bdddf5;
	stop-opacity: 0;
}

#stop4202 {
	stop-color: #3e72a7;
	stop-opacity: 1;
}

#stop4204 {
	stop-color: #17325d;
	stop-opacity: 1;
}

#stop4192 {
	stop-color: #2846b3;
	stop-opacity: 1;
}

#stop4194 {
	stop-color: #92808a;
	stop-opacity: 1;
}

#stop4180 {
	stop-color: #2846b3;
	stop-opacity: 1;
}

#stop4182 {
	stop-color: #92808a;
	stop-opacity: 1;
}

#stop4172 {
	stop-color: #85c0ed;
	stop-opacity: 1;
}

#stop4174 {
	stop-color: #dbedfa;
	stop-opacity: 1;
}

#rect3368 {
	opacity: 1;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/obj16//cheatsheet_composite_obj.svg#linearGradient4176);
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/obj16//cheatsheet_composite_obj.svg#linearGradient4184);
	stroke-width: 1;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4188 {
	opacity: 1;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/obj16//cheatsheet_composite_obj.svg#linearGradient4196);
	stroke-width: 1;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4307 {
	fill: #b7d2e4;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/obj16//cheatsheet_composite_obj.svg#linearGradient4315);
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4198 {
	fill: none;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/obj16//cheatsheet_composite_obj.svg#linearGradient4206);
	stroke-width: 0.75;
	stroke-linecap: round;
	stroke-linejoin: bevel;
	stroke-opacity: 1;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#path4198-6 {
	fill: none;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/obj16//cheatsheet_composite_obj.svg#linearGradient4206-3);
	stroke-width: 0.75;
	stroke-linecap: round;
	stroke-linejoin: bevel;
	stroke-opacity: 1;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#path4198-6-0 {
	fill: none;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/obj16//cheatsheet_composite_obj.svg#linearGradient4206-3-3);
	stroke-width: 0.75;
	stroke-linecap: round;
	stroke-linejoin: bevel;
	stroke-opacity: 1;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#path4198-6-0-2 {
	fill: none;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/obj16//cheatsheet_composite_obj.svg#linearGradient4206-3-3-6);
	stroke-width: 0.75;
	stroke-linecap: round;
	stroke-linejoin: bevel;
	stroke-opacity: 1;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#path4198-6-0-2-1 {
	fill: none;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/obj16//cheatsheet_composite_obj.svg#linearGradient4206-3-3-6-5);
	stroke-width: 0.75;
	stroke-linecap: round;
	stroke-linejoin: bevel;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4198-6-0-2-1-1 {
	fill: #1c3a66;
	fill-rule: evenodd;
	stroke: #1b3965;
	stroke-width: 0.75;
	stroke-linecap: round;
	stroke-linejoin: bevel;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
	fill-opacity: 1;
}

#rect4221 {
	opacity: 1;
	fill: #3c6db9;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4221-2 {
	opacity: 1;
	fill: #213c65;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4221-5 {
	opacity: 1;
	fill: #3c6db9;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4221-2-1 {
	opacity: 1;
	fill: #213c65;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4221-5-6 {
	opacity: 1;
	fill: #3c6db9;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4221-2-1-0 {
	opacity: 1;
	fill: #213c65;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4221-5-6-4 {
	opacity: 1;
	fill: #3c6db9;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4221-2-1-0-2 {
	opacity: 1;
	fill: #213c65;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4221-5-6-4-0 {
	opacity: 1;
	fill: #3c6db9;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4221-2-1-0-2-8 {
	opacity: 1;
	fill: #213c65;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

