@import "stock";

#stop4970 {
	stop-color: #7792b2;
	stop-opacity: 1;
}

#stop4972 {
	stop-color: #a1b3cb;
	stop-opacity: 1;
}

#stop4974 {
	stop-color: #6180a9;
	stop-opacity: 1;
}

#stop4976 {
	stop-color: #a1b3cb;
	stop-opacity: 1;
}

#stop4978 {
	stop-color: #7995b8;
	stop-opacity: 1;
}

#stop4962 {
	stop-color: #fdfcfa;
	stop-opacity: 1;
}

#stop4964 {
	stop-color: #ffffff;
	stop-opacity: 0.251;
}

#stop4966 {
	stop-color: #d2e0f1;
	stop-opacity: 0;
}

#stop4849 {
	stop-color: #d2e0f1;
	stop-opacity: 1;
}

#stop4855 {
	stop-color: #d2e0f1;
	stop-opacity: 1;
}

#stop4851 {
	stop-color: #fcf2cf;
	stop-opacity: 1;
}

#stop4827 {
	stop-color: #c7a229;
	stop-opacity: 1;
}

#stop4829 {
	stop-color: #a07e1e;
	stop-opacity: 1;
}

#stop4819 {
	stop-color: #fefdef;
	stop-opacity: 1;
}

#stop4821 {
	stop-color: #fbdd83;
	stop-opacity: 1;
}

#stop4924-2-1 {
	stop-color: #0d5c9a;
	stop-opacity: 1;
}

#stop4926-0-0 {
	stop-color: #4077a7;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect4044 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//exportjar_wiz.svg#radialGradient4089);
	fill-opacity: 1;
	stroke: none;
}

#rect4044-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//exportjar_wiz.svg#radialGradient4091);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4044-1 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//exportjar_wiz.svg#linearGradient4093);
	stroke-width: 1.10910547;
	stroke-linecap: butt;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect4815 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//exportjar_wiz.svg#linearGradient4095);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//exportjar_wiz.svg#linearGradient4097);
	stroke-width: 1.10910547;
	stroke-linecap: butt;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path4920 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//exportjar_wiz.svg#linearGradient7131);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

