@import "stock";

#stop10575 {
	stop-color: #c18965;
	stop-opacity: 1;
}

#stop10577 {
	stop-color: #975c45;
	stop-opacity: 1;
}

#stop10509 {
	stop-color: #5f392d;
	stop-opacity: 1;
}

#stop10511 {
	stop-color: #9e7058;
	stop-opacity: 1;
}

#stop10513 {
	stop-color: #794f40;
	stop-opacity: 1;
}

#stop10515 {
	stop-color: #794f40;
	stop-opacity: 1;
}

#stop10517 {
	stop-color: #794f40;
	stop-opacity: 1;
}

#stop10519 {
	stop-color: #9e7058;
	stop-opacity: 1;
}

#stop10522 {
	stop-color: #5f392d;
	stop-opacity: 1;
}

#stop7542-8-7-5-3 {
	stop-color: #ffffff;
	stop-opacity: 0.502;
}

#stop7544-8-2-0-4 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop7546-1-7-9-2 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7548-98-9-2-6 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7542-4-4-3-3-3 {
	stop-color: #ffffff;
	stop-opacity: 0.502;
}

#stop7544-5-3-8-5-2 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop7546-2-9-1-2-9 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7548-9-2-0-9-5 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop7274-6-0-1-7-4-3 {
	stop-color: #8f6c10;
	stop-opacity: 1;
}

#stop7276-66-6-3-9-1-4 {
	stop-color: #c9a645;
	stop-opacity: 1;
}

#stop11150-4-72-3-9-7 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-9-0-7-3-8 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop11150-7-5-9-3-8-2 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-8-4-35-5-4-6 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop11150-9-6-9-5-6-9 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-6-7-6-3-3-3 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop11150-7-8-3-8-7-0-6 {
	stop-color: #faefba;
	stop-opacity: 1;
}

#stop11152-8-8-6-3-2-5-1 {
	stop-color: #9e6542;
	stop-opacity: 1;
}

#stop10509-4 {
	stop-color: #5f392d;
	stop-opacity: 1;
}

#stop10511-2 {
	stop-color: #9e7058;
	stop-opacity: 1;
}

#stop10513-9 {
	stop-color: #794f40;
	stop-opacity: 1;
}

#stop10515-0 {
	stop-color: #794f40;
	stop-opacity: 1;
}

#stop10517-9 {
	stop-color: #794f40;
	stop-opacity: 1;
}

#stop10519-2 {
	stop-color: #9e7058;
	stop-opacity: 1;
}

#stop10522-7 {
	stop-color: #5f392d;
	stop-opacity: 1;
}

#g10849 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	display: inline;
	font-family: Sans;
}

#g10851 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#rect10853 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.58380508;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect10855 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.58380508;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path10857 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.58380508;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path10859 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.58380508;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path10861 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.58380508;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	font-family: Sans;
}

#path10863 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.58380508;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path10865 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.58380508;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	font-family: Sans;
}

#g10867 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#stop5070-8-0-4-9 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop5072-3-6-1-7 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4530-0-5-0-5-8-4 {
	stop-color: #e0c576;
	stop-opacity: 1;
}

#stop4532-7-9-3-3-6-1 {
	stop-color: #9e7916;
	stop-opacity: 1;
}

#stop6283-0-2-2-1-2-0-1-6-0 {
	stop-color: #f7f9fb;
	stop-opacity: 1;
}

#stop6285-5-0-9-7-6-9-9-1-9 {
	stop-color: #ffd680;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g13862 {
	display: inline;
}

#layer1-9 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#g11260-4-2 {
	display: inline;
}

#rect10961-8-3 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newpack_wiz.svg#radialGradient10505);
	fill-opacity: 1;
	stroke: #c37e3b;
	stroke-width: 3.58380508;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect10961-9-0-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newpack_wiz.svg#radialGradient10503);
	fill-opacity: 1;
	stroke: #c37e3b;
	stroke-width: 3.58380508;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect10961-3-9-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newpack_wiz.svg#radialGradient10499);
	fill-opacity: 1;
	stroke: #a45d2b;
	stroke-width: 3.58380508;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect10961-9-6-4-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newpack_wiz.svg#radialGradient10501);
	fill-opacity: 1;
	stroke: #a45d2b;
	stroke-width: 3.58380508;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect10961-8-3-6 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newpack_wiz.svg#linearGradient10579);
	stroke-width: 3.58380508;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	font-family: Sans;
}

#path11108-6-7-5 {
	fill: #915323;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newpack_wiz.svg#linearGradient4895);
	stroke-width: 3.58380508;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path11108-6-7-5-6 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #915323;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newpack_wiz.svg#linearGradient10544);
	stroke-width: 3.58380508;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	font-family: Sans;
}

#g11331-3 {
	display: inline;
}

#g14097 {
	opacity: 0.75;
}

#g8461 {
	display: inline;
}

#g7590-1-0 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#rect6501-1-6-8 {
	opacity: 1;
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 5.85503386999999975;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newpack_wiz.svg#filter8410-6-5);
}

#g14104 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#g6258 {
	display: inline;
}

#g6432 {
	display: inline;
}

#path5581-1-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newpack_wiz.svg#linearGradient6323-7-1-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-8 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newpack_wiz.svg#linearGradient5084-3-3-2-6);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newpack_wiz.svg#linearGradient5086-8-0-8-5);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-6 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newpack_wiz.svg#linearGradient5082-1-0-8-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newpack_wiz.svg#linearGradient5078-8-2-1-4);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-89 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newpack_wiz.svg#linearGradient5076-5-2-9-8);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newpack_wiz.svg#linearGradient3500-5);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581-1-1-79 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newpack_wiz.svg#linearGradient5088-1-4-8-6);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g4514 {
	display: inline;
}

#rect3910 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newpack_wiz.svg#radialGradient3091-1-9-6-4-6);
	fill-opacity: 1;
	stroke: #a27d18;
	stroke-width: 1.03243756;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5581-5-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/etool16//newpack_wiz.svg#linearGradient3093-5-2-7-0-9);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

