/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop4434 {
  stop-color: #ced8e7;
  stop-opacity: 1; }

#stop4436 {
  stop-color: #b7c5e0;
  stop-opacity: 1; }

#stop4422 {
  stop-color: #5b7aaa;
  stop-opacity: 1; }

#stop4424 {
  stop-color: #96aaca;
  stop-opacity: 1; }

#stop4543 {
  stop-color: #a1adb2;
  stop-opacity: 1; }

#stop4545 {
  stop-color: #000000;
  stop-opacity: 0; }

#stop4974 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop4976 {
  stop-color: #f5f8fd;
  stop-opacity: 1; }

#stop4966 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop4968 {
  stop-color: #e8eefa;
  stop-opacity: 1; }

#stop4958 {
  stop-color: #fcfdfe;
  stop-opacity: 1; }

#stop4960 {
  stop-color: #dee6f8;
  stop-opacity: 1; }

#filter8854 {
  color-interpolation-filters: sRGB; }

#stop6124 {
  stop-color: #c0c0c0;
  stop-opacity: 1; }

#stop6132 {
  stop-color: #adadad;
  stop-opacity: 1; }

#stop6126 {
  stop-color: #808080;
  stop-opacity: 1; }

#stop7089 {
  stop-color: #17325d;
  stop-opacity: 1; }

#stop7091 {
  stop-color: #b4d0e2;
  stop-opacity: 1; }

#stop7093 {
  stop-color: #b7d2e4;
  stop-opacity: 1; }

#stop7095 {
  stop-color: #acc9de;
  stop-opacity: 1; }

#stop7097 {
  stop-color: #3e72a7;
  stop-opacity: 1; }

#path7368 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dashoffset: 0;
  display: inline; }

#stop7586-4 {
  stop-color: #f9cd5f;
  stop-opacity: 1; }

#stop7588-5 {
  stop-color: #fbf0b4;
  stop-opacity: 1; }

#stop7594-6 {
  stop-color: #bd8416;
  stop-opacity: 1; }

#stop7596-9 {
  stop-color: #a66b10;
  stop-opacity: 1; }

#stop10800-5-2-1-8-20-4-0-2-1-9-0-0-1-1 {
  stop-color: #5aad60;
  stop-opacity: 1; }

#stop10806-6-8-5-3-9-2-2-7-0-4-2-7-8-9 {
  stop-color: #5bb26a;
  stop-opacity: 1; }

#stop10802-1-5-3-0-4-6-8-5-5-6-69-6-4-0 {
  stop-color: #a4c589;
  stop-opacity: 1; }

#path7368-2 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dashoffset: 0;
  display: inline; }

#filter8854-9 {
  color-interpolation-filters: sRGB; }

#stop10800-5-2-1-8-20-6-4-9-8-2 {
  stop-color: #7564b1;
  stop-opacity: 1; }

#stop10806-6-8-5-3-9-24-8-4-3-2 {
  stop-color: #5d4aa1;
  stop-opacity: 1; }

#stop10802-1-5-3-0-4-8-4-2-9-2 {
  stop-color: #9283c3;
  stop-opacity: 1; }

#stop7542-8-7-5-3 {
  stop-color: #ffffff;
  stop-opacity: 0.502; }

#stop7544-8-2-0-5 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop7546-1-7-9-5 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop7548-98-9-2-4 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop7274-6-0-1-7-4-7 {
  stop-color: #8f6c10;
  stop-opacity: 1; }

#stop7276-66-6-3-9-1-4 {
  stop-color: #c9a645;
  stop-opacity: 1; }

#path10622 {
  font-size: 13.58917427px;
  font-style: normal;
  font-weight: normal;
  line-height: 125%;
  letter-spacing: 0px;
  word-spacing: 0px;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 2.16621375;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline;
  font-family: Sans; }

#stop4530-0-5-0-5-8-4 {
  stop-color: #e0c576;
  stop-opacity: 1; }

#stop4532-7-9-3-3-6-1 {
  stop-color: #9e7916;
  stop-opacity: 1; }

#stop6283-0-2-2-1-2-0-1-6-0 {
  stop-color: #f7f9fb;
  stop-opacity: 1; }

#stop6285-5-0-9-7-6-9-9-1-9 {
  stop-color: #ffd680;
  stop-opacity: 1; }

#stop4974-8 {
  stop-color: #b8ccf1;
  stop-opacity: 0.10196079; }

#stop4976-1 {
  stop-color: #6e97e2;
  stop-opacity: 0.10196079; }

#stop4966-1 {
  stop-color: #ffffff;
  stop-opacity: 0.349; }

#stop4968-1 {
  stop-color: #91ade6;
  stop-opacity: 1; }

#stop4958-5 {
  stop-color: #fcfdfe;
  stop-opacity: 0.25641027; }

#stop4960-6 {
  stop-color: #98aae7;
  stop-opacity: 0.40392157; }

#stop3829 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop3835 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3831 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop10800-5-2-1-8-20-6-4-9-8-2-9 {
  stop-color: #f3faed;
  stop-opacity: 1; }

#stop10806-6-8-5-3-9-24-8-4-3-2-4 {
  stop-color: #e7f4da;
  stop-opacity: 1; }

#stop10802-1-5-3-0-4-8-4-2-9-2-5 {
  stop-color: #67bf1f;
  stop-opacity: 1; }

#stop11150-4-72-3-9-7 {
  stop-color: #faefba;
  stop-opacity: 1; }

#stop11152-9-0-7-3-8 {
  stop-color: #9e6542;
  stop-opacity: 1; }

#stop10509 {
  stop-color: #5f392d;
  stop-opacity: 1; }

#stop10511 {
  stop-color: #9e7058;
  stop-opacity: 1; }

#stop10513 {
  stop-color: #794f40;
  stop-opacity: 1; }

#stop10515 {
  stop-color: #794f40;
  stop-opacity: 1; }

#stop10517 {
  stop-color: #794f40;
  stop-opacity: 1; }

#stop10519 {
  stop-color: #9e7058;
  stop-opacity: 1; }

#stop10522 {
  stop-color: #5f392d;
  stop-opacity: 1; }

#stop4458 {
  stop-color: #ffffff;
  stop-opacity: 0.659; }

#stop4460 {
  stop-color: #ffffff;
  stop-opacity: 0.369; }

#filter4606 {
  color-interpolation-filters: sRGB; }

#stop11150-4-72-3-9-7-2 {
  stop-color: #faefba;
  stop-opacity: 1; }

#stop11152-9-0-7-3-8-0 {
  stop-color: #ad6e48;
  stop-opacity: 1; }

#stop4370 {
  stop-color: #9c7561;
  stop-opacity: 1; }

#stop4372 {
  stop-color: #966d59;
  stop-opacity: 1; }

#stop4374 {
  stop-color: #8c6250;
  stop-opacity: 1; }

#stop4376 {
  stop-color: #794f40;
  stop-opacity: 1; }

#stop4378 {
  stop-color: #8c6250;
  stop-opacity: 1; }

#stop4380 {
  stop-color: #966d59;
  stop-opacity: 1; }

#stop4382 {
  stop-color: #99705c;
  stop-opacity: 1; }

#filter4285-9-8 {
  color-interpolation-filters: sRGB; }

#stop4498 {
  stop-color: #6885b2;
  stop-opacity: 1; }

#stop4512 {
  stop-color: #5777a7;
  stop-opacity: 1; }

#stop4500 {
  stop-color: #355286;
  stop-opacity: 1; }

#stop4502 {
  stop-color: #2c4a81;
  stop-opacity: 1; }

#stop4506 {
  stop-color: #b0c1db;
  stop-opacity: 1; }

#stop4508 {
  stop-color: #8299c2;
  stop-opacity: 1; }

#filter4506 {
  color-interpolation-filters: sRGB; }

#filter4524 {
  color-interpolation-filters: sRGB; }

#filter4566 {
  color-interpolation-filters: sRGB; }

#filter4588 {
  color-interpolation-filters: sRGB; }

#filter4661 {
  color-interpolation-filters: sRGB; }

#layer2 {
  display: inline; }

#rect4113-1 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/wizban//export_wiz.svg#linearGradient4978);
  fill-opacity: 1;
  stroke: none; }

#rect4113-1-0 {
  display: inline;
  opacity: 0.40400002;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/wizban//export_wiz.svg#linearGradient4962);
  fill-opacity: 1;
  stroke: none; }

#g11331-3-1-1-7 {
  display: inline; }

#g13408-8-2 {
  fill: #737986;
  fill-opacity: 1;
  stroke: #595e68;
  stroke-opacity: 1; }

#rect4113-1-7 {
  display: inline;
  opacity: 0.18399999;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/wizban//export_wiz.svg#linearGradient4970);
  fill-opacity: 1;
  stroke: none; }

#layer3 {
  display: inline; }

#image4415 {
  image-rendering: optimizeSpeed; }

#layer1 {
  display: inline; }

#path4418 {
  fill: none;
  fill-rule: evenodd;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/wizban//export_wiz.svg#linearGradient4426);
  stroke-width: 2;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#rect10961-8-3-6-1 {
  font-style: normal;
  font-weight: normal;
  font-size: 13.58917427px;
  line-height: 125%;
  font-family: Sans;
  letter-spacing: 0px;
  word-spacing: 0px;
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/wizban//export_wiz.svg#linearGradient4462);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1.99999988;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
  filter: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/wizban//export_wiz.svg#filter4606); }

#path4478 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/wizban//export_wiz.svg#linearGradient4494);
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/wizban//export_wiz.svg#linearGradient4510);
  stroke-width: 0.99999994px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#path4252-6-0 {
  display: inline;
  opacity: 0.9;
  fill: #ffffff;
  fill-opacity: 0.81584156;
  stroke: none;
  stroke-width: 0;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  filter: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/wizban//export_wiz.svg#filter4285-9-8); }

#path4430 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/wizban//export_wiz.svg#linearGradient4438);
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: #3d5b8a;
  stroke-width: 1.5;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#path4480 {
  fill: none;
  fill-rule: evenodd;
  stroke: #edf2f8;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  filter: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/wizban//export_wiz.svg#filter4506); }

#path4510 {
  fill: none;
  fill-rule: evenodd;
  stroke: #eef1f8;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  filter: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/wizban//export_wiz.svg#filter4524); }

#path4528 {
  opacity: 0.98000004;
  fill: none;
  fill-rule: evenodd;
  stroke: #eef1f8;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  filter: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/wizban//export_wiz.svg#filter4566); }

#path4570 {
  fill: none;
  fill-rule: evenodd;
  stroke: #5d7aad;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  filter: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/wizban//export_wiz.svg#filter4588); }

#path4252-6-0-1 {
  display: inline;
  opacity: 0.9;
  fill: #ffffff;
  fill-opacity: 0.81584156;
  stroke: none;
  stroke-width: 0;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  filter: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/wizban//export_wiz.svg#filter4661); }
