@import "gotham";

#stop11292 {
	stop-color: #567ead;
	stop-opacity: 1;
}

#stop11294 {
	stop-color: #35679d;
	stop-opacity: 1;
}

#stop11292-3 {
	stop-color: #567ead;
	stop-opacity: 1;
}

#stop11294-4 {
	stop-color: #35679d;
	stop-opacity: 1;
}

#stop3969-3 {
	stop-color: #c48a4e;
	stop-opacity: 1;
}

#stop3971-6 {
	stop-color: #ad6c24;
	stop-opacity: 1;
}

#stop3975-0 {
	stop-color: #f8d078;
	stop-opacity: 1;
}

#stop3977-3 {
	stop-color: #f8f0c8;
	stop-opacity: 1;
}

#stop3951-7 {
	stop-color: #9e6627;
	stop-opacity: 1;
}

#stop3953-6 {
	stop-color: #c38536;
	stop-opacity: 1;
}

#stop3957-4 {
	stop-color: #c38536;
	stop-opacity: 1;
}

#stop3959-2 {
	stop-color: #f2dc91;
	stop-opacity: 1;
}

#stop3961-1 {
	stop-color: #fbdc8b;
	stop-opacity: 1;
}

#stop3963-4 {
	stop-color: #e6bd7a;
	stop-opacity: 1;
}

#stop3965-5 {
	stop-color: #ba772f;
	stop-opacity: 1;
}

#stop4996-1 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop4998-89 {
	stop-color: #dce7f7;
	stop-opacity: 1;
}

#stop4896-8 {
	stop-color: #e0c88f;
	stop-opacity: 1;
}

#stop4898-5 {
	stop-color: #d5b269;
	stop-opacity: 1;
}

#stop4904-2 {
	stop-color: #b4903d;
	stop-opacity: 1;
}

#stop4906-2 {
	stop-color: #7b744f;
	stop-opacity: 1;
}

#stop4879-1 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop4881-4 {
	stop-color: #5e76a3;
	stop-opacity: 1;
}

#stop4863-1 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop4865-52 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#stop5149-5 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop5151-5 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#stop5143-8 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop5145-8 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#stop5137-4 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop5139-0 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#stop4904-2-4 {
	stop-color: #b4903d;
	stop-opacity: 1;
}

#stop4906-2-6 {
	stop-color: #7b744f;
	stop-opacity: 1;
}

#g3990 {
	font-size: 11.05178356px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 0.24860173;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	font-family: AustralianFlyingCorpsStencil;
	inkscape-font-specification: AustralianFlyingCorpsStencil;
}

#rect3992 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path3994 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path3996 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.02792978;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#stop4996-1-5 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop4998-89-9 {
	stop-color: #dce7f7;
	stop-opacity: 1;
}

#stop4896-8-1 {
	stop-color: #e0c88f;
	stop-opacity: 1;
}

#stop4898-5-6 {
	stop-color: #d5b269;
	stop-opacity: 1;
}

#stop4904-2-2 {
	stop-color: #b4903d;
	stop-opacity: 1;
}

#stop4906-2-7 {
	stop-color: #7b744f;
	stop-opacity: 1;
}

#stop4879-1-7 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop4881-4-0 {
	stop-color: #5e76a3;
	stop-opacity: 1;
}

#stop4863-1-8 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop4865-52-8 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#stop5149-5-2 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop5151-5-1 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#layer1-2 {
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//fileFolderType_filter.svg#linearGradient8238);
	stroke-opacity: 1;
	display: inline;
}

#g11331-3-1-1-7 {
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//fileFolderType_filter.svg#linearGradient25569);
	display: inline;
}

#g13408-8-9 {
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-opacity: 1;
}

#g6124-3 {
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//fileFolderType_filter.svg#linearGradient25571);
	display: inline;
}

#text6430 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	font-family: Sans;
}

#g6438 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#layer1-9 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #236298;
	fill-opacity: 1;
	stroke: #236298;
	stroke-width: 0.24860173;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	font-family: Sans;
}

#text3909-7-7-1 {
	font-size: 11.05178356px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #236298;
	fill-opacity: 1;
	stroke: #236298;
	stroke-width: 0.24860173;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	font-family: AustralianFlyingCorpsStencil;
	inkscape-font-specification: AustralianFlyingCorpsStencil;
}

#g13813 {
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//fileFolderType_filter.svg#linearGradient7357-5);
	stroke-opacity: 1;
	display: inline;
}

#rect13693-3 {
	fill: #fdf7eb;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//fileFolderType_filter.svg#linearGradient3939-2);
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect13693 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//fileFolderType_filter.svg#linearGradient4933-1);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//fileFolderType_filter.svg#linearGradient4935-8);
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path13797 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//fileFolderType_filter.svg#linearGradient26656);
	stroke-width: 3.02792978;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#g3978 {
	font-size: 11.05178356px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #236298;
	fill-opacity: 1;
	stroke: #236298;
	stroke-width: 0.24860173;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	font-family: AustralianFlyingCorpsStencil;
	inkscape-font-specification: AustralianFlyingCorpsStencil;
}

#layer1-95-0 {
	stroke-width: 2.31082559;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//fileFolderType_filter.svg#filter4002);
}

#rect4001-3-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//fileFolderType_filter.svg#linearGradient4101-2);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4884-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//fileFolderType_filter.svg#linearGradient4900-1-5);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-8 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//fileFolderType_filter.svg#linearGradient4908-2-5);
	stroke-width: 2.31082559;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect4001-1-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//fileFolderType_filter.svg#linearGradient4867-7-7);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-1-7-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//fileFolderType_filter.svg#linearGradient4869-17-8);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-1-7-4-8 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//fileFolderType_filter.svg#linearGradient4871-2-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-4-8 {
	font-size: 11.05178356px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 2.31082559;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	font-family: AustralianFlyingCorpsStencil;
	inkscape-font-specification: AustralianFlyingCorpsStencil;
}

#layer1-95 {
	display: inline;
}

#rect4001-3 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//fileFolderType_filter.svg#linearGradient4101);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4884 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//fileFolderType_filter.svg#linearGradient4900-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//fileFolderType_filter.svg#linearGradient4908-2);
	stroke-width: 1.15541278999999997;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect4001-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//fileFolderType_filter.svg#linearGradient4867-7);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-1-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//fileFolderType_filter.svg#linearGradient4869-17);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-1-7-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//fileFolderType_filter.svg#linearGradient4871-2);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001-4 {
	font-size: 11.05178356px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//fileFolderType_filter.svg#linearGradient3859);
	stroke-width: 1.15541279;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	font-family: AustralianFlyingCorpsStencil;
	inkscape-font-specification: AustralianFlyingCorpsStencil;
}

