@import "gotham";

#stop5993 {
	stop-color: #9c6a3e;
	stop-opacity: 1;
}

#stop5995 {
	stop-color: #c48d4f;
	stop-opacity: 1;
}

#stop5983 {
	stop-color: #9c6a3e;
	stop-opacity: 1;
}

#stop5985 {
	stop-color: #c48d4f;
	stop-opacity: 1;
}

#stop5975 {
	stop-color: #ffffc7;
	stop-opacity: 1;
}

#stop5977 {
	stop-color: #fff1a8;
	stop-opacity: 1;
}

#stop5979 {
	stop-color: #ffd379;
	stop-opacity: 1;
}

#stop5967 {
	stop-color: #ffffc7;
	stop-opacity: 1;
}

#stop5969 {
	stop-color: #fff1a8;
	stop-opacity: 1;
}

#stop5971 {
	stop-color: #ffd379;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect4035-1-1-5-2-2-1-5-0 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-2-2-1-5-0-6 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-2-2-1-5-0-6-6 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4887-8-4-7-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//inheritable_filter.svg#linearGradient5926);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//inheritable_filter.svg#linearGradient5989);
	stroke-width: 0.72602755;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#layer1-8-0 {
	display: inline;
}

#rect4035-1-1-5-2-4 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-2-2-1-5 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4887-8-4-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//inheritable_filter.svg#linearGradient5897);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//inheritable_filter.svg#linearGradient5987);
	stroke-width: 0.72602755;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#rect4035-1-1-5-2-2-1-5-0-6-6-9 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-2-2-1-5-0-6-6-9-9 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-2-2-1-5-0-6-6-9-99 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

