/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop4923 {
  stop-color: #e9eff5;
  stop-opacity: 1; }

#stop4926 {
  stop-color: #b9ccea;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#g8159 {
  display: inline; }

#rect4144 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//keyspref_obj.svg#linearGradient4943);
  fill-opacity: 1;
  stroke: #6d7b93;
  stroke-width: 0.80000000999999998;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0; }

#rect4146 {
  fill: none;
  stroke: #6d7b93;
  stroke-width: 0.80000001;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0; }

#path4148 {
  fill: none;
  stroke: #6d7b93;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#path4150 {
  fill: none;
  stroke: #6d7b93;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#text4931 {
  font-size: 5.24458885px;
  font-style: normal;
  font-weight: normal;
  line-height: 125%;
  letter-spacing: 0px;
  word-spacing: 0px;
  fill: #5b6a7c;
  fill-opacity: 1;
  stroke: none;
  font-family: Sans; }

#tspan4933 {
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-stretch: normal;
  fill: #5b6a7c;
  fill-opacity: 1;
  font-family: Droid Sans;
  inkscape-font-specification: Droid Sans Bold; }
