@import "gotham";

#stop4832 {
	stop-color: #2e49b0;
	stop-opacity: 1;
}

#stop4836 {
	stop-color: #565f9e;
	stop-opacity: 1;
}

#stop4834 {
	stop-color: #8591c8;
	stop-opacity: 0;
}

#stop4764 {
	stop-color: #ffd175;
	stop-opacity: 1;
}

#stop4766 {
	stop-color: #fff1c2;
	stop-opacity: 1;
}

#stop4758 {
	stop-color: #92b5eb;
	stop-opacity: 1;
}

#stop4760 {
	stop-color: #b1e1fd;
	stop-opacity: 1;
}

#stop4809 {
	stop-color: #2846b3;
	stop-opacity: 1;
}

#stop4811 {
	stop-color: #60649d;
	stop-opacity: 1;
}

#stop3969 {
	stop-color: #84909f;
	stop-opacity: 1;
}

#stop3971 {
	stop-color: #757c8a;
	stop-opacity: 1;
}

#stop3957 {
	stop-color: #c38536;
	stop-opacity: 0;
}

#stop3959 {
	stop-color: #f2dc91;
	stop-opacity: 1;
}

#stop3961 {
	stop-color: #fbdc8b;
	stop-opacity: 1;
}

#stop3963 {
	stop-color: #e6bd7a;
	stop-opacity: 1;
}

#stop3965 {
	stop-color: #ba772f;
	stop-opacity: 0;
}

#path4919 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#layer1 {
	display: inline;
}

#g13862 {
	display: inline;
}

#rect13693-3 {
	fill: #fdf7eb;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//prj_obj.svg#linearGradient3939);
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect13693 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//prj_obj.svg#linearGradient4933);
	fill-opacity: 1;
	stroke: #757c8a;
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path13797 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//prj_obj.svg#linearGradient3945);
	stroke-width: 3.02792978;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#rect13693-2-2 {
	opacity: 0.5;
	fill: #000000;
	fill-opacity: 1;
	stroke: #000000;
	stroke-width: 2.38039374;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//prj_obj.svg#filter4929);
}

#rect13693-8 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//prj_obj.svg#linearGradient4795);
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect13693-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//prj_obj.svg#linearGradient4776);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/obj16//prj_obj.svg#linearGradient4778);
	stroke-width: 3.60383272;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

