/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop5137-4 {
  stop-color: #91a5c7;
  stop-opacity: 1; }

#stop5139-0 {
  stop-color: #637aa7;
  stop-opacity: 1; }

#stop5143-8 {
  stop-color: #91a5c7;
  stop-opacity: 1; }

#stop5145-8 {
  stop-color: #637aa7;
  stop-opacity: 1; }

#stop5149-5 {
  stop-color: #91a5c7;
  stop-opacity: 1; }

#stop5151-5 {
  stop-color: #637aa7;
  stop-opacity: 1; }

#stop4863-1 {
  stop-color: #91a5c7;
  stop-opacity: 1; }

#stop4865-52 {
  stop-color: #637aa7;
  stop-opacity: 1; }

#stop4879-1 {
  stop-color: #91a5c7;
  stop-opacity: 1; }

#stop4881-4 {
  stop-color: #5e76a3;
  stop-opacity: 1; }

#stop4904-2 {
  stop-color: #bfb688;
  stop-opacity: 1; }

#stop4906-2 {
  stop-color: #8392b0;
  stop-opacity: 1; }

#stop4896-8 {
  stop-color: #e0c88f;
  stop-opacity: 1; }

#stop4898-5 {
  stop-color: #d5b269;
  stop-opacity: 1; }

#stop4996-1 {
  stop-color: #f9fafc;
  stop-opacity: 1; }

#stop4998-89 {
  stop-color: #dce7f7;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#path4077 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #809bae;
  stroke-opacity: 1; }

#path4077-5 {
  fill: #b3d5ee;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#g4873 {
  fill: #3d5371;
  fill-opacity: 1; }

#path4869 {
  fill: #3d5371;
  fill-opacity: 1;
  stroke: #3d5371;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#path4871 {
  fill: #3d5371;
  fill-opacity: 1;
  stroke: none; }
