@import "gotham";

#stop8398 {
	stop-color: #6fd9ff;
	stop-opacity: 1;
}

#stop8400 {
	stop-color: #55add0;
	stop-opacity: 1;
}

#stop8402 {
	stop-color: #4364a7;
	stop-opacity: 1;
}

#stop7582 {
	stop-color: #4f4d70;
	stop-opacity: 1;
}

#stop7584 {
	stop-color: #4fa8ca;
	stop-opacity: 1;
}

#stop8351 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop8353 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop8384 {
	stop-color: #fffcf2;
	stop-opacity: 1;
}

#stop8392 {
	stop-color: #adc977;
	stop-opacity: 1;
}

#stop8390 {
	stop-color: #7f9f3f;
	stop-opacity: 1;
}

#stop8386 {
	stop-color: #77775c;
	stop-opacity: 1;
}

#stop8384-4 {
	stop-color: #fffcf2;
	stop-opacity: 1;
}

#stop8392-0 {
	stop-color: #adc977;
	stop-opacity: 1;
}

#stop8390-9 {
	stop-color: #7f9f3f;
	stop-opacity: 1;
}

#stop8386-4 {
	stop-color: #77775c;
	stop-opacity: 1;
}

#stop4841-4 {
	stop-color: #4476aa;
	stop-opacity: 1;
}

#stop4843-27 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4883-9 {
	stop-color: #68b3e1;
	stop-opacity: 1;
}

#stop4885-1 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4902-7 {
	stop-color: #877e60;
	stop-opacity: 1;
}

#stop4904-6 {
	stop-color: #c0a753;
	stop-opacity: 1;
}

#stop4931-0 {
	stop-color: #d5f3ff;
	stop-opacity: 1;
}

#stop4934-3 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#path3800-3-8 {
	fill: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/obj16//external_browser.svg#radialGradient7578);
	fill-opacity: 1;
	stroke: none;
}

#path3800-3-8-0-8 {
	fill: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/obj16//external_browser.svg#linearGradient7603);
	fill-opacity: 1;
	stroke: #767554;
	stroke-width: 0.5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path3800-3-8-0 {
	fill: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/obj16//external_browser.svg#linearGradient7571);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path3800-3-8-1 {
	fill: none;
	stroke: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/obj16//external_browser.svg#linearGradient7576);
	stroke-width: 28.7850132;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path3800-3-8-9 {
	fill: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/obj16//external_browser.svg#radialGradient7574);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#layer1-2 {
	display: inline;
}

#rect4898 {
	color: #000000;
	fill: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/obj16//external_browser.svg#linearGradient4936);
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/obj16//external_browser.svg#linearGradient4915);
	stroke-width: 0.89999998;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect4069 {
	color: #000000;
	fill: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/obj16//external_browser.svg#linearGradient9687);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.89999998;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#rect4069-8 {
	color: #000000;
	fill: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/obj16//external_browser.svg#linearGradient9684);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.89999998;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

