@import "gotham";

#stop8398 {
	stop-color: #6fd9ff;
	stop-opacity: 1;
}

#stop8400 {
	stop-color: #55add0;
	stop-opacity: 1;
}

#stop8402 {
	stop-color: #4364a7;
	stop-opacity: 1;
}

#stop7582 {
	stop-color: #4f4d70;
	stop-opacity: 1;
}

#stop7584 {
	stop-color: #4fa8ca;
	stop-opacity: 1;
}

#stop8351 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop8353 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop8384 {
	stop-color: #fffcf2;
	stop-opacity: 1;
}

#stop8392 {
	stop-color: #adc977;
	stop-opacity: 1;
}

#stop8390 {
	stop-color: #7f9f3f;
	stop-opacity: 1;
}

#stop8386 {
	stop-color: #77775c;
	stop-opacity: 1;
}

#stop8384-4 {
	stop-color: #fffcf2;
	stop-opacity: 1;
}

#stop8392-0 {
	stop-color: #adc977;
	stop-opacity: 1;
}

#stop8390-9 {
	stop-color: #7f9f3f;
	stop-opacity: 1;
}

#stop8386-4 {
	stop-color: #77775c;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#path3800-3-8 {
	fill: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/obj16//internal_browser.svg#radialGradient7578);
	fill-opacity: 1;
	stroke: none;
}

#path3800-3-8-0-8 {
	fill: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/obj16//internal_browser.svg#linearGradient7603);
	fill-opacity: 1;
	stroke: #767554;
	stroke-width: 0.5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path3800-3-8-0 {
	fill: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/obj16//internal_browser.svg#linearGradient7571);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path3800-3-8-1 {
	fill: none;
	stroke: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/obj16//internal_browser.svg#linearGradient7576);
	stroke-width: 28.7850132;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path3800-3-8-9 {
	fill: url(../../../../../eclipse-svg/org.eclipse.ui.browser/icons/obj16//internal_browser.svg#radialGradient7574);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

