@import "gotham";

#stop4766 {
	stop-color: #397c58;
	stop-opacity: 1;
}

#stop4768 {
	stop-color: #5fb07b;
	stop-opacity: 1;
}

#stop4759 {
	stop-color: #e0e566;
	stop-opacity: 1;
}

#stop4761 {
	stop-color: #a2c159;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#path5581 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//add_correction.svg#linearGradient5618);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//add_correction.svg#linearGradient4770);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

