/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop3897 {
  stop-color: #acacab;
  stop-opacity: 1; }

#stop3899 {
  stop-color: #c2c2c2;
  stop-opacity: 1; }

#stop3889 {
  stop-color: #818489;
  stop-opacity: 1; }

#stop3891 {
  stop-color: #999997;
  stop-opacity: 1; }

#stop3839 {
  stop-color: #6f8db9;
  stop-opacity: 1; }

#stop3841 {
  stop-color: #1b639e;
  stop-opacity: 1; }

#stop3831 {
  stop-color: #8297bc;
  stop-opacity: 1; }

#stop3833 {
  stop-color: #6c81ad;
  stop-opacity: 1; }

#stop3049 {
  stop-color: #146d39;
  stop-opacity: 1; }

#stop3051 {
  stop-color: #359b58;
  stop-opacity: 1; }

#stop23104 {
  stop-color: #c9473e;
  stop-opacity: 1; }

#stop23118 {
  stop-color: #f35863;
  stop-opacity: 1; }

#stop23106 {
  stop-color: #f6928e;
  stop-opacity: 1; }

#stop5105-5-4 {
  stop-color: #96b956;
  stop-opacity: 1; }

#stop7550-07-0 {
  stop-color: #c6d560;
  stop-opacity: 1; }

#stop7548-6-9 {
  stop-color: #cfdc63;
  stop-opacity: 1; }

#stop5107-7-48 {
  stop-color: #abca52;
  stop-opacity: 1; }

#stop8564 {
  stop-color: #6994ad;
  stop-opacity: 1; }

#stop8566 {
  stop-color: #005596;
  stop-opacity: 1; }

#stop5105-5-4-4 {
  stop-color: #96b956;
  stop-opacity: 1; }

#stop7550-07-0-0 {
  stop-color: #c6d560;
  stop-opacity: 1; }

#stop7548-6-9-9 {
  stop-color: #cfdc63;
  stop-opacity: 1; }

#stop5107-7-48-4 {
  stop-color: #abca52;
  stop-opacity: 1; }

#stop3049-2 {
  stop-color: #146d39;
  stop-opacity: 1; }

#stop3051-4 {
  stop-color: #359b58;
  stop-opacity: 1; }

#stop3831-6 {
  stop-color: #8297bc;
  stop-opacity: 1; }

#stop3833-1 {
  stop-color: #6c81ad;
  stop-opacity: 1; }

#g3993 {
  fill: #ffffff; }

#rect3995 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none; }

#rect3997 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none; }

#rect3999 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none; }

#rect4001 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none; }

#stop5105-5-4-0 {
  stop-color: #96b956;
  stop-opacity: 1; }

#stop7550-07-0-9 {
  stop-color: #c6d560;
  stop-opacity: 1; }

#stop7548-6-9-4 {
  stop-color: #cfdc63;
  stop-opacity: 1; }

#stop5107-7-48-8 {
  stop-color: #abca52;
  stop-opacity: 1; }

#stop3049-4 {
  stop-color: #146d39;
  stop-opacity: 1; }

#stop3051-5 {
  stop-color: #359b58;
  stop-opacity: 1; }

#stop4904-2 {
  stop-color: #b28a30;
  stop-opacity: 1; }

#stop4906-2 {
  stop-color: #7f703d;
  stop-opacity: 1; }

#stop4904-2-2 {
  stop-color: #b28a30;
  stop-opacity: 1; }

#stop4906-2-1 {
  stop-color: #7f703d;
  stop-opacity: 1; }

#stop5105-5-4-0-5 {
  stop-color: #96b956;
  stop-opacity: 1; }

#stop7550-07-0-9-7 {
  stop-color: #c6d560;
  stop-opacity: 1; }

#stop7548-6-9-4-6 {
  stop-color: #cfdc63;
  stop-opacity: 1; }

#stop5107-7-48-8-1 {
  stop-color: #abca52;
  stop-opacity: 1; }

#g4071 {
  fill: #ffffff;
  stroke: #ffffff;
  display: inline; }

#path4073 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  display: inline; }

#path4075 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  display: inline; }

#path4077 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dashoffset: 0;
  display: inline; }

#stop5105-5-4-7 {
  stop-color: #96b956;
  stop-opacity: 1; }

#stop7550-07-0-4 {
  stop-color: #c6d560;
  stop-opacity: 1; }

#stop7548-6-9-2 {
  stop-color: #cfdc63;
  stop-opacity: 1; }

#stop5107-7-48-7 {
  stop-color: #abca52;
  stop-opacity: 1; }

#stop3049-3 {
  stop-color: #146d39;
  stop-opacity: 1; }

#stop3051-1 {
  stop-color: #359b58;
  stop-opacity: 1; }

#g4148 {
  fill: #ffffff; }

#path4150 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path4152 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path3117 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//compare_field.svg#linearGradient3901);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//compare_field.svg#linearGradient3893);
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }
