@import "gotham";

#stop8727-1-6-3 {
	stop-color: #fbe597;
	stop-opacity: 1;
}

#stop8729-2-5-0 {
	stop-color: #fffcf0;
	stop-opacity: 1;
}

#stop8719-9-3-2 {
	stop-color: #bd8416;
	stop-opacity: 1;
}

#stop8721-5-0-4 {
	stop-color: #806229;
	stop-opacity: 1;
}

#stop8727-1-6-3-167-9 {
	stop-color: #fbe597;
	stop-opacity: 1;
}

#stop8729-2-5-0-6-1 {
	stop-color: #fffcf0;
	stop-opacity: 1;
}

#stop8719-9-3-2-3-3 {
	stop-color: #bd8416;
	stop-opacity: 1;
}

#stop8721-5-0-4-6-6 {
	stop-color: #806229;
	stop-opacity: 1;
}

#stop8727-1-6-3-167-9-3 {
	stop-color: #fbe597;
	stop-opacity: 1;
}

#stop8729-2-5-0-6-1-6 {
	stop-color: #fffcf0;
	stop-opacity: 1;
}

#stop8719-9-3-2-3-3-4 {
	stop-color: #bd8416;
	stop-opacity: 1;
}

#stop8721-5-0-4-6-6-5 {
	stop-color: #806229;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g8472 {
	display: inline;
}

#g8833 {
	display: inline;
}

#path8715-7-01 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//cp_order_obj.svg#linearGradient4295);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//cp_order_obj.svg#linearGradient4297);
	stroke-width: 1.03784955;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path8715-7-01-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//cp_order_obj.svg#linearGradient3790);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//cp_order_obj.svg#linearGradient3792);
	stroke-width: 1.03784955000000001;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

