/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop4978 {
  stop-color: #696969;
  stop-opacity: 1; }

#stop4980 {
  stop-color: #4f504f;
  stop-opacity: 1; }

#stop4907 {
  stop-color: #494949;
  stop-opacity: 1; }

#stop4918 {
  stop-color: #666665;
  stop-opacity: 1; }

#stop4916 {
  stop-color: #666665;
  stop-opacity: 1; }

#stop4914 {
  stop-color: #494949;
  stop-opacity: 1; }

#stop4921 {
  stop-color: #686867;
  stop-opacity: 1; }

#stop4925 {
  stop-color: #696969;
  stop-opacity: 1; }

#stop4910 {
  stop-color: #494949;
  stop-opacity: 1; }

#stop4907-0 {
  stop-color: #494949;
  stop-opacity: 1; }

#stop4918-9 {
  stop-color: #666665;
  stop-opacity: 1; }

#stop4916-4 {
  stop-color: #666665;
  stop-opacity: 1; }

#stop4914-8 {
  stop-color: #494949;
  stop-opacity: 1; }

#stop4921-8 {
  stop-color: #686867;
  stop-opacity: 1; }

#stop4925-2 {
  stop-color: #696969;
  stop-opacity: 1; }

#stop4910-4 {
  stop-color: #494949;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#g8159 {
  display: inline; }

#rect4112-1 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//empty_pack_obj.svg#linearGradient4982);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4903 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//empty_pack_obj.svg#linearGradient4912);
  fill-opacity: 1;
  stroke: none; }

#rect4903-5 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//empty_pack_obj.svg#linearGradient4947);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4986 {
  fill: #e3ebf8;
  fill-opacity: 1;
  stroke: none; }

#rect4986-5 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4986-1 {
  fill: #e3ebf8;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4986-5-7 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4986-11 {
  fill: #e3ebf8;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4986-5-5 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4986-1-2 {
  fill: #e3ebf8;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4986-5-7-7 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  display: inline; }
