@import "gotham";

#stop10800-5-2-1-8-20-6-4-9-8-2 {
	stop-color: #a17748;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-24-8-4-3-2 {
	stop-color: #8e5c24;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-8-4-2-9-2 {
	stop-color: #c7af93;
	stop-opacity: 1;
}

#stop5791-4 {
	stop-color: #fff2b0;
	stop-opacity: 1;
}

#stop5793-5 {
	stop-color: #fecf6c;
	stop-opacity: 1;
}

#stop5795-5 {
	stop-color: #fede96;
	stop-opacity: 1;
}

#stop9802 {
	stop-color: #be9c28;
	stop-opacity: 1;
}

#stop9804 {
	stop-color: #a77e1c;
	stop-opacity: 1;
}

#stop5791-4-9 {
	stop-color: #fff2b0;
	stop-opacity: 1;
}

#stop5793-5-8 {
	stop-color: #fecf6c;
	stop-opacity: 1;
}

#stop5795-5-2 {
	stop-color: #fede96;
	stop-opacity: 1;
}

#path10796-2-6-2 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//enum_protected_obj.svg#linearGradient7302);
	fill-opacity: 1;
	stroke: #905e27;
	stroke-width: 2.16621375;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	font-family: Sans;
}

#g8046 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#rect7222 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#rect7222-7 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#rect7222-7-2 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#rect7222-7-2-5 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#g8046-4 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	opacity: 0.5;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//enum_protected_obj.svg#filter8104);
	font-family: Sans;
}

#rect7222-4 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#rect7222-7-3 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#rect7222-7-2-3 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#rect7222-7-2-5-4 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#layer1-5-4 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g11331-3-1-1-6-7 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g13408-8-2-5 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#g6124-3-96-5 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#text6430-5-4 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	font-family: Sans;
}

#g6438-3-0 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#layer1-8-9 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g11331-3-1-1-8-3 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g13408-8-1-8 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#g6124-3-9-5 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#text6430-8-3 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	font-family: Sans;
}

#g6438-1-3 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#rect6724-2-6 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#rect6724-4-1-2 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	opacity: 0.25;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//enum_protected_obj.svg#filter5785-5-0);
	font-family: Sans;
}

#layer1-5 {
	display: inline;
}

#g11331-3-1-1-6 {
	display: inline;
}

#g13408-8-2 {
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-opacity: 1;
}

#g6124-3-96 {
	display: inline;
}

#text6430-5 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	font-family: Sans;
}

#g6438-3 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#layer1-8 {
	display: inline;
}

#g11331-3-1-1-8 {
	display: inline;
}

#g13408-8-1 {
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-opacity: 1;
}

#g6124-3-9 {
	display: inline;
}

#text6430-8 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	font-family: Sans;
}

#g6438-1 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#rect6724-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//enum_protected_obj.svg#linearGradient5742-5);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//enum_protected_obj.svg#linearGradient9806);
	stroke-width: 1.01823986;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#rect6724-4-1 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	opacity: 0.25;
	fill: none;
	stroke: #ffffff;
	stroke-width: 0.68290508;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//enum_protected_obj.svg#filter5785-5);
	font-family: Sans;
}

