@import "gotham";

#stop8658 {
	stop-color: #2b568d;
	stop-opacity: 1;
}

#stop8660 {
	stop-color: #5a9ccc;
	stop-opacity: 1;
}

#stop8662 {
	stop-color: #5176a8;
	stop-opacity: 1;
}

#stop8652 {
	stop-color: #55a4db;
	stop-opacity: 1;
}

#stop8654 {
	stop-color: #d3e5f4;
	stop-opacity: 1;
}

#stop8638 {
	stop-color: #a79c68;
	stop-opacity: 1;
}

#stop8640 {
	stop-color: #6e7a8d;
	stop-opacity: 1;
}

#stop13833 {
	stop-color: #055797;
	stop-opacity: 1;
}

#stop13835 {
	stop-color: #184785;
	stop-opacity: 1;
}

#stop13757 {
	stop-color: #f1fdfc;
	stop-opacity: 1;
}

#stop13765 {
	stop-color: #dbeff9;
	stop-opacity: 1;
}

#stop13763 {
	stop-color: #cee4f0;
	stop-opacity: 1;
}

#stop13759 {
	stop-color: #def1fa;
	stop-opacity: 1;
}

#stop4996-5-9 {
	stop-color: #c5dff4;
	stop-opacity: 1;
}

#stop4998-5-0 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4912-8-5 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914-8-1 {
	stop-color: #c5dff4;
	stop-opacity: 1;
}

#g8791 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#path8793 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 0.80190599;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path8795 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-opacity: 1;
}

#path8797 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-opacity: 1;
	display: inline;
}

#layer1 {
	display: inline;
}

#g8159 {
	display: inline;
}

#path13745 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//history_working_set_obj.svg#linearGradient8584);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//history_working_set_obj.svg#linearGradient8586);
	stroke-width: 0.80190599;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path13811 {
	fill: none;
	stroke: #1f4a83;
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-opacity: 1;
}

#path13811-9 {
	fill: none;
	stroke: #1f4a83;
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-opacity: 1;
	display: inline;
}

#rect3997-9-1 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//history_working_set_obj.svg#filter9575);
	stroke-dasharray: none;
}

#rect3997-9 {
	fill: #f4fcff;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//history_working_set_obj.svg#linearGradient8626);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#rect4853-82-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//history_working_set_obj.svg#linearGradient8628);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//history_working_set_obj.svg#linearGradient8630);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect3997-9-9 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//history_working_set_obj.svg#linearGradient8632);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//history_working_set_obj.svg#linearGradient8634);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#text9604-8-2-9 {
	font-size: 4.9253788px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #2b568d;
	fill-opacity: 1;
	stroke: #2b568d;
	stroke-width: 0.44447169;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	font-family: Arial;
	inkscape-font-specification: Arial;
}

