/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop10800-5-2-1-8-20-6-4-9-8-2 {
  stop-color: #4f9e55;
  stop-opacity: 1; }

#stop10806-6-8-5-3-9-24-8-4-3-2 {
  stop-color: #418a4d;
  stop-opacity: 1; }

#stop10802-1-5-3-0-4-8-4-2-9-2 {
  stop-color: #a4c589;
  stop-opacity: 1; }

#stop5791 {
  stop-color: #f57c7c;
  stop-opacity: 1; }

#stop5793 {
  stop-color: #f14d5c;
  stop-opacity: 1; }

#stop5795 {
  stop-color: #e76061;
  stop-opacity: 1; }

#stop10800-5-2-1-8-20-6-4-9-8-2-0 {
  stop-color: #4f9e55;
  stop-opacity: 1; }

#stop10806-6-8-5-3-9-24-8-4-3-2-5 {
  stop-color: #418a4d;
  stop-opacity: 1; }

#stop10802-1-5-3-0-4-8-4-2-9-2-1 {
  stop-color: #91c168;
  stop-opacity: 1; }

#stop5791-0 {
  stop-color: #f57c7c;
  stop-opacity: 1; }

#stop5793-9 {
  stop-color: #f14d5c;
  stop-opacity: 1; }

#stop5795-7 {
  stop-color: #e76061;
  stop-opacity: 1; }

#g4193 {
  display: inline; }

#g6124-3-3 {
  display: inline; }

#text6430-2 {
  font-style: normal;
  font-weight: normal;
  font-size: 13.58917427px;
  line-height: 125%;
  font-family: Sans;
  letter-spacing: 0px;
  word-spacing: 0px;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none; }

#g6438-7 {
  font-style: normal;
  font-weight: normal;
  font-size: 13.58917427px;
  line-height: 125%;
  font-family: Sans;
  letter-spacing: 0px;
  word-spacing: 0px;
  display: inline;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none; }

#path10796-2-6-2 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//innerclass_private_obj.svg#linearGradient4293);
  fill-opacity: 1;
  stroke: #14733c;
  stroke-width: 1.49227178;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#text3782-3 {
  font-size: 15.56941891px;
  font-family: Sans;
  fill: #ffffff; }

#path3817-0 {
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-stretch: normal;
  font-size: 15.56941891px;
  line-height: 125%;
  font-family: Arial;
  letter-spacing: 0px;
  word-spacing: 0px;
  display: inline;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none; }

#layer1-4-0 {
  opacity: 0.63779524;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#g11331-3-1-1-8 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#g13408-8-6 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none; }

#g6124-3-9 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#text6430-4 {
  font-size: 13.58917427px;
  font-style: normal;
  font-weight: normal;
  line-height: 125%;
  letter-spacing: 0px;
  word-spacing: 0px;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  font-family: Sans; }

#g6438-6 {
  font-size: 13.58917427px;
  font-style: normal;
  font-weight: normal;
  line-height: 125%;
  letter-spacing: 0px;
  word-spacing: 0px;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  display: inline;
  font-family: Sans; }

#rect6724-5 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none; }

#rect6724-4-4 {
  font-size: 13.58917427px;
  font-style: normal;
  font-weight: normal;
  line-height: 125%;
  letter-spacing: 0px;
  word-spacing: 0px;
  opacity: 0.25;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  display: inline;
  filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//innerclass_private_obj.svg#filter5785-4);
  font-family: Sans; }

#layer1-4 {
  display: inline; }

#g11331-3-1-1 {
  display: inline; }

#g13408-8 {
  fill: #737986;
  fill-opacity: 1;
  stroke: #595e68;
  stroke-opacity: 1; }

#g6124-3 {
  display: inline; }

#text6430 {
  font-size: 13.58917427px;
  font-style: normal;
  font-weight: normal;
  line-height: 125%;
  letter-spacing: 0px;
  word-spacing: 0px;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  font-family: Sans; }

#g6438 {
  font-size: 13.58917427px;
  font-style: normal;
  font-weight: normal;
  line-height: 125%;
  letter-spacing: 0px;
  word-spacing: 0px;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  display: inline;
  font-family: Sans; }

#rect6724 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//innerclass_private_obj.svg#linearGradient5742-6);
  fill-opacity: 1;
  stroke: #cb2e39;
  stroke-width: 1.01823986;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0; }

#rect6724-4 {
  font-size: 13.58917427px;
  font-style: normal;
  font-weight: normal;
  line-height: 125%;
  letter-spacing: 0px;
  word-spacing: 0px;
  opacity: 0.25;
  fill: none;
  stroke: #ffffff;
  stroke-width: 0.68290508;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline;
  filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//innerclass_private_obj.svg#filter5785-2);
  font-family: Sans; }
