@import "gotham";

#stop7089 {
	stop-color: #17325d;
	stop-opacity: 1;
}

#stop7091 {
	stop-color: #b4d0e2;
	stop-opacity: 1;
}

#stop7093 {
	stop-color: #b7d2e4;
	stop-opacity: 1;
}

#stop7095 {
	stop-color: #acc9de;
	stop-opacity: 1;
}

#stop7097 {
	stop-color: #3e72a7;
	stop-opacity: 1;
}

#stop7005 {
	stop-color: #5aa771;
	stop-opacity: 1;
}

#stop7007 {
	stop-color: #76be7e;
	stop-opacity: 1;
}

#stop4812-0 {
	stop-color: #af8931;
	stop-opacity: 1;
}

#stop4814-4 {
	stop-color: #7e703d;
	stop-opacity: 1;
}

#path7368 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#stop7089-4 {
	stop-color: #17325d;
	stop-opacity: 1;
}

#stop7091-0 {
	stop-color: #b4d0e2;
	stop-opacity: 1;
}

#stop7093-9 {
	stop-color: #b7d2e4;
	stop-opacity: 1;
}

#stop7095-4 {
	stop-color: #acc9de;
	stop-opacity: 1;
}

#stop7097-8 {
	stop-color: #3e72a7;
	stop-opacity: 1;
}

#stop7089-4-5 {
	stop-color: #17325d;
	stop-opacity: 1;
}

#stop7091-0-5 {
	stop-color: #b4d0e2;
	stop-opacity: 1;
}

#stop7093-9-1 {
	stop-color: #b7d2e4;
	stop-opacity: 1;
}

#stop7095-4-7 {
	stop-color: #acc9de;
	stop-opacity: 1;
}

#stop7097-8-1 {
	stop-color: #3e72a7;
	stop-opacity: 1;
}

#stop7089-4-5-7 {
	stop-color: #17325d;
	stop-opacity: 1;
}

#stop7091-0-5-6 {
	stop-color: #b4d0e2;
	stop-opacity: 1;
}

#stop7093-9-1-1 {
	stop-color: #b7d2e4;
	stop-opacity: 1;
}

#stop7095-4-7-4 {
	stop-color: #acc9de;
	stop-opacity: 1;
}

#stop7097-8-1-2 {
	stop-color: #3e72a7;
	stop-opacity: 1;
}

#stop7089-4-5-7-1 {
	stop-color: #17325d;
	stop-opacity: 1;
}

#stop7091-0-5-6-6 {
	stop-color: #b4d0e2;
	stop-opacity: 1;
}

#stop7093-9-1-1-8 {
	stop-color: #b7d2e4;
	stop-opacity: 1;
}

#stop7095-4-7-4-5 {
	stop-color: #acc9de;
	stop-opacity: 1;
}

#stop7097-8-1-2-7 {
	stop-color: #3e72a7;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#layer1-8 {
	display: inline;
}

#rect3997-9 {
	fill: #f4fcff;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jsbook_obj.svg#linearGradient4046-24);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#path10927-5-7 {
	display: inline;
	fill: #366c9a;
	fill-opacity: 1;
}

#rect3997-9-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jsbook_obj.svg#linearGradient7009);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect3997-9-4-5 {
	fill: #317357;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g7205-6 {
	opacity: 0.75;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jsbook_obj.svg#filter7378);
}

#path7045-6 {
	fill: none;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path7045-0-6 {
	fill: none;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path7045-3-5 {
	fill: none;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path7045-3-4-1 {
	fill: none;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path7045-3-4-7-2 {
	fill: none;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path7045 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jsbook_obj.svg#linearGradient7541);
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path7045-8 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jsbook_obj.svg#linearGradient7117);
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
}

#path7045-8-1 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jsbook_obj.svg#linearGradient7160);
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
}

#path7045-8-1-3 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jsbook_obj.svg#linearGradient7203);
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
}

#path7045-8-1-3-6 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jsbook_obj.svg#linearGradient7246);
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
}

#g7590-7 {
	display: inline;
}

#g7827-7 {
	display: inline;
}

