/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop3969-3 {
  stop-color: #c48a4e;
  stop-opacity: 1; }

#stop3971-09 {
  stop-color: #ad6c24;
  stop-opacity: 1; }

#stop3975-85 {
  stop-color: #f8d078;
  stop-opacity: 1; }

#stop3977-7 {
  stop-color: #f8f0c8;
  stop-opacity: 1; }

#stop3951-7 {
  stop-color: #9e6627;
  stop-opacity: 1; }

#stop3953-5 {
  stop-color: #c38536;
  stop-opacity: 1; }

#stop3957-6 {
  stop-color: #c38536;
  stop-opacity: 1; }

#stop3959-77 {
  stop-color: #f2dc91;
  stop-opacity: 1; }

#stop3961-0 {
  stop-color: #fbdc8b;
  stop-opacity: 1; }

#stop3963-6 {
  stop-color: #e6bd7a;
  stop-opacity: 1; }

#stop3965-9 {
  stop-color: #ba772f;
  stop-opacity: 1; }

#g27863 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 1.24123943;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  display: inline; }

#path27865 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 1.24123943;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#path27867 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 1.24123943;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0; }

#path27869 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 1.24123943;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#stop3969 {
  stop-color: #c48a4e;
  stop-opacity: 1; }

#stop3971 {
  stop-color: #ad6c24;
  stop-opacity: 1; }

#stop3975 {
  stop-color: #f8d078;
  stop-opacity: 1; }

#stop3977 {
  stop-color: #f8f0c8;
  stop-opacity: 1; }

#stop3951 {
  stop-color: #9e6627;
  stop-opacity: 1; }

#stop3953 {
  stop-color: #c38536;
  stop-opacity: 1; }

#stop3957 {
  stop-color: #c38536;
  stop-opacity: 1; }

#stop3959 {
  stop-color: #f2dc91;
  stop-opacity: 1; }

#stop3961 {
  stop-color: #fbdc8b;
  stop-opacity: 1; }

#stop3963 {
  stop-color: #e6bd7a;
  stop-opacity: 1; }

#stop3965 {
  stop-color: #ba772f;
  stop-opacity: 1; }

#g27661 {
  fill: #ffffff;
  stroke: #ffffff; }

#g27663 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 1.24123943;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  display: inline; }

#path27665 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 1.24123943;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#path27667 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 1.24123943;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0; }

#path27669 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 1.24123943;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#g27671 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 1.24123943;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  display: inline; }

#path27673 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 1.24123943;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#path27675 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 1.24123943;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0; }

#path27677 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 1.24123943;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#g27855 {
  display: inline; }

#g18690-04 {
  opacity: 0.75;
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 2.48247886;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  display: inline;
  filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jworkingSet_obj.svg#filter27875); }

#rect13693-3-9 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 2.48247886;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#rect13693-67 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 2.48247886;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0; }

#path13797-2 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 2.48247886;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#g18690 {
  stroke-width: 1.24123943;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  display: inline; }

#g18690-0 {
  stroke-width: 1.24123943;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  display: inline; }

#rect13693-3-4 {
  fill: #fdf7eb;
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jworkingSet_obj.svg#linearGradient3102);
  stroke-width: 1.24123943;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#rect13693-6 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jworkingSet_obj.svg#linearGradient3104);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jworkingSet_obj.svg#linearGradient3106);
  stroke-width: 1.24123943;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0; }

#path13797-0 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jworkingSet_obj.svg#linearGradient3108);
  stroke-width: 1.24123943;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#rect13693-3 {
  fill: #fdf7eb;
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jworkingSet_obj.svg#linearGradient3071);
  stroke-width: 1.24123943;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#rect13693 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jworkingSet_obj.svg#linearGradient3073);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jworkingSet_obj.svg#linearGradient3075);
  stroke-width: 1.24123943;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0; }

#path13797 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jworkingSet_obj.svg#linearGradient3077);
  stroke-width: 1.24123943;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#g27468 {
  opacity: 0.75;
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  display: inline;
  filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//jworkingSet_obj.svg#filter27488); }

#path10927-5-7-9-2 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  display: inline; }

#path10927-5-7-9 {
  fill: #366c9a;
  fill-opacity: 1;
  display: inline; }
