/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop3783 {
  stop-color: #6e6f75;
  stop-opacity: 1; }

#stop3785 {
  stop-color: #8f8f93;
  stop-opacity: 1; }

#stop3775 {
  stop-color: #9a9a9e;
  stop-opacity: 1; }

#stop3777 {
  stop-color: #8f8f93;
  stop-opacity: 1; }

#stop3779 {
  stop-color: #cfcfcf;
  stop-opacity: 1; }

#stop10800-5-2-1-8-20-6-4-9-8-2 {
  stop-color: #7564b1;
  stop-opacity: 1; }

#stop10806-6-8-5-3-9-24-8-4-3-2 {
  stop-color: #5d4aa1;
  stop-opacity: 1; }

#stop10802-1-5-3-0-4-8-4-2-9-2 {
  stop-color: #9283c3;
  stop-opacity: 1; }

#path10796-2-6-2 {
  font-size: 13.58917427px;
  font-style: normal;
  font-weight: normal;
  line-height: 125%;
  letter-spacing: 0px;
  word-spacing: 0px;
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//localvariable_obj.svg#linearGradient7188);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//localvariable_obj.svg#linearGradient3787);
  stroke-width: 1.80235565;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline;
  font-family: Sans; }

#rect3791 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none; }
