/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#layer2 {
  display: none; }

#rect4146 {
  fill: #3fff00;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: #000000;
  stroke-width: 0.89384377px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#path3413 {
  fill: #fefefe; }

#path3411 {
  fill: #6565fe; }

#path3409 {
  fill: #000000; }
