@import "gotham";

#stop5186 {
	stop-color: #7d6f79;
	stop-opacity: 1;
}

#stop5188 {
	stop-color: #aaa2a9;
	stop-opacity: 1;
}

#stop5450 {
	stop-color: #ad8e5f;
	stop-opacity: 1;
}

#stop5452 {
	stop-color: #8f6e4d;
	stop-opacity: 1;
}

#stop5442 {
	stop-color: #ad8e5f;
	stop-opacity: 1;
}

#stop5444 {
	stop-color: #8f6e4d;
	stop-opacity: 1;
}

#stop5430 {
	stop-color: #f0a53b;
	stop-opacity: 1;
}

#stop5438 {
	stop-color: #f2d58f;
	stop-opacity: 1;
}

#stop5436 {
	stop-color: #efb965;
	stop-opacity: 1;
}

#stop5432 {
	stop-color: #df9833;
	stop-opacity: 1;
}

#stop5380 {
	stop-color: #f4d684;
	stop-opacity: 1;
}

#stop5382 {
	stop-color: #fcf4c6;
	stop-opacity: 1;
}

#stop5384 {
	stop-color: #fbeebc;
	stop-opacity: 1;
}

#stop5386 {
	stop-color: #eeb960;
	stop-opacity: 1;
}

#stop5353 {
	stop-color: #e4a239;
	stop-opacity: 1;
}

#stop5355 {
	stop-color: #fada7d;
	stop-opacity: 1;
}

#stop5333 {
	stop-color: #fef48d;
	stop-opacity: 1;
}

#stop5341 {
	stop-color: #fffffe;
	stop-opacity: 1;
}

#stop5339 {
	stop-color: #fffffe;
	stop-opacity: 1;
}

#stop5335 {
	stop-color: #fef48d;
	stop-opacity: 1;
}

#stop5208 {
	stop-color: #bbb8bb;
	stop-opacity: 1;
}

#stop5216 {
	stop-color: #ccc8cb;
	stop-opacity: 1;
}

#stop5214 {
	stop-color: #bdb6bc;
	stop-opacity: 1;
}

#stop5210 {
	stop-color: #9b8c98;
	stop-opacity: 1;
}

#stop5111 {
	stop-color: #906f4e;
	stop-opacity: 1;
}

#stop5113 {
	stop-color: #dfbd7f;
	stop-opacity: 1;
}

#stop8376 {
	stop-color: #6fd9ff;
	stop-opacity: 1;
}

#stop8378 {
	stop-color: #4364a7;
	stop-opacity: 1;
}

#stop8384 {
	stop-color: #fffcf2;
	stop-opacity: 1;
}

#stop8392 {
	stop-color: #adc977;
	stop-opacity: 1;
}

#stop8390 {
	stop-color: #7f9f3f;
	stop-opacity: 1;
}

#stop8386 {
	stop-color: #77775c;
	stop-opacity: 1;
}

#stop8351 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop8353 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#g5506 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#path5508 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1.06988704;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5510 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-opacity: 1;
}

#path5512 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1px;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path5514 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-opacity: 1;
	display: inline;
}

#path5516 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 0.87995493;
	stroke-opacity: 1;
	display: inline;
}

#path5518 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1.0003444;
	stroke-linejoin: round;
	stroke-miterlimit: 3;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#layer1 {
	display: inline;
}

#g8472 {
	display: inline;
}

#rect4221-4 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//nls_search_obj.svg#linearGradient5368);
	stroke-width: 1.06988704;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#rect4221 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//nls_search_obj.svg#linearGradient5370);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//nls_search_obj.svg#linearGradient5434);
	stroke-opacity: 1;
}

#path5028 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #496da1;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1px;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect4221-7-1 {
	fill: #ffffc9;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//nls_search_obj.svg#linearGradient5454);
	stroke-width: 1;
	stroke-opacity: 1;
	display: inline;
}

#rect4221-7-1-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//nls_search_obj.svg#linearGradient5372);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//nls_search_obj.svg#linearGradient5374);
	stroke-width: 0.87995493;
	stroke-opacity: 1;
	display: inline;
}

#rect4221-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//nls_search_obj.svg#linearGradient5376);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//nls_search_obj.svg#linearGradient5446);
	stroke-width: 1.0003444;
	stroke-linejoin: round;
	stroke-miterlimit: 3;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#g5495 {
	opacity: 0.75;
}

#g5487 {
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//nls_search_obj.svg#filter5520);
}

#g5480 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1.06988704000000000;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#path5477 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #ffffff;
	stroke-width: 0.99999994000000003;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect4243-4-2 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1.06988704000000000;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#rect4243-0 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1.06988704000000000;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#path4245-1-8 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1.06988704000000000;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect4243-6-9 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 1.06988704000000000;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#rect4243-4 {
	fill: #7d6f79;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4243 {
	fill: #958892;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path4245-1 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//nls_search_obj.svg#linearGradient5190);
	stroke-width: 0.39873263;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#g3894 {
	display: inline;
}

#path3800-3-8 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//nls_search_obj.svg#radialGradient8380);
	fill-opacity: 1;
	stroke: none;
}

#path3800-3-8-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//nls_search_obj.svg#linearGradient8388);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path3800-3-8-9 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//nls_search_obj.svg#radialGradient7906);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path3800-3-8-1 {
	fill: none;
	stroke: #3176ab;
	stroke-width: 56.39807892;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#rect4243-6 {
	fill: #958892;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

