@import "gotham";

#stop4910-7-2-7-0 {
	stop-color: #986443;
	stop-opacity: 1;
}

#stop4912-6-2-9-2 {
	stop-color: #994f1b;
	stop-opacity: 1;
}

#stop5079-7-3 {
	stop-color: #e4cf94;
	stop-opacity: 1;
}

#stop5087-6-0 {
	stop-color: #ede0ba;
	stop-opacity: 1;
}

#stop5085-1-4 {
	stop-color: #c1aa7e;
	stop-opacity: 1;
}

#stop5081-8-3 {
	stop-color: #ad8865;
	stop-opacity: 1;
}

#stop5302-6 {
	stop-color: #4d4d4d;
	stop-opacity: 1;
}

#stop5308-0 {
	stop-color: #727272;
	stop-opacity: 1;
}

#stop5304-3 {
	stop-color: #4d4d4d;
	stop-opacity: 1;
}

#stop5105-5-4 {
	stop-color: #c1ebca;
	stop-opacity: 1;
}

#stop7550-07-0 {
	stop-color: #b3dac7;
	stop-opacity: 1;
}

#stop7548-6-9 {
	stop-color: #9ec2c3;
	stop-opacity: 1;
}

#stop5107-7-48 {
	stop-color: #7a99bb;
	stop-opacity: 1;
}

#stop6356 {
	stop-color: #6994ad;
	stop-opacity: 1;
}

#stop6358 {
	stop-color: #095a98;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g8159 {
	display: inline;
}

#layer1-7 {
	display: inline;
}

#path5226-6-14-1-5-3 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//occ_write.svg#linearGradient5173-7);
	stroke-width: 1;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path5424-0 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffcb72;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path5226-6-14-1-5-2-8 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #e5a856;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path5226-6-14-1-5-2-7-1 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #fbbc67;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path5426-5 {
	opacity: 0.5;
	fill: none;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//occ_write.svg#filter5428-5);
}

#path5006-17 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//occ_write.svg#linearGradient5196-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5006-1-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//occ_write.svg#linearGradient8889);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#layer1-7-1 {
	display: inline;
}

#path4108-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//occ_write.svg#linearGradient5109-0-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4108-1-6 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//occ_write.svg#linearGradient4235);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

