@import "gotham";

#stop9585 {
	stop-color: #5f5f3f;
	stop-opacity: 1;
}

#stop9587 {
	stop-color: #7f7f5f;
	stop-opacity: 1;
}

#stop9589 {
	stop-color: #5f5f3f;
	stop-opacity: 1;
}

#stop9591 {
	stop-color: #5f5f3f;
	stop-opacity: 1;
}

#stop9593 {
	stop-color: #5f5f3f;
	stop-opacity: 1;
}

#stop9595 {
	stop-color: #7f7f5f;
	stop-opacity: 1;
}

#stop9597 {
	stop-color: #5f5f3f;
	stop-opacity: 1;
}

#stop9579 {
	stop-color: #f1eec2;
	stop-opacity: 1;
}

#stop9581 {
	stop-color: #a5a585;
	stop-opacity: 1;
}

#stop9573 {
	stop-color: #f1eec2;
	stop-opacity: 1;
}

#stop9575 {
	stop-color: #a5a585;
	stop-opacity: 1;
}

#stop9567 {
	stop-color: #f1eec2;
	stop-opacity: 1;
}

#stop9569 {
	stop-color: #b2b292;
	stop-opacity: 1;
}

#stop9561 {
	stop-color: #f1eec2;
	stop-opacity: 1;
}

#stop9563 {
	stop-color: #b2b292;
	stop-opacity: 1;
}

#stop10575 {
	stop-color: #a5a585;
	stop-opacity: 1;
}

#stop10577 {
	stop-color: #828262;
	stop-opacity: 1;
}

#stop10509 {
	stop-color: #5f5f3f;
	stop-opacity: 1;
}

#stop10511 {
	stop-color: #7f7f5f;
	stop-opacity: 1;
}

#stop10513 {
	stop-color: #5f5f3f;
	stop-opacity: 1;
}

#stop10515 {
	stop-color: #5f5f3f;
	stop-opacity: 1;
}

#stop10517 {
	stop-color: #5f5f3f;
	stop-opacity: 1;
}

#stop10519 {
	stop-color: #7f7f5f;
	stop-opacity: 1;
}

#stop10522 {
	stop-color: #5f5f3f;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g13862 {
	display: inline;
}

#layer1-9 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#g11260-4-2 {
	display: inline;
}

#rect10961-8-3 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//packd_obj.svg#radialGradient10505);
	fill-opacity: 1;
	stroke: #a5a585;
	stroke-width: 3.58380507999999990;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect10961-9-0-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//packd_obj.svg#radialGradient10503);
	fill-opacity: 1;
	stroke: #8c8c6d;
	stroke-width: 3.58380507999999990;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect10961-3-9-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//packd_obj.svg#radialGradient10499);
	fill-opacity: 1;
	stroke: #8c8c6d;
	stroke-width: 3.58380507999999990;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect10961-9-6-4-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//packd_obj.svg#radialGradient10501);
	fill-opacity: 1;
	stroke: #8c8c6d;
	stroke-width: 3.58380507999999990;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect10961-8-3-6 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//packd_obj.svg#linearGradient10579);
	stroke-width: 3.58380508;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	font-family: Sans;
}

#path11108-6-7-5 {
	fill: #915323;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//packd_obj.svg#linearGradient4895);
	stroke-width: 3.58380508;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path11108-6-7-5-6 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #915323;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//packd_obj.svg#linearGradient10544);
	stroke-width: 3.58380508;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	font-family: Sans;
}

#g11331-3 {
	display: inline;
}

#g14104 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#g6258 {
	display: inline;
}

