@import "gotham";

#stop5896 {
	stop-color: #e9a328;
	stop-opacity: 1;
}

#stop5898 {
	stop-color: #f9c537;
	stop-opacity: 1;
}

#stop5994 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop6002 {
	stop-color: #fdfbeb;
	stop-opacity: 1;
}

#stop6000 {
	stop-color: #f8eb99;
	stop-opacity: 1;
}

#stop5996 {
	stop-color: #ffe4b1;
	stop-opacity: 1;
}

#stop5935 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop5937 {
	stop-color: #abb6c2;
	stop-opacity: 1;
}

#stop5927 {
	stop-color: #9eacbc;
	stop-opacity: 1;
}

#stop5929 {
	stop-color: #667480;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#path5108-6 {
	fill: none;
	stroke: #edaa2b;
	stroke-width: 0.82638889999999998;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//quickfix_error_obj.svg#filter7038);
}

#path5108 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//quickfix_error_obj.svg#radialGradient6262);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//quickfix_error_obj.svg#linearGradient6264);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#rect5896-7 {
	fill: #4a607a;
	fill-opacity: 1;
	stroke: #4a607a;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect5896 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//quickfix_error_obj.svg#linearGradient6266);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/obj16//quickfix_error_obj.svg#linearGradient6268);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#rect4244 {
	fill: #d8424f;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4187 {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: 7.68999243px;
	line-height: 125%;
	font-family: Sans;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	letter-spacing: 0px;
	word-spacing: 0px;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.27519909;
	marker: none;
	enable-background: accumulate;
}

