@import "gotham";

#stop4010 {
	stop-color: #3a4e81;
	stop-opacity: 1;
}

#stop4012 {
	stop-color: #7688b7;
	stop-opacity: 1;
}

#stop3908 {
	stop-color: #546483;
	stop-opacity: 1;
}

#stop3910 {
	stop-color: #818b9f;
	stop-opacity: 1;
}

#stop3894 {
	stop-color: #2b5c9c;
	stop-opacity: 1;
}

#stop3896 {
	stop-color: #3673c4;
	stop-opacity: 1;
}

#stop3886 {
	stop-color: #000000;
	stop-opacity: 1;
}

#stop3888 {
	stop-color: #000000;
	stop-opacity: 0;
}

#stop11292 {
	stop-color: #567ead;
	stop-opacity: 1;
}

#stop11294 {
	stop-color: #35679d;
	stop-opacity: 1;
}

#stop4084 {
	stop-color: #4476aa;
	stop-opacity: 1;
}

#stop4864 {
	stop-color: #5a9ccc;
	stop-opacity: 1;
}

#stop4086 {
	stop-color: #4476aa;
	stop-opacity: 1;
}

#stop5834 {
	stop-color: #7d6fba;
	stop-opacity: 1;
}

#stop5840 {
	stop-color: #4b3e81;
	stop-opacity: 1;
}

#stop5836 {
	stop-color: #9d93cb;
	stop-opacity: 1;
}

#stop5846 {
	stop-color: #739cc6;
	stop-opacity: 1;
}

#stop5848 {
	stop-color: #4b82b6;
	stop-opacity: 1;
}

#stop5850 {
	stop-color: #aac2dc;
	stop-opacity: 1;
}

#path10496 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#stop5834-8 {
	stop-color: #7d6fba;
	stop-opacity: 1;
}

#stop5840-7 {
	stop-color: #4b3e81;
	stop-opacity: 1;
}

#stop5836-9 {
	stop-color: #9d93cb;
	stop-opacity: 1;
}

#stop5846-2 {
	stop-color: #739cc6;
	stop-opacity: 1;
}

#stop5848-9 {
	stop-color: #4b82b6;
	stop-opacity: 1;
}

#stop5850-1 {
	stop-color: #aac2dc;
	stop-opacity: 1;
}

#stop11292-4 {
	stop-color: #567ead;
	stop-opacity: 1;
}

#stop11294-75 {
	stop-color: #35679d;
	stop-opacity: 1;
}

#stop5834-1 {
	stop-color: #7d6fba;
	stop-opacity: 1;
}

#stop5840-6 {
	stop-color: #4b3e81;
	stop-opacity: 1;
}

#stop5836-93 {
	stop-color: #9d93cb;
	stop-opacity: 1;
}

#stop5846-3 {
	stop-color: #739cc6;
	stop-opacity: 1;
}

#stop5848-0 {
	stop-color: #4b82b6;
	stop-opacity: 1;
}

#stop5850-4 {
	stop-color: #aac2dc;
	stop-opacity: 1;
}

#stop4010-9 {
	stop-color: #3a4e81;
	stop-opacity: 1;
}

#stop4012-9 {
	stop-color: #7688b7;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect3101 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.console/icons/full/eview16//console_view.svg#linearGradient3912);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.console/icons/full/eview16//console_view.svg#linearGradient3898);
	stroke-opacity: 1;
}

#rect3902 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#g3920-0 {
	fill: #4673ad;
	fill-opacity: 1;
	display: inline;
}

#rect3914-0 {
	fill: #4673ad;
	fill-opacity: 1;
	stroke: none;
}

#rect3918-9 {
	fill: #4673ad;
	fill-opacity: 1;
	stroke: none;
}

#rect3914 {
	fill: #2a5893;
	fill-opacity: 1;
	stroke: none;
}

#rect3918 {
	fill: #2a5893;
	fill-opacity: 1;
	stroke: none;
}

#rect3963 {
	fill: #cfedfb;
	fill-opacity: 1;
	stroke: none;
}

#rect3963-2 {
	fill: #cfedfb;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect3998 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.console/icons/full/eview16//console_view.svg#linearGradient4014);
	fill-opacity: 1;
	stroke: none;
}

#rect3998-6 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.console/icons/full/eview16//console_view.svg#linearGradient4048);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

