@import "gotham";

#stop8574 {
	stop-color: #1c4b2f;
	stop-opacity: 1;
}

#stop8576 {
	stop-color: #388d50;
	stop-opacity: 1;
}

#stop8568 {
	stop-color: #d6d93e;
	stop-opacity: 1;
}

#stop8570 {
	stop-color: #63942e;
	stop-opacity: 1;
}

#stop5993 {
	stop-color: #9c6a3e;
	stop-opacity: 1;
}

#stop5995 {
	stop-color: #c48d4f;
	stop-opacity: 1;
}

#stop5983 {
	stop-color: #9c6a3e;
	stop-opacity: 1;
}

#stop5985 {
	stop-color: #c48d4f;
	stop-opacity: 1;
}

#stop5975 {
	stop-color: #ffffc7;
	stop-opacity: 1;
}

#stop5977 {
	stop-color: #fff1a8;
	stop-opacity: 1;
}

#stop5979 {
	stop-color: #ffd379;
	stop-opacity: 1;
}

#stop5967 {
	stop-color: #ffffc7;
	stop-opacity: 1;
}

#stop5969 {
	stop-color: #fff1a8;
	stop-opacity: 1;
}

#stop5971 {
	stop-color: #ffd379;
	stop-opacity: 1;
}

#stop4873-4-1 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4875-0-5 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4873-4 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4875-0 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4873-4-5 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4875-0-4 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4873-4-1-4 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4875-0-5-9 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#g8883 {
	fill: #ffffff;
	display: inline;
}

#path8885 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 0.72602755;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#g8887 {
	fill: #ffffff;
	display: inline;
}

#g8889 {
	fill: #ffffff;
	display: inline;
}

#path8891 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g8893 {
	fill: #ffffff;
}

#rect8895 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path8897 {
	opacity: 0.5;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path8899 {
	opacity: 0.5;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g8901 {
	fill: #ffffff;
	display: inline;
}

#path8903 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g8905 {
	fill: #ffffff;
}

#rect8907 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path8909 {
	opacity: 0.5;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path8911 {
	opacity: 0.5;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path8913 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path8915 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path8917 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#layer1 {
	display: inline;
}

#path4887-8-4-7-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//add_to_buildpath.svg#linearGradient5926);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//add_to_buildpath.svg#linearGradient5989);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#layer1-8-0 {
	display: inline;
}

#g5029-8-3 {
	display: inline;
}

#rect4035-17-2-0 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-5 {
	fill: #91a5c7;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7-1-5-0 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//add_to_buildpath.svg#linearGradient4877-1-4);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7-4-5-1-7 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//add_to_buildpath.svg#linearGradient4879-9-7);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g5029-8-7-6 {
	display: inline;
}

#rect4035-17-2-6-7 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-4-3 {
	fill: #91a5c7;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7-1-5-2-6 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//add_to_buildpath.svg#linearGradient4877-1-7-2);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7-4-5-1-3-4 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//add_to_buildpath.svg#linearGradient4879-9-2-9);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-2-4 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-2-2-19 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-2-2-1-5 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g8762 {
	stroke: #ffffff;
	stroke-width: 2;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#g8919 {
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//add_to_buildpath.svg#filter8947);
	opacity: 0.75;
}

#path5581-4 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path4887-8-4-7-9 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#layer1-8-04 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#g5029-8-4 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.35782695000000020;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#rect4035-17-2-9 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.35782695000000020;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#g4094-4-8 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 5.99996613999999970;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#rect4035-1-1-5-53 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 5.99996613999999970;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#rect4035-1-7-1-5-23 {
	opacity: 0.50000000000000000;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 5.99996613999999970;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#rect4035-1-7-4-5-1-0 {
	opacity: 0.50000000000000000;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 5.99996613999999970;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#g5029-8-7-1 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.35782695000000020;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#rect4035-17-2-6-71 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.35782695000000020;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#g4094-4-1-9 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 5.99996613999999970;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#rect4035-1-1-5-4-8 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 5.99996613999999970;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#rect4035-1-7-1-5-2-8 {
	opacity: 0.50000000000000000;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 5.99996613999999970;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#rect4035-1-7-4-5-1-3-3 {
	opacity: 0.50000000000000000;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 5.99996613999999970;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#rect4035-1-1-5-2-29 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#rect4035-1-1-5-2-2-3 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#rect4035-1-1-5-2-2-1-3 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
}

#path5581 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//add_to_buildpath.svg#linearGradient5618);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//add_to_buildpath.svg#linearGradient8578);
	stroke-width: 0.97374785;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path4887-8-4-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//add_to_buildpath.svg#linearGradient5897);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//add_to_buildpath.svg#linearGradient5987);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#layer1-8 {
	display: inline;
}

#g5029-8 {
	display: inline;
}

#rect4035-17-2 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5 {
	fill: #91a5c7;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7-1-5 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//add_to_buildpath.svg#linearGradient4877-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7-4-5-1 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//add_to_buildpath.svg#linearGradient4879-9);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#g5029-8-7 {
	display: inline;
}

#rect4035-17-2-6 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-4 {
	fill: #91a5c7;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7-1-5-2 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//add_to_buildpath.svg#linearGradient4877-1-7);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-7-4-5-1-3 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//add_to_buildpath.svg#linearGradient4879-9-2);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-2 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-2-2 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4035-1-1-5-2-2-1 {
	fill: #5c7aaa;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

