@import "gotham";

#stop28458 {
	stop-color: #17325d;
	stop-opacity: 1;
}

#stop28460 {
	stop-color: #9daeca;
	stop-opacity: 1;
}

#stop28434 {
	stop-color: #5c7aaa;
	stop-opacity: 1;
}

#stop28436 {
	stop-color: #9dafcc;
	stop-opacity: 1;
}

#stop5593-0 {
	stop-color: #e0e566;
	stop-opacity: 1;
}

#stop5595-5 {
	stop-color: #82c448;
	stop-opacity: 1;
}

#stop5585-3 {
	stop-color: #426e4a;
	stop-opacity: 1;
}

#stop5587-3 {
	stop-color: #669f71;
	stop-opacity: 1;
}

#stop28530-1 {
	stop-color: #fff3d6;
	stop-opacity: 1;
}

#stop28532-9 {
	stop-color: #fbe19f;
	stop-opacity: 1;
}

#stop28534-9 {
	stop-color: #f8d888;
	stop-opacity: 1;
}

#stop4937-5-7-6 {
	stop-color: #bc7f32;
	stop-opacity: 1;
}

#stop4939-3-1-2 {
	stop-color: #a37840;
	stop-opacity: 1;
}

#stop28530-1-2 {
	stop-color: #fff3d6;
	stop-opacity: 1;
}

#stop28532-9-6 {
	stop-color: #fbe19f;
	stop-opacity: 1;
}

#stop28534-9-2 {
	stop-color: #f8d888;
	stop-opacity: 1;
}

#stop4937-5-7-6-4 {
	stop-color: #bc7f32;
	stop-opacity: 1;
}

#stop4939-3-1-2-4 {
	stop-color: #a37840;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g28426 {
	stroke-width: 0.69999999;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#path28406-0 {
	fill: none;
	stroke: #5c7aaa;
	stroke-width: 0.69999999;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path28406 {
	fill: none;
	stroke: #5c7aaa;
	stroke-width: 0.69999999;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path28430 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//add_linked_source_to_buildpath.svg#linearGradient28438);
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path5581 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//add_linked_source_to_buildpath.svg#linearGradient5618);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//add_linked_source_to_buildpath.svg#linearGradient5620);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#layer1-7 {
	display: inline;
}

#path4887-8-4-7-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//add_linked_source_to_buildpath.svg#linearGradient28666);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//add_linked_source_to_buildpath.svg#linearGradient28668);
	stroke-width: 0.91754627;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path4887-8-4-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//add_linked_source_to_buildpath.svg#linearGradient28613);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//add_linked_source_to_buildpath.svg#linearGradient28615);
	stroke-width: 0.91510159;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#rect28446 {
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//add_linked_source_to_buildpath.svg#linearGradient28462);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#path3986 {
	fill: #17325d;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

