/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#g18671 {
  fill: #ffffff;
  display: inline; }

#path18673 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path18675 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none; }

#path18677 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect18679 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none; }

#rect18681 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path18683 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#stop51106 {
  stop-color: #c5852c;
  stop-opacity: 1; }

#stop51108 {
  stop-color: #ad6c24;
  stop-opacity: 1; }

#stop3975-49 {
  stop-color: #f8d078;
  stop-opacity: 1; }

#stop3977-9 {
  stop-color: #f8f0c8;
  stop-opacity: 1; }

#stop3951-3 {
  stop-color: #9e6627;
  stop-opacity: 1; }

#stop3953-9 {
  stop-color: #c38536;
  stop-opacity: 1; }

#stop3957-3 {
  stop-color: #c38536;
  stop-opacity: 1; }

#stop3959-8 {
  stop-color: #f2dc91;
  stop-opacity: 1; }

#stop3961-7 {
  stop-color: #fbdc8b;
  stop-opacity: 1; }

#stop3963-3 {
  stop-color: #e6bd7a;
  stop-opacity: 1; }

#stop3965-00 {
  stop-color: #ba772f;
  stop-opacity: 1; }

#g51434 {
  fill: #ffffff;
  stroke: #ffffff;
  display: inline; }

#path51436 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 0.86318785;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#path51438 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 0.86318785;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0; }

#path51440 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 0.86318785;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#stop51098 {
  stop-color: #c1ebca;
  stop-opacity: 1; }

#stop51100 {
  stop-color: #7a99bb;
  stop-opacity: 1; }

#stop51090 {
  stop-color: #6994ad;
  stop-opacity: 1; }

#stop51092 {
  stop-color: #095a98;
  stop-opacity: 1; }

#g51271 {
  fill: #ffffff;
  stroke: #ffffff; }

#g51273 {
  fill: #ffffff;
  stroke: #ffffff;
  display: inline; }

#path51275 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 0.86318785;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#path51277 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 0.86318785;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0; }

#path51279 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 0.86318785;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#path51281 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: 1;
  display: inline; }

#g18566 {
  display: inline; }

#layer1-4-8 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 2.42094517;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  display: inline;
  filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//configure_output_folder.svg#filter19457); }

#g17594-9 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 2.00652146;
  stroke-miterlimit: 4;
  stroke-dasharray: none; }

#path6139-6 {
  color: #000000;
  fill: #ffffff;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: #ffffff;
  stroke-width: 2.00652146;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#path6139-5-2 {
  color: #000000;
  fill: #ffffff;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: #ffffff;
  stroke-width: 2.00652146;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#rect9436-2 {
  color: #000000;
  fill: #ffffff;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: #ffffff;
  stroke-width: 2.00652146;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#g50308 {
  display: inline; }

#rect13693-3-39 {
  fill: #fdf7eb;
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//configure_output_folder.svg#linearGradient50313);
  stroke-width: 0.86318785;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#rect13693-40 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//configure_output_folder.svg#linearGradient50259);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//configure_output_folder.svg#linearGradient50261);
  stroke-width: 0.86318785;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0; }

#path13797-4 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//configure_output_folder.svg#linearGradient50256);
  stroke-width: 0.86318785;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#g51341 {
  display: inline; }

#path50315-7 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline;
  filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//configure_output_folder.svg#filter51442); }

#path50315 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//configure_output_folder.svg#linearGradient51102);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//configure_output_folder.svg#linearGradient51094);
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: 1;
  display: inline; }

#g51262 {
  display: inline; }

#layer1-4-1 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 2.42094517;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  display: inline;
  filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//configure_output_folder.svg#filter51287); }

#g17594-4 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 2.00652146;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none; }

#path6139-1 {
  color: #000000;
  fill: #ffffff;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: #ffffff;
  stroke-width: 2.00652146;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#path6139-5-3 {
  color: #000000;
  fill: #ffffff;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: #ffffff;
  stroke-width: 2.00652146;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#rect9436-4 {
  color: #000000;
  fill: #ffffff;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: #ffffff;
  stroke-width: 2.00652146;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#layer1-4 {
  display: inline; }

#path6139 {
  color: #000000;
  fill: #ffffff;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: #4d607b;
  stroke-width: 0.82881737;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#path6139-5 {
  color: #000000;
  fill: #4e8fbd;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: #4d607b;
  stroke-width: 0.59773082;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#rect9436 {
  color: #000000;
  fill: #4d607b;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: #384e6e;
  stroke-width: 0.5;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }
