/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop23114 {
  stop-color: #ffdf7f;
  stop-opacity: 1; }

#stop23116 {
  stop-color: #ffdf5f;
  stop-opacity: 1; }

#stop23098 {
  stop-color: #be9c28;
  stop-opacity: 1; }

#stop23100 {
  stop-color: #aa821e;
  stop-opacity: 1; }

#stop23104 {
  stop-color: #cfa73e;
  stop-opacity: 1; }

#stop23118 {
  stop-color: #fecf6c;
  stop-opacity: 1; }

#stop23106 {
  stop-color: #ffea91;
  stop-opacity: 1; }

#stop23088 {
  stop-color: #be9c28;
  stop-opacity: 1; }

#stop23090 {
  stop-color: #aa821e;
  stop-opacity: 1; }

#path22314 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//exc_catch.svg#linearGradient23110);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//exc_catch.svg#linearGradient23094);
  stroke-width: 1.08058035;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#rect22316 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//exc_catch.svg#linearGradient23108);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//exc_catch.svg#linearGradient23092);
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dashoffset: 0;
  display: inline; }

#path10927-5-7-4-4 {
  fill: #366c9a;
  fill-opacity: 1;
  display: inline; }
