@import "gotham";

#stop40837 {
	stop-color: #4e8fbd;
	stop-opacity: 1;
}

#stop41609 {
	stop-color: #6f7684;
	stop-opacity: 1;
}

#stop40839 {
	stop-color: #4d5a5d;
	stop-opacity: 1;
}

#stop4996 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop4998 {
	stop-color: #dce7f7;
	stop-opacity: 1;
}

#stop4896 {
	stop-color: #e0c88f;
	stop-opacity: 1;
}

#stop4898 {
	stop-color: #d5b269;
	stop-opacity: 1;
}

#stop4904 {
	stop-color: #c7b571;
	stop-opacity: 1;
}

#stop4906 {
	stop-color: #9a9a8f;
	stop-opacity: 1;
}

#layer1-9 {
	display: inline;
}

#path3986 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//file_mode.svg#linearGradient22377);
	fill-opacity: 1;
	stroke: none;
}

#layer1-0 {
	display: inline;
}

#layer1-6 {
	display: inline;
}

#rect4001-3 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//file_mode.svg#linearGradient5000);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4884 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//file_mode.svg#linearGradient4900);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//file_mode.svg#linearGradient4884);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path10927-5-7-4-4 {
	fill: #366c9a;
	fill-opacity: 1;
	display: inline;
}

