@import "gotham";

#stop6864 {
	stop-color: #c4a543;
	stop-opacity: 1;
}

#stop6866 {
	stop-color: #ae8820;
	stop-opacity: 1;
}

#stop8082 {
	stop-color: #5c7aaa;
	stop-opacity: 1;
}

#stop8086 {
	stop-color: #6f7684;
	stop-opacity: 1;
}

#stop8084 {
	stop-color: #4d5a5d;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-6-4-9-8-2 {
	stop-color: #75ba7a;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-24-8-4-3-2 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-8-4-2-9-2 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop6864-2 {
	stop-color: #c4a543;
	stop-opacity: 1;
}

#stop6866-8 {
	stop-color: #ae8820;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g11331-3-1-1 {
	display: inline;
}

#g13408-8 {
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-opacity: 1;
}

#g6124-3 {
	display: inline;
}

#text6430 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	font-family: Sans;
}

#g6438 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#path4108-9-0-2 {
	font-size: 13.58917427000000100px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #6f7684;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#path4108-9-0-2-2 {
	font-size: 13.58917427000000100px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #6f7684;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#path4108-9-0-2-9 {
	font-size: 13.58917427000000100px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #6f7684;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#path4108-9-0-2-9-9 {
	font-size: 13.58917427000000100px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #6f7684;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#rect6724 {
	fill: #fefdef;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//super_co.svg#linearGradient6868);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path10796-2-6-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//super_co.svg#linearGradient3929-5);
	fill-opacity: 1;
	stroke: #14733c;
	stroke-width: 5.25411463;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path4108-9-0 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//super_co.svg#linearGradient7993);
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#rect6724-2 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #fefdef;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//super_co.svg#linearGradient6885);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	font-family: Sans;
}

