/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop4945 {
  stop-color: #000000;
  stop-opacity: 1; }

#stop4947 {
  stop-color: #000000;
  stop-opacity: 0; }

#stop4812 {
  stop-color: #bfb688;
  stop-opacity: 1; }

#stop4814 {
  stop-color: #8694ae;
  stop-opacity: 1; }

#stop5059 {
  stop-color: #677da9;
  stop-opacity: 1; }

#stop5061 {
  stop-color: #b4bbd1;
  stop-opacity: 1; }

#stop4964-2 {
  stop-color: #7cb87d;
  stop-opacity: 1; }

#stop4966-1 {
  stop-color: #a8ceb7;
  stop-opacity: 1; }

#stop4912-8 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop4914-8 {
  stop-color: #d1eeff;
  stop-opacity: 1; }

#stop4996-5 {
  stop-color: #d1eeff;
  stop-opacity: 1; }

#stop4998-5 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop4912-8-4 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop4914-8-0 {
  stop-color: #d1eeff;
  stop-opacity: 1; }

#stop4996-5-8 {
  stop-color: #d1eeff;
  stop-opacity: 1; }

#stop4998-5-8 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop4812-1 {
  stop-color: #bfb688;
  stop-opacity: 1; }

#stop4814-7 {
  stop-color: #8694ae;
  stop-opacity: 1; }

#stop4830 {
  stop-color: #3979bd;
  stop-opacity: 1; }

#stop4832 {
  stop-color: #9abbdf;
  stop-opacity: 1; }

#stop4820 {
  stop-color: #eb9186;
  stop-opacity: 1; }

#stop4822 {
  stop-color: #e06b5e;
  stop-opacity: 1; }

#stop4830-8 {
  stop-color: #3979bd;
  stop-opacity: 1; }

#stop4832-2 {
  stop-color: #9abbdf;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#rect3997-9 {
  fill: #f4fcff;
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_automatic.svg#linearGradient4121);
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#rect4853-82-7 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_automatic.svg#linearGradient5062);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4853-82-0 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_automatic.svg#linearGradient4975-2);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4816 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_automatic.svg#linearGradient4148);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path4826-4 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_automatic.svg#linearGradient4851);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4853-82-7-2-3 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_automatic.svg#linearGradient4949);
  fill-opacity: 1;
  stroke: none;
  display: inline;
  opacity: 0.25; }

#rect4853-82-0-4-2 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_automatic.svg#linearGradient4951);
  fill-opacity: 1;
  stroke: none;
  display: inline;
  opacity: 0.25; }

#rect3997-9-1 {
  fill: #f4fcff;
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_automatic.svg#linearGradient4107);
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#rect4816-1-1-4 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_automatic.svg#linearGradient5065);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path4959-6 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_automatic.svg#radialGradient5038);
  fill-opacity: 1;
  stroke: #379860;
  stroke-width: 1.34009874;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#rect4853-82-7-2 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_automatic.svg#linearGradient4063);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4853-82-0-4 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_automatic.svg#linearGradient4975-2-9);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path4826 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_automatic.svg#linearGradient4834);
  fill-opacity: 1;
  stroke: none;
  display: inline; }
