@import "gotham";

#stop4830 {
	stop-color: #3979bd;
	stop-opacity: 1;
}

#stop4832 {
	stop-color: #9abbdf;
	stop-opacity: 1;
}

#stop4830-8 {
	stop-color: #3979bd;
	stop-opacity: 1;
}

#stop4832-2 {
	stop-color: #9abbdf;
	stop-opacity: 1;
}

#stop4820 {
	stop-color: #eb9186;
	stop-opacity: 1;
}

#stop4822 {
	stop-color: #e06b5e;
	stop-opacity: 1;
}

#stop4996-5-4 {
	stop-color: #d1eeff;
	stop-opacity: 1;
}

#stop4998-5-1 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4912-8-7 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914-8-4 {
	stop-color: #d1eeff;
	stop-opacity: 1;
}

#stop4812-9 {
	stop-color: #bfb688;
	stop-opacity: 1;
}

#stop4814-3 {
	stop-color: #8694ae;
	stop-opacity: 1;
}

#stop5059-0 {
	stop-color: #677da9;
	stop-opacity: 1;
}

#stop5061-9 {
	stop-color: #b4bbd1;
	stop-opacity: 1;
}

#stop4964-2-7-4 {
	stop-color: #7cb87d;
	stop-opacity: 1;
}

#stop4966-1-6-0 {
	stop-color: #a8ceb7;
	stop-opacity: 1;
}

#stop5059-1-8 {
	stop-color: #677da9;
	stop-opacity: 1;
}

#stop5061-1-8 {
	stop-color: #b4bbd1;
	stop-opacity: 1;
}

#stop4996-5-5 {
	stop-color: #d1eeff;
	stop-opacity: 1;
}

#stop4998-5-5 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4912-8-1 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914-8-1 {
	stop-color: #d1eeff;
	stop-opacity: 1;
}

#stop4964-2-6 {
	stop-color: #7cb87d;
	stop-opacity: 1;
}

#stop4966-1-1 {
	stop-color: #a8ceb7;
	stop-opacity: 1;
}

#stop5059-3 {
	stop-color: #677da9;
	stop-opacity: 1;
}

#stop5061-2 {
	stop-color: #b4bbd1;
	stop-opacity: 1;
}

#stop4964-6 {
	stop-color: #7cb87d;
	stop-opacity: 1;
}

#stop4966-8 {
	stop-color: #a8ceb7;
	stop-opacity: 1;
}

#stop4964-2-7 {
	stop-color: #7cb87d;
	stop-opacity: 1;
}

#stop4966-1-6 {
	stop-color: #a8ceb7;
	stop-opacity: 1;
}

#stop5059-1 {
	stop-color: #677da9;
	stop-opacity: 1;
}

#stop5061-1 {
	stop-color: #b4bbd1;
	stop-opacity: 1;
}

#stop4996-5 {
	stop-color: #d1eeff;
	stop-opacity: 1;
}

#stop4998-5 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4912-8 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914-8 {
	stop-color: #d1eeff;
	stop-opacity: 1;
}

#stop4964-2 {
	stop-color: #7cb87d;
	stop-opacity: 1;
}

#stop4966-1 {
	stop-color: #a8ceb7;
	stop-opacity: 1;
}

#stop5069 {
	stop-color: #677da9;
	stop-opacity: 1;
}

#stop5071 {
	stop-color: #8998bb;
	stop-opacity: 1;
}

#stop5059 {
	stop-color: #677da9;
	stop-opacity: 1;
}

#stop5061 {
	stop-color: #b4bbd1;
	stop-opacity: 1;
}

#stop4812 {
	stop-color: #bfb688;
	stop-opacity: 1;
}

#stop4814 {
	stop-color: #8694ae;
	stop-opacity: 1;
}

#stop4812-6 {
	stop-color: #bfb688;
	stop-opacity: 1;
}

#stop4814-1 {
	stop-color: #8694ae;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#layer1-2 {
	display: inline;
}

#g11331-3-1-1 {
	display: inline;
}

#g13408-8 {
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-opacity: 1;
}

#g7140 {
	display: inline;
}

#rect3997-9-8 {
	fill: #f4fcff;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_horizontal.svg#linearGradient4365);
	stroke-width: 1.38271606;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect3997-9 {
	fill: #f4fcff;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_horizontal.svg#linearGradient4121);
	stroke-width: 1.38271606;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect4816-1-1-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_horizontal.svg#linearGradient5065);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4816-1-1-4-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_horizontal.svg#linearGradient5063);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4959-6 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_horizontal.svg#radialGradient5038);
	fill-opacity: 1;
	stroke: #379860;
	stroke-width: 1.34009874;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#rect4853-82-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_horizontal.svg#linearGradient5062);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_horizontal.svg#linearGradient4975-2);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4816-1-1-4-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_horizontal.svg#linearGradient4190);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4959-6-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_horizontal.svg#radialGradient5038-5);
	fill-opacity: 1;
	stroke: #379860;
	stroke-width: 1.34009874;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path4959-9 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_horizontal.svg#radialGradient4968-2);
	fill-opacity: 1;
	stroke: #379860;
	stroke-width: 1.34009874;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#rect4816-1-1-4-27 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_horizontal.svg#linearGradient5065-4);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4959-6-9 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_horizontal.svg#radialGradient5038-52);
	fill-opacity: 1;
	stroke: #379860;
	stroke-width: 1.34009874;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#rect4853-82-7-5 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_horizontal.svg#linearGradient5062-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_horizontal.svg#linearGradient4975-2-2);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4816-1-1-4-1-3 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_horizontal.svg#linearGradient4190-9);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4959-6-4-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_horizontal.svg#radialGradient5038-5-1);
	fill-opacity: 1;
	stroke: #379860;
	stroke-width: 1.34009874;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#rect4816-1-1-4-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_horizontal.svg#linearGradient4058);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect3997-9-1 {
	fill: #f4fcff;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_horizontal.svg#linearGradient5043);
	stroke-width: 1.38271606;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect4853-82-7-9 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_horizontal.svg#linearGradient5062-13);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0-8 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_horizontal.svg#linearGradient4975-2-23);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4816 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_horizontal.svg#linearGradient4148);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4826-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_horizontal.svg#linearGradient4851);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4826 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//th_horizontal.svg#linearGradient4834);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

