/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop3791 {
  stop-color: #40a4ce;
  stop-opacity: 1; }

#stop3793 {
  stop-color: #3c71b2;
  stop-opacity: 1; }

#stop3795 {
  stop-color: #72bcda;
  stop-opacity: 1; }

#stop5854 {
  stop-color: #40a4ce;
  stop-opacity: 1; }

#stop5860 {
  stop-color: #3c71b2;
  stop-opacity: 1; }

#stop5856 {
  stop-color: #40a4ce;
  stop-opacity: 1; }

#stop5846 {
  stop-color: #7d6fba;
  stop-opacity: 1; }

#stop5848 {
  stop-color: #5b4b9d;
  stop-opacity: 1; }

#stop5850 {
  stop-color: #b3abd7;
  stop-opacity: 1; }

#stop5834 {
  stop-color: #7d6fba;
  stop-opacity: 1; }

#stop5840 {
  stop-color: #4b3e81;
  stop-opacity: 1; }

#stop5836 {
  stop-color: #9d93cb;
  stop-opacity: 1; }

#stop10800-5-2-1-8-20-6-4-9-8-2-0-4 {
  stop-color: #4f9e55;
  stop-opacity: 1; }

#stop10806-6-8-5-3-9-24-8-4-3-2-6-8 {
  stop-color: #418a4d;
  stop-opacity: 1; }

#stop10802-1-5-3-0-4-8-4-2-9-2-3-7 {
  stop-color: #b2ce9b;
  stop-opacity: 1; }

#stop4791-4 {
  stop-color: #4e8fbd;
  stop-opacity: 1; }

#stop4793-8 {
  stop-color: #30495a;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#g11331-3-1-1 {
  display: inline; }

#g13408-8 {
  fill: #737986;
  fill-opacity: 1;
  stroke: #595e68;
  stroke-opacity: 1; }

#g6940 {
  display: inline;
  stroke-width: 1.40911041;
  stroke-miterlimit: 4;
  stroke-dasharray: none; }

#path10796-2-6-2 {
  font-size: 13.58917427px;
  font-style: normal;
  font-weight: normal;
  line-height: 125%;
  letter-spacing: 0px;
  word-spacing: 0px;
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//type_mode.svg#linearGradient5058);
  fill-opacity: 1;
  stroke: #14733c;
  stroke-width: 3.36602616;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline;
  font-family: Sans; }

#g6940-5 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//type_mode.svg#linearGradient5838);
  fill-opacity: 1;
  stroke: #564895;
  stroke-opacity: 1;
  display: inline;
  stroke-width: 1.40911041;
  stroke-miterlimit: 4;
  stroke-dasharray: none; }

#path10796-2-6-2-7 {
  font-size: 13.58917427000000089px;
  font-style: normal;
  font-weight: normal;
  line-height: 125%;
  letter-spacing: 0px;
  word-spacing: 0px;
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//type_mode.svg#linearGradient5842);
  fill-opacity: 1;
  stroke: #564895;
  stroke-width: 3.36602616000000010;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline;
  font-family: Sans; }

#g6940-5-7 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//type_mode.svg#linearGradient5858);
  fill-opacity: 1;
  stroke: #2d6193;
  stroke-opacity: 1;
  display: inline;
  stroke-width: 1.40911041;
  stroke-miterlimit: 4;
  stroke-dasharray: none; }

#path10796-2-6-2-7-5 {
  font-size: 13.58917427000000089px;
  font-style: normal;
  font-weight: normal;
  line-height: 125%;
  letter-spacing: 0px;
  word-spacing: 0px;
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//type_mode.svg#linearGradient5862);
  fill-opacity: 1;
  stroke: #2d6193;
  stroke-width: 3.36602616000000010;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline;
  font-family: Sans; }

#layer1-9-2 {
  fill: #ffffff;
  fill-opacity: 1;
  display: inline; }

#path3986-8 {
  opacity: 0.48760334;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none; }

#layer1-9 {
  display: inline; }

#path3986 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//type_mode.svg#linearGradient4888);
  fill-opacity: 1;
  stroke: none; }
