@import "gotham";

#stop3781 {
	stop-color: #105c9c;
	stop-opacity: 1;
}

#stop3783 {
	stop-color: #003059;
	stop-opacity: 1;
}

#stop4840 {
	stop-color: #6b96c2;
	stop-opacity: 1;
}

#stop4846 {
	stop-color: #386da3;
	stop-opacity: 1;
}

#stop4842 {
	stop-color: #78b5c2;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g11331-3-1-1 {
	display: inline;
}

#g13408-8 {
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-opacity: 1;
}

#path3971 {
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//view_menu.svg#linearGradient4844);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/elcl16//view_menu.svg#linearGradient3785);
	stroke-width: 0.75884784;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

