@import "gotham";

#stop11292 {
	stop-color: #567ead;
	stop-opacity: 1;
}

#stop11294 {
	stop-color: #35679d;
	stop-opacity: 1;
}

#stop4996-1 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop4998-89 {
	stop-color: #dce7f7;
	stop-opacity: 1;
}

#stop4896-8 {
	stop-color: #e0c88f;
	stop-opacity: 1;
}

#stop4898-5 {
	stop-color: #d5b269;
	stop-opacity: 1;
}

#stop4904-2 {
	stop-color: #bfb688;
	stop-opacity: 1;
}

#stop4906-2 {
	stop-color: #8392b0;
	stop-opacity: 1;
}

#stop4879-1 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop4881-4 {
	stop-color: #5e76a3;
	stop-opacity: 1;
}

#stop4863-1 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop4865-52 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#layer1-2 {
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//build_exec.svg#linearGradient8238);
	stroke-opacity: 1;
	display: inline;
}

#g11331-3-1-1-7 {
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//build_exec.svg#linearGradient25569);
	display: inline;
}

#g13408-8-9 {
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-opacity: 1;
}

#g6124-3 {
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//build_exec.svg#linearGradient25571);
	display: inline;
}

#text6430 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	font-family: Sans;
}

#g6438 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#layer1-9 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #236298;
	fill-opacity: 1;
	stroke: #236298;
	stroke-width: 0.24860173;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	font-family: Sans;
}

#text3909-7-7-1 {
	font-size: 11.05178356px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #236298;
	fill-opacity: 1;
	stroke: #236298;
	stroke-width: 0.24860173;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	font-family: AustralianFlyingCorpsStencil;
}

#layer1-95 {
	display: inline;
}

#rect4001-3 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//build_exec.svg#linearGradient4101);
	fill-opacity: 1;
	stroke: none;
}

#path4884 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//build_exec.svg#linearGradient4900-1);
	fill-opacity: 1;
	stroke: none;
}

#rect4001 {
	display: inline;
	fill: none;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//build_exec.svg#linearGradient4908-2);
	stroke-width: 0.99539304;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect4001-1 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//build_exec.svg#linearGradient4867-7);
	fill-opacity: 1;
	stroke: none;
}

#rect4001-1-7 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//build_exec.svg#linearGradient4869-17);
	fill-opacity: 1;
	stroke: none;
}

#path4114 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: 11.05178356px;
	line-height: 125%;
	font-family: AustralianFlyingCorpsStencil;
	text-align: start;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	display: inline;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#path4114-5 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: 11.05178356px;
	line-height: 125%;
	font-family: AustralianFlyingCorpsStencil;
	text-align: start;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	display: inline;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#text4130 {
	font-style: normal;
	font-weight: normal;
	font-size: 5.12397814px;
	line-height: 125%;
	font-family: Sans;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #17325d;
	fill-opacity: 1;
	stroke: none;
}

#path4180 {
	font-weight: bold;
	fill: #17325d;
	fill-opacity: 1;
}

#path4182 {
	font-weight: bold;
	fill: #17325d;
	fill-opacity: 1;
}

#path4184 {
	font-weight: bold;
	fill: #17325d;
	fill-opacity: 1;
}

