/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop3975 {
  stop-color: #f8d078;
  stop-opacity: 1; }

#stop3977 {
  stop-color: #f8f0c8;
  stop-opacity: 1; }

#stop3969 {
  stop-color: #c48a4e;
  stop-opacity: 1; }

#stop3971 {
  stop-color: #ad6c24;
  stop-opacity: 1; }

#stop3957 {
  stop-color: #c38536;
  stop-opacity: 1; }

#stop3959 {
  stop-color: #f2dc91;
  stop-opacity: 1; }

#stop3961 {
  stop-color: #fbdc8b;
  stop-opacity: 1; }

#stop3963 {
  stop-color: #e6bd7a;
  stop-opacity: 1; }

#stop3965 {
  stop-color: #ba772f;
  stop-opacity: 1; }

#stop3951 {
  stop-color: #9e6627;
  stop-opacity: 1; }

#stop3953 {
  stop-color: #c38536;
  stop-opacity: 1; }

#path4919 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dashoffset: 0;
  display: inline; }

#stop4286 {
  stop-color: #6588c1;
  stop-opacity: 0; }

#stop4288 {
  stop-color: #becce3;
  stop-opacity: 1; }

#stop4290 {
  stop-color: #809dcb;
  stop-opacity: 0; }

#stop10159-8-3 {
  stop-color: #6588c1;
  stop-opacity: 1; }

#stop10165-3-9 {
  stop-color: #becce3;
  stop-opacity: 1; }

#stop10161-5-0 {
  stop-color: #809dcb;
  stop-opacity: 1; }

#stop10416-3 {
  stop-color: #5078b9;
  stop-opacity: 1; }

#stop10422-8 {
  stop-color: #6d8cbd;
  stop-opacity: 1; }

#stop10418-4 {
  stop-color: #5f88c9;
  stop-opacity: 1; }

#stop10434-4 {
  stop-color: #1f4d9a;
  stop-opacity: 1; }

#stop10436-2 {
  stop-color: #4e6da1;
  stop-opacity: 1; }

#stop10438-9 {
  stop-color: #567ebc;
  stop-opacity: 1; }

#stop10450-0 {
  stop-color: #ecac18;
  stop-opacity: 1; }

#stop10458-2 {
  stop-color: #ffe38d;
  stop-opacity: 1; }

#stop10456-96 {
  stop-color: #fdf5d2;
  stop-opacity: 1; }

#stop10460-3 {
  stop-color: #ffeba7;
  stop-opacity: 1; }

#stop10452-1 {
  stop-color: #e5b630;
  stop-opacity: 1; }

#stop10750-5 {
  stop-color: #ecac18;
  stop-opacity: 1; }

#stop10752-8 {
  stop-color: #f1ce66;
  stop-opacity: 1; }

#stop10754-8 {
  stop-color: #f6e5a6;
  stop-opacity: 1; }

#stop10756-4 {
  stop-color: #f1cf6c;
  stop-opacity: 1; }

#stop10758-7 {
  stop-color: #e5b630;
  stop-opacity: 1; }

#stop10450-3-5-6-7 {
  stop-color: #cf9307;
  stop-opacity: 1; }

#stop10456-4-1-5-3 {
  stop-color: #f7d87b;
  stop-opacity: 1; }

#stop10452-22-7-8-4 {
  stop-color: #ebb313;
  stop-opacity: 1; }

#stop6283-0-2-2-1 {
  stop-color: #f7f9fb;
  stop-opacity: 1; }

#stop6285-5-0-9-7 {
  stop-color: #ffd680;
  stop-opacity: 1; }

#stop4924-3 {
  stop-color: #0d5c9a;
  stop-opacity: 1; }

#stop4926-7 {
  stop-color: #4077a7;
  stop-opacity: 1; }

#stop10151-3-0 {
  stop-color: #6084be;
  stop-opacity: 1; }

#stop10153-72-3 {
  stop-color: #7da0d5;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#g13862 {
  display: inline; }

#rect13693-3 {
  display: inline;
  fill: #fdf7eb;
  fill-opacity: 1;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//imp_extfeat.svg#linearGradient3939);
  stroke-width: 3.02792978;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#rect13693 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//imp_extfeat.svg#linearGradient4933);
  fill-opacity: 1;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//imp_extfeat.svg#linearGradient4935);
  stroke-width: 3.02792978;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#path13797 {
  fill: none;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//imp_extfeat.svg#linearGradient3945);
  stroke-width: 3.02792978;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#path4920 {
  display: inline;
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//imp_extfeat.svg#linearGradient19869);
  fill-opacity: 1;
  stroke: none; }

#g4229 {
  display: inline; }

#rect10007-0-74-2-7-6 {
  display: inline;
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//imp_extfeat.svg#linearGradient10770-6);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#path4313-8-8 {
  color: #000000;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: medium;
  line-height: normal;
  font-family: sans-serif;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-color: #000000;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  baseline-shift: baseline;
  text-anchor: start;
  white-space: normal;
  clip-rule: nonzero;
  display: inline;
  overflow: visible;
  visibility: visible;
  opacity: 1;
  isolation: auto;
  mix-blend-mode: normal;
  color-interpolation: sRGB;
  color-interpolation-filters: linearRGB;
  solid-color: #000000;
  solid-opacity: 1;
  fill: #c18e00;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: none;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
  color-rendering: auto;
  image-rendering: auto;
  shape-rendering: auto;
  text-rendering: auto;
  enable-background: accumulate; }

#path4313-8-8-7 {
  color: #000000;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: medium;
  line-height: normal;
  font-family: sans-serif;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-color: #000000;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  baseline-shift: baseline;
  text-anchor: start;
  white-space: normal;
  clip-rule: nonzero;
  display: inline;
  overflow: visible;
  visibility: visible;
  opacity: 1;
  isolation: auto;
  mix-blend-mode: normal;
  color-interpolation: sRGB;
  color-interpolation-filters: linearRGB;
  solid-color: #000000;
  solid-opacity: 1;
  fill: #c18e00;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: none;
  stroke-width: 0.94926554px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
  color-rendering: auto;
  image-rendering: auto;
  shape-rendering: auto;
  text-rendering: auto;
  enable-background: accumulate; }

#path4313-5-1-8 {
  color: #000000;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: medium;
  line-height: normal;
  font-family: sans-serif;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-color: #000000;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  baseline-shift: baseline;
  text-anchor: start;
  white-space: normal;
  clip-rule: nonzero;
  display: inline;
  overflow: visible;
  visibility: visible;
  opacity: 1;
  isolation: auto;
  mix-blend-mode: normal;
  color-interpolation: sRGB;
  color-interpolation-filters: linearRGB;
  solid-color: #000000;
  solid-opacity: 1;
  fill: #9e7400;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: none;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
  color-rendering: auto;
  image-rendering: auto;
  shape-rendering: auto;
  text-rendering: auto;
  enable-background: accumulate; }

#rect10007-0-74-2-7 {
  display: inline;
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//imp_extfeat.svg#linearGradient10774-5);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#path4313-5-1 {
  color: #000000;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: medium;
  line-height: normal;
  font-family: sans-serif;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-color: #000000;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  baseline-shift: baseline;
  text-anchor: start;
  white-space: normal;
  clip-rule: nonzero;
  display: inline;
  overflow: visible;
  visibility: visible;
  opacity: 1;
  isolation: auto;
  mix-blend-mode: normal;
  color-interpolation: sRGB;
  color-interpolation-filters: linearRGB;
  solid-color: #000000;
  solid-opacity: 1;
  fill: #9e7400;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: none;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
  color-rendering: auto;
  image-rendering: auto;
  shape-rendering: auto;
  text-rendering: auto;
  enable-background: accumulate; }

#path4313-8 {
  color: #000000;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: medium;
  line-height: normal;
  font-family: sans-serif;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-color: #000000;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  baseline-shift: baseline;
  text-anchor: start;
  white-space: normal;
  clip-rule: nonzero;
  display: inline;
  overflow: visible;
  visibility: visible;
  opacity: 1;
  isolation: auto;
  mix-blend-mode: normal;
  color-interpolation: sRGB;
  color-interpolation-filters: linearRGB;
  solid-color: #000000;
  solid-opacity: 1;
  fill: #c18e00;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: none;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
  color-rendering: auto;
  image-rendering: auto;
  shape-rendering: auto;
  text-rendering: auto;
  enable-background: accumulate; }

#rect10007-0-74-2 {
  display: inline;
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//imp_extfeat.svg#linearGradient10778-6);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1.50161433;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#path4313 {
  color: #000000;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: medium;
  line-height: normal;
  font-family: sans-serif;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-color: #000000;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  baseline-shift: baseline;
  text-anchor: start;
  white-space: normal;
  clip-rule: nonzero;
  display: inline;
  overflow: visible;
  visibility: visible;
  opacity: 1;
  isolation: auto;
  mix-blend-mode: normal;
  color-interpolation: sRGB;
  color-interpolation-filters: linearRGB;
  solid-color: #000000;
  solid-opacity: 1;
  fill: #c18e00;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: none;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
  color-rendering: auto;
  image-rendering: auto;
  shape-rendering: auto;
  text-rendering: auto;
  enable-background: accumulate; }

#path4313-5 {
  color: #000000;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: medium;
  line-height: normal;
  font-family: sans-serif;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-color: #000000;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  baseline-shift: baseline;
  text-anchor: start;
  white-space: normal;
  clip-rule: nonzero;
  display: inline;
  overflow: visible;
  visibility: visible;
  opacity: 1;
  isolation: auto;
  mix-blend-mode: normal;
  color-interpolation: sRGB;
  color-interpolation-filters: linearRGB;
  solid-color: #000000;
  solid-opacity: 1;
  fill: #9e7400;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: none;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
  color-rendering: auto;
  image-rendering: auto;
  shape-rendering: auto;
  text-rendering: auto;
  enable-background: accumulate; }

#rect10007-0 {
  display: inline;
  fill: #5079bc;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#rect10007-0-7 {
  display: inline;
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//imp_extfeat.svg#linearGradient10782-3);
  fill-opacity: 1;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//imp_extfeat.svg#linearGradient10784-2);
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#rect10007-0-74 {
  display: inline;
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//imp_extfeat.svg#linearGradient10786-1);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#rect10007-6 {
  display: inline;
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//imp_extfeat.svg#linearGradient10790-8);
  fill-opacity: 1;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//imp_extfeat.svg#linearGradient10792-6);
  stroke-width: 3.58380508;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#rect10007-6-6 {
  display: inline;
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//imp_extfeat.svg#linearGradient10790-8-2);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 3.58380508;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }
