@import "gotham";

#stop4786 {
	stop-color: #b68e69;
	stop-opacity: 1;
}

#stop4792 {
	stop-color: #d5ae7d;
	stop-opacity: 1;
}

#stop4788 {
	stop-color: #c69863;
	stop-opacity: 1;
}

#stop5137-4 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop5139-0 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#stop4879-1 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop4881-4 {
	stop-color: #5e76a3;
	stop-opacity: 1;
}

#stop4904-2 {
	stop-color: #bfb688;
	stop-opacity: 1;
}

#stop4906-2 {
	stop-color: #8392b0;
	stop-opacity: 1;
}

#stop4896-8 {
	stop-color: #e0c88f;
	stop-opacity: 1;
}

#stop4898-5 {
	stop-color: #d5b269;
	stop-opacity: 1;
}

#stop4996-1 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop4998-89 {
	stop-color: #dce7f7;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#layer1-1 {
	display: inline;
}

#rect4001-3 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//validate.svg#linearGradient4101);
	fill-opacity: 1;
	stroke: none;
}

#path4884 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//validate.svg#linearGradient4900-1);
	fill-opacity: 1;
	stroke: none;
}

#rect4001 {
	display: inline;
	fill: none;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//validate.svg#linearGradient4908-2);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect4001-1 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//validate.svg#linearGradient4867-7);
	fill-opacity: 1;
	stroke: none;
}

#rect4001-1-7 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//validate.svg#linearGradient4869-17);
	fill-opacity: 1;
	stroke: none;
}

#rect4001-1-7-4 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//validate.svg#linearGradient4871-2);
	fill-opacity: 1;
	stroke: none;
}

#rect4001-1-7-4-0 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//validate.svg#linearGradient4875-9);
	fill-opacity: 1;
	stroke: none;
}

#rect4001-1-7-4-0-9 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//validate.svg#linearGradient4873-1);
	fill-opacity: 1;
	stroke: none;
}

#g4206 {
	display: inline;
}

#path4065-9 {
	display: inline;
	fill: none;
	stroke: #ffffff;
	stroke-width: 1.79999995;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
	filter: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//validate.svg#filter11154);
}

#path4065 {
	display: inline;
	fill: none;
	stroke: #0073ff;
	stroke-width: 1.79999995;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

