@import "gotham";

#stop11292 {
	stop-color: #567ead;
	stop-opacity: 1;
}

#stop11294 {
	stop-color: #35679d;
	stop-opacity: 1;
}

#stop8224-2 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop8226-8 {
	stop-color: #e4f173;
	stop-opacity: 1;
}

#stop8228-1 {
	stop-color: #f4f4cb;
	stop-opacity: 1;
}

#stop3969 {
	stop-color: #c48a4e;
	stop-opacity: 1;
}

#stop3971 {
	stop-color: #ad6c24;
	stop-opacity: 1;
}

#stop3975 {
	stop-color: #f8d078;
	stop-opacity: 1;
}

#stop3977 {
	stop-color: #f8f0c8;
	stop-opacity: 1;
}

#stop3951 {
	stop-color: #9e6627;
	stop-opacity: 1;
}

#stop3953 {
	stop-color: #c38536;
	stop-opacity: 1;
}

#stop3957 {
	stop-color: #c38536;
	stop-opacity: 1;
}

#stop3959 {
	stop-color: #f2dc91;
	stop-opacity: 1;
}

#stop3961 {
	stop-color: #fbdc8b;
	stop-opacity: 1;
}

#stop3963 {
	stop-color: #e6bd7a;
	stop-opacity: 1;
}

#stop3965 {
	stop-color: #ba772f;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#layer1-71 {
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//activity_category.svg#linearGradient8238);
	stroke-opacity: 1;
	display: inline;
}

#g11331-3-1-1 {
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//activity_category.svg#linearGradient8232);
	stroke-opacity: 1;
	display: inline;
}

#g13408-8 {
	fill: #737986;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//activity_category.svg#linearGradient8230);
	stroke-opacity: 1;
}

#g13813 {
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//activity_category.svg#linearGradient7357);
	display: inline;
}

#g4173 {
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//activity_category.svg#linearGradient4178);
}

#rect13693-3 {
	display: inline;
	fill: #fdf7eb;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//activity_category.svg#linearGradient3939);
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect13693 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//activity_category.svg#linearGradient4933);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//activity_category.svg#linearGradient4935);
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#path13797 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//activity_category.svg#linearGradient9459);
	stroke-width: 3.02792978;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path10796-2-6-2-7 {
	font-style: normal;
	font-weight: normal;
	font-size: 13.58917427px;
	line-height: 125%;
	font-family: Sans;
	letter-spacing: 0px;
	word-spacing: 0px;
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//activity_category.svg#linearGradient8109);
	fill-opacity: 1;
	stroke: #71ac4b;
	stroke-width: 0.69391578;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

