/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop3871 {
  stop-color: #7090b0;
  stop-opacity: 1; }

#stop3873 {
  stop-color: #5d4886;
  stop-opacity: 1; }

#stop3863 {
  stop-color: #4b87ac;
  stop-opacity: 1; }

#stop3865 {
  stop-color: #4b87ac;
  stop-opacity: 0; }

#stop3855 {
  stop-color: #698ba5;
  stop-opacity: 1; }

#stop3857 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop10361 {
  stop-color: #4a77a8;
  stop-opacity: 1; }

#stop10363 {
  stop-color: #2266a0;
  stop-opacity: 1; }

#stop10353 {
  stop-color: #849abe;
  stop-opacity: 1; }

#stop10355 {
  stop-color: #677da9;
  stop-opacity: 1; }

#stop10595 {
  stop-color: #1b639e;
  stop-opacity: 1; }

#stop10597 {
  stop-color: #6f8db9;
  stop-opacity: 1; }

#stop9612 {
  stop-color: #c7b571;
  stop-opacity: 1; }

#stop9614 {
  stop-color: #9a9990;
  stop-opacity: 1; }

#stop15992 {
  stop-color: #f9fafc;
  stop-opacity: 1; }

#stop15994 {
  stop-color: #e0eaf8;
  stop-opacity: 1; }

#stop10655-1 {
  stop-color: #130d08;
  stop-opacity: 1; }

#stop10657-8 {
  stop-color: #654628;
  stop-opacity: 0; }

#stop10361-8 {
  stop-color: #4a77a8;
  stop-opacity: 1; }

#stop10363-6 {
  stop-color: #2266a0;
  stop-opacity: 1; }

#stop10353-6 {
  stop-color: #849abe;
  stop-opacity: 1; }

#stop10355-9 {
  stop-color: #677da9;
  stop-opacity: 1; }

#stop9612-8 {
  stop-color: #c7b571;
  stop-opacity: 1; }

#stop9614-2 {
  stop-color: #9a9990;
  stop-opacity: 1; }

#stop10361-2 {
  stop-color: #4a77a8;
  stop-opacity: 1; }

#stop10363-3 {
  stop-color: #2266a0;
  stop-opacity: 1; }

#stop10353-6-3 {
  stop-color: #849abe;
  stop-opacity: 1; }

#stop10355-9-7 {
  stop-color: #677da9;
  stop-opacity: 1; }

#stop10353-6-3-8 {
  stop-color: #849abe;
  stop-opacity: 1; }

#stop10355-9-7-7 {
  stop-color: #677da9;
  stop-opacity: 1; }

#stop10353-6-3-8-2 {
  stop-color: #849abe;
  stop-opacity: 1; }

#stop10355-9-7-7-1 {
  stop-color: #677da9;
  stop-opacity: 1; }

#stop10353-6-3-8-2-7 {
  stop-color: #849abe;
  stop-opacity: 1; }

#stop10355-9-7-7-1-6 {
  stop-color: #677da9;
  stop-opacity: 1; }

#stop3855-9 {
  stop-color: #698ba5;
  stop-opacity: 1; }

#stop3857-6 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3871-2 {
  stop-color: #7090b0;
  stop-opacity: 1; }

#stop3873-2 {
  stop-color: #5d4886;
  stop-opacity: 1; }

#stop3855-0 {
  stop-color: #698ba5;
  stop-opacity: 1; }

#stop3857-2 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3871-6 {
  stop-color: #7090b0;
  stop-opacity: 1; }

#stop3873-6 {
  stop-color: #5d4886;
  stop-opacity: 1; }

#stop3855-0-0 {
  stop-color: #698ba5;
  stop-opacity: 1; }

#stop3857-2-9 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3871-6-4 {
  stop-color: #7090b0;
  stop-opacity: 1; }

#stop3873-6-6 {
  stop-color: #5d4886;
  stop-opacity: 1; }

#stop3855-0-1 {
  stop-color: #698ba5;
  stop-opacity: 1; }

#stop3857-2-5 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3871-6-9 {
  stop-color: #7090b0;
  stop-opacity: 1; }

#stop3873-6-1 {
  stop-color: #5d4886;
  stop-opacity: 1; }

#stop3855-0-1-2 {
  stop-color: #698ba5;
  stop-opacity: 1; }

#stop3857-2-5-3 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3871-6-9-2 {
  stop-color: #7090b0;
  stop-opacity: 1; }

#stop3873-6-1-7 {
  stop-color: #5d4886;
  stop-opacity: 1; }

#stop3855-09 {
  stop-color: #acbcc8;
  stop-opacity: 1; }

#stop3857-3 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3871-8 {
  stop-color: #7090b0;
  stop-opacity: 1; }

#stop3873-7 {
  stop-color: #5d4886;
  stop-opacity: 1; }

#stop3855-0-6 {
  stop-color: #b0bcc5;
  stop-opacity: 1; }

#stop3857-2-2 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3871-6-97 {
  stop-color: #7090b0;
  stop-opacity: 1; }

#stop3873-6-5 {
  stop-color: #5d4886;
  stop-opacity: 1; }

#stop3855-0-1-3 {
  stop-color: #a6b8c5;
  stop-opacity: 1; }

#stop3857-2-5-6 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3871-6-9-9 {
  stop-color: #7090b0;
  stop-opacity: 1; }

#stop3873-6-1-71 {
  stop-color: #5d4886;
  stop-opacity: 1; }

#stop3855-0-1-2-3 {
  stop-color: #a9becf;
  stop-opacity: 1; }

#stop3857-2-5-3-1 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3871-6-9-2-2 {
  stop-color: #7090b0;
  stop-opacity: 1; }

#stop3873-6-1-7-6 {
  stop-color: #5d4886;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#g4250 {
  display: inline; }

#rect3083 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//keygroups_obj.svg#radialGradient3977-7);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//keygroups_obj.svg#linearGradient3979-6);
  stroke-width: 0.99844122;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#rect3083-6 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//keygroups_obj.svg#radialGradient4000-9);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//keygroups_obj.svg#linearGradient4002-3);
  stroke-width: 1.00664937;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#rect3083-6-3 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//keygroups_obj.svg#radialGradient4169-78);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//keygroups_obj.svg#linearGradient4171-5);
  stroke-width: 1.00664937;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#rect3083-6-3-2 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//keygroups_obj.svg#radialGradient4303);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//keygroups_obj.svg#linearGradient4305);
  stroke-width: 1.00664937;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }
