/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop28636 {
  stop-color: #c1d9ee;
  stop-opacity: 1; }

#stop28642 {
  stop-color: #6eaddd;
  stop-opacity: 1; }

#stop28638 {
  stop-color: #40689d;
  stop-opacity: 1; }

#stop4812-0-1 {
  stop-color: #9d7c2f;
  stop-opacity: 1; }

#stop4814-4-5 {
  stop-color: #6b623f;
  stop-opacity: 1; }

#stop4912-8-5-7 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop4914-8-1-8 {
  stop-color: #c5dff4;
  stop-opacity: 1; }

#stop4084-8-1 {
  stop-color: #4476aa;
  stop-opacity: 1; }

#stop4864-7-00 {
  stop-color: #5a9ccc;
  stop-opacity: 1; }

#stop4086-2-0 {
  stop-color: #4476aa;
  stop-opacity: 1; }

#stop8289-6 {
  stop-color: #6eb6e2;
  stop-opacity: 1; }

#stop8291-34 {
  stop-color: #d3e5f4;
  stop-opacity: 1; }

#stop28636-4 {
  stop-color: #c1d9ee;
  stop-opacity: 1; }

#stop28642-9 {
  stop-color: #6eaddd;
  stop-opacity: 1; }

#stop28638-5 {
  stop-color: #40689d;
  stop-opacity: 1; }

#stop28636-4-5 {
  stop-color: #c1d9ee;
  stop-opacity: 1; }

#stop28642-9-4 {
  stop-color: #6eaddd;
  stop-opacity: 1; }

#stop28638-5-4 {
  stop-color: #40689d;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#layer1-4 {
  display: inline; }

#rect3997-9 {
  display: inline;
  fill: #f4fcff;
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//layout_co.svg#linearGradient8887-0);
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#rect4853-82-7 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//layout_co.svg#linearGradient8884-0);
  fill-opacity: 1;
  stroke: none; }

#rect3997-9-9 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//layout_co.svg#linearGradient8293-6);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//layout_co.svg#linearGradient8878-5);
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#rect4179 {
  opacity: 1;
  fill: #d5f3ff;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#path17673 {
  fill: none;
  stroke: #757575;
  stroke-width: 1.00184608px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#image4176 {
  image-rendering: optimizeSpeed; }

#rect4179-7 {
  display: inline;
  opacity: 1;
  fill: #d5f3ff;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }
