/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop10361 {
  stop-color: #4a77a8;
  stop-opacity: 1; }

#stop10363 {
  stop-color: #2266a0;
  stop-opacity: 1; }

#stop10353 {
  stop-color: #849abe;
  stop-opacity: 1; }

#stop10355 {
  stop-color: #677da9;
  stop-opacity: 1; }

#stop10595 {
  stop-color: #1b639e;
  stop-opacity: 1; }

#stop10597 {
  stop-color: #6f8db9;
  stop-opacity: 1; }

#stop9612 {
  stop-color: #c7b571;
  stop-opacity: 1; }

#stop9614 {
  stop-color: #9a9990;
  stop-opacity: 1; }

#stop15992 {
  stop-color: #f9fafc;
  stop-opacity: 1; }

#stop15994 {
  stop-color: #e0eaf8;
  stop-opacity: 1; }

#stop10655-1 {
  stop-color: #130d08;
  stop-opacity: 1; }

#stop10657-8 {
  stop-color: #654628;
  stop-opacity: 0; }

#stop10361-8 {
  stop-color: #4a77a8;
  stop-opacity: 1; }

#stop10363-6 {
  stop-color: #2266a0;
  stop-opacity: 1; }

#stop10353-6 {
  stop-color: #849abe;
  stop-opacity: 1; }

#stop10355-9 {
  stop-color: #677da9;
  stop-opacity: 1; }

#stop9612-8 {
  stop-color: #c7b571;
  stop-opacity: 1; }

#stop9614-2 {
  stop-color: #9a9990;
  stop-opacity: 1; }

#stop10361-2 {
  stop-color: #4a77a8;
  stop-opacity: 1; }

#stop10363-3 {
  stop-color: #2266a0;
  stop-opacity: 1; }

#stop10353-6-3 {
  stop-color: #849abe;
  stop-opacity: 1; }

#stop10355-9-7 {
  stop-color: #677da9;
  stop-opacity: 1; }

#stop10353-6-3-8 {
  stop-color: #849abe;
  stop-opacity: 1; }

#stop10355-9-7-7 {
  stop-color: #677da9;
  stop-opacity: 1; }

#stop10353-6-3-8-2 {
  stop-color: #849abe;
  stop-opacity: 1; }

#stop10355-9-7-7-1 {
  stop-color: #677da9;
  stop-opacity: 1; }

#stop10353-6-3-8-2-7 {
  stop-color: #849abe;
  stop-opacity: 1; }

#stop10355-9-7-7-1-6 {
  stop-color: #677da9;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#g6750 {
  display: inline; }

#g6722-9-8 {
  stroke: #47698f;
  stroke-opacity: 1;
  display: inline; }

#path6702-4-8-8 {
  fill: none;
  stroke: #7795b6;
  stroke-width: 0.95709282px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  display: inline; }

#path6702-1-1 {
  fill: none;
  stroke: #47698f;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  display: inline; }

#g6722-9-8-8 {
  stroke: #47698f;
  stroke-opacity: 1;
  display: inline; }

#path6702-4-8-8-5 {
  fill: none;
  stroke: #7795b6;
  stroke-width: 0.95709282px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  display: inline; }

#path6702-1-1-1 {
  fill: none;
  stroke: #47698f;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  display: inline; }
