/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop4812 {
  stop-color: #886b2d;
  stop-opacity: 1; }

#stop4814 {
  stop-color: #bc9617;
  stop-opacity: 1; }

#stop4912-8 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop4914-8 {
  stop-color: #d1eeff;
  stop-opacity: 1; }

#stop4996-5 {
  stop-color: #d1eeff;
  stop-opacity: 1; }

#stop4998-5 {
  stop-color: #ffffff;
  stop-opacity: 0; }

#stop4879-1-3-9-9 {
  stop-color: #91a5c7;
  stop-opacity: 1; }

#stop4881-4-4-6-5 {
  stop-color: #5e76a3;
  stop-opacity: 1; }

#stop4863-1-0-5-5 {
  stop-color: #91a5c7;
  stop-opacity: 1; }

#stop4865-52-3-4-4 {
  stop-color: #637aa7;
  stop-opacity: 1; }

#stop5149-5-8-0-9 {
  stop-color: #91a5c7;
  stop-opacity: 1; }

#stop5151-5-4-6-0 {
  stop-color: #637aa7;
  stop-opacity: 1; }

#stop9337-0 {
  stop-color: #f3f0bc;
  stop-opacity: 1; }

#stop9366-9 {
  stop-color: #eba023;
  stop-opacity: 1; }

#stop9370-5 {
  stop-color: #c3a867;
  stop-opacity: 1; }

#stop9372-0 {
  stop-color: #866f36;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#rect3997-9 {
  fill: #f4fcff;
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//signed_yes_tbl.svg#linearGradient6101);
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#rect4853-82-7 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//signed_yes_tbl.svg#linearGradient6103);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4853-82-0 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//signed_yes_tbl.svg#linearGradient6105);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#g9242 {
  display: inline;
  opacity: 0.60493827; }

#rect4001-1-3 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//signed_yes_tbl.svg#linearGradient9203-3);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4001-1-7-6 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//signed_yes_tbl.svg#linearGradient4869-17-7-2-5);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4001-1-7-4-3 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//signed_yes_tbl.svg#linearGradient9273);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#g9376 {
  display: inline; }

#path9345-4 {
  fill: #f4006e;
  fill-opacity: 1;
  stroke: #f4006e;
  stroke-width: 0.48878345;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path9314 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//signed_yes_tbl.svg#radialGradient9405);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//signed_yes_tbl.svg#linearGradient9407);
  stroke-width: 0.5;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }
