/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop5093 {
  stop-color: #c6852e;
  stop-opacity: 1; }

#stop5095 {
  stop-color: #e1a555;
  stop-opacity: 1; }

#stop5083 {
  stop-color: #ffe296;
  stop-opacity: 1; }

#stop5089 {
  stop-color: #f8d880;
  stop-opacity: 1; }

#stop5085 {
  stop-color: #fffcd3;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#g8472 {
  display: inline; }

#path4292-2 {
  display: inline;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.93301046;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#path4292 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//warn_tsk.svg#linearGradient4198);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/obj16//warn_tsk.svg#linearGradient4200);
  stroke-width: 0.76273859;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#path4253 {
  fill: #502800;
  fill-opacity: 1;
  stroke: none; }

#path4253-7 {
  fill: #502800;
  fill-opacity: 1;
  stroke: none;
  display: inline; }
