/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop4355 {
  stop-color: #009898;
  stop-opacity: 1; }

#stop4357 {
  stop-color: #008080;
  stop-opacity: 1; }

#stop4359 {
  stop-color: #009090;
  stop-opacity: 1; }

#stop4200 {
  stop-color: #ffbf3f;
  stop-opacity: 1; }

#stop4202 {
  stop-color: #9e6542;
  stop-opacity: 1; }

#stop4194 {
  stop-color: #ffbf3f;
  stop-opacity: 1; }

#stop4196 {
  stop-color: #9e6542;
  stop-opacity: 1; }

#stop10509 {
  stop-color: #5f392d;
  stop-opacity: 1; }

#stop10511 {
  stop-color: #9e7058;
  stop-opacity: 1; }

#stop10513 {
  stop-color: #794f40;
  stop-opacity: 1; }

#stop10515 {
  stop-color: #794f40;
  stop-opacity: 1; }

#stop10517 {
  stop-color: #794f40;
  stop-opacity: 1; }

#stop10519 {
  stop-color: #9e7058;
  stop-opacity: 1; }

#stop10522 {
  stop-color: #5f392d;
  stop-opacity: 1; }

#stop11150-4-72-3-9-7 {
  stop-color: #ffbf3f;
  stop-opacity: 1; }

#stop11152-9-0-7-3-8 {
  stop-color: #9e6542;
  stop-opacity: 1; }

#stop11150-7-5-9-3-8-2 {
  stop-color: #ffbf3f;
  stop-opacity: 1; }

#stop11152-8-4-35-5-4-6 {
  stop-color: #9e6542;
  stop-opacity: 1; }

#stop11150-9-6-9-5-6-9 {
  stop-color: #faefba;
  stop-opacity: 1; }

#stop11152-6-7-6-3-3-3 {
  stop-color: #9e6542;
  stop-opacity: 1; }

#stop11150-7-8-3-8-7-0-6 {
  stop-color: #faefba;
  stop-opacity: 1; }

#stop11152-8-8-6-3-2-5-1 {
  stop-color: #9e6542;
  stop-opacity: 1; }

#stop10509-4 {
  stop-color: #5f392d;
  stop-opacity: 1; }

#stop10511-2 {
  stop-color: #9e7058;
  stop-opacity: 1; }

#stop10513-9 {
  stop-color: #794f40;
  stop-opacity: 1; }

#stop10515-0 {
  stop-color: #794f40;
  stop-opacity: 1; }

#stop10517-9 {
  stop-color: #794f40;
  stop-opacity: 1; }

#stop10519-2 {
  stop-color: #9e7058;
  stop-opacity: 1; }

#stop10522-7 {
  stop-color: #5f392d;
  stop-opacity: 1; }

#stop4740 {
  stop-color: #8cc861;
  stop-opacity: 1; }

#stop4746 {
  stop-color: #4aa766;
  stop-opacity: 1; }

#stop4742 {
  stop-color: #c2dd97;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#g13862 {
  display: inline; }

#layer1-9 {
  font-style: normal;
  font-weight: normal;
  font-size: 13.58917427px;
  line-height: 125%;
  font-family: Sans;
  letter-spacing: 0px;
  word-spacing: 0px;
  display: inline;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none; }

#g11260-4-2 {
  display: inline; }

#rect10961-9-0-4-7 {
  font-style: normal;
  font-weight: normal;
  font-size: 13.58917427px;
  line-height: 125%;
  font-family: Sans;
  letter-spacing: 0px;
  word-spacing: 0px;
  display: inline;
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//bundle-importer.svg#radialGradient10503-5);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 3.58380508;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#rect10961-9-0-4-6-0 {
  font-style: normal;
  font-weight: normal;
  font-size: 13.58917427px;
  line-height: 125%;
  font-family: Sans;
  letter-spacing: 0px;
  word-spacing: 0px;
  display: inline;
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//bundle-importer.svg#radialGradient10503-3-2);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 3.58380508;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#rect10961-9-0-4 {
  display: inline;
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//bundle-importer.svg#radialGradient10503);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 3.58380508;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#rect10961-9-0-4-6 {
  font-style: normal;
  font-weight: normal;
  font-size: 13.58917427px;
  line-height: 125%;
  font-family: Sans;
  letter-spacing: 0px;
  word-spacing: 0px;
  display: inline;
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//bundle-importer.svg#radialGradient10503-3);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 3.58380508;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#path11108-6-7-5 {
  display: inline;
  fill: #915323;
  fill-opacity: 1;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//bundle-importer.svg#linearGradient4895);
  stroke-width: 3.58380508;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#path11108-6-7-5-6 {
  font-style: normal;
  font-weight: normal;
  font-size: 13.58917427px;
  line-height: 125%;
  font-family: Sans;
  letter-spacing: 0px;
  word-spacing: 0px;
  display: inline;
  fill: #915323;
  fill-opacity: 1;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//bundle-importer.svg#linearGradient10544);
  stroke-width: 3.58380508;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#path4196 {
  opacity: 1;
  fill: none;
  fill-opacity: 1;
  stroke: #ad755d;
  stroke-width: 3.58380508;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#layer1-6-4-7 {
  font-style: normal;
  font-weight: normal;
  font-size: 13.58917427px;
  line-height: 125%;
  font-family: Sans;
  letter-spacing: 0px;
  word-spacing: 0px;
  display: inline;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 0.72848868;
  filter: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//bundle-importer.svg#filter3854-2); }

#rect3968-5-2 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 1.60405862;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#rect3968-2 {
  font-style: normal;
  font-weight: normal;
  font-size: medium;
  line-height: 125%;
  font-family: Sans;
  letter-spacing: 0px;
  word-spacing: 0px;
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//bundle-importer.svg#linearGradient4348);
  fill-opacity: 1;
  stroke: #000080;
  stroke-width: 3.58380532;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#g11331-3 {
  display: inline; }

#g14104 {
  fill: #ffffff;
  stroke: #ffffff;
  display: inline; }

#g6258 {
  display: inline; }
