@import "gotham";

#stop9356 {
	stop-color: #1b639e;
	stop-opacity: 1;
}

#stop9358 {
	stop-color: #6f8db9;
	stop-opacity: 1;
}

#stop8564 {
	stop-color: #6994ad;
	stop-opacity: 1;
}

#stop8566 {
	stop-color: #005596;
	stop-opacity: 1;
}

#stop4904-2 {
	stop-color: #b28a30;
	stop-opacity: 1;
}

#stop4906-2 {
	stop-color: #7c703e;
	stop-opacity: 1;
}

#stop4896-8 {
	stop-color: #e0c88f;
	stop-opacity: 1;
}

#stop4898-5 {
	stop-color: #d5b269;
	stop-opacity: 1;
}

#stop4996-1 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop4998-89 {
	stop-color: #dce7f7;
	stop-opacity: 1;
}

#stop5105-5-4 {
	stop-color: #c1ebca;
	stop-opacity: 1;
}

#stop7550-07-0 {
	stop-color: #b3dac7;
	stop-opacity: 1;
}

#stop7548-6-9 {
	stop-color: #9ec2c3;
	stop-opacity: 1;
}

#stop5107-7-48 {
	stop-color: #7a99bb;
	stop-opacity: 1;
}

#g9642 {
	fill: #ffffff;
	display: inline;
}

#rect9644 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#rect9646 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#rect9648 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#rect9650 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#rect9652 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#g9654 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#path9656 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	display: inline;
}

#path9658 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	display: inline;
}

#path9660 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#stop10800-5-2-1-8-20-6-4-9-8-2 {
	stop-color: #7564b1;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-24-8-4-3-2 {
	stop-color: #5d4aa1;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-8-4-2-9-2 {
	stop-color: #9283c3;
	stop-opacity: 1;
}

#stop3782 {
	stop-color: #fdf2d0;
	stop-opacity: 1;
}

#stop3784 {
	stop-color: #fffdf9;
	stop-opacity: 1;
}

#stop3790 {
	stop-color: #d8bb8c;
	stop-opacity: 1;
}

#stop3792 {
	stop-color: #dfc38d;
	stop-opacity: 1;
}

#stop3800 {
	stop-color: #3f3f9f;
	stop-opacity: 1;
}

#stop3802 {
	stop-color: #3f5fbf;
	stop-opacity: 1;
}

#stop4879 {
	stop-color: #f7fdff;
	stop-opacity: 1;
}

#stop4881 {
	stop-color: #e8f0f5;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect4001-3 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//contextid_obj.svg#linearGradient4084);
	fill-opacity: 1;
	stroke: none;
}

#path4884 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//contextid_obj.svg#linearGradient4086);
	fill-opacity: 1;
	stroke: none;
}

#rect4001 {
	display: inline;
	fill: none;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//contextid_obj.svg#linearGradient4088);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#path3057-8 {
	display: inline;
	fill: none;
	stroke: #29486b;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path3116 {
	fill: #29486b;
	fill-opacity: 1;
	stroke: #29486b;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path3116-5 {
	display: inline;
	fill: #29486b;
	fill-opacity: 1;
	stroke: #29486b;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#image4388 {
	image-rendering: optimizeSpeed;
}

#path3057-8-1 {
	display: inline;
	fill: none;
	stroke: #29486b;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path3057-8-7 {
	display: inline;
	fill: none;
	stroke: #29486b;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path3057-8-4 {
	display: inline;
	fill: none;
	stroke: #29486b;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#layer1-2 {
	display: inline;
}

#g8159-1 {
	display: inline;
}

#path4110 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//contextid_obj.svg#linearGradient4118);
	fill-opacity: 1;
	stroke: #304b8a;
	stroke-width: 1.428527;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#text4882 {
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-stretch: normal;
	font-size: 20.03678703px;
	line-height: 125%;
	font-family: Reznor;
	text-align: start;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #2a4484;
	fill-opacity: 1;
	stroke: none;
}

#path4908-1 {
	display: inline;
	fill: #294384;
	fill-opacity: 1;
	stroke: none;
}

