@import "gotham";

#stop4286 {
	stop-color: #964ecd;
	stop-opacity: 1;
}

#stop4288 {
	stop-color: #a471c5;
	stop-opacity: 1;
}

#stop4290 {
	stop-color: #763db7;
	stop-opacity: 1;
}

#stop10450-3-5-6-7 {
	stop-color: #cf9307;
	stop-opacity: 1;
}

#stop10456-4-1-5-3 {
	stop-color: #f7d87b;
	stop-opacity: 1;
}

#stop10452-22-7-8-4 {
	stop-color: #ebb313;
	stop-opacity: 1;
}

#stop10442-43-2-0-9 {
	stop-color: #ae7603;
	stop-opacity: 1;
}

#stop10521-1-2-5-3 {
	stop-color: #e8d8a3;
	stop-opacity: 1;
}

#stop10444-3-4-0-4 {
	stop-color: #bb9221;
	stop-opacity: 1;
}

#stop10750-5 {
	stop-color: #ecac18;
	stop-opacity: 1;
}

#stop10752-8 {
	stop-color: #f1ce66;
	stop-opacity: 1;
}

#stop10754-8 {
	stop-color: #f6e5a6;
	stop-opacity: 1;
}

#stop10756-4 {
	stop-color: #f1cf6c;
	stop-opacity: 1;
}

#stop10758-7 {
	stop-color: #e5b630;
	stop-opacity: 1;
}

#stop10442-43-0-5 {
	stop-color: #ae7603;
	stop-opacity: 1;
}

#stop10521-1-4-7 {
	stop-color: #e8d8a3;
	stop-opacity: 1;
}

#stop10444-3-2-0 {
	stop-color: #bb9221;
	stop-opacity: 1;
}

#stop10450-0 {
	stop-color: #ecac18;
	stop-opacity: 1;
}

#stop10458-2 {
	stop-color: #ffe38d;
	stop-opacity: 1;
}

#stop10456-96 {
	stop-color: #fdf5d2;
	stop-opacity: 1;
}

#stop10460-3 {
	stop-color: #ffeba7;
	stop-opacity: 1;
}

#stop10452-1 {
	stop-color: #e5b630;
	stop-opacity: 1;
}

#stop10442-8 {
	stop-color: #ae7603;
	stop-opacity: 1;
}

#stop10521-7 {
	stop-color: #e8d8a3;
	stop-opacity: 1;
}

#stop10444-0 {
	stop-color: #bb9221;
	stop-opacity: 1;
}

#stop10416-3 {
	stop-color: #5078b9;
	stop-opacity: 1;
}

#stop10422-8 {
	stop-color: #6d8cbd;
	stop-opacity: 1;
}

#stop10418-4 {
	stop-color: #5f88c9;
	stop-opacity: 1;
}

#stop10434-4 {
	stop-color: #1f4d9a;
	stop-opacity: 1;
}

#stop10436-2 {
	stop-color: #4e6da1;
	stop-opacity: 1;
}

#stop10438-9 {
	stop-color: #567ebc;
	stop-opacity: 1;
}

#stop10159-5 {
	stop-color: #b88bd6;
	stop-opacity: 1;
}

#stop10165-9 {
	stop-color: #c39ddb;
	stop-opacity: 1;
}

#stop10161-55 {
	stop-color: #ccace1;
	stop-opacity: 1;
}

#stop10398-7 {
	stop-color: #1b3e79;
	stop-opacity: 1;
}

#stop10404-9 {
	stop-color: #728fbf;
	stop-opacity: 1;
}

#stop10400-9 {
	stop-color: #1f4d9a;
	stop-opacity: 1;
}

#stop10159-8-3 {
	stop-color: #d8bde7;
	stop-opacity: 1;
}

#stop10165-3-9 {
	stop-color: #c49fdc;
	stop-opacity: 1;
}

#stop10161-5-0 {
	stop-color: #b382d3;
	stop-opacity: 1;
}

#stop10151-3-0 {
	stop-color: #6936ae;
	stop-opacity: 1;
}

#stop10153-72-3 {
	stop-color: #964ecd;
	stop-opacity: 1;
}

#stop10151-5-7-2 {
	stop-color: #1f4d9a;
	stop-opacity: 1;
}

#stop10394-3 {
	stop-color: #b9c7df;
	stop-opacity: 1;
}

#stop10153-8-1-2 {
	stop-color: #567ebc;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect10007-0-74-2-7-6 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//frgmt_obj.svg#linearGradient10770-6);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1.5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#path4313-8-8 {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: sans-serif;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	text-decoration-style: solid;
	text-decoration-color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	white-space: normal;
	clip-rule: nonzero;
	display: inline;
	overflow: visible;
	visibility: visible;
	opacity: 1;
	isolation: auto;
	mix-blend-mode: normal;
	color-interpolation: sRGB;
	color-interpolation-filters: linearRGB;
	solid-color: #000000;
	solid-opacity: 1;
	fill: #c18e00;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
	color-rendering: auto;
	image-rendering: auto;
	shape-rendering: auto;
	text-rendering: auto;
	enable-background: accumulate;
}

#path4313-8-8-7 {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: sans-serif;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	text-decoration-style: solid;
	text-decoration-color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	white-space: normal;
	clip-rule: nonzero;
	display: inline;
	overflow: visible;
	visibility: visible;
	opacity: 1;
	isolation: auto;
	mix-blend-mode: normal;
	color-interpolation: sRGB;
	color-interpolation-filters: linearRGB;
	solid-color: #000000;
	solid-opacity: 1;
	fill: #c18e00;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 0.94926554px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
	color-rendering: auto;
	image-rendering: auto;
	shape-rendering: auto;
	text-rendering: auto;
	enable-background: accumulate;
}

#path4313-5-1-8 {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: sans-serif;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	text-decoration-style: solid;
	text-decoration-color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	white-space: normal;
	clip-rule: nonzero;
	display: inline;
	overflow: visible;
	visibility: visible;
	opacity: 1;
	isolation: auto;
	mix-blend-mode: normal;
	color-interpolation: sRGB;
	color-interpolation-filters: linearRGB;
	solid-color: #000000;
	solid-opacity: 1;
	fill: #9e7400;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
	color-rendering: auto;
	image-rendering: auto;
	shape-rendering: auto;
	text-rendering: auto;
	enable-background: accumulate;
}

#rect10007-0-74-2-7 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//frgmt_obj.svg#linearGradient10774-5);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1.5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#path4313-5-1 {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: sans-serif;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	text-decoration-style: solid;
	text-decoration-color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	white-space: normal;
	clip-rule: nonzero;
	display: inline;
	overflow: visible;
	visibility: visible;
	opacity: 1;
	isolation: auto;
	mix-blend-mode: normal;
	color-interpolation: sRGB;
	color-interpolation-filters: linearRGB;
	solid-color: #000000;
	solid-opacity: 1;
	fill: #9e7400;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
	color-rendering: auto;
	image-rendering: auto;
	shape-rendering: auto;
	text-rendering: auto;
	enable-background: accumulate;
}

#path4313-8 {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: sans-serif;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	text-decoration-style: solid;
	text-decoration-color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	white-space: normal;
	clip-rule: nonzero;
	display: inline;
	overflow: visible;
	visibility: visible;
	opacity: 1;
	isolation: auto;
	mix-blend-mode: normal;
	color-interpolation: sRGB;
	color-interpolation-filters: linearRGB;
	solid-color: #000000;
	solid-opacity: 1;
	fill: #c18e00;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
	color-rendering: auto;
	image-rendering: auto;
	shape-rendering: auto;
	text-rendering: auto;
	enable-background: accumulate;
}

#rect10007-0-74-2 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//frgmt_obj.svg#linearGradient10778-6);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1.50161433;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect10007-0 {
	fill: #763db7;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect10007-0-7 {
	fill: #9f67c2;
	fill-opacity: 1;
	stroke: #8f4ac8;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect10007-0-74 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//frgmt_obj.svg#linearGradient10786-1);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1.5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#path4313 {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: sans-serif;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	text-decoration-style: solid;
	text-decoration-color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	white-space: normal;
	clip-rule: nonzero;
	display: inline;
	overflow: visible;
	visibility: visible;
	opacity: 1;
	isolation: auto;
	mix-blend-mode: normal;
	color-interpolation: sRGB;
	color-interpolation-filters: linearRGB;
	solid-color: #000000;
	solid-opacity: 1;
	fill: #c18e00;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
	color-rendering: auto;
	image-rendering: auto;
	shape-rendering: auto;
	text-rendering: auto;
	enable-background: accumulate;
}

#path4313-5 {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: sans-serif;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	text-decoration-style: solid;
	text-decoration-color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	white-space: normal;
	clip-rule: nonzero;
	display: inline;
	overflow: visible;
	visibility: visible;
	opacity: 1;
	isolation: auto;
	mix-blend-mode: normal;
	color-interpolation: sRGB;
	color-interpolation-filters: linearRGB;
	solid-color: #000000;
	solid-opacity: 1;
	fill: #9e7400;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
	color-rendering: auto;
	image-rendering: auto;
	shape-rendering: auto;
	text-rendering: auto;
	enable-background: accumulate;
}

#rect10007-6 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//frgmt_obj.svg#linearGradient10790-8);
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//frgmt_obj.svg#linearGradient10792-6);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect10007-6-6 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//frgmt_obj.svg#linearGradient10790-8-2);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 3.58380508;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#path4313-8-8-7-8 {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: sans-serif;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	text-decoration-style: solid;
	text-decoration-color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	white-space: normal;
	clip-rule: nonzero;
	display: inline;
	overflow: visible;
	visibility: visible;
	opacity: 1;
	isolation: auto;
	mix-blend-mode: normal;
	color-interpolation: sRGB;
	color-interpolation-filters: linearRGB;
	solid-color: #000000;
	solid-opacity: 1;
	fill: #c18e00;
	fill-opacity: 0.64640886;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 0.97351193px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
	color-rendering: auto;
	image-rendering: auto;
	shape-rendering: auto;
	text-rendering: auto;
	enable-background: accumulate;
}

#path4313-8-8-7-5 {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: sans-serif;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	text-decoration-style: solid;
	text-decoration-color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	white-space: normal;
	clip-rule: nonzero;
	display: inline;
	overflow: visible;
	visibility: visible;
	opacity: 1;
	isolation: auto;
	mix-blend-mode: normal;
	color-interpolation: sRGB;
	color-interpolation-filters: linearRGB;
	solid-color: #000000;
	solid-opacity: 1;
	fill: #c18e00;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 0.94926554px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
	color-rendering: auto;
	image-rendering: auto;
	shape-rendering: auto;
	text-rendering: auto;
	enable-background: accumulate;
}

