/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop3904 {
  stop-color: #5b6c89;
  stop-opacity: 1; }

#stop3906 {
  stop-color: #8392a8;
  stop-opacity: 1; }

#stop3878 {
  stop-color: #a4b0c0;
  stop-opacity: 1; }

#stop3880 {
  stop-color: #b7c2d0;
  stop-opacity: 1; }

#stop6801 {
  stop-color: #a6bacf;
  stop-opacity: 1; }

#stop6803 {
  stop-color: #798da2;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#rect3031 {
  fill: #ffffff;
  stroke: #47698f;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#path3812-1 {
  fill: #b7c2d0;
  fill-opacity: 1;
  stroke: #b7c2d0;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  display: inline; }

#path3812-1-7 {
  fill: #b7c2d0;
  fill-opacity: 1;
  stroke: #b7c2d0;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  display: inline; }

#path3812-1-7-5 {
  fill: #b7c2d0;
  fill-opacity: 1;
  stroke: #b7c2d0;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  display: inline; }

#path3812 {
  fill: none;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//property_obj.svg#linearGradient3882);
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#rect3031-0 {
  fill: none;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//property_obj.svg#linearGradient3908);
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path3910-0 {
  fill: none;
  stroke: #81a3c9;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: 1;
  display: inline; }

#path3910 {
  fill: none;
  stroke: #47698f;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: 1; }

#path3910-0-3 {
  fill: none;
  stroke: #81a3c9;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: 1;
  display: inline; }

#path3910-02 {
  fill: none;
  stroke: #47698f;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: 1;
  display: inline; }
