@import "gotham";

#stop3975 {
	stop-color: #f8d078;
	stop-opacity: 1;
}

#stop3977 {
	stop-color: #f8f0c8;
	stop-opacity: 1;
}

#stop3969 {
	stop-color: #c48a4e;
	stop-opacity: 1;
}

#stop3971 {
	stop-color: #ad6c24;
	stop-opacity: 1;
}

#stop3957 {
	stop-color: #c38536;
	stop-opacity: 1;
}

#stop3959 {
	stop-color: #f2dc91;
	stop-opacity: 1;
}

#stop3961 {
	stop-color: #fbdc8b;
	stop-opacity: 1;
}

#stop3963 {
	stop-color: #e6bd7a;
	stop-opacity: 1;
}

#stop3965 {
	stop-color: #ba772f;
	stop-opacity: 1;
}

#stop3951 {
	stop-color: #9e6627;
	stop-opacity: 1;
}

#stop3953 {
	stop-color: #c38536;
	stop-opacity: 1;
}

#path4919 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#stop4286 {
	stop-color: #6588c1;
	stop-opacity: 0;
}

#stop4288 {
	stop-color: #becce3;
	stop-opacity: 1;
}

#stop4290 {
	stop-color: #809dcb;
	stop-opacity: 0;
}

#stop10159-8-3 {
	stop-color: #6588c1;
	stop-opacity: 1;
}

#stop10165-3-9 {
	stop-color: #becce3;
	stop-opacity: 1;
}

#stop10161-5-0 {
	stop-color: #809dcb;
	stop-opacity: 1;
}

#stop10416-3 {
	stop-color: #5078b9;
	stop-opacity: 1;
}

#stop10422-8 {
	stop-color: #6d8cbd;
	stop-opacity: 1;
}

#stop10418-4 {
	stop-color: #5f88c9;
	stop-opacity: 1;
}

#stop10434-4 {
	stop-color: #1f4d9a;
	stop-opacity: 1;
}

#stop10436-2 {
	stop-color: #4e6da1;
	stop-opacity: 1;
}

#stop10438-9 {
	stop-color: #567ebc;
	stop-opacity: 1;
}

#stop10450-0 {
	stop-color: #ecac18;
	stop-opacity: 1;
}

#stop10458-2 {
	stop-color: #ffe38d;
	stop-opacity: 1;
}

#stop10456-96 {
	stop-color: #fdf5d2;
	stop-opacity: 1;
}

#stop10460-3 {
	stop-color: #ffeba7;
	stop-opacity: 1;
}

#stop10452-1 {
	stop-color: #e5b630;
	stop-opacity: 1;
}

#stop10750-5 {
	stop-color: #ecac18;
	stop-opacity: 1;
}

#stop10752-8 {
	stop-color: #f1ce66;
	stop-opacity: 1;
}

#stop10754-8 {
	stop-color: #f6e5a6;
	stop-opacity: 1;
}

#stop10756-4 {
	stop-color: #f1cf6c;
	stop-opacity: 1;
}

#stop10758-7 {
	stop-color: #e5b630;
	stop-opacity: 1;
}

#stop10450-3-5-6-7 {
	stop-color: #cf9307;
	stop-opacity: 1;
}

#stop10456-4-1-5-3 {
	stop-color: #f7d87b;
	stop-opacity: 1;
}

#stop10452-22-7-8-4 {
	stop-color: #ebb313;
	stop-opacity: 1;
}

#stop4909-5 {
	stop-color: #c1723f;
	stop-opacity: 1;
}

#stop4911-0 {
	stop-color: #b04814;
	stop-opacity: 1;
}

#stop4749 {
	stop-color: #058048;
	stop-opacity: 1;
}

#stop4751 {
	stop-color: #299962;
	stop-opacity: 1;
}

#stop4792 {
	stop-color: #17477c;
	stop-opacity: 1;
}

#stop4794 {
	stop-color: #40a5da;
	stop-opacity: 1;
}

#stop4832 {
	stop-color: #e0a010;
	stop-opacity: 1;
}

#stop4834 {
	stop-color: #c87810;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g13862 {
	display: inline;
}

#rect13693-3 {
	display: inline;
	fill: #fdf7eb;
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//runtime_obj.svg#linearGradient3939);
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect13693 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//runtime_obj.svg#linearGradient4933);
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//runtime_obj.svg#linearGradient4935);
	stroke-width: 3.02792978;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#path13797 {
	fill: none;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//runtime_obj.svg#linearGradient3945);
	stroke-width: 3.02792978;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#g26748 {
	display: inline;
}

#rect4897 {
	fill: #d38a4b;
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//runtime_obj.svg#linearGradient26910);
	stroke-width: 0.99792087;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4926 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//runtime_obj.svg#linearGradient26912);
	fill-opacity: 1;
	stroke: none;
}

#rect4926-4 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//runtime_obj.svg#linearGradient26914);
	fill-opacity: 1;
	stroke: none;
}

#rect4926-4-9-6-6 {
	display: inline;
	fill: #0065b8;
	fill-opacity: 1;
	stroke: none;
}

#rect4926-5 {
	display: inline;
	fill: #e89b16;
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.runtime/icons/obj16//runtime_obj.svg#linearGradient26916);
	stroke-width: 0.88811594;
	stroke-opacity: 1;
}

#rect4926-56 {
	display: inline;
	fill: #058048;
	fill-opacity: 1;
	stroke: none;
}

#rect4926-4-9 {
	display: inline;
	fill: #17477c;
	fill-opacity: 1;
	stroke: none;
}

#rect4926-4-9-6 {
	display: inline;
	fill: #0065b8;
	fill-opacity: 1;
	stroke: none;
}

