@import "stock";

#stop7156 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop7158 {
	stop-color: #e9eff9;
	stop-opacity: 1;
}

#stop4904-2 {
	stop-color: #b28a30;
	stop-opacity: 1;
}

#stop4906-2 {
	stop-color: #7f703d;
	stop-opacity: 1;
}

#stop4896-8 {
	stop-color: #e0c88f;
	stop-opacity: 1;
}

#stop4898-5 {
	stop-color: #d5b269;
	stop-opacity: 1;
}

#stop4918-7 {
	stop-color: #4898d0;
	stop-opacity: 1;
}

#stop4921-0 {
	stop-color: #90c0e0;
	stop-opacity: 1;
}

#stop4996-5-4-8 {
	stop-color: #b1e6f3;
	stop-opacity: 1;
}

#stop4998-5-0-8 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4912-8-8-4 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914-8-8-0 {
	stop-color: #b1e6f3;
	stop-opacity: 1;
}

#stop4912-8-8 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914-8-8 {
	stop-color: #b1e6f3;
	stop-opacity: 1;
}

#stop4996-5-4 {
	stop-color: #b1e6f3;
	stop-opacity: 1;
}

#stop4998-5-0 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4847 {
	stop-color: #96792f;
	stop-opacity: 1;
}

#stop4849 {
	stop-color: #615941;
	stop-opacity: 1;
}

#stop4918 {
	stop-color: #4898d0;
	stop-opacity: 1;
}

#stop4921 {
	stop-color: #90c0e0;
	stop-opacity: 1;
}

#stop4927 {
	stop-color: #285088;
	stop-opacity: 1;
}

#stop4929 {
	stop-color: #4068a0;
	stop-opacity: 1;
}

#stop5035 {
	stop-color: #d0f0f8;
	stop-opacity: 1;
}

#stop5037 {
	stop-color: #d0f0f8;
	stop-opacity: 1;
}

#stop5041 {
	stop-color: #4898d0;
	stop-opacity: 1;
}

#stop5043 {
	stop-color: #80b8e0;
	stop-opacity: 1;
}

#stop5065 {
	stop-color: #4f9cd2;
	stop-opacity: 1;
}

#stop5067 {
	stop-color: #295189;
	stop-opacity: 1;
}

#stop5107 {
	stop-color: #4068a0;
	stop-opacity: 1;
}

#stop5109 {
	stop-color: #295189;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect4001-3 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//PartDescriptor.svg#linearGradient7160);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#layer1-8 {
	display: inline;
}

#rect3997-9-1-1-5 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//PartDescriptor.svg#linearGradient5069);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect3997-9-1 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//PartDescriptor.svg#linearGradient4852);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect3997-9-1-1 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect4853-82-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//PartDescriptor.svg#linearGradient5062-9);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//PartDescriptor.svg#linearGradient4975-2-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-7-2 {
	opacity: 0.25;
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//PartDescriptor.svg#linearGradient4885);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0-4 {
	opacity: 0.25;
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//PartDescriptor.svg#linearGradient4975-2-1-9);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4914-9 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//PartDescriptor.svg#linearGradient5002);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//PartDescriptor.svg#linearGradient5004);
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-opacity: 1;
	display: inline;
}

#path4914 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//PartDescriptor.svg#linearGradient4923);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//PartDescriptor.svg#linearGradient4931);
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-opacity: 1;
}

#path4914-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//PartDescriptor.svg#linearGradient4952);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect3997-9-1-1-5-6 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//PartDescriptor.svg#linearGradient5086);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path4884 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//PartDescriptor.svg#linearGradient4900-1);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//PartDescriptor.svg#linearGradient7152);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

