@import "stock";

#stop8663 {
	stop-color: #c6e7f9;
	stop-opacity: 1;
}

#stop8665 {
	stop-color: #f9fcff;
	stop-opacity: 1;
}

#stop8655 {
	stop-color: #676656;
	stop-opacity: 1;
}

#stop8657 {
	stop-color: #9e884e;
	stop-opacity: 1;
}

#stop8339 {
	stop-color: #4e86ca;
	stop-opacity: 1;
}

#stop8341 {
	stop-color: #4e86ca;
	stop-opacity: 0;
}

#stop8139 {
	stop-color: #326097;
	stop-opacity: 1;
}

#stop8141 {
	stop-color: #2e73c5;
	stop-opacity: 1;
}

#stop8155-7 {
	stop-color: #75b1e3;
	stop-opacity: 1;
}

#stop8157-7 {
	stop-color: #c1def7;
	stop-opacity: 1;
}

#stop8339-4 {
	stop-color: #4e86ca;
	stop-opacity: 1;
}

#stop8341-2 {
	stop-color: #4e86ca;
	stop-opacity: 0;
}

#stop8155-7-78 {
	stop-color: #75b1e3;
	stop-opacity: 1;
}

#stop8157-7-0 {
	stop-color: #c1def7;
	stop-opacity: 1;
}

#stop8139-9 {
	stop-color: #326097;
	stop-opacity: 1;
}

#stop8141-8 {
	stop-color: #2e73c5;
	stop-opacity: 1;
}

#stop4825 {
	stop-color: #fefdef;
	stop-opacity: 1;
}

#stop4827 {
	stop-color: #fbdd83;
	stop-opacity: 1;
}

#stop4865 {
	stop-color: #ba9726;
	stop-opacity: 1;
}

#stop4867 {
	stop-color: #997413;
	stop-opacity: 1;
}

#path6298 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#layer1 {
	display: inline;
}

#rect8093 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//Perspective.svg#linearGradient8681);
	fill-opacity: 1;
	stroke: none;
}

#rect8093-5 {
	fill: #4e86ca;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//Perspective.svg#linearGradient8683);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
}

#rect8093-5-9 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//Perspective.svg#linearGradient8685);
	fill-opacity: 1;
	stroke: none;
}

#rect8093-5-9-8 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//Perspective.svg#linearGradient8687);
	fill-opacity: 1;
	stroke: none;
}

#g8643 {
	stroke: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//Perspective.svg#linearGradient8697);
	stroke-opacity: 1;
}

#rect8645 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//Perspective.svg#linearGradient8689);
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path8647 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//Perspective.svg#linearGradient8691);
	stroke-width: 2;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path8649 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//Perspective.svg#linearGradient8693);
	stroke-width: 2;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path8651 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//Perspective.svg#linearGradient8695);
	stroke-width: 2;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#rect8093-5-8 {
	fill: #4e86ca;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//Perspective.svg#linearGradient8699);
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#rect8093-5-9-6 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//Perspective.svg#linearGradient8701);
	fill-opacity: 1;
	stroke: none;
}

#rect8093-5-9-8-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//Perspective.svg#linearGradient8703);
	fill-opacity: 1;
	stroke: none;
}

#g11029 {
	stroke: #694337;
	stroke-opacity: 1;
	display: inline;
}

#layer1-9-2 {
	display: inline;
	fill: #ffffff;
	stroke: #ffffff;
	filter: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//Perspective.svg#filter7076);
}

#path5581-1-4 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	display: inline;
}

#path5581-5 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	display: inline;
}

#layer1-9 {
	display: inline;
}

#path5581-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//Perspective.svg#linearGradient4869);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5581 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//Perspective.svg#linearGradient5618);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

