@import "stock";

#stop18721-3 {
	stop-color: #000000;
	stop-opacity: 1;
}

#stop18723-9 {
	stop-color: #000000;
	stop-opacity: 0;
}

#stop18721 {
	stop-color: #000000;
	stop-opacity: 1;
}

#stop18723 {
	stop-color: #000000;
	stop-opacity: 0;
}

#stop4084-8-1-82 {
	stop-color: #4476aa;
	stop-opacity: 1;
}

#stop4864-7-00-4 {
	stop-color: #5a9ccc;
	stop-opacity: 1;
}

#stop4086-2-0-5 {
	stop-color: #4476aa;
	stop-opacity: 1;
}

#stop17713-2 {
	stop-color: #7f85aa;
	stop-opacity: 1;
}

#stop17715-7 {
	stop-color: #8086aa;
	stop-opacity: 1;
}

#stop17717-6 {
	stop-color: #7c82a6;
	stop-opacity: 1;
}

#stop8289-6 {
	stop-color: #6eb6e2;
	stop-opacity: 1;
}

#stop8291-34 {
	stop-color: #d3e5f4;
	stop-opacity: 1;
}

#stop17707 {
	stop-color: #cbcef1;
	stop-opacity: 1;
}

#stop17709 {
	stop-color: #e9ebf6;
	stop-opacity: 1;
}

#stop4996-5-9-7 {
	stop-color: #c5dff4;
	stop-opacity: 1;
}

#stop4998-5-0-9 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4912-8-5-7 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914-8-1-8 {
	stop-color: #c5dff4;
	stop-opacity: 1;
}

#stop4812-0-1 {
	stop-color: #9d7c2f;
	stop-opacity: 1;
}

#stop4814-4-5 {
	stop-color: #6b623f;
	stop-opacity: 1;
}

#rect3997-9-6 {
	fill: #f4fcff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect3997-9 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ToolBarSeparator.svg#linearGradient18604);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect4853-82-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ToolBarSeparator.svg#linearGradient18483);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ToolBarSeparator.svg#linearGradient18480);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect3997-9-9-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ToolBarSeparator.svg#linearGradient18475);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect3997-9-9 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ToolBarSeparator.svg#linearGradient18470);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect17719 {
	fill: #2b568d;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect17719-3 {
	fill: #687692;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect17719-3-0-2 {
	fill: #687692;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect17719-5 {
	fill: #bec3df;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect17719-3-0-6 {
	fill: #bec3df;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect17719-3-0-2-3 {
	fill: #bec3df;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect3997-9-9-4-1 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ToolBarSeparator.svg#linearGradient18667);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect3997-9-9-42 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ToolBarSeparator.svg#linearGradient18685);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect17673-1-2 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ToolBarSeparator.svg#linearGradient18725);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect17673-1-2-5 {
	opacity: 0.5;
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//ToolBarSeparator.svg#linearGradient18742);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect17673 {
	fill: #023a7e;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

