@import "stock";

#stop8289 {
	stop-color: #6eb6e2;
	stop-opacity: 1;
}

#stop8291 {
	stop-color: #d3e5f4;
	stop-opacity: 1;
}

#stop4084-8 {
	stop-color: #4476aa;
	stop-opacity: 1;
}

#stop4864-7 {
	stop-color: #5a9ccc;
	stop-opacity: 1;
}

#stop4086-2 {
	stop-color: #4476aa;
	stop-opacity: 1;
}

#stop4996-5-9 {
	stop-color: #c5dff4;
	stop-opacity: 1;
}

#stop4998-5-0 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4912-8-5 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914-8-1 {
	stop-color: #c5dff4;
	stop-opacity: 1;
}

#stop4812-0 {
	stop-color: #be9a4b;
	stop-opacity: 1;
}

#stop4814-4 {
	stop-color: #877e60;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect3997-9 {
	fill: #f4fcff;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//Window.svg#linearGradient8887);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#rect4853-82-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//Window.svg#linearGradient8884);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//Window.svg#linearGradient8881);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect3997-9-9 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//Window.svg#linearGradient8293);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.e4.ui.model.workbench.edit/icons/full/obj16//Window.svg#linearGradient8878);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

