@import "gotham";

#stop3895 {
	stop-color: #677da9;
	stop-opacity: 1;
}

#stop3897 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4996-1 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop4998-89 {
	stop-color: #dce7f7;
	stop-opacity: 1;
}

#stop4896-8-7 {
	stop-color: #e0c88f;
	stop-opacity: 1;
}

#stop4898-5 {
	stop-color: #d5b269;
	stop-opacity: 1;
}

#stop4904-2-1 {
	stop-color: #b28a30;
	stop-opacity: 1;
}

#stop4906-2 {
	stop-color: #7f703d;
	stop-opacity: 1;
}

#stop4904-2-1-2 {
	stop-color: #b28a30;
	stop-opacity: 1;
}

#stop4906-2-7 {
	stop-color: #7f703d;
	stop-opacity: 1;
}

#g20936 {
	fill: #ffffff;
	stroke: #ffffff;
	display: inline;
}

#path20938 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	display: inline;
}

#path20940 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	display: inline;
}

#path20942 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#g20680 {
	display: inline;
}

#rect4001-3 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.externaltools/icons/full/obj16//build_tab.svg#linearGradient3867);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4884 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.externaltools/icons/full/obj16//build_tab.svg#linearGradient3869);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.externaltools/icons/full/obj16//build_tab.svg#linearGradient3871);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#g20926 {
	opacity: 0.75;
}

#g20919 {
	opacity: 0.75;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	filter: url(../../../../../../eclipse-svg/org.eclipse.ui.externaltools/icons/full/obj16//build_tab.svg#filter21712);
}

#g20816-4 {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

#path21763-0 {
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	font-family: Gautami;
	inkscape-font-specification: Gautami;
}

#path21765-9 {
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	font-family: Gautami;
	inkscape-font-specification: Gautami;
}

#path21763-3-4 {
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	font-family: Gautami;
	inkscape-font-specification: Gautami;
}

#path21763 {
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #17325d;
	fill-opacity: 1;
	stroke: #17325d;
	stroke-width: 0.47980908;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	font-family: Gautami;
	inkscape-font-specification: Gautami;
}

#path21765 {
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #17325d;
	fill-opacity: 1;
	stroke: #17325d;
	stroke-width: 0.29654568;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	font-family: Gautami;
	inkscape-font-specification: Gautami;
}

#path3906 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#path21763-3 {
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #17325d;
	fill-opacity: 1;
	stroke: #17325d;
	stroke-width: 0.47980908;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
	font-family: Gautami;
	inkscape-font-specification: Gautami;
}

#rect3873 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.externaltools/icons/full/obj16//build_tab.svg#linearGradient3899);
	fill-opacity: 1;
	stroke: none;
}

#rect3873-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.externaltools/icons/full/obj16//build_tab.svg#linearGradient3901);
	fill-opacity: 1;
	stroke: none;
}

