@import "gotham";

#stop4882 {
	stop-color: #c93e35;
	stop-opacity: 1;
}

#stop4884 {
	stop-color: #c8192a;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-2-8-1-7-3-7 {
	stop-color: #eb6d71;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-2-95-0-5-4-8 {
	stop-color: #f13f53;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-2-0-9-8-4-3 {
	stop-color: #f7a29a;
	stop-opacity: 1;
}

#stop4882-5 {
	stop-color: #c93e35;
	stop-opacity: 1;
}

#stop4884-5 {
	stop-color: #c8192a;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g8159 {
	display: inline;
}

#path10796-2-6-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.externaltools/icons/full/obj16//invalid_build_tool.svg#linearGradient8163-2);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.externaltools/icons/full/obj16//invalid_build_tool.svg#linearGradient4886);
	stroke-width: 2.10502887;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path4911-7 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1px;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path4911-7-4 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1px;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path10796-2-6-0-1 {
	fill: none;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.externaltools/icons/full/obj16//invalid_build_tool.svg#linearGradient4986);
	stroke-width: 2.10502886999999990;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

