@import "gotham";

#stop4931 {
	stop-color: #e8f8f8;
	stop-opacity: 1;
}

#stop4933 {
	stop-color: #f0f8f8;
	stop-opacity: 1;
}

#stop4943 {
	stop-color: #a8b8d0;
	stop-opacity: 1;
}

#stop4946 {
	stop-color: #8898c0;
	stop-opacity: 1;
}

#stop4936 {
	stop-color: #a8b8d0;
	stop-opacity: 1;
}

#stop4938 {
	stop-color: #8898c0;
	stop-opacity: 1;
}

#stop4919 {
	stop-color: #a8b8d0;
	stop-opacity: 1;
}

#stop4923 {
	stop-color: #98a8c8;
	stop-opacity: 1;
}

#stop5107 {
	stop-color: #4068a0;
	stop-opacity: 1;
}

#stop5109 {
	stop-color: #295189;
	stop-opacity: 1;
}

#stop5065 {
	stop-color: #4f9cd2;
	stop-opacity: 1;
}

#stop5067 {
	stop-color: #295189;
	stop-opacity: 1;
}

#stop5041 {
	stop-color: #4898d0;
	stop-opacity: 1;
}

#stop5043 {
	stop-color: #80b8e0;
	stop-opacity: 1;
}

#stop5035 {
	stop-color: #d0f0f8;
	stop-opacity: 1;
}

#stop5037 {
	stop-color: #d0f0f8;
	stop-opacity: 1;
}

#stop4927 {
	stop-color: #285088;
	stop-opacity: 1;
}

#stop4929 {
	stop-color: #4068a0;
	stop-opacity: 1;
}

#stop4918 {
	stop-color: #4898d0;
	stop-opacity: 1;
}

#stop4921 {
	stop-color: #90c0e0;
	stop-opacity: 1;
}

#stop4847 {
	stop-color: #96792f;
	stop-opacity: 1;
}

#stop4849 {
	stop-color: #615941;
	stop-opacity: 1;
}

#stop4996-5-4 {
	stop-color: #c2ecf6;
	stop-opacity: 1;
}

#stop4998-5-0 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4912-8-8 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914-8-8 {
	stop-color: #c3ebf5;
	stop-opacity: 1;
}

#stop4912-8-8-4 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914-8-8-0 {
	stop-color: #b1e6f3;
	stop-opacity: 1;
}

#stop4996-5-4-8 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4998-5-0-8 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4918-7 {
	stop-color: #4898d0;
	stop-opacity: 1;
}

#stop4921-0 {
	stop-color: #90c0e0;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect3997-9-1-1-5 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.externaltools/icons/full/obj16//main_tab.svg#linearGradient4177);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect3997-9-1 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.externaltools/icons/full/obj16//main_tab.svg#linearGradient4179);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect3997-9-1-1 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.externaltools/icons/full/obj16//main_tab.svg#linearGradient4181);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect4853-82-7 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.externaltools/icons/full/obj16//main_tab.svg#linearGradient4183);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.externaltools/icons/full/obj16//main_tab.svg#linearGradient4185);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-7-2 {
	opacity: 0.25;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.externaltools/icons/full/obj16//main_tab.svg#linearGradient4187);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4853-82-0-4 {
	opacity: 0.25;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.externaltools/icons/full/obj16//main_tab.svg#linearGradient4189);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4914-9 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.externaltools/icons/full/obj16//main_tab.svg#linearGradient4191);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.externaltools/icons/full/obj16//main_tab.svg#linearGradient4193);
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-opacity: 1;
	display: inline;
}

#path4914 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.externaltools/icons/full/obj16//main_tab.svg#linearGradient4195);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.externaltools/icons/full/obj16//main_tab.svg#linearGradient4197);
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-opacity: 1;
}

#path4914-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.externaltools/icons/full/obj16//main_tab.svg#linearGradient4199);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect3997-9-1-1-5-6 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.externaltools/icons/full/obj16//main_tab.svg#linearGradient4201);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect4142 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.externaltools/icons/full/obj16//main_tab.svg#linearGradient4203);
	fill-opacity: 1;
	stroke: none;
}

#rect4144 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.externaltools/icons/full/obj16//main_tab.svg#linearGradient4205);
	fill-opacity: 1;
	stroke: none;
}

#rect4146 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.externaltools/icons/full/obj16//main_tab.svg#linearGradient4207);
	fill-opacity: 1;
	stroke: none;
}

