@import "stock";

#stop10800-5-2-1-8-20-6-4-9 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-24-8-4 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-8-4-2 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-0-2-1 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-2-7-0 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-8-5-5 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-5-3-1-1 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-0-2-1-2 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-4-2-3-4 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g11331-3-1-1 {
	display: inline;
}

#g13408-8 {
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-opacity: 1;
}

#path9518-1-56 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-width: 1.49197865;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path9518-1-1-0 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-width: 1.49197865;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path9518-1-1-7-3 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-width: 1.49197865;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#g13408-7-8 {
	fill: #737986;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path9518-1-5-2 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #737986;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1.49197865;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path9518-1-1-9-2 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #737986;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1.49197865;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path9518-1-1-7-6-2 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #737986;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1.49197865;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path10796-2-6-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator/icons/full/elcl16//content.svg#linearGradient13468-0-8);
	fill-opacity: 1;
	stroke: #14733c;
	stroke-width: 1.5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path10796-2-6-3-8 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator/icons/full/elcl16//content.svg#linearGradient13296-9-6-5);
	fill-opacity: 1;
	stroke: #14733c;
	stroke-width: 1.5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path10796-2-6-3-6-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator/icons/full/elcl16//content.svg#linearGradient5029);
	fill-opacity: 1;
	stroke: #14733c;
	stroke-width: 1.5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

