@import "gotham";

#stop5149 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop5151 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#stop5143 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop5145 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#stop5137 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop5139 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#stop4996 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop4998 {
	stop-color: #dce7f7;
	stop-opacity: 1;
}

#stop4904 {
	stop-color: #c7b571;
	stop-opacity: 1;
}

#stop4906 {
	stop-color: #9a9a8f;
	stop-opacity: 1;
}

#stop4896 {
	stop-color: #e0c88f;
	stop-opacity: 1;
}

#stop4898 {
	stop-color: #d5b269;
	stop-opacity: 1;
}

#stop4879 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop4881 {
	stop-color: #5e76a3;
	stop-opacity: 1;
}

#stop4863 {
	stop-color: #91a5c7;
	stop-opacity: 1;
}

#stop4865 {
	stop-color: #637aa7;
	stop-opacity: 1;
}

#stop4854-4-1 {
	stop-color: #707070;
	stop-opacity: 1;
}

#stop4856-0-2 {
	stop-color: #a0a0a0;
	stop-opacity: 1;
}

#stop4846-8-4 {
	stop-color: #606060;
	stop-opacity: 1;
}

#stop4848-8-9 {
	stop-color: #787878;
	stop-opacity: 1;
}

#path6206 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#stop7086 {
	stop-color: #fefaef;
	stop-opacity: 1;
}

#stop7088 {
	stop-color: #fce5a7;
	stop-opacity: 1;
}

#stop7078 {
	stop-color: #956413;
	stop-opacity: 1;
}

#stop7080 {
	stop-color: #c38b1d;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect4001-3 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/etool16//wordwrap.svg#linearGradient5000);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4001 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/etool16//wordwrap.svg#linearGradient4908);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect4001-1 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/etool16//wordwrap.svg#linearGradient4867);
	fill-opacity: 1;
	stroke: none;
}

#rect4001-1-7 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/etool16//wordwrap.svg#linearGradient4869);
	fill-opacity: 1;
	stroke: none;
}

#rect4001-1-7-4 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/etool16//wordwrap.svg#linearGradient4871);
	fill-opacity: 1;
	stroke: none;
}

#rect4001-1-7-4-0 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/etool16//wordwrap.svg#linearGradient4875);
	fill-opacity: 1;
	stroke: none;
}

#rect4001-1-7-4-0-9 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/etool16//wordwrap.svg#linearGradient4873);
	fill-opacity: 1;
	stroke: none;
}

#layer1-8 {
	opacity: 0.75;
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 3.70728397;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/etool16//wordwrap.svg#filter6988);
}

#rect4043 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 3.70728397;
	stroke-linecap: round;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect3968 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/etool16//wordwrap.svg#linearGradient3026);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/etool16//wordwrap.svg#linearGradient3028);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

