@import "gotham";

#stop4996 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop4998 {
	stop-color: #dce7f7;
	stop-opacity: 1;
}

#stop4904 {
	stop-color: #c7b571;
	stop-opacity: 1;
}

#stop4906 {
	stop-color: #8594ae;
	stop-opacity: 1;
}

#stop4896 {
	stop-color: #e0c88f;
	stop-opacity: 1;
}

#stop4898 {
	stop-color: #d5b269;
	stop-opacity: 1;
}

#stop4846-8-4 {
	stop-color: #3f3f3f;
	stop-opacity: 1;
}

#stop4848-8-9 {
	stop-color: #303030;
	stop-opacity: 1;
}

#path6206 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#stop4854-4-1-9 {
	stop-color: #707070;
	stop-opacity: 1;
}

#stop4856-0-2-1 {
	stop-color: #a0a0a0;
	stop-opacity: 1;
}

#stop4846-8-4-2 {
	stop-color: #3f3f3f;
	stop-opacity: 1;
}

#stop4848-8-9-2 {
	stop-color: #303030;
	stop-opacity: 1;
}

#stop4854-4-1-5 {
	stop-color: #707070;
	stop-opacity: 1;
}

#stop4856-0-2-9 {
	stop-color: #a0a0a0;
	stop-opacity: 1;
}

#stop4846-8-4-5 {
	stop-color: #3f3f3f;
	stop-opacity: 1;
}

#stop4848-8-9-3 {
	stop-color: #303030;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect4001-3 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//clone_el.svg#linearGradient5000);
	fill-opacity: 1;
	stroke: none;
}

#rect4001 {
	fill: none;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//clone_el.svg#linearGradient4908);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#path4884 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//clone_el.svg#linearGradient4900);
	fill-opacity: 1;
	stroke: none;
}

#path4224 {
	opacity: 1;
	fill: #94b0d1;
	fill-opacity: 1;
	stroke: #2b6da3;
	stroke-width: 1.01593637;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#g4219-0 {
	display: inline;
}

#rect4001-3-1 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//clone_el.svg#linearGradient4274);
	fill-opacity: 1;
	stroke: none;
}

#rect4001-6 {
	fill: #d0d0d0;
	stroke: #a9a9a9;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
	fill-opacity: 1;
}

#path4884-8 {
	fill: #aaaaaa;
	fill-opacity: 1;
	stroke: none;
}

#g4219-0-8 {
	display: inline;
}

#rect4001-3-1-2 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//clone_el.svg#linearGradient4312);
	fill-opacity: 1;
	stroke: none;
}

#rect4001-6-2 {
	fill: #d0d0d0;
	fill-opacity: 1;
	stroke: #a9a9a9;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#path4884-8-0 {
	fill: #aaaaaa;
	fill-opacity: 1;
	stroke: none;
}

#g4219-0-8-1 {
	display: inline;
}

#rect4001-3-1-2-6 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//clone_el.svg#linearGradient4346);
	fill-opacity: 1;
	stroke: none;
}

#rect4001-6-2-9 {
	fill: #d0d0d0;
	fill-opacity: 1;
	stroke: #a9a9a9;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#path4884-8-0-3 {
	fill: #aaaaaa;
	fill-opacity: 1;
	stroke: none;
}

#path4224-1 {
	display: inline;
	opacity: 0.72600002;
	fill: #94b0d1;
	fill-opacity: 1;
	stroke: #2b6da3;
	stroke-width: 1.01593637;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4224-1-8 {
	display: inline;
	opacity: 0.72600002;
	fill: #94b0d1;
	fill-opacity: 1;
	stroke: #2b6da3;
	stroke-width: 1.01593637;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4224-1-8-5 {
	display: inline;
	opacity: 0.72600002;
	fill: #94b0d1;
	fill-opacity: 1;
	stroke: #2b6da3;
	stroke-width: 1.01593637;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

