/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop4247 {
  stop-color: #b99866;
  stop-opacity: 1; }

#stop4249 {
  stop-color: #906f4e;
  stop-opacity: 1; }

#stop4237 {
  stop-color: #f4d684;
  stop-opacity: 0; }

#stop4239 {
  stop-color: #fcf4c6;
  stop-opacity: 1; }

#stop4241 {
  stop-color: #fbeebc;
  stop-opacity: 1; }

#stop4243 {
  stop-color: #eeb960;
  stop-opacity: 1; }

#stop5450 {
  stop-color: #ad8e5f;
  stop-opacity: 1; }

#stop5452 {
  stop-color: #8f6e4d;
  stop-opacity: 1; }

#stop5442 {
  stop-color: #ad8e5f;
  stop-opacity: 1; }

#stop5444 {
  stop-color: #8f6e4d;
  stop-opacity: 1; }

#stop5430 {
  stop-color: #f0a53b;
  stop-opacity: 1; }

#stop5438 {
  stop-color: #f2d58f;
  stop-opacity: 1; }

#stop5436 {
  stop-color: #efb965;
  stop-opacity: 1; }

#stop5432 {
  stop-color: #df9833;
  stop-opacity: 1; }

#stop5380 {
  stop-color: #f4d684;
  stop-opacity: 1; }

#stop5382 {
  stop-color: #fcf4c6;
  stop-opacity: 1; }

#stop5384 {
  stop-color: #fbeebc;
  stop-opacity: 1; }

#stop5386 {
  stop-color: #eeb960;
  stop-opacity: 1; }

#stop5353 {
  stop-color: #e4a239;
  stop-opacity: 1; }

#stop5355 {
  stop-color: #fada7d;
  stop-opacity: 1; }

#stop5333 {
  stop-color: #fef48d;
  stop-opacity: 1; }

#stop5341 {
  stop-color: #fffffe;
  stop-opacity: 1; }

#stop5339 {
  stop-color: #fffffe;
  stop-opacity: 1; }

#stop5335 {
  stop-color: #fef48d;
  stop-opacity: 1; }

#stop5208 {
  stop-color: #bbb8bb;
  stop-opacity: 1; }

#stop5216 {
  stop-color: #ccc8cb;
  stop-opacity: 1; }

#stop5214 {
  stop-color: #bdb6bc;
  stop-opacity: 1; }

#stop5210 {
  stop-color: #9b8c98;
  stop-opacity: 1; }

#stop5111 {
  stop-color: #906f4e;
  stop-opacity: 1; }

#stop5113 {
  stop-color: #dfbd7f;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#g8472 {
  display: inline; }

#rect4221-4 {
  fill: none;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//find_obj.svg#linearGradient5368);
  stroke-width: 1.06988706;
  stroke-miterlimit: 3.79999995;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#rect4221 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//find_obj.svg#linearGradient5370);
  fill-opacity: 1;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//find_obj.svg#linearGradient5434);
  stroke-opacity: 1;
  stroke-width: 1.06988706;
  stroke-miterlimit: 3.79999995;
  stroke-dasharray: none; }

#path5028 {
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  text-anchor: start;
  baseline-shift: baseline;
  color: #000000;
  fill: #496da1;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1.06988704;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate;
  font-family: Sans;
  inkscape-font-specification: Sans; }

#rect4221-7-1 {
  fill: #ffffc9;
  fill-opacity: 1;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//find_obj.svg#linearGradient5454);
  stroke-width: 1.06988706;
  stroke-opacity: 1;
  display: inline;
  stroke-miterlimit: 3.79999995;
  stroke-dasharray: none; }

#rect4221-7-1-2 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//find_obj.svg#linearGradient5372);
  fill-opacity: 1;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//find_obj.svg#linearGradient5374);
  stroke-width: 1.06988706;
  stroke-opacity: 1;
  display: inline;
  stroke-miterlimit: 3.79999995;
  stroke-dasharray: none; }

#rect4221-7 {
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//find_obj.svg#linearGradient5376);
  fill-opacity: 1;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//find_obj.svg#linearGradient5446);
  stroke-width: 1.06988706;
  stroke-linejoin: round;
  stroke-miterlimit: 3.79999995;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#rect4221-9 {
  display: inline;
  fill: none;
  fill-opacity: 1;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//find_obj.svg#linearGradient4251);
  stroke-width: 0.96289837;
  stroke-miterlimit: 3.79999995;
  stroke-dasharray: none;
  stroke-opacity: 1; }
