/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop7089 {
  stop-color: #17325d;
  stop-opacity: 1; }

#stop7091 {
  stop-color: #b4d0e2;
  stop-opacity: 1; }

#stop7093 {
  stop-color: #b7d2e4;
  stop-opacity: 1; }

#stop7095 {
  stop-color: #acc9de;
  stop-opacity: 1; }

#stop7097 {
  stop-color: #3e72a7;
  stop-opacity: 1; }

#path7368 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dashoffset: 0;
  display: inline; }

#stop7089-4 {
  stop-color: #17325d;
  stop-opacity: 1; }

#stop7091-0 {
  stop-color: #b4d0e2;
  stop-opacity: 1; }

#stop7093-9 {
  stop-color: #b7d2e4;
  stop-opacity: 1; }

#stop7095-4 {
  stop-color: #acc9de;
  stop-opacity: 1; }

#stop7097-8 {
  stop-color: #3e72a7;
  stop-opacity: 1; }

#stop7089-4-5 {
  stop-color: #17325d;
  stop-opacity: 1; }

#stop7091-0-5 {
  stop-color: #b4d0e2;
  stop-opacity: 1; }

#stop7093-9-1 {
  stop-color: #b7d2e4;
  stop-opacity: 1; }

#stop7095-4-7 {
  stop-color: #acc9de;
  stop-opacity: 1; }

#stop7097-8-1 {
  stop-color: #3e72a7;
  stop-opacity: 1; }

#stop7089-4-5-7 {
  stop-color: #17325d;
  stop-opacity: 1; }

#stop7091-0-5-6 {
  stop-color: #b4d0e2;
  stop-opacity: 1; }

#stop7093-9-1-1 {
  stop-color: #b7d2e4;
  stop-opacity: 1; }

#stop7095-4-7-4 {
  stop-color: #acc9de;
  stop-opacity: 1; }

#stop7097-8-1-2 {
  stop-color: #3e72a7;
  stop-opacity: 1; }

#stop7089-4-5-7-1 {
  stop-color: #17325d;
  stop-opacity: 1; }

#stop7091-0-5-6-6 {
  stop-color: #b4d0e2;
  stop-opacity: 1; }

#stop7093-9-1-1-8 {
  stop-color: #b7d2e4;
  stop-opacity: 1; }

#stop7095-4-7-4-5 {
  stop-color: #acc9de;
  stop-opacity: 1; }

#stop7097-8-1-2-7 {
  stop-color: #3e72a7;
  stop-opacity: 1; }

#stop7586-4 {
  stop-color: #f9cd5f;
  stop-opacity: 1; }

#stop7588-5 {
  stop-color: #fbf0b4;
  stop-opacity: 1; }

#stop7594-6 {
  stop-color: #bd8416;
  stop-opacity: 1; }

#stop7596-9 {
  stop-color: #a66b10;
  stop-opacity: 1; }

#stop5149 {
  stop-color: #91a5c7;
  stop-opacity: 1; }

#stop5151 {
  stop-color: #637aa7;
  stop-opacity: 1; }

#stop4879 {
  stop-color: #91a5c7;
  stop-opacity: 1; }

#stop4881 {
  stop-color: #5e76a3;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#layer1-8 {
  display: inline; }

#rect3997-9 {
  display: inline;
  fill: #e6f8ff;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#rect4367-3 {
  display: inline;
  opacity: 0.99715307;
  fill: #8996ac;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#rect3997-9-4 {
  fill: #e6c8ad;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect3997-9-4-5 {
  fill: #d4b268;
  fill-opacity: 1;
  stroke: none;
  display: inline;
  stroke-opacity: 1;
  stroke-width: 0.5;
  stroke-miterlimit: 4;
  stroke-dasharray: none; }

#g7205-6 {
  display: inline;
  opacity: 0.75;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  filter: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//restore_log.svg#filter7378); }

#path7045-6 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#path7045-0-6 {
  display: inline;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#path7045-3-5 {
  display: inline;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#path7045-3-4-1 {
  display: inline;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#path7045-3-4-7-2 {
  display: inline;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#path7045 {
  fill: none;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//restore_log.svg#linearGradient7541);
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#path7045-8 {
  display: inline;
  fill: none;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//restore_log.svg#linearGradient7117);
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#path7045-8-1 {
  display: inline;
  fill: none;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//restore_log.svg#linearGradient7160);
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#path7045-8-1-3 {
  display: inline;
  fill: none;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//restore_log.svg#linearGradient7203);
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#path7045-8-1-3-6 {
  display: inline;
  fill: none;
  stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//restore_log.svg#linearGradient7246);
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#g7590-7 {
  display: inline; }

#g7827-7 {
  display: inline; }

#rect4367 {
  opacity: 0.99715307;
  fill: #bfb688;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#rect4367-3-6 {
  display: inline;
  opacity: 0.99715307;
  fill: #9fa49d;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#rect4001-1 {
  display: inline;
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//restore_log.svg#linearGradient4867);
  fill-opacity: 1;
  stroke: none; }

#rect4001-1-7 {
  display: inline;
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//restore_log.svg#linearGradient4869);
  fill-opacity: 1;
  stroke: none; }

#rect4001-1-7-4 {
  display: inline;
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//restore_log.svg#linearGradient4871);
  fill-opacity: 1;
  stroke: none; }

#rect4001-1-7-4-6 {
  display: inline;
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//restore_log.svg#linearGradient4871-8);
  fill-opacity: 1;
  stroke: none; }

#g4302 {
  stroke-width: 0.82598633;
  stroke-miterlimit: 4;
  stroke-dasharray: none; }

#path7582 {
  display: inline;
  fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/elcl16//restore_log.svg#linearGradient7063);
  fill-opacity: 1;
  stroke: #9a7e20;
  stroke-width: 0.82598632;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#path7602-2-3 {
  display: inline;
  opacity: 0.85714285;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.82598633;
  stroke-miterlimit: 4;
  stroke-dasharray: none; }
