/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#layer1 {
  display: inline; }

#rect4869-5 {
  display: inline;
  fill: #f1fbff;
  fill-opacity: 1;
  stroke: #8b96ab;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#rect4869-5-4 {
  display: inline;
  fill: #f1fbff;
  fill-opacity: 1;
  stroke: #8b96ab;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#rect4186-9 {
  display: inline;
  opacity: 1;
  fill: #1547ae;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.5;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#rect4186-9-7 {
  display: inline;
  opacity: 1;
  fill: #1547ae;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.5;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#rect4281 {
  opacity: 1;
  fill: #01467a;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.5;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#rect4281-7 {
  display: inline;
  opacity: 1;
  fill: #01467a;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.5;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#g4298-6 {
  display: inline; }

#rect4281-7-6 {
  display: inline;
  opacity: 1;
  fill: #01467a;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.5;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }
