@import "stock";

#stop4352 {
	stop-color: #304bb0;
	stop-opacity: 1;
}

#stop4354 {
	stop-color: #897b8d;
	stop-opacity: 1;
}

#stop4192 {
	stop-color: #2846b3;
	stop-opacity: 1;
}

#stop4194 {
	stop-color: #92808a;
	stop-opacity: 1;
}

#stop4172 {
	stop-color: #85c0ed;
	stop-opacity: 1;
}

#stop4174 {
	stop-color: #dbedfa;
	stop-opacity: 1;
}

#stop4189 {
	stop-color: #17325d;
	stop-opacity: 1;
}

#stop4201 {
	stop-color: #b7d2e4;
	stop-opacity: 1;
}

#stop4191 {
	stop-color: #3e72a7;
	stop-opacity: 1;
}

#stop4180-5 {
	stop-color: #7e713d;
	stop-opacity: 1;
}

#stop4182-0 {
	stop-color: #b28a30;
	stop-opacity: 1;
}

#stop5070-8-0-4-9 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop5072-3-6-1-7 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4530-0-5-0-5-8-4 {
	stop-color: #e0c576;
	stop-opacity: 1;
}

#stop4532-7-9-3-3-6-1 {
	stop-color: #9e7916;
	stop-opacity: 1;
}

#stop6283-0-2-2-1-2-0-1-6-0 {
	stop-color: #f7f9fb;
	stop-opacity: 1;
}

#stop6285-5-0-9-7-6-9-9-1-9 {
	stop-color: #ffd680;
	stop-opacity: 1;
}

#path10622 {
	font-style: normal;
	font-weight: normal;
	font-size: 13.58917427px;
	line-height: 125%;
	font-family: Sans;
	letter-spacing: 0px;
	word-spacing: 0px;
	display: inline;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2.16621375;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#filter8410-9-1 {
	color-interpolation-filters: sRGB;
}

#rect3368-9-6 {
	opacity: 1;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//new_cheatsheet_wiz.svg#linearGradient4340);
	stroke-width: 1;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4307-4-6 {
	fill: #b7d2e4;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #ffffff;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4198-65-8 {
	fill: none;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//new_cheatsheet_wiz.svg#linearGradient4342);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: bevel;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4198-7-5 {
	fill: none;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//new_cheatsheet_wiz.svg#linearGradient4344);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: bevel;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4198-7-2-3 {
	fill: none;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//new_cheatsheet_wiz.svg#linearGradient4346);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: bevel;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4198-7-2-6-7 {
	fill: none;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//new_cheatsheet_wiz.svg#linearGradient4348);
	stroke-width: 0.96179312;
	stroke-linecap: round;
	stroke-linejoin: bevel;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect3368-9 {
	opacity: 1;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//new_cheatsheet_wiz.svg#linearGradient4362);
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//new_cheatsheet_wiz.svg#linearGradient4184-2);
	stroke-width: 1;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4307-4 {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: sans-serif;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	text-decoration-style: solid;
	text-decoration-color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	white-space: normal;
	clip-rule: nonzero;
	display: inline;
	overflow: visible;
	visibility: visible;
	opacity: 1;
	isolation: auto;
	mix-blend-mode: normal;
	color-interpolation: sRGB;
	color-interpolation-filters: linearRGB;
	solid-color: #000000;
	solid-opacity: 1;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
	color-rendering: auto;
	image-rendering: auto;
	shape-rendering: auto;
	text-rendering: auto;
	enable-background: accumulate;
}

#path4198-65 {
	fill: none;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//new_cheatsheet_wiz.svg#linearGradient4206-38);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: bevel;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4198-7 {
	fill: none;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//new_cheatsheet_wiz.svg#linearGradient4206-1);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: bevel;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4198-7-2 {
	fill: none;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//new_cheatsheet_wiz.svg#linearGradient4206-1-9);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: bevel;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4198-7-2-6 {
	fill: none;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//new_cheatsheet_wiz.svg#linearGradient4206-1-9-5);
	stroke-width: 0.96179312;
	stroke-linecap: round;
	stroke-linejoin: bevel;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4188-0 {
	opacity: 1;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//new_cheatsheet_wiz.svg#linearGradient4196-9);
	stroke-width: 1;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#g8461-0 {
	font-style: normal;
	font-weight: normal;
	font-size: 13.58917427px;
	line-height: 125%;
	font-family: Sans;
	letter-spacing: 0px;
	word-spacing: 0px;
	display: inline;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#g7590-1-0-4 {
	display: inline;
	fill: #ffffff;
	stroke: #ffffff;
}

#rect6501-1-6-8-6 {
	display: inline;
	opacity: 0.85;
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 5.85503387;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
	filter: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//new_cheatsheet_wiz.svg#filter8410-9-1);
}

#g6432 {
	font-style: normal;
	font-weight: normal;
	font-size: 13.58917427px;
	line-height: 125%;
	font-family: Sans;
	letter-spacing: 0px;
	word-spacing: 0px;
	display: inline;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#path5581-1-1 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//new_cheatsheet_wiz.svg#linearGradient6323-7-1-1);
	fill-opacity: 1;
	stroke: none;
}

#path5581-1-1-8 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//new_cheatsheet_wiz.svg#linearGradient5084-3-3-2-6);
	fill-opacity: 1;
	stroke: none;
}

#path5581-1-1-7 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//new_cheatsheet_wiz.svg#linearGradient5086-8-0-8-5);
	fill-opacity: 1;
	stroke: none;
}

#path5581-1-1-6 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//new_cheatsheet_wiz.svg#linearGradient5082-1-0-8-1);
	fill-opacity: 1;
	stroke: none;
}

#path5581-1-1-1 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//new_cheatsheet_wiz.svg#linearGradient5078-8-2-1-4);
	fill-opacity: 1;
	stroke: none;
}

#path5581-1-1-89 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//new_cheatsheet_wiz.svg#linearGradient5076-5-2-9-8);
	fill-opacity: 1;
	stroke: none;
}

#path5581-1-1-2 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//new_cheatsheet_wiz.svg#linearGradient3500-5);
	fill-opacity: 1;
	stroke: none;
}

#path5581-1-1-79 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//new_cheatsheet_wiz.svg#linearGradient5088-1-4-8-6);
	fill-opacity: 1;
	stroke: none;
}

#g4514 {
	display: inline;
}

#rect3910 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//new_cheatsheet_wiz.svg#radialGradient3091-1-9-6-4-6);
	fill-opacity: 1;
	stroke: #a27d18;
	stroke-width: 1.03243756;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path5581-5-5 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/etool16//new_cheatsheet_wiz.svg#linearGradient3093-5-2-7-0-9);
	fill-opacity: 1;
	stroke: none;
}

#rect4221 {
	opacity: 1;
	fill: #213c65;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4221-2 {
	opacity: 1;
	fill: #213c65;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4221-5 {
	opacity: 1;
	fill: #213c65;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4221-2-1 {
	opacity: 1;
	fill: #213c65;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4221-5-6 {
	opacity: 1;
	fill: #213c65;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4221-2-1-0 {
	opacity: 1;
	fill: #213c65;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4221-5-6-4 {
	opacity: 1;
	fill: #213c65;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4221-2-1-0-2 {
	opacity: 1;
	fill: #213c65;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

