@import "stock";

#stop8305 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop8313 {
	stop-color: #ffffff;
	stop-opacity: 0.25;
}

#stop8311 {
	stop-color: #ffffff;
	stop-opacity: 0.251;
}

#stop8307 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop8200 {
	stop-color: #f8e088;
	stop-opacity: 1;
}

#stop8206 {
	stop-color: #f8d880;
	stop-opacity: 1;
}

#stop8202 {
	stop-color: #f8f0b0;
	stop-opacity: 1;
}

#stop8192 {
	stop-color: #a07818;
	stop-opacity: 1;
}

#stop8194 {
	stop-color: #b89828;
	stop-opacity: 1;
}

#stop8192-2 {
	stop-color: #a07818;
	stop-opacity: 1;
}

#stop8194-7 {
	stop-color: #b89828;
	stop-opacity: 1;
}

#stop8192-2-0 {
	stop-color: #a07818;
	stop-opacity: 1;
}

#stop8194-7-9 {
	stop-color: #b89828;
	stop-opacity: 1;
}

#stop8305-8 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop8313-2 {
	stop-color: #ffffff;
	stop-opacity: 0.25;
}

#stop8311-4 {
	stop-color: #ffffff;
	stop-opacity: 0.251;
}

#stop8307-5 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop8200-1 {
	stop-color: #f8e088;
	stop-opacity: 1;
}

#stop8206-5 {
	stop-color: #f8d880;
	stop-opacity: 1;
}

#stop8202-2 {
	stop-color: #f8f0b0;
	stop-opacity: 1;
}

#stop8192-1 {
	stop-color: #a07818;
	stop-opacity: 1;
}

#stop8194-4 {
	stop-color: #b89828;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#layer1-0 {
	display: inline;
}

#g8159 {
	display: inline;
}

#rect8188-2 {
	fill: url(../../../../eclipse-svg/org.eclipse.pde.ui.tests/icons//suspend_co.svg#linearGradient7447);
	fill-opacity: 1;
	stroke: url(../../../../eclipse-svg/org.eclipse.pde.ui.tests/icons//suspend_co.svg#linearGradient7449);
	stroke-width: 1.29209423;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect8188-7-4-3 {
	fill: none;
	stroke: url(../../../../eclipse-svg/org.eclipse.pde.ui.tests/icons//suspend_co.svg#linearGradient8309-4);
	stroke-width: 0.93548667;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	filter: url(../../../../eclipse-svg/org.eclipse.pde.ui.tests/icons//suspend_co.svg#filter8319-5);
}

#rect8188-7-2 {
	fill: none;
	stroke: url(../../../../eclipse-svg/org.eclipse.pde.ui.tests/icons//suspend_co.svg#linearGradient8230-17);
	stroke-width: 1.29209423;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect8188 {
	fill: url(../../../../eclipse-svg/org.eclipse.pde.ui.tests/icons//suspend_co.svg#linearGradient8204);
	fill-opacity: 1;
	stroke: url(../../../../eclipse-svg/org.eclipse.pde.ui.tests/icons//suspend_co.svg#linearGradient8196);
	stroke-width: 1.29209423000000000;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#rect8188-7-4 {
	fill: none;
	stroke: url(../../../../eclipse-svg/org.eclipse.pde.ui.tests/icons//suspend_co.svg#linearGradient8309);
	stroke-width: 0.93548666999999996;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	filter: url(../../../../eclipse-svg/org.eclipse.pde.ui.tests/icons//suspend_co.svg#filter8319);
}

#rect8188-7 {
	fill: none;
	stroke: url(../../../../eclipse-svg/org.eclipse.pde.ui.tests/icons//suspend_co.svg#linearGradient8230);
	stroke-width: 1.29209423;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

