@import "gotham";

#leftblade {
	fill: $gotham-background-very-light;
	fill-opacity: 1;
	stroke: $gotham-background-very-light;
	stroke-width: 0.5;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#rightblade {
	fill: $gotham-background-very-light;
	fill-opacity: 1;
	stroke: $gotham-background-very-light;
	stroke-width: 0.5;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#pin {
	fill: $gotham-background-accent-red-bright;
	fill-opacity: 1;
	stroke: none;
}

#lefthandle {
	fill: none;
	stroke: $gotham-background-accent-blue-bright;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#righthandle {
	fill: none;
	stroke: $gotham-background-accent-blue-bright;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

