@import "gotham";

#stop4923 {
	stop-color: #85a2cd;
	stop-opacity: 1;
}

#stop4925 {
	stop-color: #d3dce9;
	stop-opacity: 1;
}

#stop4915 {
	stop-color: #4e6b9b;
	stop-opacity: 1;
}

#stop4917 {
	stop-color: #6783b1;
	stop-opacity: 1;
}

#stop4791 {
	stop-color: #4e8fbd;
	stop-opacity: 1;
}

#stop4793 {
	stop-color: #8dacc3;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#path4143 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//export_wiz.svg#linearGradient4927);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//export_wiz.svg#linearGradient4919);
	stroke-width: 0.71643895;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path3986 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//export_wiz.svg#linearGradient3924);
	fill-opacity: 1;
	stroke: none;
}

