@import "gotham";

#path4143 {
	fill: $gotham-background-light;
	fill-opacity: 1;
	stroke: $gotham-background-light;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#arrow {
	fill: $gotham-background-accent-blue-bright;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

