@import "gotham";

#end {
	display: inline;
	fill: $gotham-background-accent-yellow-bright;
	stroke: $gotham-background-accent-yellow-bright;
	stroke-width: 1;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
	fill-opacity: 1;
}

#handle {
	fill: $gotham-background-dark;
	fill-opacity: 1;
	stroke: $gotham-background-dark;
	stroke-width: 1;
	stroke-opacity: 1;
}

#switch {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: Sans;
	inkscape-font-specification: Sans;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: $gotham-background-very-light;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1px;
	marker: none;
	enable-background: accumulate;
}

#beam {
	display: inline;
	fill: $gotham-background-accent-yellow-bright;
	fill-opacity: 1;
	stroke: $gotham-background-accent-yellow;
	stroke-width: 0.8224746;
	stroke-opacity: 1;
}

#portal {
	display: inline;
	fill: $gotham-background-very-light;
	fill-opacity: 1;
	stroke: $gotham-background-very-light;
	stroke-width: 0.935;
	stroke-linejoin: round;
	stroke-miterlimit: 3;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#circle {
	display: inline;
	fill: $gotham-background-accent-purple;
	fill-opacity: 1;
	stroke: $gotham-background-accent-purple-bright;
	stroke-width: 0.558;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#question {
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 125%;
	font-family: Sans;
	inkscape-font-specification: 'Sans Bold';
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: $gotham-background-very-light;
	fill-opacity: 1;
	stroke: none;
}

