@import "gotham";

#circle {
	fill: $gotham-background-accent-purple;
	fill-opacity: 1;
	stroke: $gotham-background-accent-purple-bright;
	stroke-width: 1.50000000000000000;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#question {
	font-size: 40px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: $gotham-background-very-light;
	fill-opacity: 1;
	stroke: none;
	font-family: Sans;
}
