/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
/** Global Styles */
/** Navigation Elements (Back, Forward, Stop, etc)*/
/** UI Trim (Popup menu buttons, close buttons, etc)*/
#winframe {
  color: #000000;
  display: inline;
  overflow: visible;
  visibility: visible;
  fill: #cdd3d9;
  fill-opacity: 1;
  stroke: #cdd3d9;
  stroke-width: 1;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
  marker: none;
  enable-background: accumulate; }

#header {
  color: #000000;
  display: inline;
  overflow: visible;
  visibility: visible;
  fill: #4a11ff;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 0.89999998;
  marker: none;
  enable-background: accumulate; }

#stripe {
  color: #000000;
  display: inline;
  overflow: visible;
  visibility: visible;
  fill: #4a11ff;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 0.89999998;
  marker: none;
  enable-background: accumulate; }

#starshadow4 {
  display: inline;
  opacity: 0.85;
  fill: #c5be23;
  fill-opacity: 1;
  stroke: none; }

#starshadow3 {
  display: inline;
  opacity: 0.85;
  fill: #c5be23;
  fill-opacity: 1;
  stroke: none; }

#starshadow2 {
  display: inline;
  opacity: 0.85;
  fill: #c5be23;
  fill-opacity: 1;
  stroke: none; }

#starshadow1 {
  display: inline;
  opacity: 0.85;
  fill: #c5be23;
  fill-opacity: 1;
  stroke: none; }

#starshadow5 {
  display: inline;
  opacity: 0.85;
  fill: #c5be23;
  fill-opacity: 1;
  stroke: none; }

#star4 {
  display: inline;
  opacity: 0.85;
  fill: #f8ff0c;
  fill-opacity: 0.96862745;
  stroke: none; }

#star3 {
  display: inline;
  opacity: 0.85;
  fill: #f8ff0c;
  fill-opacity: 0.96862745;
  stroke: none; }

#star2 {
  display: inline;
  opacity: 0.85;
  fill: #f8ff0c;
  fill-opacity: 0.96862745;
  stroke: none; }

#star1 {
  display: inline;
  opacity: 0.85;
  fill: #f8ff0c;
  fill-opacity: 0.96862745;
  stroke: none; }

#star5 {
  display: inline;
  opacity: 0.85;
  fill: #f8ff0c;
  fill-opacity: 0.96862745;
  stroke: none; }

#starinterior {
  display: inline;
  fill: #c5be23;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1.03243756;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }

#starcross {
  display: inline;
  fill: #f8ff0c;
  fill-opacity: 1;
  stroke: none; }

#starexterior {
  display: inline;
  fill: none;
  fill-opacity: 1;
  stroke: #c5be23;
  stroke-width: 1.03243756;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; }
