/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop4897-4 {
  stop-color: #5978ab;
  stop-opacity: 1; }

#stop4899-0 {
  stop-color: #5373a7;
  stop-opacity: 1; }

#stop4823-1 {
  stop-color: #8daad3;
  stop-opacity: 1; }

#stop4825-5 {
  stop-color: #f3f5f6;
  stop-opacity: 1; }

#stop4831-3 {
  stop-color: #607fb0;
  stop-opacity: 1; }

#stop4833-87 {
  stop-color: #7593c1;
  stop-opacity: 1; }

#stop4996-8 {
  stop-color: #f9fafc;
  stop-opacity: 1; }

#stop4998-10 {
  stop-color: #dce7f8;
  stop-opacity: 1; }

#stop4896-8 {
  stop-color: #e4cf9d;
  stop-opacity: 1; }

#stop4898-4 {
  stop-color: #d0ab5b;
  stop-opacity: 1; }

#stop4904-1 {
  stop-color: #c7b571;
  stop-opacity: 1; }

#stop4906-5 {
  stop-color: #788dae;
  stop-opacity: 1; }

#stop4863-3 {
  stop-color: #91a5c7;
  stop-opacity: 1; }

#stop4865-7 {
  stop-color: #637aa7;
  stop-opacity: 1; }

#stop5149-8 {
  stop-color: #91a5c7;
  stop-opacity: 1; }

#stop5151-5 {
  stop-color: #637aa7;
  stop-opacity: 1; }

#stop4939-0 {
  stop-color: #000000;
  stop-opacity: 0; }

#stop4941-8 {
  stop-color: #000000;
  stop-opacity: 1; }

#stop4939-2-6 {
  stop-color: #000000;
  stop-opacity: 0; }

#stop4941-7-0 {
  stop-color: #000000;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#layer1-2 {
  display: inline; }

#rect4051-2 {
  display: inline;
  fill: #89a8d6;
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//print_edit.svg#linearGradient4901-0);
  stroke-opacity: 1; }

#rect4051 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//print_edit.svg#linearGradient4827-5);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//print_edit.svg#linearGradient4835-90);
  stroke-opacity: 1; }

#rect4001-3 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//print_edit.svg#linearGradient5000-26);
  fill-opacity: 1;
  stroke: none; }

#path4884 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//print_edit.svg#linearGradient4900-3);
  fill-opacity: 1;
  stroke: none; }

#rect4001 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//print_edit.svg#linearGradient4908-8);
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#rect4001-1-7 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//print_edit.svg#linearGradient4869-4);
  fill-opacity: 1;
  stroke: none; }

#rect4001-1-7-4 {
  display: inline;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//print_edit.svg#linearGradient4871-3);
  fill-opacity: 1;
  stroke: none; }

#rect4001-3-1 {
  display: inline;
  opacity: 0.365;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//print_edit.svg#linearGradient4918-7-6);
  fill-opacity: 1;
  stroke: none; }

#rect4001-3-1-6 {
  display: inline;
  opacity: 0.23000004;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//print_edit.svg#linearGradient6209);
  fill-opacity: 1;
  stroke: none; }
