/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
/** Global Styles */
/** Navigation Elements (Back, Forward, Stop, etc)*/
/** UI Trim (Popup menu buttons, close buttons, etc)*/
#layer1 {
  display: inline; }

#printer-footer {
  display: inline;
  fill: #bcb0b8;
  fill-opacity: 1;
  stroke: #bcb0b8;
  stroke-opacity: 1; }

#printer-body {
  fill: #776870;
  fill-opacity: 1;
  stroke: #776870;
  stroke-opacity: 1; }

#paper-base {
  display: inline;
  fill: #cdd3d9;
  fill-opacity: 1;
  stroke: #cdd3d9;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#paper-fold {
  fill: #776870;
  fill-opacity: 1;
  stroke: none; }

#paper-lines {
  display: inline;
  fill: #491adc;
  fill-opacity: 1;
  stroke: none; }

#body-shadow-left {
  display: none; }

#body-shadow-right {
  display: none; }
