@import "gotham";

/* dafuq is up with this stroke width rendering differently than undo??? */
#redo-arrow {
	display: inline;
	fill: $gotham-background-accent-yellow;
	fill-opacity: 1;
	stroke: $gotham-background-accent-yellow-bright;
	stroke-width: 0.75;
}
