@import "gotham";

#disk-back {
	display: inline;
	fill: $gotham-background-darkest;
	fill-opacity: 1;
	stroke: $gotham-background-darkest;
	stroke-width: 1;
	stroke-opacity: 1;
}

#label-back {
	display: none;
	fill: $gotham-background-accent-blue-bright;
	fill-opacity: 1.0;
	stroke: $gotham-background-accent-blue-bright;
	stroke-width: 1;
	stroke-opacity: 1;
}

#disk-mid {
	display: inline;
	fill: $gotham-background-darker;
	fill-opacity: 1.0;
	stroke: $gotham-background-darker;
	stroke-width: 1;
	stroke-opacity: 1;
}

#label-mid {
	display: none;
	fill: $gotham-background-accent-yellow-bright;
	fill-opacity: 1.0;
	stroke: $gotham-background-accent-yellow-bright;
	stroke-width: 1;
	stroke-opacity: 1;
}

#disk-base {
	fill: $gotham-background-dark;
	fill-opacity: 1;
	stroke: $gotham-background-dark;
	stroke-opacity: 1;
}

#io-slider {
	display: inline;
	fill: $gotham-background-accent-purple-bright;
	fill-opacity: 1;
	stroke: $gotham-background-accent-purple-bright;
	stroke-opacity: 1;
	stroke-width: 1;
}

#io-slider-slot {
	display: none;
	fill: $gotham-background-accent-green;
	fill-opacity: 1;
}

#label-base {
	display: inline;
	fill: $gotham-background-very-light;
	fill-opacity: 1;
	stroke: $gotham-background-very-light;
	stroke-opacity: 1;
}

#label-lines {
	display: none;
	opacity: 1;
	fill: $gotham-background-accent-purple;
	fill-opacity: 1;
	stroke: none;
}