/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop3997 {
  stop-color: #8a9b9e;
  stop-opacity: 1; }

#stop3999 {
  stop-color: #5b7aaa;
  stop-opacity: 1; }

#stop4895 {
  stop-color: #b7c9e3;
  stop-opacity: 1; }

#stop4897 {
  stop-color: #f3f5f6;
  stop-opacity: 1; }

#stop4885 {
  stop-color: #e4cf9d;
  stop-opacity: 1; }

#stop4891 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop4887 {
  stop-color: #fefdfa;
  stop-opacity: 1; }

#stop4782 {
  stop-color: #b1bdbf;
  stop-opacity: 1; }

#stop4784 {
  stop-color: #8a9b9e;
  stop-opacity: 1; }

#stop4740 {
  stop-color: #8a9b9e;
  stop-opacity: 1; }

#stop4742 {
  stop-color: #5b7aaa;
  stop-opacity: 1; }

#stop4740-0 {
  stop-color: #8a9b9e;
  stop-opacity: 1; }

#stop4742-6 {
  stop-color: #5b7aaa;
  stop-opacity: 1; }

#stop4895-1 {
  stop-color: #b7c9e3;
  stop-opacity: 1; }

#stop4897-1 {
  stop-color: #f3f5f6;
  stop-opacity: 1; }

#stop4740-5 {
  stop-color: #8a9b9e;
  stop-opacity: 1; }

#stop4742-2 {
  stop-color: #5b7aaa;
  stop-opacity: 1; }

#path3987 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//save_edit_memory.svg#linearGradient3989);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//save_edit_memory.svg#linearGradient3991);
  stroke-opacity: 1;
  display: inline; }

#layer1 {
  display: inline; }

#rect3968 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//save_edit_memory.svg#linearGradient3096);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//save_edit_memory.svg#linearGradient3098);
  stroke-opacity: 1; }

#rect3968-9-1 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//save_edit_memory.svg#linearGradient4308);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect3968-9 {
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  text-anchor: start;
  baseline-shift: baseline;
  color: #000000;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//save_edit_memory.svg#linearGradient4306);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate;
  font-family: Sans;
  inkscape-font-specification: Sans; }

#rect4963-5 {
  opacity: 0.35;
  fill: #9baaac;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4963-5-7 {
  opacity: 0.35;
  fill: #a6b4b6;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect3100-4 {
  fill: #ffd300;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect3100-4-2 {
  fill: #ffd300;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4310 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//save_edit_memory.svg#linearGradient4371);
  stroke-width: 1;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#g4953-5 {
  display: inline; }

#rect4963-5-4 {
  opacity: 0.35;
  fill: #9baaac;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4963-5-7-3 {
  opacity: 0.35;
  fill: #a6b4b6;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect3100-4-1 {
  fill: #ffd300;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path4373 {
  fill: #ffffff;
  fill-opacity: 0;
  stroke: #7189a4;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#path4373-5 {
  fill: #ffffff;
  fill-opacity: 0;
  stroke: #7189a4;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  display: inline; }

#path4373-5-0 {
  fill: #ffffff;
  fill-opacity: 0;
  stroke: #7189a4;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  display: inline; }

#rect3100-4-2-5 {
  fill: #fbff00;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect3100-4-2-5-3 {
  fill: #fbff00;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect3100-4-2-5-3-4 {
  fill: #fbff00;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#g4365-6 {
  display: inline; }

#rect4310-2 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//save_edit_memory.svg#linearGradient3983);
  stroke-width: 1;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#g4953-5-0 {
  display: inline; }

#rect4963-5-4-6 {
  opacity: 0.35;
  fill: #9baaac;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4963-5-7-3-2 {
  opacity: 0.35;
  fill: #a6b4b6;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#path3993 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//save_edit_memory.svg#linearGradient4100);
  fill-opacity: 1;
  stroke: none; }

#path3993-0 {
  fill: #666666;
  fill-opacity: 0.47031962;
  stroke: none;
  display: inline; }

#path3993-1 {
  fill: #000000;
  fill-opacity: 0.47031962;
  stroke: none;
  display: inline; }
