/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
/** Global Styles */
/** Navigation Elements (Back, Forward, Stop, etc)*/
/** UI Trim (Popup menu buttons, close buttons, etc)*/
#disk-back {
  display: inline;
  fill: #3c3539;
  fill-opacity: 1;
  stroke: #3c3539;
  stroke-width: 1;
  stroke-opacity: 1; }

#label-back {
  display: none;
  fill: #0761ff;
  fill-opacity: 1.0;
  stroke: #0761ff;
  stroke-width: 1;
  stroke-opacity: 1; }

#disk-mid {
  display: inline;
  fill: #594e54;
  fill-opacity: 1.0;
  stroke: #594e54;
  stroke-width: 1;
  stroke-opacity: 1; }

#label-mid {
  display: none;
  fill: #f8ef2c;
  fill-opacity: 1.0;
  stroke: #f8ef2c;
  stroke-width: 1;
  stroke-opacity: 1; }

#disk-base {
  fill: #776870;
  fill-opacity: 1;
  stroke: #776870;
  stroke-opacity: 1; }

#io-slider {
  display: inline;
  fill: #4a11ff;
  fill-opacity: 1;
  stroke: #4a11ff;
  stroke-opacity: 1;
  stroke-width: 1; }

#io-slider-slot {
  display: none;
  fill: #3f9c48;
  fill-opacity: 1; }

#label-base {
  display: inline;
  fill: #cdd3d9;
  fill-opacity: 1;
  stroke: #cdd3d9;
  stroke-opacity: 1; }

#label-lines {
  display: none;
  opacity: 1;
  fill: #491adc;
  fill-opacity: 1;
  stroke: none; }
