/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
/** Global Styles */
/** Navigation Elements (Back, Forward, Stop, etc)*/
/** UI Trim (Popup menu buttons, close buttons, etc)*/
#stop3987 {
  stop-color: #fcff6c;
  stop-opacity: 1; }

#stop3989 {
  stop-color: #ffc400;
  stop-opacity: 1; }

#stop3051 {
  stop-color: #e4cf9d;
  stop-opacity: 1; }

#stop3053 {
  stop-color: #dce9f2;
  stop-opacity: 1; }

#stop3055 {
  stop-color: #fefdfa;
  stop-opacity: 1; }

#stop4989 {
  stop-color: #e4cf9d;
  stop-opacity: 1; }

#stop4997 {
  stop-color: #b5cef2;
  stop-opacity: 1; }

#stop4995 {
  stop-color: #97b2d9;
  stop-opacity: 1; }

#stop4991 {
  stop-color: #f8f8fc;
  stop-opacity: 1; }

#stop4895 {
  stop-color: #b7c9e3;
  stop-opacity: 1; }

#stop4897 {
  stop-color: #f3f5f6;
  stop-opacity: 1; }

#stop4885 {
  stop-color: #e4cf9d;
  stop-opacity: 1; }

#stop4891 {
  stop-color: #dce9f2;
  stop-opacity: 1; }

#stop4887 {
  stop-color: #fefdfa;
  stop-opacity: 1; }

#stop4782 {
  stop-color: #b1bdbf;
  stop-opacity: 1; }

#stop4784 {
  stop-color: #8a9b9e;
  stop-opacity: 1; }

#stop4740 {
  stop-color: #8a9b9e;
  stop-opacity: 1; }

#stop4742 {
  stop-color: #5b7aaa;
  stop-opacity: 1; }

#stop4989-9 {
  stop-color: #e4cf9d;
  stop-opacity: 1; }

#stop4997-2 {
  stop-color: #b5cef2;
  stop-opacity: 1; }

#stop4995-8 {
  stop-color: #97b2d9;
  stop-opacity: 1; }

#stop4991-7 {
  stop-color: #f8f8fc;
  stop-opacity: 1; }

#stop4740-9 {
  stop-color: #8a9b9e;
  stop-opacity: 1; }

#stop4742-4 {
  stop-color: #5b7aaa;
  stop-opacity: 1; }

#stop4782-2 {
  stop-color: #b1bdbf;
  stop-opacity: 1; }

#stop4784-0 {
  stop-color: #8a9b9e;
  stop-opacity: 1; }

#stop3051-4 {
  stop-color: #e4cf9d;
  stop-opacity: 1; }

#stop3053-7 {
  stop-color: #dce9f2;
  stop-opacity: 1; }

#stop3055-7 {
  stop-color: #fefdfa;
  stop-opacity: 1; }

#stop4782-4-1 {
  stop-color: #b1bdbf;
  stop-opacity: 1; }

#stop4784-9-6 {
  stop-color: #8a9b9e;
  stop-opacity: 1; }

#stop6341 {
  stop-color: #e4cf9d;
  stop-opacity: 1; }

#stop6343 {
  stop-color: #dce9f2;
  stop-opacity: 1; }

#stop6345 {
  stop-color: #fefdfa;
  stop-opacity: 1; }

#stop4895-1 {
  stop-color: #b7c9e3;
  stop-opacity: 1; }

#stop4897-4 {
  stop-color: #f3f5f6;
  stop-opacity: 1; }

#stop4740-7 {
  stop-color: #8a9b9e;
  stop-opacity: 1; }

#stop4742-5 {
  stop-color: #5b7aaa;
  stop-opacity: 1; }

#stop4782-3 {
  stop-color: #b1bdbf;
  stop-opacity: 1; }

#stop4784-6 {
  stop-color: #8a9b9e;
  stop-opacity: 1; }

#stop3987-4 {
  stop-color: #fcff6c;
  stop-opacity: 1; }

#stop3989-9 {
  stop-color: #ffc400;
  stop-opacity: 1; }

#stop6341-3 {
  stop-color: #e4cf9d;
  stop-opacity: 1; }

#stop6343-5 {
  stop-color: #dce9f2;
  stop-opacity: 1; }

#stop6345-5 {
  stop-color: #fefdfa;
  stop-opacity: 1; }

#stop4782-4-1-2 {
  stop-color: #b1bdbf;
  stop-opacity: 1; }

#stop4784-9-6-0 {
  stop-color: #8a9b9e;
  stop-opacity: 1; }

#stop4895-1-2 {
  stop-color: #b7c9e3;
  stop-opacity: 1; }

#stop4897-4-6 {
  stop-color: #f3f5f6;
  stop-opacity: 1; }

#stop4740-7-5 {
  stop-color: #8a9b9e;
  stop-opacity: 1; }

#stop4742-5-3 {
  stop-color: #5b7aaa;
  stop-opacity: 1; }

#stop4782-3-5 {
  stop-color: #b1bdbf;
  stop-opacity: 1; }

#stop4784-6-9 {
  stop-color: #8a9b9e;
  stop-opacity: 1; }

#stop3987-4-1 {
  stop-color: #fdffa1;
  stop-opacity: 1; }

#stop3989-9-9 {
  stop-color: #ffda61;
  stop-opacity: 1; }

#stop6341-3-1 {
  stop-color: #e4cf9d;
  stop-opacity: 1; }

#stop6343-5-0 {
  stop-color: #dce9f2;
  stop-opacity: 1; }

#stop6345-5-7 {
  stop-color: #fefdfa;
  stop-opacity: 1; }

#stop4782-4-1-2-4 {
  stop-color: #b1bdbf;
  stop-opacity: 1; }

#stop4784-9-6-0-6 {
  stop-color: #8a9b9e;
  stop-opacity: 1; }

#stop6086-6-0-3 {
  stop-color: #83adf0;
  stop-opacity: 1; }

#stop6088-8-6-2 {
  stop-color: #224377;
  stop-opacity: 1; }

#stop6086-6-7 {
  stop-color: #83adf0;
  stop-opacity: 1; }

#stop6088-8-69 {
  stop-color: #224377;
  stop-opacity: 1; }

#stop6086-7 {
  stop-color: #83adf0;
  stop-opacity: 1; }

#stop6088-9 {
  stop-color: #224377;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#g3115-0-5 {
  display: inline; }

#rect3968-4-8 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveas_edit_sdcard.svg#linearGradient4899-1-9);
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveas_edit_sdcard.svg#linearGradient4744-5-8);
  stroke-opacity: 1; }

#rect3851-2-2-1 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveas_edit_sdcard.svg#linearGradient3913-5-2);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#g3068-7-7 {
  display: inline; }

#rect3100-4-2-0-1 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect3100-4-2-5-1-3 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveas_edit_sdcard.svg#linearGradient3068-9-5);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#g3825-1-1-0 {
  display: inline; }

#rect3100-4-2-6-9-6 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect3100-4-2-5-4-1-1 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveas_edit_sdcard.svg#linearGradient3070-7-9);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect3851-7-6 {
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  text-anchor: start;
  baseline-shift: baseline;
  color: #000000;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveas_edit_sdcard.svg#linearGradient4064-9-0);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate;
  font-family: Sans;
  inkscape-font-specification: Sans; }

#rect3968-9-1-0-4 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveas_edit_sdcard.svg#linearGradient3111-2-6);
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect3968-9-2-1 {
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  text-anchor: start;
  baseline-shift: baseline;
  color: #000000;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveas_edit_sdcard.svg#linearGradient3113-1-0);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate;
  font-family: Sans;
  inkscape-font-specification: Sans; }

#rect4963-5-3-9 {
  opacity: 0.35;
  fill: #9baaac;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect4963-5-0-1-9 {
  opacity: 0.35;
  fill: #9baaac;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#rect6074 {
  opacity: 0.97330592;
  color: #000000;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveas_edit_sdcard.svg#linearGradient3058);
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 0.80000001;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#rect6074-6 {
  opacity: 0.97330592;
  color: #000000;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveas_edit_sdcard.svg#linearGradient6141-0);
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 0.80000001;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }

#rect6074-6-4 {
  opacity: 0.97330592;
  color: #000000;
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//saveas_edit_sdcard.svg#linearGradient6175-7);
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 0.80000001;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate; }
