@import "gotham";

#stop4989 {
	stop-color: #e4cf9d;
	stop-opacity: 1;
}

#stop4997 {
	stop-color: #b5cef2;
	stop-opacity: 1;
}

#stop4995 {
	stop-color: #97b2d9;
	stop-opacity: 1;
}

#stop4991 {
	stop-color: #f8f8fc;
	stop-opacity: 1;
}

#stop4895 {
	stop-color: #b7c9e3;
	stop-opacity: 1;
}

#stop4897 {
	stop-color: #f3f5f6;
	stop-opacity: 1;
}

#stop4885 {
	stop-color: #e4cf9d;
	stop-opacity: 1;
}

#stop4891 {
	stop-color: #dce9f2;
	stop-opacity: 1;
}

#stop4887 {
	stop-color: #fefdfa;
	stop-opacity: 1;
}

#stop4782 {
	stop-color: #b1bdbf;
	stop-opacity: 1;
}

#stop4784 {
	stop-color: #8a9b9e;
	stop-opacity: 1;
}

#stop4740 {
	stop-color: #8a9b9e;
	stop-opacity: 1;
}

#stop4742 {
	stop-color: #5b7aaa;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect3968 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//save_edit.svg#linearGradient4899);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//save_edit.svg#linearGradient4744);
	stroke-opacity: 1;
}

#rect3968-9-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//save_edit.svg#linearGradient4889);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect3968-9 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//save_edit.svg#linearGradient4858);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect3968-9-6-8 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//save_edit.svg#linearGradient4993);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect3968-9-6 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #5b7aaa;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect4963 {
	fill: #5b7aaa;
	fill-opacity: 1;
	stroke: none;
}

#rect4963-5 {
	opacity: 0.35;
	fill: #9baaac;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4963-5-7 {
	opacity: 0.35;
	fill: #a6b4b6;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

