@import "gotham";

#stop4176 {
	stop-color: #ad7212;
	stop-opacity: 1;
}

#stop4178 {
	stop-color: #996c22;
	stop-opacity: 1;
}

#stop7586-4-4-4 {
	stop-color: #f9cd5f;
	stop-opacity: 1;
}

#stop7588-5-0-3 {
	stop-color: #ffebb7;
	stop-opacity: 1;
}

#stop7594-6-9-5 {
	stop-color: #ad7212;
	stop-opacity: 1;
}

#stop7596-9-2-1 {
	stop-color: #875f1e;
	stop-opacity: 1;
}

#stop7586-4-4-4-8 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop7588-5-0-3-4 {
	stop-color: #ffd25d;
	stop-opacity: 1;
}

#stop7594-6-9-5-8 {
	stop-color: #ad7212;
	stop-opacity: 1;
}

#stop7596-9-2-1-4 {
	stop-color: #875f1e;
	stop-opacity: 1;
}

#stop7586-4-4-4-8-9 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop7588-5-0-3-4-1 {
	stop-color: #ffd25d;
	stop-opacity: 1;
}

#stop7594-6-9-5-8-0 {
	stop-color: #ad7212;
	stop-opacity: 1;
}

#stop7596-9-2-1-4-1 {
	stop-color: #875f1e;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#path7582-2-8 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//undo_edit.svg#radialGradient3041);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/etool16//undo_edit.svg#linearGradient3043);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

