/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop4735 {
  stop-color: #eb344a;
  stop-opacity: 1; }

#stop4737 {
  stop-color: #c11519;
  stop-opacity: 1; }

#stop4739 {
  stop-color: #f6c2bf;
  stop-opacity: 1; }

#stop4725 {
  stop-color: #91a5c7;
  stop-opacity: 1; }

#stop4727 {
  stop-color: #677da9;
  stop-opacity: 1; }

#stop4715 {
  stop-color: #b4903d;
  stop-opacity: 1; }

#stop4717 {
  stop-color: #7b7350;
  stop-opacity: 1; }

#stop4707 {
  stop-color: #f9fafc;
  stop-opacity: 1; }

#stop4709 {
  stop-color: #dfe8f7;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#rect3933 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//jdkcompliance_tab.svg#linearGradient4719);
  fill-opacity: 1;
  stroke: none; }

#rect3935 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//jdkcompliance_tab.svg#linearGradient4711);
  fill-opacity: 1;
  stroke: none; }

#rect4721 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//jdkcompliance_tab.svg#linearGradient4729);
  fill-opacity: 1;
  stroke: none; }

#path10927-5-7 {
  fill: #366c9a;
  fill-opacity: 1;
  display: inline; }

#path10796-7-1 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//jdkcompliance_tab.svg#linearGradient4731);
  fill-opacity: 1;
  stroke: #c11519;
  stroke-width: 2.58953929;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }
