/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop11150-4-72 {
  stop-color: #faefba;
  stop-opacity: 1; }

#stop11152-9-0 {
  stop-color: #9e6542;
  stop-opacity: 1; }

#stop11150-7-5-9 {
  stop-color: #faefba;
  stop-opacity: 1; }

#stop11152-8-4-35 {
  stop-color: #9e6542;
  stop-opacity: 1; }

#stop11150-9-6-9 {
  stop-color: #faefba;
  stop-opacity: 1; }

#stop11152-6-7-6 {
  stop-color: #9e6542;
  stop-opacity: 1; }

#stop11150-7-8-3-8 {
  stop-color: #faefba;
  stop-opacity: 1; }

#stop11152-8-8-6-3 {
  stop-color: #9e6542;
  stop-opacity: 1; }

#stop10858-0-7-6-0 {
  stop-color: #7d75ac;
  stop-opacity: 1; }

#stop10860-7-9-1-0 {
  stop-color: #574a96;
  stop-opacity: 1; }

#stop10862-3-3-8-2 {
  stop-color: #b5b0d4;
  stop-opacity: 1; }

#stop10800-5-2-1-8-4 {
  stop-color: #4f9e55;
  stop-opacity: 1; }

#stop10806-6-8-5-3-1 {
  stop-color: #418a4d;
  stop-opacity: 1; }

#stop10802-1-5-3-0-0 {
  stop-color: #b6d1a1;
  stop-opacity: 1; }

#stop10800-5-2-1-8-4-0 {
  stop-color: #4f9e55;
  stop-opacity: 1; }

#stop10806-6-8-5-3-1-7 {
  stop-color: #418a4d;
  stop-opacity: 1; }

#stop10802-1-5-3-0-0-3 {
  stop-color: #b6d1a1;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#g11331-3 {
  display: inline; }

#path10927-5-7 {
  fill: #366c9a;
  fill-opacity: 1;
  display: inline; }

#rect10961-8 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//jperspective.svg#radialGradient11268-5-5);
  fill-opacity: 1;
  stroke: #694337;
  stroke-width: 3.58380508;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#rect10961-9-0 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//jperspective.svg#radialGradient11270-4-5);
  fill-opacity: 1;
  stroke: #694337;
  stroke-width: 3.58380508;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#rect10961-3-9 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//jperspective.svg#radialGradient11272-3-8);
  fill-opacity: 1;
  stroke: #694337;
  stroke-width: 3.58380508;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#rect10961-9-6-4 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//jperspective.svg#radialGradient11274-3-3);
  fill-opacity: 1;
  stroke: #694337;
  stroke-width: 3.58380508;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#path11108-6 {
  fill: none;
  stroke: #694337;
  stroke-width: 3.58380508;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#path11108-8-0 {
  fill: none;
  stroke: #694337;
  stroke-width: 3.58380508;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#path10796-7-1 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//jperspective.svg#linearGradient11298-3-4);
  fill-opacity: 1;
  stroke: #4c4277;
  stroke-width: 3.36212635000000004;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#path10796-2-7 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 3.36212635;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#path10796-2 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//jperspective.svg#linearGradient5160);
  fill-opacity: 1;
  stroke: #14733c;
  stroke-width: 3.36212635000000004;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }
