/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop11150-4-72-3 {
  stop-color: #faefba;
  stop-opacity: 1; }

#stop11152-9-0-7 {
  stop-color: #9e6542;
  stop-opacity: 1; }

#stop11150-7-5-9-3 {
  stop-color: #faefba;
  stop-opacity: 1; }

#stop11152-8-4-35-5 {
  stop-color: #9e6542;
  stop-opacity: 1; }

#stop11150-9-6-9-5 {
  stop-color: #faefba;
  stop-opacity: 1; }

#stop11152-6-7-6-3 {
  stop-color: #9e6542;
  stop-opacity: 1; }

#stop11150-7-8-3-8-7 {
  stop-color: #faefba;
  stop-opacity: 1; }

#stop11152-8-8-6-3-2 {
  stop-color: #9e6542;
  stop-opacity: 1; }

#stop4859-2 {
  stop-color: #713e1e;
  stop-opacity: 1; }

#stop4873-0 {
  stop-color: #925321;
  stop-opacity: 1; }

#stop4871-6 {
  stop-color: #945829;
  stop-opacity: 1; }

#stop4867-9 {
  stop-color: #703b18;
  stop-opacity: 1; }

#stop4865-7 {
  stop-color: #945829;
  stop-opacity: 1; }

#stop4869-8 {
  stop-color: #925321;
  stop-opacity: 1; }

#stop4861-8 {
  stop-color: #713e1e;
  stop-opacity: 1; }

#stop4859-2-9 {
  stop-color: #713e1e;
  stop-opacity: 1; }

#stop4873-0-0 {
  stop-color: #925321;
  stop-opacity: 1; }

#stop4871-6-9 {
  stop-color: #945829;
  stop-opacity: 1; }

#stop4867-9-8 {
  stop-color: #703b18;
  stop-opacity: 1; }

#stop4865-7-8 {
  stop-color: #945829;
  stop-opacity: 1; }

#stop4869-8-0 {
  stop-color: #925321;
  stop-opacity: 1; }

#stop4861-8-7 {
  stop-color: #713e1e;
  stop-opacity: 1; }

#stop11150-4-72-3-2 {
  stop-color: #faefba;
  stop-opacity: 1; }

#stop11152-9-0-7-2 {
  stop-color: #9e6542;
  stop-opacity: 1; }

#stop11150-7-5-9-3-0 {
  stop-color: #faefba;
  stop-opacity: 1; }

#stop11152-8-4-35-5-46 {
  stop-color: #9e6542;
  stop-opacity: 1; }

#stop11150-9-6-9-5-74 {
  stop-color: #faefba;
  stop-opacity: 1; }

#stop11152-6-7-6-3-0 {
  stop-color: #9e6542;
  stop-opacity: 1; }

#stop11150-7-8-3-8-7-5 {
  stop-color: #faefba;
  stop-opacity: 1; }

#stop11152-8-8-6-3-2-7 {
  stop-color: #9e6542;
  stop-opacity: 1; }

#stop4859-2-2 {
  stop-color: #713e1e;
  stop-opacity: 1; }

#stop4873-0-04 {
  stop-color: #925321;
  stop-opacity: 1; }

#stop4871-6-92 {
  stop-color: #945829;
  stop-opacity: 1; }

#stop4867-9-4 {
  stop-color: #703b18;
  stop-opacity: 1; }

#stop4865-7-3 {
  stop-color: #945829;
  stop-opacity: 1; }

#stop4869-8-1 {
  stop-color: #925321;
  stop-opacity: 1; }

#stop4861-8-4 {
  stop-color: #713e1e;
  stop-opacity: 1; }

#stop4859-2-9-4 {
  stop-color: #713e1e;
  stop-opacity: 1; }

#stop4873-0-0-2 {
  stop-color: #925321;
  stop-opacity: 1; }

#stop4871-6-9-5 {
  stop-color: #945829;
  stop-opacity: 1; }

#stop4867-9-8-7 {
  stop-color: #703b18;
  stop-opacity: 1; }

#stop4865-7-8-3 {
  stop-color: #945829;
  stop-opacity: 1; }

#stop4869-8-0-5 {
  stop-color: #925321;
  stop-opacity: 1; }

#stop4861-8-7-9 {
  stop-color: #713e1e;
  stop-opacity: 1; }

#layer1 {
  display: inline; }

#g11331-3 {
  display: inline; }

#g11260-4 {
  display: inline;
  stroke-width: 5.40107462;
  stroke-miterlimit: 4;
  stroke-dasharray: none; }

#rect10961-8 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//package.svg#radialGradient4039);
  fill-opacity: 1;
  stroke: #c37e3b;
  stroke-width: 5.40107462000000016;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#rect10961-9-0 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//package.svg#radialGradient4041);
  fill-opacity: 1;
  stroke: #c37e3b;
  stroke-width: 5.40107440999999966;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#rect10961-3-9 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//package.svg#radialGradient4043);
  fill-opacity: 1;
  stroke: #a8612d;
  stroke-width: 5.40107462;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dashoffset: 0;
  display: inline;
  stroke-dasharray: none; }

#rect10961-9-6-4 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//package.svg#radialGradient4045);
  fill-opacity: 1;
  stroke: #a8612d;
  stroke-width: 5.40107441;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#path11108-6 {
  fill: #713e1e;
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//package.svg#linearGradient4047);
  stroke-width: 5.48612356;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#path11108-6-1 {
  fill: #713e1e;
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//package.svg#linearGradient4049);
  stroke-width: 5.48612356;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }

#rect4972 {
  fill: #6f7684;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#rect4974 {
  fill: #6f7684;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#rect4974-8 {
  fill: #6f7684;
  fill-opacity: 1;
  stroke: none;
  display: inline; }

#g11260-4-0 {
  stroke-width: 5.40107441;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  display: inline; }

#rect10961-8-3 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//package.svg#radialGradient4039-8);
  fill-opacity: 1;
  stroke: #c37e3b;
  stroke-width: 5.40107441;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#rect10961-9-0-4 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//package.svg#radialGradient4041-1);
  fill-opacity: 1;
  stroke: #c37e3b;
  stroke-width: 5.40107441;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#rect10961-3-9-8 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//package.svg#radialGradient4043-3);
  fill-opacity: 1;
  stroke: #a8612d;
  stroke-width: 5.40107441;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#rect10961-9-6-4-2 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//package.svg#radialGradient4045-8);
  fill-opacity: 1;
  stroke: #a8612d;
  stroke-width: 5.40107441;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#path11108-6-11 {
  fill: #713e1e;
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//package.svg#linearGradient4047-8);
  stroke-width: 5.40107462;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#path11108-6-1-0 {
  fill: #713e1e;
  fill-opacity: 1;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//package.svg#linearGradient4881);
  stroke-width: 5.40107462;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  display: inline; }
