@import "gotham";

#stop4094 {
	stop-color: #b4d29d;
	stop-opacity: 1;
}

#stop4096 {
	stop-color: #31955e;
	stop-opacity: 1;
}

#stop4088 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop4090 {
	stop-color: #f1f5fa;
	stop-opacity: 1;
}

#stop4082 {
	stop-color: #6f8db9;
	stop-opacity: 1;
}

#stop4084 {
	stop-color: #2c6ba3;
	stop-opacity: 1;
}

#stop4725 {
	stop-color: #ff7f7f;
	stop-opacity: 1;
}

#stop4727 {
	stop-color: #e5555f;
	stop-opacity: 1;
}

#stop4715 {
	stop-color: #bfb688;
	stop-opacity: 1;
}

#stop4717 {
	stop-color: #8995ac;
	stop-opacity: 1;
}

#stop4707 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop4709 {
	stop-color: #e3ecf9;
	stop-opacity: 1;
}

#rect4974 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#layer1 {
	display: inline;
}

#rect3933 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//templates.svg#linearGradient4719);
	fill-opacity: 1;
	stroke: none;
}

#rect3935 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//templates.svg#linearGradient4711);
	fill-opacity: 1;
	stroke: none;
}

#rect3933-6-8 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//templates.svg#filter4980);
}

#rect3933-6 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//templates.svg#linearGradient4027);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect3933-6-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//templates.svg#linearGradient4061);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4721 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//templates.svg#linearGradient4729);
	fill-opacity: 1;
	stroke: none;
}

#rect4721-9 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//templates.svg#linearGradient3944);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4721-7 {
	fill: #e04e59;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4721-9-1 {
	fill: #1a8b53;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4098-8 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//templates.svg#filter4897);
}

#path4098 {
	fill: #17325d;
	fill-opacity: 1;
	stroke: none;
}

