@import "stock";

#stop3854 {
	stop-color: #ff4949;
	stop-opacity: 1;
}

#stop3856 {
	stop-color: #cb3e44;
	stop-opacity: 1;
}

#stop5107 {
	stop-color: #bfb688;
	stop-opacity: 1;
}

#stop5109 {
	stop-color: #8693ae;
	stop-opacity: 1;
}

#stop5257 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop5259 {
	stop-color: #dee9f7;
	stop-opacity: 1;
}

#stop4905-2-3-9 {
	stop-color: #ffe69f;
	stop-opacity: 1;
}

#stop4911-4-9-2 {
	stop-color: #ffcb2f;
	stop-opacity: 1;
}

#stop4907-3-6-1 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop5083 {
	stop-color: #ffe296;
	stop-opacity: 1;
}

#stop5089 {
	stop-color: #f8d880;
	stop-opacity: 1;
}

#stop5085 {
	stop-color: #fffcd3;
	stop-opacity: 1;
}

#stop5093 {
	stop-color: #c6852e;
	stop-opacity: 1;
}

#stop5095 {
	stop-color: #e1a555;
	stop-opacity: 1;
}

#stop5083-6 {
	stop-color: #ffe296;
	stop-opacity: 1;
}

#stop5089-6 {
	stop-color: #f8d880;
	stop-opacity: 1;
}

#stop5085-1 {
	stop-color: #fffcd3;
	stop-opacity: 1;
}

#stop5093-5 {
	stop-color: #c6852e;
	stop-opacity: 1;
}

#stop5095-9 {
	stop-color: #e1a555;
	stop-opacity: 1;
}

#stop5257-9 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop5259-2 {
	stop-color: #d2e9f7;
	stop-opacity: 1;
}

#stop5107-4 {
	stop-color: #bfb688;
	stop-opacity: 1;
}

#stop5109-5 {
	stop-color: #8693ae;
	stop-opacity: 1;
}

#stop3842 {
	stop-color: #5c6884;
	stop-opacity: 1;
}

#stop3844 {
	stop-color: #a09860;
	stop-opacity: 1;
}

#stop4905-2-3-9-1 {
	stop-color: #ffe69f;
	stop-opacity: 1;
}

#stop4911-4-9-2-1 {
	stop-color: #ffcb2f;
	stop-opacity: 1;
}

#stop4907-3-6-1-8 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3854-7 {
	stop-color: #ff4949;
	stop-opacity: 1;
}

#stop3856-4 {
	stop-color: #cb3e44;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g3854 {
	display: inline;
}

#g8472-4 {
	display: inline;
}

#rect4172-1 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/eview16//problems_view_warning.svg#linearGradient3807);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/eview16//problems_view_warning.svg#linearGradient3809);
	stroke-width: 1.18227136;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect3852 {
	fill: #d0f0f8;
	fill-opacity: 1;
	stroke: none;
}

#path18345 {
	fill: #adc1e1;
	fill-opacity: 1;
	stroke: #a8bcde;
	stroke-width: 1.1246587px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path18347 {
	fill: #adc1e1;
	fill-opacity: 1;
	stroke: #a8bcde;
	stroke-width: 1.123523px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#rect21127 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/eview16//problems_view_warning.svg#linearGradient3846);
	fill-opacity: 1;
	stroke: none;
}

#rect21127-6 {
	fill: #5c6884;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4942-3 {
	fill: none;
	stroke: none;
}

#rect4942-1-75 {
	fill: none;
	stroke: none;
	display: inline;
}

#rect4942-1-7 {
	fill: none;
	stroke: none;
	display: inline;
}

#rect4880 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/eview16//problems_view_warning.svg#linearGradient3027);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: #e28d22;
	stroke-width: 1.2134217;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
}

#layer1-8-2 {
	fill: #d34a50;
	fill-opacity: 1;
	stroke: #a81d24;
	stroke-opacity: 1;
	display: inline;
}

#g11331-3-1-1-7 {
	fill: #d34a50;
	fill-opacity: 1;
	stroke: #a81d24;
	stroke-opacity: 1;
	display: inline;
}

#g13408-8-4 {
	fill: #d34a50;
	fill-opacity: 1;
	stroke: #a81d24;
	stroke-opacity: 1;
}

#g6124-3-1 {
	fill: #d34a50;
	fill-opacity: 1;
	stroke: #a81d24;
	stroke-opacity: 1;
	display: inline;
}

#text6430-6 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #d34a50;
	fill-opacity: 1;
	stroke: #a81d24;
	stroke-opacity: 1;
	font-family: Sans;
}

#g6438-4 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #d34a50;
	fill-opacity: 1;
	stroke: #a81d24;
	stroke-opacity: 1;
	display: inline;
	font-family: Sans;
}

#path10796-2-6-2-1 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/eview16//problems_view_warning.svg#linearGradient3048);
	fill-opacity: 1;
	stroke: #c91d24;
	stroke-width: 5.03605366;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	font-family: Sans;
}

#g8472 {
	display: inline;
}

#rect4942 {
	fill: none;
	stroke: none;
}

#rect4942-1 {
	fill: none;
	stroke: none;
	display: inline;
}

#layer1-8 {
	display: inline;
	fill: #d34a50;
	fill-opacity: 1;
	stroke: #a81d24;
	stroke-opacity: 1;
}

#g11331-3-1-1 {
	display: inline;
	fill: #d34a50;
	fill-opacity: 1;
	stroke: #a81d24;
	stroke-opacity: 1;
}

#g13408-8 {
	fill: #d34a50;
	fill-opacity: 1;
	stroke: #a81d24;
	stroke-opacity: 1;
}

#g6124-3 {
	display: inline;
	fill: #d34a50;
	fill-opacity: 1;
	stroke: #a81d24;
	stroke-opacity: 1;
}

#text6430 {
	font-size: 13.58917427000000089px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #d34a50;
	fill-opacity: 1;
	stroke: #a81d24;
	font-family: Sans;
	stroke-opacity: 1;
}

#g6438 {
	font-size: 13.58917427000000089px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #d34a50;
	fill-opacity: 1;
	stroke: #a81d24;
	display: inline;
	font-family: Sans;
	stroke-opacity: 1;
}

#layer1-6 {
	display: inline;
}

#g8472-9 {
	display: inline;
}

#path4292-2 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4292 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/eview16//problems_view_warning.svg#linearGradient3067);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.ide/icons/full/eview16//problems_view_warning.svg#linearGradient3069);
	stroke-width: 0.86058956;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path4253 {
	fill: #502800;
	fill-opacity: 1;
	stroke: none;
}

#path4253-7 {
	fill: #502800;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

