@import "stock";

#stop4231 {
	stop-color: #fbf8c7;
	stop-opacity: 1;
}

#stop4233 {
	stop-color: #cda287;
	stop-opacity: 1;
}

#stop4225 {
	stop-color: #fbf8c7;
	stop-opacity: 1;
}

#stop4227 {
	stop-color: #c99c7f;
	stop-opacity: 1;
}

#stop4219 {
	stop-color: #fbf8c7;
	stop-opacity: 1;
}

#stop4221 {
	stop-color: #cb9f83;
	stop-opacity: 1;
}

#stop8289 {
	stop-color: #6eb6e2;
	stop-opacity: 1;
}

#stop8291 {
	stop-color: #d3e5f4;
	stop-opacity: 1;
}

#stop4084-8 {
	stop-color: #4476aa;
	stop-opacity: 1;
}

#stop4864-7 {
	stop-color: #5a9ccc;
	stop-opacity: 1;
}

#stop4086-2 {
	stop-color: #4476aa;
	stop-opacity: 1;
}

#stop4996-5-9 {
	stop-color: #c5dff4;
	stop-opacity: 1;
}

#stop4998-5-0 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4912-8-5 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914-8-1 {
	stop-color: #c5dff4;
	stop-opacity: 1;
}

#stop4812-0 {
	stop-color: #be9a4b;
	stop-opacity: 1;
}

#stop4814-4 {
	stop-color: #877e60;
	stop-opacity: 1;
}

#stop8166-0 {
	stop-color: #accf8e;
	stop-opacity: 1;
}

#stop8176-3 {
	stop-color: #93c586;
	stop-opacity: 1;
}

#stop8174-7 {
	stop-color: #58ab71;
	stop-opacity: 1;
}

#stop8172-8 {
	stop-color: #4da766;
	stop-opacity: 1;
}

#stop8178-3 {
	stop-color: #61af61;
	stop-opacity: 1;
}

#stop8168-1 {
	stop-color: #78ba5e;
	stop-opacity: 1;
}

#stop6283-0-2-2-1 {
	stop-color: #f7f9fb;
	stop-opacity: 1;
}

#stop6285-5-0-9-7 {
	stop-color: #ffd680;
	stop-opacity: 1;
}

#stop4200 {
	stop-color: #fbf8c7;
	stop-opacity: 1;
}

#stop4202 {
	stop-color: #d2ab93;
	stop-opacity: 1;
}

#stop10509 {
	stop-color: #5f392d;
	stop-opacity: 1;
}

#stop10511 {
	stop-color: #9e7058;
	stop-opacity: 1;
}

#stop10513 {
	stop-color: #794f40;
	stop-opacity: 1;
}

#stop10515 {
	stop-color: #794f40;
	stop-opacity: 1;
}

#stop10517 {
	stop-color: #794f40;
	stop-opacity: 1;
}

#stop10519 {
	stop-color: #9e7058;
	stop-opacity: 1;
}

#stop10522 {
	stop-color: #5f392d;
	stop-opacity: 1;
}

#stop4271 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4273 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#layer1 {
	display: inline;
}

#rect4853-82-7 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//defbcon_wiz.svg#linearGradient8884);
	fill-opacity: 1;
	stroke: none;
}

#rect4853-82-0 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//defbcon_wiz.svg#linearGradient8881);
	fill-opacity: 1;
	stroke: none;
}

#rect3997-9 {
	display: inline;
	fill: #f4fcff;
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//defbcon_wiz.svg#linearGradient8887);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect3997-9-9 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//defbcon_wiz.svg#linearGradient8293);
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//defbcon_wiz.svg#linearGradient8878);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect3467 {
	font-style: normal;
	font-weight: normal;
	font-size: 13.58917427px;
	line-height: 125%;
	font-family: Sans;
	letter-spacing: 0px;
	word-spacing: 0px;
	display: inline;
	opacity: 0.75800003;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//defbcon_wiz.svg#linearGradient4275);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 0.85000002;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#g13862 {
	display: inline;
}

#g4293 {
	display: inline;
}

#rect3910 {
	display: inline;
	fill: #a27d18;
	fill-opacity: 1;
	stroke: #a27d18;
	stroke-width: 1.03243756;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path5581-5-5 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//defbcon_wiz.svg#linearGradient3093-5-2-7-0-9);
	fill-opacity: 1;
	stroke: none;
}

#layer1-4 {
	display: inline;
}

#g13862-9 {
	display: inline;
}

#layer1-9 {
	font-style: normal;
	font-weight: normal;
	font-size: 13.58917427px;
	line-height: 125%;
	font-family: Sans;
	letter-spacing: 0px;
	word-spacing: 0px;
	display: inline;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#g11260-4-2 {
	display: inline;
}

#rect10961-9-0-4-7 {
	font-style: normal;
	font-weight: normal;
	font-size: 13.58917427px;
	line-height: 125%;
	font-family: Sans;
	letter-spacing: 0px;
	word-spacing: 0px;
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//defbcon_wiz.svg#linearGradient4213);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 3.58380508;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect10961-9-0-4-6-0 {
	font-style: normal;
	font-weight: normal;
	font-size: 13.58917427px;
	line-height: 125%;
	font-family: Sans;
	letter-spacing: 0px;
	word-spacing: 0px;
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//defbcon_wiz.svg#linearGradient4215);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 3.58380508;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#path4196-7 {
	font-style: normal;
	font-weight: normal;
	font-size: 13.58917427px;
	line-height: 125%;
	font-family: Sans;
	letter-spacing: 0px;
	word-spacing: 0px;
	display: inline;
	opacity: 1;
	fill: none;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 5.11358929;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect10961-9-0-4 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//defbcon_wiz.svg#linearGradient4211);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 3.58380508;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect10961-9-0-4-6 {
	font-style: normal;
	font-weight: normal;
	font-size: 13.58917427px;
	line-height: 125%;
	font-family: Sans;
	letter-spacing: 0px;
	word-spacing: 0px;
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//defbcon_wiz.svg#linearGradient4209);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 3.58380508;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#path11108-6-7-5 {
	display: inline;
	fill: #915323;
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//defbcon_wiz.svg#linearGradient4895);
	stroke-width: 5.11358929;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path11108-6-7-5-6 {
	font-style: normal;
	font-weight: normal;
	font-size: 13.58917427px;
	line-height: 125%;
	font-family: Sans;
	letter-spacing: 0px;
	word-spacing: 0px;
	display: inline;
	fill: #915323;
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//defbcon_wiz.svg#linearGradient10544);
	stroke-width: 5.11358929;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4196 {
	opacity: 1;
	fill: none;
	fill-opacity: 1;
	stroke: #9e7058;
	stroke-width: 4.34655094;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#g11331-3 {
	display: inline;
}

#g14104 {
	display: inline;
	fill: #ffffff;
	stroke: #ffffff;
}

#g6258 {
	display: inline;
}

