@import "stock";

#stop5105-5 {
	stop-color: #fefdef;
	stop-opacity: 1;
}

#stop7550-07 {
	stop-color: #fef5d4;
	stop-opacity: 1;
}

#stop7548-6 {
	stop-color: #fbe08e;
	stop-opacity: 1;
}

#stop5107-7 {
	stop-color: #fbdd83;
	stop-opacity: 1;
}

#stop8289-4-1-2 {
	stop-color: #6eb6e2;
	stop-opacity: 1;
}

#stop8291-0-7-3 {
	stop-color: #d3e5f4;
	stop-opacity: 1;
}

#stop4084-8-8-5-1 {
	stop-color: #4476aa;
	stop-opacity: 1;
}

#stop4864-7-8-2-6 {
	stop-color: #5a9ccc;
	stop-opacity: 1;
}

#stop4086-2-2-7-8 {
	stop-color: #4476aa;
	stop-opacity: 1;
}

#stop4996-5-9 {
	stop-color: #c5dff4;
	stop-opacity: 1;
}

#stop4998-5-0 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4912-8-5 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4914-8-1 {
	stop-color: #c5dff4;
	stop-opacity: 1;
}

#stop4812-0 {
	stop-color: #a79c68;
	stop-opacity: 1;
}

#stop4814-4 {
	stop-color: #615941;
	stop-opacity: 1;
}

#stop6283-0-2-2-1 {
	stop-color: #f7f9fb;
	stop-opacity: 1;
}

#stop6285-5-0-9-7 {
	stop-color: #ffd680;
	stop-opacity: 1;
}

#stop4924-3 {
	stop-color: #0d5c9a;
	stop-opacity: 1;
}

#stop4926-7 {
	stop-color: #4077a7;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect3997-9 {
	display: inline;
	fill: #f4fcff;
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//exp_product.svg#linearGradient8887);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect4853-82-7 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//exp_product.svg#linearGradient8884);
	fill-opacity: 1;
	stroke: none;
}

#rect4853-82-0 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//exp_product.svg#linearGradient8881);
	fill-opacity: 1;
	stroke: none;
}

#rect3997-9-9 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//exp_product.svg#linearGradient8293);
	fill-opacity: 1;
	stroke: #315b91;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#path4299 {
	fill: #a79d79;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #a79d79;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4301 {
	fill: #a79d79;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #a79d79;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4303 {
	fill: #a79d79;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #a79d79;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4920 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//exp_product.svg#linearGradient19869);
	fill-opacity: 1;
	stroke: none;
}

