@import "stock";

#stop4466 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4468 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop4456 {
	stop-color: #af8836;
	stop-opacity: 1;
}

#stop4458 {
	stop-color: #7e7044;
	stop-opacity: 1;
}

#stop4431 {
	stop-color: #b88800;
	stop-opacity: 1;
}

#stop4433 {
	stop-color: #a87000;
	stop-opacity: 1;
}

#stop5105-5 {
	stop-color: #fefdef;
	stop-opacity: 1;
}

#stop7550-07 {
	stop-color: #fef5d4;
	stop-opacity: 1;
}

#stop7548-6 {
	stop-color: #fbe08e;
	stop-opacity: 1;
}

#stop5107-7 {
	stop-color: #fbdd83;
	stop-opacity: 1;
}

#stop3957-3 {
	stop-color: #3870da;
	stop-opacity: 1;
}

#stop3959-2 {
	stop-color: #78b8f0;
	stop-opacity: 1;
}

#stop3961-3 {
	stop-color: #78b8f0;
	stop-opacity: 1;
}

#stop3963-9 {
	stop-color: #3068d8;
	stop-opacity: 1;
}

#stop3965-8 {
	stop-color: #3068d8;
	stop-opacity: 1;
}

#stop4996-1 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop4998-89 {
	stop-color: #dce7f7;
	stop-opacity: 1;
}

#stop4896-8 {
	stop-color: #e0c88f;
	stop-opacity: 1;
}

#stop4898-5 {
	stop-color: #d5b269;
	stop-opacity: 1;
}

#stop10450-3-5-6-7 {
	stop-color: #cf9307;
	stop-opacity: 1;
}

#stop10456-4-1-5-3 {
	stop-color: #f7d87b;
	stop-opacity: 1;
}

#stop10452-22-7-8-4 {
	stop-color: #ebb313;
	stop-opacity: 1;
}

#stop10750-5 {
	stop-color: #ecac18;
	stop-opacity: 1;
}

#stop10752-8 {
	stop-color: #f1ce66;
	stop-opacity: 1;
}

#stop10754-8 {
	stop-color: #f6e5a6;
	stop-opacity: 1;
}

#stop10756-4 {
	stop-color: #f1cf6c;
	stop-opacity: 1;
}

#stop10758-7 {
	stop-color: #e5b630;
	stop-opacity: 1;
}

#stop10450-0 {
	stop-color: #ecac18;
	stop-opacity: 1;
}

#stop10458-2 {
	stop-color: #ffe38d;
	stop-opacity: 1;
}

#stop10456-96 {
	stop-color: #fdf5d2;
	stop-opacity: 1;
}

#stop10460-3 {
	stop-color: #ffeba7;
	stop-opacity: 1;
}

#stop10452-1 {
	stop-color: #e5b630;
	stop-opacity: 1;
}

#stop10416-3 {
	stop-color: #5078b9;
	stop-opacity: 1;
}

#stop10422-8 {
	stop-color: #6d8cbd;
	stop-opacity: 1;
}

#stop10418-4 {
	stop-color: #5f88c9;
	stop-opacity: 1;
}

#stop10434-4 {
	stop-color: #1f4d9a;
	stop-opacity: 1;
}

#stop10436-2 {
	stop-color: #4e6da1;
	stop-opacity: 1;
}

#stop10438-9 {
	stop-color: #567ebc;
	stop-opacity: 1;
}

#stop10159-5 {
	stop-color: #6588c1;
	stop-opacity: 1;
}

#stop10165-9 {
	stop-color: #becce3;
	stop-opacity: 1;
}

#stop10161-55 {
	stop-color: #809dcb;
	stop-opacity: 1;
}

#stop4286 {
	stop-color: #6588c1;
	stop-opacity: 0;
}

#stop4288 {
	stop-color: #becce3;
	stop-opacity: 1;
}

#stop4290 {
	stop-color: #809dcb;
	stop-opacity: 0;
}

#stop4924-3 {
	stop-color: #0d5c9a;
	stop-opacity: 1;
}

#stop4926-7 {
	stop-color: #4077a7;
	stop-opacity: 1;
}

#stop4319 {
	stop-color: #f8e8a8;
	stop-opacity: 1;
}

#stop4435 {
	stop-color: #f8f0d0;
	stop-opacity: 1;
}

#stop4437 {
	stop-color: #f8e8a8;
	stop-opacity: 1;
}

#stop4321 {
	stop-color: #f8e8a8;
	stop-opacity: 1;
}

#stop4313 {
	stop-color: #b88800;
	stop-opacity: 1;
}

#stop4315 {
	stop-color: #a87000;
	stop-opacity: 1;
}

#stop4252 {
	stop-color: #7090c0;
	stop-opacity: 1;
}

#stop4254 {
	stop-color: #4870b8;
	stop-opacity: 1;
}

#stop4260 {
	stop-color: #5888c8;
	stop-opacity: 1;
}

#stop4262 {
	stop-color: #4870b8;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#layer1-9 {
	font-style: normal;
	font-weight: normal;
	font-size: 13.58917427px;
	line-height: 125%;
	font-family: Sans;
	letter-spacing: 0px;
	word-spacing: 0px;
	display: inline;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#g4486 {
	display: inline;
}

#rect4001-3 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//export_target.svg#linearGradient4101);
	fill-opacity: 1;
	stroke: none;
}

#path4884 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//export_target.svg#linearGradient4900-1);
	fill-opacity: 1;
	stroke: none;
}

#rect4001 {
	display: inline;
	fill: none;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//export_target.svg#linearGradient4460);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#path4320 {
	display: inline;
	opacity: 1;
	fill: #d8e8e0;
	fill-opacity: 1;
	stroke: #2068a0;
	stroke-width: 1;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4322 {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: sans-serif;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	text-decoration-style: solid;
	text-decoration-color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	white-space: normal;
	clip-rule: nonzero;
	display: inline;
	overflow: visible;
	visibility: visible;
	opacity: 1;
	isolation: auto;
	mix-blend-mode: normal;
	color-interpolation: sRGB;
	color-interpolation-filters: linearRGB;
	solid-color: #000000;
	solid-opacity: 1;
	fill: #2068a0;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
	color-rendering: auto;
	image-rendering: auto;
	shape-rendering: auto;
	text-rendering: auto;
	enable-background: accumulate;
}

#path4920 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//export_target.svg#linearGradient19869);
	fill-opacity: 1;
	stroke: none;
}

#rect4462 {
	opacity: 1;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//export_target.svg#linearGradient4470);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 0.85000002;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4462-3 {
	display: inline;
	opacity: 1;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//export_target.svg#linearGradient4470-8);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 0.85000002;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#g4246 {
	display: inline;
}

#g4266-0 {
	display: inline;
}

#path4242-9 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//export_target.svg#linearGradient4323);
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//export_target.svg#linearGradient4307);
	stroke-width: 0.89697278;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4244-5 {
	opacity: 1;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//export_target.svg#linearGradient4309);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 0.84714097;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4244 {
	opacity: 1;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//export_target.svg#linearGradient4264);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 0.84714097;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4242 {
	fill: #a8c0d8;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//export_target.svg#linearGradient4256);
	stroke-width: 0.89697278;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

