@import "stock";

#stop4400 {
	stop-color: #6888d1;
	stop-opacity: 1;
}

#stop4406 {
	stop-color: #ffffff;
	stop-opacity: 0.48627451;
}

#stop4402 {
	stop-color: #82a1d8;
	stop-opacity: 1;
}

#stop4970 {
	stop-color: #7792b2;
	stop-opacity: 1;
}

#stop4972 {
	stop-color: #a1b3cb;
	stop-opacity: 1;
}

#stop4974 {
	stop-color: #6180a9;
	stop-opacity: 1;
}

#stop4976 {
	stop-color: #a1b3cb;
	stop-opacity: 1;
}

#stop4978 {
	stop-color: #7995b8;
	stop-opacity: 1;
}

#stop4962 {
	stop-color: #fdfcfa;
	stop-opacity: 1;
}

#stop4964 {
	stop-color: #ffffff;
	stop-opacity: 0.251;
}

#stop4966 {
	stop-color: #d2e0f1;
	stop-opacity: 0;
}

#stop4849 {
	stop-color: #d2e0f1;
	stop-opacity: 1;
}

#stop4855 {
	stop-color: #d2e0f1;
	stop-opacity: 1;
}

#stop4851 {
	stop-color: #fcf2cf;
	stop-opacity: 1;
}

#stop4827 {
	stop-color: #c7a229;
	stop-opacity: 1;
}

#stop4829 {
	stop-color: #a07e1e;
	stop-opacity: 1;
}

#stop4819 {
	stop-color: #fefdef;
	stop-opacity: 1;
}

#stop4821 {
	stop-color: #fbdd83;
	stop-opacity: 1;
}

#stop4740 {
	stop-color: #8cc861;
	stop-opacity: 1;
}

#stop4746 {
	stop-color: #4aa766;
	stop-opacity: 1;
}

#stop4742 {
	stop-color: #c2dd97;
	stop-opacity: 1;
}

#stop4743 {
	stop-color: #30825a;
	stop-opacity: 1;
}

#stop4745 {
	stop-color: #106643;
	stop-opacity: 1;
}

#stop4941-8-7 {
	stop-color: #d5f3ff;
	stop-opacity: 1;
}

#stop4943-2-4 {
	stop-color: #fcffff;
	stop-opacity: 1;
}

#stop4909-5 {
	stop-color: #c1723f;
	stop-opacity: 1;
}

#stop4911-0 {
	stop-color: #b04814;
	stop-opacity: 1;
}

#stop3957 {
	stop-color: #c38536;
	stop-opacity: 1;
}

#stop3959 {
	stop-color: #f2dc91;
	stop-opacity: 1;
}

#stop3961 {
	stop-color: #fbdc8b;
	stop-opacity: 1;
}

#stop3963 {
	stop-color: #e6bd7a;
	stop-opacity: 1;
}

#stop3965 {
	stop-color: #ba772f;
	stop-opacity: 1;
}

#path4919 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#stop4286 {
	stop-color: #6588c1;
	stop-opacity: 0;
}

#stop4288 {
	stop-color: #becce3;
	stop-opacity: 1;
}

#stop4290 {
	stop-color: #809dcb;
	stop-opacity: 0;
}

#stop10159-8-3 {
	stop-color: #6588c1;
	stop-opacity: 1;
}

#stop10165-3-9 {
	stop-color: #becce3;
	stop-opacity: 1;
}

#stop10161-5-0 {
	stop-color: #809dcb;
	stop-opacity: 1;
}

#stop10416-3 {
	stop-color: #5078b9;
	stop-opacity: 1;
}

#stop10422-8 {
	stop-color: #6d8cbd;
	stop-opacity: 1;
}

#stop10418-4 {
	stop-color: #5f88c9;
	stop-opacity: 1;
}

#stop10434-4 {
	stop-color: #1f4d9a;
	stop-opacity: 1;
}

#stop10436-2 {
	stop-color: #4e6da1;
	stop-opacity: 1;
}

#stop10438-9 {
	stop-color: #567ebc;
	stop-opacity: 1;
}

#stop10450-0 {
	stop-color: #ecac18;
	stop-opacity: 1;
}

#stop10458-2 {
	stop-color: #ffe38d;
	stop-opacity: 1;
}

#stop10456-96 {
	stop-color: #fdf5d2;
	stop-opacity: 1;
}

#stop10460-3 {
	stop-color: #ffeba7;
	stop-opacity: 1;
}

#stop10452-1 {
	stop-color: #e5b630;
	stop-opacity: 1;
}

#stop10750-5 {
	stop-color: #ecac18;
	stop-opacity: 1;
}

#stop10752-8 {
	stop-color: #f1ce66;
	stop-opacity: 1;
}

#stop10754-8 {
	stop-color: #f6e5a6;
	stop-opacity: 1;
}

#stop10756-4 {
	stop-color: #f1cf6c;
	stop-opacity: 1;
}

#stop10758-7 {
	stop-color: #e5b630;
	stop-opacity: 1;
}

#stop10450-3-5-6-7 {
	stop-color: #cf9307;
	stop-opacity: 1;
}

#stop10456-4-1-5-3 {
	stop-color: #f7d87b;
	stop-opacity: 1;
}

#stop10452-22-7-8-4 {
	stop-color: #ebb313;
	stop-opacity: 1;
}

#stop4160 {
	stop-color: #fdae35;
	stop-opacity: 1;
}

#stop4162 {
	stop-color: #fef0db;
	stop-opacity: 1;
}

#stop10442-43-2-0-9 {
	stop-color: #ae7603;
	stop-opacity: 1;
}

#stop10521-1-2-5-3 {
	stop-color: #e8d8a3;
	stop-opacity: 1;
}

#stop10444-3-4-0-4 {
	stop-color: #bb9221;
	stop-opacity: 1;
}

#stop10398-7 {
	stop-color: #1b3e79;
	stop-opacity: 1;
}

#stop10404-9 {
	stop-color: #728fbf;
	stop-opacity: 1;
}

#stop10400-9 {
	stop-color: #1f4d9a;
	stop-opacity: 1;
}

#stop10151-5-7-2 {
	stop-color: #1f4d9a;
	stop-opacity: 1;
}

#stop10394-3 {
	stop-color: #b9c7df;
	stop-opacity: 1;
}

#stop10153-8-1-2 {
	stop-color: #567ebc;
	stop-opacity: 1;
}

#stop4530-0-5-0-5-8 {
	stop-color: #e0c576;
	stop-opacity: 1;
}

#stop4532-7-9-3-3-6 {
	stop-color: #9e7916;
	stop-opacity: 1;
}

#stop6283-0-2-2-1-2-0-1-6 {
	stop-color: #f7f9fb;
	stop-opacity: 1;
}

#stop6285-5-0-9-7-6-9-9-1 {
	stop-color: #ffd680;
	stop-opacity: 1;
}

#stop3839 {
	stop-color: #6f8db9;
	stop-opacity: 1;
}

#stop3841 {
	stop-color: #1b639e;
	stop-opacity: 1;
}

#stop3831 {
	stop-color: #8297bc;
	stop-opacity: 1;
}

#stop3833 {
	stop-color: #6c81ad;
	stop-opacity: 1;
}

#stop3049 {
	stop-color: #146d39;
	stop-opacity: 1;
}

#stop3051 {
	stop-color: #359b58;
	stop-opacity: 1;
}

#stop23104 {
	stop-color: #c9473e;
	stop-opacity: 1;
}

#stop23118 {
	stop-color: #f35863;
	stop-opacity: 1;
}

#stop23106 {
	stop-color: #f6928e;
	stop-opacity: 1;
}

#stop5105-5-4 {
	stop-color: #96b956;
	stop-opacity: 1;
}

#stop7550-07-0 {
	stop-color: #c6d560;
	stop-opacity: 1;
}

#stop7548-6-9 {
	stop-color: #cfdc63;
	stop-opacity: 1;
}

#stop5107-7-48 {
	stop-color: #abca52;
	stop-opacity: 1;
}

#stop8564 {
	stop-color: #6994ad;
	stop-opacity: 1;
}

#stop8566 {
	stop-color: #005596;
	stop-opacity: 1;
}

#g3993 {
	fill: #ffffff;
}

#rect3995 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#rect3997 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#rect3999 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#rect4001 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

#stop4319 {
	stop-color: #f8e8a8;
	stop-opacity: 1;
}

#stop4435 {
	stop-color: #f8f0d0;
	stop-opacity: 1;
}

#stop4437 {
	stop-color: #f8e8a8;
	stop-opacity: 1;
}

#stop4321 {
	stop-color: #f8e8a8;
	stop-opacity: 1;
}

#stop4313 {
	stop-color: #b88800;
	stop-opacity: 1;
}

#stop4315 {
	stop-color: #a87000;
	stop-opacity: 1;
}

#stop4260 {
	stop-color: #5888c8;
	stop-opacity: 1;
}

#stop4262 {
	stop-color: #4870b8;
	stop-opacity: 1;
}

#stop4252 {
	stop-color: #597fca;
	stop-opacity: 1;
}

#stop4254 {
	stop-color: #4971af;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect4044 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//jarToPlugin.svg#radialGradient4853);
	fill-opacity: 1;
	stroke: none;
}

#rect4044-1 {
	display: inline;
	fill: none;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//jarToPlugin.svg#linearGradient4882);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect4815 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//jarToPlugin.svg#linearGradient4823);
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//jarToPlugin.svg#linearGradient4831);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect4044-7 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//jarToPlugin.svg#radialGradient4958);
	fill-opacity: 1;
	stroke: none;
}

#path4108-1 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//jarToPlugin.svg#linearGradient3083);
	fill-opacity: 1;
	stroke: none;
}

#path4108-1-6 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//jarToPlugin.svg#linearGradient3081);
	fill-opacity: 1;
	stroke: none;
}

#g4246 {
	display: inline;
}

#g4266-0 {
	display: inline;
}

#path4242-9 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//jarToPlugin.svg#linearGradient4323);
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//jarToPlugin.svg#linearGradient4307);
	stroke-width: 0.89697278;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4244-5 {
	opacity: 1;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//jarToPlugin.svg#linearGradient4309);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 0.84714097;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4244 {
	opacity: 1;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//jarToPlugin.svg#linearGradient4264);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 0.84714097;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4242 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//jarToPlugin.svg#linearGradient4404);
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//jarToPlugin.svg#linearGradient4256);
	stroke-width: 0.89697278;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

