@import "stock";

#stop3957 {
	stop-color: #c38536;
	stop-opacity: 1;
}

#stop3959 {
	stop-color: #f2dc91;
	stop-opacity: 1;
}

#stop3961 {
	stop-color: #fbdc8b;
	stop-opacity: 1;
}

#stop3963 {
	stop-color: #e6bd7a;
	stop-opacity: 1;
}

#stop3965 {
	stop-color: #ba772f;
	stop-opacity: 1;
}

#path4919 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dashoffset: 0;
	display: inline;
}

#stop4286 {
	stop-color: #6588c1;
	stop-opacity: 0;
}

#stop4288 {
	stop-color: #becce3;
	stop-opacity: 1;
}

#stop4290 {
	stop-color: #809dcb;
	stop-opacity: 0;
}

#stop10159-8-3 {
	stop-color: #6588c1;
	stop-opacity: 1;
}

#stop10165-3-9 {
	stop-color: #becce3;
	stop-opacity: 1;
}

#stop10161-5-0 {
	stop-color: #809dcb;
	stop-opacity: 1;
}

#stop10416-3 {
	stop-color: #5078b9;
	stop-opacity: 1;
}

#stop10422-8 {
	stop-color: #6d8cbd;
	stop-opacity: 1;
}

#stop10418-4 {
	stop-color: #5f88c9;
	stop-opacity: 1;
}

#stop10434-4 {
	stop-color: #1f4d9a;
	stop-opacity: 1;
}

#stop10436-2 {
	stop-color: #4e6da1;
	stop-opacity: 1;
}

#stop10438-9 {
	stop-color: #567ebc;
	stop-opacity: 1;
}

#stop10450-0 {
	stop-color: #ecac18;
	stop-opacity: 1;
}

#stop10458-2 {
	stop-color: #ffe38d;
	stop-opacity: 1;
}

#stop10456-96 {
	stop-color: #fdf5d2;
	stop-opacity: 1;
}

#stop10460-3 {
	stop-color: #ffeba7;
	stop-opacity: 1;
}

#stop10452-1 {
	stop-color: #e5b630;
	stop-opacity: 1;
}

#stop10750-5 {
	stop-color: #ecac18;
	stop-opacity: 1;
}

#stop10752-8 {
	stop-color: #f1ce66;
	stop-opacity: 1;
}

#stop10754-8 {
	stop-color: #f6e5a6;
	stop-opacity: 1;
}

#stop10756-4 {
	stop-color: #f1cf6c;
	stop-opacity: 1;
}

#stop10758-7 {
	stop-color: #e5b630;
	stop-opacity: 1;
}

#stop10450-3-5-6-7 {
	stop-color: #cf9307;
	stop-opacity: 1;
}

#stop10456-4-1-5-3 {
	stop-color: #f7d87b;
	stop-opacity: 1;
}

#stop10452-22-7-8-4 {
	stop-color: #ebb313;
	stop-opacity: 1;
}

#stop6283-0-2-2-1 {
	stop-color: #f7f9fb;
	stop-opacity: 1;
}

#stop6285-5-0-9-7 {
	stop-color: #ffd680;
	stop-opacity: 1;
}

#stop4206 {
	stop-color: #8e6aae;
	stop-opacity: 1;
}

#stop4208 {
	stop-color: #b29cc6;
	stop-opacity: 1;
}

#stop4231 {
	stop-color: #713e9d;
	stop-opacity: 1;
}

#stop4233 {
	stop-color: #f2aaf1;
	stop-opacity: 1;
}

#stop4278 {
	stop-color: #f2aaf1;
	stop-opacity: 1;
}

#stop4282 {
	stop-color: #f2aaf1;
	stop-opacity: 1;
}

#stop4284 {
	stop-color: #f9f8d4;
	stop-opacity: 1;
}

#stop4280 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g13862 {
	display: inline;
}

#g4293 {
	display: inline;
}

#rect3910 {
	display: inline;
	fill: #a27d18;
	fill-opacity: 1;
	stroke: #a27d18;
	stroke-width: 1.03243756;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path5581-5-5 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//newsiteprj_wiz.svg#linearGradient3093-5-2-7-0-9);
	fill-opacity: 1;
	stroke: none;
}

#g4286 {
	display: inline;
}

#rect3394 {
	opacity: 1;
	fill: #f2aaf1;
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//newsiteprj_wiz.svg#linearGradient4210);
	stroke-width: 1;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4212 {
	fill: #8861aa;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4212-4 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//newsiteprj_wiz.svg#linearGradient4235);
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4212-9 {
	display: inline;
	fill: #ad86cf;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4212-4-2 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/etool16//newsiteprj_wiz.svg#linearGradient4235-4);
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

