@import "stock";

#stop4130 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4132 {
	stop-color: #424242;
	stop-opacity: 0;
}

#stop4118 {
	stop-color: #b2b2bf;
	stop-opacity: 1;
}

#stop4120 {
	stop-color: #79798e;
	stop-opacity: 1;
}

#stop4122 {
	stop-color: #c0c0cb;
	stop-opacity: 1;
}

#stop3954 {
	stop-color: #424242;
	stop-opacity: 1;
}

#stop3956 {
	stop-color: #f4f4f4;
	stop-opacity: 1;
}

#stop3870 {
	stop-color: #b2b2bf;
	stop-opacity: 1;
}

#stop3876 {
	stop-color: #79798e;
	stop-opacity: 1;
}

#stop3872 {
	stop-color: #c0c0cb;
	stop-opacity: 1;
}

#stop4813 {
	stop-color: #9f6716;
	stop-opacity: 1;
}

#stop4815 {
	stop-color: #dfd4c4;
	stop-opacity: 1;
}

#stop4803 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4805 {
	stop-color: #b4ccdf;
	stop-opacity: 1;
}

#stop5330-9 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop5332-8 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop5211-9 {
	stop-color: #5c5c5c;
	stop-opacity: 1;
}

#stop5213-4 {
	stop-color: #aeaeae;
	stop-opacity: 1;
}

#stop6283-0-2-2-1-2-0-1 {
	stop-color: #f7f9fb;
	stop-opacity: 1;
}

#stop6285-5-0-9-7-6-9-9 {
	stop-color: #ffd680;
	stop-opacity: 1;
}

#stop4530-0-5-0-5 {
	stop-color: #e0c576;
	stop-opacity: 1;
}

#stop4532-7-9-3-3 {
	stop-color: #9e7916;
	stop-opacity: 1;
}

#stop5070-8-0 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop5072-3-6 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop5211-9-7 {
	stop-color: #131313;
	stop-opacity: 1;
}

#stop5213-4-3 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#stop5330-9-9 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop5332-8-9 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop5330-9-9-0 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop5332-8-9-0 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop5211-9-7-2 {
	stop-color: #131313;
	stop-opacity: 1;
}

#stop5213-4-3-4 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#stop3266 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3268 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop3273 {
	stop-color: #131313;
	stop-opacity: 1;
}

#stop3275 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#stop3280 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3282 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop3287 {
	stop-color: #131313;
	stop-opacity: 1;
}

#stop3289 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#stop3870-0 {
	stop-color: #b2b2bf;
	stop-opacity: 1;
}

#stop3876-4 {
	stop-color: #79798e;
	stop-opacity: 1;
}

#stop3872-5 {
	stop-color: #c0c0cb;
	stop-opacity: 1;
}

#stop3870-0-4 {
	stop-color: #b2b2bf;
	stop-opacity: 1;
}

#stop3876-4-3 {
	stop-color: #79798e;
	stop-opacity: 1;
}

#stop3872-5-6 {
	stop-color: #c0c0cb;
	stop-opacity: 1;
}

#stop4130-2 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4132-9 {
	stop-color: #424242;
	stop-opacity: 0;
}

#stop4130-2-7 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4132-9-0 {
	stop-color: #424242;
	stop-opacity: 0;
}

#stop3870-0-2 {
	stop-color: #b2b2bf;
	stop-opacity: 1;
}

#stop3876-4-9 {
	stop-color: #79798e;
	stop-opacity: 1;
}

#stop3872-5-7 {
	stop-color: #c0c0cb;
	stop-opacity: 1;
}

#stop4118-0 {
	stop-color: #b2b2bf;
	stop-opacity: 1;
}

#stop4120-4 {
	stop-color: #79798e;
	stop-opacity: 1;
}

#stop4122-0 {
	stop-color: #c0c0cb;
	stop-opacity: 1;
}

#stop3870-0-4-4 {
	stop-color: #b2b2bf;
	stop-opacity: 1;
}

#stop3876-4-3-2 {
	stop-color: #79798e;
	stop-opacity: 1;
}

#stop3872-5-6-2 {
	stop-color: #c0c0cb;
	stop-opacity: 1;
}

#stop3870-0-0 {
	stop-color: #b2b2bf;
	stop-opacity: 1;
}

#stop3876-4-8 {
	stop-color: #79798e;
	stop-opacity: 1;
}

#stop3872-5-3 {
	stop-color: #c0c0cb;
	stop-opacity: 1;
}

#stop4130-1 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4132-5 {
	stop-color: #424242;
	stop-opacity: 0;
}

#stop4130-2-4 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4132-9-7 {
	stop-color: #424242;
	stop-opacity: 0;
}

#stop4130-2-7-9 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4132-9-0-0 {
	stop-color: #424242;
	stop-opacity: 0;
}

#stop3870-0-2-7 {
	stop-color: #b2b2bf;
	stop-opacity: 1;
}

#stop3876-4-9-6 {
	stop-color: #79798e;
	stop-opacity: 1;
}

#stop3872-5-7-6 {
	stop-color: #c0c0cb;
	stop-opacity: 1;
}

#stop3846 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3848 {
	stop-color: #dddddd;
	stop-opacity: 1;
}

#stop3850 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop3862 {
	stop-color: #424242;
	stop-opacity: 1;
}

#stop3864 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#stop5330-9-96 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3842 {
	stop-color: #dddddd;
	stop-opacity: 1;
}

#stop5332-8-97 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop5211-9-9 {
	stop-color: #4c4c4c;
	stop-opacity: 1;
}

#stop5213-4-2 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#stop3854 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3856 {
	stop-color: #dddddd;
	stop-opacity: 1;
}

#stop3858 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop3868 {
	stop-color: #717188;
	stop-opacity: 1;
}

#stop3870-9 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#stop3846-9 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3848-5 {
	stop-color: #dddddd;
	stop-opacity: 1;
}

#stop3850-7 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop3862-1 {
	stop-color: #424242;
	stop-opacity: 1;
}

#stop3864-9 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#stop5330-9-96-5 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3842-6 {
	stop-color: #dddddd;
	stop-opacity: 1;
}

#stop5332-8-97-7 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop5211-9-9-6 {
	stop-color: #4c4c4c;
	stop-opacity: 1;
}

#stop5213-4-2-4 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#stop3854-9 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3856-9 {
	stop-color: #dddddd;
	stop-opacity: 1;
}

#stop3858-6 {
	stop-color: #464646;
	stop-opacity: 1;
}

#stop3868-7 {
	stop-color: #717188;
	stop-opacity: 1;
}

#stop3870-9-9 {
	stop-color: #6b6b6b;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#path4031 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//ant_buildfile.svg#linearGradient3241);
	fill-opacity: 1;
	stroke: #b4903d;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4809 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//ant_buildfile.svg#linearGradient3243);
	fill-opacity: 1;
	stroke: none;
}

#g5354 {
	display: inline;
}

#path5232 {
	fill: #424242;
	fill-opacity: 1;
	stroke: none;
}

#rect5291 {
	fill: #424242;
	fill-opacity: 1;
	stroke: none;
}

#path3990 {
	fill: none;
	stroke: #424242;
	stroke-width: 0.98245722px;
	stroke-linecap: butt;
	stroke-linejoin: round;
	stroke-opacity: 1;
}

#rect5291-0 {
	fill: #424242;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path5232-0 {
	fill: #424242;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path3990-6 {
	fill: none;
	stroke: #424242;
	stroke-width: 0.98245722px;
	stroke-linecap: butt;
	stroke-linejoin: round;
	stroke-opacity: 1;
	display: inline;
}

#rect4812 {
	fill: #717188;
	fill-opacity: 1;
	stroke: none;
}

#path5160 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//ant_buildfile.svg#radialGradient5366-0-3);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//ant_buildfile.svg#linearGradient5368-1-8);
	stroke-width: 0.73476011;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path5160-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//ant_buildfile.svg#radialGradient5370-9-6);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//ant_buildfile.svg#linearGradient5372-5-7);
	stroke-width: 0.74850893;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-4-3-3 {
	fill: none;
	stroke: #b9b9bc;
	stroke-width: 0.74850893;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-8 {
	fill: none;
	stroke: #b9b9bc;
	stroke-width: 0.73476011;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-18 {
	fill: none;
	stroke: #b9b9bc;
	stroke-width: 0.73476011;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-1 {
	fill: #717188;
	fill-opacity: 1;
	stroke: #717188;
	stroke-width: 0.73476011;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-1-9 {
	fill: none;
	stroke: #717188;
	stroke-width: 0.73476011;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-4-3 {
	fill: none;
	stroke: #b9b9bc;
	stroke-width: 0.74850893;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-4-2 {
	fill: none;
	stroke: #717188;
	stroke-width: 0.74850893;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//ant_buildfile.svg#radialGradient5374-4-5);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ant.ui/icons/full/obj16//ant_buildfile.svg#linearGradient5376-4-0);
	stroke-width: 0.76813984;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-2-6 {
	fill: none;
	stroke: #717188;
	stroke-width: 0.76813984;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-2-3 {
	fill: none;
	stroke: #b8b8b8;
	stroke-width: 0.76813984;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-2-3-5 {
	fill: none;
	stroke: #b8b8b8;
	stroke-width: 0.76813984;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path5160-2-3-6 {
	fill: none;
	stroke: #888888;
	stroke-width: 0.76813984;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

