@import "stock";

#layer1 {
	display: inline;
}

#path6578 {
	color: #000000;
	fill: none;
	stroke: #3d9465;
	stroke-width: 1.39648581;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#path6578-2 {
	color: #000000;
	fill: none;
	stroke: #3d9465;
	stroke-width: 2.57762098;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#path6578-2-0 {
	color: #000000;
	fill: #20680c;
	fill-opacity: 1;
	stroke: #20680c;
	stroke-width: 2.03037214;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

