@import "stock";

#stop3859 {
	stop-color: #0e62a4;
	stop-opacity: 1;
}

#stop3861 {
	stop-color: #02468c;
	stop-opacity: 1;
}

#stop4998-5 {
	stop-color: #02468c;
	stop-opacity: 1;
}

#stop5000-5 {
	stop-color: #0e62a4;
	stop-opacity: 1;
}

#stop4892 {
	stop-color: #2857bd;
	stop-opacity: 1;
}

#stop4894 {
	stop-color: #3d5384;
	stop-opacity: 1;
}

#stop4892-2 {
	stop-color: #2857bd;
	stop-opacity: 1;
}

#stop4894-2 {
	stop-color: #3d5384;
	stop-opacity: 1;
}

#stop3054 {
	stop-color: #2857bd;
	stop-opacity: 1;
}

#stop3056 {
	stop-color: #3d5384;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g8159 {
	display: inline;
}

#layer1-8 {
	display: inline;
}

#g8159-9 {
	display: inline;
}

#text4140-1-8-1 {
	font-size: 15.07241726px;
	font-style: normal;
	font-variant: normal;
	font-weight: 900;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: url(../../../../../eclipse-svg/org.eclipse.jface/icons/full//dots_button.svg#linearGradient5028);
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Kozuka Mincho Pr6N H;
	inkscape-font-specification: Kozuka Mincho Pr6N H Heavy;
}

#tspan4142-7-8-7 {
	fill: url(../../../../../eclipse-svg/org.eclipse.jface/icons/full//dots_button.svg#linearGradient5028);
	fill-opacity: 1;
}

#rect4174 {
	display: inline;
	opacity: 1;
	fill: #485d8c;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4174-1 {
	display: inline;
	opacity: 1;
	fill: #485d8c;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4174-1-4 {
	display: inline;
	opacity: 1;
	fill: #485d8c;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

