@import "gotham";

#stop4180 {
	stop-color: #7e713d;
	stop-opacity: 1;
}

#stop4182 {
	stop-color: #b28a30;
	stop-opacity: 1;
}

#stop4189 {
	stop-color: #17325d;
	stop-opacity: 1;
}

#stop4201 {
	stop-color: #b7d2e4;
	stop-opacity: 1;
}

#stop4191 {
	stop-color: #3e72a7;
	stop-opacity: 1;
}

#stop4309 {
	stop-color: #17325d;
	stop-opacity: 1;
}

#stop4312 {
	stop-color: #b7d2e4;
	stop-opacity: 1;
}

#stop4314 {
	stop-color: #3e72a7;
	stop-opacity: 1;
}

#rect3368 {
	opacity: 1;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/obj16//cheatsheet_simple_obj.svg#linearGradient4184);
	stroke-width: 1;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4982 {
	opacity: 1;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4307 {
	fill: #b7d2e4;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #ffffff;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4198 {
	fill: none;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/obj16//cheatsheet_simple_obj.svg#linearGradient4206);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: bevel;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4198-7 {
	fill: none;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/obj16//cheatsheet_simple_obj.svg#linearGradient4206-1);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: bevel;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4198-7-2 {
	fill: none;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/obj16//cheatsheet_simple_obj.svg#linearGradient4206-1-9);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: bevel;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4198-7-2-6 {
	fill: none;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/obj16//cheatsheet_simple_obj.svg#linearGradient4206-1-9-5);
	stroke-width: 0.96179312;
	stroke-linecap: round;
	stroke-linejoin: bevel;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4198-7-2-6-7 {
	fill: none;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/obj16//cheatsheet_simple_obj.svg#linearGradient4206-1-9-5-1);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: bevel;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4221 {
	opacity: 1;
	fill: #213c65;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4221-2 {
	opacity: 1;
	fill: #3e72a7;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4221-5 {
	opacity: 1;
	fill: #213c65;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4221-2-1 {
	opacity: 1;
	fill: #3e72a7;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4221-5-6 {
	opacity: 1;
	fill: #213c65;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4221-2-1-0 {
	opacity: 1;
	fill: #3e72a7;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4221-5-6-4 {
	opacity: 1;
	fill: #213c65;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4221-2-1-0-2 {
	opacity: 1;
	fill: #3e72a7;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4221-5-6-4-7 {
	opacity: 1;
	fill: #213c65;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4221-2-1-0-2-1 {
	opacity: 1;
	fill: #3e72a7;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

