@import "gotham";

#stop4261 {
	stop-color: #dfe9f8;
	stop-opacity: 1;
}

#stop4263 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4187 {
	stop-color: #525f71;
	stop-opacity: 1;
}

#stop4189 {
	stop-color: #928d6e;
	stop-opacity: 1;
}

#stop4195 {
	stop-color: #958e6c;
	stop-opacity: 1;
}

#stop4197 {
	stop-color: #536071;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g4201 {
	display: inline;
}

#rect4183 {
	opacity: 1;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/obj16//toc_obj.svg#linearGradient4265);
	fill-opacity: 1;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/obj16//toc_obj.svg#linearGradient4191);
	stroke-width: 1;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4156 {
	display: inline;
	fill: #7aace7;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/obj16//toc_obj.svg#linearGradient4199);
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4181 {
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #958e6c;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

