@import "gotham";

#stop4208 {
	stop-color: #496e95;
	stop-opacity: 1;
}

#stop4214 {
	stop-color: #497098;
	stop-opacity: 1;
}

#stop4210 {
	stop-color: #3a5877;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#path4185 {
	display: inline;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ua.ui/icons/obj16//toc_anchor_obj.svg#radialGradient4216);
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 0.5;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4185-2 {
	display: inline;
	fill: #01467a;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 0.5;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

