@import "stock";

#stop10353 {
	stop-color: #849abe;
	stop-opacity: 1;
}

#stop10355 {
	stop-color: #677da9;
	stop-opacity: 1;
}

#stop10595 {
	stop-color: #1b639e;
	stop-opacity: 1;
}

#stop10597 {
	stop-color: #6f8db9;
	stop-opacity: 1;
}

#stop9612 {
	stop-color: #c7b571;
	stop-opacity: 1;
}

#stop9614 {
	stop-color: #9a9990;
	stop-opacity: 1;
}

#stop15992 {
	stop-color: #f9fafc;
	stop-opacity: 1;
}

#stop15994 {
	stop-color: #e0eaf8;
	stop-opacity: 1;
}

#stop10353-6 {
	stop-color: #849abe;
	stop-opacity: 1;
}

#stop10355-9 {
	stop-color: #677da9;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect3997-9-2-7 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/etool16//block_selection_mode.svg#linearGradient9571);
	fill-opacity: 1;
	stroke: none;
}

#rect18863-4-58 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/etool16//block_selection_mode.svg#linearGradient10357-8);
	fill-opacity: 1;
	stroke: none;
}

#rect3997-9 {
	display: inline;
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/etool16//block_selection_mode.svg#linearGradient9568);
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect18863 {
	fill: #879cc0;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect18863-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/etool16//block_selection_mode.svg#linearGradient10357);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect18863-4-5 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/etool16//block_selection_mode.svg#linearGradient10599);
	fill-opacity: 1;
	stroke: none;
}

#rect18863-7 {
	fill: #879cc0;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect18863-5 {
	fill: #879cc0;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect18863-70 {
	fill: #879cc0;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect18863-9 {
	fill: #879cc0;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect18863-9-2 {
	fill: #879cc0;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect18863-4-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/etool16//block_selection_mode.svg#linearGradient10490);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#image4191 {
	image-rendering: optimizeSpeed;
}

#rect18863-2 {
	display: inline;
	fill: #879cc0;
	fill-opacity: 1;
	stroke: none;
}

#rect18863-7-8 {
	display: inline;
	fill: #879cc0;
	fill-opacity: 1;
	stroke: none;
}

#rect18863-5-4 {
	display: inline;
	fill: #879cc0;
	fill-opacity: 1;
	stroke: none;
}

#rect18863-70-9 {
	display: inline;
	fill: #879cc0;
	fill-opacity: 1;
	stroke: none;
}

#rect18863-9-23 {
	display: inline;
	fill: #879cc0;
	fill-opacity: 1;
	stroke: none;
}

#rect18863-9-2-9 {
	display: inline;
	fill: #879cc0;
	fill-opacity: 1;
	stroke: none;
}

#rect18863-4-58-6 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/etool16//block_selection_mode.svg#linearGradient10357-8-1);
	fill-opacity: 1;
	stroke: none;
}

#rect18863-4-5-5 {
	display: inline;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.workbench.texteditor/icons/full/etool16//block_selection_mode.svg#linearGradient10599-8);
	fill-opacity: 1;
	stroke: none;
}

