@import "gotham";

#rect4244 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4147 {
	fill: none;
	fill-rule: evenodd;
	stroke: #17325d;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4149 {
	fill: none;
	fill-rule: evenodd;
	stroke: #17325d;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

