@import "gotham";

#stop4230 {
	stop-color: #004b85;
	stop-opacity: 1;
}

#stop4232 {
	stop-color: #001772;
	stop-opacity: 1;
}

#stop5105-5-4 {
	stop-color: #b3ffc6;
	stop-opacity: 1;
}

#stop7550-07-0 {
	stop-color: #b8fddd;
	stop-opacity: 1;
}

#stop7548-6-9 {
	stop-color: #69b5b5;
	stop-opacity: 1;
}

#stop5107-7-48 {
	stop-color: #1c5ea6;
	stop-opacity: 1;
}

#stop6356 {
	stop-color: #6994ad;
	stop-opacity: 1;
}

#stop6358 {
	stop-color: #095a98;
	stop-opacity: 1;
}

#stop4923 {
	stop-color: #85a2cd;
	stop-opacity: 1;
}

#stop4925 {
	stop-color: #d3dce9;
	stop-opacity: 1;
}

#stop4915 {
	stop-color: #4e6b9b;
	stop-opacity: 1;
}

#stop4917 {
	stop-color: #6783b1;
	stop-opacity: 1;
}

#stop4791 {
	stop-color: #4e8fbd;
	stop-opacity: 1;
}

#stop4793 {
	stop-color: #30495a;
	stop-opacity: 1;
}

#layer1-7 {
	display: inline;
}

#path4251 {
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#rect4163 {
	opacity: 1;
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/ovr16//external_co.svg#linearGradient4179);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4181 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/ovr16//external_co.svg#linearGradient4234);
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #003f80;
	stroke-width: 0.9;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4181-5 {
	display: inline;
	fill: none;
	fill-rule: evenodd;
	stroke: #003f80;
	stroke-width: 0.89999998;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#path4211-6 {
	display: inline;
	fill: none;
	fill-rule: evenodd;
	stroke: #ffffff;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4211 {
	fill: none;
	fill-rule: evenodd;
	stroke: #003165;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

