@import "gotham";

#stop4154 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4156 {
	stop-color: #bcdafa;
	stop-opacity: 1;
}

#path4177 {
	fill: none;
	fill-rule: evenodd;
	stroke: #ffffff;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4150 {
	fill: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/ovr16//jar_co.svg#radialGradient4158);
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #12437b;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#rect4160 {
	opacity: 1;
	fill: #762800;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#rect4160-0 {
	opacity: 1;
	fill: #ac3a00;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

