/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop3770 {
  stop-color: #147a38;
  stop-opacity: 1; }

#stop3772 {
  stop-color: #308a50;
  stop-opacity: 1; }

#path4152 {
  fill: #ffffff;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: none;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#path2999-1 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1.50000000000000000;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  filter: url(../../../../../eclipse-svg/org.eclipse.pde.ui/icons/ovr16//java_co.svg#filter3787);
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  opacity: 0.75; }

#path2999 {
  fill: none;
  stroke: #286296;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }
