@import "stock";

#stop4291 {
	stop-color: #e9f6fb;
	stop-opacity: 1;
}

#stop4297 {
	stop-color: #a8d4ed;
	stop-opacity: 1;
}

#stop4293 {
	stop-color: #cee5ed;
	stop-opacity: 1;
}

#stop4281 {
	stop-color: #95a3b6;
	stop-opacity: 1;
}

#stop4287 {
	stop-color: #768ca6;
	stop-opacity: 1;
}

#stop4283 {
	stop-color: #a2adbc;
	stop-opacity: 1;
}

#stop4991 {
	stop-color: #c3e9ff;
	stop-opacity: 0.49019608;
}

#stop4995 {
	stop-color: #c3e9ff;
	stop-opacity: 1;
}

#stop4993 {
	stop-color: #c3e9ff;
	stop-opacity: 0.49019608;
}

#stop4991-2 {
	stop-color: #c3e9ff;
	stop-opacity: 0.49019608;
}

#stop4995-3 {
	stop-color: #c3e9ff;
	stop-opacity: 1;
}

#stop4993-3 {
	stop-color: #c3e9ff;
	stop-opacity: 0.49019608;
}

#layer1 {
	display: inline;
}

#path4277 {
	opacity: 1;
	fill: url(../../../../../../../../../../../eclipse-svg/org.eclipse.jface.text/projection/org/eclipse/jface/text/source/projection/images//collapsed.svg#linearGradient4295);
	fill-opacity: 1;
	stroke: url(../../../../../../../../../../../eclipse-svg/org.eclipse.jface.text/projection/org/eclipse/jface/text/source/projection/images//collapsed.svg#linearGradient4285);
	stroke-width: 0.99999994;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect4167 {
	fill: #242c43;
	fill-opacity: 1;
	stroke: none;
}

#rect4167-8 {
	display: inline;
	fill: #242c43;
	fill-opacity: 1;
	stroke: none;
}

#image4274 {
	image-rendering: optimizeSpeed;
}

