@import "stock";

#stop4291 {
	stop-color: #e5eef2;
	stop-opacity: 1;
}

#stop4297 {
	stop-color: #c9e5f5;
	stop-opacity: 1;
}

#stop4293 {
	stop-color: #d7e3ec;
	stop-opacity: 1;
}

#stop4281 {
	stop-color: #bbc5d2;
	stop-opacity: 1;
}

#stop4287 {
	stop-color: #a3b4c7;
	stop-opacity: 1;
}

#stop4283 {
	stop-color: #c4ccd6;
	stop-opacity: 1;
}

#stop4991 {
	stop-color: #c3e9ff;
	stop-opacity: 0.49019608;
}

#stop4995 {
	stop-color: #c3e9ff;
	stop-opacity: 1;
}

#stop4993 {
	stop-color: #c3e9ff;
	stop-opacity: 0.49019608;
}

#stop4991-2 {
	stop-color: #c3e9ff;
	stop-opacity: 0.49019608;
}

#stop4995-3 {
	stop-color: #c3e9ff;
	stop-opacity: 1;
}

#stop4993-3 {
	stop-color: #c3e9ff;
	stop-opacity: 0.49019608;
}

#layer1 {
	display: inline;
}

#path4277 {
	opacity: 1;
	fill: url(../../../../../../../../../../../eclipse-svg/org.eclipse.jface.text/projection/org/eclipse/jface/text/source/projection/images//expanded.svg#linearGradient4295);
	fill-opacity: 1;
	stroke: url(../../../../../../../../../../../eclipse-svg/org.eclipse.jface.text/projection/org/eclipse/jface/text/source/projection/images//expanded.svg#linearGradient4285);
	stroke-width: 0.99999994;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect4167-8 {
	display: inline;
	fill: #8b96ab;
	fill-opacity: 1;
	stroke: none;
}

#image4402 {
	image-rendering: optimizeSpeed;
}

