@import "gotham";

#stop5158 {
	stop-color: #fdf3cb;
	stop-opacity: 1;
}

#stop5166 {
	stop-color: #fdf3cb;
	stop-opacity: 1;
}

#stop5164 {
	stop-color: #a77e1c;
	stop-opacity: 0.502;
}

#stop5160 {
	stop-color: #a77e1c;
	stop-opacity: 0.5;
}

#stop5003 {
	stop-color: #000000;
	stop-opacity: 1;
}

#stop5005 {
	stop-color: #000000;
	stop-opacity: 0;
}

#stop4888 {
	stop-color: #dec26f;
	stop-opacity: 1;
}

#stop4890 {
	stop-color: #fce69e;
	stop-opacity: 1;
}

#stop4872 {
	stop-color: #fdf3cb;
	stop-opacity: 1;
}

#stop4874 {
	stop-color: #fce69e;
	stop-opacity: 1;
}

#stop4864 {
	stop-color: #c79c2f;
	stop-opacity: 1;
}

#stop4866 {
	stop-color: #b7912c;
	stop-opacity: 1;
}

#stop4880 {
	stop-color: #a77e1c;
	stop-opacity: 1;
}

#stop4882 {
	stop-color: #c19e38;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#rect4838-1 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//lockedstate.svg#linearGradient4876);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//lockedstate.svg#linearGradient4868);
	stroke-width: 1;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#path4994 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	opacity: 0.5;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//lockedstate.svg#linearGradient5007);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#rect4838 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//lockedstate.svg#linearGradient4892);
	fill-opacity: 1;
	stroke: none;
}

#rect4838-4 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//lockedstate.svg#linearGradient5162);
	stroke-width: 0.87896538;
	stroke-opacity: 1;
	display: inline;
	filter: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//lockedstate.svg#filter5152);
}

#rect4894 {
	opacity: 0.25;
	fill: #a77e1c;
	fill-opacity: 1;
	stroke: none;
}

#rect4894-7 {
	opacity: 0.25;
	fill: #a77e1c;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#rect4894-7-4 {
	opacity: 0.25;
	fill: #a77e1c;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4066 {
	fill: #785b13;
	fill-opacity: 1;
	stroke: none;
}

#rect4836 {
	fill: #785b13;
	fill-opacity: 1;
	stroke: none;
}

#rect4838-12 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//lockedstate.svg#linearGradient5103);
	stroke-opacity: 1;
	display: inline;
}

