/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop3813-2-4-0 {
  stop-color: #cbe8f3;
  stop-opacity: 1; }

#stop3815-0-0-0 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3789-8-8-5 {
  stop-color: #a3937d;
  stop-opacity: 1; }

#stop3791-4-3-4 {
  stop-color: #2a5e90;
  stop-opacity: 1; }

#stop3799-3-9-0 {
  stop-color: #59ac57;
  stop-opacity: 1; }

#stop3805-5-3-6 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3801-7-0-8 {
  stop-color: #59ac57;
  stop-opacity: 1; }

#stop3813-2-40 {
  stop-color: #cbe8f3;
  stop-opacity: 1; }

#stop3815-0-3 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3789-8-7 {
  stop-color: #a3937d;
  stop-opacity: 1; }

#stop3791-4-6 {
  stop-color: #2a5e90;
  stop-opacity: 1; }

#stop3799-3-91 {
  stop-color: #59ac57;
  stop-opacity: 1; }

#stop3805-5-9 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3801-7-6 {
  stop-color: #59ac57;
  stop-opacity: 1; }

#stop3813-8 {
  stop-color: #cbe8f3;
  stop-opacity: 1; }

#stop3815-06 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3789-1 {
  stop-color: #a3937d;
  stop-opacity: 1; }

#stop3791-6 {
  stop-color: #2a5e90;
  stop-opacity: 1; }

#stop3799-6 {
  stop-color: #59ac57;
  stop-opacity: 1; }

#stop3805-4 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3801-9 {
  stop-color: #59ac57;
  stop-opacity: 1; }

#stop10800-5-2-1-8-2-8-1-7-3-7 {
  stop-color: #e17673;
  stop-opacity: 1; }

#stop10806-6-8-5-3-2-95-0-5-4-8 {
  stop-color: #d04046;
  stop-opacity: 1; }

#stop10802-1-5-3-0-2-0-9-8-4-3 {
  stop-color: #e17673;
  stop-opacity: 1; }

#rect3809-0-6 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//progress_error.svg#linearGradient3825-4-6-0);
  fill-opacity: 1;
  stroke: none; }

#rect3017-4-4 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//progress_error.svg#linearGradient3827-6-7-7);
  stroke-width: 0.89767581;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#rect3795-5-3 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//progress_error.svg#linearGradient3829-8-2-9);
  fill-opacity: 1;
  stroke: none; }

#path3807-8-4 {
  fill: none;
  stroke: #4ea54c;
  stroke-width: 1.0107801px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#rect4166-7 {
  opacity: 0.62139917;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #cbe8f3;
  stroke-width: 0.86707354;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#rect3809-0 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//progress_error.svg#linearGradient3825-4-8);
  fill-opacity: 1;
  stroke: none; }

#rect3017-4 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//progress_error.svg#linearGradient3827-6-4);
  stroke-width: 0.89767581;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#rect3795-5 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//progress_error.svg#linearGradient3829-8-7);
  fill-opacity: 1;
  stroke: none; }

#path3807-8 {
  fill: none;
  stroke: #4ea54c;
  stroke-width: 1.0107801px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#rect4166 {
  opacity: 0.62139917;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #cbe8f3;
  stroke-width: 0.87074792;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#rect3809 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//progress_error.svg#linearGradient3825-6);
  fill-opacity: 1;
  stroke: none; }

#rect3017 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//progress_error.svg#linearGradient3827-9);
  stroke-width: 0.89767581;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#rect3795 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//progress_error.svg#linearGradient3829-3);
  fill-opacity: 1;
  stroke: none; }

#path5329 {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  filter: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//progress_error.svg#filter6101); }

#layer1-2 {
  display: inline; }

#g8159 {
  display: inline; }

#path10796-2-6-0 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//progress_error.svg#linearGradient8163-2);
  fill-opacity: 1;
  stroke: #c93e35;
  stroke-width: 1.97452509;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  display: inline; }

#path5021 {
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  text-indent: 0;
  text-align: start;
  text-decoration: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  direction: ltr;
  block-progression: tb;
  writing-mode: lr-tb;
  text-anchor: start;
  baseline-shift: baseline;
  color: #000000;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1px;
  marker: none;
  visibility: visible;
  display: inline;
  overflow: visible;
  enable-background: accumulate;
  font-family: Sans;
  inkscape-font-specification: Sans; }
