/*
 * gotham.scss test theme for experimenting with icon themes
 */
/** Cross theme styles */
/*
 * Global.scss provides styles and configuration
 * all themes.
 *
 */
/** Global styles and values */
/** styles and values */
#stop3813 {
  stop-color: #cbe8f3;
  stop-opacity: 1; }

#stop3815 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3799 {
  stop-color: #59ac57;
  stop-opacity: 1; }

#stop3805 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3801 {
  stop-color: #59ac57;
  stop-opacity: 1; }

#stop3789 {
  stop-color: #a3937d;
  stop-opacity: 1; }

#stop3791 {
  stop-color: #2a5e90;
  stop-opacity: 1; }

#stop3813-2 {
  stop-color: #cbe8f3;
  stop-opacity: 1; }

#stop3815-0 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3789-8 {
  stop-color: #a3937d;
  stop-opacity: 1; }

#stop3791-4 {
  stop-color: #2a5e90;
  stop-opacity: 1; }

#stop3799-3 {
  stop-color: #59ac57;
  stop-opacity: 1; }

#stop3805-5 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3801-7 {
  stop-color: #59ac57;
  stop-opacity: 1; }

#stop3813-2-4 {
  stop-color: #cbe8f3;
  stop-opacity: 1; }

#stop3815-0-0 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3789-8-8 {
  stop-color: #a3937d;
  stop-opacity: 1; }

#stop3791-4-3 {
  stop-color: #2a5e90;
  stop-opacity: 1; }

#stop3799-3-9 {
  stop-color: #59ac57;
  stop-opacity: 1; }

#stop3805-5-3 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3801-7-0 {
  stop-color: #59ac57;
  stop-opacity: 1; }

#stop3813-2-4-0 {
  stop-color: #cbe8f3;
  stop-opacity: 1; }

#stop3815-0-0-0 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3789-8-8-5 {
  stop-color: #a3937d;
  stop-opacity: 1; }

#stop3791-4-3-4 {
  stop-color: #2a5e90;
  stop-opacity: 1; }

#stop3799-3-9-0 {
  stop-color: #59ac57;
  stop-opacity: 1; }

#stop3805-5-3-6 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3801-7-0-8 {
  stop-color: #59ac57;
  stop-opacity: 1; }

#stop3813-2-40 {
  stop-color: #cbe8f3;
  stop-opacity: 1; }

#stop3815-0-3 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3789-8-7 {
  stop-color: #a3937d;
  stop-opacity: 1; }

#stop3791-4-6 {
  stop-color: #2a5e90;
  stop-opacity: 1; }

#stop3799-3-91 {
  stop-color: #59ac57;
  stop-opacity: 1; }

#stop3805-5-9 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3801-7-6 {
  stop-color: #59ac57;
  stop-opacity: 1; }

#stop3813-8 {
  stop-color: #cbe8f3;
  stop-opacity: 1; }

#stop3815-06 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3789-1 {
  stop-color: #a3937d;
  stop-opacity: 1; }

#stop3791-6 {
  stop-color: #2a5e90;
  stop-opacity: 1; }

#stop3799-6 {
  stop-color: #59ac57;
  stop-opacity: 1; }

#stop3805-4 {
  stop-color: #ffffff;
  stop-opacity: 1; }

#stop3801-9 {
  stop-color: #59ac57;
  stop-opacity: 1; }

#rect3809-0-6 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//progress_none.svg#linearGradient3825-4-6-0);
  fill-opacity: 1;
  stroke: none; }

#rect3017-4-4 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//progress_none.svg#linearGradient3827-6-7-7);
  stroke-width: 0.89767581;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#rect3795-5-3 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//progress_none.svg#linearGradient3829-8-2-9);
  fill-opacity: 1;
  stroke: none; }

#path3807-8-4 {
  fill: none;
  stroke: #4ea54c;
  stroke-width: 1.0107801px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#rect4166-7 {
  opacity: 0.62139917;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #cbe8f3;
  stroke-width: 0.8596682;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#rect3809-0 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//progress_none.svg#linearGradient3825-4-8);
  fill-opacity: 1;
  stroke: none; }

#rect3017-4 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//progress_none.svg#linearGradient3827-6-4);
  stroke-width: 0.89767581;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#rect3795-5 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//progress_none.svg#linearGradient3829-8-7);
  fill-opacity: 1;
  stroke: none; }

#path3807-8 {
  fill: none;
  stroke: #4ea54c;
  stroke-width: 1.0107801px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }

#rect4166 {
  opacity: 0.62139917;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #cbe8f3;
  stroke-width: 0.8596682;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#rect3809 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//progress_none.svg#linearGradient3825-6);
  fill-opacity: 1;
  stroke: none; }

#rect3017 {
  fill: none;
  stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//progress_none.svg#linearGradient3827-9);
  stroke-width: 0.89767581;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none; }

#rect3795 {
  fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//progress_none.svg#linearGradient3829-3);
  fill-opacity: 1;
  stroke: none; }

#path3807 {
  fill: none;
  stroke: #4ea54c;
  stroke-width: 1.0107801px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1; }
