@import "gotham";

#stop14967 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop14969 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop14959 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop14961 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop3813-8 {
	stop-color: #cbe8f3;
	stop-opacity: 1;
}

#stop3815-06 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3789-1 {
	stop-color: #a3937d;
	stop-opacity: 1;
}

#stop3791-6 {
	stop-color: #2a5e90;
	stop-opacity: 1;
}

#stop3799-6 {
	stop-color: #59ac57;
	stop-opacity: 1;
}

#stop3805-4 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop3801-9 {
	stop-color: #59ac57;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-2-8-1-7-3-7 {
	stop-color: #e17673;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-2-95-0-5-4-8 {
	stop-color: #d04046;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-2-0-9-8-4-3 {
	stop-color: #e17673;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-2-8-1-7-3-7-37 {
	stop-color: #4f9e55;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-2-95-0-5-4-8-8 {
	stop-color: #3c8d49;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-2-0-9-8-4-3-7 {
	stop-color: #a4e173;
	stop-opacity: 1;
}

#stop7594-8-9-0 {
	stop-color: #b08319;
	stop-opacity: 1;
}

#stop7596-5-6-6 {
	stop-color: #9a680f;
	stop-opacity: 1;
}

#stop9278 {
	stop-color: #9dd560;
	stop-opacity: 1;
}

#stop9280 {
	stop-color: #499851;
	stop-opacity: 1;
}

#stop9323 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop9325 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop9331 {
	stop-color: #f8d060;
	stop-opacity: 1;
}

#stop9337 {
	stop-color: #f8e898;
	stop-opacity: 1;
}

#stop9333 {
	stop-color: #f8f8e8;
	stop-opacity: 1;
}

#rect3809 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//pview.svg#linearGradient3825-6);
	fill-opacity: 1;
	stroke: none;
}

#rect3017 {
	fill: none;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//pview.svg#linearGradient3827-9);
	stroke-width: 0.89767581;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#rect3795 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//pview.svg#linearGradient3829-3);
	fill-opacity: 1;
	stroke: none;
}

#path3807 {
	fill: none;
	stroke: #4ea54c;
	stroke-width: 1.0107801px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path14185 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//pview.svg#linearGradient14981);
	fill-opacity: 1;
	stroke: none;
	filter: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//pview.svg#filter3817);
}

#path10796-2-6-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//pview.svg#linearGradient14983);
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path8117 {
	fill: #ffffff;
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui/icons/full/progress//pview.svg#linearGradient14985);
	stroke-width: 0.2582669;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	display: inline;
}

#path10796-2-6-0-5 {
	fill: none;
	stroke: #14733c;
	stroke-width: 1.5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

