@import "gotham";

#rect4244 {
	fill: #d8424f;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path4136 {
	fill: none;
	fill-rule: evenodd;
	stroke: #ffffff;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#path4136-9 {
	fill: none;
	fill-rule: evenodd;
	stroke: #ffffff;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

