@import "gotham";

#stop4159 {
	stop-color: #bf9f3f;
	stop-opacity: 1;
}

#stop4161 {
	stop-color: #9f7f3f;
	stop-opacity: 1;
}

#stop4163 {
	stop-color: #ffdf3f;
	stop-opacity: 1;
}

#stop4165 {
	stop-color: #f8d880;
	stop-opacity: 1;
}

#stop4167 {
	stop-color: #ffdf3f;
	stop-opacity: 1;
}

#stop5083 {
	stop-color: #ffe296;
	stop-opacity: 1;
}

#stop5089 {
	stop-color: #f8d880;
	stop-opacity: 1;
}

#stop5085 {
	stop-color: #fffcd3;
	stop-opacity: 1;
}

#stop5093 {
	stop-color: #c6852e;
	stop-opacity: 1;
}

#stop5095 {
	stop-color: #e1a555;
	stop-opacity: 1;
}

#path4156 {
	fill: #ffffff;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	fill-opacity: 1;
}

#path4292 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator.resources/icons/full/ovr16//warning_co.svg#linearGradient4230);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.ui.navigator.resources/icons/full/ovr16//warning_co.svg#linearGradient4163);
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	display: inline;
}

#path4253 {
	display: inline;
	fill: #000000;
	fill-opacity: 1;
	stroke: none;
}

#path4253-7 {
	display: inline;
	fill: #000000;
	fill-opacity: 1;
	stroke: none;
}

