@import "stock";

#stop3770 {
	stop-color: #147a38;
	stop-opacity: 1;
}

#stop3772 {
	stop-color: #308a50;
	stop-opacity: 1;
}

#path3361 {
	fill: #ffffff;
	fill-rule: evenodd;
	stroke: none;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	fill-opacity: 1;
}

#path2995 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/ovr16//abstract_co.svg#linearGradient3774);
	fill-opacity: 1;
	stroke: none;
}

