@import "stock";

#stop3800 {
	stop-color: #55429f;
	stop-opacity: 0;
}

#stop3802 {
	stop-color: #55429f;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-6-4-9-8-2 {
	stop-color: #7564b1;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-24-8-4-3-2 {
	stop-color: #5d4aa1;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-8-4-2-9-2 {
	stop-color: #9283c3;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-6-4-9-8-2-4 {
	stop-color: #7564b1;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-24-8-4-3-2-0 {
	stop-color: #5d4aa1;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-8-4-2-9-2-9 {
	stop-color: #9283c3;
	stop-opacity: 1;
}

#path10796-2-6-2 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/ovr16//interface_tsk.svg#linearGradient3102);
	fill-opacity: 1;
	stroke: #55429f;
	stroke-width: 2.16621375;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	font-family: Sans;
}

#path10796-2-6-2-4 {
	font-size: 13.58917427000000100px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/ovr16//interface_tsk.svg#radialGradient3804);
	fill-opacity: 1;
	stroke: #55429f;
	stroke-width: 2.16621374999999980;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
	font-family: Sans;
}

#rect7222 {
	font-style: normal;
	font-weight: normal;
	font-size: 13.58917427px;
	line-height: 125%;
	font-family: Sans;
	letter-spacing: 0px;
	word-spacing: 0px;
	display: inline;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
}

