@import "stock";

#rect3335 {
	opacity: 1;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	stroke-opacity: 1;
}

#path4147 {
	fill: none;
	fill-rule: evenodd;
	stroke: #c7022d;
	stroke-width: 0.9;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

