@import "stock";

#stop10800-5-2-1-8-20-4-0-2-1-9-0-0-1-1 {
	stop-color: #5aad60;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-2-7-0-4-2-7-8-9 {
	stop-color: #5bb26a;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-8-5-5-6-69-6-4-0 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-0-2-1-9-0-0-1-1-9 {
	stop-color: #5aad60;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-2-7-0-4-2-7-8-9-8 {
	stop-color: #5bb26a;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-8-5-5-6-69-6-4-0-6 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-0-2-1-9-0-0-1-1-9-1 {
	stop-color: #5aad60;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-2-7-0-4-2-7-8-9-8-6 {
	stop-color: #5bb26a;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-8-5-5-6-69-6-4-0-6-1 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-0-2-1-9-0-0-1-1-5 {
	stop-color: #5aad60;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-2-7-0-4-2-7-8-9-0 {
	stop-color: #5bb26a;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-8-5-5-6-69-6-4-0-8 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-4-0-2-1-9-0-0-1-1-5-0 {
	stop-color: #5aad60;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-2-2-7-0-4-2-7-8-9-0-4 {
	stop-color: #5bb26a;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-6-8-5-5-6-69-6-4-0-8-8 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g11331-3-1-1 {
	display: inline;
}

#g13408-8 {
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-opacity: 1;
}

#g4803 {
	display: inline;
}

#path4012 {
	fill: #6f7684;
	fill-opacity: 1;
	stroke: none;
}

#g6124-3-4 {
	display: inline;
}

#path10796-2-6-3-8-6-8 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//call_hierarchy.svg#linearGradient3952);
	fill-opacity: 1;
	stroke: #14733c;
	stroke-width: 4.55839109;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path6115-5-5 {
	opacity: 0.46218489;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#g4803-3 {
	display: inline;
}

#path4012-1 {
	fill: #6f7684;
	fill-opacity: 1;
	stroke: none;
}

#g6124-3-4-9 {
	display: inline;
}

#path10796-2-6-3-8-6-8-6 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//call_hierarchy.svg#linearGradient6117-6-8-4-1-3);
	fill-opacity: 1;
	stroke: #14733c;
	stroke-width: 4.55839109;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path6115-5-5-4 {
	opacity: 0.46218489;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

#g4803-3-2 {
	display: inline;
}

#path4012-1-6 {
	fill: #6f7684;
	fill-opacity: 1;
	stroke: none;
}

#g6124-3-4-9-4 {
	display: inline;
}

#path10796-2-6-3-8-6-8-6-0 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//call_hierarchy.svg#linearGradient6117-6-8-4-1-3-9);
	fill-opacity: 1;
	stroke: #14733c;
	stroke-width: 4.55839109;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#path6115-5-5-4-9 {
	opacity: 0.46218489;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.5;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
}

