@import "stock";

#stop11387 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop11393 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop11389 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#stop11314 {
	stop-color: #ffa5a5;
	stop-opacity: 1;
}

#stop11320 {
	stop-color: #dc1a20;
	stop-opacity: 1;
}

#stop11316 {
	stop-color: #ff7778;
	stop-opacity: 1;
}

#stop5083 {
	stop-color: #ffd975;
	stop-opacity: 1;
}

#stop5089 {
	stop-color: #ffda95;
	stop-opacity: 1;
}

#stop5085 {
	stop-color: #fffcd3;
	stop-opacity: 1;
}

#stop5093 {
	stop-color: #904617;
	stop-opacity: 1;
}

#stop5095 {
	stop-color: #e1a555;
	stop-opacity: 1;
}

#stop11387-6 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop11393-6 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop11389-7 {
	stop-color: #ffffff;
	stop-opacity: 0;
}

#layer1 {
	display: inline;
}

#layer1-2 {
	display: inline;
}

#layer1-9 {
	display: inline;
}

#g8472-3 {
	display: inline;
}

#path4292 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//errorwarning_tab.svg#linearGradient5087);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//errorwarning_tab.svg#linearGradient5097);
	stroke-width: 0.75883979;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

#path4253 {
	fill: #502800;
	fill-opacity: 1;
	stroke: none;
}

#path4253-7 {
	fill: #502800;
	fill-opacity: 1;
	stroke: none;
	display: inline;
}

#path11383 {
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//errorwarning_tab.svg#radialGradient3028);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

#g8472 {
	display: inline;
}

#path8706 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//errorwarning_tab.svg#linearGradient11318);
	fill-opacity: 1;
	stroke: #c11519;
	stroke-opacity: 1;
}

#path4187 {
	font-size: 7.68999243px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	text-anchor: start;
	baseline-shift: baseline;
	color: #000000;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.27519909;
	marker: none;
	visibility: visible;
	display: inline;
	overflow: visible;
	enable-background: accumulate;
	font-family: Sans;
	inkscape-font-specification: Sans;
}

