@import "stock";

#stop6740 {
	stop-color: #3d6ca6;
	stop-opacity: 1;
}

#stop6742 {
	stop-color: #275e9a;
	stop-opacity: 1;
}

#stop6728 {
	stop-color: #e48289;
	stop-opacity: 1;
}

#stop6734 {
	stop-color: #d95e66;
	stop-opacity: 1;
}

#stop6730 {
	stop-color: #de6f77;
	stop-opacity: 1;
}

#stop6714 {
	stop-color: #fed27d;
	stop-opacity: 1;
}

#stop6722 {
	stop-color: #febf53;
	stop-opacity: 1;
}

#stop6720 {
	stop-color: #febf53;
	stop-opacity: 1;
}

#stop6716 {
	stop-color: #fed27d;
	stop-opacity: 1;
}

#stop6706 {
	stop-color: #ab841a;
	stop-opacity: 1;
}

#stop6708 {
	stop-color: #936713;
	stop-opacity: 1;
}

#stop10800-5-2-1-8-20-6-4-9-8-2 {
	stop-color: #75ba7a;
	stop-opacity: 1;
}

#stop10806-6-8-5-3-9-24-8-4-3-2 {
	stop-color: #418a4d;
	stop-opacity: 1;
}

#stop10802-1-5-3-0-4-8-4-2-9-2 {
	stop-color: #a4c589;
	stop-opacity: 1;
}

#layer1 {
	display: inline;
}

#g11331-3-1-1 {
	display: inline;
}

#g13408-8 {
	fill: #737986;
	fill-opacity: 1;
	stroke: #595e68;
	stroke-opacity: 1;
}

#g6124-3 {
	display: inline;
}

#text6430 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	font-family: Sans;
}

#g6438 {
	font-size: 13.58917427px;
	font-style: normal;
	font-weight: normal;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	display: inline;
	font-family: Sans;
}

#path10796-2-6-2 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//members.svg#linearGradient3929-5);
	fill-opacity: 1;
	stroke: #14733c;
	stroke-width: 4.18446827;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	display: inline;
}

#rect6702 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//members.svg#linearGradient6718);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//members.svg#linearGradient6710);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#rect6724 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//members.svg#linearGradient6732);
	fill-opacity: 1;
	stroke: #cb2e39;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
}

#path6736 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jdt.ui/icons/full/eview16//members.svg#linearGradient6744);
	fill-opacity: 1;
	stroke: #0a4484;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-dasharray: none;
}

