@import "gotham";

#stop5994 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop6002 {
	stop-color: #fdfbeb;
	stop-opacity: 1;
}

#stop6000 {
	stop-color: #f8eb99;
	stop-opacity: 1;
}

#stop5996 {
	stop-color: #ffe4b1;
	stop-opacity: 1;
}

#filter6048 {
	color-interpolation-filters: sRGB;
}

#stop4191 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4197 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop4199 {
	stop-color: #fff2de;
	stop-opacity: 1;
}

#stop4193 {
	stop-color: #ffd38b;
	stop-opacity: 1;
}

#stop5935 {
	stop-color: #ffffff;
	stop-opacity: 1;
}

#stop5937 {
	stop-color: #abb6c2;
	stop-opacity: 1;
}

#stop5927 {
	stop-color: #9eacbc;
	stop-opacity: 1;
}

#stop5929 {
	stop-color: #667480;
	stop-opacity: 1;
}

#rect4244 {
	display: inline;
	fill: #d8424f;
	fill-opacity: 1;
	stroke: none;
}

#path4187 {
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: 7.68999243px;
	line-height: 125%;
	font-family: Sans;
	text-indent: 0;
	text-align: start;
	text-decoration: none;
	text-decoration-line: none;
	letter-spacing: 0px;
	word-spacing: 0px;
	text-transform: none;
	direction: ltr;
	block-progression: tb;
	writing-mode: lr-tb;
	baseline-shift: baseline;
	text-anchor: start;
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: #ffffff;
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 0.27519909;
	marker: none;
	enable-background: accumulate;
}

#rect4311 {
	opacity: 1;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: square;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
}

#g4160 {
	display: inline;
}

#path5108-6 {
	display: inline;
	fill: none;
	stroke: #edaa2b;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
	filter: url(../../../../../../eclipse-svg/org.eclipse.jface/icons/full/fieldassist//errorqf_ovr.svg#filter6048);
}

#path4187-4 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jface/icons/full/fieldassist//errorqf_ovr.svg#linearGradient4195);
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #d97511;
	stroke-width: 2.02746677px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

#rect5896-7 {
	display: inline;
	fill: #4a607a;
	fill-opacity: 1;
	stroke: #4a607a;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

#rect5896 {
	fill: url(../../../../../../eclipse-svg/org.eclipse.jface/icons/full/fieldassist//errorqf_ovr.svg#linearGradient7442);
	fill-opacity: 1;
	stroke: url(../../../../../../eclipse-svg/org.eclipse.jface/icons/full/fieldassist//errorqf_ovr.svg#linearGradient7444);
	stroke-width: 2.02746677;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

